@charset "UTF-8";
/*
    Layout
*/

body {
    word-wrap:break-word;word-break:keep-all;white-space:normal;background:#f7f7f7;
}
.wrapper {
    max-width:2560px;margin:0 auto;background:#fff;overflow:inherit;
}
.wrapper .header_wrapper {
    position:relative;z-index:100;
}
.wrapper .container_wrapper {
    min-height:500px;
}
/*
.dialog_wrapper.open {
    position:fixed;top:0 !important;left:0 !important
}
*/

/* .ht_contents_wrap */
.breadcrumb_wrap~.ht_contents_wrap {
    margin-top:42px;
}
.ht_contents_wrap {
    position:relative;margin-top:42px;
    .contents_inner {
        position:relative;width:1200px;margin:0 auto;
    }
}





/***** Layout *****/
/*** 간격 ***/
.ht_cont {
    position:relative;padding-bottom:60px;overflow:hidden;
    &:last-child {
        padding-bottom:0;
    }
    &.ht_bg {
        padding:60px 0;
    }
}
.ht_dep {
    padding-top:68px;
    &:before {
        position:absolute;left:0;top:0;width:100%;height:8px;background:#f7f7f7;content:"";
    }
}
.ht_cont_s {
    position:relative;margin-bottom:40px;
    &:last-child {
        margin-bottom:0;
    }
}
.ht_title {
    padding:0;
}
.ht_bg + .ht_cont {
    padding-top:60px;
}



/*** Sub Contents ***/
.ht_sub_cont {
    position:relative;width:1200px;margin:0 auto;
    &:after {
        display:block;clear:both;height:0;content:"";overflow:hidden;
    }
}
.ht_sub_area {
    position:relative;float:right;width:calc(100% - 206px);
    .ht_cont {
        &:last-child {
            padding-bottom:60px;
        }
    }
}


/** LNB **/
.ht_lnb {
    position:sticky;top:140px;float:left;width:170px;margin-bottom:60px;
    .tit {
        margin-bottom:28px;color:#000;font-size:20px;font-weight:700;line-height:30px;letter-spacing:-1px;
    }
}
.ht_lnb_cont {
    position:relative;border-top:2px solid #000;
    a, button {
        display:block;position:relative;font-size:13px;font-weight:400;line-height:17px;cursor:pointer;text-align:left;
    }
    &> li  {
        position:relative;padding-right:10px;border-bottom:1px solid #eaeaea;
        &:not(.view_all):before {
            position:absolute;right:0;top:15px;width:10px;height:19px;background:url('../images/guide/ico_arrow.svg') center/7px no-repeat;content:"";
        }
        &.on {
            .lnb_1dep {
                color:#da2128;font-weight:700;
            }
            .dep2 {
                display:block;animation:fade both 0.5s;
            }
            &:before {
                transform:rotate(180deg);
            }
        }
    }
    .lnb_1dep {
        display:flex;position:relative;height:47px;padding:2px 20px 0 2px;box-sizing:border-box;color:#000;flex-direction:column;justify-content:center;
    }
    .dep2 {
        position:relative;display:none;padding:0 0 10px 0;
        & > li {
            position:relative;padding-right:10px;
            &:before {
                position:absolute;right:-10px;top:0;width:10px;height:23px;background:url('../images/guide/ico_plus.svg') center/ 7px no-repeat ;content:"";
            }
        }
        & > .on {
            &:before {
                background-image:url('../images/guide/ico_minus.svg')
            }
            .lnb_2dep {
                color:#da2128;
            }
            .dep3 {
                display:block;animation:fade both 0.5s;
            }
        }
    }
    .lnb_2dep {
        padding:3px 20px 3px 8px;line-height:19px;letter-spacing:-1px;
        &:before {
            content:"";position:absolute;left:2px;top:10px;width:2px;height:2px;border-radius:50%;background-color:#767676;
        }
    }
    .dep3 {
        position:relative;display:none;padding:2px 0;
        .lnb_3dep {
            padding:5px 0 5px 12px;color:#767676;line-height:19px;letter-spacing:-1px;
        }
    }
}

/* search_btn_area */
.search_btn_area {
    margin-top:15px;
    .search_btn {
        display:flex;flex-flow:row nowrap;justify-content:flex-start;align-content:center;align-items:center;width:100%;padding:12px;padding-right:5px;margin-top:15px;border:0;border-radius:6px;background-color:#292929;font-size:13px;font-weight:500;line-height:19px;text-align:left;color:#fff;outline:0;transition:background 0.4s;
        &:hover {
            background-color:#000;
        }
        &:first-of-type {
            margin-top:0;
        }
        span {
            display:block;width:20px;height:19px;margin-right:4px;background: left center/18px no-repeat;
        }
        .search_icon {
            background-image:url('../images/layout/ico_search.svg');
        }
        .pen_icon {
            background-image:url('../images/layout/ico_pen.svg');
        }
        .brand_count {
            background-color:#fff;margin-left:6px;margin-bottom:-1px;padding:4px 6px 3px 6px;border-radius:19px;color:#000;font-size:12px;font-weight:700;line-height:12px;
        }
    }
}



/*** Title ***/
.ht_tit_big {
    position:relative;margin-bottom:28px;color:#000;font-family:'Gmarket Sans';font-size:42px;font-weight:500;line-height:56px;letter-spacing:-2px;text-align:center;
}
.ht_tit_big02 {
    position:relative;margin-bottom:26px;color:#000;font-size:38px;font-weight:700;line-height:44px;letter-spacing:-1px;text-align:center;
    &.left {
        text-align:left;
    }
}
.ht_tit {
    position:relative;margin:-4px 0 22px 0;color:#000;font-size:30px;font-weight:700;line-height:40px;letter-spacing:-1px;
    &.center {
        text-align:center;
    }
}
.ht_tit02 {
    position:relative;margin-bottom:14px;color:#000;font-size:28px;font-weight:700;line-height:42px;letter-spacing:-1px;
}
.ht_tit03 {
    position:relative;margin-bottom:14px;color:#000;font-size:24px;font-weight:700;line-height:36px;letter-spacing:-1px;
}
.ht_tit04 {
    position:relative;margin-bottom:16px;color:#000;font-size:20px;font-weight:700;line-height:30px;letter-spacing:-1px;
}
.ht_tit05 {
    position:relative;margin-bottom:14px;color:#000;font-size:18px;font-weight:700;line-height:28px;letter-spacing:-1px;
    .txt {
        display:inline-block;position:relative;top:-1px;margin-left:8px;color:#767676;font-size:13px;font-weight:400;
    } 
}
.ht_tit06 {
    position:relative;margin-bottom:16px;color:#000;font-size:16px;font-weight:700;line-height:24px;letter-spacing:-1px;
}
.ht_txt {
    position:relative;margin-bottom:20px;color:#595959;font-size:14px;font-weight:400;list-style:24px;
    &.center {
        text-align:center;
    }
}



/**** Font : Gmarket Sans ****/
@font-face {
	font-family:'Gmarket Sans';font-style:normal;font-weight:700;
	src:local('Gmarket Sans Bold'), local('GmarketSans-Bold'),
	url('../font/GmarketSansBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../font/GmarketSansBold.woff') format('woff');/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family:'Gmarket Sans';font-style:normal;font-weight:500;
	src:local('Gmarket Sans Medium'), local('GmarketSans-Medium'),
	url('../font/GmarketSansMedium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../font/GmarketSansMedium.woff') format('woff');/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family:'Gmarket Sans';font-style:normal;font-weight:300;
	src:local('Gmarket Sans Light'), local('GmarketSans-Light'),
	url('../font/GmarketSansLight.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../font/GmarketSansLight.woff') format('woff');/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}





/***** ht_tit_nav : 상단 탭 *****/
.ht_tit_nav {
    position:relative;margin-bottom:20px;font-size:0;text-align:center;
    .ht_tit_nav_txt {
        margin-bottom:18px;color:#767676;font-size:38px;line-height:44px;
        strong {
            font-weight:700;
        }
    }
}

/* .ht_tit_nav_inner */
.ht_tit_nav_inner {
    display:inline-block;position:relative;border:1px solid #ddd;border-radius:28px;vertical-align:top;
    &:after {
        position:absolute;left:0;top:-1px;width:200px;height:calc(100% + 1px);background-color:#000;border-radius:50px;box-sizing:content-box;transition: left .1s ease-in-out;content:"";z-index:0;
    }
    a {
        display:inline-block;position:relative;width:190px;height:54px;color:#595959;font-size:20px;font-weight:500;line-height:54px;box-sizing:border-box;text-align:center;vertical-align:top;letter-spacing:-1px;transition:color 0.5s;z-index:1;transition:color 0.4s;
        span {
            position:relative;padding-left:0;
            &:before {
                position:absolute;left:0;top:-3px;width:30px;height:30px;background:center/30px no-repeat;content:"";opacity:0;
            }
        }
        &:hover {
            color:#000;
        }
        &.active {
            color:#fff;
            span {
                position:relative;padding-left:38px;
                &:before {
                    opacity:1;
                }
            }
        }
    }
    &.chk1:after {
        left:0;
    }
    &.chk2:after {
        left:185px;
    }
    &.chk3:after {
        left:380px;
    }
    &.chk4:after {
        left:570px;
    }

    .ico_mus_nav01:before {
        background-image:url('../images/main/ico_mus_main_t01.svg');
    }
    .ico_mus_nav02:before {
        background-image:url('../images/main/ico_mus_main_t02.svg');
    }
    .ico_mus_nav03:before {
        background-image:url('../images/main/ico_mus_main_t03.svg');
    }

    .ico_tod_nav01:before {
        background-image:url('../images/main/ico_tod_main_t01.svg');
    }
    .ico_tod_nav02:before {
        background-image:url('../images/main/ico_tod_main_t02.svg');
    }

    .ico_cur_nav01:before {
        background-image:url('../images/main/ico_cur_hero_tab01.svg');
    }
    .ico_cur_nav02:before {
        background-image:url('../images/main/ico_cur_hero_tab02.svg');
    }
}





/***** 상단메뉴 : top_evt_area *****/
.top_evt_area {
    position:sticky;top:80px;margin:-20px 0 0 0;padding:20px 0 0 0;background:#fff;z-index:12;overflow:hidden;
    .contents_inner {
        border-bottom:1px solid #eaeaea;
    }
    &.ty02 {
        margin:0;padding:0;
        .contents_inner {
            border-bottom:0;
        }
        .tab_swiper.tab_ty {
            margin:20px 0 20px 0;
        }
    }
}

/* prod_sort_wrap */
.prod_sort_wrap { 
	position:relative;margin-bottom:20px;overflow:hidden;
    &.dep_top {
        padding-top:20px;
    }
	.prod_ck_lists {
		float:left;margin:8px 0;
	}
	.form_chk {
        margin-right:14px;
	}
	.prod_type_selec_area { 
		float:right;
		.form_sel{
			.ui-selectmenu-button { 
				width:135px;height:38px;
				.ui-selectmenu-text {
					height:38px;line-height:35px;
				}
				.ui-selectmenu-icon {
					top:14px;
				}
			}
		} 
		.list_view_type_btn {
			width:38px;height:38px;border:1px solid #ccc;border-radius:6px;cursor:pointer;background:url('../images/layout/ico_hamburger.svg') center/14px no-repeat;transition:background 0.2s;
			&.row_view {
				background-image:url('../images/layout/ico_window.svg');
			}
            &:hover {
                background-color:#f4f4f4;
            }
		}
	}
    .period_sort {
        float:left;margin:12px 20px 0 0;font-size:14px;
        &.ed {
            margin-right:0;
        }
        button{
            position:relative;margin-left:13px;color:#595959;
            &:before {
                position:absolute;left:-10px;top:6px;width:1px;height:7px;background-color:#eaeaea;content:"";
            }
            &.active{
                color:#000;font-weight:700;
            }
            &:first-child{
                margin-left:0;
                &:before {
                    display:none;
                }
            }
        }
    }
}

/* list_info_text_warp */
.list_info_text_warp {
    margin-bottom:25px;padding-top:20px;border-top:1px solid #eaeaea;color:#595959;font-weight:500;
}

/* Date Sort 영역 */
.date_select_warp{
    float: left;margin-top: 7px;
    button{
        font-weight: 700;font-size: 20px;line-height: 26px;
    }
}

/* 회색 배경 탭 : .tab_bg_gray */
.tab_bg_gray {
    position:relative;height:74px;padding:12px 0;background:#f7f7f7;box-sizing:border-box;
    &:before {
        position:absolute;left:-300%;top:0;width:600%;height:100%;background:#f7f7f7;content:"";
    }
    .tab_swiper .swiper_control .swiper-button-prev:before,
    .tab_swiper .swiper_control .swiper-button-next:before {
        background:linear-gradient(to right, rgba(247, 247, 247, 0) 20%, #f7f7f7 60%);
    }
}



/*** Event ***/
/* evt_menu */
.evt_menu {
    display:flex;position:relative;margin-bottom:0 !important;padding-top:30px;padding-bottom:15px;font-size:14px;justify-content:space-between;z-index:3;
    .left_txt_sum {
        flex-shrink:0;
        line-height:20px;
        letter-spacing:-0.01em;
        color:#595959;
    }
    a:last-of-type:after {
        display:none;
    }
}

/* 소팅메뉴 */
.sort_tab {
    display:flex;margin:0;padding:0;justify-content:flex-end;overflow:hidden;
    & > a,
    & > button {
        position:relative;padding:0 9px;color:#595959;font-size:14px;
        &:last-of-type{
            padding-right:0;
        }
        &:after {
            display:block;position:absolute;right:-1px;top:5px;width:1px;height:8px;background-color:rgb(213, 213, 213);content:'';
        }
    }
    .active {
        color:#000;font-weight:500;
    }
}








