@charset "UTF-8";
/*
    Products
*/

/***** 제품 리스트 : .evt_products *****/
.evt_products {
	display:flex;position:relative;flex-flow:row wrap;width:calc(100% + 36px);margin:-40px -18px 0 -18px;
	.prod_item {
		position:relative;width:calc(25% - 36px);margin:40px 18px 0 18px;
	}
	&.type5 {
		.prod_item {
			width:calc(20% - 36px);
		}
	}	
}
.evt_prod_list_wrap + .pagination,
.evt_list + .pagination,
.evt_products + .pagination {
	margin-top:40px;
}

.evt_prod_list_wrap .evt_products,
.ht_sub_area .evt_prod_list_wrap .evt_products {
	margin-top:0;
	&:first-child {
		margin-top:-40px;
	}
}
.evt_prod_list_wrap {
	position: relative;margin:0 -20px;padding:0 20px;overflow:hidden;
    .solo_banner {
        padding-bottom:0;
    }
}



/** rangking **/
.evt_rank {
	.product_pic {
		margin-top:25px;
	}
}
.rangking {
	position:absolute;left:-11px;top:0;width:70px;height:70px;padding-top:1px;background:url('../images/guide/lank_noraml.svg') center/70px no-repeat;box-sizing:border-box;color:#000;font-size:0;font-weight:700;line-height:70px;text-align:center;z-index:4;
	.rank {
		display:inline-block;position:relative;font-size:20px;vertical-align:top;
	}
	.rank_icon {
		display:inline-block;position:relative;top:8px;width:15px;height:18px;background:center/14px 18px no-repeat;
	}
	&.up .rank_icon {
		background-image:url('../images/guide/lank_noraml_up.svg');
	}
	&.down .rank_icon {
		background-image:url('../images/guide/lank_noraml_up.svg');transform:rotate(180deg);
	}
	&.same .rank_icon {
		&:before {
			position:absolute;left:4px;top:50%;width:6px;height:2px;margin-top:-1px;background-color:#000;content:"";
		}
	}
}
@for $lank from 1 through 5 {
	.evt_products:first-of-type .prod_item:nth-of-type(#{$lank}) .rangking {
		background-image:url('../images/guide/lank_hot.svg');color:#fff;
		&.none_icon {
			.rank_icon{
				display:none;
			}
		}    
		&.up .rank_icon,
		&.down .rank_icon {
			background-image:url('../images/guide/lank_hot_up.svg');
		}
		&.same .rank_icon {
			&:before {
				background-color:#fff;
			}
		}
	}  
}


/** product_pic **/
.product_pic {
	position:relative;width:100%;height:0;padding-top:100%;background-color:#fff;border-radius:12px;overflow:hidden;
	img {
		position:absolute;left:50%;top:50%;width:100%;height:100%;transform:translate(-50%,-50%);object-fit:cover;
		&.ob_contain {
			object-fit:contain;
		}
	}
	a {
		display:block;position:absolute;left:0;top:0;width:100%;height:100%;
	}
	.evt_end_msg {
		font-size:16px;line-height:24px;
	}
	.cpon{
		display:inline-block;padding:3px 9px 2px 9px;border-radius:25px;box-sizing:border-box;font-size:12px;line-height:18px;
		background-color: #D4FF1A;border-color: #292929;border-style: solid; border-width:2px 2px 3px 2px;font-weight: 700;position:absolute;left:10px; top:10px; z-index: 4;
	}
}

/* 좋아요 : .evt_good_count */
.evt_good_count {
	position:absolute;right:12px;bottom:12px;height:27px;padding:0 12px;background-color:rgba(0,0,0,0.5);border-radius:14px;color:#fff;font-size:12px;font-weight:400;line-height:28px;overflow:hidden;z-index:3;cursor:pointer;
	.icon {
		float:left;width:13px;height:14px;margin-top:6px;background:url(../images/guide/ico_prod_like_icon.svg) center /13px no-repeat
	}
	.txt {
		float:left;margin-left:4px;
	}
	&.active {
		.icon {
			background-image:url(../images/guide/ico_prod_like_icon_active.svg);
		}
	}
}
/* 19세 이상 상품 : .adult_block */
.adult_block {
	position:absolute;left:0;top:0;width:100%;height:100%;background:#fff;border:2px solid #000;border-radius:12px;box-sizing:border-box;overflow:hidden;z-index:3;
	&>div {
		position:absolute;left:0;top:50%;width:100%;padding-top:55px;color:#000;font-size:16px;font-weight:500;line-height:24px;text-align:center;transform:translateY(-50%);
		&:before {
			position:absolute;left:50%;top:0;width:44px;height:44px;margin-left:-22px;background:#da2128;border:2px solid #000;box-sizing:border-box;border-radius:50%;
			color:#fff;font-size:20px;font-weight:700;line-height:41px;text-align:center;overflow:hidden;content:"19";
		}
	}
}

/* 대체상품 : .show_replace */
.show_replace {
	position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.6);border-radius:12px;box-sizing:border-box;overflow:hidden;z-index:3;
	&>div {
		position:absolute;left:0;top:50%;width:100%;color:#fff;font-size:16px;font-weight:500;line-height:24px;text-align:center;transform:translateY(-50%);
	}
	.replace_prod_btn {
		height:38px;margin-top:10px;padding:0 15px;background-color:#fff;border-radius:8px;color:#000;font-size:13px;font-weight:400;line-height:39px;overflow:hidden;cursor:pointer;
	}
}

/* evt_chk */
.evt_chk {
	position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;z-index:2;cursor:pointer;
	&:checked + label:before {
		background-color:rgba(0,0,0,1);
	}
	&:checked + label:after {
		opacity:1;
	}
}
.evt_chk + label {
	position:absolute;left:0;top:0;width:100%;height:100%;z-index:1;
	&:before {
		position:absolute;left:0;top:0;width:40px;height:40px;background:rgba(0,0,0,0.3) url('../images/guide/ico_checkbox.svg') center/17px no-repeat;border-radius:12px 0;content:"";z-index:1;transition:background 0.4s;
	}
	&:after {
		position:absolute;left:0;top:0;width:100%;height:100%;border:3px solid #000;border-radius:12px;box-sizing:border-box;opacity:0;transition:opacity 0.4s;content:"";
	}
}



/** product_info **/
.product_info,
.evt_products.row_dir.type5 {
	position:relative;width:100%;margin-top:12px;
	.company {
		margin-bottom:8px;color:#767676;font-size:14px;line-height:22px;
	}
	.title {
		display:-webkit-box;min-height:48px;color:#000;font-size:16px;font-weight:500;line-height:24px;letter-spacing:-1px;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;
	}
	.price_line {
		margin:6px 0 -6px 0;color:#000;font-size:20px;font-weight:700;line-height:30px;letter-spacing:-1px;
		span {
			display:inline-block;margin-right:2px;vertical-align:top;
		}
	}
	.discount_rate {
		color:#da2128;
	}
	.price_origin {
		margin-top:4px;color:#767676;font-size:16px;font-weight:400;text-decoration:line-through;line-height:24px;
		&.no_discount {
			margin-top:0;color:#000;font-size:20px;font-weight:700;line-height:30px;text-decoration:none;
		}
	}
}

/* badge_line */
.badge_line {
	position:relative;margin-top:14px;font-size:0;
	.badge {
		display:inline-block;height:25px;margin-left:4px;padding:0 10px;background-color:#f5f5f5;border-radius:13px;color:#292929;font-size:12px;font-weight:400;line-height:25px;vertical-align:top;overflow:hidden;
		&:first-child {
			margin-left:0;
		}
		&.on {
			background-color:#fff0eb;color:#da2128;font-weight:700;
		}
		&.off {
			background-color:#d5d5d5;color:#000;
		}
		&.off2 {
			background-color:#d5d5d5;border:1px solid #000 !important;color:#000;
		}
	}
}


/** 5단 and .ht_sub_area 단 **/
.ht_sub_area {
	.evt_products {
		width:calc(100% + 30px);margin:-40px -15px 0 -15px;
		.prod_item {
			width:calc(25% - 30px);margin:40px 15px 0 15px;
		}
	}

}

.ht_sub_area .evt_products,
.evt_products.type5 {
	.product_info {
		margin-top:10px;
		.company {
			margin-bottom:6px;font-size:12px;line-height:18px;
		}
		.title {
			min-height:44px;font-size:14px;line-height:22px;
		}
		.price_line {
			margin-top:4px;
		}
	}
	.badge_line {
		.badge {
			height:21px;padding:0 8px;font-size:10px;line-height:22px;
		}
	}
	&.row_dir {
		.product_pic {
			width:226px;padding-top:226px;
		} 			
		.product_info {
			width:calc(100% - 246px);margin-left:20px;
		}
	}
}


/** 2단 : .row_dir **/
.evt_products.row_dir {
	.prod_item {
		width:calc(50% - 36px);
	}
	.prod_item {
        display:flex;flex-flow:row wrap;justify-content:flex-start;align-content:center;align-items:center;width:calc(50% - 36px);
	}
	.prod_item:only-of-type {
		width:788px;margin:40px auto 0 auto;
		.product_pic {
			width:376px;padding-top:376px;
		}
		.product_info {
			width:376px;
		}
		.title { line-height:30px;min-height:auto;}
		.price_line {margin:8px 0 -8px;}

	}
	.product_pic {
		width:273px;padding-top:273px;
	} 			
	.product_info {
		width:calc(100% - 293px);margin-left:20px;
	}
}

.evt_products.row_dir.type5 {
	.product_info {
		margin-top:12px;
		.company {
			margin-bottom:8px;font-size:14px;line-height:22px;
		}
		.title {
			min-height:48px;font-size:16px;line-height:24px;
		}
		.price_line {
			margin-top:6px;
		}
	}
	.badge_line {
		.badge {
			height:25px;padding:0 10px;font-size:12px;line-height:26px;
		}
	}
}

/* 팝업내 5단 */
.dialog_wrap {
	.evt_products {
		width:calc(100% + 30px);margin:-40px -15px 0 -15px;
		.prod_item {
			position:relative;width:calc(20% - 30px);margin:40px 15px 0 15px;
		}
	}
	.price_line {
		font-size:16px;line-height:24px;
	}
	.price_origin {
		margin-top:5px;font-size:13px;line-height:16px;
	}
}


/* 팝업내 2단 : type2 */
.evt_products.type2 {
	width:calc(100% + 14px);
	margin:-40px -7px 0 -7px;
	.prod_item {
		width:calc(50% - 30px);
		.company {
			font-size:13px;line-height:20px;;
		}
		.title {
			min-height:44px;;font-size:14px;line-height:22px;
		}
	}
}





/***** 기획전 : .evt_list *****/
.evt_list {
	display:flex;flex-wrap:wrap;position:relative;margin:-40px -18px 0 -18px;
	&> li {
		position:relative;width:582px;margin:40px 18px 0 18px;
	}
	a {
		display:block;position:relative;
	}
	.img_wrap {
		position:relative;margin-top:28px;
	}
	.img {
		position:relative;width:100%;height:0;padding-top:57.2%;background-color:#f7f7f7;border-radius:12px;overflow:hidden;
		img {
			position:absolute;left:50%;top:50%;width:100%;height:100%;transform:translate(-50%,-50%);object-fit:cover;
		}
	}
	.item_info {
		margin:16px 0 -4px 0;font-size:15px;font-weight:400;line-height:22px;
		.title {
			display:-webkit-box;/*min-height:60px;*/color:#000;font-size:20px;font-weight:500;line-height:30px;letter-spacing:-1px;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;
		}
		.sub {
			margin-top:4px;color:#000;
		}
		.date {
			margin-top:6px;color:#767676;
		}
	}
	.discount_icon {
		position:absolute;left:-12px;top:0;width:80px;height:80px;background:url('../images/guide/lank_hot.svg') center/100% no-repeat;color:#fff;font-size:19px;font-weight:700;line-height:80px;text-align:center;z-index:1;
	}
}

/* 3단 */
.evt_list.type3 {
	 width:calc(100% + 36px);margin-top:0;
	&> li {
		width:376px;
		&:nth-child(-n + 3) {
			margin-top:0;
		}
	}
	.discount_icon {
		left:-9px;width:60px;height:60px;font-size:15px;line-height:60px;
	}
	.img_wrap {
		margin-top:20px;
	}
}

/* 기획전 종료 */ 
.evt_end_msg {
	display:flex;justify-content:center;align-items:center;position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.5);border-radius:12px;color:#fff;font-size:20px;font-weight:700;line-height:30px;overflow:hidden;
}

/* 제품 Thumb */
.small_pics_area {
	position:relative;display:flex;flex-wrap:wrap;margin:14px -7px 0 -7px;
	li {
		position:relative;width:calc(25% - 14px);margin:0 7px;border-radius:12px;overflow:hidden;
		img {
			width:100%;
		}
	}
	a {
		display:block;
	}
	.small_pics_more {
		display:block;position:absolute;left:0;top:0;width:100%;height:100%;background:#f7f7f7;cursor:pointer;
		span {
			display:inline-block;
			position:absolute;left:50%;top:50%;padding-right:10px;transform:translate(-50%,-50%);color:#595959;font-size:14px;font-weight:500;line-height:20px;text-align:right;
			&:after {
				position:absolute;right:0;bottom:7px;width:6px;height:6px;border:solid #595959;border-width:1px 1px 0 0;transform:rotate(45deg);content:"";overflow:hidden;
			}
		}
	}
}





/***** 4단 배너 : .thumb4_banner *****/
.thumb4_banner {
	position:relative;overflow:hidden;
	.swiper-container {
		width:calc(100% + 36px);margin-right:-36px;
	}
	.swiper-slide {
		position:relative;width:calc(25% - 36px) !important;margin-right:36px;box-sizing:border-box;box-sizing:border-box;border-radius:12px;
		&:before {
			position:absolute;left:0;top:0;width:100%;height:100%;border:2px solid #000;box-sizing:border-box;border-radius:12px;content:"";
		}
	}
	.product_pic {
		border-radius:12px 12px 0 0;z-index:1;
		a { 
			&:after {
				position:absolute;left:0;top:0;width:100%;height:100%;border:solid #000;border-width:2px 2px 0 2px;box-sizing:border-box;border-radius:12px 12px 0 0;content:"";
			}
		}
	}
	.product_info {
		padding:5px 20px 18px 20px;box-sizing:border-box;
	}

	&.ht_today_banner {
		.product_info {
			height:140px;
		}
	}
}

/* swiper_control */
.swiper_control {
	display:none;position:relative;margin-top:20px;text-align:center;
	.swiper-pagination.swiper-pagination-fraction {
		display:inline-block;position:relative;left:0;bottom:0;min-width:65px;height:44px;background:none;transform:translateX(0);color:#767676;line-height:44px;vertical-align:top;overflow:hidden;
		span {
			font-size:16px;line-height:44px !important;
		}
	}
	.swiper-pagination-current {
		color:#000 !important;font-weight:700 !important;
	}
	.swiper-pagination-total {
		color:#767676 !important;
	}
	.swiper-button-next,
	.swiper-button-prev {
		display:inline-block;position:relative;left:0;top:0;margin:0;background:none;border-radius:0;vertical-align:top;
		&:after {
			position:absolute;left:0;top:0;width:100%;height:100%;background:#fff url('../images/guide/btn_banner_pagn.svg') center no-repeat;border:1px solid #ccc;border-radius:50%;box-sizing:border-box;vertical-align:top;transition:background 0.4s;content:"";
		}
		&:hover:after {
			background-color:#f4f4f4;
		}
	}
}
.swiper-container-horizontal {
	.swiper_control,
	.swiper_control_bk  {
		display:block;
	}
}

/* Black Type */
.swiper_control_bk {
	display:none;
	.swiper-button-prev,
	.swiper-button-next {
		background-image:url('../images/guide/btn_banner_pagn_w.svg');
	}
    .swiper-button-prev {
        left:-22px;
    }
    .swiper-button-next {
        right:-22px;
    }
}
.swiper-on {
	.swiper_control,
	.swiper_control_bk {
		display:block;
	}
}
.swiper-button-disabled {
	display:none;
}

/* bullets Type */
.swiper-pagination.out_bottom {
	position:relative;bottom:0 !important;margin-top:20px;line-height:10px;
	.swiper-pagination-bullet {
		background:#fff;border:1px solid #d5d5d5;box-sizing:border-box;opacity:1;transition:all 0.4s;
		&.swiper-pagination-bullet-active {
			background-color:#000;border-color:#000;
		}
	}
}

/* swiper-pagination-progressbar */
.swiper-pagination-progressbar {
	position:relative;width:100%;height:2px;background:rgba(0,0,0,0.2);border-radius:2px;
	.swiper-pagination-progressbar-fill {
		position:absolute;left:0;top:0;width:100%;height:100%;background:#000;border-radius:2px;
	}
}

/* .ht_sub_area 단 */
.ht_sub_area {
	.thumb4_banner {
		.swiper-container {
			width:calc(100% + 30px);margin-right:-30px;
		}
		.swiper-slide {
			width:calc(25% - 30px) !important;margin-right:30px;
		}
		.product_info {
			margin-top:10px;
			.company {
				margin-bottom:6px;font-size:12px;line-height:18px;
			}
			.title {
				min-height:44px;font-size:14px;line-height:22px;
			}
			.price_line {
				margin-top:4px;
			}
		}
		.badge_line {
			.badge {
				height:21px;padding:0 8px;font-size:10px;line-height:22px;
			}
		}
	}
}





/***** .evt_plan_banner *****/
.evt_plan_banner {
	position:relative;
	.swiper-container {
		margin-left:-20px;padding-left:20px;
	}
	.evt_list {
		flex-wrap:nowrap;margin:0;
	}
	.swiper-slide {
		width:376px;margin:0 36px 0 0;
	}
	.swiper_control {
		margin-top:36px;
	}
}









