@charset "UTF-8";
/*
    Legacy
*/

/***** Form *****/
/*** Button ***/
button {
    font-family:Roboto,"Noto Sans KR","PingFang SC","Apple SD Gothic Neo","Microsoft YaHei UI","Malgun Gothic",sans-serif;cursor:pointer;
    &:disabled {
        cursor:default;
    }
}

/* btn_primary */
a.btn_primary,
button.btn_primary {
    background:#da2128;border:1px solid #da2128;color:#fff;transition:background-color .2s ease-out,border-color .2s ease-out;
}
a.btn_primary:active,
a.btn_primary:focus,
a.btn_primary:hover,
button.btn_primary:active,
button.btn_primary:focus,
button.btn_primary:hover {
    background:#ac3024;border-color:#ac3024;
}
a.btn_primary.disabled,
a.btn_primary[aria-disabled],
a.btn_primary[disabled],
button.btn_primary.disabled,
button.btn_primary[aria-disabled],button.btn_primary[disabled] {
    background:#db8880;border-color:#db8880;
}

/* btn_line_primary */
a.btn_line_primary,
button.btn_line_primary {
    border:1px solid #da2128;background:#fff;color:#da2128;transition:background-color .2s ease-out,border-color .2s ease-out;
}
a.btn_line_primary:active,
a.btn_line_primary:focus,
a.btn_line_primary:hover,
button.btn_line_primary:active,
button.btn_line_primary:focus,
button.btn_line_primary:hover {
    background:#fff4f1;border-color:#da2128;
}
a.btn_line_primary.disabled,
a.btn_line_primary[aria-disabled],
a.btn_line_primary[disabled],
button.btn_line_primary.disabled,
button.btn_line_primary[aria-disabled],
button.btn_line_primary[disabled] {
    background:#fff;border-color:#db8880;
}
a.btn_line_primary.disabled [class^=ico_],
a.btn_line_primary[aria-disabled] [class^=ico_],
a.btn_line_primary[disabled] [class^=ico_],
button.btn_line_primary.disabled [class^=ico_],
button.btn_line_primary[aria-disabled] [class^=ico_],
button.btn_line_primary[disabled] [class^=ico_] {
    opacity:.4;
}

/* btn_black */
a.btn_black,
button.btn_black {
    color:#fff;background:#292929;border:1px solid #292929;transition:background-color .2s ease-out,border-color .2s ease-out;
}
a.btn_black:active,
a.btn_black:focus,
a.btn_black:hover,
button.btn_black:active,
button.btn_black:focus,
button.btn_black:hover {
    background:#000;border-color:#000;
}
a.btn_black.disabled,
a.btn_black[aria-disabled],
a.btn_black[disabled],
button.btn_black.disabled,
button.btn_black[aria-disabled],button.btn_black[disabled] {
    background:#bebebe;border-color:#bebebe;
}

/* btn_primary_kb */
.btn_primary_kb {
    background:#474c98;border:#474c98;color:#fff;
    &.btn_primary:hover {
        background:#2c307c;border-color:#2c307c;
    }
}

/* Btn Size */
a.btn_lg, 
button.btn_lg {
    font-weight:500;
}



/*** Select ***/
.ui-selectmenu-menu .ui-menu {
    max-height:45vh;
}
.form_sel {
     width:auto;
}
.form_sel .ui-selectmenu-button:focus {
    outline:1px;
}



/*** radio/check ***/
.form_chk input:checked+label:before,
.form_rdo input:checked+label:before {
    background-color:#da2128;border-color:#da2128;
}
.form_chk input:checked[aria-disabled]+label:before,
.form_chk input:checked[disabled]+label:before,
.form_chk input:checked[readonly]+label:before,
.form_rdo input:checked[aria-disabled]+label:before,
.form_rdo input:checked[disabled]+label:before,
.form_rdo input:checked[readonly]+label:before {
    background:#db8880;border-color:#db8880;
}



/*** Textarea ***/
.form_textarea {
    height:80px;
}

/* byte_chack_footer : 오타 추가 */
.byte_check_wrap .byte_chack_footer {
	display:-webkit-box;display:flex;display:-webkit-flex;justify-content:flex-end;align-items:center;flex-direction:row;padding:10px 10px 10px 14px;text-align:right;transition:background 0.2s ease-out;
}
.byte_check_wrap .byte_chack_footer .byte_check {
	margin-top:2px;
}
.byte_check_wrap .byte_chack_footer .btn_wrap {
	display:inline-block;
}
.byte_check_wrap .byte_chack_footer .btn_wrap [class^=btn_] + [class^=btn_] {
	margin-left:4px;
}
.byte_check_wrap .byte_chack_footer .byte_check + .btn_wrap {
	margin-left:10px;
}

.file_list .file_item .btn_box {
    border-radius:12px;overflow:hidden;
}
.file_list .file_item.attached .attach_img_box .btn_remove_img {
    width:30px;height:30px;background:rgba(0,0,0,.6) url('#{$imgUrl}guide/btn_share_close_w.png') center no-repeat;
}


.dialog_wrapper .ui-dialog .dialog_wrap.ui-dialog-content .dialog_footer {
    margin-top:30px;
}



/***** Text *****/
.info_text_box {
    padding:40px;
    &.ty02 {
        padding:15px;font-size:13px;line-height:19px;
        [class^=bul_item_] {
            font-size:13px;line-height:19px;
        }
    }
}
.bul_list {
    li {
        margin-top:5px !important;
        &:first-child {
            margin-top:0 !important;
        }
    }
    .bul_item_line {
        margin:5px 0;
    }
}
.bul_item_line {
    li {
        position:relative;margin-top:4px;padding-left:7px;color:#767676;font-size:12px;line-height:18px;
        &:before {
            position:absolute;left:0;top:9px;width:4px;height:1px;background:#767676;content:"";
        }
        &:first-child {
            margin-top:0;
        }
    }
}

.form_wrap.type_md .form_box~.form_box {
    margin-top:30px;
}





/***** Input, Text width *****/
.tbl_row_wrap .tbl_row .valid_check, .tbl_row_wrap .tbl_row .form_ip, .tbl_row_wrap .tbl_row .form_sel, .tbl_row_wrap .tbl_row .input_btn_box, .tbl_row_wrap .tbl_row .form_col_group,
.tbl_row_wrap .tbl_row .pw_valid_wrap, .tbl_row_wrap .tbl_row .form_ip_pw, .tbl_row_wrap .tbl_row .byte_check_wrap, .tbl_row_wrap .tbl_row .file_upload_group,
.tbl_row_wrap .tbl_row .form_filter_box, .tbl_row_wrap .tbl_row .input_text_box, .tbl_row_wrap .tbl_row .input_price_box, .tbl_row_wrap .tbl_row .price_value_box,
.tbl_row_wrap .tbl_row .form_desc.align_right {
	width: 400px;
}





/***** Tooltip *****/
.tooltip_wrap {
    font-size:13px;line-height:19px;
    .bul_list {
        & >li {
            margin-top:10px !important;font-size:13px;line-height:19px;
            &:first-child {
                margin-top:0 !important;
            }
        }
    }
    .bul_item_dot {
        strong {
            display:inline-block;margin-bottom:3px;
        }
    }
    .ht_tbl_row_wrap {
        table.ht_tbl_row {
            width:100%;font-size:13px;line-height:19px;
            tr {
                th {
                    height:50px;padding:10px 20px;
                }
                td {
                    height:50px;padding:10px 20px;
                }
            }
            .center {
                padding:20px 10px;text-align:center;
            }
        }
        .bul_list > li {
            margin-top:3px !important;
        }
    }
}





/*** pagination ***/
.pagination {
    margin-top:0;padding-top:30px;border-top:1px solid #eaeaea;
    .page_num .btn_page_num.active {
        background-color:#000;
    }
}






/*** Scroll 고정 ***/
.sps.sps_scroll_fixed {
    z-index:11;
}





/*** Popup ***/
.dialog_title {
    img {
        display:inline-block;height:24px;margin:3px 0 0 4px;vertical-align:top;
    }
}
.dialog_wrapper .ui-dialog.dialog_main {
    left:50%;margin-left:-200px;border-radius:12px;overflow:hidden;
    .dialog_wrap.ui-dialog-content {
        padding:0 30px 30px 30px;
    }
}
.dialog_wrapper .ui-dialog.dialog_main {
    left:50%;margin-left:-200px;border-radius:12px;overflow:hidden;
    .dialog_wrap.ui-dialog-content {
        padding:0 30px 30px 30px;
    }
}

/* Popup Scroll Height */
.dialog_wrapper .ui-dialog {
    max-height:inherit;
}
.dialog_wrapper .ui-dialog.dialog_lg {
    width:1020px;max-height:inherit;
}
.dialog_wrapper .ui-dialog .dialog_wrap.ui-dialog-content {
    max-height:inherit !important;
}
.dialog_wrapper .ui-dialog .dialog_wrap.ui-dialog-content .dialog_contents {
    max-height:inherit;overflow-y:inherit;
    .btn_dialog_close {
        outline:0;border:none;
    }
}

/* custom_scroll_wrap */
.custom_scroll_wrap {
    max-height:400px !important;
    &.sc_prod_pop {
        max-height:calc(85vh - 170px) !important;padding-bottom:40px;box-sizing:border-box;
    }
    &.sc_pop_lg {
        max-height:calc(85vh - 100px) !important;
    }
    &.sc_pop_btn {
        max-height:calc(85vh - 200px) !important; height: auto;
    }
    &.sc_pop_lg02 {
        max-height:calc(85vh - 292px) !important;
    }
    &.sc_pop_lg03 {
        max-height:calc(85vh - 336px) !important;
    }
    &.sc_disabled {
        overflow:hidden !important;
    }
}

/* dialog */
body.dialog_open {
	position:static;padding-right:18px;overflow-y:hidden;
    .wrapper .floating_wrapper,
    .wrapper .fly_menu_wrapper,
    .wrapper .fly_menu_wrapper.sps-blw {
        right:28px;
    }
    &.ht_mo {
        padding-right:0;
        .wrapper .floating_wrapper,
        .wrapper .fly_menu_wrapper,
        .wrapper .fly_menu_wrapper.sps-blw {
            right:10px;
        }
    }
}
body.hid {
    padding-right:18px;overflow-y:hidden;
    .wrapper .floating_wrapper,
    .wrapper .fly_menu_wrapper,
    .wrapper .fly_menu_wrapper.sps-blw {
        right:28px;
    }
    &.ht_mo {
        padding-right:0;
        .wrapper .floating_wrapper,
        .wrapper .fly_menu_wrapper,
        .wrapper .fly_menu_wrapper.sps-blw {
            right:10px;
        }
    }
}


/* 웰컴메인 팝업 - 토스트 메시지*/
.toast_wrap .toast_message {
    display:inline-flex;justify-content:center;align-items:center;flex-direction:row;width:100%;min-height:50px;height:auto !important;padding:15px 30px 11px !important;background:rgba(0, 0, 0, 1);border:1px solid #000;border-radius:12px;box-sizing:border-box;box-shadow:0 5px 10px rgba(0, 0, 0, 0.16);color:#fff;font-size:14px;font-weight:500;line-height:22px;text-align:center;
}










/* 레이아웃 */ 
.wrapper .header_wrapper .header_inner .gnb_search_wrap .logo_box {
    left:-57px;top:-35px;width:230px;height:136px;z-index:101;
}
.wrapper .header_wrapper .header_inner .gnb_search_wrap .logo_box .logo_link {
    background:url('#{$imgUrl}layout/logo_ht_pc.svg') left center/230px 136px no-repeat;
}
.wrapper .header_wrapper.sps.sps-blw .gnb_search_wrap .logo_box .logo_link {
    background:url('#{$imgUrl}layout/logo.svg') left center/80px 22px no-repeat;
}
.wrapper .header_wrapper .header_inner .gnb_wrap .gnb_list {
    position:relative;max-width:850px;
    &:after {
        position:absolute;left:0;top:0;width:5px;height:100%;background-color:#fff;content:"";
    }
}





.wrapper .header_wrapper .header_inner .gnb_wrap .gnb_list .gnb_item {
    img {
        display:inline-block;height:20px;margin:2px 5px 0 0;vertical-align:top;
    }
    &:nth-child(2) {
        img {
            height: 23px;margin: -1px 2px 0 0;
        }
    }
}
.wrapper .header_wrapper .header_inner .gnb_wrap .gnb_list .gnb_item .gnb_marker {
    position:relative;
    &:after {
        position:absolute;right:8px;top:0;width:4px;height:4px;background-color:#da2128;border-radius:50%;content:"";
    }
}
.wrapper .header_wrapper .header_inner .gnb_wrap .gnb_list .gnb_item .act {
    span {
        display:inline-block;position:relative;
        &:before {
            position:absolute;left:0;top:11px;width:100%;height:14px;background:#ffd3ec;content:"";z-index:0;animation:pointLine both ease-in infinite 3s;
        }
    }
    em {
        position:relative;
    }
}


.wrapper .header_wrapper .service_mall_wrap .service_mall_inner:before,
.wrapper .header_wrapper .header_inner .gnb_search_wrap .user_menu_list .user_menu_item .user_menu_link .cnt {
    background-color:#da2128
}
.wrapper .header_wrapper .header_inner .gnb_search_wrap .user_menu_list .user_menu_item.my .user_menu_link:before {
    background-image:url('#{$imgUrl}layout/btn_header_my.png');
}
.wrapper .header_wrapper .header_inner .gnb_search_wrap .user_menu_list .user_menu_item.my {
    box-shadow:0 5px 10px 0 rgba(211, 0, 0, 0.5);
}

.wrapper .header_wrapper .header_inner .gnb_search_wrap .gnb_search_box {
    border-color:#000;
}
.wrapper .header_wrapper .header_inner .gnb_search_wrap .gnb_search_box .btn_gnb_search {
    background-image:url('#{$imgUrl}layout/btn_header_search.png');
}


.wrapper .fly_menu_wrapper .fly_menu_inner {
    border:2px solid #000;
}
.wrapper .fly_menu_wrapper .fly_menu_inner .fly_event_area .fly_event_banner .swiper_control_box .swiper-pagination.swiper-pagination-fraction {
    padding:0 7px;
}
.wrapper .fly_menu_wrapper {
    width:102px !important;z-index:17;
    &.sps-blw {
        top:120px;
    }
}
.wrapper .fly_menu_wrapper .btn_shopping_guide,
.wrapper .floating_wrapper .btn_history .count {
    background-color:#000;
}
.wrapper .floating_wrapper {
    bottom:30px;
}
.wrapper .fly_menu_wrapper .fly_menu_inner .fly_menu_link {
    color:#000;font-weight:700;
}
.wrapper .fly_menu_wrapper .fly_menu_inner .fly_menu_link:after {
    top:1px;width:13px;height:13px;background:url('#{$imgUrl}layout/ico_fold_plus.png') center/100% no-repeat;transform:translateY(0);
}
.wrapper .floating_wrapper .btn_history .img_box {
    display:block;width:100%;height:100%;border-radius:50%;background: url('#{$imgUrl}guide/ico_history_empty.png');
    img {
        object-fit:cover;
    }
}









.wrapper .header_wrapper .custom_scroll_wrap {
    max-height:initial !important;
}


.history_list_wrap .custom_scroll_wrap {
    max-height:inherit !important;
}

.wrapper .container_wrapper .breadcrumb_wrap {
    position:relative;z-index:20;
    .breadcrumb_inner .breadcrumb_list .breadcrumb_item {
        .btn_sub_depth{
            max-width: 135px;padding-right: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
            &:after {
                position: absolute;right: 0px;
            }
        }
        .sub_depth_grid {
            width:inherit !important;
            .sub_depth_box {
                width: 146px;
                .sub_depth_list .depth_item .depth_link {
                    overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: inherit;
                }
            }
        }
        &:nth-child(n+3) {
            position:relative;margin-left:0;padding-left:20px;
            .btn_sub_depth{
                max-width: 300px;
            }
        }
        &:nth-child(n+3):before {
            display: block;position:absolute;left:8px;top:6px;width:4px;height:8px;background:url('#{$imgUrl}layout/ico_breadcrumb_divide.png') center/4px 8px no-repeat;content:"";
        }
        .depth_item {
            margin:4px 0 !important;
        }
    }
}

/* 카테고리 메인 */
.bc_col .sub_depth_box {
    width:auto !important;
    &:after {
        display:none !important;
    }
}

.bc_col .sub_depth_list {
    margin-top:4px;column-count:1;column-gap:30px;height:228px;column-rule:1px solid #eaeaea;
    li {
        width:119px;margin:0 0 8px 0 !important;
    }
}	
.wrapper .container_wrapper .breadcrumb_wrap .breadcrumb_inner .breadcrumb_list .breadcrumb_item .bc_col .depth_item {
    width:119px;margin:0 0 4px 0 !important;
}

.wrapper .container_wrapper .breadcrumb_wrap .breadcrumb_inner .breadcrumb_list .breadcrumb_item .sub_depth_grid.bc_col {
    &.col2 {
        width:294px !important;
    }
    &.col3 {
        width:440px !important;
    }
    &.col4 {
        width:586px !important;
    }
    &.col5 {
        width:732px !important;
    }
}



.sub_depth_grid_evt {
    width:inherit !important;
    .sub_depth_box {
        width: auto !important;width:312px !important;padding: 0 17px 0 15px !important;min-width: 142px !important;
    }
}




/*** 메뉴 > 최근 본 ***/
.dialog_wrapper .ui-dialog.dialog_history {
    width:460px;height:calc(100% - 40px) !important;max-height:none;margin:0 0 0 auto;padding:20px;animation:historyPopAnimation 0.23s cubic-bezier(0.24, 0.6, 0.65, 1.01) forwards;
    .dialog_wrap.ui-dialog-content {
        height:100% !important;max-height:none !important;border-radius:20px;
        .dialog_contents {
            /* dialog_contents 상단 */
            .prod_area.horizontal .prod_thumb_box.size_sm {
                width:84px;
            }
            .tab_ty {
                li {
                    margin-left:7px;
                    &:first-child {
                        margin-left:0;
                    }
                    a {
                        padding:10px 16px 8px 17px;font-size:14px;line-height:22px;
                    }
                }
            }
            .btn_delete_text {
                color:#767676;font-size:12px;line-height:18px;text-align:left;
                .ico_delete {
                    width:13px;height:15px;margin-top:1px;margin-right:4px;background:url('#{$imgUrl}layout/ico_delete.png') center/13px 15px no-repeat;
                }
            }
            .sort_list_header {
                display:-webkit-box;display:-ms-flexbox;display:flex;display:-webkit-flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-justify-content:space-between;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-moz-box-orient:horizontal;-moz-box-direction:normal;-ms-flex-direction:row;-webkit-flex-direction:row;flex-direction:row;margin:29px 0 12px;
            }

            /* History List */
            .history_list_wrap {
                height:calc(96vh - 223px);
                .history_list {
                    .history_item {
                        padding:17px 17px 19px;
                        .prod_area {
                            width:280px;margin-right:8px;
                            &.horizontal .prod_thumb_box.type_brand .img_box, .prod_area.horizontal .prod_thumb_box.type_caster .img_box {
                                position:relative;display:block;border:1px solid #eaeaea;border-radius:50px;box-sizing:border-box;overflow:hidden;
                            }
                            .prod_thumb_box {
                                border:0;
                            }
                            .prod_info_box {
                                margin-left:12px;
                                .prod_period {
                                    display:block;margin-top:0px;font-size:13px;line-height:19px;letter-spacing:-0.01em;color:#595959;
                                }
                                &.size_sm .prod_author {
                                    font-size:13px;line-height:19px;display:block;display:-webkit-box;overflow:hidden;max-height:38px;line-height:19px;-webkit-box-orient:vertical;-webkit-line-clamp:2;text-overflow:-o-ellipsis-lastline;white-space:normal;margin-top:0;
                                }
                                .prod_name {
                                    display:block;display:-webkit-box;overflow:hidden;max-height:46px;line-height:23px;-webkit-box-orient:vertical;-webkit-line-clamp:2;text-overflow:-o-ellipsis-lastline;white-space:normal;font-size:15px;line-height:23px;letter-spacing:-0.01em;font-weight:500;height:23px;
                                    &.ellipsis_single {
                                        overflow:hidden;display:inline-block;max-width:100%;height:auto;max-height:none;-webkit-box-orient:inherit;-webkit-line-clamp:inherit;text-overflow:ellipsis;white-space:nowrap;font-size:14px;line-height:22px;
                                    }
                                }
                                .prod_price .price {
                                    margin-left:2px;
                                }
                            }
                        }
                        .history_control_box .btn_history_delete {
                            margin-left:5px;
                        }
                    }
                }
            }
        }
    }
}
.prod_area .prod_info_box .prod_price .percent {
    color:#da2128;
}










/*** footer ***/
.wrapper .footer_wrapper {
	margin-top:100px;
	.footer_inner {
		width:1200px;margin:0 auto;
		.ico_new {
			position:relative;display:inline-block;width:12px;height:12px;margin:0 0 0 5px;background:url('#{$imgUrl}layout/ico_gnb_new02.png') center /12px no-repeat;vertical-align:top
		}
	}
	.footer_header {
		border-top:1px solid #eaeaea;
		.footer_inner {
			display:block;padding:19px 0 20px;overflow:hidden;
		}
		.notice_wrap {
			float:left;width:50%;padding-right:30px;box-sizing:border-box;
			&.winner {
				position:relative;margin:0;padding:0 0 0 30px;
				&:before {
					display:inline-block;position:absolute;left:0;top:7px;width:1px;height:9px;background:#d5d5d5;content:"";
				}
			}
			.notice_text {
				flex-shrink:0;display:inline-block;font-size:14px;font-weight:700;line-height:22px;vertical-align:top;
			}
			.notice_link {
				flex:1;display:inline-block;width:100%;max-width:100%;height:auto;max-height:none;margin-left:30px;font-size:14px;line-height:22px;text-decoration:underline;vertical-align:top;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;
			}
			.notice_date {
				margin-left:30px;color:#767676;font-size:13px;line-height:19px;
			}
		}
	}
}

/* footer_body */
.wrapper .footer_wrapper {
	.footer_body {
		padding:40px 0 50px;border-top:1px solid #eaeaea;
		.logo_box {
			display:flex;justify-content:space-between;align-items:flex-end;flex-direction:row;width:inherit;height:inherit;font-size:0;
			.logo_link {
				display:block;width:168px;height:48px;
				img {
					width:100%;
				}
			}
			.family_site_box,
			.sns_share_box {
				display:inline-block;vertical-align:middle;
			}
			.family_site_box {
				position:relative;width:206px;
				.btn_family_site {
					position:relative;width:100%;height:44px;padding:0 22px;background-color:#f7f7f7;border:1px solid #f7f7f7;border-radius:22px;box-sizing:border-box;text-align:left;transition:background-color 0.23s, border-color 0.23s;z-index:2;
					.text {
						font-size:13px;line-height:19px;
					}
					&:after {
						display:block;position:absolute;right:18px;top:50%;width:8px;height:4px;margin-top:-2px;background:url('#{$imgUrl}layout/arw_familysite_more.png') center/8px 4px no-repeat;transition:transform 0.23s;content:"";
					}
				}
				.family_site_list {
					display:none;position:absolute;left:0;bottom:-20px;width:206px;padding:20px 22px;border:1px solid #d5d5d5;border-radius:20px;background-color:#fff;box-sizing:border-box;transition:opacity 0.23s, bottom 0.23s;z-index:1;
					.family_site_item {
						display:block;
						.family_site_link {
							display:block;color:#595959;font-size:13px;line-height:19px;text-decoration:none;transition:all 0.2s;
							&:hover {
								color:#000;text-decoration:underline;
							}
						}
						& + .family_site_item {
							margin-top:5px;
						}
					}
				}
				&.active {
					.family_site_list {
						display:block;opacity:0;
					}
					&.animated {
						.btn_family_site {
							background-color:#fff;border-color:#000;
						}
						.btn_family_site:after {
							transform:rotate(180deg);
						}
						.family_site_list {
							display:block;bottom:48px;opacity:1;
						}
					}
				}
			}
			.sns_share_box {
				margin-left:12px;
				font-size:0;
				.btn_sns_share {
					display:inline-block;width:32px;height:32px;background-position:center;background-size:32px 32px;background-repeat:no-repeat;vertical-align:top;
					&.youtube {
						background-image:url('#{$imgUrl}layout/btn_footer_sns_youtube.png');
					}
					&.fb {
						background-image:url('#{$imgUrl}layout/btn_footer_sns_fb.png');
					}
					&.insta {
						background-image:url('#{$imgUrl}layout/btn_footer_sns_insta.png');
					}
					&.twitter {
						background-image:url('#{$imgUrl}layout/btn_footer_sns_twitter.png');
					}
					&.blog {
						background-image:url('#{$imgUrl}layout/btn_footer_sns_blog.png');
					}
					& + .btn_sns_share {
						margin-left:8px;
					}
				}
			}
		}
		.footer_contents_wrap {
			display:block;margin-top:28px;overflow:hidden;
			* {
				letter-spacing:-0.5px !important;
			}
			.btn_footer_link {
				display:inline-block;padding:5px 5px;border:1px solid #ccc;border-radius:4px;font-size:12px;font-weight:500;line-height:12px;vertical-align:top;
				&:after {
					display:inline-block;width:6px;height:6px;margin:3px 0 0 2px;background:url('#{$imgUrl}layout/arw_footer_link.png') center/6px no-repeat;vertical-align:top;content:"";
				}
			}
			.footer_contents_left {
				float:left;width:calc(100% - 375px);
				.footer_menu_box {
					margin-top:2px;
					.footer_menu_list {
						font-size:0;
						.footer_menu_item {
							display:inline-block;vertical-align:top;
							.footer_menu_link {
								color:#595959;font-size:14px;font-weight:500;line-height:22px;
							}
							& + .footer_menu_item:before {
								display:inline-block;width:1px;height:12px;margin:4px 12px 0;background-color:#d5d5d5;vertical-align:top;content:"";
							}
						}
						.footer_menu_item.privacy .footer_menu_link {
							color:#000;font-weight:700;text-decoration:underline;
						}
					}
				}
				.footer_info_box {
					margin-top:20px;font-size:0;
					.info_text {
						display:inline-block;margin-top:4px;color:#595959;font-size:13px;line-height:19px;vertical-align:top;
						& + .btn_footer_link {
							margin-left:4px;transform:translateY(1px);
						}
						&.call {
							font-weight:700;
						}
					}
					.gap {
						display:inline-block;width:1px;height:9px;margin:8px 6px 0;background-color:#d5d5d5;vertical-align:top;content:"";
					}
				}
				.copyright {
					margin-top:23px;color:#767676;font-size:12px;line-height:18px;
				}
			}
			.footer_contents_right {
				float:right;margin-left:auto;width:355px;
				.footer_service {
					font-size:0;
					.service_text {
						display:inline-block;margin:3px 6px 0 0;color:#595959;font-size:12px;line-height:18px;vertical-align:top;
					}
					.service_desc {
						margin-top:3px;color:#767676;font-size:12px;line-height:18px;
					}
				}
				.footer_mark_isms {
					display:flex;justify-content:flex-start;align-items:center;flex-direction:row;margin-top:22px;
					.mark_link {
						display:block;padding:7px 0 7px 54px;background:url('#{$imgUrl}layout/img_mark_isms.png') left top/48px no-repeat;color:#767676;font-size:12px;line-height:18px;
					}
					.mark_desc {
						display:block;margin-left:17px;color:#767676;font-size:12px;line-height:18px;
					}
				}
			}
		}
	}
}

/* 웰컴 전용 푸터 */
.wrapper .footer_wrapper {
	.notice_type_detail {
		display:block !important;border-top:0 !important;
		&:after {
			clear:both;display:block;content:"";
		}
		.footer_inner {
			padding:0 0 60px 0;
		}
		.notice_detail_wrap {
			float:left;width:49%;
			&:nth-child(2) {
				width:47%;margin-left:4%;
			}
			&:before {
				content:initial;
			}
			&.winner_detail {
				.notice_content {
					flex:0 0 39%;
				}
			}
		}
		.notice_content_top {
			display:flex;justify-content:space-between;
			.notice_top_tit {
				font-size:20px;font-weight:700;
			}
			.notice_more {
				margin-top:4px;font-size:15px;font-weight:700;
				&:after {
					display:inline-block;width:12px;height:12px;margin:4px 0 0 6px;background:url('#{$imgUrl}layout/ico_plus_h12_bold.png') center/100% no-repeat;vertical-align:top;content:"";
				}
			}
		}
		.notice_content_bott {
			display:flex;justify-content:space-between;height:211px;margin-top:21px;
			.notice_content {
				flex:0 0 40%;padding:26px 24px 20px;border:1px solid #eaeaea;border-radius:16px;
				.notice_content_tit {
					display:-webkit-box;position:relative;height:39px;font-size:14px;font-weight:500;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;
				}
				.notice_content_text {
					display:-webkit-box;height:76px;margin-top:11px;color:#595959;font-size:13px;line-height:19px;text-overflow:ellipsis;-webkit-line-clamp:4;-webkit-box-orient:vertical;overflow:hidden;
                    * {
                        display:inline !important;margin:0 !important;padding:0 !important;font-size:13px !important;color:#595959 !important;line-height:19px !important;background-color: initial !important;text-decoration: initial !important;font-style: normal !important;font-weight: 400 !important;border: none !important;font-family:'Roboto', 'Noto Sans KR' !important;
                    }
                    br {
                        display:none !important;
                    }
                    img,
                    table {
                        display:none !important;
                    }
				}
				.notice_date {
					display:inline-block;margin-top:18px;color:#767676;font-size:13px;
				}
				>a {
					display:block;
				}
			}
		}
	}
}













