@charset "UTF-8";
/*
    Legacy
*/

/***** Form *****/
/*** Button ***/
button {
    font-family:Roboto,"Noto Sans KR","PingFang SC","Apple SD Gothic Neo","Microsoft YaHei UI","Malgun Gothic",sans-serif;cursor:pointer;
    &:disabled {
        cursor:default;
    }
}

/* btn_primary */
a.btn_primary,
button.btn_primary {
    color:#fff;background:#da2128;border:1px solid #da2128;transition:background-color .2s ease-out,border-color .2s ease-out;
}
a.btn_primary:active,
a.btn_primary:focus,
a.btn_primary:hover,
button.btn_primary:active,
button.btn_primary:focus,
button.btn_primary:hover {
    background:#ac3024;border-color:#ac3024;
}
a.btn_primary.disabled,
a.btn_primary[aria-disabled],
a.btn_primary[disabled],
button.btn_primary.disabled,
button.btn_primary[aria-disabled],button.btn_primary[disabled] {
    background:#db8880;border-color:#db8880;
}

/* btn_line_primary */
a.btn_line_primary,
button.btn_line_primary {
    color:#da2128;border:1px solid #da2128;background:#fff;transition:background-color .2s ease-out,border-color .2s ease-out;
}
a.btn_line_primary:active,
a.btn_line_primary:focus,
a.btn_line_primary:hover,
button.btn_line_primary:active,
button.btn_line_primary:focus,
button.btn_line_primary:hover {
    background:#fff4f1;border-color:#da2128;
}
a.btn_line_primary.disabled,
a.btn_line_primary[aria-disabled],
a.btn_line_primary[disabled],
button.btn_line_primary.disabled,
button.btn_line_primary[aria-disabled],
button.btn_line_primary[disabled] {
    background:#fff;border-color:#db8880;
}
a.btn_line_primary.disabled [class^=ico_],
a.btn_line_primary[aria-disabled] [class^=ico_],
a.btn_line_primary[disabled] [class^=ico_],
button.btn_line_primary.disabled [class^=ico_],
button.btn_line_primary[aria-disabled] [class^=ico_],
button.btn_line_primary[disabled] [class^=ico_] {
    opacity:.4;
}

/* btn_black */
a.btn_black,
button.btn_black {
    color:#fff;background:#292929;border:1px solid #292929;transition:background-color .2s ease-out,border-color .2s ease-out;
}
a.btn_black:active,
a.btn_black:focus,
a.btn_black:hover,
button.btn_black:active,
button.btn_black:focus,
button.btn_black:hover {
    background:#000;border-color:#000;
}
a.btn_black.disabled,
a.btn_black[aria-disabled],
a.btn_black[disabled],
button.btn_black.disabled,
button.btn_black[aria-disabled],button.btn_black[disabled] {
    background:#bebebe;border-color:#bebebe;
}

/* btn_primary_kb */
.btn_primary_kb {
    background:#474c98;border:#474c98;color:#fff;
    &.btn_primary:hover {
        background:#2c307c;border-color:#2c307c;
    }
}

/* Btn Size */
a.btn_lg, 
button.btn_lg {
    font-weight:500;
}



/*** Select ***/
.ui-selectmenu-menu .ui-menu {
    max-height:45vh;
}



/*** radio/check ***/
.form_chk input:checked+label:before,
.form_rdo input:checked+label:before {
    background-color:#da2128;border-color:#da2128;
}
.form_chk input:checked[aria-disabled]+label:before,
.form_chk input:checked[disabled]+label:before,
.form_chk input:checked[readonly]+label:before,
.form_rdo input:checked[aria-disabled]+label:before,
.form_rdo input:checked[disabled]+label:before,
.form_rdo input:checked[readonly]+label:before {
    background:#db8880;border-color:#db8880;
}



/*** Textarea ***/
.form_textarea {
    height:80px;
}



.file_list .file_item .btn_box {
    border-radius:12px;overflow:hidden;
}
.file_list .file_item.attached .attach_img_box .btn_remove_img {
    width:30px;height:30px;background:rgba(0,0,0,.6) url('../images/guide/btn_share_close_w.png') center no-repeat;
}


.dialog_wrapper .ui-dialog .dialog_wrap.ui-dialog-content .dialog_footer {
    margin-top:30px;
}



/***** Text *****/
.info_text_box {
    padding:40px;
    &.ty02 {
        padding:15px;font-size:13px;line-height:19px;
        [class^=bul_item_] {
            font-size:13px;line-height:19px;
        }
    }
}
.bul_list {
    li {
        margin-top:5px !important;
        &:first-child {
            margin-top:0 !important;
        }
    }
    .bul_item_line {
        margin:5px 0;
    }
}
.bul_item_line {
    li {
        position:relative;margin-top:4px;padding-left:7px;color:#767676;font-size:12px;line-height:18px;
        &:before {
            position:absolute;left:0;top:9px;width:4px;height:1px;background:#767676;content:"";
        }
        &:first-child {
            margin-top:0;
        }
    }
}





/***** Tooltip *****/
.tooltip_wrap {
    font-size:13px;line-height:19px;
    .bul_list {
        & >li {
            margin-top:10px !important;font-size:13px;line-height:19px;
            &:first-child {
                margin-top:0 !important;
            }
        }
    }
    .bul_item_dot {
        strong {
            display:inline-block;margin-bottom:3px;
        }
    }
    .ht_tbl_row_wrap {
        table.ht_tbl_row {
            width:100%;font-size:13px;line-height:19px;
            tr {
                th {
                    height:50px;padding:10px 20px;
                }
                td {
                    height:50px;padding:10px 20px;
                }
            }
            .center {
                padding:20px 10px;text-align:center;
            }
        }
        .bul_list > li {
            margin-top:3px !important;
        }
    }
}





/*** pagination ***/
.pagination {
    margin-top:0;padding-top:30px;border-top:1px solid #eaeaea;
    .page_num .btn_page_num.active {
        background-color:#000;
    }
}






/*** Scroll 고정 ***/
.sps.sps_scroll_fixed {
    z-index:11;
}





/*** Popup ***/
.dialog_title {
    img {
        display:inline-block;height:24px;margin:3px 0 0 4px;vertical-align:top;
    }
}
.dialog_wrapper .ui-dialog.dialog_main {
    left:50%;margin-left:-200px;border-radius:12px;overflow:hidden;
    .dialog_wrap.ui-dialog-content {
        padding:0 30px 30px 30px;
    }
}
.dialog_wrapper .ui-dialog.dialog_main {
    left:50%;margin-left:-200px;border-radius:12px;overflow:hidden;
    .dialog_wrap.ui-dialog-content {
        padding:0 30px 30px 30px;
    }
}

/* Popup Scroll Height */
.dialog_wrapper .ui-dialog {
    max-height:inherit;
}
.dialog_wrapper .ui-dialog.dialog_lg {
    width:1020px;max-height:inherit;
}
.dialog_wrapper .ui-dialog .dialog_wrap.ui-dialog-content {
    max-height:inherit !important;
}
.dialog_wrapper .ui-dialog .dialog_wrap.ui-dialog-content .dialog_contents {
    max-height:inherit;overflow-y:inherit;
    .btn_dialog_close {
        outline:0;border:none;
    }
}

/* custom_scroll_wrap */
.custom_scroll_wrap {
    max-height:400px !important;
    &.sc_prod_pop {
        max-height:calc(85vh - 170px) !important;padding-bottom:40px;box-sizing:border-box;
    }
    &.sc_pop_lg {
        max-height:calc(85vh - 100px) !important;
    }
    &.sc_pop_btn {
        max-height:calc(85vh - 200px) !important;
    }
    &.sc_pop_lg02 {
        max-height:calc(85vh - 292px) !important;
    }
    &.sc_pop_lg03 {
        max-height:calc(85vh - 336px) !important;
    }
    &.sc_disabled {
        overflow:hidden !important;
    }
}




/* 웰컴메인 팝업 - 토스트 메시지*/
.toast_wrap .toast_message {
    display:inline-flex;justify-content:center;align-items:center;flex-direction:row;width:100%;min-height:50px;height:auto !important;padding:15px 30px 11px !important;background:rgba(0, 0, 0, 1);border:1px solid #000;border-radius:12px;box-sizing:border-box;box-shadow:0 5px 10px rgba(0, 0, 0, 0.16);color:#fff; font-size:14px;font-weight:500;line-height:22px;text-align:center;
}










/* 레이아웃 */
.wrapper .header_wrapper .header_inner .gnb_search_wrap .logo_box .logo_link{
    background:url('../images/layout/logo.svg') left center/100px 28px no-repeat;
}
.wrapper .header_wrapper.sps.sps-blw .gnb_search_wrap .logo_box .logo_link {
    background:url('../images/layout/logo.svg') left center/80px 22px no-repeat;
}
.wrapper .header_wrapper .header_inner .gnb_wrap .gnb_list .gnb_item img {
    display:inline-block;height:20px;margin:2px 5px 0 0;vertical-align:top;
}
.wrapper .header_wrapper .header_inner .gnb_wrap .gnb_list .gnb_item .gnb_marker {
    position:relative;padding-right:6px;
    &:after {
        position:absolute;right:0;top:0;width:4px;height:4px;background-color:#da2128;border-radius:50%;content:"";
    }
}


.wrapper .header_wrapper .service_mall_wrap .service_mall_inner:before,
.wrapper .header_wrapper .header_inner .gnb_search_wrap .user_menu_list .user_menu_item .user_menu_link .cnt {
    background-color:#da2128
}
.wrapper .header_wrapper .header_inner .gnb_search_wrap .user_menu_list .user_menu_item.my .user_menu_link:before {
    background-image:url('../images/layout/btn_header_my.png');
}
.wrapper .header_wrapper .header_inner .gnb_search_wrap .user_menu_list .user_menu_item.my {
    box-shadow:0 5px 10px 0 rgba(211, 0, 0, 0.5);
}

.wrapper .header_wrapper .header_inner .gnb_search_wrap .gnb_search_box {
    border-color:#000;
}
.wrapper .header_wrapper .header_inner .gnb_search_wrap .gnb_search_box .btn_gnb_search {
    background-image:url('../images/layout/btn_header_search.png');
}


.wrapper .fly_menu_wrapper .fly_menu_inner {
    border:2px solid #000;
}
.wrapper .fly_menu_wrapper .fly_menu_inner .fly_event_area .fly_event_banner .swiper_control_box .swiper-pagination.swiper-pagination-fraction {
    padding:0 7px;
}
.wrapper .fly_menu_wrapper {
    width:102px;;
}
.wrapper .fly_menu_wrapper .btn_shopping_guide,
.wrapper .floating_wrapper .btn_history .count {
    background-color:#000;
}
.wrapper .fly_menu_wrapper .fly_menu_inner .fly_menu_link {
    color:#000;font-weight:700;
}
.wrapper .fly_menu_wrapper .fly_menu_inner .fly_menu_link:after {
    top:1px;width:13px;height:13px;background:url('../images/layout/ico_fold_plus.png') center/100% no-repeat;transform:translateY(0);
}

.wrapper .footer_wrapper .footer_header .notice_wrap {
    margin-right:417px;
}
.wrapper .footer_wrapper .footer_header .notice_wrap.winner {
    margin:0 0 0 -347px;
}

.wrapper .header_wrapper .custom_scroll_wrap {
    max-height:initial !important;
}




.wrapper .header_wrapper .header_inner .gnb_wrap .anb_wrap .anb_area>.tab_wrap .tab_content .tab_wrap.category.gnb_hottracks .tab_list_wrap .tabs .tab_item~.tab_item {
    margin-top:9px;font-size:14px;
}
.wrapper .header_wrapper .header_inner .gnb_wrap .anb_wrap .anb_area>.tab_wrap .tab_content .tab_wrap.category.gnb_hottracks .tab_list_wrap .tabs .tab_item .tab_link .tab_text {
    font-size:14px;
}
.wrapper .header_wrapper .header_inner .gnb_wrap .anb_wrap .anb_area>.tab_wrap .tab_content .tab_wrap.category.gnb_hottracks .tab_list_wrap .tabs .tab_item.ui-state-active .tab_link .tab_text {
    color:#da2128;
}
.wrapper .header_wrapper .header_inner .gnb_wrap .anb_wrap .anb_area>.tab_wrap .tab_content .tab_wrap.category.gnb_hottracks .tab_list_wrap .tabs .tab_item.ui-state-active .tab_link:after {
    background-image:url('../images/layout/arw_anb_category_tab_hot_tracks.png');
}



.wrapper .header_wrapper .header_inner .gnb_wrap .anb_wrap .anb_area > .tab_wrap .tab_content.anb_category .recommend_service_list .recommend_service_item .recommend_service_link .img_box {
    background:rgba(80,85,177,0.06);transition:background 0.4s;
    &:hover {
        background:rgba(80,85,177,0.12);
    }
}
.wrapper .header_wrapper .header_inner .gnb_wrap .anb_wrap .anb_area > .tab_wrap .tab_content.anb_category .recommend_service_list .recommend_service_item .recommend_service_link .title {
    margin:6px -10px 0 -10px;
}
