// 2배수 이미지 처리
@mixin ratio2 {
    @media (-webkit-min-device-pixel-ratio: 2) {
        @content;
    }
}

// 3배수 이미지 처리
@mixin ratio3 {
    @media (-webkit-min-device-pixel-ratio: 3) {
        @content;
    }
}

@mixin device375 {
    @media (max-width: 375px) {
        @content;
    }
}


@mixin icoMore($top){
    &.ico_more {
        &:after {
            position: relative;
            content: "";
            top: $top;
            width: 10px;
            height: 18px;
            display: inline-block;
            background: url(../images/ico/ico_more.png) no-repeat 0 3px;
            background-size: 5px auto;    
            margin-left: 5px;                 
        }   
    }    
}


@mixin icoCircleMore($top){
    &.ico_circle_more {
        &:after {
            position: relative;
            content: "";
            top: $top;
            width: 22px;
            height: 22px;
            display: inline-block;
            background: url(../images/ico/ico_arrow.png) no-repeat 0 0;
            background-size: 22px auto;    
            margin-left: 5px;                 
        }   
    }    
}