
/* 차트선택 : 년, 월, 주, 일 팝업 */
.prod_sort_wrap.dep_top{
    overflow: initial;height: 38px;
}
.date_select_warp{
    .tooltip_wrap{
        .tooltip_inner{
            left: -266px;top: 25px;padding: 0; height:355px;
            .tooltip_header{
                padding: 22px;border-bottom: 1px solid #000;
                .tooltip_head_title{
                    font-size: 20px;
                }
            }
            .tooltip_contents{
                display:table; table-layout: fixed; width:100%;
                .chart_select_warp{
                    display:table-cell;
                    input[type="radio"] {
                        display: none;
                        + label {
                            display: inline-block;border: 1px solid #dfdfdf;background-color: #ffffff;text-align: center;cursor: pointer;font-size: 14px;color: #000;width: 100%;padding:13px 12px;border: initial;text-align: left;
                        }
                        &:checked + label {
                            background-color: #F5F5F5;color: #000;
                        }
                        &:disabled + label {
                            color: #ccc; cursor:default;
                        }
                    }
                }
            }
        }
        .btn_tooltip {
            margin-top: -3px;margin-left: 4px;background: none;
            .ico_info{
                background-image: url(../../../assets/common/images/arw_tooltip.png);border: 1px solid #000;border-radius: 50%;
            }
            [class^=ico_]{
                width: 18px;height: 18px;
            }
        }
        &.active {
            .tooltip_inner{
                left: -266px;top: 25px;border-radius: 12px;
            }
            .btn_tooltip .ico_info{
                background-image: url(../../../assets/common/images/arw_tooltip_active.png);background-color: #000;
            }
        }
        .tooltip_footer{
            .btn_tooltip_close{
                position: initial;background: none;width: 100%;background: #000;color: #fff;height: 66px;font-size: 16px;
            }
        }
        .custom_scroll_wrap{
            max-height: calc(25.2vh - 100px) !important;border-right: 1px solid #ccc;
            .simplebar-track{
                background:initial;right: 4px;top: 5px;
            }
        }
        .simplebar-scrollbar:before{
            background-color: #CCCCCC;
        }
    }
}

