/**** 신상품 ****/
.ht_new_main {
    background: url(../images/main/bg_wel_md_pick.jpg) center bottom repeat-x;background-size: 100% 100%;
    h2{
        margin-bottom: 20px;text-align:center;
        img {
            height:103px;
        }
        p {
            font-size: 18px;line-height: 24px;font-weight: 400;
        }
    }
    .bg_star img{
        position: absolute;
        &:nth-child(1){left: -171px;top: 290px;}
        &:nth-child(2){right: 307px;top: -30px;}
        &:nth-child(3){right: -184px;bottom: 12px;}
    }
    .thumb4_banner {
        overflow: initial;
        .swiper-slide:before{
            border: initial;background: #fff;box-shadow: 15px 10px 20px -2px rgba(0, 0, 0, 0.16);
        }
        .product_pic {
            a:after{
                border: initial;
            }
        }
        &.ht_today_banner {
            .product_info{
                height: 170px;
            }
        }
    }
}
.ht_new_list{
    .deadline_character_area{
        position:sticky;top:50%;width:auto;height:0;z-index:4;
        .deadline_bubble{
            right:-15px;top:0;
            padding: 14px 20px 10px 25px;
            &:after{
                background: url(../images/main/ico_side_float01.svg) no-repeat;content: "";display: inline-block;width:70px;height: 38px;position: absolute;top: -23px;left: 12px;
            }
            .txt {
                img{
                    transform: rotate(180deg);margin-left: 5px;margin-top: -5px;
                }
                &:before{
                    right: -9px;transform: rotate(180deg);
                }
                &:after{
                    margin-top: -6px;border-width: 0 10px 12px 10px;transform: rotate(90deg);
                }
            } 
        }
    }
    .ht_tit_big02 {
        img{
            display:inline-block;height:40px;margin:0 0 0 10px;vertical-align:top;
        }
    }
}




/**** 베스트 ****/
.ht_best_list {
    .deadline_character_area{
        position:sticky;top:50%;width:auto;height:0;z-index:4;
        .deadline_bubble{
            right:-15px;top:0;
            padding: 14px 20px 10px 25px;
            &:after{
                background: url(../images/main/ico_side_float02.svg) no-repeat;content: "";display: inline-block;width: 79px;height: 100px;position: absolute;top: -14px;right: -97px;
            }
            .txt {
                img{transform: rotate(180deg);margin-left: 5px;margin-top: -5px;}
                &:before{
                    right: -9px;-webkit-transform: rotate(180deg);transform: rotate(180deg);
                }
                &:after{
                    margin-top: -6px;border-width: 0 10px 12px 10px;-webkit-transform: rotate(90deg);transform: rotate(90deg);
                }
            }
        }
    }
}




/**** 오늘만 특가 ****/
/* 오늘만 특가 */
.tod_full_banner{
    background:#ffeb01;
    &.ht_cont{
        padding-bottom: 0;
    }
    .time_bar{
        font-size: 26px;line-height: 78px;font-weight: 600;color: #fff;position: absolute;top: 183px;left: 49.5%;transform: translateX(-50%);font-family: 'Gmarket Sans';
    }
    .mc_txt{
        position: absolute;bottom: 30px;left: 50%;transform: translateX(-50%);font-weight: 500;
        img{
            vertical-align: top;margin-right: 3px;
        }
    }
    .prod_share_area{
        top: 30px;right: 21px;
        .sns_share_wrap{
            .btn_share{
                border-radius: 50%;border: 1px solid #D5D5D5;width: 42px;height: 42px;background: #fff;
            }
            .sns_share_box{
                right: -22px;top: 0px;
            }
        }
    }
    .btn_more_view_box{
        &.ty02:hover{
            background-color: initial;
        }
    }
}

/* 핫딜 특가 */
.tod_full_banner{
    &.tod_hot_benner{
        background:#F4F4F4;
    }
}