@charset "UTF-8";
/*
    고객센터
*/

.ht_cus_cont {
    overflow:hidden;
}

/***** FAQ & QNA *****/
/* Search Area :form_search_box */
.form_search_cont {
    position:relative;margin-bottom:40px;padding:30px 25px;background:#eaeaea;border-radius:12px;
    .form_search_box {
        &.form_search_box_center {
            width:376px;margin:0 auto;
        }
        .form_ip {
            height:50px;border:2px solid #000;
        }
    }
}

/* Search Area :cus_chk_list */
.cus_chk_list {
    position:relative;margin-top:15px;text-align:center;
    &.mb {
        margin:0 0 20px 0;text-align:left;
    }
}

/* cus_fold */
.cus_fold {
    .prod_fold_tit {
        min-height:42px;
    }
    .fold_view{
        margin-top:18px;border-radius:6px;
        &:after {
            display:block;content:"";clear:both;}
    }
    .fold_tit {
        .tit {
            font-weight:500;
        }
    }
    .fold_info {
        margin-top:5px;margin-bottom:3px;
        > ul {
            padding-top:0px;
            li {
                strong {
                    font-weight:700;font-size:12px;
                }
            }
        } 
        .right {
            .info.ty02{
                font-size:10px;color:#292929;background:#f5f5f5;border:#f5f5f5;margin-right:0;float:right;
            }
        }
        &.faq_info {
            margin-bottom:10px;margin-top:0px;
            > ul {
                li {
                    span {
                        display:inline-block;height:20px;margin-left:10px;padding:0 8px;background:#ecedf5;border-radius:10px;-webkit-box-sizing:border-box;box-sizing:border-box;color:#474C98;font-size:10px;line-height:21px;margin-left:0;
                    }
                }
            } 
        }
    }

    .fold_ty {
        border-top:0;
    }
    .fold_tit {
        display:table;
        .tit{
            width:95%;
        }
        .prod_img{
            float:right;width:78px;height:78px;overflow:hidden;border-radius:4px;
            img{
                width:100%;
            }
        }
        
        .tit_prod .txt_len1{
            font-size:13px;color:#767676;line-height:22px;
        }
        &:after{
            display:block;clear:both;content:"";
        }

        .txt{
            &.qna_prod_tit{
                width:91%;display:inline-block;margin-top:5px;
                .tit_prod{
                    margin-top:2px;
                }
                .fold_info{
                    margin-top:9px;
                }
            }  
        }
    }

    .fold_question{
        &.fold_q{
            display:inline-block;width:83%;
        }
        &.fold_d {
            margin-bottom: 25px;
            + .fold_question{
                margin-top:0;border:0;padding-top: 0;
                &:before {
                    top: 0;
                }
                &:after {
                    top: 21px;
                }
            }
        }
        .info {
            position:relative;font-size:12px;font-size:10px;color:#292929;background:#F5F5F5;border:#F5F5F5;margin-right:0;float:right;   height:20px;padding:0 9px;border-radius:10px;-webkit-box-sizing:border-box;box-sizing:border-box;line-height:20px;
        }
    }
    .fold_question_btn{
        display:inline-block;vertical-align:top;width:calc(17% - 44px);margin-top:0;float: right;text-align: right;
        li{
            display: inline-block;float: initial;
        }
    } 

    .fold_num{
        font-size:13px;display:table-cell;vertical-align:middle;padding:0 15px 0 0px;width:40px;max-width:40px;text-align:center;
        + .fold_inner{
            float:left;
        }
    }

}

/* fold_d */
.fold_d {
    position:relative;min-height:90px;margin-top:10px;padding:15px;border-radius:6px;background:#fff;border:1px solid #eaeaea;box-sizing:border-box;
    &:before {
        display:none;
    }
    &:after {
        display:none;
    }
    .img {
        position:absolute;top:45px;right:14px;width:60px;height:60px;background:#f7f7f7;border-radius:6px;overflow:hidden;
        img {
            position:absolute;left:50%;top:50%;width:100%;height:auto;transform:translate(-50%,-50%);
        }
    }
    .txt {
        position:relative;padding-right:70px;
        .s1 {
            margin-bottom:6px;color:#000;font-size:0;
            span {
                display:inline-block;position:relative;padding-left:14px;font-size:12px;font-weight:500;line-height:16px;vertical-align:top;
                &:before {
                    position:absolute;left:7px;top:3px;width:1px;height:8px;background-color:#d5d5d5;content:"";
                }
                &:first-child {
                    padding-left:0;
                    &:before {
                        display:none;
                    }
                }
            }
            .info {
                position:absolute;right:0;top:0;height:20px;padding:0 9px;background:#f7f7f7;border-radius:10px;box-sizing:border-box;color:#292929;font-size:10px;line-height:21px;
                &:before {
                    display:none;
                }
            }
        }
        .s2 {
            margin-bottom:13px;color:#000;font-size:13px;font-weight:500;line-height:19px;display:-webkit-box;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;word-break:keep-all;
            span{
                font-size:12px;
                &:nth-child(1){
                    font-weight:700;
                }
                &:nth-child(2){
                    position:relative;padding-left:10px;
                    &:before{
                        content:"";display:inline-block;clear:both;border-left:1px solid #ccc;position:absolute;left:3px;top:1px;height:10px;
                    }
                }
            }
        }
        .s3 {
           color:#767676;font-size:12px;line-height:18px;
            & + .s3 {
                margin-top:4px;
            }
            span {
                display:inline-block;position:relative;padding-left:9px;font-size:12px;line-height:18px;vertical-align:top;
                &:before {
                    position:absolute;left:3px;top:4px;width:1px;height:8px;background-color:#d5d5d5;content:"";
                }
                &:first-child {
                    padding-left:0;
                    &:before {
                        display:none;
                    }
                }
            }
        }
    }
    &.ty02 {
        height:121px;padding:13px 13px 13px 122px;box-sizing:border-box;
        .img {
            left:13px;top:13px;width:93px;height:93px;border-radius:6px;
            img {
                width:100%;height:100%;object-fit:cover;
            }
        }
        .txt {
            display:table-cell;width:100%;height:93px;vertical-align:middle;box-sizing:border-box;
            .s1 {
                display:-webkit-box;margin-bottom:0;font-size:14px;font-weight:400;line-height:22px;white-space:normal;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;
            }
            .s2 {
                margin:2px 0 0 0;font-size:14px;font-weight:700;line-height:22px;
            }
        }
    }
}

/* 리스트 상단 */
.tit_form_wrap {
    margin-top:43px;padding-bottom:15px;border-bottom:1px solid #000;
    &:after{
        display:block;clear:both;content:"";
    }
    .form_sel {
        float:left;
        .ui-selectmenu-button{
            width:120px;height:38px;
            .ui-selectmenu-icon {
                top:14px;
            }
            .ui-selectmenu-text {
                height:38px;line-height:35px;
            }
        }
    }
    .btn_area{
        margin-top:0;float:right;
        button.btn_md{
            min-width:122px;font-size:14px;font-weight:500;
        }
    }
}



/* QNA 주문내역 조회 팝업 */
/* fold_ty02 */
.fold_ty02_area {
    position:relative;
}
.fold_ty02 {
    position:relative;
    .li {
        position:relative;margin-top:15px;border:1px solid #eaeaea;border-radius:6px;box-sizing:border-box;overflow:hidden;transition:border 0.4s;
        &.on {
            border-color:#000;
            .fold_tit02 {
                .s1 {
                    background-color:#000;border-bottom-color:#000;
                    strong, span {
                        color:#fff;
                    }
                }
            }
            .fold_view02 {
                display:block;
                & > ul {
                    & >li {
                        border-bottom:1px dotted #d5d5d5;
                        &:last-of-type {
                            border-bottom:none;
                        }
                    }

                } 
            }
            .fold_btn {
                span {
                    &:after {
                        transform:rotate(-180deg);
                    }
                }
            }
        }
        &:first-child {
            margin-top:0;
        }
    }
}
.fold_tit02 {
    position:relative;
    .s1 {
        height:36px;padding:0 19px;background:#f7f7f7;border-bottom:1px solid #eaeaea;box-sizing:border-box;overflow:hidden;font-size:12px;line-height:36px;transition:background 0.4s;
        strong {
            float:left;color:#767676;font-weight:500;
        }
        span {
            float:right;width:calc(100% - 70px);color:#000;font-weight:400;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;text-align:right;
        }
    }
    .s2 {
        position:relative;padding:17px 19px 13px;color:#595959;font-size:13px;line-height:19px;
        .c1 {
            width:calc(100% - 40px);font-weight:400;
            span {
                display:inline-block;max-width:calc(100% - 36px);padding-right:5px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;vertical-align:top;
            }
        }
        .c2 {
            color:#000;font-weight:700;margin-top:4px;
        }
    }
    .fold_btn {
        position:absolute;left:0;top:0;width:100%;height:100%;margin:0;
        button, span {
            position:absolute;left:0;top:0;width:100%;height:100%;padding:0;
        }
        span {
            text-indent:-9999px;overflow:hidden;
        }
        span:after {
            right:20px;top:50%;margin-top:-10px;width:22px;height:22px;
        }
    }
}
.fold_view02 {
    display:none;margin:0 20px 20px 20px;border-top:1px solid #eaeaea;animation:fade both 0.5s;
    &> ul > li {
        position:relative;padding-left:33px;
        .form_rdo {
            position:absolute;left:0;top:0;width:100%;height:100%;z-index:2;box-sizing:border-box;
            label {
                position:absolute;left:0;top:0;width:100%;height:100%;box-sizing:border-box;z-index:2;cursor:pointer;
            }
            input + label:after {
                top:20px;
            }
            input + label:before {
                top:14px;
            }
        }
    }
    .fold_d {
        width:100% !important;margin:0;padding:15px 0;;border:none;
        .img {
            right:0;
        }
    }
}








.tab_box + .tbl_row_wrap {
    border-top:0;
}
.required {
    &:before {
        background-image:url(../../ink/images/guide/ico_required.svg) !important;
    }
}
.fold_question {
    width:400px;
}
.valid_check {
    position:relative;
}
.form_rdo + .valid_check {
    margin-top:10px;
}
.valid_check~.valid_check {
    margin-top:10px;
}







/* .btn_area_desc */
.btn_area_desc {
    margin-top:15px;
    li {
        position:relative;margin-top:4px;padding-left:8px;color:#767676;font-size:13px;line-height:19px;
        &:before {
            position:absolute;left:0;top:1px;font-size:11px;content:"*";
        }
        &:first-child {
            margin-top:0;
        }
    }
}




/*** Btn ***/
/* btn_cus */
.btn_cus {
    a, button {
        height:50px !important;
    }
}

/* btn_txt_more */
.btn_txt_more {
    position:relative;overflow:hidden;margin:-39px 0 21px 0;
    a, button {
        display:block;float:right;color:#595959;font-size:13px;
        span {
            display:inline-block;position:relative;padding-right:10px;
            &:after {
                position:absolute;right:2px;top:50%;width:6px;height:6px;margin-top:-4px;border:solid #595959;border-width:1px 1px 0 0;transform:rotate(45deg);content:"";overflow:hidden;
            } 
        }
    }
}

/* kb_more */
.btn_more_view_box.kb_more {
    float:right;margin-top:-58px;
    strong {
        font-size:13px;height:38px;padding:0 12px;line-height:38px;font-weight:400;
        em:after{
            background:url("../images/guide/ico_comment.svg") center/100% no-repeat;width:14px;height:14px;margin-top:-12px;right:3px;
        }
    }
}






/***** 대량구매상담 *****/
/* cus_hero_area */
.cus_hero_area {
    position:relative;padding:130px 0 60px 0;border-top:1px solid #eaeaea ;text-align:center;
    &:before {
        position:absolute;left:50%;top:40px;width:80px;height:80px;margin-left:-30px;background:url(../images/guide/ico_cus_hero01.svg) center/100% no-repeat;content:"";
    }
    &.ty02 {
        &:before {
            background-image:url(../images/guide/ico_cus_hero02.svg);
        }
    }
    .cus_hero_tit {
        font-size:18px;font-weight:700;line-height:28px;
        .point_line:before {
            top:10px;height:14px;background:#fff688;
        }
    }
    h2 + p {
        margin-top:15px;font-size:15px;line-height:23px;
    }
}

.info_text_box + .form_chk{
    margin-top:10px;
}



/*** 대량구매상품검색 ***/
.cus_bun_wrap {
    .git_wrt_area {
        min-height:initial;padding-top:0;
    }
    .tab_swiper.gft_wrt_pop {
        padding-bottom:0;border-bottom:0;
    }
}










/***** 핫트랙스 서비스 *****/
/*** 상단영역 ***/
.cus_view_upper {
    position:relative;
}

/* cus_list_box */
.cus_list_box {
    padding:30px 40px 40px 40px;background-color:#f7f7f7;border-radius:12px;
    .ht_tit05 {
        margin-bottom:10px;
    }
    .point_line {
        img {
            display:inline-block;width:18px;margin:4px 0 0 4px;vertical-align:top;
        }
        &:before {
            top:10px;height:14px;
        }
    }
    .bul_list li {
        margin-top:8px !important;color:#292929;font-size:14px;line-height:22px;
        &:before {
            background-color:#000;
        }
        strong {
            color:#000;
        }
        .lighter {
            color:#767676;
        }
    }
    &.ty01 {
        background:url(../images/guide/cus_font_box.png) no-repeat center /cover;
        .point_line:before {
            background-color:#ffc09f;
        }
    }
    &.ty02 {
        background:url(../images/guide/cus_package_box.svg) no-repeat center /cover;
        .point_line:before {
            background-color:#ffe65c;
        }
    }
    &.ty03 {
        background:url(../images/guide/cus_card_box.svg) no-repeat center /cover;
        .point_line:before {
            background-color:#9af8c2;
        }
    }
}



/*** 각인서비스 ***/
.cus_letters {
    position: relative;margin:-40px -15px 0 -15px;
    overflow:hidden;
    & > .li {
        float:left;width:calc(50% - 30px);margin:40px 15px 0 15px;;
    }
}
.cus_view_box {
    padding:30px;border:1px solid #eaeaea;border-radius:12px;box-sizing:border-box;overflow:hidden;
    &.ty02 {
        padding:40px;
    }
}
.cus_initials {
    & > li {
        display:flex;justify-content:space-between;margin-bottom:15px;padding-bottom:13px;border-bottom:1px dashed #D5D5D5;
        &:last-of-type {
            margin-bottom:0;padding-bottom:0; border-bottom:none;
        }
    }
    span {
        margin:0;height:24px;line-height:24px;
        img {
            height:100%;
        }
    }
}



/*** 포장서비스 ***/
.cus_package_list {
    display:flex; flex-flow:row wrap; 
    & > li {
        position:relative;width:calc((100% - 2px) / 3);height:212px;padding:0 42px;border-right:1px dashed #d5d5d5;border-bottom:1px dashed #d5d5d5;box-sizing:border-box;line-height:212px;
        &:nth-of-type(3n) {
            border-right:none;
        }
        &:nth-last-of-type( -n + 3 ){
            border-bottom:none;
        }
        &:before {
            position:absolute;right:-28px;bottom:-20px;width:56px;height:40px;background:#fff;content:"";z-index:1;
        }
    }
    img {
        width:100%;
    }
}



/*** 제휴/할인카드 ***/
.cus_card_area {
    margin-bottom:40px;
    .ht_tit06 {
        margin-bottom:20px;text-align:center;
    }
    .cus_card_box {
        width:315px;margin:0 auto;border:1px solid #ccc;border-radius:12px;box-shadow:10px 10px 20px rgba(0, 0, 0, 0.16);overflow:hidden;
        img {
            width:100%;
        }
    }
    .btn_area {
        margin-top:35px;
    }
}
.card_promotion {
    tr th.center {
        padding:20px 0 !important;color:#000;
        em {
            color:#767676;font-size:13px;font-weight:500;line-height:19px;
        }
    }
    .align_left {
        padding:19px 30px !important;
    }    
    th:first-of-type, td:first-of-type {
        border-right:1px solid #d5d5d5;
    }
    [class^=bul_item_] {
        color:#000;
        em {
            font-size:13px;
        }
        &::before {
            background-color:#000;
        }
    }
}
.cus_bul {
    margin:15px 0 18px;
    [class^=bul_item_] {
        color:#767676;
    }
}









