/***   HTR-P-CUS-MAIN   ***/
/* lnb */     
.ht_cus_lnb {
    position:relative;border-top:2px solid #000;   
    a, button {
        display:block;position:relative;font-size:13px;font-weight:400;line-height:19px;cursor:pointer;text-align:left;
    }
    & > li  {
        position:relative;padding-right:10px;padding-top:15px;
        &:not(.bd_none) {
            padding-bottom:15px;border-bottom:1px solid #eaeaea;
        }
        &.primary a{
            color:#da2128;font-weight:700;
        }
        &:before {
            position:absolute;right:-4px;top:20px;width:19px;height:10px;background:url('../images/guide/ico_arrow.svg') center bottom/7px no-repeat;transform:rotate(-90deg);content:"";
        }
    }
    .cus_1dep {
        position:relative;padding:0;box-sizing:border-box;color:#000;
    }
    .dep2_lst {
        margin-top:15px;
        & > li {
            position:relative;margin-bottom:5px;
            &:last-of-type {
                margin-bottom:0;
            }
            &:before {
                position:absolute;right:-10px;top:0;width:10px;height:23px;background:url('../images/guide/ico_arrow_59.svg') right center/ 4px no-repeat ;content:"";
            }
        }
    }
    .cus_2dep {
        padding-left:8px;line-height:19px;letter-spacing:-1px;color:#767676;
        &:before {
            content:"-";position:absolute;left:0;top:0px;width:6px;height:22px;line-height: 22px;
        }
    }
}
.lnb_cs {
    margin-top:25px;
    .title {
        line-height: 20px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.014px;
        padding-left: 22px;
        position:relative;
        &:before {
            content:"";
            width:20px;
            height:20px;
            position:absolute;
            background: url(../images/guide/ico_cus_info_clock_bk.svg) no-repeat left center/18px;
            left: 0;
            top:0;
            z-index: 1;
        }
    }
    .tel {
        margin-top:10px;
        line-height: 21px;
        letter-spacing: -0.016px;
        font-size: 16px;
        font-weight: 700;
        color:#474C98;
    }
    .info {
        margin-top:6px;
        line-height:18px;
        font-size: 14px;
        color:#595959;
        & > em {
            color:#767676;
        }
    }

}
.lnb_refund {
    margin-top:25px;
    padding:15px;
    border-radius: 6px;
    background-color: #E3EAFF;
    .ref_tit {
        line-height: 19px;
        font-size: 13px;
        font-weight: 700;
        position: relative;
        padding-right: 49px;
        letter-spacing: -0.013px;
        &:before {
            content:"";
            width:36px;
            height:38px;
            position: absolute;
            top:0;
            right: 0;
            z-index: 1;
            background:url(../images/guide/ico_cus_ref.svg) no-repeat center/36px;
        }
    }
    .info {
        margin-top: 4px;
        line-height: 18px;
        font-size: 12px;
        letter-spacing: -0.012px;
    }
}
/* //lnb */
//cus_faq
.cus_faq {
    padding:40px 30px ;
    border-radius: 12px;
    background-color: #6286FF;
    .tit {
        margin-bottom: 15px;
        overflow:hidden;
        margin-top:-3px
    }
    .ht_tit04 {
        color:#fff;
        float:left;
        margin:0;
    }
    .to_external { 
        color:#fff;
        line-height:19px;
        position:relative;
        font-weight: 500;
        float:right;
        margin-top:7px;
        &:before {
            content:"";
            position:absolute;
            width:6px;
            height: 6px;
            border-top :1px solid #fff;
            border-right: 1px solid #fff;
            transform: rotate(45deg);
            right:-7px;
            top:5px;
        }
    }
}
.cus_faq_cont {
    position:relative;
    &:before {
        content:"";
        position:absolute;
        width:38px;
        height:70px;
        background:url("../images/guide/ico_cus_mc_best.svg") center top/100% no-repeat;
        transform: rotate(25deg);
        top:-45px;
        left:100px;
    }
}
.cus_faq_banner {
    position:relative;
    overflow: hidden;
    .swiper-slide {
        width:226px;
        height:115px;
        padding: 20px;
        border-radius: 12px;
        background-color: #fff;;
        position:relative;
        box-sizing: border-box;
        &:before {
            content:"";
            position:absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
            border-radius: 12px;;
            border:2px solid;
            box-sizing: border-box;
        }
        & > a {
            position:relative;
        }
        .s1{
            position:absolute;
            background-color: #F5F5F5;
            border-radius: 50px;
            font-size: 10px;
            line-height: 15px;
            letter-spacing: -0.01px;
            padding:3px 8px;

        }
        .info {
            position:relative;
            padding:30px 0 0 18px;
            line-height:22px;
            letter-spacing: -0.022px;
            &:before {
                content:"Q.";
                position:absolute;
                font-weight:700;
                width:14px;
                height:19px;
                left:0px;
                top:30px;
            }
        }
    }
}
//cus_qna_menu
.cus_qna_menu {
    margin-top:40px;
}
.qna_list {
    overflow: hidden;
    .li {
        width:calc(100% / 5);
        height:80px;
        float:left;
        box-sizing: border-box;
        position:relative;
        &:before {
            content:'';
            position:absolute;
            width:1px;
            height:40px;
            border-right:1px dashed #EAEAEA;
            right:0;
            top:20px;
            z-index:1;
        }
        &:nth-of-type(3):before {
            height:80px;
            top:0;
        }
        &:last-of-type:before {
            display:none;
        }
    }
    .icon {
        width:40px;
        height:40px;
        line-height: 40px;
        position:relative;
        margin:0 auto;
        text-align: center;
        img {
            position:absolute;
            height:112%;
            left:50%;
            top:50%;
            transform: translate(-50%, -50%);
        }
    }
    .info {
        text-align: center;
        margin-top:15px;
        line-height: 21px;
        font-size: 15px;
        letter-spacing: -0.015px;
    }
}
//cus_info
.cus_info {
    margin-top:40px;
    padding:20px 40px;
    border-radius: 12px;
    color:#fff;
    background-color: #292929;
}
.cus_info_list {
    display: flex;
    flex-flow: row nowrap;
    .li {
        display: inline-block;
        line-height:22px;
        letter-spacing: -0.014px;
        margin-top:-1px;
        &:nth-of-type(1) {
            margin-right:50px;
            position:relative;
            font-size: 15px;
            padding-left:20px;
            letter-spacing: -0.015px;
            &:before {
                content: "";
                width:20px;
                height:20px;
                background:url(../images/guide/ico_cus_info_clock.svg) no-repeat left center / 18px;
                position:absolute;
                z-index:1;
                left:-3px;
                top:0;
            }
        }
        &:nth-of-type(2) {
           margin-right:25px;
        }
        &:nth-of-type(3) {
            margin-right:80px;
        }
        &:nth-of-type(4) {
            position:relative;
        }
    }
}
//cus_notice
.cus_notice {
    overflow: hidden;
}
.cus_notice_cont {
    width:482px;
    float: left;
    position:relative;
    &:first-of-type {
        margin-right:30px;
    }
    .ht_tit04 {
        float:left;
    }
    .to_external {
        float:right;
        line-height: 19px;
        margin-top:6px;
        font-size: 13px;
        font-weight: 500;
        color:#595959;
        letter-spacing: -0.013px;
        padding-right:9px;
        position:relative;
        &:before {
            content:"";
            position:absolute;
            transform: rotate(45deg);
            width:6px;
            height:6px;
            border-top: 1px solid #767675;
            border-right: 1px solid #767675;
            right:1px;
            top:6px;
        }
    }
    & > ul {
        clear:both;
        margin-top:-1px;
    }
}
.cus_notice_list {
    border-top:1px solid;
    border-bottom: 1px solid #EAEAEA;
    padding-bottom:10px;
    .li {
        margin-top:10px;
        line-height: 19px;
        font-size: 13px;
        padding :0 5px 3px 5px;
        letter-spacing: -0.013px;
    }
}
//cus_sv_list
.cus_sv_list {
    border-top:1px solid;
    padding-top:25px;
    overflow: hidden;
    .li {
        width: calc((100% - 2px) / 3);
        height:130px;
        float: left;
        border-right: 1px dashed #D5D5D5;
        box-sizing: border-box;
        &:last-of-type {
            border-right: none;
        }

    }  
    .icon {
        margin:10px auto 0 auto;
        width:78px;
        height:78px;
        border-radius: 50%;
        border:1px solid #EAEAEA;
        position:relative;
        line-height: 78px;
        text-align: center;
        img {
             width:44px;
        }
    }
    .info {
        margin-top:15px;
        text-align: center;
        line-height:20px;
        letter-spacing: -0.014px;
    }
}
/***   //HTR-P-CUS-MAIN   ***/

/***   HTR-P-CUS-ETC   ***/
.cus_etc_upper {
    padding-bottom: 40px;
    .tab_txt {
        margin-bottom: 20px;
    }
    .info_text_box  {
        border-radius: 12px;
    }
    .to_myroom{
        text-decoration: underline;
        font-weight: 500;
        color:#000;
    }
}
.deposit_ck_box {
    text-align: center;
    margin-top:20px;
    .icon {
        width:80px;
        height:80px;
        margin:0 auto 10px auto;
        img {
            width:100%;
        }
    }
    .ht_tit05 {
        letter-spacing: -0.018px;
    }
    .desc {
        font-size: 15px;
        line-height: 22px;
        letter-spacing: -0.015px;
        color:#292929;
    }
    .btn_area {
        margin-top:60px;  
    }
}
.cus_etc {
    .deposit_result_card + .btn_area {
        margin-top:0px;  
    } 
    .btn_lg {
        min-width: auto;
        padding-right:24px;
        padding-left:24px;
        letter-spacing: -0.6px;
    }
}
.deposit_result_card {
    padding:29px 30px;
    border-radius: 12px;
    border:1px solid #EAEAEA;
    margin-bottom: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;      
    &:last-of-type {
        margin-bottom: 0;
    }
    .ht_tit06 {
        margin-bottom:0
    }
    .completed {
        position:relative;
        &:before {
            content:"환불 신청 완료";
            position: absolute;
            left: 100%;
            top:2px;
            background-color: #474C98;
            color:#fff;
            font-size: 10px;
            font-weight: 400;
            white-space: nowrap;
            line-height: 14px;
            padding:4px 8px 3px 8px;
            border-radius: 50px;
            margin-left: 10px;
            letter-spacing: -0.01px;

        }
    }

    .result {
        line-height: 24px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: -0.02px;
    }
    .deposit {
        margin-right:2px;
        color:#da2128;
        font-size: 20px;
    }
}
/***   //HTR-P-CUS-ETC   ***/

/***   HTR-P-CUS-ETC-002-POP   ***/
.dialog_wrapper .ui-dialog .dialog_wrap.cus_ref {
    padding-bottom:30px;
    .dialog_header {
        border-bottom: none;
        padding-top:23px;
    }
    .dialog_contents {
        margin-top:10px;
    }
    .evt_pop_content {
        min-height: auto;
    }
    .pop_box_info {
        padding: 15px;
        border-radius: 6px;
        margin-bottom: 30px;
        .bul_item_dot {
            word-break: break-all;
            line-height: 19px;
            font-size: 13px;
            letter-spacing: -0.013px;
        }
        &.ty02 {
            background:none;
            padding:0;
            margin:0;
        }
        .tit {
            margin-bottom:8px;
            line-height: 20px;
        }
        .user_name {
        margin-left: 6px;
        font-weight: 400;
        color:#767676;
        }
        dd {
            margin-bottom:8px;
            &:last-of-type {
                margin-bottom:0;
            }
        }
        .form_sel >span {
            width:340px;
        }
    }
    .deposit_result_card {
        padding:0 0 20px 0;
        border:none;
        border-radius: 0;
        border-bottom: 1px solid #EAEAEA;
        margin-bottom:20px;
    }
    .dialog_footer {
        margin-top:30px;
    }
}
/***   //HTR-P-CUS-ETC-002-POP   ***/

/***   HTR-P-CUS-INFO   ***/
.cus_view_upper {
    padding-bottom:0;
    .tab_txt {
        margin-bottom: 30px;
    }
}
//cus_font_box
.info_text_box.cus_list_box {
    padding:30px 40px 40px;
    border-radius: 12px;
    .ht_tit05 {
        margin-bottom:10px;
    }
    .point_line {
        img {
            width:18px;  
            margin-top:-7px;
            margin-left:2px;
        }
        &:before {
            height:14px;
            top:10px;
    
        }
    }
    .bul_list li {
        margin-top:8px !important;
        line-height: 19px;
        font-size: 13px;
        color:#292929;
        strong {
            color:#000;
        }
        .lighter {
            color:#767676;
        }
    }
    &.letter {
        background:url(../images/guide/cus_font_box.png) no-repeat center /cover;
        .point_line:before {
            background-color: #FFC09F;
        }
    }
    &.package {
        background:url(../images/guide/cus_package_box.svg) no-repeat center /cover;
        .point_line:before {
            background-color: #FFE65C;
        }
    }
    &.card {
        background:url(../images/guide/cus_card_box.svg) no-repeat center /cover;
        .point_line:before {
            background-color: #9AF8C2;
        }
    }
}
//cus_view_list
.cus_letters {
    overflow: hidden;
    & > .li {
        width:482px;
        float:left;
        margin-top:30px;
        &:nth-of-type(2n + 1) {
            margin-right:30px;
        }
    }
}
.cus_view_box {
    padding:29px 30px !important;
    border:1px solid #EAEAEA;
    border-radius: 12px;
    box-sizing: border-box;
    overflow: hidden;
    &.ty02 {
        margin-top:30px;
    }
}
.cus_initials {
    & > li {
        margin-bottom:15px;
        padding-bottom:14px;
        border-bottom: 1px dashed #D5D5D5;
        display: flex;
        justify-content: space-between;

        &:last-of-type {
            margin-bottom:0;
            padding-bottom:0;
            border-bottom:none;
        }
    }
    span {
        height:24px;
        line-height:24px;
        margin:0;
        img {
            height:100%;
        }
    }
}
//cus_package_list 
.cus_package_list {
    display: flex;
    flex-flow: row wrap; 
    & > li {
        width:calc(100% / 3);
        height: 212px;
        line-height: 212px;
        border-right:1px dashed #D5D5D5;
        border-bottom: 1px dashed #D5D5D5;
        box-sizing: border-box;
        padding: 0 42px;
        position:relative;
        &:nth-of-type(3n) {
            border-right: none;
        }
        &:nth-last-of-type( -n + 3 ){
            border-bottom:none;
        }
        &:before {
            content:"";
            position:absolute;
            width:20px;
            height:20px;
            background:#fff;
            right:-10px;
            bottom:-10px;
            z-index:1;
        }
    }
    img {
        width:100%;
    }
}
//cus_card_area
.cus_card_area {
    margin-bottom: 40px;
    .ht_tit06 {
        margin-bottom:20px;
        text-align: center;
    }
    .cus_card_box {
        width:315px;
        margin:0 auto;
        border-radius: 14px;
        border:1px solid #CCC;
        overflow: hidden;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
        img {
            width:100%;
        }
    }
    .btn_area {
        margin-top:35px;
        button {
            min-width:164px;
        }
    }
}
.card_promotion {
    tr th.center {
        padding:20px 0 !important;
        font-size: 12px;
        font-weight: 500;
        line-height: 19px;
        strong {
            font-size: 13px;
            font-weight: 500;
            color:#000;
        }
    }
    .align_left {
        padding:19px 30px !important;
    }    
    th:first-of-type, td:first-of-type {
        border-right:1px solid #d5d5d5;
    }
    [class^=bul_item_] {
        font-size: 13px;
        color:#000;
        em {
            font-size: 12px;
        }
    }
}
.cus_bul {
    margin:15px 0 18px;
    [class^=bul_item_] {
        line-height: 19px;
        font-size: 13px;
        color:#767676;
    }
}

/***   //HTR-P-CUS-INFO   ***/