/* ht_customer_old.css 에서 필요 부분 옮겨 주세요 */


/** QNA **/
.cus_qna_view{
    .btn_txt_more {
        position:relative;overflow:hidden;margin: -39px 0 21px 0;
        a, button {
            display:block;float:right;color:#595959;font-size:13px;
            span {
                display:inline-block;position:relative;padding-right:10px;
                &:after {
                    position:absolute;right:2px;top:50%;width:6px;height:6px;margin-top:-4px;border:solid #595959;border-width:1px 1px 0 0;transform:rotate(45deg);content:"";overflow:hidden;
                } 
            }
        }
    }
    .tit_form_wrap{
        margin-top: 43px;border-bottom: 1px solid #000;padding-bottom: 15px;
        &:after{
            display: block;clear: both;content: "";
        }
        .form_sel {
            float: left;
            .ui-selectmenu-button{
                width: 120px;
            }
        }
        .btn_area{
            margin-top: 0;float: right;
            button.btn_md{
                min-width: 122px;font-size: 14px;font-weight: 500;
            }
        }
    }
    .form_qna_wrap{
        margin-top: 42px;
        .form_box{
            &:after{
                display: block; clear: both; content: "";
            }
        }
        .form_code_list{
            .form_title{
                display: inline-block;margin-top: 10px;
            }
            .fold_d {
                padding: 17px 14px 14px;margin-top:10px;border: 1px solid #d5d5d5;
                .img{
                    top: 45px;left: initial;right: 14px;
                }
                .txt {
                    padding-left: 0px;
                    .s1 {
                        margin-bottom: 12px;
                        .info{
                            font-weight: 400;
                        }
                        span{
                            &:nth-of-type(2){
                                margin-left:10px;
                                &:before {
                                    left:-6px;top:1px;
                                }
                            }
                        }
                    }
                    .s2{
                        margin-bottom: 13px;
                    }
                    .s3 + .s3 {
                        margin-top: 6px;
                    }
                }
            }
        }
        &.form_wrap {
            .form_box {
                width: calc(73.5% - 160px);display: table;margin-top: 25px;
            }
        }
        .form_title{
            width: 160px;display: table-cell;vertical-align: middle;
            .form_label{
                font-size: 14px;margin-top: 3px;margin-left:10px;
                .required{       
                    margin-top: 3px;padding-left: 4px;
                    &:before {
                        background-image: url(../../ink/images/guide/ico_required.svg);
                    }
                }
            }
        }
        .form_cont{
            float: right;margin-top: 0px;width: 400px;
        }
        .btn_area{
            border-top: 1px solid #EAEAEA;padding-top: 30px;margin-top: 30px;
            &.btn_area_desc{
                padding-top: 17px;
                .btn_primary{
                    margin-top: 30px;
                }
                p{
                    font-size: 13px;color: #767676;text-align: left;letter-spacing: -0.13px;
                }
            }
            .btn_primary{
                min-width: 134px;
            }
        }
        .form_radio_sel{
            .form_title{
                display: inline-block;
            }
            .form_ip{
                margin-top: 10px;
            }
            .form_cont + .form_cont{
                margin-top: 25px;
            }
        }
    }
    
}
.cus_info_text_box{
    > strong{
        font-size: 14px;font-weight: 700;margin-bottom: 13px;display: inline-block;letter-spacing: -0.14px;
    }
    .bul_list li{
        font-size: 13px;
        span{
            color: #000;font-weight: 500;border-bottom: 1px solid #000;
        }
    }
}
.btn_kb{
    margin-top: 30px;margin-bottom: 43px;
    button{
        min-width: 162px;
        + button{
            margin-left: 4px;
        }
    }
    .btn_primary_kb{
        background: #474C98;border: #474C98;min-width: 162px;
        &.btn_primary:hover {
            background: #2c307c;
            border-color: #2c307c;
        }
    }
}
.btn_more_view_box.kb_more {
    float: right;margin-top: -61px;
    strong{
        font-size: 13px;height: 38px;padding: 0 12px;line-height: 38px;font-weight:400;
        em:after{
            background:url("../images/guide/ico_comment.svg") center/100% no-repeat;width: 14px;height: 14px;margin-top: -12px;right: 3px;
        }
    }
}


/** FAQ **/
.ht_cus_cont{
    /* Search Area : form_search_box */
    .form_search_cont{
        padding: 30px 26px;margin-bottom: 32px;background: #EAEAEA;border-radius: 12px;
        .form_search_box{
            width: 376px;
            &.form_search_box_center{
                margin:0 auto;
            }
            .form_ip{
                border: 2px solid #000000;height: 50px;
            }
        }
    }
    /* Search Area : cus_chk_list */
    .cus_chk_list {
        position:relative;margin:15px 0 0 0;
        .chk_list_ty {
            margin:-8px 0 0 -6px;
            &.ty02 {
                li {
                    display:inline-block;position:relative;margin:8px 0 0 6px;
                }
                label {
                    height:33px;padding:0 13px;line-height:35px;
                }
                input:checked + label {
                    font-weight: 700;
                }
            }
        }
        &.mb {
            margin:0 0 18px 0;
        }
    }

    
    /* FAQ, QNA, 상품문의 내역 목록 */
    .prod_fold_view{
        display: inline-block;width: 100%;
    }
    .prod_fold_tit{
        min-height: 42px;
    }
    .fold_view{
        margin-top: 18px;border-radius: 6px;
        &:after {
            display: block;content: "";clear: both;}
    }
    .fold_ty {
        border-top: 0;
    }
    .fold_tit {
        display: table;
        .tit{
            width: 95%;
        }
        .prod_img{
            float: right;width: 78px;height: 78px;overflow: hidden;border-radius: 4px;
            img{
                width: 100%;
            }
        }
        
        .tit_prod .txt_len1{
            font-size: 13px;color: #767676;line-height: 22px;
        }
        &:after{
            display: block;clear: both;content: "";
        }
        .fold_info {
            margin-bottom: 3px;margin-top: 5px;
            > ul {
                padding-top: 0px;
                li {
                    strong {
                        font-weight: 700;font-size: 12px;
                    }
                }
            } 
            .right{
                .info.ty02{
                    font-size: 10px;color: #292929;background: #F5F5F5;border: #F5F5F5;margin-right: 0;float: right;
                }
            }

            &.faq_info {
                margin-bottom: 12px;margin-top: 0px;
                > ul {
                    li {
                        span {
                            display: inline-block;height: 20px;margin-left: 10px;padding: 0 8px;background: #ecedf5;border-radius: 10px;-webkit-box-sizing: border-box;box-sizing: border-box;color: #474C98;font-size: 10px;line-height: 21px; margin-left: 0;
                        }
                    }
                } 
            }
        }
        .txt{
            &.qna_prod_tit{
                width: 91%;display: inline-block;margin-top: 5px;
                .tit_prod{
                    margin-top: 2px;
                }
                .fold_info{
                    margin-top: 9px;
                }
            }  
        }
        .txt_len1{
            font-weight: 500;
        }
    }
    .cus_qna_view{
        .fold_num{
            font-size: 13px;display: table-cell;vertical-align: middle;padding: 0 15px 0 0px;width: 40px;max-width: 40px;text-align: center;
            + .fold_inner{
                float: left;
            }
        }
    }

    .fold_question{
        &.fold_q{
            display: inline-block;width: 83%;
        }
        &.fold_d {
            + .fold_question{
                margin-top: 0;border: 0;
            }
        }
        .info {
            position: relative;font-size: 12px;font-size: 10px;color: #292929;background: #F5F5F5;border: #F5F5F5;margin-right: 0;float: right;    height: 20px;padding: 0 9px;border-radius: 10px;-webkit-box-sizing: border-box;box-sizing: border-box;line-height: 20px;
        }
    }
    .fold_question_btn{
        display: inline-block;vertical-align: top;width: calc(17% - 44px);margin-top: 0;
    } 
    .fold_d {
        position:relative;min-height:90px;margin-bottom:15px;padding: 17px 19px;border-radius: 6px;background:#fff;border:1px solid #eaeaea;box-sizing:border-box;
        &:before {
            display:none;
        }
        &:after {
            display:none;
        }
        .img {
            position:absolute;top: 16px;left: 19px;width:60px;height:60px;background:#f7f7f7;border-radius:4px;overflow:hidden;
            img {
                position:absolute;left:50%;top:50%;width:100%;height:auto;transform:translate(-50%,-50%);
            }
        }
        .txt {
            position:relative;padding-left: 80px;
            .s1 {
                line-height:16px;color:#000;display:flex; flex-flow: row nowrap; justify-content: flex-start;align-items:center;font-size: 13px;font-weight: 500;margin-bottom: 4px;display: -webkit-box;max-height: 22px;text-overflow: ellipsis;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;
                span {
                    line-height: 16px;position:relative;font-size:12px; font-weight: 400;
                    &:nth-of-type(2){
                        margin-left:16px;
                        &:before {
                            content:"";position:absolute;width:1px;height: 10px;background-color:#D5D5D5;left:-8px;top:3px;
                        }
                    }
                }
                .info {
                  margin-top: -3px; margin-left:auto;height:20px;padding:0 9px;background:#f7f7f7;border-radius:10px;box-sizing:border-box;color:#292929;font-size:10px;line-height:21px;
                }
            }
            .s2 {
                color:#000;font-size:13px; font-weight:500; line-height: 19px;margin-bottom: 5px;padding-right:80px;letter-spacing: -0.014px;display:-webkit-box;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;word-break: keep-all;
                span{
                    font-size: 12px;
                    &:nth-child(1){
                        font-weight: 700;
                    }
                    &:nth-child(2){
                        position: relative;padding-left: 10px;
                        &:before{
                            content: "";display: inline-block;clear: both;border-left: 1px solid #ccc;position: absolute;left: 3px;top: 1px;height: 10px;
                        }
                    }
                }
            }
            .s3 {
                line-height: 16px; padding-right:80px; font-size: 12px;letter-spacing: -0.014px;color:#767676;display:flex; flex-flow: row nowrap; justify-content: flex-start;align-items:center;
                & + .s3 {
                    margin-top:4px;
                }
                span {
                    position:relative;margin-right:18px;
                    &:last-of-type{
                        margin-right:0;
                    }
                    &:first-of-type:before{
                        display:none;
                    }
                    &:before {
                        content:"";position:absolute;width:1px;height:10px;background-color: #D5D5D5;left:-9px;top:2px;
                    }
                }
            }
            // .s2 {
            //     margin-top:2px;color:#000;font-size:12px;line-height:18px;
            //     span {
            //         position:relative;padding-left:13px;font-size:12px;line-height:14px;
            //         &:before{ 
            //             position:absolute;left:6px;top:2px;width:1px;height:9px;background-color:#dcdcdc;content:"";
            //         }
            //         &:first-child {
            //             padding-left:0;
            //             &:before {
            //                 display:none;
            //             }
            //         }
            //     }
            // }
            // .s3 {
            //     margin-top:4px;color:#767676;font-size:11px;line-height:18px;
            // }
            // .info {
            //     position:absolute;right:0;bottom:0;height:20px;padding:0 9px;background:#f7f7f7;border-radius:10px;box-sizing:border-box;color:#292929;font-size:10px;line-height:21px;
            // }
        }
        &.ty02 {
            display:table;width:100%;table-layout:fixed;padding:12px 12px 12px 122px;
            .img {
                left:12px;top:12px;width:93px;height:93px;
            }
            .txt {
                display:table-cell;width:100%;height:93px;vertical-align:middle;box-sizing:border-box;
                .s1 {
                    display:-webkit-box;font-size:14px;font-weight:400;line-height:22px;white-space:normal;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;
                }
                .s2 {
                    margin-top:2px;font-weight:700;font-size:14px;line-height:22px;
                }
            }
        }
    }
    


    /* QNA 주문내역 조회 팝업 : .cus_qna_code_pop*/
    &.cus_qna_code_pop {
        /* fold_ty02 */
        .fold_ty02_area {
            position:relative;max-height:calc(100vh - 265px);box-sizing:border-box;overflow-y:auto;
        }
        .fold_ty02 {
            position:relative;
            .li {
                position:relative;margin-top:16px;border:1px solid #eaeaea;border-radius:6px;box-sizing:border-box;overflow:hidden;transition:border 0.4s;
                &.on {
                    border-color:#000;
                    .fold_tit02 {
                        .s1 {
                            background-color:#000;
                            strong, span {
                                color:#fff;
                            }
                        }
                    }
                    .fold_view02 {
                        display:block;
                        & > ul {
                            & >li {
                                border-bottom:1px dotted #D5D5D5;
                                &:last-of-type {
                                    border-bottom:none;
                                }
                            }
        
                        } 
                    }
                    .fold_btn {
                        span {
                            &:after {
                                transform:rotate(-180deg);
                            }
                        }
                    }
                }
                &:first-child {
                    margin-top:0;
                }
            }
        }
        .fold_tit02 {
            position:relative;
            .s1 {
                height:36px;padding:0 19px;background:#f7f7f7;border-bottom:1px solid #eaeaea;box-sizing:border-box;overflow:hidden;font-size:12px;line-height:36px;transition:background 0.4s;
                strong {
                    float:left;color:#767676;font-weight:500;
                }
                span {
                    float:right;width:calc(100% - 70px);color:#000;font-weight:400;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;text-align:right;
                }
            }
            .s2 {
                position:relative;padding:17px 19px 13px;color:#595959;font-size: 13px;
                .c1 {
                    width:calc(100% - 40px);font-weight:400;
                    span {
                        display:inline-block;max-width:calc(100% - 36px);padding-right:5px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;vertical-align:top;
                    }
                }
                .c2 {
                    color:#000;font-weight:700;margin-top: 5px;
                }
            }
            .fold_btn {
                position:absolute;left:0;top:0;width:100%;height:100%;margin:0;
                button, span {
                    position:absolute;left:0;top:0;width:100%;height:100%;padding:0;
                }
                span {
                    text-indent:-9999px;overflow:hidden;
                }
                span:after {
                    right:20px;top:50%;margin-top:-10px;width: 22px;height: 22px;
                }
            }
        }
        .fold_view02 {
            display:none;margin:0 18px 20px 20px;border-top:1px solid #EAEAEA;
            animation:fade both 0.5s;
            &> ul > li {
                position:relative;padding-left:33px;
                .form_rdo {
                    position:absolute;left:0;top:0;width:100%;height:100%;z-index:2;
                    label {
                        position:absolute;left:0;top:0;width:100%;height:100%;z-index:2;cursor:pointer;
                    }
                    input + label:after {
                        top:21px;
                    }
                    input + label:before {
                        top:15px;
                    }
                }
            }
            .fold_d {
                border:none;padding: 16px 0px 0;
                .img{
                    top: 44px;left: initial;right: 0px;
                }
                .txt {
                    padding-left: 0px;
                    .s1 {
                        margin-bottom: 12px;
                        .info{
                            font-weight: 400;
                        }
                        span{
                            &:nth-of-type(2){
                                margin-left:10px;
                                &:before {
                                    left:-6px;top:1px;
                                }
                            }
                        }
                    }
                    .s2 {
                        margin-bottom: 15px;
                    }
                    .s3 + .s3 {
                        margin-top: 6px;
                    }
                }
            }

        }
    }
}



