/* ht_customer_old.css 에서 필요 부분 옮겨 주세요 */











/** QNA **/
.cus_info_text_box{
    > strong{
        font-size:14px;font-weight:700;margin-bottom:13px;display:inline-block;letter-spacing:-0.14px;
    }
    .bul_list li{
        font-size:13px;
        span{
            color:#000;font-weight:500;border-bottom:1px solid #000;
        }
    }
}
.btn_kb{
    margin-top:30px;margin-bottom:43px;
    button{
        min-width:162px;
        + button{
            margin-left:4px;
        }
    }

}


.ht_cus_cont{
    .page_bottom{
        .btn_primary{
            min-width:134px;
        }
    }
    
    .tab_box{
        margin-top:20px;
        + .tbl_row_wrap{
            margin-top:0;
        }
    }
    .tbl_row_wrap{
        margin-top:30px;
    }
    .tbl_row{
        tbody th .required{       
            margin-top:3px;padding-left:4px;
            &:before {
                background-image:url(../../ink/images/guide/ico_required.svg);
            }
        }
        .form_search_box{
            width:400px;
        }
        .fold_question {
            width:400px;margin-top:10px;
        }
        .byte_check_wrap{
            width:400px;
        }
        .chk_col_list{
            width:400px;
            .form_rdo{
                display:block;
                + .input_btn_box{
                    margin-top:10px;
                }
            }
            .valid_check {
                margin-top:10px;
            }
        }
    }
    .btn_area_desc{
        margin-top:17px;
        .btn_primary{
            margin-top:30px;
        }
        p{
            
        }
    }
    .tbl_row_wrap .tbl_row tbody th.has_btn_sm.ver_mid_text{
        vertical-align:middle;display:table-cell;
    }
}





.agree_box_wrap{
    + .form_chk{
        margin-top:10px;
    }
}
.ht_cus_cont{
    .fold_question.fold_cus_bun{

    }
    .input_btn_box{
        + .valid_check {
            margin-top:10px;
            +.input_btn_box{
                margin-top:10px;
            }
        }
        +.input_btn_box{
            margin-top:10px;
        }
    }
    .tbl_row_wrap .tbl_row tbody td{

    } 
}
/** 대량 구매 상담 팝업 **/
/* bun_pop */
.tab_swiper.bun_pop {
    margin-top:0;margin-bottom:20px;;border-bottom:0;padding-bottom:0;
    &:first-child {
        margin-top:0;
    }
    .swiper-wrapper {
        position:relative;font-size:0;
        li {
            display:inline-block;position:relative;margin:0px 0 0 6px;
            &:first-child{
                margin:0px 0 0 0px;
            }
            a {
                display:block;font-size:12px;transition:all 0.4s;height:33px;padding:0 13px;background:#fff;border:1px solid #eaeaea;border-radius:18px;box-sizing:border-box;color:#595959;line-height:33px;
                &.on{
                    color:#fff;font-weight:700;
                }
            }
        } 
    }
}

/* bun_pop_wrap */
.bun_pop_wrap {
    margin-top:0 !important;
    + .btn_area{
        border-top:1px solid #EAEAEA; padding-top:30px; margin:0 -30px 0;
    }
}

/* bun_pop_area */
.bun_pop_area {
    position:relative;min-height:calc(85vh - 272px);padding-top:20px;box-sizing:border-box;
    .sub_tit {
        color:#595959;
    }
    .ctg_topMenu {
        position:relative;margin:-20px 0 25px 0;background:#f7f7f7;line-height:31px;
        .inner_wrap {
            span {
                height:33px;padding-top:1px;font-size:12px;vertical-align:top;
            }        
        }
        .round_ty {
            padding:15px 15px !important;
        }
        .btn_line_refresh {
            position:absolute;right:20px;top:50%;transform:translateY(-50%);
        }
    }
    .ht_cont_s {
        margin-bottom:30px;
        .point_line {
            letter-spacing:-0.3px;
            &:before{
                top:9px;height:14px;
            }
        }
        .ht_tit05 {
            margin-bottom:15px;
            img{
                vertical-align:top;margin-left:8px;
            }
        }
    }
}


/** 공지사항 **/
.ht_cus_cont{
    .contents_inner {
        width:994px;
    }
    .evt_description_title{
        border-top:0;
    }
    .evt_description_content{
        + .btn_area{
            button{
                min-width:134px;
            }
        }
    }
}


