@charset "UTF-8";
/*
    Event
*/

/***** 이벤트&기획전 *****/
/*** .evt_liar_area ***/
.evt_liar_area {
    position:relative;margin-top:30px;
    .pagination {
        width:1200px;margin:-20px auto 0 auto;
    }
}


/*** 마감임박 ***/
.dead_line_wrap {
    background-color:#fff4f1;
}

/* deadline_bubble */
.deadline_bubble {
    display:inline-block;position:relative;right:135px;top:-47px;padding:14px 34px;background-color:#d4ff1a;border:3px solid #000;box-sizing:border-box;border-radius:40px;text-align:left;color:#000;animation:evtMsg both infinite 5s;
    .txt {
        font-size:16px;line-height:24px;font-weight:700;overflow:hidden;
        &:before,
        &:after {
            display:block;position:absolute;top:50%;width:0;
            content:"";
        }
        &:after {
            right:-17px;margin-top:-8px;border-color:#000 transparent;border-style:solid;border-width:0 14px 14px 7px;transform:rotate(-25deg);z-index:0;
            }
        &:before {
            right:-5px;margin-top:-12px;border-top:12px solid transparent;border-right:15px solid #d4ff1a;border-bottom:12px solid transparent;border-left:0 solid transparent;transform:rotate(63deg);z-index:5;
        }
    }
}
.deadline_character_area {
    display:block;position:absolute;right:0;top:0;width:100%;text-align:right;z-index:1;
    .deadline_character {
        position:absolute;right:35px;top:-28px;width:96px;height:110px;
        img{
            width:100%;
        }
    }
}
@keyframes evtMsg{
0% {opacity:0;transform:translateX(30%) scale(0.5);}
10% {opacity:0;transform:translateX(30%) scale(0.5);}
20% {opacity:1;transform:translateX(0%) scale(1);}
95% {opacity:1;transform:translateX(0%) scale(1);}
100% {opacity:0;transform:translateX(30%) scale(0.5);}
}



/*** 반응최고 ***/
.best_react_wrap {
    background-color:#e1f7e5;
}
.heart_emoji {
    display:inline-block;width:35px;height:35px;margin-bottom:-8px;margin-left:5px;background:url('../images/guide/heart_emoji.svg') center/31px no-repeat ;
}



/*** 오늘만 특가 ***/
.hot_deal_wrap { 
    position:relative;  
    .ht_tit {
        margin-bottom:24px;
        line-height:42px;
    }
    .hotdeal_shine {
        display:inline-block;width:35px;height:35px;margin-bottom:-8px;margin-left:5px;background:url('../images/guide/hotdeal_shine.svg') center/31px no-repeat;
    }
    .timer_area {
        display:inline-block;position:absolute;right:0;top:-4px;padding:14px 9px 9px 48px;background-color:#d4ff1a;border-radius:35px;z-index:1;
        &:before {
            position:absolute;left:7px;top:-23px;width:62px;height:65px;background:url('../images/guide/timer_bomb.svg') center/61px no-repeat;content:"";z-index:2;
        }
        .timer {

            font-family:'Gmarket Sans';font-size:20px;font-weight:700;line-height:23px;
        }
    }
}

/* 이벤트 목록 없음 */
.no_evt_list_wrap {
    position:relative;padding:200px 0;background:url('../images/guide/no_search_data_icon.svg') center 40% /60px no-repeat ;
    .txt {
        margin-top:25px;color:#767676;font-size:16px;line-height:24px;text-align:center;
        
    }
}  



/*** 이벤트 당첨자 발표 ***/
/** 목록 **/
.evt_winner_list {
    position:relative;border-top:1px solid #000;
    &.mt {
        margin-top:0;
    }
    .evt_winner_item {
        padding:20px 0;border-bottom:1px solid #eaeaea;overflow:hidden;
    }
    .list_num {
        float:left;width:30px;margin-right:10px;font-size:13px;line-height:19px;text-align:center;
    }
    .list_cate {
        float:left;width:100px;margin-right:10px;color:#767676;font-size:13px;text-align:center;line-height:19px;
    }
    .title {
        float:left;/*max-width:965px;*/line-height:19px;
        &.status_new {
            position:relative;
            &:before {
                position:absolute;right:-25px;top:-1px;width:20px;height:20px;background:url('../images/guide/new_post.svg') center /18px no-repeat;content:"";
            }
        } 
    }
    .date {
        float:right;width:70px;color:#767676;font-size:13px;text-align:center;line-height:19px;
    }
}
.evt_winner_list + .pagination {
    margin-top:-1px;
}


/** 당첨 결과 보기 **/
.evt_description_title {
	padding:24px 4px 20px 4px;border-top:1px solid #000;border-bottom:1px solid #eaeaea;
	.category_area {
		margin-bottom:10px;color:#767676;line-height:18px;
	}
	.list_title_area {
        font-size:24px;font-weight:700;line-height:40px;
	}
	.list_date_area {
        margin-top:5px;color:#767676;font-size:14px;line-height:19px;
	}
}
.evt_description_content {
    padding:40px 4px;border-bottom:1px solid #eaeaea;line-height:22px;
    .category_area{
	  line-height:18px;
    }
    .list_title_area {
        font-weight:700;white-space:normal;
    }
    .list_date_area {
        line-height:19px;
    }
}



/*** 이벤트 팝업 ***/
.dialog_wrapper .ui-dialog .dialog_wrap {
    .dialog_header.evt_title_header {
        padding-bottom:18px;
    }
    .dialog_contents.evt_pop_cotent {
        margin:0;padding:32px 20px;color:#595959;line-height:22px;text-align:center;
    }
    .dialog_contents.evt_cotent {
        margin:0;padding:48px 0 32px 0;
        .evt_pop_img {     
            display:flex;width:100%;justify-content:center;align-items:center;align-content:center;text-align:center;
            img {
                max-width:33%;
            }
        }
        .sub_txt {
            width:100%;margin-top:12px;color:#595959;line-height:19px;text-align:center;
        }
        .main_msg {
            font-size:20px;font-weight:700;line-height:32px;text-align:center;letter-spacing:-0.2px;
        }
    }
    .dialog_contents.evt_full_img {
        position:relative;min-width:335px;height:0;margin:0;padding-top:203px;
        img {
            position:absolute;left:50%;right:0;top:0;width:100%;transform:translateX(-50%);
        }
    }
    .dialog_footer.evt_pop_footer{
        margin:0;
        &>.secondary{
            background-color:#d53020;
        }
    }
}










/***** Event Module *****/
.mdl_contents_wrap {
    margin-bottom:60px;
    &:last-child {
        margin-bottom:0;
    }
    .evt_end_msg {
        border-radius:0;z-index:8;
        em {
            position:absolute;left:50%;top:40vh;transform:translateX(-50%);font-size:24px;z-index:8;
        }
        &.ch {
            em {
                position:fixed;
            }
        }
    }
}

.mdl_wrap {
    position:relative;padding-bottom:60px;overflow:hidden;
    &:last-child {
        padding-bottom:0;
    }
    &.mdl_bg {
        margin-bottom:60px;padding:60px 0;
    }
    .ht_tit {
        text-align:center;
    }

    .btn_area {
        margin-top:60px;text-align:center;
        img {
            width:auto;max-width:100%;
        }
        &:only-child {
            margin-top:0;
        }
    }
    .btn_lg {
        min-width:378px;height:68px;border-radius:6px;  font-size:18px;;color:#fff;font-weight:700;letter-spacing:-0.5px;
    }
    .tab_box {
        margin-bottom:60px;
        &:last-child {
            margin-bottom:0;;
        }
    }
}
.mdl_inner {
    position:relative;width:1200px;margin:0 auto;
    .tab_box:only-child {
        margin-bottom:0;;
    }
}
.mdl_bg + .mdl004,
.mdl_bg + .mdl011,
.mdl_bg + .mdl012,
.mdl_bg + .mdl013 {
    margin-top:-60px !important;
}
.mdl004 + .mdl_wrap,
.mdl011 + .mdl_wrap,
.mdl012 + .mdl_wrap,
.mdl013 + .mdl_wrap {
    margin-top:60px;
}
.mdl_wrap + .mdl004 {
    margin-top:0px;
}




/*** Module A : .md001 ***/
.mdl001 {
    padding:20px 0 30px 0;background:#fff;font-size:14px;line-height:22px;z-index:9;
    .sub_tit {
        margin-bottom:8px;color:#767676;font-weight:700;
    }
    .ht_tit03 {
        text-indent:-2px;
    }
    .period {
        margin-top:4px;
    }
    .box_circle {
        position:absolute;right:0;top:0;
        width:60px;height:60px;background-color:#da2128;border-radius:50%;color:#fff;font-size:16px;font-weight:700;line-height:60px;text-align:center;z-index:1;
    }
    .prod_share_area {
        right:8px;top:inherit;bottom:0;
    }
}



/*** Module B-2 : .md003 ***/
.mdl003 {
    .video_item {
        position:relative;width:1200px;padding-top:56.25%;overflow:hidden;
        .evt_video {
            position:absolute;left:0;top:0;width:100%;height:100%;
        }
    }
}


/*** Module B-3 : .md004 ***/
.mdl004 {
    padding:0;
    .mdl_inner {
        width:100%;
    }
}

/* mdl004_banner */
.mdl004_banner {
    .option_box {display:none;position:absolute;right:calc(50% - 600px);bottom:20px;z-index:1;
        .btn_all {
            display:block;position:absolute;right:5px;top:0;width:36px;height:36px;background:url('../images/guide/ico_plus_w.svg') no-repeat 50%/ 11px;z-index:10;
        }
    }
    .swiper-pagination.swiper-pagination-fraction {
        position:static;height:36px;padding:0 20px;background-color:rgba(0,0,0,0.3);transform:translateX(0);
        .swiper-pagination-current,
        .swiper-pagination-total {
            font-size:16px;line-height:37px;
        }
    }
    .play_pause_box {
        margin-right:4px;
        [class^=btn_] {
            display:block;width:36px;height:36px;border-radius:50%;
        }
        .btn_play {
            background:rgba(0,0,0,.3) url('../images/guide/ico_play.svg') no-repeat 50% / 8px;
        }
        .btn_pause {
            background:rgba(0,0,0,.3) url('../images/guide/ico_pause.svg') no-repeat 50% / 6px;
        }
        &.play {
            .btn_play {
                display:none;
            }
            .btn_pause {
                display:block;
            }
        }
        &.pause {
            .btn_play {
                display:block;
            }
            .btn_pause {
                display:none;
            }
        }
    }

    .swiper_control {
        position:static;margin:0;
    }
    .swiper_control .swiper-button-next,
    .swiper_control .swiper-button-prev {
        position:absolute;top:50%;margin-top:-22px;z-index:10;
    }
    .swiper_control .swiper-button-next {
        right:calc(50% - 670px);left:initial;
    }
    .swiper_control .swiper-button-prev {
        left:calc(50% - 670px);
    }
    .swiper-slide-active {
        .mdl_banner_box {
            .txt {
                .s1 span {
                    animation:txtTop both 0.4s 0.4s;
                    &:nth-child(2) {
                        animation-delay:0.6s;
                    }
                }
                .s2 span {
                    animation:fade both 0.4s 0.8s;
                }
            }
        }
    }
    .swiper-slide:first-child:nth-last-child(1) {
        .mdl_banner_box {
            .txt {
            .s1 span {
                animation:txtTop both 0.4s 0.4s;
                &:nth-child(2) {
                animation-delay:0.6s;
                }
            }
            .s2 span {
                animation:fade both 0.4s 0.8s;
            }
            }
        }
    }
}

/* mdl_banner_box */
.mdl_banner_box {
    position:relative;overflow:hidden;
    a {
        display:block;position:relative;
    }
    .img {
        position:relative;width:100%;background:#fff;overflow:hidden;
        img {
            position:relative;left:50%;max-width:1920px;height:auto;transform:translate(-50%, 0%);
        }
    }
    .txt {
        position:absolute;left:50%;top:0;width:1200px;height:100%;margin-left:-600px;
        ul {
            position:absolute;left:30px;top:50%;width:calc(100% - 60px);color:#fff;letter-spacing:-1px;transform:translateY(-53%);
        }  
        span {
            display:block;position:relative;opacity:0;
        }
        .s1 {
            font-size:44px;font-weight:700;line-height:64px;
        }
        .s2 {
            margin-top:14px;font-size:24px;font-weight:500;line-height:34px;opacity:0.8;
        }
    }
}



/*** Module B-5, 6 : .md005 ***/
.mdl_prod_banner {
    .evt_products {
        flex-wrap:nowrap;margin:-40px 0 0 0;
    }
    .prod_item {
        margin:40px 0 0 0;box-sizing:border-box;
        &:nth-of-type(2n+1) {
            margin-right:36px;
        }
    }
}



/*** Module B-7 : .md008 ***/
.mdl008 {
    text-align:center;
    .ht_tit {
        margin-bottom:0;;
    }
    .sub_tit {
        color:#767676;font-size:16px;font-weight:700;line-height:24px;
    }
    .desc {
        font-size:14px;line-height:22px;
    }
    .ht_tit + .sub_tit {
        margin-top:13px;
    }
    .ht_tit + .desc,
    .sub_tit + .desc {
        margin-top:26px;
    }
    /*
     .ht_tit{
        padding:4px 0;
        &:only-child {
            margin-bottom:0;
        }
     }
    .sub_tit {
        margin-top:-11px;
        line-height:24px;
        
        font-size:16px; 
        letter-spacing:-1px;
        
        margin-bottom:24px;
        &:only-child {
            margin:0;
        }
        &:last-child {
            margin-bottom:0;
        }
    }
    .desc {
        letter-spacing:-1px;
        line-height:22px;

    }*/
}



/*** Module C-1, 2 : mdl009 ***/
.mdl009 {
    text-align:center;
}


/*** Module C-3 : .md011 ***/
.mdl011 {
    margin-top:0 !important;padding:0;
    .mdl_inner {
        width:100%;
    }
}

/* rullet_wrap */
.rullet_wrap {
    padding:124px 0 136px 0;background:center no-repeat;
    &>img {
        width:100%;
    }
    .rullet {
        position:relative;width:600px;height:600px;margin:0 auto;border-radius:50%;box-shadow:10px 20px 15px rgba(0,0,0,0.16);
    }
    .rullet_circle {
        width:600px;height:600px;border-radius:50%;transform-origin:center;
        &>img{
            width:100%;
        }
    }
    .rullet_pin {
        position:absolute;left:50%;top:-28px;width:62px;margin-left:-31px;
        z-index:2;
        &>img {
            width:100%;
        }
    }
    .fotune_evt_btn {
        position:absolute;left:50%;bottom:7%;width:45%;height:50px;transform:translateX(-50%);
    }
}



/*** Module C-3 : .md012 ***/
.mdl012 {
    margin-top:0 !important;padding:0;
    .mdl_inner {
        width:100%;
    }
}

/* evt_calender_wrap */
.evt_calender_wrap {
    padding:114px 0 78px 0;background:center no-repeat;
    .calender_box {
        position:relative;width:608px;margin:0 auto;z-index:3;
    }
    .after_box {
        position:absolute;left:4px;top:4px;width:100%;height:100%;background-color:#fff;border:2px solid #000;box-sizing:border-box;z-index:1;
        &:nth-of-type(2) {
            left:8px;
            top:8px;
        }
    }
    .attend_date {
        position:relative;padding:27px 0;background-color:#000;color:#fff;font-size:20px;line-height:30px;text-align:center;z-index:3;
    }
    .strong {
        font-weight:700;
    }
    .calender {
        position:relative;padding:30px 25px 40px 25px;background-color:#fff;border:2px solid;box-sizing:border-box;z-index:10;
        table {
            box-sizing:content-box;font-family:'Gmarket Sans';width:550px; font-size:18px;font-weight:700;letter-spacing:-1px;
        }
        th {
            font-size:15px;line-height:20px;
        }
        tr:first-of-type th {
            padding-bottom:21px;
        }
        td {
            padding-bottom:12px;
        }
        tr:last-of-type td {
            padding-bottom:0;
        }
        .date {
            position:relative;width:70px;height:70px;margin:0 auto;background-color:rgba(120, 124, 249, 0.06);border-radius:50%;line-height:70px;text-align:center;
        }
    }
    .attendance_img {
        position:absolute;left:0;top:0;width:100%;height:100%;background:center/contain no-repeat;
    }
}



/*** Module C-3 : .md013 ***/
.mdl013 {
    margin-top:0 !important;padding:0;
    .mdl_inner {
        width:100%;
    }
}

/* evt_step_wrap */
.evt_step_wrap {
    background:center top no-repeat;
    .upper {
        position:relative;width:1200px;margin:0 auto;text-align:center;
        img {
            max-width:100%;
        }
    }
    .step_item_list {
        display:flex;flex-flow:row wrap;width:1200px;margin:0 auto;padding:60px 0;
        img {
            width:100%;
        }
    }   
}




/*** Module D : .mdl014 ***/
/* cmt_info_area */
.cmt_info_area {
    margin:40px 0 20px 0;overflow:hidden;
    .cmt_total {
        float:left;font-size:16px;font-weight:700;line-height:24px;
    }
    .count {
        color:#da2128;
    }
    .form_chk {
        float:right;
    }
}

/* cmt_emoji_list */
.cmt_emoji_list {
    clear:both;height:24px;margin-top:10px;
    .emoji {
        position:relative;float:left;width:24px;height:24px;margin-right:10px;border-radius:50%;cursor:pointer;transition:all 0.4s;
        & > img{
            width:100%;
        }
        &.off {
            opacity:0.2;
        }
        &.on:before {
            position:absolute;left:0;top:0;width:24px;height:24px;border-radius:50%;border:2px solid #000;box-sizing:border-box;content:"";
        }
    }
}



/*** Module E-1 : .mdl015 ***/
.mdl015 {
    overflow:inherit;
    .tab_swiper {
        position:sticky;top:80px;margin-top:-20px;margin-bottom:40px;padding:20px 0;background:#fff;z-index:5;
        a {
            max-width:300px;white-space:inherit;
        }
    }
}
.anchor_target {
    padding-bottom:60px;
    &:last-child {
        padding-bottom:0;
    }
}

/* 투표참여 팝업 */
.ht_cont_s {
    .ht_tit05 + .sub_tit { 
        margin-top:-8px;
    }
    .sub_tit {
        margin-bottom:20px;
    }
}



/*** Module F-1 : .mdl017 ***/
.mdl_017_list {
    position:relative;overflow:hidden;
}

/* mdl_017_card */
.mdl_017_card {
    float:left;width:400px; padding:40px 90px 70px 40px; background-color:#f2f2f2;box-sizing:border-box;
    &:nth-of-type(2n+1) {
        background-color:#fafafa;
    }
    .discount {
        color:#da2128;font-size:20px;font-weight:700;line-height:30px;
        & + .tit {
            margin-top:0;
        }
    }
    .tit {
        display:-webkit-box;height:60px;margin-top:30px;margin-bottom:11px;font-size:20px;font-weight:700;line-height:30px;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;white-space:normal;word-break:keep-all;overflow:hidden;
    }
    .sub_tit {
        display:-webkit-box;height:42px;font-size:14px;line-height:22px;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;white-space:normal;word-break:keep-all;overflow:hidden;
    }
} 










