/* ht_cpon_shj.scss 와 중복으로 삭제 예정 */
//review_bnf_desc_list
.review_bnf_desc_list {
    .bnf_desc {
        position: relative;
        line-height: 20px;
        color:#595959;
        letter-spacing: -0.014px;
        word-break: keep-all;
        margin-bottom:8px;
        padding-left: 10px;
        &:last-of-type {
            margin-bottom:0;
        }
        &:before {
            content:"";
            position:absolute;
            width:2px;
            height:2px;
            left:2px;
            top:8px;
            background-color: #999;
        }
    }
}
/* ht_cpon_shj.scss 와 중복으로 삭제 예정 */

/***** 바로드림 ******/
.pickup_wrap {
    background:url(../images/guide/pickup_bg.png) no-repeat center / cover;
    padding-bottom: 60px !important;
    .pickup_top_area {
        height:440px;
        position:relative;
        overflow: hidden;
        margin-bottom:37px;
        .shopping_img {
            position:relative;
            width:235px;
            margin:0 auto;
            top:-50px;
            height:490px;
            z-index: 1;
            animation:wel_pickup_shoppingbag .7s both 1 .7s;
            img {
               width:100%;
            }
        }
        @keyframes wel_pickup_shoppingbag  {
            0% {
                transform: translateY(0%);
            }
            50% {
                transform: translateY(-50px);
            }
            100% {
                transform: translateY(0%);
            }
        }
        .pick_up_bubble {
            width: 0;
            height:78px;
            position:absolute;
            background:url(../images/guide/wel_pickup_bubble.svg) no-repeat center center/ 97%;
            left:50%;
            top:38%;
            transform: translateX(-100%);
            z-index: 2;
            animation: wel_pick_up_bubble .8s forwards 1 .5s;
        }
        @keyframes wel_pick_up_bubble {
            0% {
                width:0;  
            }
     
            100% {
                width:135px;
            }
        }
    }
    .tit {
        text-align: center;
        line-height: 55px;
        letter-spacing: -1.1px;
        font-size: 44px;
        font-weight: 700;
        font-family:'Gmarket Sans'; 
        & > img {
            display: inline-block;
            margin:-13px 2px 0 3px;
        }
    }

    .pickup_step_area {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        position:relative;
        width:540px;
        margin: 54px auto 0 auto;
        &:before {
            content:"";
            position:absolute;
            width:calc(100% / 3 * 2 + 40px);
            height:1px;
            border-top: 1px dashed#000;
            top: 19px;
            left: calc(100% / 6 - 20px);

        }
        .pickup_step {
            position:relative; 
            text-align: center;
            .num_icon {
                width:40px;
                height:40px;
                margin:0 auto;
                margin-bottom:15px;
                z-index: 2;
                line-height:40px;
                text-align: center;
                font-size: 18px;
                font-weight: 700;
                background: url(../images/guide/wel_pickup_num.svg) no-repeat center /99%;
            }
            .step_icon {
                height:78px;
                margin:0 auto 16px auto;
            }
            .desc {
                min-width:130px;
                line-height: 25px;
                font-size: 20px;
                font-weight: 700;
                word-break:keep-all;
                letter-spacing: -0.5px;
                .point_line:before {
                    top: 12px;
                }
            }
            @for $pkn from 1 through 3 {
                &:nth-of-type(#{$pkn})  .step_icon {
                    background:url(../images/guide/wel_pickup_step#{$pkn}.svg) no-repeat center /contain;
                    
                }
            }
        }
        .point_line:before {
            height:12px;
        }
    }
    .review_bnf_desc_list {
        margin-top:25px;
    }
    .pickup_notice_area {
        padding:0 20px;
    }
    .pickup_notice_bubble {
        position:relative;
        margin-top:45px;
        padding:30px;
        background-color: #fff;
        border-radius: 12px;
        border:2px solid #000;
        text-align: center;
        &:before{
            content:"";
            position:absolute;
            width:18px;
            height:22px;
            background: url(../images/guide/wel_pickup_bubble_before.svg) no-repeat center center;
            left:50%;
            margin-left: -9px;
            top:-15px;
            z-index: 1;
        }
        .tit {
            margin-top:0;
            font-size: 20px;
            font-weight: 700;
            line-height:29px;
            margin-bottom:8px;
            text-align: left;
            font-family: inherit;
            .icon > img{
                transform: translateY(-3px);
            }
        }
        .notice_desc {
          line-height:21px;
          margin-bottom:12px;  
        }
        .to_external {
            position:relative;
            line-height: 19px;
            font-size: 13px;
            color:#595959;
            &:before {
                content:"";
                position:absolute;
                width:10px;
                height:18px;
                top:-2px;
                left:100%;
                margin-left:3px;
                opacity:0.6;
                background: url(../images/ico/ico_bnf_alliance_bk.svg) no-repeat  center;
            }
        }
    }
}
