@charset "UTF-8";
/*
    Event
*/

/***** 이벤트&기획전 *****/
/*** .evt_liar_area ***/
.evt_liar_area {
    position:relative;
    .pagination {
        width:1200px;margin:-20px auto 0 auto;
    }
}


/*** 마감임박 ***/
.dead_line_wrap {
    background-color:#fff4f1;
}

/* deadline_bubble */
.deadline_bubble {
    display:inline-block;position:relative;right:135px;top:-47px;padding:14px 34px;background-color:#d4ff1a;border:3px solid #000;box-sizing:border-box;border-radius:40px;text-align:left;color:#000;animation:evtMsg both infinite 5s;
    .txt {
        font-size:16px;line-height:24px;font-weight:700;overflow:hidden;
        &:before,
        &:after {
            display:block;position:absolute;top:50%;width:0;
            content:"";
        }
        &:after {
            right:-17px;margin-top:-8px;border-color:#000 transparent;border-style:solid;border-width:0 14px 14px 7px;transform:rotate(-25deg);z-index:0;
            }
        &:before {
            right:-5px;margin-top:-12px;border-top:12px solid transparent;border-right:15px solid #d4ff1a;border-bottom:12px solid transparent;border-left:0 solid transparent;transform:rotate(63deg);z-index:5;
        }
    }
}
.deadline_character_area {
    display:block;position:absolute;right:0;top:0;width:100%;text-align:right;z-index:1;
    .deadline_character {
        position:absolute;right:35px;top:-28px;width:96px;height:110px;
        img{
            width:100%;
        }
    }
}
@keyframes evtMsg{
0% {opacity:0;transform:translateX(30%) scale(0.5);}
10% {opacity:0;transform:translateX(30%) scale(0.5);}
20% {opacity:1;transform:translateX(0%) scale(1);}
95% {opacity:1;transform:translateX(0%) scale(1);}
100% {opacity:0;transform:translateX(30%) scale(0.5);}
}



/*** 반응최고 ***/
.best_react_wrap {
    background-color:#e1f7e5;
}
.heart_emoji {
    display:inline-block;width:35px;height:35px;margin-bottom:-8px;margin-left:5px;background:url('../images/guide/heart_emoji.svg') center/31px no-repeat ;
}



/*** 오늘만 특가 ***/
.hot_deal_wrap { 
    position:relative;  
    .ht_tit {
        margin-bottom:24px;
        line-height: 42px;
    }
    .hotdeal_shine {
        display:inline-block;width:35px;height:35px;margin-bottom:-8px;margin-left:5px;background:url('../images/guide/hotdeal_shine.svg') center/31px no-repeat;
    }
    .timer_area {
        display:inline-block;position:absolute;right:0;top:-4px;padding:14px 9px 9px 48px;background-color:#d4ff1a;border-radius:35px;z-index:1;
        &:before {
            position:absolute;left:7px;top:-23px;width:62px;height:65px;background:url('../images/guide/timer_bomb.svg') center/61px no-repeat;content:"";z-index:2;
        }
        .timer {

            font-family:'Gmarket Sans';font-size:20px;font-weight:700;line-height:23px;
        }
    }
}

.mdl_wrap {
    .hot_deal_wrap .timer_area  {
        top:57px;
    }
}

/* 이벤트 목록 없음 */
.no_evt_list_wrap {
    position:relative;padding:200px 0;background:url('../images/guide/no_search_data_icon.svg') center 40% /60px no-repeat ;
    .txt {
        margin-top:25px;color:#767676;font-size:16px;line-height:24px;text-align:center;
        
    }
}  





/***** 이벤트 당첨자 발표 *****/
/** 목록 **/
.evt_winner_list {
    position:relative;border-top:1px solid #000;
    &.mt {
        margin-top:-30px;
    }
    .evt_winner_item {
        padding:20px 0;border-bottom:1px solid #eaeaea;overflow:hidden;
    }
    .list_num {
        float:left;width:30px;margin-right:10px;font-size:13px;line-height:19px;text-align:center;
    }
    .list_cate {
        float:left;width:100px;margin-right:10px;color:#767676;font-size:13px;text-align:center;line-height:19px;
    }
    .title {
        float:left;/*max-width:965px;*/line-height:19px;
        &.status_new {
            position:relative;
            &:before {
                position:absolute;right:-25px;top:-1px;width:20px;height:20px;background:url('../images/guide/new_post.svg') center /18px no-repeat;content:"";
            }
        } 
    }
    .date {
        float:right;width:70px;color:#767676;font-size:13px;text-align:center;line-height:19px;
    }
}
.evt_winner_list + .pagination {
    margin-top:-1px;
}


/** 당첨 결과 보기 **/
.evt_description_title {
	padding:24px 4px 20px 4px;border-top:1px solid #000;border-bottom:1px solid #eaeaea;
	.category_area {
		margin-bottom:10px;color:#767676;line-height:18px;
	}
	.list_title_area {
        font-size:24px;font-weight:700;line-height:40px;
	}
	.list_date_area {
        margin-top:5px;color:#767676;font-size:14px;line-height:19px;
	}
}
.evt_description_content {
    padding:40px 4px;border-bottom:1px solid #eaeaea;line-height:22px;
    .category_area{
	  line-height:18px;
    }
    .list_title_area {
        font-weight:700;white-space:normal;
    }
    .list_date_area {
        line-height:19px;
    }
}





/***** 이벤트 팝업 *****/
.dialog_wrapper .ui-dialog .dialog_wrap {
    .dialog_header.evt_title_header {
        padding-bottom:18px;
    }
    .dialog_contents.evt_pop_cotent {
        margin:0;padding:32px 20px;color:#595959;line-height:22px;text-align:center;
    }
    .dialog_contents.evt_cotent {
        margin:0;padding:48px 0 32px 0;
        .evt_pop_img {     
            display:flex;width:100%;justify-content:center;align-items:center;align-content:center;text-align:center;
            img {
                max-width:33%;
            }
        }
        .sub_txt {
            width:100%;margin-top:12px;color:#595959;line-height:19px;text-align:center;
        }
        .main_msg {
            font-size:20px;font-weight:700;line-height:32px;text-align:center;letter-spacing:-0.2px;
        }
    }
    .dialog_contents.evt_full_img {
        position:relative;min-width:335px;height:0;margin:0;padding-top:203px;
        img {
            position:absolute;left:50%;right:0;top:0;width:100%;transform:translateX(-50%);
        }
    }
    .dialog_footer.evt_pop_footer{
        margin:0;
        &>.secondary{
            background-color:#d53020;
        }
    }
}










/*============================================ HTR-P-EVT-MDL.html ========================================*/
.mdl_contents_wrap {
    margin-top:20px !important;
}
.evt_anchor_target {
	width:100%;
	height:80px;
	margin-top:-80px;
	visibility: hidden;
}
.upper_wrap {
    margin-bottom:60px;
}
.mdl_wrap {
    margin:0 auto;
    &.promotion_end {
        position: relative;
        background-color: #fff;
        z-index: 2;
    }
    .evt_tit_bar {
        padding:60px 0 40px;
        font-size: 30px;
        letter-spacing: -1px;
        line-height: 40px;
        text-align: center;
        font-weight: 700;
    }
    .mdl_full_img {
        width:100%;
    }
    .devide_hr {
        display:block;
        width:100%;
        padding-top:60px;
        margin:0;
        border:none;
        background-color: #F0F0F0;
    }
    .game_tit {
        padding-top:60px;
        margin-bottom: 42px;
        text-align: center;
    }
    //하단 광고배너
    & +.ht_under_banner_area { 
        margin-top: 60px;
    }
}

.mdl_inner {
    width:1200px;
    margin:0 auto;
    padding:60px 0;
    &.tab_box {
        padding:0;
    }
}
//moudule 001
.mdl001_wrap {
    position:relative;
    padding:20px 0;
    .sub_tit {
        margin-bottom: 8px;
        line-height: 22px;
        letter-spacing: -1px;
        font-weight: 700;
        color:#767676;
    }
    .period {
        padding:3px 0 10px;
        line-height: 22px;
    }
    .box_circle {
        position: absolute;
        width:60px;
        height:60px;
        line-height: 60px;
        text-align: center;
        background-color: #DA2128;
        border-radius: 50%;
        color:#fff;
        top:20px;
        right:0;
        font-size: 16px;
        letter-spacing: -1px;
        font-weight: 700;
        z-index: 1;
    }
    .btn_share {
        width:20px;
        height:20px;
        position:absolute;
        bottom:30px;
        right:0;
        z-index: 1;
        width:20px;height:20px;margin-top:0;background:url('../images/guide/btn_ht_share.svg') center/18px no-repeat;
    }
}
//기획전 종료 dim
.evt_end_dim {
    position:fixed;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
    top:0;
    left:0;
    bottom:0;
    overflow: hidden;
    &:before {
        content:"종료되었습니다.";
        position:absolute;
        width:100%;
        z-index: 3;
        color:#fff;
        text-align: center;
        padding-top: 40%;
        font-size: 24px;
        line-height: 35px;
        font-weight: 700;
        letter-spacing: -1px;
    }
}
//moudule 003
.mdl003_wrap {
    padding-top:120px;
    .ht_tit {
        text-align: center;
        line-height: 44px;
        margin:0;
        margin-bottom: 40px;                       
    }
    .video_item {
        position:relative;
        width:1200px;
        padding-top:56.25%;
        overflow: hidden;
        .evt_video {
            position:absolute;
            left:0;
            right:0;
            top:0;
            width:100%;
            height:100%;
        }
    }

}
//module004
.wel_hero_banner .no_btn_all.swiper-pagination.swiper-pagination-fraction {
    padding-right:20px !important;
}
//moudule 006, module007
.mdl_prod_wrap  {
    .ht_tit {
        text-align: center;
        line-height: 45px;
        margin-bottom: 40px;
    }
    .evt_products {
        flex-wrap:nowrap;
    }
    
}

.mdl_prod_banner {
    .evt_products {
        margin: -40px 0 0 0;
    }
    .prod_item {
        box-sizing: border-box;
        margin:40px 0 0 0;
        &:nth-of-type(2n+1) {
            margin-right:36px;
        }
    }
}
//moudule 008
.mdl008_wrap {
    padding:60px 0;
    text-align: center;
     .ht_tit{
        padding:4px 0;
        &:only-child {
            margin-bottom:0;
        }
     }
    .sub_tit {
        margin-top:-11px;
        line-height: 24px;
        font-weight: 700;
        font-size: 16px; 
        letter-spacing: -1px;
        color:#767676;
        margin-bottom:24px;
        &:only-child {
            margin:0;
        }
        &:last-child {
            margin-bottom:0;
        }
    }
    .desc {
        letter-spacing: -1px;
        line-height: 22px;

    }
}
//module009
.mdl009_wrap {
    margin:0 auto;
    text-align: center;
    //max-width:1920px;
    .btn_xlg {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        min-width: 377px;
        height: 68px;
        padding: 0 23px 1px;
        border-radius: 6px;
        font-family: "Noto Sans KR",sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -.01em;
    }
    .mdl_img_btn {
        display: block;
        max-width:377px;
        text-align: center;
        margin:0 auto;

    }
    img {
        width:100%;
    }
}
//module009-3(투표하기 팝업)
.evt_vote_wrap {
    padding:0 38px;
    .tit {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -1px;
    }
    .sub_tit {
        line-height: 19px;
        font-size: 13px;
        letter-spacing: -1px;
        color:#767676;
        margin-top:5px;
    }
    .vote_cmt_box {
       margin-top:30px;
    }
}
.evt_vote_list {
    margin-top:20px;
    overflow: hidden;
    .vote_item {
        width:226px;
        float:left;
        overflow:hidden;
        margin-top:40px;
        &:nth-of-type(2n) {
            margin-left:30px;
        }
        &:nth-of-type(1),
        &:nth-of-type(2) {
            margin-top:0;
        }
    }
    .prod_pic {
        display: block;
        position:relative;
        height:0;
        padding-top:226px;
        border-radius: 12px;
        overflow: hidden;
        margin-bottom:12px;
        & >img {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
    }
    .evt_vote_lb {
        display:block;
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        &:before {
            content:"";
            position:absolute;
            width:40px;
            height:40px;
            left:0;
            top:0;
            background:url('../images/guide/ico_checkbox.svg') no-repeat center/17px;
            background-color: #000;
            opacity:0.3;
            border-top-left-radius: 12px;
            border-bottom-right-radius: 12px;
            z-index: 1;
            transition:opacity .2s linear;
        }
        &:after {
            content:"";
            position:absolute;
            width:100%;
            height:100%;
            border:3px solid;
            border-color:rgba(0,0,0,0);
            border-radius: 12px;
            box-sizing: border-box;
            left:0;
            top:0;
            z-index: 5;
            transition: border-color .2s linear;

        }

    }
    .evt_vote_radio {
        display: none;
        &:checked + .evt_vote_lb:before {
            width:40px;
            height:40px;
            opacity:1;
        }
        &:checked + .evt_vote_lb:after {
            border-color:rgba(0,0,0,1);
        }
    }
    .prod_title {
        letter-spacing: -1px;
        line-height: 22px;
        min-height: 44px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        word-break: keep-all;
    }


}
//module010-2(응모하기 팝업)
.cm_form_list {
    padding-bottom:1px;
    .form_item {
        margin-bottom:30px;
        &:last-of-type {
            margin-bottom:0;
        }
    }
    .cm_lb {
        margin-bottom:10px;
        letter-spacing:-1px;
        line-height:23px;
        font-size: 15px;
        display: block;
    }
}
//moudule 014 (댓글)             
.mdl014_wrap {
    padding: 60px 0;
    .btn_md  {
        justify-content: center;
        padding-left:40px;
        position:relative;
        &:before {
            content:"";
            position:absolute;
            width:30px;
            height:44px;
            top:-3px;
            left:20px;
            background:url('../images/guide/ico_pencil_yellow.svg') no-repeat center /21px;
        }
        &.disabled:before {
            background:url('../images/guide/ico_pencil_white.svg') no-repeat center /21px;
        }
    }
    .cmt_info_area {
        margin-top:40px;
        overflow: hidden;
        .cmt_total {
            float: left;
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            letter-spacing: -1px;
        }
        .count {
            color:#DA2128;
        }
        .form_chk {
            float: right;
        }
    }
    .pagination {
        border-top:none;
    }
    //댓글 아이콘 이미지
    .cmt_emoji_list {
       margin-top:10px;
       height:24px;
       clear:both;
        .emoji {
            width:24px;
            height:24px;
            border-radius: 50%;
            position:relative;
            float:left;
            margin-right:10px;
            cursor: pointer;
            & > img{
                width:100%;
            }
            &.off {
                opacity:0.2;
            }
            &.on:before{
                content:'';
                position:absolute;
                width:24px;
                height:24px;
                border-radius: 50%;
                border:2px solid;
                left:0;
                top:0;
                box-sizing: border-box;
            }
        }
    }
    //댓글 없는 경우
    .no_cmt_box {
        position: relative;
        margin-top: 20px;
        padding:100px 0 60px;
        line-height: 19px;
        text-align: center;
        font-size: 13px;
        color:#767676;
        border-top: 1px solid;
        border-bottom: 1px solid #EAEAEA;
        &:before {
            content:"";
            width:30px;
            height:30px;
            position:absolute;
            top:60px;
            left:50%;
            margin-left: -15px;
            background:url(../images/guide/no_search_data_icon.svg) no-repeat center/30px
        }
    }
}
//textarea
.cmt_box {
    padding:12px 14px 0 14px; 
    border:1px solid #D5D5D5;
    border-radius: 6px;
    transition: border-color .2s;
    &.on {
        border-color:#000;
    }
    .cmt_textarea { 
        width:100%;
        height:70px;
        border:none;
        resize:none;
        color:  #767676;
        font-size: 14px;
        line-height:22px;
        letter-spacing: -1px;
        overflow-y: auto;
        outline:0;

    }
    .btn_wrap {
        text-align: right;
        .count_line{
            margin-right:6px;
        }
    }
    .count_line {
        font-size: 12px;
        height:36px;
        line-height: 36px;
        color:#767676;
        text-align: right;
    }
    .count {
        position:relative;
        padding-right: 8px;
        margin-right:3px;
        color:#000;
        font-style: normal;
        &:before {
            content:"/";
            position:absolute;
            width:5px;
            height:38px;
            top:-12px;
            right:0px;
            
        }
    }
}

.cmt_evt_list {
    border-top: 1px solid;
    margin-top: 20px;
    .cmt_upper {
        position: relative;
        padding: 20px 0;
        border-bottom: 1px solid #EAEAEA;
    }
    .cmt_writer_info {
        margin-bottom: 15px;
    }
    .upper_item {
        display: inline-block;
        line-height: 16px;
        position: relative;
        font-size: 12px;
        color: #767676;
        margin-right:12px;
        cursor: pointer;
        &:before {
            content :"|";
            position: absolute;
            width:16px;
            height:16px;
            text-align: center;
            right:-16px;
            top:0;
        }
        &:last-of-type {
            margin-right:0;
            &:before {
                display: none;
            }
        }
    }
    .cmt_icon {
        width:64px;
        height:64px;
        border-radius: 6px;
        background-color: #F7F7F7;
        float: right;
        text-align: center;
        vertical-align: middle;
        line-height: 64px;
        position: absolute;
        right:0;
        top:50%;
        margin-top:-32px;
        img {
          width:32px;
        }
        &+.cmt_title{
            padding-right:124px;
        }
    }
    .cmt_title {
        line-height: 22px;
        letter-spacing: -1px;
    }

    .cmt_box {
        margin-top:20px;
    }
}

//moudule 011 (rullet)
.rullet_wrap {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 124px 0 136px 0;
    &>img {
        width:100%;
    }
    .rullet {
        position:relative;
        width:600px;
        height:600px;
        margin:0 auto;
        border-radius: 50%;
        box-shadow: 10px 20px 15px rgba(0,0,0,0.16);
    }
    .rullet_circle {
        width:600px;
        height:600px;
        border-radius: 50%;
        transform-origin: center;
        &>img{
            width:100%;
        }
    }
    .rullet_pin {
        position: absolute;
        width:62px;
        left:50%;
        margin-left: -31px;
        top:-28px;
        z-index: 20;
        &>img{
            width:100%;
        }
    }
    .fotune_evt_btn {
        position:absolute;
        width:45%;
        height:50px;
        left:50%;
        transform: translateX(-50%);
        bottom:7%;
    }
}

//moudule 012 (calender)
.evt_calender_wrap {
    padding:114px 0 20px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .calender_box {
        width:608px;
        position:relative;
        margin:0 auto;
        z-index: 3;
    }
    .after_box {
        position:absolute;
        width:100%;
        height:100%;
        box-sizing: border-box;
        background-color: #fff;
        border:2px solid;
        top:4px;
        left:4px;
        z-index: 1;
        &:nth-of-type(2) {
            left:8px;
            top:8px;
        }

    }
    .attend_date {
        position:relative;
        padding:27px 0;
        text-align: center;
        background-color: #000;
        line-height: 30px;
        letter-spacing: -1px;
        font-size: 20px;
        color:#fff;
        z-index: 3;

    }
    .strong {
        font-weight: 700;
    }
    .calender {
        padding:30px 25px 40px 25px;
        box-sizing: border-box;
        border:2px solid;
        background-color: #fff;
        position:relative;
        z-index: 10;
        table {
            width:550px;
            font-family: 'Gmarket Sans';
            letter-spacing: -1px;
            font-weight: 700;
            font-size: 20px;
            box-sizing:content-box;
    
        }
        th {
            line-height: 20px;
            font-size: 15px;
        }
        tr:first-of-type th{
            padding-bottom: 21px;
        }
        td{
            padding-bottom: 12px;
        }
        tr:last-of-type td {
            padding-bottom:0;
        }
        .date {
            position:relative;
            text-align: center;
            background-color: rgba(120, 124, 249, 0.06);
            width:70px;
            height:70px;
            margin:0 auto;
            line-height: 70px;
            border-radius: 50%;
        }
        .attendance_img {
            position:absolute;left:0;top:0;width:100%;height:100%;background:center/contain no-repeat;
        }
    }

}



//moudule 013 
.evt_step_wrap {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .mdl_inner {
        padding:0;
    }
    img {
        width:100%;
    }
    .step_item_list {
        display: flex;
        flex-flow: row wrap;
    }   
}


//moudule 015
.mdl015_wrap {
    position:relative;
    .mdl_sticky_mn {
        position: sticky;
        top:81px;
        background-color: #fff;
        z-index: 50;
    }
    .anchor_target {
        padding:60px 0; 
    }
    .ht_tit {
        text-align: center ;
        line-height: 45px;
        margin-bottom: 40px;
    }
}

//moudule 017
.mdl017_wrap {
    overflow: hidden;
    .mdl_017_list {
        overflow: hidden;
    }

}  
.mdl_017_card {
    background-color: #F2F2F2;
    box-sizing: border-box;
    float:left;
    width:400px;
    padding:40px 90px 70px 40px;
    &:nth-of-type(2n+1) {
        background-color: #FAFAFA;
    }
    .discount {
        font-size: 20px;
        letter-spacing: -1px;
        line-height: 30px;
        color:#DA2128;
        font-weight: 700;
        & + .tit {
            margin-top:0;
        }
    }
    .tit {
        font-size: 20px;
        height:60px;
        line-height: 30px;
        letter-spacing: -1px;
        font-weight: 700;
        margin-bottom: 11px;
        margin-top:30px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        word-break: keep-all;
    }
    .sub_tit {
        height: 42px;
        line-height: 21px;
        letter-spacing: -1px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        word-break: keep-all;
    }
} 

