/* ht_cpon_shj.scss 와 중복으로 삭제 예정 */
//review_bnf_desc_list
.review_bnf_desc_list {

    .bnf_desc {
        position: relative;
        line-height: 20px;
        color:#595959;
        letter-spacing: -0.014px;
        word-break: keep-all;
        margin-bottom:8px;
        padding-left: 10px;
        &:last-of-type {
            margin-bottom:0;
        }
        &:before {
            content:"";
            position:absolute;
            width:2px;
            height:2px;
            left:2px;
            top:8px;
            background-color: #999;
        }
    }
}
/* ht_cpon_shj.scss 와 중복으로 삭제 예정 */


/***** 바로드림 ******/
.pickup_wrap {
    background:url(../images/guide/pickup_bg.png) no-repeat center / cover;
    padding-bottom: 60px !important;
    .pickup_top_area {
        height:440px;
        position:relative;
        overflow: hidden;
        margin-bottom:37px;
        .shopping_img {
            position:relative;
            width:235px;
            margin:0 auto;
            top:-50px;
            height:490px;
            z-index: 1;
            animation:wel_pickup_shoppingbag .7s both 1 .7s;
            img {
               width:100%;
            }
        }
        @keyframes wel_pickup_shoppingbag  {
            0% {
                transform: translateY(0%);
            }
            50% {
                transform: translateY(-50px);
            }
            100% {
                transform: translateY(0%);
            }
        }
        .pick_up_bubble {
            width: 0;
            height:78px;
            position:absolute;
            background:url(../images/guide/wel_pickup_bubble.svg) no-repeat center center/ 97%;
            left:50%;
            top:38%;
            transform: translateX(-100%);
            z-index: 2;
            animation: wel_pick_up_bubble .8s forwards 1 .5s;
        }
        @keyframes wel_pick_up_bubble {
            0% {
                width:0;  
            }
     
            100% {
                width:135px;
            }
        }
    }
    .tit {
        text-align: center;
        line-height: 55px;
        letter-spacing: -1.1px;
        font-size: 44px;
        font-weight: 700;
        font-family:'Gmarket Sans'; 
        & > img {
            display: inline-block;
            margin:-13px 2px 0 3px;
        }
    }

    .pickup_step_area {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        position:relative;
        width:540px;
        margin: 54px auto 0 auto;
        &:before {
            content:"";
            position:absolute;
            width:calc(100% / 3 * 2 + 40px);
            height:1px;
            border-top: 1px dashed#000;
            top: 19px;
            left: calc(100% / 6 - 20px);

        }
        .pickup_step {
            position:relative; 
            text-align: center;
            .num_icon {
                width:40px;
                height:40px;
                margin:0 auto;
                margin-bottom:15px;
                z-index: 2;
                line-height:40px;
                text-align: center;
                font-size: 18px;
                font-weight: 700;
                background: url(../images/guide/wel_pickup_num.svg) no-repeat center /99%;
            }
            .step_icon {
                height:78px;
                margin:0 auto 16px auto;
            }
            .desc {
                min-width:130px;
                line-height: 25px;
                font-size: 20px;
                font-weight: 700;
                word-break:keep-all;
                letter-spacing: -0.5px;
                .point_line:before {
                    top: 12px;
                }
            }
            @for $pkn from 1 through 3 {
                &:nth-of-type(#{$pkn})  .step_icon {
                    background:url(../images/guide/wel_pickup_step#{$pkn}.svg) no-repeat center /contain;
                    
                }
            }
        }
        .point_line:before {
            height:12px;
        }
    }
    .review_bnf_desc_list {
        margin-top:25px;
    }
    .pickup_notice_area {
        padding:0 20px;
        width:708px; margin: 0 auto;
    }
    .pickup_notice_bubble {
        width:708px;
        position:relative;
        margin:45px auto 0 auto;
        padding:30px;
        background-color: #fff;
        border-radius: 12px;
        border:2px solid #000;
        text-align: center;
        box-sizing:border-box;

        &:before{
            content:"";
            position:absolute;
            width:18px;
            height:22px;
            background: url(../images/guide/wel_pickup_bubble_before.svg) no-repeat center center;
            left:50%;
            margin-left: -9px;
            top:-15px;
            z-index: 1;
        }
        .tit {
            margin-top:0;
            font-size: 28px;
            font-weight: 700;
            line-height:40px;
            margin-bottom:10px;
            font-family: inherit;
            .icon > img{
                transform: translateY(-3px);
            }
        }
        .notice_desc {
          line-height:22px;
          margin-bottom:20px;  
        }
        .to_external {
            position:relative;
            line-height: 20px;
            &:before {
                content:"";
                position:absolute;
                width: 6px;
                height:6px;
                left:100%;
                top:6px;
                margin-left:3px;
                border-top:1px solid;
                border-right:1px solid;
                transform: rotate(45deg);
            }
        }
    }
}
/***  ======================   HTR-P-COM-POP-101 (시스템 에러)  ============================= ***/
.system_err {
    text-align: center;
    .err_icon {
        width:140px; margin:0 auto 40px auto;
        & > img { 
            width:100%;
        }
    }
    .ht_tit04 {
        text-align: center;
    }
    .btn_area {
        margin-top: 60px;
        button {
            letter-spacing: -0.4px;
        }
    }

}

/***  =======================   HTR-P-COM-POP   ================================ ***/
/*pop_phone_info_msg*/
.pop_phone_info_msg {
    margin-top:28px;
    .sys_check{
        padding-top:76px;
        &:before {
            content:"";
            height:56px;
            background:url(../images/guide/ico_pop_system_check.svg) center/100% no-repeat;
    
        }
    }
    .sys_check_ing {
        padding-top:76px;
        &:before {
            content:"";
            height:56px;
            background:url(../images/guide/ico_pop_system_check_ing.svg) center/100% no-repeat;
        }
    }

}
.dialog_wrapper .ui-dialog .dialog_wrap.ui-dialog-content .dialog_footer.mgt60 {
    margin-top:30px; margin-bottom: -10px;
}
/* pop_box_info */
.pop_box_info {
    border-radius: 6px;
    .dl {
        display: block;margin-top:5px; overflow: hidden;letter-spacing: -0.014px;font-size: 14px;
        &:first-of-type {
            margin-top:0;
        }
    }
    .dt, .dd {
        line-height: 20px; float:left;
    }
    .dt {
        height:20px;line-height: 20px; font-weight:500;
    }
    .dd {
        margin-left:10px;height:20px;line-height: 20px;color:#595959;
    }
}
/* pop_info */
.pop_info {
    .none {
        padding-left:0;
        &:before {
           content:"";
        }
    }
}

/* welcome_toast */
.welcome_toast {
    left:40px;top:calc(100% - 40px);transform:translate(0, -100%);
    .toast_message{
        background: rgba(0,0,0,0);padding: 0 !important;justify-content: start; border:none;box-shadow:none;
    }
    .icon_toast {
        width:70px;
        height: 70px;
        margin-right:22px;
    }
    .txt_toast{
        min-width:347px;position:relative;background:#d4ff1a;border:2px solid #000;;border-radius:44px;padding:19px 40px 17px;box-sizing: border-box;
        color: #000;text-align: left;font-size: 16px;line-height:24px;font-weight:500;letter-spacing:-0.016px;
        &:before {
            position:absolute;left:-11px;top:50%;width:0;height:0;border-left:10px solid #000;border-top:7px solid transparent;border-bottom:7px solid transparent;content:"";transform:rotate(180deg);margin-top:-6px;z-index:2;
        }
        &:after {
            position:absolute;left:-7px;top:50%;width:0;height:0;border-left:10px solid #d4ff1a;border-top:7px solid transparent;border-bottom:7px solid transparent;content:"";transform:rotate(180deg);margin-top:-6px;z-index:2;
        }
        .btn_txt_more{
            display: inline-block;line-height:20px;margin-top:4px;margin-bottom:-7px;
            a{
                font-size: 14px;color: #595959;
            }
        }
    }
}
/* 이미지 팝업(하단): popImg01*/
.ui-dialog.dialog_bottom {
    align-self: flex-end;
    width: 100% !important;
    max-height: calc(100% - 134px) !important;
    margin: 0;
    transform: translateY(100%);
    -webkit-backface-visibility: hidden;
}
.dialog_wrapper.open {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .ui-dialog.dialog_bottom {
        animation: bottomPopAnimation 0.23s cubic-bezier(0.24, 0.6, 0.65, 1.01) forwards;
        -webkit-animation: bottomPopAnimation 0.23s cubic-bezier(0.24, 0.6, 0.65, 1.01) forwards;
    }
}
@keyframes bottomPopAnimation {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
} 

/* 이미지 팝업 */
.dialog_wrapper {
    .ui-dialog {
        // popImg01
        .dialog_wrap.btm_wel_wrap{
            width:1200px !important;margin:0 auto;padding:0; border-radius: 0;background-color:transparent;
            .dialog_header {
                background-color:transparent;padding:0;border-bottom:none;
                .form_chk input+label {
                    font-size: 13px;line-height: 19px;letter-spacing: -0.013px;color:#fff;
                    &:after {
                        background-image: url(../images/main/ico_checkbox_transparent.svg);
                    }
                    &:before {
                        background-color: transparent;border-color: #fff;
                    }
                }
                .form_chk input:checked+label{
                    &:after {
                        background-image: url(../images/main/ico_checkbox_transparent.svg);
                        background-size: 10px 7px;
                    }
                    &:before {
                        background-color: #da2128;border-color: #da2128;
                    }
                }
            }
            .btn_dialog_close {
                right:0;top:0;
                .ico_dialog_close {
                    background-image: url(../images/main/btn_dialog_close_white.svg);
                }
            }
            .dialog_contents {
                margin-top:12px;padding-bottom: 20px;background-color: transparent;
                .pop_belt_banner {
                   position:relative;overflow: hidden; border-radius: 12px;
                    &>img {
                        width:100%;
                    }
                }
                .evt_pop_content {
                   display: block; width: calc(100% - 138px);padding-left:78px; position:absolute; z-index: 2; left:60px; top:calc(50% - 10px); transform:translateY(-50%); text-align: left; color:#000;
                   .tag_wrap {
                       position:absolute;top:5px;left:0;
                        .tag_item{
                            color: #ffffff;padding: 4px 16px;background-color: #000000;border: 1px solid #000000;font-size: 14px;font-weight: 700;line-height: 19px;letter-spacing: -0.14px;
                        }
                    }

                    .main_msg{
                        font-size: 24px;color: #000;line-height: 35px;font-weight: 700;letter-spacing: -0.7px;letter-spacing: -0.24px;
                    }
                    .sub_txt{
                        font-size: 16px;color: #000; line-height: 24px;margin-top:3px;letter-spacing: -0.16px;
                    }

                }
            }
        }
        // popImg02
        .dialog_wrap.dialog_wrap_wel { 
            padding:0;
            .dialog_contents{
                &.img_pop{
                    position: relative;padding:0;
                    .evt_pop_img{
                        img{
                            width: 100%;
                        }
                    }
                    .tag_wrap {
                        .tag_item{
                            color: #ffffff;padding: 3px 15px 2px 12px;background-color: #000000;border: 1px solid #000000;font-size: 11px;font-weight: 700;line-height: 15px;letter-spacing: -0.011px;
                        }
                    }
                    .evt_pop_content{
                        position: absolute;top: 65px;left: 0;text-align: left;display: inline-block;padding: 0 32px;box-sizing:border-box;
                        .main_msg{
                            font-size: 28px;color: #000;width: 100%;line-height: 36px;font-weight: 700;margin-top: 12px;letter-spacing: -0.7px;
                        }
                        .sub_txt{
                            font-size: 13px;color: rgba(0,0,0,0.8); line-height: 18px;margin-top: 15px;
                        }
                    }
                }
            }

            .dialog_footer{
                &.no_margin_top{
                    margin-top:0;display: flex;
                    button.btn_line_white {
                        color:#767676; font-size: 14px;flex:1 1 auto;margin:0;position:relative;background:none;transition:background 0.4s;border-radius:0;border:none;
                        &:first-of-type:before{
                            content:"";position:absolute;width:1px;height:14px;background-color:#D5D5D5;left:100%;top:50%;transform: translateY(-50%);
                        }
                        &:active, &:focus, &:hover {
                            background:#f4f4f4;
                        }
                    }
                }
            }               
        }
    }
    
}
