@charset "UTF-8";
/*
    핫트랙스 GNB
*/
@import "_mixins.scss";



/****** GNB *****/
.gnb_hottracks_area {
    position:relative;padding-left:180px;height:370px;box-sizing:border-box;
}

/*** GNB 1Dep :ht_gnb_tab ***/
.ht_gnb_tab {
    position:absolute;left:0;top:0;width:180px;
    li {
        margin-top:10px;
        &:first-child {
            margin-top:0;
        }
    }
    a {
        display:block;position:relative;color:#595959;font-size:14px;font-weight:500;line-height:22px;
        span {
            display:inline-block;position:relative;padding-right:12px;vertical-align:top;
            &:after {
                position:absolute;right:0;top:6px;width:9px;height:9px;border:solid #da2128;border-width:2px 2px 0 0;transform:rotate(45deg) scale(0.48);transform-origin:right center;content:"";opacity:0;transition:opacity 0.4s;
            }
        }
        &:hover {
            color:#da2128;
        }
        &.active {
            color:#da2128;font-weight:700;
            span:after {
                opacity:1;
            }
        }
    }
}



/*** GNB 2Dep : .ht_gnb_area ***/
.ht_gnb_area {
    position:relative;overflow:hidden;
    .banner_box {
        float:right;width:200px;margin-left:0 !important;
    }
}
.wrapper .header_wrapper .ht_gnb_area .custom_scroll_wrap {
    max-height:340px !important;
}
.ht_gnb_box {
    position:relative;display:none;animation:fade both 0.6s;
}
.ht_gnb_cont {
    float:left;width:calc(100% - 200px);font-size:14px;line-height:22px;
}

/** ht_gnb **/
.ht_gnb {
    position:relative;overflow:hidden;
    .simplebar-content {
        padding-right:0 !important;
    }
    .li {
        position:relative;display:block;float:left;width:209px;height:370px;margin-left:50px;box-sizing:border-box;
        &:first-child {
            margin-left:0;
        }
        &.gnb2dep {
            a {
                color:#000;
            }
            .btn_ht_all {
                color:#000;font-size:14px;font-weight:700;line-height:22px;
                &:hover {
                    color:#da2128;
                }
            }
        }
        &.gnb4dep {
            width:189px;
        }
    }
    a {
        display:block;position:relative;font-size:13px;line-height:19px;transition:all 0.4s;
    }
    .btn_ht_all {
        display:block;margin-bottom:12px;color:#595959;font-size:13px;line-height:19px;transition:all 0.4s;
        span {
            display:inline-block;position:relative;padding-right:22px;vertical-align:top;
            &:before {
                position:absolute;right:0;top:1px;width:16px;height:16px;background-color:#eaeaea;border-radius:50%;content:"";
            }
            &:after {
                position:absolute;right:7px;top:6px;width:7px;height:7px;border:solid #000;border-width:2px 2px 0 0;transform:rotate(45deg) scale(0.46);transform-origin:right center;content:"";
            }
        }
        &:hover {
            color:#da2128;
        }
    }
}

/* gnb_menu_area */
.gnb_menu_area {
    position:relative;
    &:before {
        position:absolute;right:0;top:0;width:2px;height:340px;background:#f0f0f0;content:"";
    }
}

/* gnb_menu */
.gnb_menu { 
    position:relative;
    li {
        margin-top:12px;
        &:first-child {
            margin-top:0;
        }
        a {
            color:#595959;
            &.ht_gnb_arrow {
                padding-right:22px;
                span {
                    &:after {
                        position:absolute;right:2px;top:50%;width:9px;height:9px;margin-top:-4px;border:solid #ccc;border-width:2px 2px 0 0;transform:rotate(45deg) scale(0.48);transform-origin:right center;content:"";transition:all 0.4s;
                    }
                }
            }
            &.active {
                color:#da2128 !important;font-weight:700;
                span:after {
                    border-color:#da2128;
                }
            }
            &:hover {
                color:#da2128 !important;font-weight:700;
                span:after {
                    border-color:#da2128;
                }
            }
        }
        span {
            display:block;position:relative;
        }
    }
}

.gnb2dep {
    &:after {
        display:none;position:absolute;right:-122px;bottom:0;width:126px;height:86px;background:url('#{$imgUrl}layout/gnb_action.svg') center/100% no-repeat;content:"";animation:fade both 0.6s;
    }
}

.gnb3dep {
    margin-top:30px;
    .gnb_menu_area {
        display:none;animation:fade both 0.6s;
    }
    &:after {
        display:none;position:absolute;right:-122px;bottom:30px;width:126px;height:86px;background:url('#{$imgUrl}layout/gnb_action.svg') center/100% no-repeat;content:"";animation:fade both 0.6s;
    }
}

.gnb4dep {
    margin-top:30px;
    .gnb_menu_area {
        display:none;padding-top:30px;animation:fade both 0.6s;
        &:before {
            display:none;
        }
    }
}

.ht_gnb_cont {
    &.chk2 {
        .gnb2dep:after {
            display:block;
        }
        .gnb3dep:after {
            display:none;
        }
    }   
    &.chk3 {
        .gnb2dep:after {
            display:none;
        }
        .gnb3dep:after {
            display:block;
        }
    }
}







#tabAnbCategoryHotTracks .recommend_service_list .recommend_service_item .recommend_service_link .img_box {
    background:rgba(80,85,177,0.06);transition:background 0.4s;
    &:hover {
        background:rgba(80,85,177,0.12);
    }
}
#tabAnbCategoryHotTracks .recommend_service_list .recommend_service_item .recommend_service_link .title {
    margin:6px -10px 0 -10px;
}

