@charset "UTF-8";
/*
    Join
*/
@import "_mixins.scss";



/***** 비회원 주문조회 *****/
body, 
.wrapper {
    min-width:initial;
}
.ht_contents_wrap {
    text-align:center;min-height:100vh;margin-top:0;
}
.ht_join_wrap {
    max-width:380px;margin:0 auto;padding:8.5% 20px 80px 20px;box-sizing:border-box;text-align:center;
    .ht_join_logo {
        img {
            width:94px;
        }
    }
    .join_text {
        margin-top:64px;
        strong {
            font-size:24px;
        }
        p {
            margin-top:11px;color:#595959;font-size:15px;font-weight:400;line-height:23px;
        }
    }
    .ht_join_form {
        margin-top:40px;
        span:first-child {
            margin-top:0;
        }
        >span {
            display:block;margin-top:32px;font-size:15px;font-weight:500;text-align:left;
        }
        .form_sel {
            width:100%;margin-top:9px;
        }
        &.btn_cont_type {
            margin-top:38px;
            .btn_area {
                margin-top:24px;
                + span {
                    margin-top:12px;color:#595959;font-size:13px;font-weight:400;
                }
            }
            + .ht_join_info {
                padding:17px 0 19px 0;
            }
        }
    }
    .btn_area {
        margin-top:15px;
        button {
            width:100%;font-weight:700;
        }
    }
    .ht_join_info {
        background:#f7f7f7;margin-top:30px;padding:22px 0 19px 0;border-radius:6px;color:#595959;font-size:13px;line-height:19px;text-align:center;
        p {
            margin-top:5px;
        }
    }
}
.ht_join_copyright {
    position:absolute;left:50%;bottom:24px;font-size:11px;transform:translateX(-50%);
}










