@charset "UTF-8";
/*
    Join
*/
@import "_mixins.scss";


/***** 비회원 주문조회 *****/
body, 
.wrapper{
    min-width: initial;
}
.ht_contents_wrap {
    text-align: center;height: 100vh;margin-top:0;
    .ht_join_wrap{
        max-width: 380px;margin: 0 auto;padding: 8.5% 20px 0;box-sizing: border-box;
        .ht_join_logo{
            img{
                width: 94px;
            }
        }
        .join_text{
            margin-top: 64px;
            strong{
                font-size: 24px;
            }
            p{
                font-size: 15px;font-weight: 400;line-height: 23px;color: #595959;margin-top: 11px;
            }
        }
        .ht_join_form{
            margin-top: 40px;
            span:first-child{
                margin-top: 0;
            }
            >span{
                font-size: 15px;font-weight: 500;display: block;margin-top: 32px;text-align: left;
            }
            .form_sel{
                width: 100%;margin-top: 9px;
            }
            &.btn_cont_type{
                margin-top: 38px;
                .btn_area{
                    margin-top: 24px;
                    + span{
                        font-size: 13px;font-weight: 400;color: #595959;margin-top: 12px;
                    }
                }
                + .ht_join_info{
                    padding: 17px 0 19px 0;
                }
            }
        }
        .btn_area{
            margin-top: 15px;
            button{
                width: 100%;font-weight: 700;
            }
        }
        .ht_join_info{
            font-size: 13px;color: #595959;background: #F7F7F7;padding: 22px 0 19px 0;margin-top: 30px;border-radius: 6px;
            p{
                margin-top: 5px;
            }
        }
    }
    .copyright{
        position: absolute;bottom: 24px;left: 50%;transform: translateX(-50%);font-size: 11px;
    }
}