@charset "UTF-8";
/***** * 코너메뉴 : 선물추천 * *****/
/*** 선물추천 메인 : .gft_main ***/
/* btn_t_right */
.btn_t_right {
    &.btn_line_box_s {
        position:absolute;right:20px;top:3px;
    }
}

/* .gft_main */
.gft_main_tap{
    .tab_swiper.tab_txt.ty02 li a {
        font-size: 24px;
    }
    .btn_line_round{
        top: 20px !important;
        z-index: 1;
    }
}
.gft_main {
    background:#8965ff;
    .ht_tit_big02 {
        height:67px;text-align:center;opacity:1 !important;margin-bottom:5px;
        img {
            height:67px;
        }
    }
    .btn_more_view span {
        color:#fff !important;
    }
}

/* .gft_main_select */
.gft_main_select {
    position:relative;
}

/* .gft_main_msg */
.gft_main_msg {
    position:absolute;left:0;top:7px;width:100%;z-index:2;
    p {
        display:inline-block;position:relative;left:50%;padding: 18px 24px 13px 21px;background: #ffee24;border: solid #000;border-width: 3px 3px 3px 3px;border-radius: 30px;color: #000;font-size: 16px;font-weight: 600;line-height: 18px;-webkit-transform: translateX(-50%);transform: translateX(-50%);-webkit-animation: gftMainMsg both infinite 10s;animation: gftMainMsg both infinite 10s;
        &:before {
            position:absolute;left:50%;bottom:-11px;width:0;height:0;border-top:10px solid #000;border-left:9px solid transparent;border-right:9px solid transparent;content:"";transform:translateX(-50%);z-index:2; 
        }
        &:after {
            position:absolute;left:50%;bottom:-7px;width:0;height:0;border-top:10px solid #ffee24;border-left:9px solid transparent;border-right:9px solid transparent;content:"";transform:translateX(-50%);z-index:2;
        }
    }
}
@keyframes gftMainMsg{
0% {opacity:0;transform:translate(-50%, 50%) scale(0.6);}
5% {opacity:0;transform:translate(-50%, 50%) scale(0.6);}
10% {opacity:1;transform:translate(-50%, 0%) scale(1);}
97% {opacity:1;transform:translate(-50%, 0%) scale(1);}
100% {opacity:0;transform:translate(-50%, 50%) scale(0.6);}
}

/* gft_main_tab */
.gft_main_tab {
    position: relative;margin-bottom: 20px;padding-top: 70px;text-align: center;
    li {
        &:first-child{
            margin-left: 0;
        }
        display:inline-block;width: 100px;height: 90px;background: #fff;border: 3px solid #000;border-radius: 8px;-webkit-box-sizing: border-box;box-sizing: border-box;margin-left: 17px;
        p {
            display:none;position:relative;height:76px;padding:10px 2px;box-sizing:border-box;
            input {
                position:absolute;left:0;top:0;width:100%;height:100%;cursor:pointer;opacity:0;;
            }
            i {
                display:block;width:40px;margin:0 auto;
                img {
                    width:100%;
                }
            }
            span {
                display:block;margin-top:5px;color:#000;font-size:15px;font-weight:700;text-align:center;
            }
            &.on {
                display:block;
            }
        }
    }
}

/* gft_main_slider */
.gft_main_slider {
    &.ui-slider-horizontal {
        position:relative;height:20px;width: 324px;margin: 0 auto;;background:none;
        &:before {
            position:absolute;left:-5px;top:50%;width:calc(100% + 10px);height:3px;margin-top:-2px;background:#000;border-radius:2px;content:"";
        }
    }
    &.ui-slider .ui-slider-range {
        background:none;
        &:before {
            position:absolute;left:-5px;top:50%;width:calc(100% + 10px);height:3px;margin-top:-2px;background:#6e51cc;border-radius:2px;content:"";
        }
    }
    .ui-slider-handle {
        top:0;width:20px;height:20px;background:#fff;border:5px solid #000;border-radius:50%;box-sizing:border-box;outline:none;cursor: pointer;
    }
}

/* gft_slide_view */
.gft_slide_view {
    margin-top:40px;
    .show_replace{
        border-radius:0;
    }
    .evt_products {
        overflow:hidden;
        .product_info {
            .title{
                color:#fff;min-height:auto;
            }
            .price_line{
                .discount_rate{color: #d4ff1a;}
                .final_price{color:#fff;}
                .price_origin{color: #D5D5D5;}
            }
        }
    }
    &.len6 {
        .evt_products {
            display:block;margin:0px 0 0 0;padding:2px;background:#000;border: 1px solid #000;width: 100%;box-sizing: border-box;
            .prod_item {
                float:left;width:calc(16.666% - 0px);padding:2px;animation:wel_prod both 0.4s;box-sizing: border-box;margin: 0;
            }
            .product_pic {
                margin:0;border-radius:0;
                img{width: 100%;}
            }
            .evt_good_count {
                display:none;
            }
            .product_info {
                display:none;
            }
        }
    }
    &.len4 {
        margin-top:0;
        .show_replace{
            border-radius:12px;
        }
        .evt_products {
            display:block;margin:0px 0 0 -18px;padding:0px;background:none;
            .prod_item {
                float:left;width: calc(25% - 36px);margin: 40px 18px 0 18px;
            }
            .product_pic {
                margin:0;border-radius:12px;
            }
            .evt_good_count {
                display:inline-block;
            }
            .product_info {
                display:inline-block;
            }
        }
    }
    &.len2 {
        margin-top:40px;
        .evt_products {
            .prod_item {
                width:calc(50% - 36px);margin: 40px 18px 0 18px;
            }
        }
    }
    .prod_item {
        &:nth-child(10n + 1) {
            animation-delay:0.2s !important;
        }
        &:nth-child(10n + 2) {
            animation-delay:0.4s !important;
        }
        &:nth-child(10n + 3) {
            animation-delay:0.6s !important;
        }
        &:nth-child(10n + 4) {
            animation-delay:0.5s !important;
        }
        &:nth-child(10n + 5) {
            animation-delay:0.6s !important;
        }
        &:nth-child(10n + 6) {
            animation-delay:0.8s !important;
        }
        &:nth-child(10n + 7) {
            animation-delay:0.3s !important;
        }
        &:nth-child(10n + 8) {
            animation-delay:0.7s !important;
        }
        &:nth-child(10n + 9) {
            animation-delay:0.2s !important;
        }
        &:nth-child(10n + 10) {
            animation-delay:0.8s !important;
        }
    }
    @keyframes wel_prod{
        0% {opacity:0;transform:scale(0.5);}
        100% {opacity:1;transform:scale(1);}
    }
}



/*** 선물이 필요한 순간 핫트 하세요 : .gft_need_tit ***/
.gft_need_tit {
    &.ht_cont.ht_bg{
        padding:60px 0 0 0;
    }
    .ht_tit_big02 {
        font-family: 'Noto Sans KR';margin-bottom: 20px;
        img {
            display:inline-block;position:relative;height:63px;margin:-5px 2px 0 2px;z-index:2;
        }
    }
    .tab_swiper {
        opacity:1 !important;animation:none !important;
    }
    .tab_ty {
        &.swiper-container-horizontal{
            .swiper-wrapper{
                justify-content: initial;
            }
        }
        .swiper-wrapper{
            justify-content: center;
        }
    }
    .tab_txt{
        text-align:center;
        ul{
            display: inline-block;
        }
    }
    .evt_prod_list_wrap{
        position: relative;
    }
}

/* gft_need_main */
.gft_need_main {
    background:url('../images/main/bg_wel_md_pick.jpg') center/cover repeat-x;overflow:initial;
    h2 {
        margin-bottom:20px;text-align:center;
        img {
            height:103px;
        }
        p {
            font-size:18px;font-weight:400;line-height:24px;
        }
    }
    .bg_star img{
        position:absolute;
        &:nth-child(1) {
            left:-171px;top:290px;
        }
        &:nth-child(2) {
            right:307px;top:-30px;
        }
        &:nth-child(3) {
            right:-184px;bottom:12px;
        }
    }

    .gft_need_main_cont{
        width: calc(100% + 60px);
        .swiper-container{
            width:calc(100% - 60px);
            padding: 0 30px 0 0;
            .swiper-slide{
                &:before {
                    background:#fff;border:initial;box-shadow:15px 10px 20px -2px rgba(0, 0, 0, 0.16);position: absolute;left: 0;top: 0;width: 100%;height: 100%;box-sizing: border-box;border-radius: 12px;content: "";
                }
            }
        }
        .swiper-container-horizontal .swiper_control{
            margin-left: -30px;
        }

        .product_pic {
            border-radius: 12px 12px 0 0;z-index: 1;
            a:after{
                border:initial;
            }
        }
        .product_info {
            padding: 19px 30px 38px 30px;-webkit-box-sizing: border-box;box-sizing: border-box;
            .title{
                font-size: 20px;line-height: 30px;
            }
            .price_line{
                font-size: 24px;margin:10px 0 -6px 0;
                .price_origin{
                    font-size: 16px;
                }
            }
            .desc_line{
                font-size: 16px;line-height: 24px;padding-top: 52px;margin-top: 26px;border-top: 2px dotted #000;position:relative;
                &:before{
                    content: "“";display: inline-block;font-size: 54px;font-family: 'Gmarket Sans';font-weight: 700;position: absolute;top: 38px;
                }
            }
        }
    }
}

.ht_cont.ht_bg.gft_need{
    padding-top: 20px;
}

/* gft_need_msg */
.gft_need_msg {
    position:absolute;right: 13px;top: -31px;z-index: 2;
    &:before {
        position:absolute;right:0;top:0;width:68px;height:73px;background:url("../images/main/ico_gft_need_msg.svg") center/100% no-repeat;content:"";
    }
    p {
        position:relative;right:63px;top:11px;padding:16px 22px 13px 22px;background:#d4ff1a;border:solid #000;border-width:3px 3px 3px 3px;border-radius:30px;color:#000;font-size:16px;font-weight:700;line-height:18px;animation:gftNeedMsg both infinite 5s;
        &:before {
            position:absolute;right:-11px;top:50%;width:0;height:0;border-left:10px solid #000;border-top:7px solid transparent;border-bottom:7px solid transparent;content:"";transform:translateY(-51%);z-index:2;
        }
        &:after {
            position:absolute;right:-7px;top:50%;width:0;height:0;border-left:10px solid #d4ff1a;border-top:7px solid transparent;border-bottom:7px solid transparent;content:"";transform:translateY(-52%);z-index:2;
        }
    }
    &.ty02 {
        top:-6px;
        &:before {
            background-image:url("../images/main/ico_cur_new02.svg");
        } 
    }
}
@keyframes gftNeedMsg{
0% {opacity:0;transform:translateX(30%) scale(0.5);}
10% {opacity:0;transform:translateX(30%) scale(0.5);}
20% {opacity:1;transform:translateX(0%) scale(1);}
95% {opacity:1;transform:translateX(0%) scale(1);}
100% {opacity:0;transform:translateX(30%) scale(0.5);}
}



/*** 상세 팝업 ***/
/* pop_view_add */
.pop_view_add {
    display:none;position:fixed;left:0;bottom:0;width:100%;height:100%;z-index:100;
    &:before {
        position:absolute;left:0;top:0;width:100%;height:120%;background:rgba(0,0,0,0.5);content:"";opacity:0;transition:opacity 0.6s;
    }
    &.on {
        display:block;
        &:before {
            opacity:1;
        }
        .pop_view_add_cont {
            animation:pop_hero_op both 0.5s 0.2s;
        }
    }
    &.off {
        display:block;
        &:before {
            opacity:0;
        }
        .pop_view_add_cont {
            animation:pop_hero_cl both 0.5s 0s;
        }
    }
    .mc_dep:before{
        display:none;
    }
}

/* pop_view_add_cont */
.pop_view_add_cont {
    position:absolute;left:0;bottom:0;width:100%;max-width:750px;height:calc(100% - 60px);background:#fff;box-sizing:border-box;
    .mc_cont:first-child {
        padding-top:10px;
    }
}
@media only screen and (min-width:750px) {
    .pop_view_add_cont {
        left:50%;margin-left:-375px;
    }
}
.pop_view_add_inner {
    position:absolute;left:0;bottom:0;width:100%;height:calc(100% - 30px);box-sizing:border-box;overflow-y:auto;
}
.btn_pop_view_add_cl {
    position:absolute;left:0;top:2px;width:100%;height:25px;background:url("../images/main/btn_pop_view_add_cl.svg") center/25px no-repeat;
}



/** 선물이 고민된다면, 핫트에 물어보세요 : .gft_question **/
.gft_question {
    overflow:hidden;
    .ht_tit_big02 {
        img {
            height:27px;margin-left:10px;
        }
    }
    .ico_review_write{
        background: url(../images/guide/ico_review_white.svg) 0 0/15px 17px no-repeat;
    }
    .form_chk{
        position: absolute; top: -42px;
    }
}

/* gft_question_view */
.gft_question_view {
    padding-top:0;
    .gft_question_cont_list {
        &:before {
            display:none;
        }
    }
}
    


/* gft_question_cont_list */
.gft_question_cont_list {
    position:relative;margin-top:31px;
    &:before {
        position:absolute;right: 133px;top: -175px;width: 174px;height: 174px;background: url(../images/main/ico_gft_question_cont.svg) center no-repeat;content: "";background-size: 134px 157px;background-position: center 31px;transform: rotate(4deg);
    }
    .swiper-slide {
            width: 48.5%;border-radius: 12px;float: left;margin-left: 36px;
        &:nth-child(2n+1) {
            margin-left: 0px;
        }
        &:nth-child(n+3) {
            margin-top: 40px;
        }
    }
    .gft_question_box {
        &:before {
            border:2px solid #000;
        }
    }
}

/* gft_question_box */
.gft_question_box {
    position:relative;padding:31px 30px 67px 30px;box-sizing:border-box;border-radius:8px;overflow:hidden;
    &:before {
        position:absolute;left:0;top:0;width:100%;height:100%;border:1px solid #eaeaea;border-radius:8px;box-sizing:border-box;content:"";transition:border-color 0.4s 0.2s;z-index:2;
    }
    .gft_question_end_txt{
        display: none;
    }
}

/* gft_question_tit */
.gft_question_tit {
    position:relative;z-index:3;
    .s1 {
        margin-bottom:14px;color:#767676;font-size:12px;;
        span {
            position:relative;display:inline-block;margin-left:12px;color:#767676;font-size:12px;line-height:16px;white-space:nowrap;
            &:before{ 
                position:absolute;left:-9px;top:3px;width:1px;height:9px;background-color:#dcdcdc;content:"";
            }
            &:first-child {
                margin-left:0px;
                &:before {
                    display:none;
                }
            }
        }
        a {
            color:#767676;
        }
    }
    .s2 {
        color:#000;font-size:14px;font-weight:400;line-height:22px;;display:-webkit-box;text-overflow:ellipsis;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden;min-height: 66px;
    }
    .badge_line{
        margin-top: 14px;
    }
    .ico_participate_num {
        position:absolute;right:0;bottom:0;color:#767676;font-size:13px;
        span {
            display:inline-block;position:relative;padding-left:24px;line-height:213x;
            &:before {
                position:absolute;left:0;top:-3px;width:22px;height:22px;background:url("../images/main/ico_participate_num.svg") center/100% no-repeat;content:"";
            }
        }
    }
}

/* gft_question_chk */
.gft_question_chk {
    margin-top:17px;padding-top:20px;border-top:1px dashed #d5d5d5;text-align:center;
    > ul {
        position:relative;margin:0 -15px;font-size:0;;
    }
    li {
        display:inline-block;position: relative;width: calc(33.3% - 22px);margin: 0 9px;
        .img {
            position:relative;height:0;padding-top:100%;border-radius:12px;overflow:hidden;
            img {
                position:absolute;left:50%;top:50%;width:100%;height:auto;transform:translate(-50%,-50%);
            }
        }
        &.chk {
            .img:after {
                position:absolute;left:0;top:0;width:100%;height:100%;border:2px solid #000;border-radius:4px;box-sizing:border-box;content:"";
            }
        }
        .num {
            position:absolute;right:0;bottom:0;height:16px;padding:5px 8px;background:rgba(0,0,0,0.8);border-radius:12px 0 12px 0;color:#fff;font-size:14px;line-height:17px;z-index:4;display:none;
        }
        a, button {
            display:block;position:relative;z-index:3;
        }
    }
    input {
        position:absolute;left:0;top:0;width:100%;height:100%;border:0;overflow:hidden;z-index:2;opacity:0;cursor:pointer;
        + label {
            display:block;position:relative;padding-top:30px;overflow:hidden;cursor:pointer;transition:background 0.4s;
            &:before {
                position:absolute;left:50%;top:0;;width:22px;height:22px;margin-left:-11px;background:url('../images/guide/ico_checkborder.svg') center/21px no-repeat;content:"";transition:background 0.4s;
            }
        }
        &:checked + label:before {
            background:url('../images/guide/ico_checkborder_check03.svg') center/21px no-repeat;
        }
        &:disabled + label:before {
            background:url('../images/guide/ico_checkborder_disabled.svg') center/21px no-repeat;
        }
        &:disabled:checked + label:before {
            background:url('../images/guide/ico_checkborder_check02.svg') center/21px no-repeat;
        }
    }
    /*
    input:checked + label + .num {
        display:block;animation:fade both 0.4s;
    }*/
    &.on {
        .num {
            display:block;animation:fade both 0.4s;
        }
        li{
            input:disabled + label + .num {
                background: rgba(0, 0, 0, 0.3);
                + a{
                    opacity: 0.3; 
                }
            }
        }
    }

}

/* gft_question_bar */
.gft_question_bar {
    position:absolute;left:2px;bottom:2px;width:calc(100% - 4px);
    &:before {
        position:absolute;left:0;bottom:0;width:100%;height:10px;background:#f7edff;content:"";
    }
    .bar {
        position:absolute;left:0;bottom:0;height:10px;padding:0 15px;background:#b34eff;box-sizing: border-box;
        span {
            position:absolute;right: 15px;bottom: 19px;height: 25px;padding: 3px 7px 2px;margin: 0 -15px;background: #b34eff;border-radius: 31px;-webkit-transform: translateX(50%);transform: translateX(50%);color: #fff;font-size: 16px;font-weight: 700;line-height: 26px;
            &:after {
                position:absolute;right:50%;bottom:-3px;width:6px;height:6px;background:#b34eff;;border-radius:1px;;content:"";transform:translateX(50%) rotate(45deg);
            }
        }
        &.ed {
            span {
                right:23px;transform:translateX(0);
            }
        }
    }
}

/* 종료시 */
.gft_question_end {
    .gft_question_bar {
        display:none;
    }
    .gft_question_end_txt{
        display: inline-block;width: 100%;text-align: center;margin-top: 12px;
        p{
            font-size: 15px;font-weight: 700;color: #fff;background: #595959;padding: 7px 25px 4px;border-radius: 60px;display: inline-block;
        }
    }
    .gft_question_box {
        background:#fafafa;padding:31px 30px 23px 30px;
        &:before {
            border:1px solid #eaeaea;
        }
    }
    .gft_question_chk {
        li .num {
            display:block;
        }
        input:checked + label + .num + a{
            .img{
                border: 3px solid #292929;box-sizing: border-box;padding-top: 96%;
            }
        }
    }
    .s2 {
        color:#767676;
    }
    .badge_line .badge{
        color:#767676;
    }
    input:disabled + label:before {
        background: url(../images/guide/ico_checkborder.svg) center/21px no-repeat;
    }
}
.gft_question_msg {
    position:absolute;left:0;bottom:14px;width:100%;text-align:center;
    span {
        display:inline-block;height:30px;padding:0 20px;background:#595959;border-radius:15px;color:#fff;font-size:13px;font-weight:700;line-height:30px;
    }
}

/* mc_s_cont */
.mc_s_cont {
    margin-top:35px;
    &:first-child {
        margin-top:0;
    }
    .chk_list_ty.ty02 {
        margin-top:-31px;
    }
}

/* chk_list_ty */
.chk_list_ty {
    position:relative;margin:-8px 0 0 -8px;font-size:0;
    li {
        display:inline-block;position:relative;margin:8px 0 0 8px;
        input {
            position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;cursor:pointer;
            &:checked + label {
                background:#fff;border-color:#da2128;color:#da2128;
            }
        }   
        label {
            display:block;height:36px;padding:0 13px;background:#f7f7f7;border:1px solid #eaeaea;border-radius:18px;box-sizing:border-box;color:#000;font-size:13px;line-height:35px;transition:all 0.4s;
        }
    }
    &.ty02 {
        label {
            height:32px;padding:0 13px;background:#fff;border:1px solid #eaeaea;border-radius:18px;box-sizing:border-box;color:#595959;line-height:31px;
        }
        input {
            &:checked + label {
                background:#000;border-color:#000;color:#fff;
            }
        }   
    }
}



/*** 선물 상세 : .gft_prod ***/
.gft_prod {
    .ht_tit_big02 {
        img {
            height:27px;margin-left:10px;
        }
    }
    .tab_swiper, .mc_txt02 {
        opacity:1;animation:none !important;
    }
    .mc_txt02 {
        margin:8px 0 16px 0;color:#767676;font-size:12px;line-height:18px;
    }
}
.tit_top_list {
    position:relative;padding-bottom:15px;
    &:after {
        position:absolute;left:-20px;bottom:15px;width:calc(100% + 40px);height:1px;background:rgba(213, 213, 213, 0.4);content:"";
    }
    .tab_ty {
        a {
            height:36px;padding:0 15px;line-height:36px;
        }
    }
    &.ty02 {
        padding-bottom:0;
        &:after {
            display:none;
        }
    }
}

/* fixed_btn_select */
.fixed_btn_select {
    display:none;position:fixed;left:0;bottom:0;width:100%;max-width:750px;padding:16px 20px 40px 20px;background:#fff;border-top:1px solid #eaeaea;box-sizing:border-box;z-index:5;
    .file_list {
        margin:0 -10px;
        .list_item {
            width:calc(33.3% - 20px);margin:0 10px;
            .btn_box {
                width:100%;height:0;padding-top:100%;
                label {
                    position: absolute;left:0;top:0;
                }
            }
        }
        .file_item {
            display:block;
        }

    }
    .dialog_footer {
        margin-top:16px;
        button {
            width:100%;
        }
    }
    &.on {
        display:block;
        animation:pop_hero_op both 0.5s 0.2s;
    }
    &.off {
        display:block;
        animation:pop_hero_cl both 0.5s 0s;
    }

}
@media only screen and (min-width:750px) {
    .fixed_btn_select {
        left:50%;margin-left:-375px;
    }
}

/* 선물 고민 쓰기 : 상세 */
.gft_select_view {
    position:relative;margin:-20px -20px 0 -20px;padding:0 20px 16px 20px;border-bottom:1px solid #eee;
    ul {
        position:relative;margin:0 -10px;font-size:0;
        li {
            display:inline-block;position:relative;width:calc(33.3% - 20px);margin:0 10px;vertical-align:top;text-align:center;
            .ico {
                margin-bottom:4px;color:#000;font-size:15px;font-weight:700;line-height:19px;
            }
            .img {
                position:relative;height:0;padding-top:100%;background:#f7f7f7;border-radius:4px;overflow:hidden;
                img {
                    position:absolute;left:50%;top:50%;width:100%;height:auto;transform:translate(-50%,-50%);
                }
            }
        }
    }
}
.gft_select_view + .mc_cont_s {
    margin-top:25px;
}

/* 슬라이드 : gft_view_slider_cont */
.gft_view_slider_cont {
    margin-bottom:35px;padding:0 15px;
}
.gft_view_slider {
    &.ui-slider-horizontal {
        position:relative;height:16px;margin:0 9px;background:none;
        &:before {
            position:absolute;left:-24px;top:50%;width:calc(100% + 48px);height:3px;margin-top:-2px;background:#d5d5d5;border-radius:2px;content:"";
        }
    }
    &.ui-slider .ui-slider-range {
        background:none;
        &:before {
            position:absolute;left:-24px;top:50%;width:calc(100% + 48px);height:3px;margin-top:-2px;background:#d5d5d5;border-radius:2px;content:"";
        }
    }
    .ui-slider-handle {
        top:0;width:16px;height:16px;background:#fff;border:5px solid #000;border-radius:50%;box-sizing:border-box;outline:none;
    }
}
.gft_view_slider_txt {
    position:relative;margin:7px 5px 0 5px;
    ul{
        display:table;table-layout:fixed;width:calc(100% + 14.3%);margin-left:-7.1%;box-sizing:border-box;color:#767676;font-size:12px;line-height:12px;text-align:center;
    }
    
    li {
        display:table-cell;
    }
}




