@charset "UTF-8";
/***** * 코너메뉴 : 큐레이션 * *****/

/*** 큐레이션 : .cur_main ***/
.wel_curation.cur_main {
    .cur_eyebrow {
        position:relative;margin-bottom:16px;color:#000;font-size:20px;font-weight:700;line-height:24px;text-align:center;letter-spacing:10px;
        span {
            display:inline-block;position:relative;padding:0 1px;color:#000;z-index: 1;
            &:before {
                position:absolute;left:-7px;top:9px;width:calc(100% + 4px);height:16px;background:#2ff37d;content:"";z-index:0;animation:pointLine2 both ease-in infinite 6s;z-index: -1;
            }
        }
    }
    .ht_tit_big img{
        width: 520px;
    }
    &.ht_cont {
        padding: 60px 0 80px;
    }
    .wel_curation_cont .ico_bg_warp img:nth-child(2) {
        bottom: -80px;
    }
}


/*** 이럴 땐? 이런상품 : .cur_prod ***/
.cur_prod {
    padding:60px 20px;
    .ht_tit_big02 {
        font-family:'Gmarket Sans';font-weight:500;letter-spacing: -0.38px;margin-bottom: 17px;
        img {
            display:inline-block;width:39px;margin:-19px 0 -20px 7px;
        }
    }
    .tab_ty{
        margin-bottom: 20px; 
    }
    .cur_prod_content{
        border: 2px solid #000;border-radius: 12px;padding: 28px 29px;box-sizing: border-box;
    }
    .cur_prod_top{
        display: table;width: 100%;
        .cur_prod_txt_warp{
            display: table-cell;vertical-align: middle;padding-left: 70px;padding-right: 70px;
            
            strong{
                font-size: 30px;line-height: 40px;
            }
            p{
                font-size: 15px;line-height: 22px;margin-top: 11px;letter-spacing: -0.15px;
            }
            .round_ty{
                padding: 0 !important;margin-top: 18px;
                span{
                    font-size: 12px;color: #000;height: 34px;line-height: 34px;margin-left: 6px;margin-top: 6px;
                    &:first-child{
                        margin-left: 0;
                    }
                }
            }
        }
        .cur_prod_detail{
            float: right;border-radius: 12px;overflow: hidden;width: 443px; height: 289px;
        }
        &:after{
            clear: both;display: block;content: "";
        }
    }
}




// Tab Slide 영역 
.tab_view_img_cont{
    position: relative;
    .tab_swiper {
        .swiper-wrapper{
            justify-content: center;
        }
    }
    .swiper_control {
        position: initial;
        .swiper-button-prev{
            top: 49%;left: -22px;position: absolute;
        }
        .swiper-button-next{
            top: 49%;right: -22px;left:initial;position: absolute;
        }
        .swiper-button-next:after, .swiper-button-prev:after{
            background: rgba(0, 0, 0, 0.4) url(../images/guide/btn_banner_pagn_w.svg) center no-repeat;-webkit-transition: all 0.4s;transition: all 0.4s;border: 0;
        }
    }
    .cur_tab_contents_warp{
        .swiper-slide{
            &.swiper-slide-thumb-active{
                a{
                    color: #fff;
                    &:before {
                        background: #000;
                    }
                }
            }
        }
    }
}
.cur_new_detail{
    .swiper_control {
        position: initial;
        .swiper-button-prev{
            top: 36%;
        }
        .swiper-button-next{
            top: 36%;
        }
    }
}




.cur_prod_bottom{
    .cur_prod_wrapper{
        &:after{
            clear: both;display: block;content: "";
        }
    }
    .cur_prod_item{
        &:first-child{
            margin-left: 0;
        }
        position: relative;width: calc(20% - 16px);margin-left: 20px;float: left;margin-top:20px;
        .cur_product_pic{
            border-radius: 12px;overflow: hidden;
            img{
                width: 100%;
            }
        }
        .cur_product_info{
            position: absolute;top: 0;left: 0;width: 100%;height: 100%;margin-top: 0;background-color: rgba(0, 0, 0, 0.6);border-radius: 12px;opacity: 0;-webkit-transition: opacity 0.5s;transition: opacity 0.5s;
        }
        .cur_product_info_inner{
            position: absolute;left: 0;top: 50%;width: 100%;padding: 12px 21px;-webkit-box-sizing: border-box;box-sizing: border-box;-webkit-transform: translateY(-40%);transform: translateY(-40%);-webkit-transition: -webkit-transform 0.3s;transition: -webkit-transform 0.3s;transition: transform 0.3s;transition: transform 0.3s, -webkit-transform 0.3s;
            .title{
                font-size: 14px;font-weight: 400;color: #fff;line-height: 24px; letter-spacing: -0.14px;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;display: -webkit-box;
            }
            .price_line{
                font-size: 16px;line-height: 24px;color: #fff;font-weight: 700;
            }
            .desc{
                padding-top: 19px;margin-bottom: 21px;padding-right: 20px;position: relative;color:#fff;
                &:before {
                    display: inline-block;position: absolute;left: 0;top: -9px;font-family: 'Gmarket Sans';height: 26px;font-size: 51px;content: "“";
                }
                &:after {
                    display: inline-block;position: absolute;right: 0;bottom: -15px;font-family: 'Gmarket Sans';height: 26px;font-size: 51px;content: "”";
                }
                p {
                    font-weight: 700;text-overflow: ellipsis;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;display: -webkit-box;color:#fff;font-size:14px;line-height:22px;
                }
                + .title {
                    border-top: 1px dashed rgba(255, 255, 255, 0.4);margin-top: 20px;padding-top: 14px;font-weight: 400;
                }
            }
        }
        a:hover{
            .cur_product_info{
                opacity: 1;
            }
            .cur_product_info_inner{
                -webkit-transform: translateY(-50%);transform: translateY(-50%);
            }
        }
    }
}



/*** What’s in your bag : .cur_new ***/
.cur_new{
    .ht_tit_big02 {
        margin-bottom: 17px;
        .sub_tit{
            font-size: 16px;line-height: 24px;color: #767676;margin-top: 13px;font-weight: 400;letter-spacing: -0.16px;font-family: Roboto,"Noto Sans KR","PingFang SC","Apple SD Gothic Neo","Microsoft YaHei UI","Malgun Gothic",sans-serif;
        }
    }
    .cur_prod_bottom{
        .cur_prod_item{
            width: calc(20% - 29px);margin-left: 36px;
            &:first-child{
                margin-left: 0;
            }
        }
    }
    &.cur_new_detail{
        .cur_new_msg{
            top: 98px;
        }
        .point_line.ty10:before {
            background: #BFF06F;
            height: 14px;
            top: 28px;
        }
        .tab_ty {
            margin-bottom: 20px;
            a {
                width: 50px; padding: 13px 0 11px 0;
            }
        }
    }
    .cur_new_top{
        display: table;width: 100%;
        .cur_new_vis{
            width: 688px;
            img{
                width: 100%;
            }
            .cur_new_md{
                background: #292929;padding: 21px 31px;display: table;width: 100%;box-sizing: border-box;display: table;
                .md_thumb{
                    border-radius: 50%;overflow: hidden;width: 68px;height: 68px;float: left;border: 1px solid #000;
                    img{
                        width: 100%;
                    }
                }
                &:after {
                    display: block;clear: both;content: "";
                }
                .md_desc{
                    color: #fff;font-size: 16px;font-weight:500;display: table-cell;vertical-align: middle;padding-left: 21px;padding-top: 2px;width:100%;
                    .md_name{
                        font-weight: 700;
                    }
                }
            }
        }
        &:after {
            clear: both;content: "";display: block;
        }

        .cur_new_txt_warp{
            border: 2px solid #000; -webkit-box-sizing: border-box; box-sizing: border-box;padding: 28px;position: relative;display: table-cell;vertical-align: middle;
            strong{
                font-size: 20px;line-height: 30px;letter-spacing: -0.2px;padding: 2px 36px 0;display: block;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;display: -webkit-box; position: relative;
                &:before{
                    display: inline-block;position: absolute;left: 3px;top: 15px;font-family: 'Gmarket Sans';height: 26px;font-size: 51px;content: "“";
                }
                &:after{
                    display: inline-block;position: absolute;right: 32px;bottom: 15px;font-family: 'Gmarket Sans';height: 26px;font-size: 51px;content: "”";
                }
            }
            p{
                font-size: 16px;line-height: 24px;letter-spacing: -0.16px;margin-top: 20px;
            }
            &:before{
                position: absolute;right: 58px;bottom: -32px;width: 0;height: 0;border-left: 32px solid #000;border-bottom: 40px solid transparent;content: "";z-index: 2;
            }
            &:after{
                position: absolute;right: 57px;bottom: -27px;width: 0;height: 0;border-left: 31px solid #fff;border-bottom: 39px solid transparent;content: "";z-index: 2;
            }
        }
    }
    .cur_prod_bottom{
        margin-top: 28px;
    }
    padding-top:72px;overflow:hidden;
    .ht_tit_big02 {
        font-family:'Gmarket Sans';font-weight:500;letter-spacing: -0.38px;
    }
    .wel_cont {
        opacity:1 !important;animation:none !important;
    }
}

/* cur_new_msg */
.cur_new_msg {
    position:absolute;right:0px;top:40px;z-index:2;
    &:before {
        position:absolute;right:0;top:-75px;width:80px;height:80px;background:url("../images/main/ico_cur_new.svg") center/100% no-repeat;content:"";
    }
    p {
        position:relative;right:78px;top:-48px;padding:12px 19px 10px 18px;background:#d4ff1a;border:solid #000;border-width:2px 2px 3px 2px;border-radius:30px;color:#000;font-size:16px;font-weight:500;line-height:18px;animation:curNewMsg both infinite 5s;
        &:before {
            position:absolute;right:-11px;top:50%;width:0;height:0;border-left:10px solid #000;border-top:7px solid transparent;border-bottom:7px solid transparent;content:"";transform:translateY(-51%);z-index:2;
        }
        &:after {
            position:absolute;right:-7px;top:50%;width:0;height:0;border-left:10px solid #d4ff1a;border-top:7px solid transparent;border-bottom:7px solid transparent;content:"";transform:translateY(-52%);z-index:2;
        }
    }
    &.ty02 {
        top:-6px;
        &:before {
            background-image:url("../images/main/ico_cur_new02.svg"); 
        } 
    }
}
@keyframes curNewMsg{
0% {opacity:0;transform:translateX(30%) scale(0.5);}
10% {opacity:0;transform:translateX(30%) scale(0.5);}
20% {opacity:1;transform:translateX(0%) scale(1);}
95% {opacity:1;transform:translateX(0%) scale(1);}
100% {opacity:0;transform:translateX(30%) scale(0.5);}
}

/* cur_new_img */
.cur_new_img {
    margin:0 -20px;overflow:hidden;
    img {
        width:100%;
    }
}
.movie_frame {
    position:relative;height:0;padding-top:56%;
    iframe {
        position:absolute;left:0;top:0;width:100%;height:100%;border:0;
    }
}


.prod4_banner .evt_products {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: -40px 0 0 0;
  }
  
.prod4_banner .prod_item {
margin: 40px 0 0 0;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
margin-right: 36px;
}




/*** 라이프스타일 큐레이션: .cur_life_detail ***/
.cur_life_detail{
    .wel_curation_cont .curation_box_list_warp {
        padding-bottom: 118.2%;width: 584px;
        > .curation_box_list:nth-child(1){
            height: 100%;width: 100%;border: 0;border-right: 2px solid #000;
        }
    }
    .cur_detail{
        display: table;border: 2px solid #000;
        &:after{
            display: block;content: "";clear: both;
        }
        .cur_detail_txt{
            strong{
                font-size: 30px;line-height: 40px;letter-spacing: -0.3px;position: relative;
                &:before{
                    background: url(../images/main/ico_cur_curation02.svg) no-repeat;content: "";width: 50px;height: 50px;display: inline-block;background-size: contain;position: absolute;top: -67px;
                }
            }
            p{
                font-size: 16px;line-height: 24px;letter-spacing: -0.16px;margin-top: 20px;
            }
        }
        .cur_detail_txt_warp{
            width: 52.3%;padding: 62px;box-sizing: border-box;display: table-cell;vertical-align: middle;position: relative;
            .point_line.ty11:before {
                background: #FFFE58;height: 14px;
            }
            .ico_bg_warp{
                img:nth-child(1){    
                    position: absolute;top: 33px;right: 34px;transform: scaleY(-1);}
                img:nth-child(2){    
                    position: absolute;bottom: 23px;right: 25px;}
            }
        }
    }
}






/* end */

/*** 맞춤추천 비로그인 : .cur_join_msg ***/
.cur_join_msg {
    text-align:center;
    .contents_inner {
        position:relative;margin-top:40px;
    }
    &:before {
        position:absolute;left:50%;top:40px;width:110px;height:110px;background:url("../images/main/ico_cur_join.svg") center/100% no-repeat;content:"";transform:translateX(-50%);
    }
    p {
        padding-top:120px;font-size:20px;font-weight:500;line-height:30px;
        strong {
            font-weight:500;
        }
    }
}



/*** 실시간 쇼핑 검색어 ***/
.cur_search {
    .ht_tit {
        opacity:1;animation:none !important;
    }
}

/* end */












/*** 최근에 검색하셨나요? : .cur_recent ***/
.cur_recent {
    background:#f5ede2 url("../images/main/bg_wel_curation.jpg") center top/32px repeat;
    .ht_tit {
        img {
            height:48px;margin-bottom:-10px;
        }
    }
    .tab_ty02 {
        a {
            color:#000;
            &:before {
                border-color:#000;color:#000;
            }
            &.on {
                color:#fff;
            }
        }
    }
    .cur_prod_img {
        margin:20px 0 0 0;
        .swiper-slide {
            width:calc((100% - 40px) / 3);
            &:first-child {
                margin-left:0;
            }
            &:last-child {
                margin-right:0;
            }
        }
        .img {
            &:after {
                position:absolute;left:0;top:0;width:100%;height:100%;border:1px solid #000;border-radius:8px;box-sizing:border-box;content:"";
            }
        }
    }
}



/*** 상품과 기획전을 추천 : .cur_recommend ***/
.cur_recommend {
    .ht_tit {
        img {
            display:inline-block;height:27px;margin-left:10px;
        }
    }
    .cur_prod_banner {  
        margin:22px 0 20px 0;
    }
    .ht_tit + .prod_list {
        margin-top:-10px;
    }
}

/* cur_prod_banner */
.cur_prod_banner {
    position:relative;display:flex;position:relative;width:100%;height:88px;padding:10px 20px;box-sizing:border-box;background:center /auto 80px no-repeat;border-radius:4px;align-items:center;justify-content:left;overflow:hidden;
    .ico {
        display:flex;position:absolute;right:18px;top:50%;width:48px;height:48px;background:url("../images/main/ico_perc02.svg") center/100% no-repeat;color:#fff;font-size:12px;font-weight:700;line-height:18px;text-align:center;flex-direction:column;justify-content:center;align-items:center;transform:translateY(-50%);
    }
    .txt {
        width:75%;
        .s1 {
            font-size:14px;font-weight:700;line-height:22px;
        }
        .s2 {
            font-size:12px;line-height:17px;
        }
        .s1 + .s2 {
            margin-top:4px;
        } 
    }
}



/*** 찜한 브랜드 : .cur_brand_select ***/
.cur_brand_select {
    .ht_tit {
        img {
            height:28px;margin-left:4px;
        }
    }
}



/*** 이 브랜드 어떠세요? : .cur_brand_recommend ***/
.cur_brand_recommend {
    .ht_tit {
        img {
            height:28px;margin-left:4px;
        }
    }
    .cur_brand_cont {
        padding:0;background:#fff;
        .cur_brand_tit {
            background:#f4f4f4;border-radius:8px;
            .s1 {
                a {
                    display:flex;width:100%;height:60px;padding:5px 10px 5px 64px;align-items:center;justify-content:left;
                }
                .img {
                    position:absolute;left:10px;top:10px;width:40px;height:40px;border-radius:50%;overflow:hidden;
                    img {
                        position:absolute;left:50%;top:50%;width:100%;height:auto;transform:translate(-50%,-50%);
                    }
                }
            }
        }
    }
}

/* cur_brand_cont */
.cur_brand_cont {
    position:relative;margin:20px -20px 25px -20px;padding:30px 0 40px 0;background:#f7f7f7;
    .cur_brand_tit {
        position:relative;margin:0 20px;
        .s1 {
            position:relative;color:#000;font-size:14px;font-weight:500;line-height:20px;
            a {
                display:block;position:relative;
            }
            span {
                display:inline-block;position:relative;max-width:calc(100% - 20px);padding-right:12px;/*white-space:nowrap;text-overflow:ellipsis;overflow:hidden;*/
                &:after {
                    position:absolute;right:2px;top:50%;width:7px;height:7px;margin-top:-5px;border:solid #767676;border-width:1px 1px 0 0;transform:rotate(45deg);content:"";overflow:hidden;
                }
            }
        }
        .s2 {
            color:#767676;font-size:12px;line-height:18px;
        }
    }
}



/*** 최근 본 상품을 추천 : .cur_prod_view ***/
.cur_prod_view {
    overflow:hidden;
    .ht_tit {
        img {
            display:inline-block;height:27px;margin-left:10px;
        }
    }
    
}

/* cur_prod_view_list */
.cur_prod_view_list {
    position:relative;margin:0 -20px -20px -20px;padding:10px 20px 60px 20px;z-index:2;
    .swiper-slide {
        width:64px;height:64px;margin-right:12px;
        &:last-child {
            margin-right:0;
        }
        .img {
            position:relative;height:0;margin-bottom:15px;padding-top:100%;background:#f7f7f7;border-radius:4px;overflow:hidden;
            img {
                position:absolute;left:50%;top:50%;width:100%;height:auto;transform:translate(-50%,-50%);opacity:0.5;transition:opacity 0.4s;
            }
            &:after {
                position:absolute;left:0;top:0;width:100%;height:100%;border:3px solid #000;border-radius:4px;box-sizing:border-box;content:"";opacity:0;transition:opacity 0.4s;
            }
        }
        .txt {
            display:none;position:absolute;left:0;top:72px;width:calc(100vw - 40px);max-width:700px;
            span {
                display:inline-block;padding:8px 15px;
                background:#000;color:#fff;font-size:12px;font-weight:500;line-height:18px;border-radius:18px;
                &:after {
                    position:absolute;left:27px;top:-6px;width:0;height:0;border-bottom:7px solid #000;border-left:6px solid transparent;border-right:6px solid transparent;content:"";
                }                    
            }
        }
        &:nth-last-child(-n + 3) {
            .txt {
                left:inherit;right:0;text-align:right;
                span {
                    &:after {
                        left:inherit;right:27px;
                    }  
                }     
            }
        }
    }
    .on {
        .img {
            img {
                opacity:1;
            }
            &:after {
                opacity:1;
            }
        }
        .txt {
            display:block;
        }
    }
}

/* cur_prod_view_cont */
.cur_prod_view_cont {
    position:relative;margin:0 -20px;
}
