@charset "UTF-8";
/***** * 코너메뉴 :큐레이션 * *****/









// Tab Slide 영역 
.tab_view_img_cont{
    position:relative;
    .tab_swiper {
        .swiper-wrapper{
            justify-content:center;
        }
    }
    .swiper_control {
        position:initial;
        .swiper-button-prev{
            top:49%;left:-22px;position:absolute;
        }
        .swiper-button-next{
            top:49%;right:-22px;left:initial;position:absolute;
        }
        .swiper-button-next:after, .swiper-button-prev:after{
            background:rgba(0, 0, 0, 0.4) url(../images/guide/btn_banner_pagn_w.svg) center no-repeat;-webkit-transition:all 0.4s;transition:all 0.4s;border:0;
        }
    }
    .cur_tab_contents_warp{
        .swiper-slide{
            &.aswiper-slide-active{
                a{
                    color:#fff;
                    &:before {
                        background:#000;
                    }
                }
            }
        }
    }
}

// What’s in your bag의 Tab Slide
.tab_num_swiper_cont{
    position:relative;z-index:2;
    .tab_swiper{
        position:absolute;top:0;left:50%; transform:translateX(-50%);width:100%;height:50px;width:885px;
    }
    .swiper-pagination{
        bottom:0px;justify-content:center;
        .swiper-pagination-bullet{
            font-size:16px;background:#fff;border-radius:50%;width:50px;height:50px;border:1px solid #D5D5D5;line-height:50px;font-weight:700;color:#595959;opacity:1;margin-left:9px;box-sizing:border-box;margin-right:0;transition:all 0.4s;
            &:first-child{
                margin-left:0;
            }
            &.swiper-pagination-bullet-active{
                color:#fff;
                background:#000;
            }
        }
    }
    .tab_swiper_cont{
        .swiper_control{
            position:initial
        }
        .swiper-pagination{
            display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;-o-transition-property:transform;transition-property:transform;transition-property:transform,-webkit-transform;-webkit-box-sizing:content-box;box-sizing:content-box;
        }
        .swiper-button-next{
            top:0; right:0;
            &.swiper-button-disabled {
                display:none;
            }
        }
        .swiper-button-prev{
            top:0; left:0;
            &.swiper-button-disabled {
                display:none;
            }
        }
        .swiper-button-next:after, .swiper-button-prev:after{
            position:absolute;left:0;top:0;width:100%;height:100%;background:#fff url(../images/guide/btn_banner_pagn.svg) center no-repeat;border:1px solid #ccc;border-radius:50%;-webkit-box-sizing:border-box;box-sizing:border-box;vertical-align:top;-webkit-transition:background 0.4s;transition:background 0.4s;content:""; 
        }
    }
    .tab_num_swiper{
        padding-top:70px;overflow:hidden; 
    }
    .swiper-button-prev{
        top:39%;left:-22px;position:absolute;z-index:3;
    }
    .swiper-button-next{
        top:39%;right:-22px;left:initial;position:absolute;z-index:3;
    }
    .swiper-button-next:after, .swiper-button-prev:after{
        background:rgba(0, 0, 0, 0.4) url(../images/guide/btn_banner_pagn_w.svg) center no-repeat;-webkit-transition:all 0.4s;transition:all 0.4s;border:0;
    }
}







// Tab Slide 영역 
.tab_view_img_cont{
    position:relative;
    .tab_swiper {
        .swiper-wrapper{
            /*justify-content:center;*/
        }
    }
    .swiper_control {
        position:initial;
        .swiper-button-prev{
            top:49%;left:-22px;position:absolute;
        }
        .swiper-button-next{
            top:49%;right:-22px;left:initial;position:absolute;
        }
        .swiper-button-next:after, .swiper-button-prev:after{
            background:rgba(0, 0, 0, 0.4) url(../images/guide/btn_banner_pagn_w.svg) center no-repeat;-webkit-transition:all 0.4s;transition:all 0.4s;border:0;
        }
    }
    .cur_tab_contents_warp{
        .swiper-slide{
            &.swiper-slide-active{
                a{
                    color:#fff;
                    &:before {
                        background:#000;
                    }
                }
            }
        }
    }
}


// What’s in your bag의 Tab Slide
.test_now{
    position:relative;z-index:2;
    .aaa {
        overflow: hidden;
    }
    /*.tab_swiper{
        position:absolute;top:0;left:50%; transform:translateX(-50%);width:100%;height:50px;width:885px;
    }*/
    /*
    .swiper-pagination{
        position: relative;
        bottom:0px;justify-content:center;
        .swiper-pagination-bullet{
            font-size:16px;background:#fff;border-radius:0;height:50px;border:1px solid #D5D5D5;line-height:50px;font-weight:700;color:#595959;opacity:1;margin-left:9px;box-sizing:border-box;margin-right:0;transition:all 0.4s;
            &:first-child{
                margin-left:0;
            }
            &.swiper-pagination-bullet-active{
                color:#fff;
                background:#000;
            }
        }
    }*/
    .swiper-pagination {
        position:static;
        .swiper-pagination-bullet {
            width:auto;height:auto;border-radius:0;background:none;
        }
    }
    /*
    .tab_swiper_cont{
        .swiper_control{
            position:initial
        }
        .swiper-pagination{
            display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;-o-transition-property:transform;transition-property:transform;transition-property:transform,-webkit-transform;-webkit-box-sizing:content-box;box-sizing:content-box;
        }
        .swiper-button-next{
            top:0; right:0;
            &.swiper-button-disabled {
                display:none;
            }
        }
        .swiper-button-prev{
            top:0; left:0;
            &.swiper-button-disabled {
                display:none;
            }
        }
        .swiper-button-next:after, .swiper-button-prev:after{
            position:absolute;left:0;top:0;width:100%;height:100%;background:#fff url(../images/guide/btn_banner_pagn.svg) center no-repeat;border:1px solid #ccc;border-radius:50%;-webkit-box-sizing:border-box;box-sizing:border-box;vertical-align:top;-webkit-transition:background 0.4s;transition:background 0.4s;content:""; 
        }
    }*/
    /*
    .tab_num_swiper{
        padding-top:70px;overflow:hidden; 
    }
    .swiper-button-prev{
        top:39%;left:-22px;position:absolute;z-index:3;
    }
    .swiper-button-next{
        top:39%;right:-22px;left:initial;position:absolute;z-index:3;
    }
    .swiper-button-next:after, .swiper-button-prev:after{
        background:rgba(0, 0, 0, 0.4) url(../images/guide/btn_banner_pagn_w.svg) center no-repeat;-webkit-transition:all 0.4s;transition:all 0.4s;border:0;
    }*/
}


















/* end */



/* end */












/*** 최근에 검색하셨나요? :.cur_recent ***/
.cur_recent {
    background:#f5ede2 url("../images/main/bg_wel_curation.jpg") center top/32px repeat;
    .ht_tit {
        img {
            height:48px;margin-bottom:-10px;
        }
    }
    .tab_ty02 {
        a {
            color:#000;
            &:before {
                border-color:#000;color:#000;
            }
            &.on {
                color:#fff;
            }
        }
    }
    .cur_prod_img {
        margin:20px 0 0 0;
        .swiper-slide {
            width:calc((100% - 40px) / 3);
            &:first-child {
                margin-left:0;
            }
            &:last-child {
                margin-right:0;
            }
        }
        .img {
            &:after {
                position:absolute;left:0;top:0;width:100%;height:100%;border:1px solid #000;border-radius:8px;box-sizing:border-box;content:"";
            }
        }
    }
}



/*** 상품과 기획전을 추천 :.cur_recommend ***/
.cur_recommend {
    .ht_tit {
        img {
            display:inline-block;height:27px;margin-left:10px;
        }
    }
    .cur_prod_banner {  
        margin:22px 0 20px 0;
    }
    .ht_tit + .prod_list {
        margin-top:-10px;
    }
}

/* cur_prod_banner */
.cur_prod_banner {
    position:relative;display:flex;position:relative;width:100%;height:88px;padding:10px 20px;box-sizing:border-box;background:center /auto 80px no-repeat;border-radius:4px;align-items:center;justify-content:left;overflow:hidden;
    .ico {
        display:flex;position:absolute;right:18px;top:50%;width:48px;height:48px;background:url("../images/main/ico_perc02.svg") center/100% no-repeat;color:#fff;font-size:12px;font-weight:700;line-height:18px;text-align:center;flex-direction:column;justify-content:center;align-items:center;transform:translateY(-50%);
    }
    .txt {
        width:75%;
        .s1 {
            font-size:14px;font-weight:700;line-height:22px;
        }
        .s2 {
            font-size:12px;line-height:17px;
        }
        .s1 + .s2 {
            margin-top:4px;
        } 
    }
}



/*** 찜한 브랜드 :.cur_brand_select ***/
.cur_brand_select {
    .ht_tit {
        img {
            height:28px;margin-left:4px;
        }
    }
}



/*** 이 브랜드 어떠세요? :.cur_brand_recommend ***/
.cur_brand_recommend {
    .ht_tit {
        img {
            height:28px;margin-left:4px;
        }
    }
    .cur_brand_cont {
        padding:0;background:#fff;
        .cur_brand_tit {
            background:#f4f4f4;border-radius:8px;
            .s1 {
                a {
                    display:flex;width:100%;height:60px;padding:5px 10px 5px 64px;align-items:center;justify-content:left;
                }
                .img {
                    position:absolute;left:10px;top:10px;width:40px;height:40px;border-radius:50%;overflow:hidden;
                    img {
                        position:absolute;left:50%;top:50%;width:100%;height:auto;transform:translate(-50%,-50%);
                    }
                }
            }
        }
    }
}

/* cur_brand_cont */
.cur_brand_cont {
    position:relative;margin:20px -20px 25px -20px;padding:30px 0 40px 0;background:#f7f7f7;
    .cur_brand_tit {
        position:relative;margin:0 20px;
        .s1 {
            position:relative;color:#000;font-size:14px;font-weight:500;line-height:20px;
            a {
                display:block;position:relative;
            }
            span {
                display:inline-block;position:relative;max-width:calc(100% - 20px);padding-right:12px;/*white-space:nowrap;text-overflow:ellipsis;overflow:hidden;*/
                &:after {
                    position:absolute;right:2px;top:50%;width:7px;height:7px;margin-top:-5px;border:solid #767676;border-width:1px 1px 0 0;transform:rotate(45deg);content:"";overflow:hidden;
                }
            }
        }
        .s2 {
            color:#767676;font-size:12px;line-height:18px;
        }
    }
}



/*** 최근 본 상품을 추천 :.cur_prod_view ***/
.cur_prod_view {
    overflow:hidden;
    .ht_tit {
        img {
            display:inline-block;height:27px;margin-left:10px;
        }
    }
    
}

/* cur_prod_view_list */
.cur_prod_view_list {
    position:relative;margin:0 -20px -20px -20px;padding:10px 20px 60px 20px;z-index:2;
    .swiper-slide {
        width:64px;height:64px;margin-right:12px;
        &:last-child {
            margin-right:0;
        }
        .img {
            position:relative;height:0;margin-bottom:15px;padding-top:100%;background:#f7f7f7;border-radius:4px;overflow:hidden;
            img {
                position:absolute;left:50%;top:50%;width:100%;height:auto;transform:translate(-50%,-50%);opacity:0.5;transition:opacity 0.4s;
            }
            &:after {
                position:absolute;left:0;top:0;width:100%;height:100%;border:3px solid #000;border-radius:4px;box-sizing:border-box;content:"";opacity:0;transition:opacity 0.4s;
            }
        }
        .txt {
            display:none;position:absolute;left:0;top:72px;width:calc(100vw - 40px);max-width:700px;
            span {
                display:inline-block;padding:8px 15px;
                background:#000;color:#fff;font-size:12px;font-weight:500;line-height:18px;border-radius:18px;
                &:after {
                    position:absolute;left:27px;top:-6px;width:0;height:0;border-bottom:7px solid #000;border-left:6px solid transparent;border-right:6px solid transparent;content:"";
                }                    
            }
        }
    }
    .on {
        .img {
            img {
                opacity:1;
            }
            &:after {
                opacity:1;
            }
        }
        .txt {
            display:block;
        }
    }
}

/* cur_prod_view_cont */
.cur_prod_view_cont {
    position:relative;margin:0 -20px;
}
