@charset "UTF-8";
/***** Popip Contents *****/
/* .evt_pop_content */
.evt_pop_content {
    display:flex;justify-content:center;align-items:center;width:100%;min-height:70px;color:#595959;font-size:14px;font-weight:500;line-height:22px;text-align:center;
}


/* pop_info_msg */
.pop_info_msg {
    padding:0 10px;
    p {
        position:relative;text-align:center;
        &.s1 {
            color:#000;font-size:15px;font-weight:700;line-height:23px;
        }
        &.s2 {
            color:#595959;font-size:13px;font-weight:400;line-height:19px;
        }
    }
    .ico {
        height:56px;margin-bottom:10px;
    }
    .s1 + .s2 {
        margin-top:8px;
    }
}

/* pop_phone_info_msg */
.pop_phone_info_msg {
    margin-bottom:21px;
    p {
        position:relative;padding-top:58px;color:#000;font-size:14px;font-weight:700;line-height:22px;text-align:center;
        &:before {
            position:absolute;left:50%;top:0;width:56px;height:48px;margin-left:-28px;background:url('../images/guide/ico_pop_phone_info_msg.svg') center/100% no-repeat;content:"";
        }
    }
}

/* pop_box_info */
.pop_box_info {
    position:relative;padding:20px;background:#f7f7f7;border-radius:4px;box-sizing:border-box;text-align:left;
    .tit {
        margin-bottom:5px;color:#000;font-size:14px;font-weight:500;line-height:22px;
    }
}

/* pop_info */
.pop_info {
    margin-top:13px;letter-spacing:-0.4px;text-align:left;
    li {
        position:relative;margin-top:4px;padding-left:8px;color:#767676;font-size:13px;line-height:19px;
        &:before {
            position:absolute;left:0;top:1px;font-size:11px;content:"*";
        }
        &:first-child {
            margin-top:0;
        }
    }
}

/* info_box */
.info_box {
    position:relative;padding:20px;background:#f7f7f7;border-radius:4px;
    .tit {
        color:#000;font-size:14px;font-weight:700;line-height:20px;
    }
    .tit + ul {
        margin-top:8px;
    }

    li {
        position:relative;margin-top:10px;padding-left:8px;color:#595959;font-size:13px;font-weight:400;line-height:19px;
        &:before {
            position:absolute;left:0;top:8px;width:3px;height:3px;background:#999;border-radius:50%;content:"";
        }
        &:first-child {
            margin-top:0;
        }
        .point {
            color:#000;font-weight:400;text-decoration:underline;
        }
    }
}








/*** 팝업 - 제품 ***/
.pop_head_box {
    position:relative;margin-bottom:40px;padding:73px 0 40px;border-bottom:1px solid #eaeaea;text-align:center;
    &:before {
        position: absolute;left:50%;top:0;width:60px;height:60px;margin-left:-30px;background:url('../images/guide/ico_pop_head_box.svg') center/100% no-repeat;content:"";
    }
    .s1 {
        margin-bottom:7px;color:#000;font-size:15px;font-weight:700;line-height:23px;
    }
    .s2 {
        margin-bottom:13px;color:#000;font-size:13px;font-weight:400;line-height:19px;
    }
    .s3 {
        color:#767676;font-size:12px;font-weight:400;line-height:18px;
    }
}











/*** 3교제 커스텀 ***/
/* 리뷰작성 */
.review_prod_info + .form_wrap.type_md {
    margin-top:24px;
}
.form_wrap.type_md {
    .form_box {
        .form_title {
            .form_label {
                font-size:15px;line-height:23px;;
            }
        }
    }

}
.tag_wrap button.tag_item.active {
    background-color:#fff;border-color:#da2128;color:#da2128;
}




/* 3교제 작업중 : 리뷰작성 */
.thumbnail_product_item:after {
    display:none;
}
.thumbnail_product_item {
    display:flex;justify-content: flex-start;align-items:center;flex-direction:row;width:auto;min-width:250px;min-height:10px;
}
.dialog_wrapper .ui-dialog .dialog_wrap.ui-dialog-content .dialog_contents .thumbnail_round_box .thumbnail_product_item .info_area {
    margin:0;padding:0 0 0 20px;
}
.dialog_wrapper .ui-dialog .dialog_wrap.ui-dialog-content .dialog_contents .thumbnail_round_box .thumbnail_product_item .thumbnail_area {
    width:94px;border-radius:6px;overflow:hidden;
    img {
        width:100%;
    }
}
.thumbnail_product_item .info_area .info_product_name {
    padding-top:7px;font-size:14px;font-weight:500;line-height:22px;;
}
.thumbnail_product_item .info_area .rating-container {
    margin-top:15px;
}
.rating-container.has_caption .caption .caption-badge .val {
    color:#da2128;
}
.rating-container .rating-stars .empty-stars .star .glyphicon-star-empty:before {
    background-image:url('../images/guide/empty_star.svg');
}
.rating-container .rating-stars .filled-stars .star .glyphicon-star:before {
    background-image:url('../images/guide/filled_star.svg');
}



.info_text {
    &.font_size_def {
        margin-bottom:10px;;
        color:#000;font-size:15px;font-weight:500;line-height:23px;
    }
}
.title_wrap.title_size_def {
    padding-bottom:10px;
}


