@charset "UTF-8";
/*
    Popup
*/

/***** Popup Contents *****/
/* .evt_pop_content */
.evt_pop_content {
    display:flex;justify-content:center;align-items:center;width:100%;min-height:70px;color:#595959;font-size:14px;font-weight:500;line-height:22px;text-align:center;
    &.del_msg {
        min-height:auto;line-height:23px;margin-bottom:-4px;letter-spacing:-1px;font-size:15px;color:#000;
    }
  
}

/* pop_info_msg */
.pop_info_msg {
    padding:0 10px;
    p {
        position:relative;text-align:center;
        &.s1 {
            color:#000;font-size:15px;font-weight:700;line-height:23px;
        }
        &.s2 {
            color:#595959;font-size:13px;font-weight:400;line-height:19px;
        }
    }
    .ico {
        height:56px;margin-bottom:10px;
    }
    .s1 + .s2 {
        margin-top:8px;
    }
}

/* pop_phone_info_msg */
.pop_phone_info_msg {
    margin-bottom:21px;
    p {
        position:relative;padding-top:58px;color:#000;font-size:14px;font-weight:700;line-height:22px;text-align:center;
        &:before {
            position:absolute;left:50%;top:0;width:56px;height:48px;margin-left:-28px;background:url('../images/guide/ico_pop_phone_info_msg.svg') center/100% no-repeat;content:"";
        }
    }
}

/* pop_box_info */
.pop_box_info {
    position:relative;padding:20px;background:#f7f7f7;border-radius:4px;box-sizing:border-box;text-align:left;
    .tit {
        margin-bottom:5px;color:#000;font-size:14px;font-weight:500;line-height:22px;
    }
}

/* pop_info */
.pop_info {
    margin-top:13px;letter-spacing:-0.4px;text-align:left;
    li {
        position:relative;margin-top:4px;padding-left:8px;color:#767676;font-size:13px;line-height:19px;
        &:before {
            position:absolute;left:0;top:1px;font-size:11px;content:"*";
        }
        &:first-child {
            margin-top:0;
        }
    }
}

/* info_box */
.info_box {
    position:relative;padding:20px;background:#f7f7f7;border-radius:4px;
    .tit {
        color:#000;font-size:14px;font-weight:700;line-height:20px;
    }
    .tit + ul {
        margin-top:8px;
    }

    li {
        position:relative;margin-top:10px;padding-left:8px;color:#595959;font-size:13px;font-weight:400;line-height:19px;
        &:before {
            position:absolute;left:0;top:8px;width:3px;height:3px;background:#999;border-radius:50%;content:"";
        }
        &:first-child {
            margin-top:0;
        }
        .point {
            color:#000;font-weight:400;text-decoration:underline;
        }
    }
}





/***** 팝업 - 제품 *****/
.pop_head_box {
    position:relative;margin-bottom:40px;padding:73px 0 40px;border-bottom:1px solid #eaeaea;text-align:center;
    &:before {
        position:absolute;left:50%;top:0;width:60px;height:60px;margin-left:-30px;background:url('../images/guide/ico_pop_head_box.svg') center/100% no-repeat;content:"";
    }
    .s1 {
        margin-bottom:7px;color:#000;font-size:15px;font-weight:700;line-height:23px;
    }
    .s2 {
        margin-bottom:13px;color:#000;font-size:13px;font-weight:400;line-height:19px;
    }
    .s3 {
        color:#767676;font-size:12px;font-weight:400;line-height:18px;
    }
}





/***** 카테고리 메인 *****/
/*** 브랜드 골라보기 ***/
.brand_search_wrap {
    position:relative;margin-top:-1px !important;z-index:2;
    .form_search_box {
        margin-bottom:20px;
    }
    .cks_list {
        .cks_item {
            margin-bottom:20px;
            &:last-of-type {
                margin-bottom:0;
            }
        }
        .form_chk>label {
            color:#595959;font-size:13px;
        }
        .emp {
            position:relative;padding:155px 10px 65px 10px;color:#767676;font-size:16px;line-height:24px;text-align:center;
            &:before {
                position:absolute;left:50%;top:80px;width:60px;height:60px;margin-left:-30px;background:url(../images/guide/no_search_data_icon.svg) center/100% no-repeat;content:"";
            }
        }
    }
    .btn_area {
        padding-left:49px;font-size:0;
        button {
            width:100%;
        }
        .btn_reset {
            position:absolute;left:0;top:0;width:44px;min-width:auto;height:44px;padding:0;background:url('../images/guide/ico_rest.svg') center / 18px no-repeat;border:1px solid #000;
        }
    }
}



/*** 만년필이 궁금하세요 ***/
.pen_pop_wrap {
    margin-top:-1px !important;padding-top:1px;background:#fff;font-size:14px;line-height:22px;
    .tab_menu_a {
        display:table;width:100%;table-layout:fixed;height:42px;border-bottom:2px solid #000;margin-bottom:30px;
        a {
            position:relative;display:table-cell;padding:3px 0 0 0;color:#767676;text-align:center;vertical-align:middle;transition:all 0.4s;
            &:before {
                position:absolute;left:0;top:0;width:100%;height:42px;border:solid #d5d5d5;border-width:1px 0 0 1px;border-radius:6px 6px 0 0;box-sizing:border-box;content:"";
            }
            &:last-child:before {
                border-width:1px 1px 0 1px;
            }
            &.on {
                color:#000;font-weight:700;z-index:2;
                &:before {
                    border-color:#000;border-width:2px 2px 0 2px;
                }
                &:after {
                   width:calc(100% - 4px);height:8px;position:absolute;left:2px;top:calc(100% - 4px);background-color:#fff;content:"";
                }
            }
        }
    }
    .pen_title {
        margin-bottom:20px;color:#595959;
    }
    .sc_box_s1,
    .sc_box_s3,
    .sc_box_s4 {
        &:before {
            position:absolute;right:0;width:2px;height:100%;background:#f0f0f0;content:"";
        }
        .simplebar-content {
            padding-right:0 !important;
        }    
    }
    .sc_box_s1 {
        position:relative;min-height:calc(75vh - 200px) !important;
        .pen_story {
            min-height:calc(75vh - 200px);
        }
    }
    .sc_box_s3 {
        position:relative;min-height:calc(75vh - 147px) !important;
        .pen_story {
            min-height:calc(75vh - 147px);
        }
    }
    .sc_box_s4 {
        position:relative;min-height:calc(75vh - 158px) !important;
        .pen_story {
            min-height:calc(75vh - 158px);
        }
    }
}

.tab_ty.pen_sub_menu_wrap {
    margin:0;padding:0 0 20px 0;
    li:not(:first-of-type) {
        margin-left:6px;
    }
    li a {
        padding:0 13px;
    }
}


/** pen_story **/
.pen_story {
    position:relative;margin-right:18px;padding:40px;border:1px solid #000;border-radius:12px;box-sizing:border-box;letter-spacing:-0.3px;text-align:left;
    .ht_cont_s {
        overflow:hidden;
    }
    .pen_half {
        float:left;width:calc(50% - 20px);margin-left:40px;
        &:first-child {
            margin-left:0;
        }
    }
    .ht_tit05 {
        margin-bottom:22px;
        .point_line:before {
            top:15px;height:11px;
        }
    }
    img {
        width:100%;
    }
    .desc {
        position:relative;margin-bottom:40px;overflow:hidden;
        &:last-child {
            margin-bottom:0;
        }
        .tit {
            margin-bottom:15px;color:#000;font-size:14px;font-weight:700;line-height:22px;
        }
        .txt {
            float:left;width:calc(50% - 20px);
        }
        .img {
            float:right;width:calc(50% - 20px);
        }
        p {
            margin-top:15px;
            &:first-child {
                margin-top:0;
            }
        }
        p + ul,
        p + ol {
            margin-top:15px;
        }
        img + ul,
        img + ol {
            margin-top:20px;
        }
        &.left {
            .txt {
                float:right;
            }
            .img {
                float:left;
            }
        }
    }
    .desc_txt {
        margin:-10px 0 25px 0;
    }
    .point {
        color:#da2128 !important;
    }
    .desc_color {
        color:#595959;
    }
    .desc_bold {
        font-weight:500;
    }
    .desc + .img_resp {
        margin-top:-25px;
    }
    .img_resp {
        margin-top:15px;
    }
}
.pen_cont {
    display:none;
    &.on {
        display:block;animation:fade both .5s;
    }
}

/* desc_li */
.desc_li {
    position:relative;
    .li {
        position:relative;padding:10px 0 8px 0;border-top:1px solid #eaeaea;
        &:first-child {
            padding-top:0;border-top:0;
        }
        .tit {
            position:relative;padding-left:55px;font-weight:700;
            em {
                position:absolute;left:0;top:0;color:#474c98;
            }
        }
    }
    &.desc_li_big {
        .li {
            padding:20px 0;
            &:first-child {
                padding-top:0;
            }
            .txt_s {
                margin:15px 0 0 55px;
                li {
                    position:relative;margin-top:10px;padding-left:34px;
                    &:first-child {
                        margin-top:0;
                    }
                    em {
                        position:absolute;left:0;top:0;
                    }
                }
            }
            .img_s {
                margin:10px 0 0 55px;
                img {
                    width:410px;
                }
            }
        }
        &.ty02 {
            .tit {
                padding-left:0;
            }
            .txt_s {
                margin-left:0;
            }
        }
    }
}

/* 필기구 용어사전 */
.desc_li02 {
    position:relative;
    .li {
        position:relative;padding:20px 0;border-top:1px solid #eaeaea;
        .tit {
            position:absolute;left:0;top:13px;color:#da2128;font-size:36px;font-weight:700;line-height:36px;
        }
        ul {
            margin-top:0 !important;
            &.desc_br {
                margin-top:4px !important;
            }
        }
        li {
            position:relative;margin-top:20px;padding-left:120px;
            &:first-child {
                margin-top:0;
            }
            strong {
                display:block;margin-bottom:10px;font-weight:700;
            }
        }
    }
}

/* desc_num */
.desc_num {
    li {
        position:relative;margin-top:4px;padding-left:24px;
        &:first-child {
            margin-top:0;
        }
        em {
            position:absolute;left:0;top:0;
        }
    }
    .desc_br {
        li {
            margin-top:4px;
        }
    }
}

/* desc_br */
.desc_br {
    li {
        position:relative;margin-top:4px;padding-left:8px !important;color:#595959;
        &:before {
            position:absolute;left:0;top:8px;width:3px;height:3px;background-color:#999;border-radius:50%;content:"";
        }
    }
}

/* pop_qna */
.pen_qna {
    .ht_tit05 {
        margin-bottom:12px;
    }
}
.pop_qna {
    position:relative;
    li {
        padding:20px 0;border-top:1px solid #eaeaea;
        &:first-child {
            border-top:2px solid #000;
        }
    }
    .fold_question + .fold_question {
        margin-top:16px;padding-top:0;border-top:0;
        &:before {
            top:0;
        }
        &:after {
            top:21px;
        }
    }
}










/***** 3교제 커스텀 *****/
/* 리뷰작성 */
.review_prod_info + .form_wrap.type_md {
    margin-top:24px;
}
.form_wrap.type_md {
    .form_box {
        .form_title {
            .form_label {
                font-size:15px;line-height:23px;
            }
        }
    }

}
.tag_wrap button.tag_item.active {
    background-color:#fff;border-color:#da2128;color:#da2128;
}
.thumbnail_product_item:after {
    display:none;
}
.thumbnail_product_item {
    display:flex;justify-content:flex-start;align-items:center;flex-direction:row;width:auto;min-width:250px;min-height:10px;
}
.dialog_wrapper .ui-dialog .dialog_wrap.ui-dialog-content .dialog_contents .thumbnail_round_box .thumbnail_product_item .info_area {
    margin:0;padding:0 0 0 20px;
}
.dialog_wrapper .ui-dialog .dialog_wrap.ui-dialog-content .dialog_contents .thumbnail_round_box .thumbnail_product_item .thumbnail_area {
    width:94px;border-radius:6px;overflow:hidden;
    img {
        width:100%;
    }
}
.thumbnail_product_item .info_area .info_product_name {
    padding-top:7px;font-size:14px;font-weight:500;line-height:22px;
}
.thumbnail_product_item .info_area .rating-container {
    margin-top:15px;
}
.rating-container.has_caption .caption .caption-badge .val {
    color:#da2128;
}
.rating-container .rating-stars .empty-stars .star .glyphicon-star-empty:before {
    background-image:url('../images/guide/empty_star.svg');
}
.rating-container .rating-stars .filled-stars .star .glyphicon-star:before {
    background-image:url('../images/guide/filled_star.svg');
}


.info_text {
    &.font_size_def {
        margin-bottom:10px;
        color:#000;font-size:15px;font-weight:500;line-height:23px;
    }
}
.title_wrap.title_size_def {
    padding-bottom:10px;
}









