@charset "UTF-8";
/*
    공통
*/
@import "_mixins.scss";



/***** 쿠폰/ 혜택 *****/
.wel_coupon {
    padding:100px 0;background:#000 url('#{$imgUrl}guide/cpon_area_bg.svg') center /1200px 571px no-repeat;color:#fff;
    .ht_tit_big {
        margin-bottom:10px;color:#fff;font-size:60px;line-height:76px;letter-spacing:-1px;
        & > img {
            width:56px;margin-top:-7px;margin-left:5px;
        }
    }
    .point_line:before {
        top:44px;
    }
    .ht_tit06 {
        margin-bottom:18px;color:#fff;font-weight:400;line-height:22px;letter-spacing:0;text-align:center;
    }
    .btn_wel_live {
        padding:0 29px;font-weight:500;
    }
}

/* cpon_subscription_wrap */
.cpon_subscription_wrap {
    width:479px;margin:0 auto;
    .cpon {
        position:relative;margin-bottom:10px;padding:30px;background-color:#fff;border-radius:8px;color:#000;
        &:last-of-type {
            margin-bottom:0;
        }
        &:before {          
            position:absolute;left:36px;top:-6px;width:12px;height:12px;background-color:#000;border-radius:50%;content:"";
        }
        &:after {
            position:absolute;left:36px;bottom:-6px;width:12px;height:12px;background-color:#000;border-radius:50%;content:"";
        }
        .cpon_name {
            margin-bottom:5px;font-weight:700;line-height:22px;text-align:center;
        }
        .cpon_kind {
            margin-bottom:2px;font-family:'Gmarket Sans';font-size:30px;font-weight:700;line-height:32px;text-align:center;
        }
        .cpon_desc {
            color:#767676;font-size:16px;line-height:24px;text-align:center;
        }
        .dash {
            position:absolute;left:42px;top:0;width:1px;height:100%;border-left:1px dashed #000;
        }
        .barcode {
            position:absolute;right:0;top:50%;width:16px;height:40px;margin-top:-20px;background:url('#{$imgUrl}guide/cpon_barcode.svg') no-repeat  center center/ cover;
        }
    }
}

/* member_bnf_list */
.member_bnf_list {
    display:flex;flex-flow:row nowrap;justify-content:space-between;width:720px;margin:0 auto;
    .membet_bnf_item {
        width:160px;min-height:100% !important;
        .icon {
            width:160px;height:160px;margin-bottom:15px;padding:35px;background-color:#fff;border-radius:50%;box-sizing:border-box;text-align:center;overflow:hidden;
            & > img {
                height:100%;
            }
        }
        .bnf_name {
            margin-bottom:4px;font-size:24px;font-weight:700;line-height:32px;text-align:center;
        }
        .bnf_amount {
            color:#d4ff1a;font-size:20px;line-height:29px;text-align:center;
        }
    }

}



/***  다양한 혜택 :.wel_benefits ***/
.wel_benefits {
    &.bg_color {
        background-color:#f7f7f7;
    }
    .ht_tit_big02 {
        margin-bottom:16px;font-family:'Gmarket Sans';font-weight:500;line-height:50px;letter-spacing:-1px;
    }
    .point_line:before {
        top:20px;
    }
    .benefits {
        display:flex;flex-flow:row wrap;justify-content:space-between;width:994px;margin:0 auto;
        .benefit_item {
            display:inline-flex;flex-flow:row nowrap;justify-content:flex-start;position:relative;width:479px;padding:34px 40px 34px 116px;border-bottom:1px solid #eaeaea;box-sizing:border-box;
            &:nth-of-type(1),
            &:nth-of-type(2) {
                border-top:1px solid #808080;
            } 
            &:nth-of-type(2n + 1) {
                margin-right:36px;
            }
            .icon {
                position:absolute;left:30px;top:24px;width:70px;height:70px;
                img {
                    width:100%;
                }
            }
            .bnf_tit {
                margin-bottom:7px;font-size:20px;font-weight:700;line-height:30px;
            }
            .bnf_sub {
                color:#767676;font-size:16px;line-height:24px;
            }
        }
    }
}



/*** 또 다른 혜택 ***/
/* bnf_card_area_top */
.bnf_card_area_top {
    display:flex;flex-flow:row nowrap;
}
.bnf_card_area_top + .bnf_card_area_btm {
    margin-top:30px;
}
.bnf_card {
    position:relative;width:582px;min-height:312px;padding:40px 30px 30px 40px;background-color:#ff224e;border:2px solid #000;border-radius:12px;box-sizing:border-box;overflow:hidden;
    &.ty01 {
        margin-right:36px;color:#fff;
        .to_external {
            color:#fff;
        }
    }
    &.ty02 {
        background-color:#ffeb01;
        .to_external:before {
            border-color:#000;
        }
        .bnf_card_foot {
            margin-top:65px;
        }
    }
    .card_tit {
        margin-bottom:17px;font-size:24px;font-weight:700;line-height:35px;
        
    }
    .to_external {
        position:relative;font-size:18px;line-height:26px;opacity:0.8;
        &:before {
            position:absolute;right:-12px;top:6px;width:8px;height:8px;border-top:1px solid rgba(255,555,255,0.8);border-right:1px solid rgba(255,555,255,0.8);transform:rotate(45deg);content:"";
        }
    }
    .bnf_card_foot {
        position:absolute;right:28px;bottom:28px;
        .company {
            font-family:'Gmarket Sans';font-size:14px;line-height:34px;
        }
        .alliance { 
            display:inline-block;position:relative;top:7px;height:22px;margin-left:-4px;margin-right:-4px;padding-right:22px;background:url('#{$imgUrl}guide/ico_bnf_alliance.svg') no-repeat  center center/ 10px;
        }
        .kind {
            font-family:'Gmarket Sans';font-size:14px;font-weight:700;line-height:16px;
        }
        .bnf_card_ft_icon {
            display:inline-block;width:60px;height:60px;margin-left:6px;font-size:0;vertical-align:top;
            &:first-of-type {
                margin-left:0;
            }
            & > img {
                width:100%;
            }
        }
    }
}

/* bnf_card_area_btm */
.bnf_card_area_btm {
    display:flex;flex-flow:row nowrap;justify-content:space-between;
}
.bnf_card_default {
    position:relative;width:376px;min-height:316px;background-color:#fff;border:2px solid #000;border-radius:12px;overflow:hidden;
    .card_body {
        position:relative;height:100%;padding:35px 30px 0px 30px;box-sizing:border-box;
        .card_icon {
            position:absolute;right:30px;top:34px;width:70px;height:70px;
            & > img {
                width:100%;
            }
        }
        .tit {
            display:flex;flex-direction:column;justify-content:center;min-height:72px;padding-right:80px;font-family:'Gmarket Sans';font-size:24px;font-weight:500;line-height:36px;text-align:left;
        }
        .cpon_desc {
            margin-top:20px;font-size:16px;line-height:24px;
        }
        .external {
            position:absolute;left:30px;bottom:38px;
            .to_external {
                position:relative;font-size:14px;font-weight:500;line-height:22px;
                &:before {
                    position:absolute;left:100%;top:4px;width:6px;height:6px;margin-left:3px;border-top:1px solid;border-right:1px solid;transform:rotate(45deg);
                    content:"";
                }
            }
        }
        .new_bnf {
            border-top:1px solid #eaeaea;
            margin-top:30px;padding:19px 0 30px 0;
            .only_app_icon {
                display:inline-block;position:relative;top:-1px;margin-right:6px;padding:6px 12px 4px 12px;background-color:#000;border-radius:50px;color:#fff;font-size:12px;line-height:15px;vertical-align:top;
    
            }
            .cpon_price {
                display:inline-block;color:#da2128;font-size:20px;font-weight:700;line-height:24px;vertical-align:top;
            }
            .desc {
                display:block;margin-top:7px;
            }
        }
    }
    .card_btm {
        position:absolute;left:0;bottom:0;width:100%;
        .down_cpon {
            position:relative;width:100%;padding:14px 0;background-color:#292929;color:#fff;font-size:16px;font-weight:700;line-height:24px;
            span {
                position:relative;
                &:before {
                    position:absolute;left:-19px;top:-2px;width:14px;height:24px;background:url('#{$imgUrl}guide/ico_download_white.svg') no-repeat center / 12px;content:"";
                }
            }
        }
    }
    &.disabled {
        .new_bnf .only_app_icon {
            background-color:#d5d5d5;
        }
        .new_bnf .cpon_price {
            color:#d5d5d5;
        }
        .new_bnf .desc {
            color:rgba(0,0,0,0.2);
        }
        .card_btm {
            background-color:#bebebe;
        }
    } 
}



/*** 상품평 작성 : .wel_review ***/
.wel_review {
    .ht_tit_big02 {
        margin-bottom:16px;font-family:'Gmarket Sans';font-weight:500;line-height:50px;letter-spacing:-1px;
        img {
            width:46px;
            margin-left:7px;
        }
    }
    .point_line:before {
        top:20px;
    }
    .rev_notice_tit {
        margin:30px 35px 10px 35px;font-size:15px;font-weight:700;line-height:23px;
    }
    .review_bnf_desc_list {
        margin:0 35px;
    }
}

.review_bnf_list {
    display:flex;flex-flow:row nowrap;margin-top:24px;padding:20px 0 30px 0;border:1px solid #eaeaea;border-radius:12px;overflow:hidden;
    .bnf_item {
        position:relative;width:calc(100% / 3);
        &:before {
            position:absolute;left:0;top:10px;width:1px;height:calc(100% - 10px);border-left:1px dashed #eaeaea;content:"";
        }
        &:first-child:before {
            display:none;
        }
        .icon {
            width:90px;height:90px;margin:0 auto;margin-bottom:4px;
            &>img {
                width:100%;
            }
        }
        .point {
            margin-bottom:4px;font-size:24px;font-weight:700;line-height:32px;text-align:center;
        }
        .info {
            color:#767676;font-size:16px;line-height:24px;text-align:center;
        }
        .info_sub {
            margin-top:2px;color:rgba(0,0,0,0.3);line-height:22px;text-align:center;
        }
    }
}


/*** 반응최고 이벤트 : .wel_reaction ***/
.wel_review + .wel_reaction .contents_inner {
    &:before {
        position:absolute;left:0;top:-60px;width:100%;height:1px;background:#eaeaea;content:"";
    }
}
.wel_reaction {
    .ht_tit_big02 {
        margin-bottom:20px;font-family:'Gmarket Sans';font-weight:500;
        & > img {
            display:inline-block;width:42px;margin:2px 0 0 8px;vertical-align:top;
        }
    }
}
.icon3_banner {
    .swiper-container {
        margin-left:-18px;padding-left:18px;
    }
    .swiper-wrapper {
        display:flex;flex-flow:row nowrap;
    }
    .evt_list {
        margin:0;
        & > li {
            margin:0 36px 0 0;
            &:last-of-type {
                margin:0;
            }
        }
    }
}










/***** 바로드림 ******/
.pickup_wrap {
    padding-bottom:60px !important;background:#f4f4f4 url('#{$imgUrl}guide/pickup_bg.svg') center 120px/1200px 671px no-repeat;
    .tit {
        font-family:'Gmarket Sans';font-size:44px;font-weight:700;line-height:60px;letter-spacing:-1px;text-align:center;
        & > img {
            display:inline-block;margin:-13px 2px 0 3px;
        }
    }
}

/* pickup_top_area */
.pickup_top_area {
    position:relative;height:440px;margin-bottom:37px;overflow:hidden;
    .shopping_img {
        position:relative;top:-127px;width:235px;height:585px;margin:0 auto;z-index:1;
        img {
           width:100%;
        }
    }
    .pick_up_bubble {
        position:absolute;left:453px;top:38%;width:133px;height:78px;background:url('#{$imgUrl}guide/wel_pickup_bubble.svg') no-repeat;z-index:2;
    }
}

/* pickup_step_area */
.pickup_step_area {
    display:flex;flex-flow:row nowrap;justify-content:space-between;position:relative;width:540px;margin:54px auto 0 auto;
    &:before {
        position:absolute;left:calc(100% / 6 - 20px);top:19px;width:calc(100% / 3 * 2 + 40px);height:1px;border-top:1px dashed #000;content:"";
    }
}
.pickup_step {
    position:relative;text-align:center;
    .num_icon {
        width:42px;height:42px;margin:0 auto 15px auto;background:url('#{$imgUrl}guide/wel_pickup_num.svg') no-repeat center /99%;font-size:18px;font-weight:700;line-height:42px;text-align:center;z-index:2;
    }
    .step_icon {
        height:80px;margin:0 auto 14px auto;
    }
    .desc {
        min-width:130px;font-size:20px;line-height:25px;word-break:keep-all;letter-spacing:-0.5px;
        .point_line:before {
            top:12px;
        }
    }
    @for $pkn from 1 through 3 {
        &:nth-of-type(#{$pkn})  .step_icon {
            background:url('#{$imgUrl}guide/wel_pickup_step#{$pkn}.svg') no-repeat center /contain;
            
        }
    }
    .point_line:before {
        height:12px;
    }
}
.review_bnf_desc_list {
    margin-top:25px;
}
.pickup_notice_area {
    width:708px;margin:0 auto;padding:0 20px;
}
.pickup_notice_bubble {
    position:relative;width:708px;margin:40px auto 0 auto;padding:30px;background-color:#fff;border-radius:12px;box-sizing:border-box;border:2px solid #000;text-align:center;
    &:before {
        position:absolute;left:50%;top:-20px;width:20px;height:26px;margin-left:-10px;background:url('#{$imgUrl}guide/wel_pickup_bubble_before.svg') no-repeat center center;content:"";z-index:1;
    }
    .tit {
        margin-top:0;margin-bottom:10px;font-family:Roboto,"Noto Sans KR";font-size:28px;font-weight:700;line-height:40px;
        .icon > img {
            transform:translateY(-3px);
        }
    }
    .notice_desc {
        margin-bottom:20px;line-height:22px;
    }
    .to_external {
        position:relative;line-height:20px;
        &:before {
            position:absolute;left:100%;top:5px;width:6px;height:6px;margin-left:3px;border-top:1px solid;border-right:1px solid;transform:rotate(45deg);content:"";
        }
    }
}

/* review_bnf_desc_list */
.review_bnf_desc_list {
    .bnf_desc {
        position:relative;margin-bottom:8px;padding-left:10px;color:#595959;font-size:14px;line-height:22px;word-break:keep-all;
        &:last-of-type {
            margin-bottom:0;
        }
        &:before {
            position:absolute;left:2px;top:8px;width:2px;height:2px;background-color:#999;content:"";
        }
    }
}









/***** 시스템 에러 *****/
/*** 시스템 에러 ***/
.system_err {
    position:relative;padding-top:180px;text-align:center;
    &:before {
        position:absolute;left:50%;top:0;width:140px;height:140px;margin-left:-70px;background:url('#{$imgUrl}guide/ico_system_error.svg') center no-repeat;content:"";
    }
    .ht_tit04 {
        text-align:center;
    }
    .btn_area {
        margin-top:60px;
        button {
            letter-spacing:-0.4px;
        }
    }
}



/*** 시스템 점검 사전 안내 ***/
/* pop_phone_info_msg */
.pop_phone_info_msg {
    margin-top:28px;
    .sys_check {
        padding-top:76px;
        &:before {
            height:56px;background:url('#{$imgUrl}guide/ico_pop_system_check.svg') center/100% no-repeat;content:"";
        }
    }
    .sys_check_ing {
        padding-top:76px;
        &:before {
            height:56px;background:url('#{$imgUrl}guide/ico_pop_system_check_ing.svg') center/100% no-repeat;content:"";
        }
    }
}

/* pop_box_info */
.pop_box_info {
    border-radius:6px;
    .dl {
        display:block;margin-top:5px;font-size:14px;line-height:22px;overflow:hidden;
        &:first-of-type {
            margin-top:0;
        }
    }
    .dt {
        float:left;width:60px;font-weight:500;
    }
    .dd {
        float:right;width:calc(100% - 60px);color:#595959;
    }
}

/* pop_info */
.pop_info {
    color:#767676;
    .none {
        padding-left:0;
        &:before {
           content:"";
        }
    }
}



/*** welcome_toast ***/
.welcome_toast {
    left:40px;top:calc(100% - 40px);transform:translate(0, -100%);
    .toast_message {
        background:rgba(0,0,0,0);padding:0 !important;justify-content:start;border:none;box-shadow:none;
    }
    .icon_toast {
        width:70px;height:70px;margin-right:22px;
    }
    .txt_toast {
        min-width:347px;position:relative;background:#d4ff1a;border:2px solid #000;border-radius:44px;padding:19px 40px 17px;box-sizing:border-box;
        color:#000;text-align:left;font-size:16px;line-height:24px;font-weight:500;letter-spacing:-0.016px;
        &:before {
            position:absolute;left:-11px;top:50%;width:0;height:0;border-left:10px solid #000;border-top:7px solid transparent;border-bottom:7px solid transparent;content:"";transform:rotate(180deg);margin-top:-6px;z-index:2;
        }
        &:after {
            position:absolute;left:-7px;top:50%;width:0;height:0;border-left:10px solid #d4ff1a;border-top:7px solid transparent;border-bottom:7px solid transparent;content:"";transform:rotate(180deg);margin-top:-6px;z-index:2;
        }
        .btn_txt_more {
            display:inline-block;line-height:20px;margin-top:4px;margin-bottom:-7px;
            a{
                font-size:14px;color:#595959;
            }
        }
    }
}











/* 이미지 팝업 */
.dialog_wrapper {
    .ui-dialog {
        // popImg02
        .dialog_wrap.dialog_wrap_wel { 
            padding:0;
            &.img_pop_wrap {
                background:none;overflow:visible;
            }
            .dialog_contents {
                &.img_pop {
                    position:relative;padding:0;border-radius:16px 16px 0 0;overflow:visible;
                    .evt_pop_img {
                        position:relative;height:0;padding-top:144%;border-radius:16px 16px 0 0;overflow:hidden;
                        img {
                            position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover;
                        }
                    }
                    .tag_wrap {
                        .tag_item {
                            padding:3px 15px 2px 12px;background-color:#000;border:1px solid #000;color:#fff;font-size:11px;font-weight:700;line-height:15px;
                        }
                    }
                    .evt_pop_content {
                        display:inline-block;position:absolute;left:0;top:65px;padding:0 32px;box-sizing:border-box;text-align:left;
                        .main_msg {
                            font-size:28px;color:#000;width:100%;line-height:36px;font-weight:700;margin-top:0px;letter-spacing:-0.7px;
                        }
                        .sub_txt {
                            font-size:13px;color:rgba(0,0,0,0.8);line-height:18px;margin-top:15px;
                        }
                        .tag_wrap{
                            + .main_msg{
                                margin-top: 12px;
                            }
                        }
                    }
                }
            }
            .dialog_footer {
                background-color:#fff;border-radius:0 0 16px 16px;overflow:hidden;
                &.no_margin_top {
                    margin-top:0;display:flex;flex-wrap:nowrap;
                    button.btn_line_white {
                        position:relative;margin:0;background:none;border:none;border-radius:0;color:#767676;font-size:14px;flex:1 1 auto;transition:background 0.4s;
                        &:first-of-type:before {
                            content:"";position:absolute;width:1px;height:14px;background-color:#d5d5d5;left:100%;top:50%;transform:translateY(-50%);
                        }
                        &:active,
                        &:focus,
                        &:hover {
                            background:#f4f4f4;
                        }
                    }
                }
            }               
        }
    }
}
//popImgBn01
/* 이미지 팝업(하단) : popImgBm01*/
.pop_img_bn{
    display:none;position:fixed;left:0;bottom:-50%;width:100%;min-width:1440px;animation:bottomPopAnimation 0.23s;
    @keyframes bottomPopAnimation {
        0% {bottom:-50%;}
        100% {bottom:0;}
    } 
    .pop_img_bn_wrap {
        position:relative;left:50%;bottom:0;width:1200px;transform:translateX(-50%);
    }
    .btn_dialog_close {
        position:absolute;right:0;top:0;width:24px;height:24px;border-radius:50%;
        .ico_dialog_close {
            position:relative;display:block;width:35px;height:35px;margin-top:-7px;margin-left:-12px;background:rgba(255, 255, 255, 0.4) url('#{$imgUrl}kyobo/btn_dialog_close@2x.png') center/24px no-repeat;border-radius:50%;z-index:3;
        }
    }
    .pop_img_bn_header {
        padding-bottom:12px;margin-top:10px;
        .form_chk input + label{
            font-size:13px;line-height:19px;/*text-shadow:1px 1px 0px #fff;*/
        }
        .form_chk {
            position:relative;
            &:before {
                position:absolute;left:-2px;top:-2px;width:calc(100% + 15px);height:calc(100% + 4px);background-color:#fff;border-radius:20px;content:"";opacity:0.75;
            }
        }
    }
    .pop_img_bn_content {
        margin-bottom:30px;
    }
    .evt_pop_content{
        display:block;position:absolute;left:60px;top:calc(50% + 5px);width:calc(100% - 295px);padding-left:78px;color:#000;text-align:left;transform:translateY(-50%);z-index:2;
        .tag_wrap{
            position:absolute;left:0;top:5px;
            .tag_item{
                padding:4px 16px;background-color:#000;border:1px solid #000;color:#fff;font-size:14px;font-weight:700;line-height:19px;letter-spacing:-0.14px;
            }
            &+ .main_msg{
                margin-left:0;
                &+ .sub_txt{
                    margin-left:0;
                }
            }
        }
        .main_msg{
            color:#000;font-size:24px;line-height:35px;font-weight:700;letter-spacing:-0.7px;margin-left:-78px;display:-webkit-box;text-overflow:ellipsis;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden;
        }
        .sub_txt{
            margin-top:3px;color:#000;font-size:16px;line-height:24px;letter-spacing:-0.16px;margin-left:-78px;display:-webkit-box;text-overflow:ellipsis;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden;
        }
    }
    &.open{
        display:inline-block;bottom:0;z-index:3;
    }
}










