.ht_cont {
    .mc_tit {
        color:#000;font-size:42px;font-weight:500;line-height:56px;letter-spacing:-2.5px;font-family: 'Gmarket Sans';
        img { 
            vertical-align:top;
        }
        &.center {
            text-align:center;
        }
    }

}




.wel_hotdeal {
    &:before {
        content:"";
        position:absolute;
        width:63px;
        height:63px;
        bottom:60px;
        left:50%;
        z-index:1;
        margin-left:-700px;
        background:url(../images/main/wel_hotdeal_bg1.svg) no-repeat center/ 100%;
    }
    &:after {
        content:"";
        position:absolute;
        width:103px;
        height:120px;
        background:url(../images/main/wel_hotdeal_bg2.svg) no-repeat center/ 100%;
        top:207px;
        left:50%;
        z-index:1;
        margin-left:650px;
    }
}
.wel_today_time {
    margin-bottom:24px;

    .wel_today_time_inner {
        width:402px;
        height:186px;
        margin:0 auto;
        position:relative;
        
    }
    .wel_tod_img {
        position:absolute;
        width:382px;
        height:168px;
        left:0px;
        bottom:-3px;
        overflow: hidden;
        &>img {
            width:100%;
            height:100%;
            transform:scaleX(1.03);
        }
    }
    .wel_tod_acc {
        position:absolute;
        height:122px;
        overflow: hidden;
        right:5px;
        top:0;
        &>img {
            width:100%;
            transform: translateY(-3px);
        }
    }
    .time_bar {
        position:absolute;
        font-family: 'Gmarket Sans';
        font-weight: 700;
        font-size: 26px;
        line-height:30px;
        left:29%;
        top:74%;
        color:#fff;
        width:118px;
    }
    .wel_today_balloon {
        padding:14px 8px;
        background-color: #FFEE24;
        border:2px solid;
        border-radius: 40px;
        line-height:34px;
        padding:0 14px;
        position:absolute;
        font-size: 15px;
        letter-spacing: -1px;
        font-weight: 500;
        left:23%;
        bottom:-41px;
        z-index: 3;
        animation:musMembMsg both infinite 5s;
        &:after {
            content: '';
            border-color: #000 transparent;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            display: block;
            position: absolute;
            left:50%;
            top:0px;
            margin-left:-5px;
            margin-top:-11px;
            width: 0;
            z-index: 0;
            }
        &:before {
            content:"";
            position: absolute;
            border-top: 8px solid transparent;
            border-left: 0 solid transparent;
            border-right: 8px solid #FFEE24;
            border-bottom: 8px solid transparent;
            z-index: 5;
            left:50%;
            top:0;
            margin-top:-12px;
            margin-left: 1px;
            transform: rotate( 90deg);
        }
    }
}
//배너 네비게이션
.thumb4_banner.wel_hot_banner {
   overflow: visible;
   .swiper-container {
        overflow: hidden;
   }

}


/*** 앵콜 특가 : .wel_encore ***/
.wel_encore {
    &:before {
        content:"";
        position:absolute;
        width:220px;
        height:255px;
        background:url(../images/main/wel_encore_left_bg.svg) no-repeat right/ 100%;
        left:50%;
        margin-left:-800px;
        top:100px;
        z-index: 5;
    }
    &:after {
        content :"";
        position:absolute;
        width:300px;
        height:528px;
        background:url(../images/main/wel_encore_right_bg.svg) no-repeat right/ 100%;
        right:0;
        bottom:0;

    }
    .mc_tit {
        width:calc(100% + 40px);height:185px;margin:0 20px 0 -20px;
        &:before {
            position:absolute;left:50%;top:175px;margin-left:-165px;width:29px;height:25px;background:url('../images/main/tit_wel_encore_bg1.svg') center/ 100% no-repeat;transform:rotate(-10deg);content:"";
        }
        &:after {
            position:absolute;left:50%;top:80px;margin-left:130px;width:29px;height:25px;background:url('../images/main/tit_wel_encore_bg2.svg') center/ 100% no-repeat;content:"";
        }
        img {
            position:relative;width:320px;margin-top:15px;
        }
    }
    .evt_products {
        margin-top:0;
    }
}

/* wel_encore_msg */
.wel_encore_msg {
    position:absolute;right:28px;top:48px;height:80px;width:70%;
    &:after {
        position:absolute;right:0;top:0;width:70px;height:80px;background:url('../images/main/img_wel_encore_msg.png') center/100% no-repeat;content:"";
    }
    .msg {
        position:absolute;right:70px;top:0;display:inline-block;min-height:34px;padding:9px 15px 5px 15px;background:#ffc7b7;border-radius:17px;box-sizing:border-box;color:#000;font-size:12px;line-height:18px;z-index:2;
        &:after {
            position:absolute;right:-4px;bottom:4px;width:0;height:0;border-top:10px solid #ffc7b7;border-left:4px solid transparent;border-right:4px solid transparent;content:"";transform:rotate(-55deg);transform-origin:right bottom;
        }
    }
}
@keyframes wel_encore_msg1{
0% {transform:translateX(10px);opacity:0;}
100% {transform:translateX(0);opacity:1;}
}
@keyframes wel_encore_msg2{
0% {transform:translate(8px,2px);opacity:0;}
12% {transform:translate(0,0);opacity:1;}
80% {transform:translate(0,0);opacity:1;}
90% {opacity:0;}
100% {opacity:0;}
}


/*** ONLY Hottracks : .wel_only ***/
.wel_only {
    padding:20px 0 45px 20px;
    position:relative;
    &:before {
        content:"";
        position:absolute;
        width:130px;
        height:144px;
        left:50%;
        margin-left:675px;
        bottom:119px;
        background:url('../images/main/wel_only_bg.svg') no-repeat center / 100%;

    }
    .mc_tit {
        text-align:center;
        img {
            width:500px;height:auto;
        }
    }
    .evt_products {
        margin-top: -14px;
    }
    .mc_txt {
        margin-top:10px;text-align:center;
        a {
            display:inline-block;position:relative;padding-right:10px;
            &:after {
                position:absolute;right:0;top:50%;width:8px;height:8px;margin-top:-5px;border:solid #767676;border-width:2px 2px 0 0;transform:rotate(45deg);content:"";overflow:hidden;
            } 
        }
    }
}
//기획전 배너
.wel_exehibition {
    padding-top:60px;
    
    .wel_exehibition_banner {
        position:relative;
        width:calc(100% + 36px);
        margin:0 -18px;
    }
     .evt_list {
         margin:-40px 0 0 0;
         display: flex;
         flex-flow: row wrap;
         justify-content: space-around;
        & > li {
            width:582px !important;
           margin:40px 0 0 0 !important;
        }
        .img_wrap {
            margin-top:0;
        }
        .item_info {
            overflow: hidden;
        }
        .discount {
            float:left;
            margin-right:4px;
            line-height: 30px;
            letter-spacing: -1px;
            font-weight: 500;
            font-size: 20px;
            color:#DA2128;
        }
     }
}


.wel_category {
    padding-bottom:60px;
    .mc_tit {
        margin-bottom:33px; 
        margin-left:-25px;
        img {
            position:relative;margin-left:8px;width:42px; height:42px;
        }
    }
}

/*** 지금, 이 상품을 : .wel_now ***/
.wel_now {
    padding:30px 20px 80px 20px;
    overflow:hidden;
    background:#1977f2 url('../images/main/bg_wel_now.jpg') center top/33px repeat;
    text-align:center;
    .wel_now_tit {
        width:626px;padding:60px 0;
        display:inline-block;position:relative;
        .s1 {
            position:absolute;left:70px;top:-5px;width:83%;
        }
        .s2 {
            position:absolute;left:7px;top:17px;width:70px;
        }
        .s3 {
            position:absolute;right:-25px;top:0px;width:120px;
        }
    }
    .mc_tit {
        color:#fff; font-size: 42px;
        font-family: 'Gmarket Sans';
        line-height:56px;
        text-align:center;
        font-weight: 500;
    }
    .tab_ty a:before {
        border-color:#000;
    }
    .tab_swiper .swiper_control .swiper-button-prev:before, .tab_swiper .swiper_control .swiper-button-next:before {
        background:none;
    }
}
.wel_now_banner {
    overflow: visible;
    height:544px;
    .swiper-wrapper {
        transition-timing-function: linear;
    }
    .swiper-slide {
        width:2448px;
        display:flex;
    }
     .img {
        width:272px;
        height:272px;
        box-sizing: border-box;
        flex-shrink: 0;
        overflow: hidden;
        &:nth-of-type(3n+1) {
            width:544px;
            height:544px;
            .info_bg_box {
                padding:0 80px;
            }
        }
        &:nth-of-type(3){
            transform: translate(-100%, 100%);
         }
         &:nth-of-type(4){
            transform: translateX(-50% );
         }
         &:nth-of-type(5),
         &:nth-of-type(7){
            transform: translateX(-100% );
         }
         &:nth-of-type(6){
            transform: translate(-200%, 100%);
         }
         &:nth-of-type(8){
            transform: translateX(-200% );
         }
         &:nth-of-type(9){
            transform: translate(-300%, 100%);
         }
         img {
             width:100%;
         }
         & > a {
            position:relative;
            display: block;
         }
         &:hover .info_bg_box {
             opacity:1;
             .title {
                 margin-top:0;
             }
         }
 
    }
    .info_bg_box {
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        bottom:0;
        bottom:0;
        z-index:3;
        background-color: rgba(0,0,0,0.8);
        color:#fff;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        overflow: hidden;
        opacity:0;
        transition: opacity .3s;
        padding:0 30px;
        box-sizing: border-box;
        .title {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -1px;
            margin-bottom:10px;
            width:100%;
            word-break: keep-all;
            display: -webkit-box;
            text-overflow:ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp:2;
            overflow:hidden;
            margin-top:10%;
            transition: margin-top .3s;
            text-align: left;
        }
        .discount {
            margin-right: 4px;
            line-height: 30px;
            letter-spacing: -1px;
            font-size: 20px;
            font-weight: 700;
        }
        .price_origin {
            line-height: 30px;
            letter-spacing: -1px;
            font-size: 20px;
            font-weight: 700;
        }

    }
}

/* wel_prod_view_cont */
.wel_prod_view_cont {
    padding:0 2px 2px 2px;background:#000;
    ul {
        display:flex;justify-content:space-between;flex-wrap:wrap;margin:-2px 0 0 -2px;
    }
    li {
        display:flex;flex-direction:column;justify-content:top;align-items:center;width:calc(33.3% - 2px);margin:2px 0 0 2px;
        img {
            width:100%;
        }
    }
    &.on {
        li {
            animation:wel_prod both 0.4s;
            &:nth-child(1) {
                animation-delay:0.2s;
            }
            &:nth-child(2) {
                animation-delay:0.4s;
            }
            &:nth-child(3) {
                animation-delay:0.6s;
            }
            &:nth-child(4) {
                animation-delay:0.5s;
            }
            &:nth-child(5) {
                animation-delay:0.6s;
            }
            &:nth-child(6) {
                animation-delay:0.8s;
            }
            &:nth-child(7) {
                animation-delay:0.3s;
            }
            &:nth-child(8) {
                animation-delay:0.7s;
            }
            &:nth-child(9) {
                animation-delay:0.2s;
            }
        }
    }
}
@keyframes wel_prod{
0% {opacity:0;transform:scale(0.5);}
100% {opacity:1;transform:scale(1);}
}





/* wel_category_rank */
.wel_category_rank {
    width:calc(100% + 36px);
    margin:0px -18px 40px -18px;
    overflow: hidden;
    counter-reset:item;
    .prod_item {
        float:left;width:273px !important;
        &:last-of-type {
            position:relative;
            &:before {
                content:"";
                position:absolute;
                width:35px;
                height:35px;
                background:url(../images/guide/ico_plus_big.svg) no-repeat center/ 100%;
                top:100px;
                left:50%;
                z-index:1;
                transform: translateX(-50%);

            }
        }
        .product_pic {
            display:block;position:relative;
            &:after {
                position:absolute;left:10px;top:10px;width:24px;height:24px;background:#000;border-radius:4px;color:#fff;letter-spacing:-1px;font-size:16px;font-weight:700;line-height:24px;text-align:center;content:counter(item);counter-increment:item;
            }
        }
    }    
    .btn_box_more {
        position:relative;width:271px;height:0;padding-top:100%;background:#fff;border:1px dashed #D5D5D5;overflow:hidden;font-size:14px;
        p {
            display:flex;flex-direction:row;justify-content:center;align-items:center;position:absolute;left:0;top:0;width:100%;height:100%;margin-top:18px;
            span{
                display:inline-block;position:relative;padding-right:10px;line-height:20px;letter-spacing:-1px;
                &:after {
                    position:absolute;right:0;top:50%;width:6px;height:6px;margin-top:-4px;border:solid #000;border-width:1px 1px 0 0;transform:rotate(45deg);content:"";overflow:hidden;
                }
            }
        }
    }
}
.wel_category_banner {
    position:relative;
    .swiper-container {
        position:relative;
        width:calc(100% + 18px);
        margin-left:-18px;
    }
    .evt_list{
        margin:0;
        display: flex;
        flex-flow: row nowrap;
        & > li{
            width:582px !important;
            &:last-of-type {
                margin-right: 0;
            }

        }
    } 
}