@charset "UTF-8";
/*
    Main
*/
/*
$imgUrl : "../images/";*/
/*$fontUrl :"http://image.kyobobook.co.kr/newimages/giftshop_new/resources/font/";*/
/***** * 스티커샵 * ****/
.wel_main_wrap.sti_mian_wrap {
  /* 타이틀 */
  /* mc_cont */
}

.wel_main_wrap.sti_mian_wrap .ht_tit_info {
  text-align: center;
  height: 63px;
  position: relative;
  z-index: 0;
}

.wel_main_wrap.sti_mian_wrap .ht_tit_info p {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: #000;
  position: relative;
  margin: 8px auto 20px;
  padding: 0 13px;
  background: #fff;
  border: solid #000;
  border-width: 2px 2px 3px 2px;
  border-radius: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 35px;
  line-height: 33px;
  box-sizing: border-box;
  opacity: 0;
  margin-top: -20px;
  -webkit-animation: tool linear 5s infinite;
          animation: tool linear 5s infinite;
}

.wel_main_wrap.sti_mian_wrap .ht_tit_info p:before {
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 0;
  height: 0;
  border-bottom: 9px solid #000;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
}

.wel_main_wrap.sti_mian_wrap .ht_tit_info p:after {
  position: absolute;
  left: 50%;
  top: -7px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 0;
  height: 0;
  border-bottom: 8px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
}

@-webkit-keyframes tool {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  5% {
    opacity: 0;
    margin-top: -5px;
  }
  10% {
    opacity: 1;
    margin: 8px auto 20px;
  }
  80% {
    opacity: 1;
    margin: 8px auto 20px;
  }
  90% {
    opacity: 0;
    margin-top: -5px;
  }
  100% {
    opacity: 0;
    margin-top: -5px;
  }
}

@keyframes tool {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  5% {
    opacity: 0;
    margin-top: -5px;
  }
  10% {
    opacity: 1;
    margin: 8px auto 20px;
  }
  80% {
    opacity: 1;
    margin: 8px auto 20px;
  }
  90% {
    opacity: 0;
    margin-top: -5px;
  }
  100% {
    opacity: 0;
    margin-top: -5px;
  }
}

.wel_main_wrap.sti_mian_wrap .mc_tit {
  text-align: center;
  position: relative;
  z-index: 9;
}

.wel_main_wrap.sti_mian_wrap .sti_cont {
  padding: 62px 0;
}

.wel_main_wrap.sti_mian_wrap .btn_more_view_box strong {
  background-color: #fff;
}

.wel_main_wrap.sti_mian_wrap .btn_more_view_box strong em:after {
  margin-top: -11px;
}

/** New Sticker **/
.new_sticker {
  padding: 40px 20px;
}

.new_sticker .evt_products .prod_item {
  width: 100%;
}

.new_sticker .new_sticker_prod_list {
  margin-right: -20px;
}

/** sticker archive **/
.sti_archive {
  background: #fee581 url(../images/main/bg_sticker_archive.jpg) center top/22px repeat;
  overflow: hidden;
}

.sti_archive_list_wrap {
  margin: 0 auto;
  position: relative;
}

.sti_archive_list_wrap:before {
  content: "";
  background: url(../images/main/ico_sticker_archive01.svg) 100% 100%/cover no-repeat;
  width: 89px;
  height: 89px;
  display: inline-block;
  position: absolute;
  top: -75px;
  right: -36px;
}

.sti_archive_list_wrap ul:after {
  display: block;
  clear: both;
  content: "";
}

.sti_archive_list_wrap ul li {
  width: calc(50% - 10px);
  margin-left: 19px;
  float: left;
  position: relative;
}

.sti_archive_list_wrap ul li a {
  border: 3px solid #000;
  width: 100%;
  height: 100%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sti_archive_list_wrap ul li a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sti_archive_list_wrap ul li:nth-child(2n + 1) {
  margin-left: 0;
}

.sti_archive_list_wrap ul li:nth-child(n + 3) {
  margin-top: 19px;
}

.sti_archive_list_wrap ul li:nth-child(1):before {
  content: "";
  background: url(../images/main/ico_sticker_archive02.svg) 100% 100%/cover no-repeat;
  width: 41px;
  height: 43px;
  display: inline-block;
  position: absolute;
  top: -18px;
  left: 48%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.sti_archive_list_wrap ul li:nth-child(6):before {
  content: "";
  background: url(../images/main/ico_sticker_archive03.svg) 100% 100%/cover no-repeat;
  width: 46px;
  height: 57px;
  display: inline-block;
  position: absolute;
  top: -22px;
  left: 54%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.sti_archive_list_wrap ul li:nth-child(7):before {
  content: "";
  background: url(../images/main/ico_sticker_archive04.svg) 100% 100%/cover no-repeat;
  width: 60px;
  height: 60px;
  display: inline-block;
  position: absolute;
  top: -23px;
  left: 54%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

/** sticker file **/
.sti_file {
  background: #ffd1e9 url(../images/main/bg_sticker_file.jpg) center top/100% 258px repeat-x;
}

.sti_file .mc_tit {
  max-width: 223px;
  margin: 0 auto;
}

.sti_file .evt_products {
  margin-top: 97px;
}

.sti_file .evt_products + .pagination {
  border-top: 1px solid #000;
}

.sti_file .tab-list {
  position: absolute;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.sti_file .tab-list ul {
  display: inline-block;
  width: 100%;
  padding: 0 20px;
}

.sti_file .tab-list ul:after {
  display: block;
  clear: both;
  content: "";
}

.sti_file .tab-list ul li {
  width: 20.1%;
  height: 71px;
  float: left;
  border: 1px solid #000;
  border-radius: 8px 8px 0 0;
  background: #fff;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: -1px;
  cursor: pointer;
}

.sti_file .tab-list ul li:nth-child(1) {
  margin-left: 0;
}

.sti_file .tab-list ul li span {
  font-size: 10px;
  font-weight: 700;
  padding-top: 45px;
  display: inline-block;
  position: relative;
}

.sti_file .tab-list ul li span:before {
  content: "";
  display: inline-block;
  background: url(../images/main/ico_sticker_file01_active.svg) 100%/100% no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 11px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sti_file .tab-list ul li:nth-child(2) span:before {
  background: url(../images/main/ico_sticker_file02_active.svg) 100%/100% no-repeat;
}

.sti_file .tab-list ul li:nth-child(3) span:before {
  background: url(../images/main/ico_sticker_file03_active.svg) 100%/100% no-repeat;
}

.sti_file .tab-list ul li:nth-child(4) span:before {
  background: url(../images/main/ico_sticker_file04_active.svg) 100%/100% no-repeat;
}

.sti_file .tab-list ul li:nth-child(5) span:before {
  background: url(../images/main/ico_sticker_file05_active.svg) 100%/100% no-repeat;
}

.sti_file .tab-list ul li.active {
  height: 77px;
  border-bottom: 0;
  background: #ffd1e9;
}

/** best brands **/
.best_brands {
  background-color: #000;
}

.best_brands .mc_tit {
  max-width: 286px;
  margin: 0 auto;
}

.best_brands_list_wrap ul {
  width: 100%;
  display: inline-block;
}

.best_brands_list_wrap ul:after {
  display: block;
  clear: both;
  content: "";
}

.best_brands_list_wrap ul li {
  float: left;
  width: calc(50% - 3px);
  margin-left: 5px;
  margin-top: -1px;
}

.best_brands_list_wrap ul li a {
  border-radius: 8px;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

.best_brands_list_wrap ul li a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.best_brands_list_wrap ul li a:hover .info_bg_box {
  opacity: 1;
}

.best_brands_list_wrap ul li:nth-child(2), .best_brands_list_wrap ul li:nth-child(4), .best_brands_list_wrap ul li:nth-child(7), .best_brands_list_wrap ul li:nth-child(9) {
  margin-left: 0px;
}

.best_brands_list_wrap ul li:first-child, .best_brands_list_wrap ul li:nth-child(6) {
  width: 100%;
  height: 100%;
  margin-left: 0px;
}

.best_brands_list_wrap ul li:first-child a, .best_brands_list_wrap ul li:nth-child(6) a {
  width: 100%;
  height: 100%;
}

.best_brands_list_wrap .info_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.best_brands_list_wrap .info_bg_box strong {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
}

/** Now is **/
.now_is {
  padding: 40px 0px;
}

.now_is .mc_tit {
  max-width: 232px;
  margin: 0 auto;
}

.now_is .list_evt_area {
  padding-top: 0;
}
