@charset "UTF-8";
/***** 알림 팝업 *****/
/* 웰컴메인 알림 팝업 */
.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel {
  border-radius: 4px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel.no_title .dialog_contents.no_margin_top {
  margin-top: 0;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel.no_title .dialog_contents .checkbox_type {
  margin: 11px 0 0;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.img_pop {
  padding: 0;
  position: relative;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.img_pop .evt_pop_img img {
  width: 100%;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.img_pop .evt_pop_content {
  position: absolute;
  top: 42px;
  left: 0;
  text-align: left;
  display: inline-block;
  margin: 0 25px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.img_pop .evt_pop_content .main_msg {
  font-size: 24px;
  color: #000;
  width: 100%;
  line-height: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.img_pop .evt_pop_content .sub_txt {
  font-size: 13px;
  color: #000;
  opacity: 0.8;
  line-height: 18px;
  margin-top: 10px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.img_pop .tag_wrap .tag_item {
  color: #ffffff;
  padding: 0px 12px 1px;
  background-color: #000000;
  border: 1px solid #000000;
  font-size: 12px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_footer.no_margin_top {
  margin-top: 0;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_footer.no_margin_top button.btn_md {
  font-size: 14px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel.dialog_wrap_full .img_pop .evt_pop_content {
  top: 125px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel.dialog_wrap_full {
  margin: -20px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.push_pop .dialog_contents {
  margin: 10px 0 0 0;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.push_pop .pop_phone_info_msg {
  margin-bottom: 10px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.push_pop .pop_phone_info_msg p {
  padding-top: 0;
  text-align: left;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.push_pop .pop_phone_info_msg p:before {
  background: initial;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.push_pop .alert-list li {
  font-size: 13px;
  color: #595959;
  border-bottom: 1px dashed #EAEAEA;
  padding: 12px 0 12px 24px;
  position: relative;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.push_pop .alert-list li:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 12px;
  width: 20px;
  height: 20px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.push_pop .alert-list li:nth-child(1):before {
  background: url(../images/main/ico_wel_pop02.png) center/100% no-repeat;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.push_pop .alert-list li:nth-child(2):before {
  background: url(../images/main/ico_wel_pop03.png) center/100% no-repeat;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.push_pop .alert-list li:nth-child(3) {
  border-bottom: 0;
  padding-bottom: 0;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.push_pop .alert-list li:nth-child(3):before {
  background: url(../images/main/ico_wel_pop04.png) center/100% no-repeat;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .pop_box_info.system_check_info dl:after {
  clear: both;
  content: "";
  display: block;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .pop_box_info.system_check_info dl:last-child .tit {
  margin-bottom: 0;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .pop_box_info.system_check_info .tit {
  width: 24%;
  float: left;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .pop_box_info.system_check_info dd {
  width: 76%;
  float: left;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .pop_info.no_bullet li {
  padding-left: 0;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .pop_info.no_bullet li:before {
  content: "";
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .pop_phone_info_msg.icon_system_check p:before {
  background: url(../images/main/ico_wel_pop01.svg) center/100% no-repeat;
}

/* 웰컴메인 팝업 - 페이지 */
.dialog_pop_page_wrapper.dialog_wrap_wel {
  height: 100%;
}

.dialog_pop_page_wrapper.dialog_wrap_wel .dialog_pop_page_content {
  display: table;
  height: calc(100% - 114px);
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 0 20px;
}

.dialog_pop_page_wrapper.dialog_wrap_wel .dialog_pop_page_content .dialog_pop_page {
  display: table-cell;
  vertical-align: middle;
}

.dialog_pop_page_wrapper.dialog_wrap_wel .btn_area {
  max-width: 750px;
  margin: 0 auto;
  padding: 24px 20px 40px;
}

.dialog_pop_page_wrapper.dialog_wrap_wel .btn_area button {
  width: 100%;
}

.dialog_pop_page_wrapper.dialog_wrap_wel .icon_no_page + .pop_info.no_bullet li {
  text-align: center;
}

.dialog_pop_page_wrapper.dialog_wrap_wel .pop_info.no_bullet li {
  font-size: 14px;
}

.dialog_pop_page_wrapper.dialog_wrap_wel .dialog_footer {
  max-width: 750px;
  margin: 0 auto;
  padding: 24px 20px 40px;
  text-align: center;
}

.dialog_pop_page_wrapper.dialog_wrap_wel .dialog_footer:after {
  display: block;
  clear: both;
  content: "";
}

.dialog_pop_page_wrapper.dialog_wrap_wel .dialog_footer button {
  float: left;
  width: 50%;
}

.dialog_pop_page_wrapper.dialog_wrap_wel .dialog_footer button.btn_black {
  border-radius: 6px 0 0 6px;
}

.dialog_pop_page_wrapper.dialog_wrap_wel .dialog_footer button.btn_primary {
  border-radius: 0 6px 6px 0;
}

.dialog_pop_page_wrapper.dialog_wrap_wel .pop_info.no_bullet li {
  padding-left: 0;
}

.dialog_pop_page_wrapper.dialog_wrap_wel .pop_info.no_bullet li:before {
  content: "";
}

.dialog_pop_page_wrapper.dialog_wrap_wel .pop_phone_info_msgp:before {
  background: url(../images/main/ico_wel_setting_alarm.svg);
}

.dialog_pop_page_wrapper.dialog_wrap_wel .pop_phone_info_msg.icon_system_check p:before {
  background: url(../images/main/ico_wel_pop05.svg) center/100% no-repeat;
  height: 53px;
}

.dialog_pop_page_wrapper.dialog_wrap_wel .pop_phone_info_msg.icon_no_page p {
  padding-top: 70px;
  font-size: 20px;
}

.dialog_pop_page_wrapper.dialog_wrap_wel .pop_phone_info_msg.icon_no_page p:before {
  background: url(../images/main/ico_wel_pop06.svg) center/100% no-repeat;
  height: 62px;
}

.dialog_pop_page_wrapper.dialog_wrap_wel .pop_box_info.system_check_info dl:after {
  clear: both;
  content: "";
  display: block;
}

.dialog_pop_page_wrapper.dialog_wrap_wel .pop_box_info.system_check_info dl:last-child .tit {
  margin-bottom: 0;
}

.dialog_pop_page_wrapper.dialog_wrap_wel .pop_box_info.system_check_info .tit {
  width: 24%;
  float: left;
}

.dialog_pop_page_wrapper.dialog_wrap_wel .pop_box_info.system_check_info dd {
  width: 76%;
  float: left;
}

/* 웰컴메인 팝업 - 토스트 메시지*/
.welcome_toast .toast_message {
  background: #fff;
  padding: 15px 22px 11px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.welcome_toast .txt_toast {
  color: #000;
  text-align: left;
  padding-left: 13px;
  font-size: 13px;
}

.welcome_toast .txt_toast .btn_txt_more {
  display: inline-block;
}

.welcome_toast .txt_toast .btn_txt_more a {
  font-size: 12px;
  color: #595959;
}

.welcome_toast .txt_toast span {
  font-weight: bold;
}

/***** 알림 페이지 ******/
.wel_alm_wrapper .dialog_wrapper .ui-dialog .dialog_wrap.ui-dialog-content {
  border-radius: 4px;
}

.wel_alm_wrapper .header_wrapper .btn_header_setting:after {
  background-image: url(../images/main/ico_wel_setting.svg);
}

.alm_list_header.mc_cont {
  padding-bottom: 0;
}

.alm_list_header .mc_tit02 {
  margin-bottom: 3px;
}

.alm_list_header .alm_list_sub {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-bottom: 16px;
}

.alm_lst_wrap .form_toggle {
  width: 33px;
  float: left;
}

.alm_lst_wrap .form_toggle input[type=checkbox] + label {
  height: 45.5%;
  width: 83%;
  background: #CCCCCC;
  margin-top: 4px;
}

.alm_lst_wrap .form_toggle input[type=checkbox] + label:before {
  left: 27px;
  top: 2px;
  margin-left: -27px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 5px -2px black;
          box-shadow: 0 1px 5px -2px black;
  width: 14px;
  height: 14px;
}

.alm_lst_wrap .form_toggle input[type=checkbox]:checked + label {
  background: #000;
}

.alm_lst_wrap .form_toggle input[type=checkbox]:checked + label:before {
  border: 1px solid #000;
  left: 42px;
}

.alm_lst_wrap .alm_list_area_mn {
  margin-top: 30px;
}

.alm_lst_wrap .alm_sort {
  float: left;
}

.alm_lst_wrap .btn_delete {
  float: right;
}

.alm_lst_wrap .desc_sort_alm {
  float: left;
}

.alm_lst_wrap .desc_sort_alm span {
  font-weight: bold;
}

.alm_lst_wrap .alm_menu_rd:after {
  clear: both;
  display: block;
  content: "";
}

.alm_lst_wrap .alm_sort:after {
  display: block;
  clear: both;
  content: "";
}

.alm_lst_wrap .form_chk {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.alm_lst_wrap .form_chk input {
  display: none;
}

.alm_lst_wrap .alm_ad span.form_chk:before {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/main/ico_wel_notice_ad.svg);
  background-size: 20px 20px;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 8px;
  z-index: 1;
  transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.alm_lst_wrap .alm_ad span.form_chk.active:before {
  display: none;
}

.alm_lst_wrap .alm_my .alm_content_inner {
  background: #EAEAEA;
}

.alm_lst_wrap .alm_my span.form_chk.active:before {
  display: none;
}

.alm_lst_wrap .alm_my span.form_chk:before {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/main/ico_wel_notice_my.svg);
  background-size: 38px 18px;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  content: "";
  display: inline-block;
  width: 38px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: -3px;
  z-index: 1;
  transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.alm_lst_wrap .form_chk input + label:after {
  display: none;
}

.alm_lst_wrap .form_chk input + label:before {
  display: none;
}

.alm_lst_wrap .alm_menu_btn_del_wrap {
  display: none;
}

.alm_lst_wrap .alm_content_inner {
  line-height: 18px;
  padding: 14px 20px 13px 20px;
  border: 1px solid #EAEAEA;
  border-radius: 15px;
}

.alm_lst_wrap .alm_content_inner .alm_desc {
  font-size: 12px;
}

.alm_lst_wrap .alm_content_inner .alm_date {
  font-size: 11px;
  color: #767676;
  margin-top: 5px;
}

.alm_lst_wrap .alm_list > li {
  position: relative;
  margin-top: 12px;
}

.alm_lst_wrap .alm_list > li:first-child {
  margin-top: 0;
}

.alm_lst_wrap .alm_list > li:last-child:after {
  display: none;
}

.alm_lst_wrap .alm_list > li a {
  display: inline-block;
  width: 87%;
  margin-left: 45px;
}

.alm_lst_wrap .alm_list > li:after {
  content: "";
  position: absolute;
  left: 16px;
  top: 54%;
  height: 114%;
  border-left: 1px dashed #ccc;
  z-index: -1;
}

.alm_lst_wrap .form_chk input + label, .alm_lst_wrap .form_rdo input + label {
  padding: 0 0 0 42px;
  width: 100%;
}

.alm_lst_wrap .alm_desc_check {
  font-size: 12px;
  color: #767676;
  text-align: center;
  margin-top: 42px;
}

.alm_lst_wrap .btn_delete .ico_delete {
  background-image: url(../images/main/ico_delete_mok.png);
  margin-right: 0px;
}

.alm_lst_wrap .btn_delete .text {
  display: inline-block;
}

.alm_lst_wrap .btn_delete .text_cancel {
  display: none;
}

.alm_lst_wrap .alm_list_area {
  margin-top: 10px;
}

.alm_lst_wrap .alm_list_area.active .alm_ad span.form_chk, .alm_lst_wrap .alm_list_area.active .alm_my span.form_chk {
  top: 60%;
}

.alm_lst_wrap .alm_list_area.active .alm_ad span.form_chk:before, .alm_lst_wrap .alm_list_area.active .alm_my span.form_chk:before {
  display: none;
}

.alm_lst_wrap .alm_list_area.active .form_chk input + label:before, .alm_lst_wrap .alm_list_area.active .form_chk input + label:after {
  display: inline-block;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.alm_lst_wrap .alm_list_area.active .alm_list > li:after {
  display: none;
}

.alm_lst_wrap .btn_delete.active .ico_delete {
  background-image: url(../images/main/ico_delete_cancel_mok.png);
}

.alm_lst_wrap .btn_delete.active .text {
  display: none;
}

.alm_lst_wrap .btn_delete.active .text_cancel {
  display: inline-block;
}

.alm_lst_wrap .alm_menu_btn_del_wrap.active {
  display: block;
  margin-top: 13px;
  padding-bottom: 33px;
}

.alm_lst_wrap .divide_hr {
  position: absolute;
  left: 0;
  margin-top: 16px;
}

.alm_lst_wrap .notice_ty {
  border-top: 0;
}

.alm_lst_wrap .notice_ty .emp {
  border-bottom: 0;
}

.alm_lst_wrap .alarm_setting_wrap {
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  padding: 73px 5px 40px;
  margin-top: 100px;
  margin-top: 25px;
}

.alm_lst_wrap .alarm_setting_wrap p:after {
  position: absolute;
  left: 50%;
  top: 0;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  background: url(../images/main/ico_alarm_setting.svg) center/100% no-repeat;
  content: "";
}

.alm_lst_wrap .alarm_setting_wrap .btn_alm_setting_wrap {
  margin-top: 27px;
}

/***** 설정 페이지 ******/
.wel_setting_wrapper .setting_list_wrap + .setting_list_wrap {
  margin-top: 200px;
}

.wel_setting_wrapper .header_wrapper .btn_header_setting:after {
  background-image: url(../images/main/ico_wel_setting.svg);
}

.wel_setting_wrapper .mc_cont {
  padding-bottom: 0;
}

.wel_setting_wrapper .mc_cont .mc_tit04 {
  margin-bottom: 0px;
}

.wel_setting_wrapper .setting_list_content {
  margin-top: 25px;
}

.wel_setting_wrapper .divide_hr + .setting_list_content .setting_list {
  margin-top: 0;
}

.wel_setting_wrapper .setting_list {
  margin-top: 15px;
}

.wel_setting_wrapper .setting_list > li {
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 12px;
}

.wel_setting_wrapper .setting_list > li:last-child {
  border-bottom: 0;
}

.wel_setting_wrapper .divide_hr + .mc_cont .setting_list {
  margin-top: 0;
}

.wel_setting_wrapper .setting_list_tit .txt {
  float: left;
  margin-top: 6px;
}

.wel_setting_wrapper .setting_list_tit .tit {
  font-size: 14px;
}

.wel_setting_wrapper .setting_list_tit .button_warp {
  float: right;
}

.wel_setting_wrapper .setting_list_tit:after {
  display: block;
  content: "";
  clear: both;
}

.wel_setting_wrapper .setting_list_tit .form_toggle_box {
  width: 100%;
  position: relative;
  text-align: left;
}

.wel_setting_wrapper .setting_list_tit .form_toggle_box.login_disabled_text .toggle_text {
  color: #CCCCCC;
}

.wel_setting_wrapper .setting_list_tit .form_toggle_box.login_disabled_text .toggle_text .tit {
  color: #CCCCCC;
}

.wel_setting_wrapper .setting_list_tit .toggle_text .tit {
  font-size: 14px;
  color: #000;
}

.wel_setting_wrapper .setting_list_tit .toggle_text .sub {
  margin-top: 7px;
}

.wel_setting_wrapper .setting_list_tit .add_toggle_sub .form_toggle {
  float: right;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.wel_setting_wrapper .setting_list_tit.form_toggle_box {
  width: 100%;
}

.wel_setting_wrapper .setting_list_tit.form_toggle_box .form_toggle {
  float: right;
}

.wel_setting_wrapper .setting_list_tit .form_toggle input[type=checkbox]:checked + label {
  background: #000000;
}

.wel_setting_wrapper .divide_hr {
  margin-top: 12px;
}

.wel_setting_wrapper .li_btn_arrow {
  position: relative;
}

.wel_setting_wrapper .li_btn_arrow .btn_setting_wrap {
  width: 100%;
}

.wel_setting_wrapper .li_btn_arrow:after {
  background: url(../images/guide/ico_arrow_next@3x.png);
  background-size: 12px 17px;
  content: "";
  display: block;
  width: 12px;
  height: 17px;
  background-repeat: no-repeat;
  position: absolute;
  right: 1px;
  top: 42px;
  opacity: 0.6;
}

.wel_setting_wrapper .ver_wrap {
  margin-top: 25px;
  width: 360px;
  font-size: 13px;
}

.wel_setting_wrapper .ver_wrap .sub {
  color: #767676;
}

.wel_setting_wrapper .ver_wrap .txt {
  float: left;
  width: calc(32% - 10px);
}

.wel_setting_wrapper .ver_wrap .txt p {
  width: 62%;
  float: left;
}

.wel_setting_wrapper .ver_wrap .txt p + p {
  width: 37%;
}

.wel_setting_wrapper .ver_wrap .txt + .txt {
  width: 32%;
  padding-left: 10px;
  position: relative;
}

.wel_setting_wrapper .ver_wrap .txt + .txt:before {
  content: "";
  display: inline-block;
  border-left: 1px solid #EAEAEA;
  width: 1px;
  height: 11px;
  position: absolute;
  left: 0;
  top: 4px;
}

.wel_setting_wrapper .ver_wrap .ver_content:after {
  display: block;
  clear: both;
  content: "";
}

.wel_setting_wrapper .ver_wrap .ver_notice {
  font-size: 12px;
  color: #767676;
  margin-top: 10px;
}

.wel_setting_wrapper .ver_wrap button {
  margin-top: 20px;
}

.pop_phone_info_msg.wel_setting_alarm_pop p {
  padding-top: 65px;
}

.pop_phone_info_msg.wel_setting_alarm_pop p:before {
  background: url(../images/main/ico_wel_setting_alarm.svg) center/100% no-repeat;
  width: 36px;
  height: 56px;
  left: 53.5%;
}

.dialog_wrapper .ui-dialog .dialog_wrap.no_title .dialog_contents.wel_setting_alarm_pop_warp {
  margin-top: 33px;
}

/***** 쿠폰/ 혜택 *****/
.wel_marketing_top_area {
  padding: 60px 20px 40px 20px;
  background-color: #000;
  color: #fff;
}

.wel_marketing_top_area .title_wrap .tit {
  position: relative;
  font-family: 'Gmarket Sans';
  font-size: 36px;
  line-height: 42px;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.wel_marketing_top_area .title_wrap .wel_smile_icon > img {
  width: 35px;
}

.wel_marketing_top_area .title_wrap .point_line em {
  white-space: nowrap;
}

.wel_marketing_top_area .title_wrap .point_line:before {
  height: 20px;
  top: 17px;
  background: #01CD5C;
}

.wel_marketing_top_area .sub_tit {
  line-height: 19px;
  font-size: 13px;
  letter-spacing: -0.025em;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 8px;
}

.wel_marketing_top_area .cpon_subscription_wrap {
  margin-top: 24px;
}

.wel_marketing_top_area .cpon_subscription_wrap .cpon {
  position: relative;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  margin-bottom: 12px;
}

.wel_marketing_top_area .cpon_subscription_wrap .cpon:last-of-type {
  margin-bottom: 24px;
}

.wel_marketing_top_area .cpon_subscription_wrap .cpon:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000;
  top: -6px;
}

.wel_marketing_top_area .cpon_subscription_wrap .cpon:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000;
  bottom: -6px;
}

.wel_marketing_top_area .cpon_subscription_wrap .cpon .cpon_name {
  text-align: center;
  line-height: 17px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.01em;
  margin-bottom: 5px;
}

.wel_marketing_top_area .cpon_subscription_wrap .cpon .cpon_kind {
  text-align: center;
  line-height: 23px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Gmarket Sans';
}

.wel_marketing_top_area .cpon_subscription_wrap .cpon .cpon_desc {
  text-align: center;
  font-size: 12px;
  letter-spacing: -0.01em;
  color: #767676;
  word-break: keep-all;
}

.wel_marketing_top_area .cpon_subscription_wrap .cpon .dash {
  width: 1px;
  height: 100%;
  border-left: 1px dashed #000;
  position: absolute;
  top: 0;
  left: 26px;
}

.wel_marketing_top_area .cpon_subscription_wrap .cpon .barcode {
  width: 12px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -15px;
  background: url(../images/guide/cpon_barcode.svg) no-repeat center center/cover;
}

.wel_marketing_top_area .join_btn_area {
  margin-bottom: 27px;
  text-align: center;
}

.wel_marketing_top_area .join_btn_area .join_btn {
  padding: 14px 40px;
  line-height: 21px;
  font-size: 15px;
  font-weight: 700;
  border: 1px solid #fff;
  border-radius: 40px;
  letter-spacing: -0.01em;
  word-break: keep-all;
}

.wel_marketing_top_area .member_bnf_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
}

.wel_marketing_top_area .member_bnf_list .membet_bnf_item {
  width: 30%;
  min-height: 100% !important;
}

.wel_marketing_top_area .member_bnf_list .membet_bnf_item .icon {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 14px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
}

.wel_marketing_top_area .member_bnf_list .membet_bnf_item .icon > img {
  height: 100%;
}

.wel_marketing_top_area .member_bnf_list .membet_bnf_item .bnf_name {
  text-align: center;
  line-height: 19px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: -0.01em;
}

.wel_marketing_top_area .member_bnf_list .membet_bnf_item .bnf_amount {
  text-align: center;
  letter-spacing: -0.01em;
  font-size: 12px;
  color: #D4FF1A;
}

.wel_benefits_area {
  padding: 20px;
}

.wel_benefits_area.ty02 {
  background-color: #F7F7F7;
}

.wel_benefits_area.ty02 > .tit {
  margin-top: 40px !important;
}

.wel_benefits_area .tit {
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 38px;
  font-family: 'Gmarket Sans';
  font-weight: 500;
  margin-top: 33px;
}

.wel_benefits_area .tit .point_line:before {
  height: 20px;
  top: 17px;
  background: #01CD5C;
}

.wel_benefits_area .benefits {
  margin: 20px 0;
}

.wel_benefits_area .benefits .benefit_item {
  padding: 20px 12px;
  border-bottom: 1px dotted #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wel_benefits_area .benefits .benefit_item:last-of-type {
  border-bottom: none;
}

.wel_benefits_area .benefits .benefit_item .icon {
  width: 34px;
  height: 34px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.wel_benefits_area .benefits .benefit_item .icon > img {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
}

.wel_benefits_area .benefits .benefit_item .info {
  margin-left: 14px;
}

.wel_benefits_area .benefits .benefit_item .bnf_tit {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.01em;
  font-weight: 700;
  margin-bottom: 5px;
  word-break: keep-all;
}

.wel_benefits_area .benefits .benefit_item .bnf_sub {
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #767676;
  word-break: keep-all;
}

.bnf_card_area_top {
  padding-top: 12px;
  margin-bottom: 32px;
}

.bnf_card {
  border: 2px solid #000;
  background-color: #FF224E;
  border-radius: 8px;
  margin-top: 20px;
  padding: 22px 20px 18px 20px;
  overflow: hidden;
}

.bnf_card.ty01 {
  color: #fff;
}

.bnf_card.ty01 .to_external {
  color: #fff;
}

.bnf_card.ty02 {
  background-color: #FFEB01;
}

.bnf_card.ty02 .card_tit {
  margin-bottom: 12px;
}

.bnf_card.ty02 .to_external:before {
  background: url(../images/ico/ico_bnf_alliance_bk.svg) no-repeat center;
}

.bnf_card.ty02 .bnf_card_foot {
  margin-top: 13px;
}

.bnf_card .card_tit {
  line-height: 25px;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
  word-break: keep-all;
  letter-spacing: -0.01em;
}

.bnf_card .to_external {
  position: relative;
  line-height: 19px;
  opacity: 0.8;
  font-size: 13px;
}

.bnf_card .to_external:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 18px;
  top: -1px;
  left: 100%;
  margin-left: 3px;
  background: url(../images/ico/arrow_white_dim.svg) no-repeat center;
}

.bnf_card .bnf_card_foot {
  margin-top: 30px;
  text-align: right;
}

.bnf_card .bnf_card_foot .company {
  font-family: 'Gmarket Sans';
  margin-bottom: 4px;
  line-height: 12px;
  font-size: 10px;
}

.bnf_card .bnf_card_foot .alliance {
  display: inline-block;
  position: relative;
  top: 2px;
  padding-right: 12px;
  height: 12px;
  margin-right: 1px;
  background: url(../images/ico/ico_bnf_alliance.svg) no-repeat center center/10px;
}

.bnf_card .bnf_card_foot .kind {
  line-height: 12px;
  font-family: 'Gmarket Sans';
  font-weight: 700;
  font-size: 10px;
  letter-spacing: -0.01em;
}

.bnf_card .bnf_card_foot .bnf_card_ft_icon {
  width: 42px;
  height: 42px;
  display: inline-block;
}

.bnf_card .bnf_card_foot .bnf_card_ft_icon > img {
  width: 100%;
}

.bnf_card_area_btm {
  padding-top: 32px;
  margin-bottom: 40px;
  border-top: 1px dotted #ccc;
}

.bnf_card_default {
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #fff;
}

.bnf_card_default .card_body {
  position: relative;
  padding: 18px 20px 0px 20px;
  border-radius: 8px;
  border: 2px solid #000;
}

.bnf_card_default .card_body .card_icon {
  position: absolute;
  width: 54px;
  height: 54px;
  right: 20px;
  top: 18px;
}

.bnf_card_default .card_body .card_icon > img {
  width: 100%;
}

.bnf_card_default .card_body .card_icon > img.cpon_img {
  width: 115%;
}

.bnf_card_default .card_body .tit {
  margin-top: 12px;
  text-align: left;
  line-height: 22px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Gmarket Sans';
  letter-spacing: -0.01em;
  padding-right: 60px;
}

.bnf_card_default .card_body .cpon_desc {
  margin-top: 8px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  word-break: keep-all;
}

.bnf_card_default .card_body .external {
  padding: 17px 0 28px;
}

.bnf_card_default .card_body .external .to_external {
  position: relative;
  line-height: 19px;
  opacity: 0.8;
  font-size: 13px;
}

.bnf_card_default .card_body .external .to_external:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 18px;
  top: -1px;
  left: 100%;
  margin-left: 3px;
  background: url(../images/ico/ico_bnf_alliance_bk.svg) no-repeat center;
}

.bnf_card_default .card_body .new_bnf {
  border-top: 1px solid #EAEAEA;
  margin-top: 21px;
  padding: 19px 0 23px;
}

.bnf_card_default .card_body .new_bnf .only_app_icon {
  display: inline-block;
  position: relative;
  top: -1px;
  margin-right: 2px;
  line-height: 15px;
  background-color: #000;
  color: #fff;
  padding: 3px 8px;
  border-radius: 20px;
  font-size: 10px;
}

.bnf_card_default .card_body .new_bnf .cpon_price {
  display: inline-block;
  letter-spacing: -0.01em;
  line-height: 20px;
  color: #DA2128;
  font-weight: 700;
}

.bnf_card_default .card_body .new_bnf .desc {
  display: block;
  margin-top: 4px;
  line-height: 16px;
  font-size: 11px;
  letter-spacing: -0.01em;
}

.bnf_card_default.ty_btm .card_body {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.bnf_card_default .card_btm {
  padding: 14px 0;
  color: #fff;
  background-color: #292929;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 2px solid #000;
  border-top: none;
}

.bnf_card_default .card_btm .down_cpon {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
}

.bnf_card_default .card_btm .down_cpon:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 20px;
  left: -20px;
  top: -2px;
  background: url(../images/ico/ico_download_white.svg) no-repeat center/12px;
}

.bnf_card_default.disabled .new_bnf .only_app_icon {
  background-color: #D5D5D5;
}

.bnf_card_default.disabled .new_bnf .cpon_price {
  color: #D5D5D5;
}

.bnf_card_default.disabled .new_bnf .desc {
  color: rgba(0, 0, 0, 0.2);
}

.bnf_card_default.disabled .card_btm {
  background-color: #BEBEBE;
}

.wel_review_area {
  padding: 20px;
  margin-bottom: 20px;
}

.wel_review_area .tit {
  margin-top: 30px;
  line-height: 34px;
  font-size: 26px;
  font-weight: 500;
  font-family: 'Gmarket Sans';
  letter-spacing: -0.01em;
}

.wel_review_area .write_icon {
  display: inline-block;
  position: relative;
  top: 15px;
  left: -7px;
  width: 34px;
  height: 34px;
  background: url(../images/guide/ico_review_pencil.svg) no-repeat center/34px;
}

.wel_review_area .review_bnf_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 24px 0 32px;
  padding: 0 14px;
}

.wel_review_area .review_bnf_list .bnf_item {
  width: 30%;
  min-height: 100% !important;
}

.wel_review_area .review_bnf_list .bnf_item .icon {
  width: 48px;
  height: 48px;
  margin: 0 auto;
  margin-bottom: 14px;
}

.wel_review_area .review_bnf_list .bnf_item .icon > img {
  width: 100%;
}

.wel_review_area .review_bnf_list .bnf_item .point {
  text-align: center;
  line-height: 19px;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 2px;
  letter-spacing: -0.01em;
}

.wel_review_area .review_bnf_list .bnf_item .info {
  text-align: center;
  line-height: 17px;
  font-size: 12px;
  margin-bottom: 1px;
  letter-spacing: -0.01em;
  color: #767676;
  word-break: keep-all;
}

.wel_review_area .review_bnf_list .bnf_item .info_sub {
  text-align: center;
  line-height: 15px;
  font-size: 10px;
  letter-spacing: -0.01em;
  color: #767676;
  word-break: keep-all;
}

.wel_review_area .review_bnf_desc_list {
  border-top: 1px solid #CCC;
  padding-top: 24px;
}

.review_bnf_desc_list .bnf_desc {
  position: relative;
  line-height: 19px;
  font-size: 13px;
  color: #595959;
  letter-spacing: -0.01em;
  word-break: keep-all;
  margin-bottom: 8px;
  padding-left: 10px;
}

.review_bnf_desc_list .bnf_desc:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  left: 2px;
  top: 8px;
  background-color: #999;
}

.evt_slider_wrap.type_wel_evt .tit_gmarket {
  line-height: 30px;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.01em;
  font-family: 'Gmarket Sans';
  margin-bottom: 20px;
}

.evt_slider_wrap.type_wel_evt .swap_eye {
  width: 32px;
  height: 32px;
  display: inline-block;
  position: relative;
  top: 8px;
  margin-left: 5px;
  background: url(../images/guide/ico_swap_eye.svg) no-repeat center/30px;
}

.evt_slider_wrap.type_wel_evt .evt_item {
  width: 335px;
}

.evt_slider_wrap.type_wel_evt .evt_item .img_wrap {
  padding-top: 57.3%;
}

/***** 바로드림 ******/
.pickup_wrap {
  background-color: #F4F4F4;
  margin-top: 16px;
  padding-bottom: 28px;
}

.pickup_wrap .pickup_top_area {
  height: 285px;
  position: relative;
  overflow: hidden;
  margin-bottom: 32px;
}

.pickup_wrap .pickup_top_area .shopping_img {
  position: absolute;
  left: 50%;
  top: -50px;
  margin-left: -80px;
  height: 335px;
  z-index: 1;
  -webkit-animation: wel_pickup_shoppingbag .5s both 1 .7s;
          animation: wel_pickup_shoppingbag .5s both 1 .7s;
}

.pickup_wrap .pickup_top_area .shopping_img img {
  height: 100%;
}

@-webkit-keyframes wel_pickup_shoppingbag {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes wel_pickup_shoppingbag {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.pickup_wrap .pickup_top_area .pick_up_bubble {
  width: 0;
  height: 54px;
  position: absolute;
  background: url(../images/guide/wel_pickup_bubble.svg) no-repeat center center/99%;
  left: 50%;
  top: 38%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 2;
  -webkit-animation: wel_pick_up_bubble forwards 1 .5s .5s;
          animation: wel_pick_up_bubble forwards 1 .5s .5s;
}

@-webkit-keyframes wel_pick_up_bubble {
  0% {
    width: 0;
  }
  100% {
    width: 92px;
  }
}

@keyframes wel_pick_up_bubble {
  0% {
    width: 0;
  }
  100% {
    width: 92px;
  }
}

.pickup_wrap .tit {
  margin-top: 33px;
  text-align: center;
  line-height: 29px;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Gmarket Sans';
}

.pickup_wrap .pickup_step_area {
  position: relative;
  margin-top: 52px;
}

.pickup_wrap .pickup_step_area:before {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100% / 3 * 2 + 34px);
  border-right: 1px dashed #000;
  top: calc(100% / 6 - 17px);
  left: calc(50% - 121px);
}

.pickup_wrap .pickup_step_area .pickup_step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 45px;
  position: relative;
}

.pickup_wrap .pickup_step_area .pickup_step .num_icon {
  width: 34px;
  height: 34px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  z-index: 2;
  line-height: 34px;
  text-align: center;
  font-weight: 700;
  margin-right: 10px;
  background: url(../images/guide/wel_pickup_num.svg) no-repeat center/99%;
}

.pickup_wrap .pickup_step_area .pickup_step .step_icon {
  width: 75px;
  height: 78px;
  margin-right: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.pickup_wrap .pickup_step_area .pickup_step .desc {
  min-width: 130px;
  line-height: 29px;
  font-size: 20px;
  font-weight: 700;
  word-break: keep-all;
}

.pickup_wrap .pickup_step_area .pickup_step .desc .point_line:before {
  top: 12px;
}

.pickup_wrap .pickup_step_area .pickup_step:nth-of-type(1) .step_icon {
  background: url(../images/guide/wel_pickup_step1.svg) no-repeat center/contain;
}

.pickup_wrap .pickup_step_area .pickup_step:nth-of-type(2) .step_icon {
  background: url(../images/guide/wel_pickup_step2.svg) no-repeat center/contain;
}

.pickup_wrap .pickup_step_area .pickup_step:nth-of-type(3) .step_icon {
  background: url(../images/guide/wel_pickup_step3.svg) no-repeat center/contain;
}

.pickup_wrap .pickup_notice_area {
  padding: 0 20px;
}

.pickup_wrap .pickup_notice_bubble {
  position: relative;
  margin-top: 45px;
  padding: 34px 28px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #000;
}

.pickup_wrap .pickup_notice_bubble:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 20px;
  background: url(../images/guide/wel_pickup_bubble_before.svg) no-repeat center center;
  left: 35px;
  top: -15px;
  z-index: 1;
}

.pickup_wrap .pickup_notice_bubble .tit {
  margin-top: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 8px;
  text-align: left;
  font-family: inherit;
}

.pickup_wrap .pickup_notice_bubble .tit .icon > img {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.pickup_wrap .pickup_notice_bubble .notice_desc {
  line-height: 21px;
  margin-bottom: 12px;
}

.pickup_wrap .pickup_notice_bubble .to_external {
  position: relative;
  line-height: 19px;
  font-size: 13px;
  color: #595959;
}

.pickup_wrap .pickup_notice_bubble .to_external:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 18px;
  top: -2px;
  left: 100%;
  margin-left: 3px;
  opacity: 0.6;
  background: url(../images/ico/ico_bnf_alliance_bk.svg) no-repeat center;
}

/***** 가까운지점 *****/
#content {
  z-index: 5;
  position: relative;
  padding: 10px;
  min-height: 400px;
  padding: 0 10px 60px 10px;
  font-weight: 500;
  /* 기본 배너 */
  /* 매장 상세 */
}

#content .gray_box {
  margin: -12px -10px 0;
  background-color: #eeeeee;
}

#content .t_c {
  text-align: center !important;
}

#content .banner_basic {
  position: relative;
  overflow: hidden;
  margin: 0 10px 25px 10px;
  width: calc(100% - 20px);
}

#content .banner_basic a {
  max-width: 100%;
  text-align: center;
}

#content .banner_basic a img {
  max-width: 100%;
}

#content .banner_basic a .pic {
  position: relative;
}

#content .banner_basic a .pic .sale {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: #e10101;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-weight: bold;
  font-family: Arial;
  text-align: center;
  font-size: 17px;
}

#content .banner_basic a .pic_full img {
  width: 100%;
}

#content .banner_basic a .tit {
  padding-top: 12px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  font-size: 14px;
  color: #000;
}

#content .banner_basic a .txt {
  padding-top: 6px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  font-size: 12px;
  color: #777;
  height: 14px;
  line-height: 14px;
}

#content .banner_basic a .prdt-name {
  padding-top: 12px;
  white-space: nowrap;
  font-weight: bold;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  font-size: 13px;
  color: #010101;
  text-align: center;
}

#content .banner_basic a .price {
  padding-top: 5px;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  color: #f51d1d;
  font-weight: bold;
  height: 18px;
  font-family: Arial;
}

#content .banner_basic a .price span {
  font-size: 12px;
  color: #6a6a6a;
  text-decoration: line-through;
  margin-right: 10px;
}

#content #shopinfo_basic {
  padding: 10px 0 0;
  background: #fff;
}

#content #shopinfo_name {
  display: block;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}

#content #shopinfo_name span {
  display: block;
  margin: auto;
  width: 100%;
  border: 0;
  text-align: center;
}

#content #shopinfo_name span img {
  width: 100%;
  max-width: 80px;
  max-height: 80px;
}

#content #shopinfo_name p {
  margin: auto;
  padding: 15px 0 5px;
  width: 90%;
  text-align: center;
  font-size: 14px;
  color: #2b2b2b;
  line-height: 18px;
  letter-spacing: -0.05em;
}

#content #shopinfo_name p strong {
  font-size: 15px;
}

#content #shopinfo_slecet {
  display: block;
  padding: 15px 0 10px;
  width: 100%;
  height: 140px;
}

#content #shopinfo_slecet dl {
  list-style: none;
  position: relative;
  margin: 0 auto;
  width: 85%;
}

#content #shopinfo_slecet dt {
  clear: both;
  float: left;
  margin: 0;
  padding: 2px 0;
  width: 25%;
  font-size: 13px;
  color: #525252;
  line-height: 18px;
  letter-spacing: -0.1em;
}

#content #shopinfo_slecet dd {
  float: right;
  margin: 0;
  padding: 2px 0;
  width: 75%;
  font-size: 13px;
  color: #525252;
  line-height: 18px;
  letter-spacing: -0.05em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#content #shopinfo_slecet dt strong {
  font-size: 15px;
  color: #2b2b2b !important;
}

#content #shopinfo_slecet dd strong {
  color: #ff6600 !important;
  font-weight: bold;
}

#content #shopinfo_slecet .shop_tel {
  padding-left: 5px;
  width: 50%;
  max-width: 12px;
  max-height: 20px;
}

#content #shopinfo_slecet .btn_area {
  display: block;
  float: right;
  margin: 0 auto;
  width: 66px;
  height: 22px;
  background: #ff6600;
  border-radius: 3px;
  padding: 0;
}

#content #shopinfo_slecet .btn_area a.btn {
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  color: #fff;
}

#content #shopinfo_event {
  clear: both;
  padding: 20px 0 0 0;
  width: 100%;
  background: #eee;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

#content #shopinfo_event .hotevent {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

#content #shopinfo_event .hotevent .banner_basic {
  position: relative;
  overflow: hidden;
  margin: 0 10px 25px 10px;
  width: calc(100% - 20px);
}

#content #shopinfo_event .hotevent .banner_basic li {
  display: block;
}

#content #shopinfo_event .hotevent .banner_basic li + li {
  display: none;
}

#content #shopinfo_event .hotevent .banner_basic.active li + li {
  display: block;
}

#content #shopinfo_event .hotevent .banner_basic a {
  margin: 20px 0 0;
  width: 100%;
  text-align: left;
  letter-spacing: -0.05em;
}

#content #shopinfo_event .hotevent .banner_basic a img {
  width: 100%;
  max-height: 200px;
}

#content #shopinfo_event .hotevent .banner_basic a .txt {
  padding: 4px 0 4px;
  font-size: 14px;
  color: #2b2b2b;
}

#content #shopinfo_event .hotevent .banner_basic a .txt strong {
  font-size: 14px;
  color: #2b2b2b;
}

#content #shopinfo_event .hotevent .btn_area {
  padding: 0 10px;
  margin: -10px auto 20px auto;
  width: 60%;
  height: 33px;
  background: #ff6600;
  border-radius: 3px;
}

#content #shopinfo_event .hotevent a.btn {
  line-height: 33px;
  font-size: 17px;
  padding: 5px 0;
  color: #fff;
  font-weight: bold;
}

#content #shopinfo_event .hotevent .banner_basic a .txt {
  padding: 2px 0 2px;
  font-size: 14px;
  color: #2b2b2b;
  line-height: 12px;
}

#content #shopinfo_list {
  margin: 5px 0 0;
  padding: 0;
  width: 100%;
}

#content #shopinfo_list .sbox_basic {
  display: -webkit-box;
  margin: 0;
  padding: 15px 0;
  border-bottom: 10px solid #eee;
}

#content #shopinfo_list .box_list {
  margin: 0 20px;
  padding: 0;
  width: calc(100% - 40px);
  position: relative;
  min-height: 100px;
}

#content #shopinfo_list .box_list span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
}

#content #shopinfo_list .box_list span img {
  margin: 0;
  padding: 0;
  width: 100px;
  height: 100px;
}

#content #shopinfo_list .box_list ul {
  display: block;
  margin-left: 110px;
}

#content #shopinfo_list .box_list li {
  margin: 0;
  padding: 0 0 0 10px;
  color: #525252;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

#content #shopinfo_list .box_list li:first-of-type strong {
  margin-left: 0%;
}

#content #shopinfo_list .box_list li strong {
  font-size: 14px;
  color: #2b2b2b;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: -0.05em;
  margin-left: 5px;
}

#content #shopinfo_list .box_list li em {
  padding-left: 10px;
  color: #2b2b2b;
  display: inline-block;
}

#content #shopinfo_list .box_list li span {
  display: inline-block;
  font-weight: bolder;
  position: relative;
  margin: 6px 0 0;
  width: 50px;
  height: 20px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background: #ff4b4c;
  border-radius: 3px;
}

#content .req_stock_form {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 999;
  background: url(/images/season01/bg_layer01.png);
}

#content .req_stock_form .title h1 {
  background-color: #fd6f1b;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  color: #fff;
}

#content .req_stock_form .title #close_btn {
  margin-top: -38px;
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 10px;
}

#content .req_stock_form p.point05 {
  text-align: center;
  margin-top: 10px;
  font-size: 1.1em;
  color: #4a4a4a;
}

#content .req_stock_form .box_complate {
  margin-top: 20px;
}

#content .req_stock_form .btn_orange {
  width: 120px;
  height: 36px;
}

#content .req_stock_form a.btn_orange_1 {
  color: #fd6f1b;
  width: 130px;
  height: 36px;
  text-align: center;
  margin-left: 2px;
  float: center;
  padding-left: 30%;
}

#content .req_stock_form .t_center {
  float: center;
}

#content .req_stock_form .btn_type10 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #909090;
  font-weight: bold;
}

#content .req_stock_form .btn_type10 span {
  text-decoration: underline;
  font-size: 1.1em;
}

#content .req_stock_form li.point02 {
  text-align: center;
}

#content .req_stock_form th.t_right {
  width: 70px;
}

#content .req_stock_form td {
  margin-top: 10px;
  margin-bottom: 10px;
}

#content .req_stock_form .point01 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #909090;
}

#content .req_stock_form input.input_txt {
  border: 1px solid #aaa;
  border-radius: 5px;
  height: 25px;
}

#content .req_stock_form li.point01 {
  color: #aaa;
  margin-left: 10px;
  margin-right: 10px;
}

#content .req_stock_form .title a {
  text-align: right;
}

#content .req_stock_form div.line {
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
  border: 0.1px solid #eee;
  margin-left: 10px;
  margin-right: 10px;
}

#content .req_stock_form #createForm {
  border: 1px solid #aaa;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
  display: block;
  margin-top: 30%;
  background-color: #fff;
  z-index: 1;
}

#content .req_stock_form .pop_cont {
  padding-top: 15px;
}

#content .req_stock_form table tr {
  height: 35px;
}

#content .req_stock_form div.tb_box {
  padding-left: 8px;
}

/***** 라이브 알림 팝업 *****/
.live_pop_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  padding: 22px 20px;
  background-color: #292929;
  color: #fff;
}

.live_pop_wrap .close_btn {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 12px;
  right: 12px;
  background: url(../images/ico/ico_close_white.svg) no-repeat center/16px;
  z-index: 1;
}

.live_pop_wrap .live_pop_left_area {
  width: 72px;
  height: 70px;
  margin-right: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.live_pop_wrap .live_pop_left_area .liv_timer_bomb {
  position: relative;
}

.live_pop_wrap .live_pop_left_area .liv_timer_bomb > img {
  width: 100%;
}

.live_pop_wrap .live_pop_left_area .liv_timer_bomb .timer {
  position: absolute;
  width: 100%;
  height: 14px;
  line-height: 14px;
  text-align: center;
  left: 0;
  top: 50%;
  margin-top: 2px;
  margin-left: -3px;
  z-index: 1;
  font-size: 12px;
  font-weight: 700;
  color: #D4FF1A;
}

.live_pop_wrap .live_pop_left_area .liv_thumbnail {
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  top: 50%;
  margin-top: -32px;
}

.live_pop_wrap .live_pop_left_area .liv_thumbnail > img {
  width: 100%;
}

.live_pop_wrap .live_pop_right_area .sub_tit {
  padding-right: 9px;
  line-height: 16px;
  word-break: keep-all;
  letter-spacing: -0.01em;
  margin-top: 2px;
  margin-bottom: 3px;
  font-size: 11px;
  font-weight: 500;
  color: #ccc;
}

.live_pop_wrap .live_pop_right_area .tit {
  line-height: 19px;
  word-break: keep-all;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 13px;
}

.live_pop_wrap .live_pop_right_area .on_air {
  width: 87px;
  height: 17px;
  margin-bottom: 6px;
  background: url(../images/guide/wel_liv_onair.svg) no-repeat center/99%;
}

.live_pop_wrap .live_pop_right_area .toLivePage {
  position: relative;
  line-height: 17px;
  word-break: keep-all;
  font-size: 12px;
  color: #D4FF1A;
}

.live_pop_wrap .live_pop_right_area .toLivePage:before {
  content: "";
  width: 10px;
  height: 17px;
  position: absolute;
  left: 100%;
  top: 0;
  background: url(../images/ico/toLivePage_arrow.svg) no-repeat right 2px/5px;
}
