@charset "UTF-8";
/*
    Admin
*/
* {
  font-family: Roboto,"Noto Sans KR";
}

body {
  color: #000;
}

span.button a, span.button button, span.button input {
  background: red  !important;
}

span.button a, span.button button, span.button input {
  height: 30px !important;
  padding: 0 10px !important;
  background: #fff !important;
  border: 1px solid #000 !important;
  border-radius: 2px;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  font-family: Roboto,"Noto Sans KR" !important;
  line-height: 26px !important;
}

span.button, span.button a, span.button button, span.button input {
  left: 0 !important;
  background: none !important;
}

table span.button a, table span.button button, table span.button input {
  height: 30px !important;
  padding: 0 10px !important;
  background: #fff !important;
  border: 2px solid #000 !important;
  border-radius: 5px;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  font-family: Roboto,"Noto Sans KR" !important;
  line-height: 26px !important;
}

h4 span.button a, h4 span.button button, h4 span.button input {
  height: 20px !important;
  padding: 0 10px !important;
  background: #fff !important;
  border: 1px solid blue !important;
  border-radius: 2px;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  font-family: Roboto,"Noto Sans KR" !important;
  line-height: 18px !important;
}

/********** 22.06.08 Admin 수정 **********/
/*** Admin Main ***/
#body h4 {
  font-size: 1.67em;
  color: #000;
  border-bottom: 0;
  background: none;
  padding: 10px 0 10px 0;
}

#body h4 span h1 {
  font-size: 1em;
}

#body h4 span > span {
  font-size: 0.6em;
}

#body h4 .button a {
  color: #fff;
  background-color: #000 !important;
  border-radius: 6px;
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  border: 1px solid #000 !important;
  margin-left: 5px !important;
  margin-top: -7px !important;
}

#body h4 .button + .button a {
  margin-left: 0 !important;
}

#body div.list-type table.table {
  border-top: 1px solid #202020;
}

#body div.list-type table.table thead tr th {
  color: #767676;
  font-weight: 500;
  padding: 18px 0;
  border-bottom: 1px solid #D5D5D5;
}

#body div.list-type table.table tbody tr td {
  padding: 18px 3px;
  color: #000;
  border-right: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
}

#body div.list-type table.table tbody tr td .button {
  font-weight: 700;
}

#body div.list-type table.table tbody tr td .button a {
  border-radius: 6px;
  border: 1px solid #ccc !important;
  color: #000;
  padding: 0 9px !important;
  line-height: 30px !important;
}

#body div.list-type table.table tbody tr td:last-child {
  border-right: 0;
}

#body div.list-type table.table tbody tr th {
  color: #767676;
  font-weight: 500;
}

#contents-area .list-type table {
  margin-top: 0;
}

#contents-area > div > table {
  margin-top: 42px;
}
