@charset "UTF-8";
/*
    Admin
*/
* {
  font-family: Roboto, "Noto Sans KR";
}

body {
  color: #000;
}

/*** Admin Login ***/
.admin_login {
  margin: 0;
  background: #f5ede2 url(../images/ht_admin/bg_admin_login.jpg) center top/42px repeat;
}

.admin_login_section {
  background: url(../images/ht_admin/ico_admin_login.svg) 31px 50px/734px no-repeat;
  max-width: 770px;
  margin: 0 auto;
  padding-bottom: 69px;
  position: absolute;
  left: 50%;
  top: 40%;
  width: 100%;
  transform: translate(-50%, -40%);
}
.admin_login_section h1 {
  margin: 0 auto;
  text-align: center;
}
.admin_login_section h1 img {
  width: 152px;
}
.admin_login_section .admin_login_contents {
  max-width: 480px;
  margin: 42px auto 0;
  border: 3px solid #000;
  border-radius: 6px;
  box-shadow: 3px 3px #000;
  box-sizing: border-box;
  padding: 0 42px 67px;
  background-color: #fff;
}
.admin_login_section .admin_login_contents h2 {
  text-align: center;
  font-size: 38px;
  margin: 61px 0 0;
  height: 46px;
  line-height: 46px;
}
.admin_login_section .admin_login_contents p {
  text-align: center;
  font-size: 14px;
  color: #767676;
  margin: 11px 0 0;
  line-height: 22px;
}
.admin_login_section .admin_login_contents .form_wrap {
  margin-top: 47px;
}
.admin_login_section .admin_login_contents .form_wrap .form_sel + .form_sel {
  margin-top: 5px;
}
.admin_login_section .btn_area {
  margin-top: 19px;
}
.admin_login_section .btn_area button {
  cursor: pointer;
  display: inline-flex;
  display: -webkit-inline-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  flex-direction: row;
  min-width: 200px;
  height: 50px;
  padding: 0 23px 1px;
  border-radius: 6px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.16px;
  font-weight: 700;
  color: #fff;
  background: #292929;
  border: 1px solid #292929;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  font-weight: 500;
  width: 100%;
}
.admin_login_section .form_ip {
  display: inline-block;
  width: 100% !important;
  height: 44px !important;
  padding: 0 14px 2px;
  color: #000;
  font-size: 14px;
  line-height: 42px;
  letter-spacing: -0.14px;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  box-sizing: border-box;
  transition: border-color 0.2s ease-out;
  outline: none;
}
.admin_login_section .form_chk {
  display: inline-block;
  position: relative;
  min-height: 22px;
  vertical-align: top;
  margin-top: 6px;
}
.admin_login_section .form_chk input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.admin_login_section .form_chk input + label {
  display: inline-block;
  position: relative;
  padding: 2px 0 0 27px;
  font-size: 14px;
  letter-spacing: -0.14px;
  line-height: 20px;
  color: #000;
  cursor: pointer;
  vertical-align: top;
  transition: color 0.2s ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.admin_login_section .form_chk input + label:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  transition: border-color 0.2s ease-out, background-color 0.2s ease-out;
}
.admin_login_section .form_chk input + label:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 50%;
  box-sizing: border-box;
  background: url("../images/ht_admin/ico_checkbox@2x.png") center 8px/10px 7px no-repeat;
}
.admin_login_section .form_chk input:checked + label:before {
  background-color: #da2128;
  border-color: #da2128;
}
.admin_login_section .form_chk input:checked + label:after {
  background: url(../images/ht_admin/ico_checkbox_active@2x.png) center/10px 7px no-repeat;
}

/*** GNB ***/
#head {
  min-width: 1250px;
  height: 171px;
}
#head h1 {
  background: #000;
  padding: 37px 41px 34px;
  position: relative;
}
#head h1 a {
  color: #fff;
  font-size: 20px;
}
#head h1 a img {
  opacity: 0;
  margin-right: 11px;
  margin-top: -8px;
  width: 82px;
  height: 24px;
  display: inline-block;
}
#head h1 a:after {
  content: "";
  display: inline-block;
  width: 85px;
  height: 24px;
  background: url(../images/ht_admin/logo.svg) center/cover no-repeat;
  position: absolute;
  top: 42px;
  left: 41px;
}
#head h1 a.vndr {
  font-size: 14px;
}
#head div.global-menu {
  z-index: 1;
  text-align: right;
  top: 32px;
  left: 334px;
  padding-right: 19px;
}
#head div.global-menu .manual {
  margin-left: -8px;
  margin-top: 4px;
  text-align: left;
}
#head div.global-menu .manual a {
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  font-size: 13px !important;
  padding: 0 7px !important;
  transition: opacity 0.4s;
}
#head div.global-menu .manual a:hover {
  opacity: 1;
}
#head div.global-menu .manual span.button {
  position: relative;
}
#head div.global-menu .manual span.button:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #d5d5d5;
  position: absolute;
  top: 9px;
  right: -4px;
  opacity: 0.3;
}
#head div.global-menu .manual > span:last-child:after {
  display: none;
}
#head div.global-menu strong {
  color: #D4FF1A;
  position: relative;
  font-size: 13px;
  float: left;
}
#head div.global-menu strong:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/ht_admin/ico_grinning_face.png) no-repeat;
  position: absolute;
  top: -1px;
  right: -18px;
}
#head div.global-menu span + span {
  border-left: 0;
}
#head div.global-menu .txt_user ~ span {
  padding-left: 12px;
}
#head div.global-menu .txt_user ~ span a {
  color: #fff;
  font-size: 13px;
  position: relative;
}
#head div.global-menu .txt_user ~ span a:hover {
  color: #d4ff1a;
}
#head div.global-menu .txt_user ~ span a:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #d5d5d5;
  opacity: 0.3;
  position: absolute;
  top: 2px;
  right: -10px;
}
#head div.global-menu .txt_user ~ span:nth-child(1) {
  margin-left: 0;
}
#head div.global-menu .txt_user ~ span:nth-child(6) a:after {
  display: none;
}
#head div.gnb_box {
  height: 64px;
  box-shadow: initial;
}
#head div.gnb_box > ul {
  height: 65px;
  margin-left: 64px;
  overflow: hidden;
}
#head div.gnb_box > ul > li {
  height: 64px;
}
#head div.gnb_box > ul > li:first-child > a {
  color: #474C98 !important;
}
#head div.gnb_box > ul > li:first-child:hover > a {
  color: #474C98 !important;
}
#head div.gnb_box > ul > li a {
  position: relative;
  height: 64px;
  line-height: 67px;
  font-size: 15px;
  padding: 0 12px;
  border: 0 !important;
  color: #666666;
  cursor: pointer;
  transition: color 0.4s;
}
#head div.gnb_box > ul > li > a:after {
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 0%;
  height: 2px;
  background: #da2128;
  content: "";
  transition: all 0.4s;
}
#head div.gnb_box > ul > li > a:hover:after {
  left: 0;
  width: 100%;
}
#head div.gnb_box > ul > li .snb-item {
  top: 65px;
  border-top: 0 !important;
}
#head div.gnb_box > ul > li .snb-item .side-menu {
  padding: 21px 10px 34px 10px;
  border-bottom: 1px solid #ccc;
}
#head div.gnb_box > ul > li .snb-item .side-menu ul li {
  height: auto;
  border-top: 0 !important;
}
#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd {
  border-left: 0;
  margin-left: 308px;
}
#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd a, #head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd strong {
  font-size: 13px;
  padding: 0 16px;
  height: 29px;
  line-height: 29px;
}
#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd a + a, #head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd strong + a {
  position: relative;
  border-left: 0;
  padding-left: 0;
}
#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd a + a:after, #head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd strong + a:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #d5d5d5;
  position: absolute;
  top: 2px;
  left: -10px;
}
#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd a + strong, #head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd strong + strong {
  position: relative;
  border-left: 0;
  padding-left: 4px;
}
#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd a + strong:after, #head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd strong + strong:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #d5d5d5;
  position: absolute;
  top: 2px;
  left: -10px;
}
#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dt {
  background: initial;
  font-size: 13px;
  color: #767676;
  padding-left: 61px;
  top: 11px;
}
#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dt > img {
  margin-left: 4px;
  vertical-align: middle;
  margin-top: -2px;
}
#head div.gnb_box > ul > li .snb-item .side-menu ul li li + li {
  border-top: 0;
}
#head div.gnb_box > ul li:first-child > a {
  color: #474C98 !important;
}
#head div.gnb_box > ul li.selected > a:after {
  left: 0;
  width: 100%;
}
#head div.gnb_box > ul li.selected > a, #head div.gnb_box > ul > li:hover > a {
  color: #000 !important;
  padding: 0 12px;
}
#head div.gnb_box .drawer {
  width: 18px;
  height: 14px;
  left: 40px;
  top: 27px;
  background: url(../images/ht_admin/hamburger.png) no-repeat;
}

/* GNB 활성화 .show */
.show#head div.gnb_box {
  border-bottom: 1px solid #ccc;
}
.show#head div.gnb_box > ul {
  height: inherit;
  overflow: inherit;
}
.show#head div.gnb_box > ul > li {
  height: auto;
  width: 100%;
  margin-top: 5px;
}
.show#head div.gnb_box > ul > li:first-child {
  margin-top: 0;
}
.show#head div.gnb_box > ul > li:first-child:hover > a {
  color: #474C98 !important;
}
.show#head div.gnb_box > ul > li .snb-item {
  border-top: 0 !important;
}
.show#head div.gnb_box > ul > li .snb-item .side-menu {
  padding: 5px 0 34px 0;
  margin: 0 12px;
  border-top: 1px solid #ccc;
}
.show#head div.gnb_box > ul > li .snb-item .side-menu ul li dl {
  margin-top: 5px;
}
.show#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dt {
  margin-left: -5px;
  padding-left: 0;
}
.show#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd {
  margin-left: 241px;
}
.show#head div.gnb_box > ul > li .snb-item:hover > a {
  padding-left: 0 !important;
}
.show#head div.gnb_box > ul > li > a {
  font-size: 16px;
  text-align: left;
  background: initial;
  padding-bottom: 24px;
  padding-left: 12px !important;
}
.show#head div.gnb_box > ul > li > a:after {
  display: none;
}
.show#head div.gnb_box > ul:after {
  display: block;
  clear: both;
  content: "";
}

/*** LNB ***/
div.cate-list {
  position: relative;
  width: 280px;
  min-height: auto;
  margin: -40px 0 0 -40px !important;
  padding: 0 !important;
  border: 0;
  overflow: initial;
}
div.cate-list:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100000px;
  background: #eaeaea;
  content: "";
}
div.cate-list .module-side-menu {
  min-height: initial;
}
div.cate-list .module-side-menu div {
  position: relative;
  width: 100%;
  height: initial;
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  border-bottom: 1px solid #eaeaea;
  box-sizing: border-box;
  text-align: left;
}
div.cate-list .module-side-menu div.ui-sortable-helper:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #666;
  box-sizing: border-box;
  content: "";
}
div.cate-list .module-side-menu div button {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  background: none !important;
  border: 0 !important;
  border-radius: 0;
  box-shadow: none !important;
  transform: translateY(-50%) rotate(45deg);
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.4s;
}
div.cate-list .module-side-menu div button:before {
  position: absolute;
  left: 9px;
  top: 14px;
  width: 12px;
  height: 2px;
  background: #000;
  content: "";
}
div.cate-list .module-side-menu div button:after {
  position: absolute;
  left: 14px;
  top: 9px;
  width: 2px;
  height: 12px;
  background: #000;
  content: "";
}
div.cate-list .module-side-menu div button:hover {
  transform: translateY(-50%) rotate(225deg);
}
div.cate-list .module-side-menu div > span {
  display: block;
  padding: 20px 40px 18px 40px;
}
div.cate-list .module-side-menu .card-placeholder {
  width: auto !important;
  height: 60px !important;
  margin: 0 !important;
  box-sizing: border-box;
  background: #f7f7f7 !important;
  border: 0 !important;
}
div.cate-list .module-side-menu a,
div.cate-list .module-side-menu span {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  background: none !important;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}
div.cate-list .module-side-menu span {
  display: inline-block;
  vertical-align: top;
}
div.cate-list .module-side-menu span:before {
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 14px;
  background: #ffff58;
  content: "";
  transition: width 0.4s;
}
div.cate-list .module-side-menu em {
  position: relative;
  font-style: normal;
}
div.cate-list .module-side-menu a {
  padding: 20px 40px 18px 40px;
  background: #fff !important;
  transition: background 0.4s;
  cursor: pointer;
}
div.cate-list .module-side-menu a:hover {
  background: #f7f7f7 !important;
}
div.cate-list .module-side-menu .dm_prdt span:before {
  width: 100%;
}
div.cate-list .disp-side-menu {
  min-height: initial;
  background: none !important;
}
div.cate-list .disp-side-menu a,
div.cate-list .disp-side-menu span {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  background: none !important;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}
div.cate-list .disp-side-menu span {
  display: inline-block;
  vertical-align: top;
}
div.cate-list .disp-side-menu span:before {
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 14px;
  background: #ffff58;
  content: "";
  transition: width 0.4s;
}
div.cate-list .disp-side-menu span b {
  color: #767676 !important;
}
div.cate-list .disp-side-menu em {
  position: relative;
  font-style: normal;
}
div.cate-list .disp-side-menu a {
  left: initial !important;
  top: initial !important;
  width: auto !important;
  height: initial !important;
  padding: 20px 40px 18px 40px !important;
  border: 0 !important;
  border-bottom: 1px solid #eaeaea !important;
  transition: background 0.4s;
  cursor: pointer;
}
div.cate-list .disp-side-menu a:hover {
  background: #f7f7f7 !important;
}

div.cate-content {
  float: right;
  width: calc(100% - 280px) !important;
}

div.cate-list + select {
  margin-left: 40px !important;
}

/*** Page Nav ***/
.page_nav {
  bottom: 26px;
  background: none !important;
}
.page_nav .nav_site {
  padding: 9px 5px;
}
.page_nav .nav_site select {
  margin: 2.5px 24px 2.5px 1px !important;
}
.page_nav .nav_info p {
  color: #000;
  position: relative;
  padding-top: 1px;
}
.page_nav .nav_info p:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/ht_admin/ico_grinning_face.png) no-repeat;
  position: absolute;
  top: 21px;
  right: -20px;
}
.page_nav .nav_info p a {
  color: #474C98;
  font-weight: 700;
}
.page_nav .nav_inner {
  background: #fff;
  border: 2px solid #000;
  border-radius: 6px;
  box-shadow: 2px 2px #000;
  box-sizing: border-box;
  max-width: 1204px;
  height: 64px;
}
.page_nav .nav_left {
  background: none !important;
  height: initial;
}
.page_nav .nav_left > a:hover {
  background: #f7f7f7;
}
.page_nav .nav_left > a:first-child {
  position: relative;
}
.page_nav .nav_left > a:first-child:before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../images/ht_admin/home.png) no-repeat;
  position: absolute;
  top: 0;
}
.page_nav .nav_left > a:first-child img {
  opacity: 0;
  width: 60px;
  height: 60px;
}
.page_nav .nav_left > a:nth-child(2) {
  position: relative;
}
.page_nav .nav_left > a:nth-child(2):before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../images/ht_admin/prev.png) no-repeat;
  position: absolute;
  top: 0;
}
.page_nav .nav_left > a:nth-child(2) img {
  opacity: 0;
  width: 60px;
  height: 60px;
}
.page_nav .nav_left > a:nth-child(3) {
  position: relative;
}
.page_nav .nav_left > a:nth-child(3):before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../images/ht_admin/next.png) no-repeat;
  position: absolute;
  top: 0;
}
.page_nav .nav_left > a:nth-child(3) img {
  opacity: 0;
  width: 60px;
  height: 60px;
}
.page_nav .nav_right {
  background: none !important;
  height: initial;
}
.page_nav .nav_right > a:hover {
  background: #f7f7f7;
}
.page_nav .nav_right > a:first-child {
  position: relative;
}
.page_nav .nav_right > a:first-child:before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../images/ht_admin/top.png) no-repeat;
  position: absolute;
  top: 0;
}
.page_nav .nav_right > a:first-child img {
  opacity: 0;
  width: 60px;
  height: 60px;
}
.page_nav .nav_right > a:nth-child(2) {
  position: relative;
}
.page_nav .nav_right > a:nth-child(2):before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../images/ht_admin/down.png) no-repeat;
  position: absolute;
  top: 0;
}
.page_nav .nav_right > a:nth-child(2) img {
  opacity: 0;
  width: 60px;
  height: 60px;
}

/*** Contents layout ***/
#body {
  margin: 0;
  padding: 0;
}
#body h3 {
  position: relative;
  margin-bottom: 40px;
  padding: 26px 0 24px 0;
  background: none;
  border: 0;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}
#body h3:after {
  position: absolute;
  left: -40px;
  bottom: 0;
  width: calc(100% + 80px);
  height: 1px;
  background: #eaeaea;
  content: "";
}
#body h3:empty {
  margin: 0 !important;
  padding: 0 !important;
}
#body h3:empty:after {
  display: none;
}
#body #contents-area h3 {
  margin-top: -40px;
}

#contents-area {
  margin: 0;
  padding: 40px 40px 150px 40px;
}

.content {
  margin: 0 !important;
  padding: 0 40px 150px 40px;
}
.content div.list-type {
  width: 100% !important;
}

#body div.list-type {
  padding-bottom: 60px;
}
#body div.list-type .list-option:after {
  clear: both;
  content: "";
  display: block;
}

#body h4 {
  border-bottom: 0;
  background: none;
  margin: 0px 0 15px 0;
  padding: 0;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px !important;
}
#body h4 span h1 {
  font-size: 20px;
}
#body h4 span > span {
  font-size: 12px;
  vertical-align: middle;
  height: 27px !important;
}
#body h4 .button a {
  color: #fff;
  background: #000 !important;
  border-radius: 6px;
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  border: 1px solid #000 !important;
  margin-left: 5px !important;
  margin-top: -7px !important;
}
#body h4 .button + .button a {
  margin-left: 0 !important;
}

/* Table */
#body table.table {
  margin-bottom: 10px !important;
}
#body table.table #C019EImageTable span.layer_step {
  height: 200px;
  width: 200px;
  padding: 12px;
}

#body div.list-type table.table thead tr th + th,
#body div.list-type table.table tbody tr th + th,
#body div.list-type table.table tbody tr td + td {
  border-left: 1px solid #eaeaea;
}

#body div.list-type table.table {
  border-top: 1px solid #202020;
  border-bottom: 0;
  table-layout: fixed;
}
#body div.list-type table.table thead tr th {
  color: #767676;
  font-weight: 500;
  padding: 15px 0;
  border-bottom: 1px solid #D5D5D5;
  border-top: 1px solid #202020;
}
#body div.list-type table.table thead tr th span.button {
  height: 36px !important;
}
#body div.list-type table.table thead tr th span.button a {
  font-weight: 700;
  border-radius: 6px;
  border: 1px solid #ccc !important;
  color: #000;
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  margin: 0 1px !important;
}
#body div.list-type table.table tbody tr {
  /*+ tr td{
      border-top: 0px solid #d6d6d6 !important;border-right:0px solid #EAEAEA;
  }*/
}
#body div.list-type table.table tbody tr td {
  padding: 8px 12px !important;
  color: #000; /*border-right:1px solid #EAEAEA;*/
  border-bottom: 1px solid #EAEAEA;
  height: 50px;
  box-sizing: border-box;
}
#body div.list-type table.table tbody tr td select + span.button a {
  font-weight: 700;
  border-radius: 6px;
  border: 1px solid #ccc !important;
  color: #000;
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  margin: 0 1px !important;
}
#body div.list-type table.table tbody tr td .button {
  font-weight: 700;
}
#body div.list-type table.table tbody tr td .button a {
  border-radius: 6px;
  border: 1px solid #ccc !important;
  color: #000;
  padding: 0 16px !important;
  line-height: 30px !important;
  height: 30px !important;
  margin-top: 3px !important;
}
#body div.list-type table.table tbody tr td .button + span.button a {
  font-weight: 700;
  border-radius: 6px;
  border: 1px solid #ccc !important;
  color: #000;
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  margin: 0 1px !important;
}
#body div.list-type table.table tbody tr td .button.small {
  height: 35px !important;
}
#body div.list-type table.table tbody tr td .button.small a {
  line-height: 36px !important;
  height: 36px !important;
  margin-top: 0 !important;
}
#body div.list-type table.table tbody tr td input + .button a {
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  margin-top: 0 !important;
}
#body div.list-type table.table tbody tr td:last-child {
  border-right: 0;
  border-top: 0;
}
#body div.list-type table.table tbody tr td div .button a {
  line-height: 36px !important;
  height: 36px !important;
}
#body div.list-type table.table tbody tr th {
  color: #767676;
  font-weight: 500;
}

.form-type .inner-table02 {
  border-top: 0;
  border-bottom: 0;
}

#body h4 + div.form-type {
  padding-top: 10px !important;
}
#body h4 + div.form-type .table {
  margin-top: -10px !important;
}

#body div.form-type {
  border-top: 1px solid #000;
  padding: 0 !important;
  margin: 0 !important;
}
#body div.form-type table.table tbody tr th {
  padding-left: 20px !important;
}
#body div.form-type table.table tbody tr td {
  padding: 7px 10px 7px 20px;
}
#body div.form-type ~ span.button a {
  color: #fff;
  background: #000 !important;
  border-radius: 6px;
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  border: 1px solid #000 !important;
  margin-left: 5px !important;
  font-weight: 700;
}
#body div.form-type .form-type {
  border-top: 0 !important;
}

#body div table.table tbody tr th {
  color: #767676;
  font-weight: 500;
  padding: 18px 0 !important;
  border-bottom: 1px solid #D5D5D5;
}
#body div table.table tbody tr th p + p {
  margin-top: 5px;
  margin-left: -4px;
}
#body div table.table tbody tr td td {
  border-bottom: 0;
}
#body div table.table tbody tr p img {
  margin-bottom: 2px;
}

#contents-area .list-type table {
  margin-top: 0;
}
#contents-area .form-button + .list-type {
  margin-top: 70px;
}
#contents-area > div > table {
  margin-top: 0px;
}

/* button / select / input / text area / check box */
span.button {
  height: 36px !important;
}

span.button a, span.button button, span.button input {
  height: 30px !important;
  padding: 0 10px !important;
  background: #fff !important;
  border: 1px solid #000 !important;
  border-radius: 2px;
  box-sizing: border-box !important;
  font-family: Roboto, "Noto Sans KR" !important;
  line-height: 26px !important;
}

span.button, span.button a, span.button button, span.button input {
  left: 0 !important;
  background: none !important;
}

table span.button a, table span.button button, table span.button input {
  height: 30px !important;
  padding: 0 10px !important;
  background: #fff !important;
  border: 1px solid #000 !important;
  border-radius: 5px;
  box-sizing: border-box !important;
  font-family: Roboto, "Noto Sans KR" !important;
  line-height: 26px !important;
}

h4 + select {
  margin-bottom: 14px !important;
}

select {
  display: inline-block;
  width: auto;
  position: relative;
  height: 36px !important;
  padding: 0 35px 0 10px;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  box-sizing: border-box;
  transition: border-color 0.2s ease-out, border-radius 0.2s ease-out;
  outline: none;
  margin: 2px 6px 2px 0 !important;
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: none;
  background: #fff url(../images/ht_admin/arw_select@2x.png) right 11px center/9px 8px no-repeat;
}

form[name=searchOrderForm] .form-button span.button + select[name=listSize].changeSelect {
  margin-top: 3px !important;
}

select::-ms-expand {
  display: none;
}

span.button input,
span.button button,
span#calculrate a {
  color: #fff;
  background: #000 !important;
  border-radius: 6px;
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  border: 1px solid #000 !important;
  margin-left: 5px !important;
  font-weight: 700;
}

span#uptRcStatBtn a {
  color: #fff;
  background: #000 !important;
  border-radius: 6px;
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  border: 1px solid #000 !important;
  margin-left: 5px !important;
  font-weight: 700;
}

button[type=button]#btnSearch,
button[type=button]#btnNotiAdd {
  color: #fff;
  background: #000 !important;
  border-radius: 6px;
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  border: 1px solid #000 !important;
  margin-left: 5px !important;
  font-weight: 700;
  margin-top: 0 !important;
}

font + span.button button,
select[name=kindOfDoc] + span.button a,
#excelDownloadBtn a,
#excelDown button,
#btnDelOrderId a,
select[name=deliveryRequest] ~ span.button button,
select[name=deliveryRequest] ~ span.button a {
  margin-top: 0px !important;
}

form[name=bigChulGoSearch] + .form-button button#btnExcel {
  margin-top: -8px !important;
}

button#btnPrint {
  margin-top: 5px !important;
}

button#btnJisiSerConf,
button#btnNotiContAdd {
  margin-top: -37px !important;
}

td.left button#btnJisiSerConf,
td.left button#btnSearch {
  margin-top: 0px !important;
}

button#btnRegist {
  margin-top: -18px !important;
}

button + button#btnExcel {
  margin-top: -8px !important;
}

.form-button span.button, .list-option span.button {
  margin-right: 0px !important;
}
.form-button span.button a, .list-option span.button a {
  color: #fff;
  background: #000 !important;
  border-radius: 6px;
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  border: 1px solid #000 !important;
  margin-left: 5px !important;
  font-weight: 700;
}

#quickSearch form > span.button button[type=submit] {
  margin-top: 0px !important;
}

select[name=moduleId] + span.button a {
  color: #fff;
  background: #000 !important;
  border-radius: 6px;
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  border: 1px solid #000 !important;
  margin-left: 5px !important;
  font-weight: 700;
}

.button.left a,
.button.right a {
  color: #fff;
  background: #000 !important;
  border-radius: 6px;
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  border: 1px solid #000 !important;
  margin-left: 5px !important;
  font-weight: 700;
  margin: 0 !important;
}

.button.left#batchProcess a,
.button.left #changeProductStatusCode,
.button.left #changeProductStatusCodeByRequest {
  margin-top: 0px !important;
}

.button.left#addProduct a,
.button.left#deleteProduct a,
.button.left#recollection + .button.left a,
.button.left#recollection a,
.button.left#addProductNew a {
  margin-top: 0px !important;
}

.button.left + .button.left button[type=button]#btnCompleteExchange + button[type=button]#btnExcel {
  margin-top: 0 !important;
}

.button.left + .left input {
  margin-left: 0px !important;
}

div.cate-content > .button {
  margin-left: 3px !important;
}
div.cate-content > .button a {
  color: #fff;
  background: #000 !important;
  border-radius: 6px;
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  border: 1px solid #000 !important;
  margin-left: 5px !important;
  font-weight: 700;
  margin: -13px 0 0 0 !important;
}
.form-button .button + .button a {
  margin-left: 4px !important;
}

td span.button input {
  color: #000 !important;
  border: 1px solid #ccc !important;
  font-weight: 700;
  padding: 0 16px !important;
  height: 36px !important;
  margin-top: 0 !important;
}
td span.button {
  height: 36px !important;
  margin: 2.5px 0 !important;
}
td span.button button, td span.button a {
  height: 36px !important;
  border: 1px solid #ccc !important;
  color: #000;
  font-weight: 700;
  line-height: 36px !important;
  margin-top: 0 !important;
  margin: 0 1px !important;
}

input[name=stDisp] {
  width: 30px !important;
}

ul li input[type=text] {
  width: 30px !important;
  margin: 3px 0 !important;
}
ul li input[type=text] + input[type=text] {
  margin-left: 7px !important;
  width: 150px !important;
}

button[type=button]#cmdSearch,
button[type=button]#detail,
button[type=button]#noSujib {
  color: #fff;
  background: #000 !important;
  border-radius: 6px;
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  border: 1px solid #000 !important;
  margin-left: 5px !important;
  font-weight: 700;
  margin: 2px 6px 2px 0 !important;
  vertical-align: middle;
}

button[type=button]#prdtSujib,
button[type=button]#vndrSujib,
button[type=button]#allSujib,
button[type=button]#jisi {
  display: inline-block;
  height: 36px !important;
  color: #000;
  font-size: 12px;
  letter-spacing: -0.14px;
  font-family: "Noto Sans KR", sans-serif;
  background: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  box-sizing: border-box;
  transition: border-color 0.2s ease-out;
  outline: none;
  min-width: 30px !important;
  width: auto;
  font-weight: 700;
  margin: 2px 6px 2px 0 !important;
  padding: 0 15px !important;
}

input[type=text],
input[type=number],
input[name=searchVal],
input[name=prsntStartDt],
input[name=prsntEndDt] {
  padding: 5px 10px !important;
  display: inline-block;
  height: 36px !important;
  margin: 2px 6px 2px 0 !important;
  padding: 0 14px 2px;
  color: #000;
  font-size: 12px;
  line-height: 42px;
  letter-spacing: -0.14px;
  font-family: "Noto Sans KR", sans-serif;
  background: #fff;
  border: 1px solid #d5d5d5 !important;
  border-radius: 6px !important;
  box-sizing: border-box;
  transition: border-color 0.2s ease-out;
  outline: none;
  min-width: 30px !important;
  width: auto;
  box-shadow: none !important;
}
input[type=text]:disabled,
input[type=number]:disabled,
input[name=searchVal]:disabled,
input[name=prsntStartDt]:disabled,
input[name=prsntEndDt]:disabled {
  background: #f7f7f7;
}
input[type=text].hasDatepicker,
input[type=number].hasDatepicker,
input[name=searchVal].hasDatepicker,
input[name=prsntStartDt].hasDatepicker,
input[name=prsntEndDt].hasDatepicker {
  width: 80px !important;
}

input[name=searchVal] ~ span.button button[type=submit] {
  color: #fff;
  background: #000 !important;
  border-radius: 6px;
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  border: 1px solid #000 !important;
  margin-left: 0px !important;
  font-weight: 700;
  margin-top: -7px !important;
}

input[type=number] {
  margin-right: 5px;
}

textarea {
  border-radius: 6px !important;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px !important;
  line-height: 200%;
}

td span.button button {
  padding: 0 15px !important;
}

label {
  margin: 5px 0;
  display: inline-block;
}
label + label {
  margin-left: 5px;
}

#switchMode label:first-child {
  margin-left: 8px;
}
#switchMode label {
  font-size: 16px;
}

input[type=radio] {
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  padding: 2px;
  border: 1px solid #ccc !important;
  position: relative;
  margin: 0 4px;
  margin-top: -2px;
}
input[type=radio]:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #ccc;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
}
input[type=radio] + input {
  margin-left: 8px;
}

input[type=radio]:checked {
  background: #fff;
  border: 5px solid #DA2128 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}
input[type=radio]:checked:before {
  display: none;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  padding: 2px;
  border: 1px solid #ccc !important;
  position: relative;
  margin: -2px 3px 0 4px;
  background: #fff url(../images/ht_admin/ico_checkbox@2x.png) 4px 5px/9px 7px no-repeat;
}
input[type=checkbox] + input {
  margin-left: 8px;
}

input[type=checkbox]:checked {
  border: 0 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: #da2128 url("../images/ht_admin/ico_checkbox_active@2x.png") 5px 6px/9px 7px no-repeat;
}
input[type=checkbox]:checked:before {
  display: none;
}

span.button.small {
  margin-right: -3px !important;
}
span.button.small a {
  border: 0 !important;
}

div.list-option {
  padding-bottom: 16px !important;
}
div.list-option span.button {
  height: 36px !important;
}
div.list-option span.button input {
  margin-top: 0 !important;
}

#body h4 + div.list-option {
  padding-top: 7px !important;
  border-top: 1px solid #000000;
  padding-bottom: 16px;
}

table#eventMasterlist tbody tr.tgt {
  background: #fff4f1;
}

#body div.form-type div.form-button {
  margin-top: 3px;
  padding-bottom: 60px !important;
}

#body div.list-type div.form-button {
  margin-top: 12px;
}

#listForm .list-type > span.button a {
  color: #fff;
  background: #000 !important;
  border-radius: 6px;
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  border: 1px solid #000 !important;
  margin-left: 5px !important;
  margin-top: -18px !important;
  font-weight: 700;
}

/* page number */
#body div .pager a {
  margin-right: 10px !important;
  border: 0;
}
#body div .pager strong {
  background: #000;
  border-radius: 100%;
  border: 0;
  font-size: 12px;
  width: 26px;
  height: 21px;
  padding: 5px 0 0;
  margin-right: 6px;
}
#body div .pager .left a {
  margin-left: 2px !important;
}
#body div .pager .left + .left {
  margin-left: -11px !important;
}

/* 달력 */
.ui-datepicker {
  padding: 10px !important;
  border: 1px solid #d5d5d5 !important;
  border-radius: 4px !important;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1) !important;
  background: #fff !important;
}
.ui-datepicker .ui-widget-header {
  background: none;
  border: 0;
  color: #000;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: auto !important;
}
.ui-datepicker td {
  padding: 0 !important;
  text-align: center !important;
}
.ui-datepicker td span,
.ui-datepicker td a {
  background: none !important;
  border: 0 !important;
  color: #000 !important;
  line-height: 22px !important;
  text-align: center !important;
}
.ui-datepicker thead th,
.ui-datepicker tbody td {
  width: 20px;
}
.ui-datepicker thead th:first-child span,
.ui-datepicker thead th:first-child a,
.ui-datepicker tbody td:first-child span,
.ui-datepicker tbody td:first-child a {
  color: #da2128 !important;
}
.ui-datepicker thead th a,
.ui-datepicker tbody td a {
  font-weight: 400 !important;
}
.ui-datepicker tbody td:first-child.ui-datepicker-current-day a {
  color: #fff !important;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  top: 11px !important;
  width: 30px;
  height: 30px;
  background: none !important;
  border: 0 !important;
}
.ui-datepicker .ui-datepicker-prev span {
  background: url("../images/ht_admin/prev.png") center/40px no-repeat;
  border: 0 !important;
}
.ui-datepicker .ui-datepicker-next span {
  background: url("../images/ht_admin/next.png") center/40px no-repeat;
  border: 0 !important;
}
.ui-datepicker .ui-datepicker-today {
  position: relative;
  /*
  &:after {
      position:absolute;right:2px;top:2px;width:5px;height:5px;background-color:#da2128;border-radius:50%;content:"";
  }*/
}
.ui-datepicker .ui-datepicker-today a {
  width: 22px;
  height: 22px;
  margin: 0 auto;
  background: #eee !important;
  border-radius: 50%;
  color: #000 !important;
}
.ui-datepicker .ui-datepicker-current-day a {
  width: 22px;
  height: 22px;
  margin: 0 auto;
  background: #000 !important;
  border-radius: 50%;
  color: #fff !important;
}

.ui-widget-content.ui-datepicker-buttonpane {
  margin: 14px 5px 0 5px !important;
  padding: 0 !important;
  border-width: 1px 0 0 0 !important;
  box-shadow: none !important;
}
.ui-widget-content.ui-datepicker-buttonpane button {
  height: 28px !important;
  margin: 10px 0 5px 0 !important;
  padding: 0 8px !important;
  background: #fff !important;
  border-radius: 4px !important;
  color: #000 !important;
  font-size: 12px !important;
}

/* 추가 부분 */
#body div.list-type.btn_type table.table tbody tr td {
  padding: 5px !important;
}

#body div.list-type.btn_type table.table tbody tr td .button {
  height: auto !important;
}
#body div.list-type.btn_type table.table tbody tr td .button a {
  height: auto !important;
  margin: 0 !important;
  padding: 5px 8px !important;
  line-height: 18px !important;
  white-space: normal !important;
}

.treeview {
  padding: 30px 35px !important;
  font-size: 13px !important;
}
.treeview a {
  padding: 0 5px;
}