@charset "UTF-8";
/*
    Admin
*/
* {
  font-family: Roboto,"Noto Sans KR";
}

body {
  color: #000;
}

/*** Admin Login ***/
.admin_login {
  margin: 0;
  background: #f5ede2 url(../images/layout/bg_admin_login.jpg) center top/42px repeat;
}

.admin_login_section {
  padding-bottom: 80px;
  background-position: 31px 267px;
  background-repeat: no-repeat;
  background-size: 734px;
  background-image: url(../images/layout/ico_admin_login.svg);
  max-width: 770px;
  margin: 0 auto;
  padding-bottom: 69px;
  padding-top: 219px;
}

.admin_login_section h1 {
  margin: 0 auto;
  text-align: center;
}

.admin_login_section h1 img {
  width: 152px;
}

.admin_login_section .admin_login_contents {
  max-width: 480px;
  margin: 42px auto 0;
  border: 3px solid #000;
  border-radius: 6px;
  -webkit-box-shadow: 3px 3px #000;
          box-shadow: 3px 3px #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 42px 67px;
  background-color: #fff;
}

.admin_login_section .admin_login_contents h2 {
  text-align: center;
  font-size: 38px;
  margin: 61px 0 0;
}

.admin_login_section .admin_login_contents p {
  text-align: center;
  font-size: 14px;
  color: #767676;
  margin: 11px 0 0;
  line-height: 22px;
}

.admin_login_section .admin_login_contents .form_wrap {
  margin-top: 47px;
}

.admin_login_section .admin_login_contents .form_wrap .form_sel + .form_sel {
  margin-top: 5px;
}

.admin_login_section .btn_area {
  margin-top: 19px;
}

.admin_login_section .btn_area button {
  cursor: pointer;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  display: -webkit-inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  min-width: 200px;
  height: 50px;
  padding: 0 23px 1px;
  border-radius: 6px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.16px;
  font-weight: 700;
  color: #fff;
  background: #292929;
  border: 1px solid #292929;
  -webkit-transition: background-color .2s ease-out,border-color .2s ease-out;
  transition: background-color .2s ease-out,border-color .2s ease-out;
  font-weight: 500;
  width: 100%;
}

.admin_login_section .form_ip {
  display: inline-block;
  width: 100% !important;
  height: 44px !important;
  padding: 0 14px 2px;
  color: #000;
  font-size: 14px;
  line-height: 42px;
  letter-spacing: -0.14px;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
  outline: none;
}

.admin_login_section .form_chk {
  display: inline-block;
  position: relative;
  min-height: 22px;
  vertical-align: top;
  margin-top: 6px;
}

.admin_login_section .form_chk input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.admin_login_section .form_chk input + label {
  display: inline-block;
  position: relative;
  padding: 2px 0 0 27px;
  font-size: 14px;
  letter-spacing: -0.14px;
  line-height: 20px;
  color: #000;
  cursor: pointer;
  vertical-align: top;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.admin_login_section .form_chk input + label:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  -webkit-transition: border-color 0.2s ease-out, background-color 0.2s ease-out;
  transition: border-color 0.2s ease-out, background-color 0.2s ease-out;
}

.admin_login_section .form_chk input + label:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-position: center 8px;
  background-repeat: no-repeat;
  background-size: 10px 7px;
  background-image: url("../images/layout/ico_checkbox@2x.png");
}

.admin_login_section .form_chk input:checked + label:before {
  background-color: #da2128;
  border-color: #da2128;
}

.admin_login_section .form_chk input:checked + label:after {
  background-size: 10px 7px;
  background-image: url("../images/layout/ico_checkbox_active@2x.png");
}

/*** GNB ***/
#head h1 {
  background: #000;
  padding: 37px 41px 34px;
  position: relative;
}

#head h1 a {
  color: #fff;
  font-size: 20px;
}

#head h1 a img {
  opacity: 0;
  margin-right: 11px;
  margin-top: -8px;
  width: 82px;
  height: 24px;
  display: inline-block;
}

#head h1 a:after {
  content: "";
  display: inline-block;
  width: 85px;
  height: 24px;
  background: url(../images/layout/logo.svg) no-repeat;
  position: absolute;
  top: 42px;
  left: 41px;
  background-size: cover;
}

#head div.global-menu {
  z-index: 1;
  text-align: right;
  top: 32px;
  left: 334px;
  padding-right: 19px;
}

#head div.global-menu .manual {
  margin-left: -8px;
  margin-top: 4px;
  text-align: left;
}

#head div.global-menu .manual a {
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  font-size: 13px !important;
  padding: 0 7px !important;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

#head div.global-menu .manual a:hover {
  opacity: 1;
}

#head div.global-menu .manual span.button {
  position: relative;
}

#head div.global-menu .manual span.button:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #D5D5D5;
  position: absolute;
  top: 9px;
  right: -4px;
  opacity: 0.3;
}

#head div.global-menu .manual > span:last-child:after {
  display: none;
}

#head div.global-menu strong {
  color: #D4FF1A;
  position: relative;
  font-size: 13px;
  float: left;
}

#head div.global-menu strong:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/layout/ico_grinning_face.png) no-repeat;
  position: absolute;
  top: -1px;
  right: -18px;
}

#head div.global-menu span + span {
  border-left: 0;
}

#head div.global-menu .txt_user ~ span {
  padding-left: 12px;
}

#head div.global-menu .txt_user ~ span a {
  color: #fff;
  font-size: 13px;
  position: relative;
}

#head div.global-menu .txt_user ~ span a:hover {
  color: #D4FF1A;
}

#head div.global-menu .txt_user ~ span a:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #D5D5D5;
  opacity: 0.3;
  position: absolute;
  top: 2px;
  right: -10px;
}

#head div.global-menu .txt_user ~ span:nth-child(1) {
  margin-left: 0;
}

#head div.global-menu .txt_user ~ span:nth-child(6) a:after {
  display: none;
}

#head div.gnb_box {
  height: 64px;
  -webkit-box-shadow: initial;
          box-shadow: initial;
}

#head div.gnb_box > ul {
  margin-left: 64px;
}

#head div.gnb_box > ul > li {
  height: 64px;
}

#head div.gnb_box > ul > li:first-child > a {
  color: #474C98 !important;
}

#head div.gnb_box > ul > li:first-child:hover > a {
  color: #474C98 !important;
}

#head div.gnb_box > ul > li a {
  position: relative;
  height: 64px;
  line-height: 67px;
  font-size: 16px;
  padding: 0 12px;
  border: 0 !important;
  color: #666666;
  cursor: pointer;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

#head div.gnb_box > ul > li > a:after {
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 0%;
  height: 2px;
  background-color: #da2128;
  content: "";
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#head div.gnb_box > ul > li > a:hover:after {
  left: 0;
  width: 100%;
}

#head div.gnb_box > ul > li .snb-item {
  top: 65px;
  border-top: 0 !important;
}

#head div.gnb_box > ul > li .snb-item .side-menu {
  padding: 21px 10px 34px 10px;
  border-bottom: 1px solid #ccc;
}

#head div.gnb_box > ul > li .snb-item .side-menu ul li {
  height: auto;
  border-top: 0 !important;
}

#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd {
  border-left: 0;
  margin-left: 308px;
}

#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd a, #head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd strong {
  font-size: 13px;
  padding: 0 16px;
  height: 29px;
  line-height: 29px;
}

#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd a + a, #head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd strong + a {
  position: relative;
  border-left: 0;
  padding-left: 0;
}

#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd a + a:after, #head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd strong + a:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #D5D5D5;
  position: absolute;
  top: 2px;
  left: -10px;
}

#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd a + strong, #head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd strong + strong {
  position: relative;
  border-left: 0;
  padding-left: 4px;
}

#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd a + strong:after, #head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd strong + strong:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #D5D5D5;
  position: absolute;
  top: 2px;
  left: -10px;
}

#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dt {
  background: initial;
  font-size: 13px;
  color: #767676;
  padding-left: 61px;
  top: 11px;
}

#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dt > img {
  margin-left: 4px;
  vertical-align: middle;
  margin-top: -3px;
}

#head div.gnb_box > ul > li .snb-item .side-menu ul li li + li {
  border-top: 0;
}

#head div.gnb_box > ul li:first-child.selected > a {
  color: #474C98 !important;
}

#head div.gnb_box > ul li:first-child.selected > a:after {
  left: 0;
  width: 100%;
}

#head div.gnb_box > ul li.selected > a, #head div.gnb_box > ul > li:hover > a {
  color: #000 !important;
  padding: 0 12px;
}

#head div.gnb_box .drawer {
  width: 18px;
  height: 14px;
  left: 40px;
  top: 27px;
  background-size: cover;
  background: url(../images/layout/hamburger.png) no-repeat;
}

/* GNB 활성화 .show */
.show#head div.gnb_box {
  border-bottom: 1px solid #ccc;
}

.show#head div.gnb_box > ul > li {
  height: auto;
  width: 100%;
  margin-top: 5px;
}

.show#head div.gnb_box > ul > li:first-child {
  margin-top: 0;
}

.show#head div.gnb_box > ul > li:first-child:hover > a {
  color: #474C98 !important;
}

.show#head div.gnb_box > ul > li .snb-item {
  border-top: 0 !important;
}

.show#head div.gnb_box > ul > li .snb-item .side-menu {
  padding: 5px 0 34px 0;
  margin: 0 12px;
  border-top: 1px solid #ccc;
}

.show#head div.gnb_box > ul > li .snb-item .side-menu ul li dl {
  margin-top: 5px;
}

.show#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dt {
  margin-left: -5px;
  padding-left: 0;
}

.show#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd {
  margin-left: 241px;
}

.show#head div.gnb_box > ul > li .snb-item:hover > a {
  padding-left: 0 !important;
}

.show#head div.gnb_box > ul > li > a {
  font-size: 16px;
  text-align: left;
  background: initial;
  padding-bottom: 24px;
  padding-left: 12px !important;
}

.show#head div.gnb_box > ul:after {
  display: block;
  clear: both;
  content: "";
}

/*** LNB ***/
div.cate-list {
  position: relative;
  width: 280px;
  min-height: auto;
  margin: -40px 0 0 -40px !important;
  padding: 0 !important;
  border: 0;
  overflow: initial;
}

div.cate-list:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100000px;
  background-color: #eaeaea;
  content: "";
}

div.cate-list .module-side-menu {
  min-height: initial;
}

div.cate-list .module-side-menu div {
  position: relative;
  width: 100%;
  height: initial;
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  border-bottom: 1px solid #eaeaea;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

div.cate-list .module-side-menu div.ui-sortable-helper:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #666;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
}

div.cate-list .module-side-menu div button {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  background: none !important;
  border: 0 !important;
  border-radius: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

div.cate-list .module-side-menu div button:before {
  position: absolute;
  left: 9px;
  top: 14px;
  width: 12px;
  height: 2px;
  background-color: #000;
  content: "";
}

div.cate-list .module-side-menu div button:after {
  position: absolute;
  left: 14px;
  top: 9px;
  width: 2px;
  height: 12px;
  background-color: #000;
  content: "";
}

div.cate-list .module-side-menu div button:hover {
  -webkit-transform: translateY(-50%) rotate(225deg);
          transform: translateY(-50%) rotate(225deg);
}

div.cate-list .module-side-menu div > span {
  display: block;
  padding: 20px 40px 18px 40px;
}

div.cate-list .module-side-menu .card-placeholder {
  width: auto !important;
  height: 60px !important;
  margin: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f7f7f7 !important;
  border: 0 !important;
}

div.cate-list .module-side-menu a,
div.cate-list .module-side-menu span {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  background: none !important;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

div.cate-list .module-side-menu span {
  display: inline-block;
  vertical-align: top;
}

div.cate-list .module-side-menu span:before {
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 14px;
  background-color: #ffff58;
  content: "";
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

div.cate-list .module-side-menu em {
  position: relative;
  font-style: normal;
}

div.cate-list .module-side-menu a {
  padding: 20px 40px 18px 40px;
  background: #fff !important;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
  cursor: pointer;
}

div.cate-list .module-side-menu a:hover {
  background: #f7f7f7 !important;
}

div.cate-list .module-side-menu .dm_prdt span:before {
  width: 100%;
}

div.cate-list .disp-side-menu {
  min-height: initial;
  background: none;
}

div.cate-list .disp-side-menu a,
div.cate-list .disp-side-menu span {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  background: none !important;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

div.cate-list .disp-side-menu span {
  display: inline-block;
  vertical-align: top;
}

div.cate-list .disp-side-menu span:before {
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 14px;
  background-color: #ffff58;
  content: "";
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

div.cate-list .disp-side-menu span b {
  color: #767676 !important;
}

div.cate-list .disp-side-menu em {
  position: relative;
  font-style: normal;
}

div.cate-list .disp-side-menu a {
  top: initial !important;
  width: auto !important;
  height: initial !important;
  padding: 20px 40px 18px 40px;
  border: 0;
  border-bottom: 1px solid #eaeaea;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
  cursor: pointer;
}

div.cate-list .disp-side-menu a:hover {
  background: #f7f7f7 !important;
}

div.cate-content {
  float: right;
  width: calc(100% - 280px) !important;
}

div.cate-list + select {
  margin-left: 40px !important;
}

/*** Page Nav ***/
.page_nav {
  bottom: 26px;
}

.page_nav .nav_site {
  padding: 9px 5px;
}

.page_nav .nav_site select {
  margin: 2.5px 24px 2.5px 1px !important;
}

.page_nav .nav_info p {
  color: #000;
  position: relative;
  padding-top: 1px;
}

.page_nav .nav_info p:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/layout/ico_grinning_face.png) no-repeat;
  position: absolute;
  top: 21px;
  right: -20px;
}

.page_nav .nav_info p a {
  color: #474C98;
  font-weight: 700;
}

.page_nav .nav_inner {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px #000;
          box-shadow: 2px 2px #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1204px;
  height: 64px;
}

.page_nav .nav_left > a:hover {
  background-color: #f7f7f7;
}

.page_nav .nav_left > a:first-child {
  position: relative;
}

.page_nav .nav_left > a:first-child:before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../images/layout/home.png) no-repeat;
  position: absolute;
  top: 0;
}

.page_nav .nav_left > a:first-child img {
  opacity: 0;
  width: 60px;
  height: 60px;
}

.page_nav .nav_left > a:nth-child(2) {
  position: relative;
}

.page_nav .nav_left > a:nth-child(2):before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../images/layout/prev.png) no-repeat;
  position: absolute;
  top: 0;
}

.page_nav .nav_left > a:nth-child(2) img {
  opacity: 0;
  width: 60px;
  height: 60px;
}

.page_nav .nav_left > a:nth-child(3) {
  position: relative;
}

.page_nav .nav_left > a:nth-child(3):before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../images/layout/next.png) no-repeat;
  position: absolute;
  top: 0;
}

.page_nav .nav_left > a:nth-child(3) img {
  opacity: 0;
  width: 60px;
  height: 60px;
}

.page_nav .nav_right > a:hover {
  background-color: #f7f7f7;
}

.page_nav .nav_right > a:first-child {
  position: relative;
}

.page_nav .nav_right > a:first-child:before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../images/layout/down.png) no-repeat;
  position: absolute;
  top: 0;
}

.page_nav .nav_right > a:first-child img {
  opacity: 0;
  width: 60px;
  height: 60px;
}

.page_nav .nav_right > a:nth-child(2) {
  position: relative;
}

.page_nav .nav_right > a:nth-child(2):before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../images/layout/top.png) no-repeat;
  position: absolute;
  top: 0;
}

.page_nav .nav_right > a:nth-child(2) img {
  opacity: 0;
  width: 60px;
  height: 60px;
}

/*** Contents layout ***/
#body {
  margin: 0;
  padding: 0;
}

#body h3 {
  position: relative;
  margin-bottom: 40px;
  padding: 26px 0 24px 0;
  background: none;
  border: 0;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

#body h3:after {
  position: absolute;
  left: -40px;
  bottom: 0;
  width: calc(100% + 80px);
  height: 1px;
  background-color: #eaeaea;
  content: "";
}

#body h3:empty {
  margin: 0;
  padding: 0;
}

#body h3:empty:after {
  display: none;
}

#body #contents-area h3 {
  margin-top: -40px;
}

#contents-area {
  margin: 0;
  padding: 40px 40px 100px 40px;
}

.content {
  margin: 0 !important;
  padding: 0 40px 100px 40px;
}

.content div.list-type {
  width: 100% !important;
}

#body h4 {
  border-bottom: 0;
  background: none;
  margin: 0px 0 20px 0;
  padding: 0;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px !important;
}

#body h4 span h1 {
  font-size: 20px;
}

#body h4 span > span {
  font-size: 12px;
  vertical-align: middle;
  height: 27px !important;
}

#body h4 .button a {
  color: #fff;
  background-color: #000 !important;
  border-radius: 6px;
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  border: 1px solid #000 !important;
  margin-left: 5px !important;
  margin-top: -7px !important;
}

#body h4 .button + .button a {
  margin-left: 0 !important;
}

/* Table */
#body div.list-type table.table {
  border-top: 1px solid #202020;
}

#body div.list-type table.table thead tr th {
  color: #767676;
  font-weight: 500;
  padding: 18px 0;
  border-bottom: 1px solid #D5D5D5;
}

#body div.list-type table.table tbody tr td {
  padding: 18px 3px;
  color: #000;
  border-right: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
}

#body div.list-type table.table tbody tr td .button {
  font-weight: 700;
}

#body div.list-type table.table tbody tr td .button a {
  border-radius: 6px;
  border: 1px solid #ccc !important;
  color: #000;
  padding: 0 16px !important;
  line-height: 30px !important;
  height: 30px !important;
  margin-top: 3px !important;
}

#body div.list-type table.table tbody tr td .button.small {
  height: 35px !important;
}

#body div.list-type table.table tbody tr td .button.small a {
  line-height: 36px !important;
  height: 36px !important;
  margin-top: 0 !important;
}

#body div.list-type table.table tbody tr td input + .button a {
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  margin-top: 0 !important;
}

#body div.list-type table.table tbody tr td:last-child {
  border-right: 0;
}

#body div.list-type table.table tbody tr td div .button a {
  line-height: 36px !important;
  height: 36px !important;
}

#body div.list-type table.table tbody tr th {
  color: #767676;
  font-weight: 500;
}

.form-type .inner-table02 {
  border-top: 0;
  border-bottom: 0;
}

#body h4 + div.form-type {
  padding-top: 12px;
}

#body div.form-type {
  border-top: 1px solid #000;
  padding: 0 !important;
  margin: 0 !important;
}

#body div.form-type table.table tbody tr th {
  padding-left: 20px !important;
}

#body div.form-type table.table tbody tr td {
  padding: 9px 0 9px 20px;
}

#body div.form-type ~ span.button a {
  color: #fff;
  background-color: #000 !important;
  border-radius: 6px;
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  border: 1px solid #000 !important;
  margin-left: 5px !important;
  margin-top: -7px !important;
  font-weight: 700;
}

#body div table.table tbody tr th {
  color: #767676;
  font-weight: 500;
  padding: 18px 0 !important;
  border-bottom: 1px solid #D5D5D5;
}

#body div table.table tbody tr th p + p {
  margin-top: 5px;
  margin-left: -4px;
}

#body div table.table tbody tr td td {
  border-bottom: 0;
}

#body div table.table tbody tr p img {
  margin-bottom: 2px;
}

#contents-area .list-type table {
  margin-top: 0;
}

#contents-area > div > table {
  margin-top: 42px;
}

/* button / select / input / text area / check box */
span.button a, span.button button, span.button input {
  background: red  !important;
}

span.button a, span.button button, span.button input {
  height: 30px !important;
  padding: 0 10px !important;
  background: #fff !important;
  border: 1px solid #000 !important;
  border-radius: 2px;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  font-family: Roboto,"Noto Sans KR" !important;
  line-height: 26px !important;
}

span.button, span.button a, span.button button, span.button input {
  left: 0 !important;
  background: none !important;
}

table span.button a, table span.button button, table span.button input {
  height: 30px !important;
  padding: 0 10px !important;
  background: #fff !important;
  border: 2px solid #000 !important;
  border-radius: 5px;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  font-family: Roboto,"Noto Sans KR" !important;
  line-height: 26px !important;
}

h4 span.button a, h4 span.button button, h4 span.button input {
  height: 20px !important;
  padding: 0 10px !important;
  background: #fff !important;
  border: 1px solid blue !important;
  border-radius: 2px;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  font-family: Roboto,"Noto Sans KR" !important;
  line-height: 18px !important;
}

h4 + select {
  margin-bottom: 14px !important;
}

select {
  display: inline-block;
  width: auto;
  position: relative;
  height: 36px !important;
  padding: 0 35px 0 10px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease-out, border-radius 0.2s ease-out;
  transition: border-color 0.2s ease-out, border-radius 0.2s ease-out;
  outline: none;
  margin: 2.5px 12px 2.5px 1px !important;
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: none;
  background: #fff url(../images/layout/arw_select@2x.png) no-repeat;
  background-size: 9px 8px;
  background-position: right 11px center;
}

select::-ms-expand {
  display: none;
}

span.button input {
  color: #fff;
  background-color: #000 !important;
  border-radius: 6px;
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  border: 1px solid #000 !important;
  margin-left: 5px !important;
  margin-top: -7px !important;
  font-weight: 700;
}

.form-button span.button, .list-option span.button {
  margin-right: 0px !important;
}

.form-button span.button a, .list-option span.button a {
  color: #fff;
  background-color: #000 !important;
  border-radius: 6px;
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  border: 1px solid #000 !important;
  margin-left: 5px !important;
  margin-top: -7px !important;
  font-weight: 700;
}

.form-button .button + .button a {
  margin-left: 2px !important;
}

td span.button input {
  color: #000 !important;
  border: 1px solid #ccc !important;
  font-weight: 700;
  padding: 0 16px !important;
  height: 36px !important;
  margin-top: 0 !important;
}

td span.button {
  height: 36px !important;
  margin: 2.5px 0 !important;
}

td span.button button, td span.button a {
  height: 36px !important;
  border: 1px solid #ccc !important;
  color: #000;
  font-weight: 700;
  line-height: 36px !important;
  margin-top: 0 !important;
  margin: 0 1px !important;
}

input[name=stDisp] {
  width: 30px !important;
}

ul li input[type=text] {
  width: 30px !important;
  margin: 3px 0 !important;
}

ul li input[type=text] + input[type=text] {
  margin-left: 7px !important;
  width: 150px !important;
}

input[type=text],
input[type=number],
input[name=searchVal] {
  padding: 5px 10px !important;
  display: inline-block;
  height: 36px !important;
  padding: 0 14px 2px;
  color: #000;
  font-size: 12px;
  line-height: 42px;
  letter-spacing: -0.14px;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
  outline: none;
  min-width: 30px !important;
  width: auto !important;
}

input[type=text]:disabled,
input[type=number]:disabled,
input[name=searchVal]:disabled {
  background: #F7F7F7;
}

input[type=text].hasDatepicker,
input[type=number].hasDatepicker,
input[name=searchVal].hasDatepicker {
  width: 80px !important;
}

input[name=searchVal] ~ span.button button[type=submit] {
  color: #fff;
  background-color: #000 !important;
  border-radius: 6px;
  padding: 0 15px !important;
  line-height: 36px !important;
  height: 36px !important;
  border: 1px solid #000 !important;
  margin-left: 5px !important;
  margin-top: -7px !important;
  font-weight: 700;
}

input[type=number] {
  margin-right: 5px;
}

textarea {
  border-radius: 6px !important;
}

td span.button button {
  padding: 0 15px !important;
}

label {
  margin: 5px 0;
  display: inline-block;
}

label + label {
  margin-left: 5px;
}

#switchMode label:first-child {
  margin-left: 8px;
}

input[type=radio] {
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  padding: 2px;
  border: 1px solid #ccc !important;
  position: relative;
  margin: 0 4px;
  margin-top: -2px;
}

input[type=radio]:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #ccc;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
}

input[type=radio] + input {
  margin-left: 8px;
}

input[type=radio]:checked {
  background-color: #fff;
  border: 5px solid #DA2128 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

input[type=radio]:checked:before {
  display: none;
}

input[type=checkbox] {
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  padding: 2px;
  border: 1px solid #ccc !important;
  position: relative;
  margin: -2px 3px 0 4px;
  background: url(../images/layout/ico_checkbox@2x.png) 4px 5px/9px 7px no-repeat;
}

input[type=checkbox] + input {
  margin-left: 8px;
}

input[type=checkbox]:checked {
  border: 0 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: #DA2128 url("../images/layout/ico_checkbox_active@2x.png") 5px 6px/9px 7px no-repeat;
}

input[type=checkbox]:checked:before {
  display: none;
}

span.button.small {
  margin-right: -3px !important;
}

span.button.small a {
  border: 0 !important;
}

#body h4 + div.list-option {
  padding-top: 7px;
  border-top: 1px solid #000000;
  padding-bottom: 16px;
}

table#eventMasterlist tbody tr.tgt {
  background-color: #fff4f1;
}

/* page number */
#body div .pager a {
  margin-right: 10px !important;
  border: 0;
}

#body div .pager strong {
  background: #000;
  border-radius: 100%;
  border: 0;
  font-size: 12px;
  width: 26px;
  height: 21px;
  padding: 5px 0 0;
  margin-right: 6px;
}

/* 달력 */
.ui-datepicker .ui-widget-header {
  background: none;
  border: 0;
  color: #000;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: auto !important;
}

.ui-datepicker td {
  padding: 0 !important;
  text-align: center !important;
}

.ui-datepicker td span,
.ui-datepicker td a {
  background: none !important;
  border: 0 !important;
  color: #000 !important;
  line-height: 22px !important;
  text-align: center !important;
}

.ui-datepicker thead th,
.ui-datepicker tbody td {
  width: 20px;
}

.ui-datepicker thead th:first-child span,
.ui-datepicker thead th:first-child a,
.ui-datepicker tbody td:first-child span,
.ui-datepicker tbody td:first-child a {
  color: #da2128 !important;
}

.ui-datepicker thead th a,
.ui-datepicker tbody td a {
  font-weight: 400 !important;
}

.ui-datepicker tbody td:first-child.ui-datepicker-current-day a {
  color: #fff !important;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  top: 11px !important;
  width: 30px;
  height: 30px;
  background: none !important;
  border: 0 !important;
}

.ui-datepicker .ui-datepicker-prev span {
  background: url("../images/layout/prev.png") center/40px no-repeat;
  border: 0 !important;
}

.ui-datepicker .ui-datepicker-next span {
  background: url("../images/layout/next.png") center/40px no-repeat;
  border: 0 !important;
}

.ui-datepicker .ui-datepicker-today {
  position: relative;
  /*
        &:after {
            position:absolute;right:2px;top:2px;width:5px;height:5px;background-color:#da2128;border-radius:50%;content:"";
        }*/
}

.ui-datepicker .ui-datepicker-today a {
  width: 22px;
  height: 22px;
  margin: 0 auto;
  background-color: #eee !important;
  border-radius: 50%;
  color: #000 !important;
}

.ui-datepicker .ui-datepicker-current-day a {
  width: 22px;
  height: 22px;
  margin: 0 auto;
  background-color: #000 !important;
  border-radius: 50%;
  color: #fff !important;
}

.ui-widget-content {
  padding: 10px !important;
  border: 1px solid #d5d5d5 !important;
  border-radius: 4px !important;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1) !important;
}

.ui-widget-content.ui-datepicker-buttonpane {
  margin: 14px 5px 0 5px !important;
  padding: 0 !important;
  border-width: 1px 0 0 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.ui-widget-content.ui-datepicker-buttonpane button {
  height: 28px !important;
  margin: 10px 0 5px 0 !important;
  padding: 0 8px !important;
  background: #fff !important;
  border-radius: 4px !important;
  color: #000 !important;
  font-size: 12px !important;
}
