@charset "utf-8";

.t_l { text-align:left !important; }
.t_c { text-align:center !important; }
.t_r { text-align:right !important; }

.c_orange { color:#ff6600; }

.txt_info { color:#ff0000 !important;padding:0 5px; }

.info_box { position:relative;display:inline-block;margin-left:5px;width:14px;height:13px;vertical-align:middle;background:url('http://devadmin.hottracks.co.kr/images/btn_question.gif') no-repeat 0 0;background-size:14px 13px;cursor:help; }
.info_box .box_cont { position:absolute;display:none;width:200px;border:1px solid #ffdd00;background:url('http://devadmin.hottracks.co.kr/images/icon_side01_on.gif') no-repeat 7px 9px #ffffae;top:0;left:18px;padding:5px 2px 5px 15px;font-weight:normal;font-style:normal;color:#0984b4;font-size:12px;line-height:15px; }
.info_box:hover .box_cont { display:block; }

body { }
/* login form */
body.login { background: #373737 url("http://devadmin.hottracks.co.kr/images/admin_all_bg.gif") repeat-x 0 0; }
#wrap-login { height: 800px;background: url("http://devadmin.hottracks.co.kr/images/admin_bg.gif") no-repeat 0 0; }
#wrap-login h1 { padding: 57px 0 0 47px;height: 153px; }
#wrap-login p.info { padding: 0 0 0 51px;height: 53px; }
#wrap-login div.login-form { position: relative;padding: 0 0 0 50px;height: 450px; }
#wrap-login div.login-form h2 { float: left; padding: 0;width: 132px; }
#wrap-login div.login-form dl { padding: 12px 0 0 0;float: left;width: 225px; }
#wrap-login div.login-form dl dt { float: left; padding: 5px 0 0; width: 73px; }
#wrap-login div.login-form dl dd { float: left; width: 152px; height: 24px; }
#wrap-login div.login-form dl dd input { padding: 2px 0 0 2px; width: 141px; height: 16px; border: 1px solid #b6b6b8; }
#wrap-login div.login-form p.id-save { position: absolute; left: 258px; top: 65px; }
#wrap-login div.login-form p.id-save img { margin: 0 0 0 4px; vertical-align: middle; }
#wrap-login div.login-form p.button { float: left; padding: 11px 0 0; }
#wrap-login div.foot { position: relative; clear: both; height: 77px; }
#wrap-login div.foot address { padding: 25px 0 4px 32px; }
#wrap-login div.foot p.copyright { padding: 0 0 0 32px; }
/* // login form */

#wrap { width: 100%;height: 100%; }

/* skip-navigation */
#skip-navigation { height: 0;font-size: 0;line-height: 0;visibility: hidden; }

/* head */
#head { position: relative;z-index: 10;width: 100%;min-width: 950px;height: 120px;background-color: #fff;font-size: 12px;line-height: 1.5em;font-family: "돋움" , "Dotum" , "Verdana", sans-serif;color: #252525; }
#head * { box-sizing:content-box; }
#head h1 { padding:20px;margin:0; }
#head h1 a { color:#031c56;font-size: 18px;height:35px;line-height:35px;font-weight:bold;font-family:'Malgun Gothic';}
#head h1 a img { height:35px;vertical-align:middle;margin-right:5px;margin-top:-3px; }
#head h1 a.vndr { color:#ff6600; }

#head div.global-menu { position:absolute;padding:0;right:5px;top:5px;text-align:right; }
#head div.global-menu strong { margin-right:30px; }
#head div.global-menu span { padding: 0 5px; }
#head div.global-menu span + span { border-left:1px solid #9e9e9e; }
#head div.global-menu .manual { margin-top:10px; }
#head div.global-menu .manual a { font-size: 15px;text-align:right; color:#ff0000; font-weight: bold; }

/* GNB영역 변경_20170910 */
#head div.gnb_box { font-family: "Malgun Gothic";position: relative;display: block;width: 100%;min-width: 1250px;height: 40px;background-color: #fff;box-shadow: 1px 1px 1px #dadada;border-bottom: 1px solid #dadada; }
#head div.gnb_box .drawer { position: absolute;left: 0px;top: 0px;display: block;background: url('http://devadmin.hottracks.co.kr/images/btn_toggle_menu.png') no-repeat center center;width: 40px;height: 40px;padding: 0;overflow: hidden;text-indent: -999px; }
#head div.gnb_box > ul { margin-left:40px; }
#head div.gnb_box > ul > li { float:left;height:40px;line-height:40px;text-align: center; }
#head div.gnb_box > ul > li > a { display: block;font-size: 13px;padding: 0 8px;height: 37px;color: #202020;white-space: nowrap;font-weight: bold; }
#head div.gnb_box > ul li.selected > a,
#head div.gnb_box > ul > li:hover > a { text-decoration: none;border-bottom: 3px solid #da2128; }
#head div.gnb_box > ul > li .snb-item { display: none; position: absolute;top: 38px;left: 0px;border-top: 1px solid #dadada;background-color: #fff;width: 100%;margin: 0; }
#head div.gnb_box > ul > li:hover .snb-item { display:block;z-index:999; }
#head div.gnb_box > ul > li .snb-item .side-menu { padding: 10px 10px 15px 10px;border-bottom: 2px solid #202020; }
#head div.gnb_box > ul > li .snb-item .side-menu ul {  }
#head div.gnb_box > ul > li .snb-item .side-menu ul li { display:block;margin: 0;width: 100%;position:relative;line-height:20px;text-align:left; }
#head div.gnb_box > ul > li .snb-item .side-menu ul li + li { border-top:1px solid #eaeaea;margin-top:5px; }

#head div.gnb_box > ul > li .snb-item .side-menu ul li dl { position:relative;margin:0; }
#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dt { position:absolute;left:5px;top:3px;padding-left:19px;width: 160px;font-weight: bold;color: #252525;background: url("http://devadmin.hottracks.co.kr/images/icon_side01_off.gif") no-repeat 9px 7px; }
#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd { display:block;padding:5px 0 0 0;margin-left:179px; }
#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd a { color: #252525;white-space:nowrap; }
#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd a + a { border-left:1px solid #9e9e9e;padding-left:6px;margin-left:3px; }
#head div.gnb_box > ul > li .snb-item .side-menu ul li dl dd a:hover { color:#ff6600; }

#head div.gnb_box > ul > li.drawer:hover .snb-item { display:none; }
#head div.gnb_box > ul > li.drawer.show .snb-item { display:block; }

.show#head { height:auto; }
.show#head div.gnb_box { height: auto;background-color: #fff;border-bottom: 2px solid #202020; }a
.show#head div.gnb_box > ul > li { display:block;float:none;height:auto;text-align: left; }
.show#head div.gnb_box > ul > li > a { display:block;font-size:14px;font-weight:bold;padding:0 8px;height:40px;color: #202020;white-space:nowrap;background: url("http://devadmin.hottracks.co.kr/images/h3_dot.gif") no-repeat 3px center;padding-left:24px; }
.show#head div.gnb_box > ul > li.selected > a,
.show#head div.gnb_box > ul > li:hover > a { border-bottom: none; }
.show#head div.gnb_box > ul > li .snb-item { display:block;z-index:0;position:relative;top:0;border-top:1px solid #dadada; }
.show#head div.gnb_box > ul > li .snb-item .side-menu { border-bottom:none; }
/* GNB영역 변경_20170910 */

/* body */
#body { position: relative;display:block;margin-top:20px;padding:20px 0;margin-bottom:60px;width: 100%;min-width: 1250px;overflow: hidden; }

#body input[type=text] { padding:0 0 0 5px;height:20px;line-height:20px;margin:0 2px; }
#body select { line-height:20px;height:20px;margin:0 2px; }

/* contents */
#contents { clear: both;margin: 0;padding: 0 0 0;width: 100%;min-width: 1020px;min-height: 900px; }
#contents-area { margin: 0 30px 0 30px;height: 100%;min-height: 600px;overflow: auto;overflow-y: hidden; }
#contents-popup { margin: 0;padding: 0;width: 100%; }
#contents-popup-area { padding: 20px 20px 0; }

#body h3 { clear: both;padding: 0 0 10px 24px;color: #0984b4;font-size: 1.4em;background: url("http://devadmin.hottracks.co.kr/images/h3_dot.gif") no-repeat 3px 3px;border-bottom: 2px solid #ebebeb; }
#body h4 { margin: 5px 0 10px;padding: 0 0 10px 14px;color: #3d3d3d;font-size: 1em;background: url("http://devadmin.hottracks.co.kr/images/h4_dot.gif") no-repeat 2px 5px; border-bottom: 1px solid #ebebeb; }
#body div.form-type td h4 { margin: 0 !important;padding: 0 !important;color: #3d3d3d;font-size: 0.9em;background: none !important;border-bottom: 0; }
#body table.table { width: 100%; }
#body table.table caption { height: 0;font-size: 0;line-height: 0;visibility: hidden; }
#body div.list-option .left { float: left;margin: 0 4px 0 0 !important; }

/* 목록 */
#body div.list-option  { clear: both;width: 100%;padding: 0 0 10px 0;text-align: right; }
#body div.list-option .left { float: left;margin: 0 4px 0 0; }
#body div.list-type { clear: both;width: 100%;padding: 0 0 20px 0; }
#body div.list-type table.table { width: 100%;border-top: 2px solid #202020;border-bottom: 1px solid #d6d6d6; }
#body div.list-type table.table thead tr th { padding: 5px 0;background: #f7f7f7; }
#body div.list-type table.table thead tr + tr th { border-top: 1px solid #d6d6d6; }
#body div.list-type table.table tbody tr th { padding: 5px 0;background: #f7f7f7;border-top: 1px solid #202020; }
#body div.list-type table.table tbody tr + tr th { border-top: 1px solid #d6d6d6; }
#body div.list-type table.table tbody tr td { padding: 5px 3px;text-align: center;border-top:1px solid #202020; }
#body div.list-type table.table tbody tr.active td { background-color: #eaeaea; }
#body div.list-type table.table tbody tr + tr td { border-top: 1px solid #d6d6d6; }
#body div.list-type table.table thead tr th + th,
#body div.list-type table.table tbody tr th + th,
#body div.list-type table.table tbody tr td + td { border-left: 1px solid #dadada; }
#body div.list-type table.table tbody tr td.left { padding-left: 10px;padding-right: 10px;text-align: left; }
#body div.list-type table.table tbody tr td.right { padding-left: 10px;padding-right: 10px;text-align: right; }
#body div.list-type div.list-button { width: 100%;text-align: right; }
#body div.pager { margin: 0 0 -20px;padding: 20px 0;text-align: center; font-size: 0.9em; }
#body div.pager strong { display: inline-block;padding: 0 6px;color: #fff;border: 1px solid #c4c4c4;background: #00aeef; }
#body div.pager a { display: inline-block;padding: 0 6px;border: 1px solid #c4c4c4; }

#body div.pager a.first,
#body div.pager a.prev,
#body div.pager a.next,
#body div.pager a.last { padding: 0 2px;border: 0; }
#body div.pager a img { vertical-align: middle; }

#body fieldset legend { height: 0;font-size: 0;line-height: 0;visibility: hidden; }
#body div.search-form { padding: 0 0 50px;text-align: center; }
#body div.tab-type { margin: 0 ;width: 100%; }
#body div.tab-type ul.tab-menu { margin: 0 0 -1px;padding: 0; float: left;width: 100%;background: url("http://devadmin.hottracks.co.kr/images/tab_line.gif") repeat-x 0 bottom; }
#body div.tab-type ul.tab-menu li { float: left;margin: 0 2px 0 0;padding: 0 0 0 20px;height: 24px;line-height: 24px;text-align: center;background: url("http://devadmin.hottracks.co.kr/images/tab_off.gif") no-repeat 0 0;overflow: hidden; }
#body div.tab-type ul.tab-menu li a { display: inline-block;padding: 0 20px 0 0;color: #666;font-weight: bold;background: url("http://devadmin.hottracks.co.kr/images/tab_off.gif") no-repeat right 0; }
#body div.tab-type ul.tab-menu li.selected { background: url("http://devadmin.hottracks.co.kr/images/tab_on.gif") no-repeat 0 0; }
#body div.tab-type ul.tab-menu li.selected a { color: #000;background: url("http://devadmin.hottracks.co.kr/images/tab_on.gif") no-repeat right 0; }
#body div.tab-type div.tab-content { clear: both;padding: 20px 0 0; }

/* 상세 */
#body div.detail-type { width: 100%;padding: 0 0 20px 1px; border-top: 1px solid #7d7d7d; }
#body div.detail-type table.table { width: 100%;border-bottom: 1px solid #7d7d7d; }
#body div.detail-type table.table tbody tr th { padding: 5px 0 5px 10px;border-top: 1px solid #d6d6d6;text-align: left;background: #f7f7f7; }
#body div.detail-type table.table tbody tr td { padding: 5px 0 5px 10px;border-top: 1px solid #d6d6d6; }
#body div.detail-type div.detail-button { padding: 20px 0 0;width: 100%; text-align: center; }

/* form */
#body div.form-type { display:block;width: 100%;padding: 0;border-top: 2px solid #202020; }
#body div.form-type input[type=submit] { max-width:100%; }
#body div.tab-type div.tab-content  div.form-type { border-top: 0; }
#body div.form-type table.table tbody tr th { padding: 5px 0 5px 10px;border-bottom: 1px solid #d6d6d6;text-align: left;background: #f7f7f7; }
#body div.form-type table.table tbody tr td { padding: 5px 0 5px 10px;border-bottom: 1px solid #d6d6d6; }
#body div.form-type table.table tbody tr td + th,
#body div.form-type table.table tbody tr td + td,
#body div.form-type table.table tbody tr th + td { border-left:1px solid #dadada; }
#body div.form-type table.inner-table tbody tr td { padding: 5px 5px 5px 0px;border-bottom: 0; }

.form-type .inner-table02 { border-top:1px solid #9e9e9e;border-bottom:1px solid #9e9e9e;margin:10px; }
.form-type .inner-table02 tbody tr td { padding:5px 10px; }
.form-type .inner-table02 tbody tr + tr td { border-top:1px solid #dadada; }
.form-type .inner-table02 tbody tr td p + p { margin-top:5px; }

#body div.form-type div.form-button { padding: 10px 0 20px;text-align: center; }

/* 카테고리 */
div.cate-list { float: left;margin: 0 2% 0 0;padding: 1%;border: 1px solid #d6d6d6;overflow: auto;min-height:720px;width:300px; }
div.cate-content { float: left;width: 70%; }

/* foot */
#foot { display: none;clear: both;padding: 10px 0 0;border-top: 1px solid #999; }
#foot p.logo {  }
#foot address {  }
#foot p.copyright {  }

/* Button Reset */
span.button,
span.button a,
span.button button,
span.button input { position:relative !important; margin:0!important; display:inline-block; text-decoration:none !important; border:0!important; font-size:12px!important; font-family:Tahoma, Sans-serif!important; white-space:nowrap!important; background:url("http://devadmin.hottracks.co.kr/images/button_bg.gif") no-repeat!important; vertical-align:middle!important; overflow:visible!important; color:#333;}
span.button { height:23px!important; padding:0!important; margin-right:2px!important; background-position:left top!important;}
span.button a,
span.button button,
span.button input{ left:2px!important; *vertical-align:top!important; cursor:pointer!important;}

/* Button Size */
span.button.large { height:29px!important; background-position:left -30px!important; }
span.button.xLarge { height:35px!important; background-position:left -65px!important; }
span.button.small { height:18px!important; background-position:left -107px!important; }
span.button a,
span.button button,
span.button input { height:23px!important; padding:0 10px 0 8px!important; font-size:12px!important; line-height:23px!important; background-position:right top!important;}
span.button.large a,
span.button.large button,
span.button.large input { height:30px!important; padding:0 10px 0 8px!important; font-size:16px!important; line-height:29px!important; background-position:right -30px!important;}
span.button.xLarge a,
span.button.xLarge button,
span.button.xLarge input { height:35px!important; padding:0 10px 0 8px!important; font-size:20px!important; line-height:35px!important; background-position:right -65px!important;}
span.button.small a,
span.button.small button,
span.button.small input { height:18px!important; padding:0 6px 0 4px!important; font-size:11px!important; line-height:18px!important; background-position:right -107px!important;}

/* Button Text Strong */
.button.strong * { font-weight:bold !important; }

/* side calendar */
div.side-calendar { width: 200px; }
div.side-calendar div.prev-next { padding: 0 0 10px; }
div.side-calendar table.table { width: 150px; }
div.side-calendar table.table caption { height: 0; font-size: 0; line-height: 0; visibility: hidden; }
div.side-calendar table.table tbody tr th { border: 1px solid #999; }
div.side-calendar table.table tbody tr td { text-align: center; border: 1px solid #999; }

.displaySubmain { position: absolute;border: 2px solid #4070BF;background: #E7EAF0;filter:alpha(opacity=70);font-size:12px;font-family:Tahoma, Sans-serif;text-align:center; }

.displayMain { position: absolute;border: 2px solid #4070BF;background: #E7EAF0;filter:alpha(opacity=70);font-size:12px;font-family:Tahoma, Sans-serif;text-align:center; }
.displayMain.productArea { border-color:#FF0000 !important;}
.displayMain.brandArea { border-color:#00FF00 !important;}
.displayMain.notYet { background-color:#FF0000 !important;}
.displayMain.dm_full { display:block;width:245px;left:20px;height:30px; }
.displayMain.dm_full02 { display:block;width:245px;left:20px;height:60px; }
.displayMain.dm_full em { position:relative;display:block;font-style:normal;margin-top:5px; }
.displayMain.dm_full02 em { position:relative;display:block;font-style:normal;margin-top:7px; }

.disp-side-menu { margin:0;width: 100%;display:block;min-height:600px;filter:alpha(opacity=70);}
.disp-side-menu a { display:block;width:296px;height:30px;border: 2px solid #4070BF;background: #E7EAF0;filter:alpha(opacity=90);text-align:center;font-size:12px;font-weight:bold; }
.disp-side-menu a:hover { background-color:#4070BF;color:#fff; }
.disp-side-menu a + a { margin-top:5px; }
.disp-side-menu a span { font-style:normal;margin-top:5px;display:block; }
.disp-side-menu a.dm_disable { border-color:#9a9a9a;background-color:#dadada;color:#9a9a9a; }
.disp-side-menu a.dm_prdt { border-color:#ff0000; }
.disp-side-menu a.dm_prdt:hover { background-color:#ff0000; }
.disp-side-menu a.dm_evt { border-color:#ff6600; }
.disp-side-menu a.dm_evt:hover { background-color:#ff6600; }
.disp-side-menu a.dm_brand { border-color:#00ff00; }
.disp-side-menu a.dm_brand:hover { background-color:#00ff00; }
.disp-side-menu a.dm_twice { height:60px; }
.disp-side-menu a.dm_twice span { font-style:normal;margin-top:7px; }

.disp-side-menu.fixed { position:relative; }
.disp-side-menu.fixed a { position: absolute;width:245px; }
.disp-side-menu.fixed a + a { margin:0; }

.tooltip { display:none;position: absolute;left: 0;top: 20px;border: 1px solid #4070BF;background: #E7EAF0;font-size:12px;padding:5px;color:#000; }

div.search-box { margin: 0 3% 0 0;padding: 1%;width: 97.5%;border: 1px solid #d6d6d6;overflow: auto; }

#contents div.type01 { padding: 5px 0 4px;border-top: 2px solid #7d7d7d !important;  }
#contents div.type01 table { border-top: 0 !important; }
#contents div.type01 table thead tr th { background: #f7f7f7; }
#contents div.type01 table thead tr th ,
#contents div.type01 table tbody tr td { border: 1px solid #d6d6d6; }
#contents div.type02 table tbody tbody tr th ,
#contents div.type02 table tbody tbody tr td { border: 1px solid #d6d6d6 !important; }

.width-110 { width: 110px; }

.invalid-mall { background: red; }

/* css 추가 2017-09-01 */
/* 달력형 */
.cal-type { width:100%;margin-bottom:60px; }
.cal-type .inputCalendar { width:80px; }
.cal-type .cal_option { text-align:right;padding:2px 0; }
.cal-type .cal_view { display:none; }
.cal-type .cal_view.active { display:block; }
.cal-type .cal_table { display:block;width:1190px; }
.cal-type .cal_table .cal_month { display:block;text-align:center;font-size:20px;font-weight:bold;padding:20px 0; }
.cal-type .cal_table .cal_month select { font-size:12px; }
.cal-type .cal_table .sun { color:#ff0000; }
.cal-type .cal_table .sat { color:#0000ff; }
.cal-type .cal_table .calendar { width:100%; }
.cal-type .cal_table .calendar thead th { border-top:1px solid #000;border-bottom:1px solid #9e9e9e;color:#202020;padding:5px 0; }
.cal-type .cal_table .calendar thead th + th { border-left:1px solid #dadada; }
.cal-type .cal_table .calendar tbody td { height:100px;vertical-align:top;position:relative;padding:10px 5px;border-bottom:1px solid #dadada; }
.cal-type .cal_table .calendar tbody td:hover { background-color:#fffdae; }
.cal-type .cal_table .calendar tbody td.today { background-color:#dadada; }
.cal-type .cal_table .calendar tbody td + td { border-left:1px solid #dadada; }
.cal-type .cal_table .calendar tbody td em { font-style:normal;padding:5px; }
.cal-type .cal_table .calendar tbody td .dt { font-weight:bold;border-bottom:1px solid #dadada; }
.cal-type .cal_table .calendar tbody td .prod_box span { display:block; }
.cal-type .cal_table .calendar tbody td .prod_box span + span { margin-top:5px; }
.cal-type .cal_table .calendar tbody td .prod_box .photo { text-align:center;border-radius:1px;margin-top:10px; }
.cal-type .cal_table .calendar tbody td .prod_box .brand { color:#9e9e9e;font-size:11px;text-transform:uppercase;margin-top:10px;width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; }
.cal-type .cal_table .calendar tbody td .prod_box .name { width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-weight:bold; }
.cal-type .cal_table .calendar tbody td .prod_box .price { font-family:Arial;font-size:12px;font-weight:bold; }
.cal-type .cal_table .calendar tbody td .prod_box .price em { padding:0 2px; }
.cal-type .cal_table .calendar tbody td .prod_box .price em.org { text-decoration:line-through;color:#9e9e9e;font-size:11px; }
.cal-type .cal_table .calendar tbody td .prod_box .price em.rate { color:#ff0000; }
.cal-type .cal_table .calendar tbody td .prod_box .price em.chge { color:#0000ff; }
.cal-type .cal_table .calendar tbody td .prod_box .icon { height : 16px;padding-bottom:6px;font-size:0; }
.cal-type .cal_table .calendar tbody td .prod_box .icon em { font-size:12px; }
.cal-type .cal_table .calendar tbody td .prod_box .icon em + em { margin-left:2px; }
.cal-type .cal_table .calendar tbody td .prod_box .icon .ico_event { display:inline-block;height:16px;line-height:16px;padding:0 5px;margin:0;vertical-align:top;background-color:#ff6600;color:#fff;font-weight:bold;font-family:Arial;border-radius:2px; }
.cal-type .cal_table .calendar tbody td .prod_box .icon img { height:16px;vertical-align:text-bottom; }
.cal-type .cal_table .calendar tbody td .option { border-top:1px solid #d6d6d6;text-align:center;margin-top:5px;padding-top:5px; }

.cal-type .list-type tbody tr:hover { background-color:#fffdae; }
.cal-type .list-type tbody tr.today { background-color:#dadada; }

/* 레이어형 */
.layer_type01 { position:fixed;left:0;top:0;width:100%;height:100%;background:url('http://image.kyobobook.co.kr/newimages/giftshop_new/commonhttp://devadmin.hottracks.co.kr/images/common/bg_layer02.png');z-index:999;display:none; }
.layer_type01 .layer_content { display: block;margin:20px auto;padding:10px;max-width:400px;position: relative;top:50%;margin-top:-150px;overflow:hidden;background-color:#fff; }
.layer_type01 .layer_content .prod_box { width:160px;display:block;margin:0 auto; }
.layer_type01 .layer_content .prod_box span { display:block; }
.layer_type01 .layer_content .prod_box span + span { margin-top:5px; }
.layer_type01 .layer_content .prod_box .photo { text-align:center;border-radius:1px;margin-top:10px; }
.layer_type01 .layer_content .prod_box .brand { color:#9e9e9e;font-size:11px;text-transform:uppercase;margin-top:10px;width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; }
.layer_type01 .layer_content .prod_box .name { width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-weight:bold; }
.layer_type01 .layer_content .prod_box .price { font-family:Arial;font-size:12px;font-weight:bold; }
.layer_type01 .layer_content .prod_box .price em { padding:0 2px; }
.layer_type01 .layer_content .prod_box .price em.org { text-decoration:line-through;color:#9e9e9e;font-size:11px; }
.layer_type01 .layer_content .prod_box .price em.rate { color:#ff0000; }
.layer_type01 .layer_content .prod_box .price em.chge { color:#0000ff; }
.layer_type01 .layer_content .prod_box .icon { height : 16px;padding-bottom:6px; }
.layer_type01 .layer_content .prod_box .icon img { height:16px; }
/* css 추가 2017-09-01 */

.page_nav { font-family:'Malgun Gothic';position:fixed;left:0;bottom:0;width:100%;height:60px;background:url('http://image.kyobobook.co.kr/kioskhttp://devadmin.hottracks.co.kr/images/bg_nav.png') repeat;z-index:9999;}
.page_nav .nav_inner{margin:0 auto;max-width:1000px;height:100%;padding:0 10px;}
.page_nav .nav_left{float:left;height:100%;padding-left:1px;background:url('http://image.kyobobook.co.kr/kioskhttp://devadmin.hottracks.co.kr/images/bg_nav_dark.png') no-repeat left top;}
.page_nav .nav_right{float:right;height:100%;padding-right:1px;background:url('http://image.kyobobook.co.kr/kioskhttp://devadmin.hottracks.co.kr/images/bg_nav_dark.png') no-repeat right top;}
.page_nav .nav_left:after,
.page_nav .nav_right:before{content:'';display:block;float:left;width:1px;height:100%;background:url('http://image.kyobobook.co.kr/kioskhttp://devadmin.hottracks.co.kr/images/bg_nav_light.png') no-repeat;}
.page_nav .nav_right:before{margin-left:-1px;}
.page_nav .nav_left a,
.page_nav .nav_right a{float:left;}
.page_nav .nav_left a:hover,
.page_nav .nav_right a:hover {background-color:#4c4746;}
.page_nav .nav_left img,
.page_nav .nav_right img {height:60px;}
.page_nav .nav_info {float:left;}
.page_nav .nav_info p { display: block; padding-left: 1px;color: #fff;line-height: 60px;margin-left: 5px;padding-top: 4px;font-size:15px; }
.page_nav .nav_info p a { color:#fff;font-size:15px; }
.page_nav .nav_site { float:right;padding:0 10px;line-height:20px;height:20px;padding:25px 5px;}

input[type="radio"]:checked + span { font-weight: bold; }
