@charset "utf-8";

/* base css */

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

body {
    width: 100%;
    font-size: 0.75em;
    line-height: 1.5em;
    font-family: "돋움" , "Dotum" , "Verdana",  sans-serif;
    color: #252525;
}

table {
    border-collapse: collapse;
    border-spacing: 1px;
    font-size: 1em;
}

fieldset, legend {
    border: 0;
}

form, h1, h2, h3, h4, h5, h6, p, div, th, td, table, select, address {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.2em;
}
h4,
h5,
h6 {
    font-size: 1em;
}

hr {
    display: none;
}
ul, li, ol, dl, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none;
}


select,
textarea {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    font-size: 1em;
    color:#333;
    border: 1px solid #dfdfdf;
    background: #fff;
}
input {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    font-size: 1em;
    color: #333;
    line-height: 1em;
}

img,
input[type=checkbox],
input[type=radio],
input.type-image {
    border: 0 !important;
}
input.checkbox {
    padding: 0;
    border: none;
}


a:link, a:visited {
    color: #252525;
    text-decoration: none;
}
a:hover, a:active {
    color: #898989;
    text-decoration: none;
}

.pointer {
    cursor:pointer;
}
