@charset "UTF-8";
/*** 추후 다른 파일로 이동 예정 ***/
/*===============  카테고리 메인 브랜드 골라보기 ==================*/
.brand_search_wrap {
  position: relative;
  margin-top: -1px !important;
  z-index: 2;
}

.brand_search_wrap .form_search_box {
  margin-bottom: 20px;
}

.brand_search_wrap .cks_list .cks_item {
  margin-bottom: 20px;
}

.brand_search_wrap .cks_list .cks_item:last-of-type {
  margin-bottom: 0;
}

.brand_search_wrap .cks_list .form_chk > label {
  color: #595959;
  font-size: 13px;
}

.brand_search_wrap .cks_list .emp {
  position: relative;
  padding: 155px 10px 65px 10px;
  color: #767676;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.brand_search_wrap .cks_list .emp:before {
  position: absolute;
  left: 50%;
  top: 80px;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  background: url(../images/guide/no_search_data_icon.svg) center/100% no-repeat;
  content: "";
}

.brand_search_wrap .btn_area {
  padding-left: 49px;
  font-size: 0;
}

.brand_search_wrap .btn_area button {
  width: 100%;
}

.brand_search_wrap .btn_area .btn_reset {
  position: absolute;
  left: 0;
  top: 0;
  width: 44px;
  min-width: auto;
  height: 44px;
  padding: 0;
  background: url("../images/guide/ico_rest.svg") center/18px no-repeat;
  border: 1px solid #000;
}

/*================  카테고리 메인 만년필이 궁금하세요 ==================*/
.pen_pop_wrap {
  margin-top: -1px !important;
  padding-top: 1px;
  background: #fff;
}

.pen_pop_wrap .tab_menu_a {
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 42px;
  border-bottom: 2px solid #000;
  margin-bottom: 30px;
}

.pen_pop_wrap .tab_menu_a a {
  position: relative;
  display: table-cell;
  padding: 3px 0 0 0;
  color: #767676;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.pen_pop_wrap .tab_menu_a a:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: solid #d5d5d5;
  border-width: 1px 0 0 1px;
  border-radius: 6px 6px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
}

.pen_pop_wrap .tab_menu_a a:last-child:before {
  border-width: 1px 1px 0 1px;
}

.pen_pop_wrap .tab_menu_a a.on {
  color: #000;
  font-weight: 700;
  z-index: 2;
}

.pen_pop_wrap .tab_menu_a a.on:before {
  border-color: #000;
  border-width: 2px 2px 0 2px;
}

.pen_pop_wrap .tab_menu_a a.on:after {
  position: absolute;
  left: 2px;
  bottom: -4px;
  width: calc(100% - 4px);
  height: 10px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
}

.pen_pop_wrap .pen_title {
  color: #595959;
}

.pen_pop_wrap .pen_title + .pen_sub_menu_wrap {
  padding-top: 20px;
}

.pen_pop_wrap .pen_sub_menu_wrap {
  margin: 0;
  padding-bottom: 20px;
}

.pen_pop_wrap .sc_pop_btn {
  min-height: calc(85vh - 200px) !important;
}

.pen_pop_wrap .mgt10 {
  margin-top: 10px !important;
}

/*** 추후 다른 파일로 이동 예정 ***/
