@charset "UTF-8";
/*
    고객센터
*/
.ht_cus_cont {
  overflow: hidden;
}

/***** FAQ & QNA *****/
/* Search Area :form_search_box */
.form_search_cont {
  position: relative;
  margin-bottom: 40px;
  padding: 30px 25px;
  background: #eaeaea;
  border-radius: 12px;
}

.form_search_cont .form_search_box.form_search_box_center {
  width: 376px;
  margin: 0 auto;
}

.form_search_cont .form_search_box .form_ip {
  height: 50px;
  border: 2px solid #000;
}

/* Search Area :cus_chk_list */
.cus_chk_list {
  position: relative;
  margin-top: 15px;
  text-align: center;
}

.cus_chk_list.mb {
  margin: 0 0 20px 0;
  text-align: left;
}

/* cus_fold */
.cus_fold .prod_fold_tit {
  min-height: 42px;
}

.cus_fold .fold_view {
  margin-top: 18px;
  border-radius: 6px;
}

.cus_fold .fold_view:after {
  display: block;
  content: "";
  clear: both;
}

.cus_fold .fold_tit .tit {
  font-weight: 500;
}

.cus_fold .fold_info {
  margin-top: 5px;
  margin-bottom: 3px;
}

.cus_fold .fold_info > ul {
  padding-top: 0px;
}

.cus_fold .fold_info > ul li strong {
  font-weight: 700;
  font-size: 12px;
}

.cus_fold .fold_info .right .info.ty02 {
  font-size: 10px;
  color: #292929;
  background: #f5f5f5;
  border: #f5f5f5;
  margin-right: 0;
  float: right;
}

.cus_fold .fold_info.faq_info {
  margin-bottom: 10px;
  margin-top: 0px;
}

.cus_fold .fold_info.faq_info > ul li span {
  display: inline-block;
  height: 20px;
  margin-left: 10px;
  padding: 0 8px;
  background: #ecedf5;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #474C98;
  font-size: 10px;
  line-height: 21px;
  margin-left: 0;
}

.cus_fold .fold_ty {
  border-top: 0;
}

.cus_fold .fold_tit {
  display: table;
}

.cus_fold .fold_tit .tit {
  width: 95%;
}

.cus_fold .fold_tit .prod_img {
  float: right;
  width: 78px;
  height: 78px;
  overflow: hidden;
  border-radius: 4px;
}

.cus_fold .fold_tit .prod_img img {
  width: 100%;
}

.cus_fold .fold_tit .tit_prod .txt_len1 {
  font-size: 13px;
  color: #767676;
  line-height: 22px;
}

.cus_fold .fold_tit:after {
  display: block;
  clear: both;
  content: "";
}

.cus_fold .fold_tit .txt.qna_prod_tit {
  width: 91%;
  display: inline-block;
  margin-top: 5px;
}

.cus_fold .fold_tit .txt.qna_prod_tit .tit_prod {
  margin-top: 2px;
}

.cus_fold .fold_tit .txt.qna_prod_tit .fold_info {
  margin-top: 9px;
}

.cus_fold .fold_question.fold_q {
  display: inline-block;
  width: 83%;
}

.cus_fold .fold_question.fold_d {
  margin-bottom: 25px;
}

.cus_fold .fold_question.fold_d + .fold_question {
  margin-top: 0;
  border: 0;
  padding-top: 0;
}

.cus_fold .fold_question.fold_d + .fold_question:before {
  top: 0;
}

.cus_fold .fold_question.fold_d + .fold_question:after {
  top: 21px;
}

.cus_fold .fold_question .info {
  position: relative;
  font-size: 12px;
  font-size: 10px;
  color: #292929;
  background: #F5F5F5;
  border: #F5F5F5;
  margin-right: 0;
  float: right;
  height: 20px;
  padding: 0 9px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 20px;
}

.cus_fold .fold_question_btn {
  display: inline-block;
  vertical-align: top;
  width: calc(17% - 44px);
  margin-top: 0;
  float: right;
  text-align: right;
}

.cus_fold .fold_question_btn li {
  display: inline-block;
  float: initial;
}

.cus_fold .fold_num {
  font-size: 13px;
  display: table-cell;
  vertical-align: middle;
  padding: 0 15px 0 0px;
  width: 40px;
  max-width: 40px;
  text-align: center;
}

.cus_fold .fold_num + .fold_inner {
  float: left;
}

/* fold_d */
.fold_d {
  position: relative;
  min-height: 90px;
  margin-top: 10px;
  padding: 15px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #eaeaea;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fold_d:before {
  display: none;
}

.fold_d:after {
  display: none;
}

.fold_d .img {
  position: absolute;
  top: 45px;
  right: 14px;
  width: 60px;
  height: 60px;
  background: #f7f7f7;
  border-radius: 6px;
  overflow: hidden;
}

.fold_d .img img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fold_d .txt {
  position: relative;
  padding-right: 70px;
}

.fold_d .txt .s1 {
  margin-bottom: 6px;
  color: #000;
  font-size: 0;
}

.fold_d .txt .s1 span {
  display: inline-block;
  position: relative;
  padding-left: 14px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  vertical-align: top;
}

.fold_d .txt .s1 span:before {
  position: absolute;
  left: 7px;
  top: 3px;
  width: 1px;
  height: 8px;
  background-color: #d5d5d5;
  content: "";
}

.fold_d .txt .s1 span:first-child {
  padding-left: 0;
}

.fold_d .txt .s1 span:first-child:before {
  display: none;
}

.fold_d .txt .s1 .info {
  position: absolute;
  right: 0;
  top: 0;
  height: 20px;
  padding: 0 9px;
  background: #f7f7f7;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #292929;
  font-size: 10px;
  line-height: 21px;
}

.fold_d .txt .s1 .info:before {
  display: none;
}

.fold_d .txt .s2 {
  margin-bottom: 13px;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: keep-all;
}

.fold_d .txt .s2 span {
  font-size: 12px;
}

.fold_d .txt .s2 span:nth-child(1) {
  font-weight: 700;
}

.fold_d .txt .s2 span:nth-child(2) {
  position: relative;
  padding-left: 10px;
}

.fold_d .txt .s2 span:nth-child(2):before {
  content: "";
  display: inline-block;
  clear: both;
  border-left: 1px solid #ccc;
  position: absolute;
  left: 3px;
  top: 1px;
  height: 10px;
}

.fold_d .txt .s3 {
  color: #767676;
  font-size: 12px;
  line-height: 18px;
}

.fold_d .txt .s3 + .s3 {
  margin-top: 4px;
}

.fold_d .txt .s3 span {
  display: inline-block;
  position: relative;
  padding-left: 9px;
  font-size: 12px;
  line-height: 18px;
  vertical-align: top;
}

.fold_d .txt .s3 span:before {
  position: absolute;
  left: 3px;
  top: 4px;
  width: 1px;
  height: 8px;
  background-color: #d5d5d5;
  content: "";
}

.fold_d .txt .s3 span:first-child {
  padding-left: 0;
}

.fold_d .txt .s3 span:first-child:before {
  display: none;
}

.fold_d.ty02 {
  height: 121px;
  padding: 13px 13px 13px 122px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fold_d.ty02 .img {
  left: 13px;
  top: 13px;
  width: 93px;
  height: 93px;
  border-radius: 6px;
}

.fold_d.ty02 .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fold_d.ty02 .txt {
  display: table-cell;
  width: 100%;
  height: 93px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fold_d.ty02 .txt .s1 {
  display: -webkit-box;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  white-space: normal;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.fold_d.ty02 .txt .s2 {
  margin: 2px 0 0 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}

/* 리스트 상단 */
.tit_form_wrap {
  margin-top: 43px;
  padding-bottom: 15px;
  border-bottom: 1px solid #000;
}

.tit_form_wrap:after {
  display: block;
  clear: both;
  content: "";
}

.tit_form_wrap .form_sel {
  float: left;
}

.tit_form_wrap .form_sel .ui-selectmenu-button {
  width: 120px;
  height: 38px;
}

.tit_form_wrap .form_sel .ui-selectmenu-button .ui-selectmenu-icon {
  top: 14px;
}

.tit_form_wrap .form_sel .ui-selectmenu-button .ui-selectmenu-text {
  height: 38px;
  line-height: 35px;
}

.tit_form_wrap .btn_area {
  margin-top: 0;
  float: right;
}

.tit_form_wrap .btn_area button.btn_md {
  min-width: 122px;
  font-size: 14px;
  font-weight: 500;
}

/* QNA 주문내역 조회 팝업 */
/* fold_ty02 */
.fold_ty02_area {
  position: relative;
}

.fold_ty02 {
  position: relative;
}

.fold_ty02 .li {
  position: relative;
  margin-top: 15px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: border 0.4s;
  transition: border 0.4s;
}

.fold_ty02 .li.on {
  border-color: #000;
}

.fold_ty02 .li.on .fold_tit02 .s1 {
  background-color: #000;
  border-bottom-color: #000;
}

.fold_ty02 .li.on .fold_tit02 .s1 strong, .fold_ty02 .li.on .fold_tit02 .s1 span {
  color: #fff;
}

.fold_ty02 .li.on .fold_view02 {
  display: block;
}

.fold_ty02 .li.on .fold_view02 > ul > li {
  border-bottom: 1px dotted #d5d5d5;
}

.fold_ty02 .li.on .fold_view02 > ul > li:last-of-type {
  border-bottom: none;
}

.fold_ty02 .li.on .fold_btn span:after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.fold_ty02 .li:first-child {
  margin-top: 0;
}

.fold_tit02 {
  position: relative;
}

.fold_tit02 .s1 {
  height: 36px;
  padding: 0 19px;
  background: #f7f7f7;
  border-bottom: 1px solid #eaeaea;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  font-size: 12px;
  line-height: 36px;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.fold_tit02 .s1 strong {
  float: left;
  color: #767676;
  font-weight: 500;
}

.fold_tit02 .s1 span {
  float: right;
  width: calc(100% - 70px);
  color: #000;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: right;
}

.fold_tit02 .s2 {
  position: relative;
  padding: 17px 19px 13px;
  color: #595959;
  font-size: 13px;
  line-height: 19px;
}

.fold_tit02 .s2 .c1 {
  width: calc(100% - 40px);
  font-weight: 400;
}

.fold_tit02 .s2 .c1 span {
  display: inline-block;
  max-width: calc(100% - 36px);
  padding-right: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: top;
}

.fold_tit02 .s2 .c2 {
  color: #000;
  font-weight: 700;
  margin-top: 4px;
}

.fold_tit02 .fold_btn {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.fold_tit02 .fold_btn button, .fold_tit02 .fold_btn span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.fold_tit02 .fold_btn span {
  text-indent: -9999px;
  overflow: hidden;
}

.fold_tit02 .fold_btn span:after {
  right: 20px;
  top: 50%;
  margin-top: -10px;
  width: 22px;
  height: 22px;
}

.fold_view02 {
  display: none;
  margin: 0 20px 20px 20px;
  border-top: 1px solid #eaeaea;
  -webkit-animation: fade both 0.5s;
          animation: fade both 0.5s;
}

.fold_view02 > ul > li {
  position: relative;
  padding-left: 33px;
}

.fold_view02 > ul > li .form_rdo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fold_view02 > ul > li .form_rdo label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 2;
  cursor: pointer;
}

.fold_view02 > ul > li .form_rdo input + label:after {
  top: 20px;
}

.fold_view02 > ul > li .form_rdo input + label:before {
  top: 14px;
}

.fold_view02 .fold_d {
  width: 100% !important;
  margin: 0;
  padding: 15px 0;
  border: none;
}

.fold_view02 .fold_d .img {
  right: 0;
}

.tab_box + .tbl_row_wrap {
  border-top: 0;
}

.required:before {
  background-image: url(../../ink/images/guide/ico_required.svg) !important;
}

.fold_question {
  width: 400px;
}

.valid_check {
  position: relative;
}

.form_rdo + .valid_check {
  margin-top: 10px;
}

.valid_check ~ .valid_check {
  margin-top: 10px;
}

/* .btn_area_desc */
.btn_area_desc {
  margin-top: 15px;
}

.btn_area_desc li {
  position: relative;
  margin-top: 4px;
  padding-left: 8px;
  color: #767676;
  font-size: 13px;
  line-height: 19px;
}

.btn_area_desc li:before {
  position: absolute;
  left: 0;
  top: 1px;
  font-size: 11px;
  content: "*";
}

.btn_area_desc li:first-child {
  margin-top: 0;
}

/*** Btn ***/
/* btn_cus */
.btn_cus a, .btn_cus button {
  height: 50px !important;
}

/* btn_txt_more */
.btn_txt_more {
  position: relative;
  overflow: hidden;
  margin: -39px 0 21px 0;
}

.btn_txt_more a, .btn_txt_more button {
  display: block;
  float: right;
  color: #595959;
  font-size: 13px;
}

.btn_txt_more a span, .btn_txt_more button span {
  display: inline-block;
  position: relative;
  padding-right: 10px;
}

.btn_txt_more a span:after, .btn_txt_more button span:after {
  position: absolute;
  right: 2px;
  top: 50%;
  width: 6px;
  height: 6px;
  margin-top: -4px;
  border: solid #595959;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
  overflow: hidden;
}

/* kb_more */
.btn_more_view_box.kb_more {
  float: right;
  margin-top: -58px;
}

.btn_more_view_box.kb_more strong {
  font-size: 13px;
  height: 38px;
  padding: 0 12px;
  line-height: 38px;
  font-weight: 400;
}

.btn_more_view_box.kb_more strong em:after {
  background: url("../images/guide/ico_comment.svg") center/100% no-repeat;
  width: 14px;
  height: 14px;
  margin-top: -12px;
  right: 3px;
}

/** 대량구매상담 **/
/* cus_hero_area */
.cus_hero_area {
  position: relative;
  padding: 130px 0 60px 0;
  border-top: 1px solid #eaeaea;
  text-align: center;
}

.cus_hero_area:before {
  position: absolute;
  left: 50%;
  top: 40px;
  width: 80px;
  height: 80px;
  margin-left: -30px;
  background: url(../images/guide/ico_cus_hero01.svg) center/100% no-repeat;
  content: "";
}

.cus_hero_area.ty02:before {
  background-image: url(../images/guide/ico_cus_hero02.svg);
}

.cus_hero_area .cus_hero_tit {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.cus_hero_area .cus_hero_tit .point_line:before {
  top: 10px;
  height: 14px;
  background: #fff688;
}

.cus_hero_area h2 + p {
  margin-top: 15px;
  font-size: 15px;
  line-height: 23px;
}

.info_text_box + .form_chk {
  margin-top: 10px;
}

/** 대량구매상품검색 **/
.cus_bun_wrap .git_wrt_area {
  min-height: initial;
  padding-top: 0;
}

.cus_bun_wrap .tab_swiper.gft_wrt_pop {
  padding-bottom: 0;
  border-bottom: 0;
}
