@charset "UTF-8";
/*===============  카테고리 메인 브랜드 골라보기 ==================*/
.bd_img {
  border-radius: 12px;
}

.brand_search_wrap .search_area {
  position: relative;
  padding: 15px 46px 15px 14px;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
}

.brand_search_wrap .search_area input {
  outline: none;
  width: 100%;
}

.brand_search_wrap .search_area .search {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 14px;
  top: 50%;
  margin-top: -10px;
  background: url(../images/guide/ico_search_icon.svg) no-repeat center center/16px;
}

.brand_search_wrap .no_search_data {
  height: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brand_search_wrap .no_search_data span {
  display: block;
}

.brand_search_wrap .no_search_data_icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background: url(../images/guide/no_search_data_icon.svg) no-repeat center center/cover;
}

.brand_search_wrap .no_search_data_txt {
  text-align: center;
  margin-top: 16px;
  color: #767676;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
}

.brand_search_wrap .cks_list {
  min-height: 450px;
}

.brand_search_wrap .cks_list .cks_item {
  margin-bottom: 20px;
}

.brand_search_wrap .cks_list .cks_item:last-of-type {
  margin-bottom: 0;
}

.brand_search_wrap .cks_list .form_chk > label {
  font-size: 13px;
  color: #595959;
}

.brand_search_wrap .dialog_footer {
  padding: 0px;
  padding-top: 30px;
  margin: 0 !important;
}

.brand_search_wrap .dialog_footer.search .btn_reset {
  width: 44px;
  height: 44px;
  margin-right: 5px;
  border: 1px solid #000;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: url(../images/guide/ico_rest.svg) no-repeat center/18px;
}

.brand_search_wrap .dialog_footer.search .btn-secondary {
  background-color: #292929;
  color: #fff;
  -webkit-box-flex: 2 !important;
      -ms-flex: 2 1 auto !important;
          flex: 2 1 auto !important;
}

.brand_search_wrap .dialog_footer.search .btn-secondary:hover {
  background-color: #000;
}

.custom_scroll_wrap.ck_type {
  margin-top: 20px;
  max-height: 450px !important;
}

/*================  카테고리 메인 만년필이 궁금하세요 ==================*/
.pen_pop_wrap .tab_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.pen_pop_wrap .tab_menu .tab_menu_item {
  position: relative;
  line-height: 44px;
  width: 25%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top: 1px solid #D5D5D5;
  border-left: 1px solid #D5D5D5;
  cursor: pointer;
}

.pen_pop_wrap .tab_menu .tab_menu_item:last-of-type {
  border-right: 1px solid #D5D5D5;
}

.pen_pop_wrap .tab_menu .tab_menu_item:before {
  content: "";
  position: absolute;
  width: calc( 100% + 2px);
  height: 2px;
  background-color: #000;
  left: -1px;
  bottom: 0px;
  z-index: 2;
}

.pen_pop_wrap .tab_menu .tab_menu_item > a {
  display: block;
  width: 100%;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #767676;
}

.pen_pop_wrap .tab_menu .tab_menu_item.on {
  border: 2px solid #000;
  border-bottom: none;
}

.pen_pop_wrap .tab_menu .tab_menu_item.on > a {
  color: #000;
  font-weight: 700;
}

.pen_pop_wrap .tab_menu .tab_menu_item.on + .tab_menu_item {
  border-left: none;
}

.pen_pop_wrap .tab_menu .tab_menu_item.on:before {
  width: calc( 100%);
  left: 0px;
  height: 1px;
  background-color: #D5D5D5;
}

.pen_pop_wrap .tab_pen_content {
  min-height: 400px;
}

.pen_pop_wrap .tab_pen_content .tab_pen_item {
  display: none;
}

.pen_pop_wrap .tab_pen_content .tab_pen_item.on {
  display: block;
}

.pen_pop_wrap .tab_pen_content .pen_title {
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #595959;
}

.pen_pop_wrap .tab_pen_content .pen_title + .pen_sub_menu_wrap {
  padding-top: 20px;
}

.pen_pop_wrap .tab_pen_content .pen_sub_menu_wrap {
  margin: 0;
  padding-bottom: 20px;
}

.pen_pop_wrap .mgt10 {
  margin-top: 10px !important;
}
