@charset "UTF-8";
/*
    Corner Main
*/
/***** 오늘만 특가 *****/
.tod_full_banner {
  margin-bottom: 60px;
  padding-bottom: 0;
  background: #ffeb01;
}

.tod_full_banner .time_bar {
  position: absolute;
  left: 49.5%;
  top: 183px;
  width: 215px;
  color: #fff;
  font-family: 'Gmarket Sans';
  font-size: 26px;
  line-height: 78px;
  font-weight: 700;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.tod_full_banner .mc_txt {
  position: absolute;
  left: 50%;
  bottom: 30px;
  font-weight: 500;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.tod_full_banner .mc_txt img {
  margin-right: 3px;
  vertical-align: top;
}

.tod_full_banner .prod_share_area {
  right: 21px;
  top: 30px;
}

.tod_full_banner .prod_share_area .sns_share_wrap .btn_share {
  border-radius: 50%;
  border: 1px solid #d5d5d5;
  width: 42px;
  height: 42px;
  background: #fff;
}

.tod_full_banner .prod_share_area .sns_share_wrap .sns_share_box {
  right: -22px;
  top: 0px;
}

.tod_full_banner .btn_more_view_box.ty02:hover {
  background-color: initial;
}

/***** 핫딜특가 *****/
.tod_full_banner.tod_hot_benner {
  background: #F4F4F4;
}

/***** 베스트 *****/
.deadline_character_area.ht_best_deadline {
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  width: auto;
  height: 0;
  z-index: 4;
}

.deadline_character_area.ht_best_deadline .deadline_bubble {
  right: -15px;
  top: 0;
  padding: 14px 20px 10px 25px;
}

.deadline_character_area.ht_best_deadline .deadline_bubble:after {
  display: inline-block;
  position: absolute;
  right: -97px;
  top: -14px;
  width: 79px;
  height: 100px;
  background: url("../images/main/ico_side_float02.svg") no-repeat;
  content: "";
}

.deadline_character_area.ht_best_deadline .deadline_bubble .txt img {
  margin-top: -5px;
  margin-left: 5px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.deadline_character_area.ht_best_deadline .deadline_bubble .txt:before {
  right: -9px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.deadline_character_area.ht_best_deadline .deadline_bubble .txt:after {
  margin-top: -6px;
  border-width: 0 10px 12px 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/***** 신상픔 *****/
.ht_new_main {
  background: url("../images/main/bg_wel_md_pick.jpg") center/cover repeat-x;
}

.ht_new_main h2 {
  margin-bottom: 20px;
  text-align: center;
}

.ht_new_main h2 img {
  height: 103px;
}

.ht_new_main h2 p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.ht_new_main .bg_star img {
  position: absolute;
}

.ht_new_main .bg_star img:nth-child(1) {
  left: -171px;
  top: 290px;
}

.ht_new_main .bg_star img:nth-child(2) {
  right: 307px;
  top: -30px;
}

.ht_new_main .bg_star img:nth-child(3) {
  right: -184px;
  bottom: 12px;
}

.ht_new_main .thumb4_banner {
  overflow: initial;
}

.ht_new_main .thumb4_banner .swiper-slide:before {
  background: #fff;
  border: initial;
  -webkit-box-shadow: 15px 10px 20px -2px rgba(0, 0, 0, 0.16);
          box-shadow: 15px 10px 20px -2px rgba(0, 0, 0, 0.16);
}

.ht_new_main .thumb4_banner .product_pic a:after {
  border: initial;
}

.ht_new_main .thumb4_banner.ht_today_banner .product_info {
  height: 170px;
}

/* ht_new_list */
.ht_new_list .ht_tit_big02 img {
  display: inline-block;
  height: 40px;
  margin: 0 0 0 10px;
  vertical-align: top;
}

/* ht_new_deadline */
.deadline_character_area.ht_new_deadline {
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  width: auto;
  height: 0;
  z-index: 4;
}

.deadline_character_area.ht_new_deadline .deadline_bubble {
  right: -15px;
  top: 0;
  padding: 14px 20px 10px 25px;
}

.deadline_character_area.ht_new_deadline .deadline_bubble:after {
  display: inline-block;
  position: absolute;
  left: 12px;
  top: -23px;
  width: 70px;
  height: 38px;
  background: url("../images/main/ico_side_float01.svg") no-repeat;
  content: "";
}

.deadline_character_area.ht_new_deadline .deadline_bubble .txt img {
  margin-left: 5px;
  margin-top: -5px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.deadline_character_area.ht_new_deadline .deadline_bubble .txt:before {
  right: -9px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.deadline_character_area.ht_new_deadline .deadline_bubble .txt:after {
  margin-top: -6px;
  border-width: 0 10px 12px 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/***** 브랜드샵 *****/
/** 브랜드 정보 **/
.brad_main_info {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #f3b79b), color-stop(90%, #f41860));
  background: linear-gradient(to right, #f3b79b 10%, #f41860 90%);
  overflow: hidden;
}

/* brad_main_info_cont */
.brad_main_info_cont {
  position: relative;
  min-height: 430px;
}

.brad_main_info_cont:before {
  position: absolute;
  right: -59px;
  top: -165px;
  width: 550px;
  height: 550px;
  background: url("../images/main/img_brad_bg_txt.svg") no-repeat;
  content: "";
  -webkit-animation: rotate_image 30s linear infinite;
          animation: rotate_image 30s linear infinite;
}

@-webkit-keyframes rotate_image {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate_image {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.brad_main_info_cont:after {
  clear: both;
  display: block;
  content: "";
}

.brad_info_left {
  float: left;
  width: 480px;
  padding: 86px 0 110px 0;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brad_info_left .brad_thumb {
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brad_info_left .logo {
  font-family: 'Gmarket Sans';
  font-size: 72px;
  font-weight: 700;
  line-height: 82px;
  letter-spacing: -1.5px;
  text-shadow: -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black, 1px 1px 0px black, 5px 4px 1px #000;
}

.brad_info_left .brand {
  margin-top: 10px;
  font-weight: 700;
}

.brad_info_left .tit_desc {
  margin-top: 6px;
}

.brad_info_left .group_wrap {
  position: absolute;
  left: 0;
  bottom: 0;
}

.brad_info_left .group_wrap .evt_good_count {
  font-size: 18px;
  height: 42px;
  padding: 0 16px;
  border-radius: 42px;
  position: initial;
  float: left;
}

.brad_info_left .group_wrap .evt_good_count .icon {
  width: 18px;
  height: 17px;
  background-size: 100%;
}

.brad_info_left .group_wrap .evt_good_count .txt {
  margin-left: 5px;
}

.brad_info_left .group_wrap .prod_share_area {
  position: initial;
  float: left;
}

.brad_info_left .group_wrap .prod_share_area .sns_share_wrap {
  margin-left: 5px;
}

.brad_info_left .group_wrap .prod_share_area .btn_share {
  width: 42px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 0;
  border-radius: 50%;
}

.brad_info_left .group_wrap .prod_share_area .btn_share .ico_share {
  background: url("../images/main/ico_share_white.svg") 35% center/15px no-repeat;
}

.brad_info_left .group_wrap .prod_share_area .sns_share_box {
  right: initial;
  left: 0px;
  top: 1px;
  padding: 5px 0 5px 10px;
}

.brad_info_right {
  float: right;
  width: 690px;
  padding: 96px 25px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brad_info_right .desc {
  color: #fff;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -0.5px;
}

/** brad_main_viewer **/
.brad_main_viewer {
  text-align: center;
}

.brad_main_viewer .ht_tit {
  margin-bottom: 8px;
}

.brad_main_viewer .ht_tit_sub {
  color: #767676;
  font-size: 16px;
  line-height: 24px;
}

.brad_main_viewer .video_item {
  width: 994px;
  height: 559px;
  margin: 0 auto;
  margin-top: 18px;
}

.brad_main_viewer .video_item .evt_video {
  width: 100%;
  height: 100%;
}

/** 관련 기획전 **/
.brad_main_exhibition_cont .img-wrap {
  border-radius: 12px;
  overflow: hidden;
}

.brad_main_exhibition_cont .exhibition_info {
  margin-top: 22px;
  color: #000;
}

.brad_main_exhibition_cont .exhibition_info .title {
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.brad_main_exhibition_cont .exhibition_info .sub {
  display: inline-block;
  margin-top: 6px;
  font-size: 15px;
  line-height: 23px;
}

.brad_main_exhibition_cont .swiper-wrapper.list_lenght_warp {
  display: inline-block;
}

.brad_main_exhibition_cont .swiper-wrapper.list_lenght_warp li {
  float: left;
  width: 582px;
  margin-left: 36px;
}

.brad_main_exhibition_cont .swiper-wrapper.list_lenght_warp li:first-child {
  margin-left: 0;
}

/** 브랜드 쿠폰 **/
.brad_main_coupon .brand_coupon_item {
  position: relative;
  width: 379px;
  height: 288px;
}

.brad_main_coupon .brand_coupon_item:before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/guide/brand_coupon_bg.svg") no-repeat;
  content: "";
  z-index: -1;
}

.brad_main_coupon .brand_coupon_item:disabled:before {
  background: url("../images/guide/brand_coupon_bg_down.svg") no-repeat;
}

.brad_main_coupon .brand_coupon_item:disabled .cupon_info .discount,
.brad_main_coupon .brand_coupon_item:disabled .cupon_info .title,
.brad_main_coupon .brand_coupon_item:disabled .cupon_info .sub.gray,
.brad_main_coupon .brand_coupon_item:disabled .cupon_info .cpon_notice,
.brad_main_coupon .brand_coupon_item:disabled .cupon_info .cpon_down {
  color: #000;
  opacity: 0.5;
}

.brad_main_coupon .cupon_info {
  height: 100%;
  padding: 30px 40px 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brad_main_coupon .cupon_info span {
  display: block;
  text-align: left;
}

.brad_main_coupon .cupon_info .discount {
  font-size: 30px;
  color: #da2128;
  font-weight: 700;
}

.brad_main_coupon .cupon_info .title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.brad_main_coupon .cupon_info .sub.gray {
  margin-top: 10px;
  color: #595959;
  font-size: 14px;
  line-height: 22px;
}

.brad_main_coupon .cupon_info .sub.gray + .sub.gray {
  margin-top: 0px;
}

.brad_main_coupon .cupon_info .cpon_notice {
  margin-top: 10px;
  color: #767676;
  font-size: 12px;
  line-height: 20px;
}

.brad_main_coupon .cupon_info .cpon_notice em {
  position: relative;
  padding-left: 8px;
}

.brad_main_coupon .cupon_info .cpon_notice em:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "*";
}

.brad_main_coupon .cupon_info .cpon_down {
  position: absolute;
  left: 169px;
  bottom: 22px;
  font-size: 16px;
  font-weight: 700;
}

.brad_main_coupon_cont .swiper-wrapper.list_lenght_warp {
  display: inline-block;
}

.brad_main_coupon_cont .swiper-wrapper.list_lenght_warp li {
  float: left;
  width: 31.6%;
  margin-left: 2.6%;
}

.brad_main_coupon_cont .swiper-wrapper.list_lenght_warp li:first-child {
  margin-left: 0;
}

/** 브랜드 상품 **/
.brad_main_prod .list_info_text_warp {
  position: relative;
  float: left;
  margin-bottom: -20px;
  padding-top: 10px;
  border: 0;
  z-index: 1;
}

.brad_main_prod .prod_sort_wrap.dep_top {
  float: right;
  margin-bottom: -20px;
  padding-top: 0;
  z-index: 1;
}

.brad_main_prod .tab_ty.swiper-container-horizontal .swiper-wrapper {
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

.brad_main_prod .tab_ty .swiper-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
