@charset "UTF-8";
/* 차트선택 : 년, 월, 주, 일 팝업 */
.prod_sort_wrap.dep_top {
  overflow: initial;
}

.prod_sort_wrap.dep_top:after {
  display: block;
  clear: both;
  content: "";
}

.date_select_warp .tooltip_wrap {
  position: static;
}

.date_select_warp .btn_sort_date {
  cursor: text !important;
}

.date_select_warp .tooltip_wrap .tooltip_inner {
  left: -50px;
  top: 53px;
  padding: 0;
  height: 355px;
}

.date_select_warp .tooltip_wrap .tooltip_inner .tooltip_header {
  padding: 22px;
  border-bottom: 1px solid #000;
}

.date_select_warp .tooltip_wrap .tooltip_inner .tooltip_header .tooltip_head_title {
  font-size: 20px;
}

.date_select_warp .tooltip_wrap .tooltip_inner .tooltip_contents {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.date_select_warp .tooltip_wrap .tooltip_inner .tooltip_contents .chart_select_warp {
  display: table-cell;
}

.date_select_warp .tooltip_wrap .tooltip_inner .tooltip_contents .chart_select_warp li {
  position: relative;
}

.date_select_warp .tooltip_wrap .tooltip_inner .tooltip_contents .chart_select_warp input[type="radio"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: -1;
}

.date_select_warp .tooltip_wrap .tooltip_inner .tooltip_contents .chart_select_warp input[type="radio"] + label {
  display: inline-block;
  border: 1px solid #dfdfdf;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  color: #000;
  width: 100%;
  padding: 12px;
  border: initial;
  text-align: left;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.date_select_warp .tooltip_wrap .tooltip_inner .tooltip_contents .chart_select_warp input[type="radio"] + label:hover {
  background-color: #F5F5F5;
  color: #000;
}

.date_select_warp .tooltip_wrap .tooltip_inner .tooltip_contents .chart_select_warp input[type="radio"]:checked + label {
  background-color: #F5F5F5;
  color: #000;
}

.date_select_warp .tooltip_wrap .tooltip_inner .tooltip_contents .chart_select_warp input[type="radio"]:disabled + label {
  color: #ccc;
  cursor: default;
}

.date_select_warp .tooltip_wrap .btn_tooltip {
  margin-top: -3px;
  margin-left: 4px;
  background: none;
}

.date_select_warp .tooltip_wrap .btn_tooltip .ico_info {
  background-image: url(../../../assets/common/images/arw_tooltip.png);
  border: 1px solid #000;
  border-radius: 50%;
}

.date_select_warp .tooltip_wrap .btn_tooltip [class^=ico_] {
  width: 18px;
  height: 18px;
}

.date_select_warp .tooltip_wrap.active .btn_tooltip .ico_info {
  background-image: url(../../../assets/common/images/arw_tooltip_active.png);
  background-color: #000;
}

.date_select_warp .tooltip_wrap .tooltip_header .btn_tooltip_close {
  margin-top: 3px;
}

.date_select_warp .tooltip_wrap .tooltip_footer .btn_tooltip_close {
  position: initial;
  background: none;
  width: 100%;
  background: #000;
  color: #fff;
  height: 66px;
  font-size: 16px;
}

.date_select_warp .tooltip_wrap .custom_scroll_wrap {
  max-height: calc(318px - 100px) !important;
  border-right: 1px solid #ccc;
}

.date_select_warp .tooltip_wrap .custom_scroll_wrap .simplebar-track {
  background: initial;
  right: 4px;
  top: 5px;
}

.date_select_warp .tooltip_wrap .simplebar-scrollbar:before {
  background-color: #CCCCCC;
}

/******* 브랜드샵 *******/
.brad_main_prod .ht_tit,
.brad_main_coupon .ht_tit,
.brad_main_exhibition .ht_tit,
.brad_main_viewer .ht_tit {
  text-align: center;
}

/** 브랜드 정보 **/
.brad_main_info {
  background: #2B2E3D;
  margin-bottom: 60px;
  padding-top: 60px;
  position: relative;
  overflow: hidden;
}

.brad_main_info .brad_main_info_cont {
  position: relative;
  min-height: 431px;
}

.brad_main_info .brad_main_info_cont:before {
  background: url(../images/main/img_brad_bg_txt.svg) no-repeat;
  content: "";
  display: inline-block;
  width: 550px;
  height: 550px;
  position: absolute;
  -webkit-animation: rotate_image 30s linear infinite;
          animation: rotate_image 30s linear infinite;
  top: -165px;
  right: -59px;
}

@-webkit-keyframes rotate_image {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate_image {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.brad_main_info .brad_main_info_cont:after {
  clear: both;
  display: block;
  content: "";
}

.brad_main_info .brad_main_info_cont .brad_info_left {
  padding-top: 86px;
  float: left;
  width: 40%;
  padding-right: 3%;
  padding-bottom: 113px;
}

.brad_main_info .brad_main_info_cont .brad_info_left.brad_thumb:before {
  background: url(../images/temp/@tod_prod_sample1.png) no-repeat;
  display: inline-block;
  width: 70px;
  height: 70px;
  content: "";
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #000;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brad_main_info .brad_main_info_cont .brad_info_left .logo {
  line-height: 82px;
  font-family: 'Gmarket Sans';
  text-shadow: -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black, 1px 1px 0px black, 5px 4px 1px #000;
  font-weight: 900;
  font-size: 72px;
  color: #FFEB01;
  letter-spacing: -1.6px;
}

.brad_main_info .brad_main_info_cont .brad_info_left .brand {
  font-size: 16px;
  color: #fff;
  margin-top: 13px;
}

.brad_main_info .brad_main_info_cont .brad_info_left .tit_desc {
  font-size: 16px;
  color: #fff;
  opacity: 0.6;
  margin-top: 10px;
}

.brad_main_info .brad_main_info_cont .brad_info_left .group_wrap {
  position: absolute;
  bottom: 0;
}

.brad_main_info .brad_main_info_cont .brad_info_left .group_wrap .evt_good_count {
  font-size: 18px;
  height: 42px;
  padding: 0 16px;
  border-radius: 42px;
  position: initial;
  float: left;
}

.brad_main_info .brad_main_info_cont .brad_info_left .group_wrap .evt_good_count .icon {
  width: 18px;
  height: 17px;
  background-size: 100%;
}

.brad_main_info .brad_main_info_cont .brad_info_left .group_wrap .evt_good_count .txt {
  margin-left: 5px;
}

.brad_main_info .brad_main_info_cont .brad_info_left .group_wrap .prod_share_area {
  position: initial;
  float: left;
}

.brad_main_info .brad_main_info_cont .brad_info_left .group_wrap .prod_share_area .sns_share_wrap {
  margin-left: 5px;
}

.brad_main_info .brad_main_info_cont .brad_info_left .group_wrap .prod_share_area .btn_share {
  border-radius: 50%;
  border: 0;
  width: 42px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.6);
}

.brad_main_info .brad_main_info_cont .brad_info_left .group_wrap .prod_share_area .btn_share .ico_share {
  background: url(../images/main/ico_share_white.svg) no-repeat center center/15px;
  opacity: 1;
}

.brad_main_info .brad_main_info_cont .brad_info_left .group_wrap .prod_share_area .sns_share_box {
  right: initial;
  top: 1px;
  left: 0px;
  padding: 5px 0 5px 10px;
}

.brad_main_info .brad_main_info_cont .brad_info_right {
  width: 57%;
  float: right;
  padding-top: 96px;
}

.brad_main_info .brad_main_info_cont .brad_info_right .desc {
  font-size: 15px;
  line-height: 30px;
  color: #fff;
  opacity: 0.6;
}

/** Viewer **/
.brad_main_viewer {
  text-align: center;
}

.brad_main_viewer .ht_tit {
  margin: -4px 0 7px 0;
}

.brad_main_viewer .ht_tit_sub {
  font-size: 16px;
  color: #767676;
}

.brad_main_viewer .video_item {
  width: 994px;
  height: 559px;
  margin: 0 auto;
  margin-top: 20px;
}

.brad_main_viewer .video_item .evt_video {
  width: 100%;
  height: 100%;
}

/** 관련 기획전 **/
.brad_main_exhibition_cont .img-wrap {
  border-radius: 12px;
  overflow: hidden;
}

.brad_main_exhibition_cont .exhibition_info {
  margin-top: 21px;
}

.brad_main_exhibition_cont .exhibition_info .title {
  font-size: 20px;
  font-weight: 500;
  display: block;
  line-height: 30px;
}

.brad_main_exhibition_cont .exhibition_info .sub {
  font-size: 15px;
  line-height: 22px;
  display: inline-block;
  margin-top: 4px;
}

.brad_main_exhibition_cont .swiper-wrapper.list_lenght_warp {
  display: inline-block;
}

.brad_main_exhibition_cont .swiper-wrapper.list_lenght_warp li {
  width: 48.5%;
  float: left;
  margin-left: 3%;
}

.brad_main_exhibition_cont .swiper-wrapper.list_lenght_warp li:first-child {
  margin-left: 0;
}

/** 브랜드 쿠폰 **/
.brad_main_coupon .brand_coupon_item {
  position: relative;
  width: 379px;
  height: 288px;
}

.brad_main_coupon .brand_coupon_item:before {
  background: url(../images/guide/brand_coupon_bg.svg) no-repeat;
  content: "";
  display: inline-block;
  width: 376px;
  height: 285px;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.brad_main_coupon .brand_coupon_item.brand_coupon_download {
  cursor: default;
}

.brad_main_coupon .brand_coupon_item.brand_coupon_download:before {
  background: url(../images/guide/brand_coupon_bg_down.svg) no-repeat;
}

.brad_main_coupon .brand_coupon_item.brand_coupon_download .cupon_info .discount, .brad_main_coupon .brand_coupon_item.brand_coupon_download .cupon_info .title, .brad_main_coupon .brand_coupon_item.brand_coupon_download .cupon_info .sub.gray, .brad_main_coupon .brand_coupon_item.brand_coupon_download .cupon_info .cpon_notice, .brad_main_coupon .brand_coupon_item.brand_coupon_download .cupon_info .cpon_down {
  color: #000;
  opacity: 0.5;
}

.brad_main_coupon .cupon_info {
  padding: 30px 40px 0 40px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brad_main_coupon .cupon_info span {
  display: block;
  text-align: left;
}

.brad_main_coupon .cupon_info .discount {
  font-size: 30px;
  color: #DA2128;
  font-weight: 600;
}

.brad_main_coupon .cupon_info .title {
  font-size: 20px;
  font-weight: 600;
}

.brad_main_coupon .cupon_info .sub.gray {
  font-size: 14px;
  color: #595959;
  margin-top: 10px;
  line-height: 22px;
}

.brad_main_coupon .cupon_info .sub.gray + .sub.gray {
  margin-top: 0px;
}

.brad_main_coupon .cupon_info .cpon_notice {
  font-size: 12px;
  color: #767676;
  margin-top: 12px;
}

.brad_main_coupon .cupon_info .cpon_down {
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  bottom: 22px;
  left: 169px;
}

.brad_main_coupon_cont .swiper-wrapper.list_lenght_warp {
  display: inline-block;
}

.brad_main_coupon_cont .swiper-wrapper.list_lenght_warp li {
  width: 31.6%;
  float: left;
  margin-left: 2.6%;
}

.brad_main_coupon_cont .swiper-wrapper.list_lenght_warp li:first-child {
  margin-left: 0;
}

/** 브랜드 상품 **/
.brad_main_tab {
  margin: 20px auto;
}

.brad_main_prod {
  padding-bottom: 0;
}

.brad_main_prod .ht_tit {
  margin-bottom: 0;
}

.brad_main_prod .list_info_text_warp {
  border: 0;
  padding-top: 10px;
  float: left;
  margin-bottom: 0;
}

.brad_main_prod .prod_sort_wrap.dep_top {
  margin-bottom: 0;
  padding-top: 0;
  float: right;
}
