@charset "UTF-8";
/***   HTR-P-CUS-MAIN   ***/
/* lnb */
.ht_cus_lnb {
  position: relative;
  border-top: 2px solid #000;
}

.ht_cus_lnb a, .ht_cus_lnb button {
  display: block;
  position: relative;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  cursor: pointer;
  text-align: left;
}

.ht_cus_lnb > li {
  position: relative;
  padding-right: 10px;
  padding-top: 15px;
}

.ht_cus_lnb > li:not(.bd_none) {
  padding-bottom: 15px;
  border-bottom: 1px solid #eaeaea;
}

.ht_cus_lnb > li.primary a {
  color: #da2128;
  font-weight: 700;
}

.ht_cus_lnb > li:before {
  position: absolute;
  right: -4px;
  top: 20px;
  width: 19px;
  height: 10px;
  background: url("../images/guide/ico_arrow.svg") center bottom/7px no-repeat;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  content: "";
}

.ht_cus_lnb .cus_1dep {
  position: relative;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
}

.ht_cus_lnb .dep2_lst {
  margin-top: 15px;
}

.ht_cus_lnb .dep2_lst > li {
  position: relative;
  margin-bottom: 5px;
}

.ht_cus_lnb .dep2_lst > li:last-of-type {
  margin-bottom: 0;
}

.ht_cus_lnb .dep2_lst > li:before {
  position: absolute;
  right: -10px;
  top: 0;
  width: 10px;
  height: 23px;
  background: url("../images/guide/ico_arrow_59.svg") right center/4px no-repeat;
  content: "";
}

.ht_cus_lnb .cus_2dep {
  padding-left: 8px;
  line-height: 19px;
  letter-spacing: -1px;
  color: #767676;
}

.ht_cus_lnb .cus_2dep:before {
  content: "-";
  position: absolute;
  left: 0;
  top: 0px;
  width: 6px;
  height: 22px;
  line-height: 22px;
}

.lnb_cs {
  margin-top: 25px;
}

.lnb_cs .title {
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.014px;
  padding-left: 22px;
  position: relative;
}

.lnb_cs .title:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background: url(../images/guide/ico_cus_info_clock_bk.svg) no-repeat left center/18px;
  left: 0;
  top: 0;
  z-index: 1;
}

.lnb_cs .tel {
  margin-top: 10px;
  line-height: 21px;
  letter-spacing: -0.016px;
  font-size: 16px;
  font-weight: 700;
  color: #474C98;
}

.lnb_cs .info {
  margin-top: 6px;
  line-height: 18px;
  font-size: 14px;
  color: #595959;
}

.lnb_cs .info > em {
  color: #767676;
}

.lnb_refund {
  margin-top: 25px;
  padding: 15px;
  border-radius: 6px;
  background-color: #E3EAFF;
}

.lnb_refund .ref_tit {
  line-height: 19px;
  font-size: 13px;
  font-weight: 700;
  position: relative;
  padding-right: 49px;
  letter-spacing: -0.013px;
}

.lnb_refund .ref_tit:before {
  content: "";
  width: 36px;
  height: 38px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: url(../images/guide/ico_cus_ref.svg) no-repeat center/36px;
}

.lnb_refund .info {
  margin-top: 4px;
  line-height: 18px;
  font-size: 12px;
  letter-spacing: -0.012px;
}

/* //lnb */
.cus_faq {
  padding: 40px 30px;
  border-radius: 12px;
  background-color: #6286FF;
}

.cus_faq .tit {
  margin-bottom: 15px;
  overflow: hidden;
  margin-top: -3px;
}

.cus_faq .ht_tit04 {
  color: #fff;
  float: left;
  margin: 0;
}

.cus_faq .to_external {
  color: #fff;
  line-height: 19px;
  position: relative;
  font-weight: 500;
  float: right;
  margin-top: 7px;
}

.cus_faq .to_external:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -7px;
  top: 5px;
}

.cus_faq_cont {
  position: relative;
}

.cus_faq_cont:before {
  content: "";
  position: absolute;
  width: 38px;
  height: 70px;
  background: url("../images/guide/ico_cus_mc_best.svg") center top/100% no-repeat;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  top: -45px;
  left: 100px;
}

.cus_faq_banner {
  position: relative;
  overflow: hidden;
}

.cus_faq_banner .swiper-slide {
  width: 226px;
  height: 115px;
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cus_faq_banner .swiper-slide:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 2px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cus_faq_banner .swiper-slide > a {
  position: relative;
}

.cus_faq_banner .swiper-slide .s1 {
  position: absolute;
  background-color: #F5F5F5;
  border-radius: 50px;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.01px;
  padding: 3px 8px;
}

.cus_faq_banner .swiper-slide .info {
  position: relative;
  padding: 30px 0 0 18px;
  line-height: 22px;
  letter-spacing: -0.022px;
}

.cus_faq_banner .swiper-slide .info:before {
  content: "Q.";
  position: absolute;
  font-weight: 700;
  width: 14px;
  height: 19px;
  left: 0px;
  top: 30px;
}

.cus_qna_menu {
  margin-top: 40px;
}

.qna_list {
  overflow: hidden;
}

.qna_list .li {
  width: calc(100% / 5);
  height: 80px;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.qna_list .li:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 40px;
  border-right: 1px dashed #EAEAEA;
  right: 0;
  top: 20px;
  z-index: 1;
}

.qna_list .li:nth-of-type(3):before {
  height: 80px;
  top: 0;
}

.qna_list .li:last-of-type:before {
  display: none;
}

.qna_list .icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.qna_list .icon img {
  position: absolute;
  height: 112%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.qna_list .info {
  text-align: center;
  margin-top: 15px;
  line-height: 21px;
  font-size: 15px;
  letter-spacing: -0.015px;
}

.cus_info {
  margin-top: 40px;
  padding: 20px 40px;
  border-radius: 12px;
  color: #fff;
  background-color: #292929;
}

.cus_info_list .li {
  display: inline-block;
  line-height: 22px;
  letter-spacing: -0.014px;
  margin-top: -1px;
}

.cus_info_list .li:nth-of-type(1) {
  margin-right: 50px;
  position: relative;
  font-size: 15px;
  padding-left: 20px;
  letter-spacing: -0.015px;
}

.cus_info_list .li:nth-of-type(1):before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../images/guide/ico_cus_info_clock.svg) no-repeat left center/18px;
  position: absolute;
  z-index: 1;
  left: -3px;
  top: 0;
}

.cus_info_list .li:nth-of-type(2) {
  margin-right: 25px;
}

.cus_info_list .li:nth-of-type(3) {
  margin-right: 80px;
}

.cus_info_list .li:nth-of-type(4) {
  position: relative;
}

.cus_notice {
  overflow: hidden;
}

.cus_notice_cont {
  width: 482px;
  float: left;
  position: relative;
}

.cus_notice_cont:first-of-type {
  margin-right: 30px;
}

.cus_notice_cont .ht_tit04 {
  float: left;
}

.cus_notice_cont .to_external {
  float: right;
  line-height: 19px;
  margin-top: 6px;
  font-size: 13px;
  font-weight: 500;
  color: #595959;
  letter-spacing: -0.013px;
  padding-right: 9px;
  position: relative;
}

.cus_notice_cont .to_external:before {
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 6px;
  height: 6px;
  border-top: 1px solid #767675;
  border-right: 1px solid #767675;
  right: 1px;
  top: 6px;
}

.cus_notice_cont > ul {
  clear: both;
  margin-top: -1px;
}

.cus_notice_list {
  border-top: 1px solid;
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 10px;
}

.cus_notice_list .li {
  margin-top: 10px;
  line-height: 19px;
  font-size: 13px;
  padding: 0 5px 3px 5px;
  letter-spacing: -0.013px;
}

.cus_sv_list {
  border-top: 1px solid;
  padding-top: 25px;
  overflow: hidden;
}

.cus_sv_list .li {
  width: calc(100% / 3);
  height: 130px;
  float: left;
  border-right: 1px dashed #D5D5D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cus_sv_list .icon {
  margin: 10px auto 0 auto;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  border: 1px solid #EAEAEA;
  position: relative;
  line-height: 78px;
  text-align: center;
}

.cus_sv_list .icon img {
  width: 44px;
}

.cus_sv_list .info {
  margin-top: 15px;
  text-align: center;
  line-height: 20px;
  letter-spacing: -0.014px;
}

/***   //HTR-P-CUS-MAIN   ***/
/***   HTR-P-CUS-ETC   ***/
.cus_etc_upper {
  padding-bottom: 40px;
}

.cus_etc_upper .tab_txt {
  margin-bottom: 20px;
}

.cus_etc_upper .info_text_box {
  border-radius: 12px;
}

.cus_etc_upper .to_myroom {
  text-decoration: underline;
  font-weight: 500;
  color: #000;
}

.deposit_ck_box {
  text-align: center;
  margin-top: 20px;
}

.deposit_ck_box .icon {
  width: 80px;
  height: 80px;
  margin: 0 auto 10px auto;
}

.deposit_ck_box .icon img {
  width: 100%;
}

.deposit_ck_box .ht_tit05 {
  letter-spacing: -0.018px;
}

.deposit_ck_box .desc {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.015px;
  color: #292929;
}

.deposit_ck_box .btn_area {
  margin-top: 60px;
}

.cus_etc .deposit_result_card + .btn_area {
  margin-top: 0px;
}

.cus_etc .btn_lg {
  min-width: auto;
  padding-right: 24px;
  padding-left: 24px;
  letter-spacing: -0.6px;
}

.deposit_result_card {
  padding: 29px 30px;
  border-radius: 12px;
  border: 1px solid #EAEAEA;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.deposit_result_card:last-of-type {
  margin-bottom: 0;
}

.deposit_result_card .ht_tit06 {
  margin-bottom: 0;
}

.deposit_result_card .completed {
  position: relative;
}

.deposit_result_card .completed:before {
  content: "환불 신청 완료";
  position: absolute;
  left: 100%;
  top: 2px;
  background-color: #474C98;
  color: #fff;
  font-size: 10px;
  font-weight: 400;
  white-space: nowrap;
  line-height: 14px;
  padding: 4px 8px 3px 8px;
  border-radius: 50px;
  margin-left: 10px;
  letter-spacing: -0.01px;
}

.deposit_result_card .result {
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.02px;
}

.deposit_result_card .deposit {
  margin-right: 2px;
  color: #da2128;
  font-size: 20px;
}

/***   //HTR-P-CUS-ETC   ***/
/***   HTR-P-CUS-ETC-002-POP   ***/
.dialog_wrapper .ui-dialog .dialog_wrap.cus_ref {
  padding-bottom: 30px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.cus_ref .dialog_header {
  border-bottom: none;
  padding-top: 23px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.cus_ref .dialog_contents {
  margin-top: 10px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.cus_ref .evt_pop_content {
  min-height: auto;
}

.dialog_wrapper .ui-dialog .dialog_wrap.cus_ref .pop_box_info {
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 30px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.cus_ref .pop_box_info .bul_item_dot {
  word-break: break-all;
  line-height: 19px;
  font-size: 13px;
  letter-spacing: -0.013px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.cus_ref .pop_box_info.ty02 {
  background: none;
  padding: 0;
  margin: 0;
}

.dialog_wrapper .ui-dialog .dialog_wrap.cus_ref .pop_box_info .tit {
  margin-bottom: 8px;
  line-height: 20px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.cus_ref .pop_box_info .user_name {
  margin-left: 6px;
  font-weight: 400;
  color: #767676;
}

.dialog_wrapper .ui-dialog .dialog_wrap.cus_ref .pop_box_info dd {
  margin-bottom: 8px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.cus_ref .pop_box_info dd:last-of-type {
  margin-bottom: 0;
}

.dialog_wrapper .ui-dialog .dialog_wrap.cus_ref .pop_box_info .form_sel > span {
  width: 340px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.cus_ref .deposit_result_card {
  padding: 0 0 20px 0;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 20px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.cus_ref .dialog_footer {
  margin-top: 30px;
}

/***   //HTR-P-CUS-ETC-002-POP   ***/
/***   HTR-P-CUS-INFO   ***/
.cus_view_upper {
  padding-bottom: 0;
}

.cus_view_upper .tab_txt {
  margin-bottom: 30px;
}

.info_text_box.cus_list_box {
  padding: 30px 40px 40px;
  border-radius: 12px;
}

.info_text_box.cus_list_box .ht_tit05 {
  margin-bottom: 10px;
}

.info_text_box.cus_list_box .point_line img {
  width: 18px;
  margin-top: -7px;
  margin-left: 2px;
}

.info_text_box.cus_list_box .point_line:before {
  height: 14px;
  top: 10px;
}

.info_text_box.cus_list_box .bul_list li {
  margin-top: 8px !important;
  line-height: 19px;
  font-size: 13px;
  color: #292929;
}

.info_text_box.cus_list_box .bul_list li strong {
  color: #000;
}

.info_text_box.cus_list_box .bul_list li .lighter {
  color: #767676;
}

.info_text_box.cus_list_box.letter {
  background: url(../images/guide/cus_font_box.png) no-repeat center/cover;
}

.info_text_box.cus_list_box.letter .point_line:before {
  background-color: #FFC09F;
}

.info_text_box.cus_list_box.package {
  background: url(../images/guide/cus_package_box.svg) no-repeat center/cover;
}

.info_text_box.cus_list_box.package .point_line:before {
  background-color: #FFE65C;
}

.info_text_box.cus_list_box.card {
  background: url(../images/guide/cus_card_box.svg) no-repeat center/cover;
}

.info_text_box.cus_list_box.card .point_line:before {
  background-color: #9AF8C2;
}

.cus_letters {
  overflow: hidden;
}

.cus_letters > .li {
  width: 482px;
  float: left;
  margin-top: 30px;
}

.cus_letters > .li:nth-of-type(2n + 1) {
  margin-right: 30px;
}

.cus_view_box {
  padding: 29px 30px !important;
  border: 1px solid #EAEAEA;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.cus_view_box.ty02 {
  margin-top: 30px;
}

.cus_initials > li {
  margin-bottom: 15px;
  padding-bottom: 14px;
  border-bottom: 1px dashed #D5D5D5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cus_initials > li:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.cus_initials span {
  height: 24px;
  line-height: 24px;
  margin: 0;
}

.cus_initials span img {
  height: 100%;
}

.cus_package_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.cus_package_list > li {
  width: calc(100% / 3);
  height: 212px;
  line-height: 212px;
  border-right: 1px dashed #D5D5D5;
  border-bottom: 1px dashed #D5D5D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 42px;
  position: relative;
}

.cus_package_list > li:nth-of-type(3n) {
  border-right: none;
}

.cus_package_list > li:nth-last-of-type(-n + 3) {
  border-bottom: none;
}

.cus_package_list > li:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  right: -10px;
  bottom: -10px;
  z-index: 1;
}

.cus_package_list img {
  width: 100%;
}

.cus_card_area {
  margin-bottom: 40px;
}

.cus_card_area .ht_tit06 {
  margin-bottom: 20px;
  text-align: center;
}

.cus_card_area .cus_card_box {
  width: 315px;
  margin: 0 auto;
  border-radius: 14px;
  border: 1px solid #CCC;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

.cus_card_area .cus_card_box img {
  width: 100%;
}

.cus_card_area .btn_area {
  margin-top: 35px;
}

.cus_card_area .btn_area button {
  min-width: 164px;
}

.card_promotion tr th.center {
  padding: 20px 0 !important;
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
}

.card_promotion tr th.center strong {
  font-size: 13px;
  font-weight: 500;
  color: #000;
}

.card_promotion .align_left {
  padding: 19px 30px !important;
}

.card_promotion th:first-of-type, .card_promotion td:first-of-type {
  border-right: 1px solid #d5d5d5;
}

.card_promotion [class^=bul_item_] {
  font-size: 13px;
  color: #000;
}

.card_promotion [class^=bul_item_] em {
  font-size: 12px;
}

.cus_bul {
  margin: 15px 0 18px;
}

.cus_bul [class^=bul_item_] {
  line-height: 19px;
  font-size: 13px;
  color: #767676;
}

/***   //HTR-P-CUS-INFO   ***/
