@charset "UTF-8";
/***** 쿠폰/ 혜택 *****/
.wel_coupon {
  padding: 100px 0;
  background: url(../images/guide/cpon_area_bg.png) no-repeat center/cover;
  color: #fff;
}

.wel_coupon .ht_tit_big {
  color: #fff;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1px;
  margin-bottom: 15px;
}

.wel_coupon .ht_tit_big > img {
  width: 56px;
  margin-left: 5px;
  margin-top: -7px;
}

.wel_coupon .point_line:before {
  top: 44px;
}

.wel_coupon .ht_tit06 {
  text-align: center;
  line-height: 22px;
  margin-bottom: 22px;
  color: #fff;
  font-weight: normal;
  letter-spacing: -0.016px;
}

.wel_coupon .cpon_subscription_wrap {
  width: 479px;
  margin: 0 auto;
}

.wel_coupon .cpon_subscription_wrap .cpon {
  position: relative;
  padding: 30px;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  margin-bottom: 10px;
}

.wel_coupon .cpon_subscription_wrap .cpon:last-of-type {
  margin-bottom: 0;
}

.wel_coupon .cpon_subscription_wrap .cpon:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000;
  left: 36px;
  top: -6px;
}

.wel_coupon .cpon_subscription_wrap .cpon:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000;
  left: 36px;
  bottom: -6px;
}

.wel_coupon .cpon_subscription_wrap .cpon .cpon_name {
  text-align: center;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.01em;
  margin-bottom: 5px;
}

.wel_coupon .cpon_subscription_wrap .cpon .cpon_kind {
  text-align: center;
  line-height: 33px;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Gmarket Sans';
  margin-bottom: 2px;
}

.wel_coupon .cpon_subscription_wrap .cpon .cpon_desc {
  text-align: center;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 24px;
  color: #767676;
}

.wel_coupon .cpon_subscription_wrap .cpon .dash {
  width: 1px;
  height: 100%;
  border-left: 1px dashed #000;
  position: absolute;
  top: 0;
  left: 42px;
}

.wel_coupon .cpon_subscription_wrap .cpon .barcode {
  width: 16px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -20px;
  background: url(../images/guide/cpon_barcode.svg) no-repeat center center/cover;
}

.wel_coupon .live_btn {
  text-align: center;
  margin-top: 20px;
}

.wel_coupon .live_btn .btn_wel_live {
  font-weight: 500;
  letter-spacing: -0.018px;
  padding: 0 29px;
}

.wel_coupon .member_bnf_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 720px;
  margin: 0 auto;
}

.wel_coupon .member_bnf_list .membet_bnf_item {
  width: 160px;
  min-height: 100% !important;
}

.wel_coupon .member_bnf_list .membet_bnf_item .icon {
  width: 160px;
  height: 160px;
  margin-bottom: 15px;
  padding: 35px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.wel_coupon .member_bnf_list .membet_bnf_item .icon > img {
  height: 100%;
}

.wel_coupon .member_bnf_list .membet_bnf_item .bnf_name {
  text-align: center;
  line-height: 32px;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 4px;
  letter-spacing: -0.024px;
}

.wel_coupon .member_bnf_list .membet_bnf_item .bnf_amount {
  text-align: center;
  letter-spacing: -0.02px;
  font-size: 20px;
  line-height: 29px;
  color: #D4FF1A;
}

/***   wel_benefits   ***/
.wel_benefits {
  padding: 60px 0;
}

.wel_benefits.bg_color {
  background-color: #f7f7f7;
}

.wel_benefits .ht_tit_big02 {
  font-family: 'Gmarket Sans';
  line-height: 47px;
  margin-bottom: 19px;
  letter-spacing: -0.038px;
  font-weight: 500;
}

.benefits {
  width: 994px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits .benefit_item {
  width: 479px;
  padding: 34px 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px dotted #ccc;
}

.benefits .benefit_item:nth-of-type(1), .benefits .benefit_item:nth-of-type(2) {
  border-top: 1px solid;
}

.benefits .benefit_item:nth-of-type(2n + 1) {
  margin-right: 36px;
}

.benefits .benefit_item .icon {
  width: 50px;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.benefits .benefit_item .icon > img {
  width: 100%;
}

.benefits .benefit_item .info {
  margin-left: 25px;
}

.benefits .benefit_item .bnf_tit {
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.01em;
  font-weight: 700;
  margin-bottom: 5px;
  word-break: keep-all;
}

.benefits .benefit_item .bnf_sub {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.014px;
  color: #767676;
  word-break: keep-all;
}

.bnf_card_area_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-bottom: 30px;
}

.bnf_card {
  position: relative;
  width: 582px;
  min-height: 100% !important;
  background-color: #FF224E;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 40px 30px 30px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.bnf_card.ty01 {
  color: #fff;
  margin-right: 36px;
}

.bnf_card.ty01 .to_external {
  color: #fff;
}

.bnf_card.ty02 {
  background-color: #FFEB01;
}

.bnf_card.ty02 .to_external:before {
  border-color: #000;
}

.bnf_card.ty02 .bnf_card_foot {
  margin-top: 65px;
}

.bnf_card .card_tit {
  line-height: 35px;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 17px;
  word-break: keep-all;
  letter-spacing: -0.024px;
}

.bnf_card .to_external {
  position: relative;
  line-height: 26px;
  opacity: 0.8;
  font-size: 18px;
}

.bnf_card .to_external:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -10px;
  top: 6px;
}

.bnf_card .bnf_card_foot {
  margin-top: 76px;
  text-align: right;
}

.bnf_card .bnf_card_foot .company {
  font-family: 'Gmarket Sans';
  margin-bottom: 7px;
  line-height: 16px;
  letter-spacing: -0.014px;
}

.bnf_card .bnf_card_foot .alliance {
  display: inline-block;
  position: relative;
  top: 7px;
  padding-right: 22px;
  height: 22px;
  margin-left: -4px;
  margin-right: -4px;
  background: url(../images/guide/ico_bnf_alliance.svg) no-repeat center center/10px;
}

.bnf_card .bnf_card_foot .kind {
  line-height: 16px;
  font-family: 'Gmarket Sans';
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.014px;
}

.bnf_card .bnf_card_foot .bnf_card_ft_icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-left: 2px;
}

.bnf_card .bnf_card_foot .bnf_card_ft_icon:first-of-type {
  margin-left: 0;
}

.bnf_card .bnf_card_foot .bnf_card_ft_icon > img {
  width: 100%;
}

.bnf_card_area_btm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bnf_card_default {
  width: 376px;
  min-height: 100% !important;
  background-color: #fff;
  border-radius: 12px;
  position: relative;
}

.bnf_card_default:before {
  content: "";
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 12px;
  border: 2px solid;
  top: 0;
  left: 0;
}

.bnf_card_default .card_body {
  position: relative;
  height: 100%;
  padding: 40px 30px 0px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bnf_card_default .card_body .card_icon {
  position: absolute;
  width: 54px;
  height: 54px;
  right: 30px;
  top: 40px;
}

.bnf_card_default .card_body .card_icon > img {
  width: 100%;
}

.bnf_card_default .card_body .tit {
  min-height: 60px;
  padding-right: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  line-height: 30px;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Gmarket Sans';
  letter-spacing: -0.024px;
}

.bnf_card_default .card_body .cpon_desc {
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.016px;
  word-break: keep-all;
}

.bnf_card_default .card_body .external {
  padding: 0 0 40px;
  position: absolute;
  bottom: 0;
}

.bnf_card_default .card_body .external .to_external {
  position: relative;
  line-height: 19px;
  opacity: 0.8;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.014px;
}

.bnf_card_default .card_body .external .to_external:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: 4px;
  left: 100%;
  margin-left: 3px;
  border-top: 1px solid;
  border-right: 1px solid;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.bnf_card_default .card_body .new_bnf {
  border-top: 1px solid #EAEAEA;
  margin-top: 31px;
  padding: 19px 0 30px;
}

.bnf_card_default .card_body .new_bnf .only_app_icon {
  display: inline-block;
  position: relative;
  top: -1px;
  margin-right: 6px;
  line-height: 15px;
  background-color: #000;
  color: #fff;
  padding: 5px 12px 4px 12px;
  border-radius: 50px;
  font-size: 12px;
  letter-spacing: -0.012px;
}

.bnf_card_default .card_body .new_bnf .cpon_price {
  display: inline-block;
  letter-spacing: -0.02px;
  line-height: 30px;
  color: #DA2128;
  font-size: 20px;
  font-weight: 700;
}

.bnf_card_default .card_body .new_bnf .desc {
  display: block;
  margin-top: 4px;
  line-height: 22px;
  letter-spacing: -0.014px;
}

.bnf_card_default.ty_btm .card_body {
  height: auto;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.bnf_card_default .card_btm {
  padding: 14px 0;
  color: #fff;
  background-color: #292929;
  text-align: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top: none;
}

.bnf_card_default .card_btm .down_cpon {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
}

.bnf_card_default .card_btm .down_cpon:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 24px;
  left: -19px;
  top: -2px;
  background: url(../images/guide/ico_download_white.svg) no-repeat center/12px;
}

.bnf_card_default.disabled .new_bnf .only_app_icon {
  background-color: #D5D5D5;
}

.bnf_card_default.disabled .new_bnf .cpon_price {
  color: #D5D5D5;
}

.bnf_card_default.disabled .new_bnf .desc {
  color: rgba(0, 0, 0, 0.2);
}

.bnf_card_default.disabled .card_btm {
  background-color: #BEBEBE;
}

/***   wel_review   ***/
.wel_review {
  padding-top: 60px;
}

.wel_review .ht_tit_big02 {
  font-family: 'Gmarket Sans';
  line-height: 47px;
  margin-bottom: 29px;
  letter-spacing: -0.038px;
  font-weight: 500;
}

.wel_review .ht_tit_big02 img {
  width: 40px;
  margin-left: 7px;
}

.wel_review .rev_notice_tit {
  margin: 30px 0 13px;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.015px;
  font-weight: 700;
}

.review_bnf_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
  padding: 30px 0;
  border: 1px solid #EAEAEA;
  border-radius: 12px;
}

.review_bnf_list .bnf_item {
  width: calc(100% / 3);
  min-height: 100% !important;
  border-right: 1px dashed #EAEAEA;
}

.review_bnf_list .bnf_item .icon {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 13px;
}

.review_bnf_list .bnf_item .icon > img {
  width: 100%;
}

.review_bnf_list .bnf_item .point {
  text-align: center;
  line-height: 32px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: -0.024px;
}

.review_bnf_list .bnf_item .info {
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: -0.016px;
  color: #767676;
}

.review_bnf_list .bnf_item .info_sub {
  text-align: center;
  margin-top: 2px;
  line-height: 20px;
  letter-spacing: -0.014px;
  color: rgba(0, 0, 0, 0.3);
}

.review_bnf_desc_list {
  padding-bottom: 40px;
  border-bottom: 1px solid #EAEAEA;
}

.review_bnf_desc_list .bnf_desc {
  position: relative;
  line-height: 20px;
  color: #595959;
  letter-spacing: -0.014px;
  word-break: keep-all;
  margin-bottom: 8px;
  padding-left: 10px;
}

.review_bnf_desc_list .bnf_desc:last-of-type {
  margin-bottom: 0;
}

.review_bnf_desc_list .bnf_desc:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  left: 2px;
  top: 8px;
  background-color: #999;
}

.evt_slider_wrap.type_wel_evt .tit_gmarket {
  line-height: 30px;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.01em;
  font-family: 'Gmarket Sans';
}

.evt_slider_wrap.type_wel_evt .swap_eye {
  width: 32px;
  height: 32px;
  display: inline-block;
  position: relative;
  top: 8px;
  margin-left: 5px;
  background: url(../images/guide/ico_swap_eye.svg) no-repeat center/30px;
}

.evt_slider_wrap.type_wel_evt .evt_item {
  width: 335px;
}

.evt_slider_wrap.type_wel_evt .evt_item .img_wrap {
  padding-top: 57.3%;
}

/***   wel_reaction   ***/
.wel_reaction .ht_tit_big02 {
  font-family: 'Gmarket Sans';
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 23px;
}

.wel_reaction .ht_tit_big02 > img {
  width: 42px;
  margin-left: 5px;
  margin-top: -4px;
}

.icon3_banner .swiper-container {
  margin-left: -18px;
  padding-left: 18px;
}

.icon3_banner .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.icon3_banner .evt_list {
  margin: 0;
}

.icon3_banner .evt_list > li {
  margin: 0 36px 0 0;
}

.icon3_banner .evt_list > li:last-of-type {
  margin: 0;
}
