/***   HTR-P-CUS-MAIN   ***/
/***   HTR-P-CUS-MAIN   ***/
/***   HTR-P-CUS-INFO   ***/
.cus_view_upper {
  padding-bottom: 0;
}

.cus_view_upper .tab_txt {
  margin-bottom: 30px;
}

.info_text_box.cus_list_box {
  padding: 30px 40px 40px;
  border-radius: 12px;
}

.info_text_box.cus_list_box .ht_tit05 {
  margin-bottom: 10px;
}

.info_text_box.cus_list_box .point_line img {
  width: 18px;
  margin-top: -7px;
  margin-left: 2px;
}

.info_text_box.cus_list_box .point_line:before {
  height: 14px;
  top: 10px;
}

.info_text_box.cus_list_box .bul_list li {
  margin-top: 8px !important;
  line-height: 19px;
  font-size: 13px;
  color: #292929;
}

.info_text_box.cus_list_box .bul_list li strong {
  color: #000;
}

.info_text_box.cus_list_box .bul_list li .lighter {
  color: #767676;
}

.info_text_box.cus_list_box.letter {
  background: url(../images/guide/cus_font_box.png) no-repeat center/cover;
}

.info_text_box.cus_list_box.letter .point_line:before {
  background-color: #FFC09F;
}

.info_text_box.cus_list_box.package {
  background: url(../images/guide/cus_package_box.svg) no-repeat center/cover;
}

.info_text_box.cus_list_box.package .point_line:before {
  background-color: #FFE65C;
}

.info_text_box.cus_list_box.card {
  background: url(../images/guide/cus_card_box.svg) no-repeat center/cover;
}

.info_text_box.cus_list_box.card .point_line:before {
  background-color: #9AF8C2;
}

.cus_view_list {
  overflow: hidden;
}

.cus_view_list > .li {
  width: 482px;
  float: left;
  margin-top: 30px;
}

.cus_view_list > .li:nth-of-type(2n + 1) {
  margin-right: 30px;
}

.cus_view_box {
  padding: 29px 30px !important;
  border: 1px solid #EAEAEA;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.cus_view_box.ty02 {
  margin-top: 30px;
}

.cus_initials > li {
  margin-bottom: 15px;
  padding-bottom: 14px;
  border-bottom: 1px dashed #D5D5D5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cus_initials > li:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.cus_initials span {
  height: 24px;
  line-height: 24px;
  margin: 0;
}

.cus_initials span img {
  height: 100%;
}

.cus_package_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.cus_package_list > li {
  width: calc(100% / 3);
  height: 212px;
  line-height: 212px;
  border-right: 1px dashed #D5D5D5;
  border-bottom: 1px dashed #D5D5D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 42px;
  position: relative;
}

.cus_package_list > li:nth-of-type(3n) {
  border-right: none;
}

.cus_package_list > li:nth-last-of-type(-n + 3) {
  border-bottom: none;
}

.cus_package_list > li:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  right: -10px;
  bottom: -10px;
  z-index: 1;
}

.cus_package_list img {
  width: 100%;
}

.cus_card_area {
  margin-bottom: 40px;
}

.cus_card_area .ht_tit06 {
  margin-bottom: 20px;
  text-align: center;
}

.cus_card_area .cus_card_box {
  width: 315px;
  margin: 0 auto;
  border-radius: 14px;
  border: 1px solid #CCC;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

.cus_card_area .cus_card_box img {
  width: 100%;
}

.cus_card_area .btn_area {
  margin-top: 35px;
}

.cus_card_area .btn_area button {
  min-width: 164px;
}

.card_promotion tr th.center {
  padding: 20px 0 !important;
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
}

.card_promotion tr th.center strong {
  font-size: 13px;
  font-weight: 500;
  color: #000;
}

.card_promotion .align_left {
  padding: 19px 30px !important;
}

.card_promotion th:first-of-type, .card_promotion td:first-of-type {
  border-right: 1px solid #d5d5d5;
}

.card_promotion [class^=bul_item_] {
  font-size: 13px;
  color: #000;
}

.card_promotion [class^=bul_item_] em {
  font-size: 12px;
}

.cus_bul {
  margin: 15px 0 18px;
}

.cus_bul [class^=bul_item_] {
  line-height: 19px;
  font-size: 13px;
  color: #767676;
}

/***   HTR-P-CUS-INFO   ***/
