@charset "UTF-8";
/** 상단메뉴 : top_evt_area **/
.top_evt_area {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  margin: -20px 0 30px 0;
  padding: 20px 0 0 0;
  background: #fff;
  z-index: 10;
  overflow: hidden;
}

.top_evt_area .contents_inner {
  border-bottom: 1px solid #eaeaea;
}

.top_evt_area.ty02 {
  margin: 0;
  padding: 0;
}

.top_evt_area.ty02 .contents_inner {
  border-bottom: 0;
}

.top_evt_area.ty02 .tab_swiper.tab_ty {
  margin: 20px 0 20px 0;
}

/* prod_sort_wrap */
.prod_sort_wrap {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  z-index: 5;
}

.prod_sort_wrap.dep_top {
  padding-top: 20px;
}

.prod_sort_wrap .prod_ck_lists {
  float: left;
  margin: 8px 0;
}

.prod_sort_wrap .form_chk {
  margin-right: 14px;
}

.prod_sort_wrap .prod_type_selec_area {
  float: right;
}

.prod_sort_wrap .prod_type_selec_area .form_sel .ui-selectmenu-button {
  width: 135px;
  height: 38px;
}

.prod_sort_wrap .prod_type_selec_area .form_sel .ui-selectmenu-button .ui-selectmenu-text {
  height: 38px;
  line-height: 35px;
}

.prod_sort_wrap .prod_type_selec_area .form_sel .ui-selectmenu-button .ui-selectmenu-icon {
  top: 14px;
}

.prod_sort_wrap .prod_type_selec_area .list_view_type_btn {
  width: 38px;
  height: 38px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  background: url("../images/layout/ico_hamburger.svg") center/14px no-repeat;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.prod_sort_wrap .prod_type_selec_area .list_view_type_btn.row_view {
  background-image: url("../images/layout/ico_window.svg");
}

.prod_sort_wrap .period_sort {
  float: left;
  margin: 12px 20px 0 0;
  font-size: 14px;
}

.prod_sort_wrap .period_sort.ed {
  margin-right: 0;
}

.prod_sort_wrap .period_sort button {
  position: relative;
  margin-left: 13px;
  color: #595959;
}

.prod_sort_wrap .period_sort button:before {
  position: absolute;
  left: -10px;
  top: 6px;
  width: 1px;
  height: 7px;
  background-color: #eaeaea;
  content: "";
}

.prod_sort_wrap .period_sort button.active {
  color: #000;
  font-weight: 700;
}

.prod_sort_wrap .period_sort button:first-child {
  margin-left: 0;
}

.prod_sort_wrap .period_sort button:first-child:before {
  display: none;
}

/* .list_info_text_warp */
.list_info_text_warp {
  margin-bottom: 25px;
  padding-top: 20px;
  border-top: 1px solid #eaeaea;
  color: #595959;
}

/* Date Sort 영역 */
.date_select_warp {
  float: left;
  margin-top: 7px;
}

.date_select_warp button {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

/* 회색 배경 탭 : .tab_bg_gray */
.tab_bg_gray {
  position: relative;
  height: 74px;
  padding: 12px 0;
  background: #f7f7f7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tab_bg_gray:before {
  position: absolute;
  left: -300%;
  top: 0;
  width: 600%;
  height: 100%;
  background: #f7f7f7;
  content: "";
}

.tab_bg_gray .tab_swiper .swiper_control .swiper-button-prev:before,
.tab_bg_gray .tab_swiper .swiper_control .swiper-button-next:before {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(247, 247, 247, 0)), color-stop(60%, #f7f7f7));
  background: linear-gradient(to right, rgba(247, 247, 247, 0) 20%, #f7f7f7 60%);
}

/* .evt_menu */
.evt_menu {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  padding-bottom: 15px;
  margin-bottom: 0 !important;
}

.evt_menu .left_txt_sum {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #595959;
}

.evt_menu a:last-of-type:after {
  display: none;
}

/* 소팅메뉴 */
.sort_tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}

.sort_tab > a {
  position: relative;
  padding: 0 9px;
  font-size: 14px;
  color: #595959;
}

.sort_tab > a:last-of-type {
  padding-right: 0;
}

.sort_tab > a:after {
  content: '';
  display: block;
  background-color: #d5d5d5;
  width: 1px;
  height: 8px;
  position: absolute;
  right: -1px;
  top: 5px;
}

.sort_tab .active {
  font-weight: 500;
  color: #000;
}

/***** 이벤트&기획전 *****/
.evt_liar_area {
  position: relative;
}

.evt_liar_area .pagination {
  width: 1200px;
  margin: -20px auto 0 auto;
}

/** 마감임박 **/
.dead_line_wrap {
  background-color: #fff4f1;
}

/* deadline_bubble */
.deadline_bubble {
  display: inline-block;
  position: relative;
  right: 135px;
  top: -47px;
  padding: 14px 34px;
  background-color: #d4ff1a;
  border: 3px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
  text-align: left;
  color: #000;
  -webkit-animation: evtMsg both infinite 5s;
          animation: evtMsg both infinite 5s;
}

.deadline_bubble .txt {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  overflow: hidden;
}

.deadline_bubble .txt:before, .deadline_bubble .txt:after {
  display: block;
  position: absolute;
  top: 50%;
  width: 0;
  content: "";
}

.deadline_bubble .txt:after {
  right: -17px;
  margin-top: -8px;
  border-color: #000 transparent;
  border-style: solid;
  border-width: 0 14px 14px 7px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  z-index: 0;
}

.deadline_bubble .txt:before {
  right: -5px;
  margin-top: -12px;
  border-top: 12px solid transparent;
  border-right: 15px solid #d4ff1a;
  border-bottom: 12px solid transparent;
  border-left: 0 solid transparent;
  -webkit-transform: rotate(63deg);
          transform: rotate(63deg);
  z-index: 5;
}

.deadline_character_area {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  text-align: right;
  z-index: 1;
}

.deadline_character_area .deadline_character {
  position: absolute;
  right: 35px;
  top: -28px;
  width: 96px;
  height: 110px;
}

.deadline_character_area .deadline_character img {
  width: 100%;
}

@-webkit-keyframes evtMsg {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30%) scale(0.5);
            transform: translateX(30%) scale(0.5);
  }
  10% {
    opacity: 0;
    -webkit-transform: translateX(30%) scale(0.5);
            transform: translateX(30%) scale(0.5);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
  95% {
    opacity: 1;
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(30%) scale(0.5);
            transform: translateX(30%) scale(0.5);
  }
}

@keyframes evtMsg {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30%) scale(0.5);
            transform: translateX(30%) scale(0.5);
  }
  10% {
    opacity: 0;
    -webkit-transform: translateX(30%) scale(0.5);
            transform: translateX(30%) scale(0.5);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
  95% {
    opacity: 1;
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(30%) scale(0.5);
            transform: translateX(30%) scale(0.5);
  }
}

/** 반응최고 **/
.best_react_wrap {
  background-color: #e1f7e5;
}

.heart_emoji {
  width: 35px;
  height: 35px;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: -8px;
  background: url(../images/guide/heart_emoji.svg) no-repeat center/31px;
}

/** 오늘만 특가 **/
.hot_deal_wrap {
  position: relative;
}

.hot_deal_wrap .hotdeal_shine {
  width: 35px;
  height: 35px;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: -8px;
  background: url(../images/guide/hotdeal_shine.svg) no-repeat center/31px;
}

.hot_deal_wrap .timer_area {
  position: absolute;
  right: 0;
  top: -4px;
  z-index: 1;
  display: inline-block;
  padding: 14px 9px 9px 48px;
  background-color: #D4FF1A;
  border-radius: 35px;
}

.hot_deal_wrap .timer_area:before {
  content: "";
  width: 62px;
  height: 65px;
  position: absolute;
  left: 7px;
  top: -23px;
  z-index: 2;
  background: url(../images/guide/timer_bomb.svg) no-repeat center/61px;
}

.hot_deal_wrap .timer_area .timer {
  line-height: 23px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Gmarket Sans';
}

.mdl_wrap .hot_deal_wrap {
  padding: 60px 0;
}

.mdl_wrap .hot_deal_wrap .timer_area {
  top: 56px;
}

/* 이벤트 목록 없음 */
.no_evt_list_wrap {
  padding: 200px 0;
  position: relative;
  background: url(../images/guide/no_search_data_icon.svg) no-repeat center 40%/60px;
}

.no_evt_list_wrap .txt {
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.01em;
  font-size: 16px;
  color: #767676;
  margin-top: 25px;
}

/** 이벤트 당첨자 발표 **/
.evt_winner_list {
  position: relative;
  border-top: 1px solid #000;
}

.evt_winner_list.mt {
  margin-top: -30px;
}

.evt_winner_list .evt_winner_item {
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid #EAEAEA;
}

.evt_winner_list .list_num {
  width: 30px;
  float: left;
  margin-right: 10px;
  line-height: 19px;
  font-size: 13px;
  text-align: center;
}

.evt_winner_list .list_cate {
  width: 100px;
  float: left;
  margin-right: 10px;
  line-height: 19px;
  font-size: 13px;
  text-align: center;
  color: #767676;
}

.evt_winner_list .title {
  float: left;
  line-height: 19px;
}

.evt_winner_list .title.status_new {
  position: relative;
}

.evt_winner_list .title.status_new:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -25px;
  top: -1px;
  background: url(../images/guide/new_post.svg) no-repeat center center/18px;
}

.evt_winner_list .date {
  width: 65px;
  float: right;
  line-height: 19px;
  font-size: 13px;
  text-align: center;
  color: #767676;
  letter-spacing: -0.01em;
}

.evt_winner_list + .pagination {
  margin-top: -1px;
}

/* 당첨 결과 보기 */
.evt_description_title {
  padding: 24px 4px 20px 4px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #eaeaea;
}

.evt_description_title .category_area {
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #767676;
  margin-bottom: 10px;
}

.evt_description_title .list_title_area {
  font-weight: 700;
  line-height: 40px;
  font-size: 24px;
  letter-spacing: -0.01em;
}

.evt_description_title .list_date_area {
  margin-top: 5px;
  line-height: 19px;
  font-size: 14px;
  color: #767676;
  letter-spacing: -0.01em;
}

.evt_description_content {
  padding: 40px 4px;
  border-bottom: 1px solid #eaeaea;
  line-height: 22px;
}

.evt_description_content .category_area {
  line-height: 18px;
}

.evt_description_content .list_title_area {
  white-space: normal;
  font-weight: 700;
}

.evt_description_content .list_date_area {
  line-height: 19px;
}

.evt_description_content .evt_hr {
  display: block;
  width: 100%;
  height: 1px;
  border: none;
  border-top: 1px dashed #000;
  margin: 15px 0;
}

/*================================ 레이어 팝업 =============================*/
.dialog_wrapper .ui-dialog .dialog_wrap .dialog_header.evt_title_header {
  padding-bottom: 18px;
}

.dialog_wrapper .ui-dialog .dialog_wrap .dialog_contents.evt_pop_cotent {
  color: #595959;
  line-height: 22px;
  letter-spacing: -0.14px;
  text-align: center;
  margin: 0;
  padding: 32px 20px;
}

.dialog_wrapper .ui-dialog .dialog_wrap .dialog_contents.evt_cotent {
  margin: 0;
  padding: 48px 0 32px 0;
}

.dialog_wrapper .ui-dialog .dialog_wrap .dialog_contents.evt_cotent .evt_pop_img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.dialog_wrapper .ui-dialog .dialog_wrap .dialog_contents.evt_cotent .evt_pop_img img {
  max-width: 33%;
}

.dialog_wrapper .ui-dialog .dialog_wrap .dialog_contents.evt_cotent .sub_txt {
  width: 100%;
  margin-top: 12px;
  line-height: 19px;
  text-align: center;
  color: #595959;
}

.dialog_wrapper .ui-dialog .dialog_wrap .dialog_contents.evt_cotent .main_msg {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.2px;
}

.dialog_wrapper .ui-dialog .dialog_wrap .dialog_contents.evt_full_img {
  position: relative;
  min-width: 335px;
  height: 0;
  margin: 0;
  padding-top: 203px;
}

.dialog_wrapper .ui-dialog .dialog_wrap .dialog_contents.evt_full_img img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  right: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.dialog_wrapper .ui-dialog .dialog_wrap .dialog_footer.evt_pop_footer {
  margin: 0;
}

.dialog_wrapper .ui-dialog .dialog_wrap .dialog_footer.evt_pop_footer > .secondary {
  background-color: #d53020;
}

/*============================================ HTR-P-EVT-MDL.html ========================================*/
.mdl_contents_wrap {
  margin-top: 0;
}

.upper_wrap {
  margin-bottom: 60px;
}

.mdl_wrap {
  max-width: 1920px;
  margin: 0 auto;
}

.mdl_wrap .mdl_inner {
  width: 1200px;
  margin: 0 auto;
}

.mdl_wrap .evt_tit_bar {
  padding: 60px 0 40px;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
}

.mdl_wrap .mdl_full_img {
  width: 100%;
}

.mdl_wrap .devide_hr {
  display: block;
  width: 100%;
  padding-top: 60px;
  margin: 0;
  border: none;
  background-color: #F0F0F0;
}

.mdl001_wrap {
  position: relative;
  padding: 20px 0;
}

.mdl001_wrap .sub_tit {
  margin-bottom: 8px;
  line-height: 22px;
  letter-spacing: -1px;
  font-weight: 700;
  color: #767676;
}

.mdl001_wrap .period {
  padding: 3px 0 10px;
  line-height: 22px;
}

.mdl001_wrap .box_circle {
  position: absolute;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #DA2128;
  border-radius: 50%;
  color: #fff;
  top: 20px;
  right: 0;
  font-size: 16px;
  letter-spacing: -1px;
  font-weight: 700;
  z-index: 1;
}

.mdl001_wrap .btn_share {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 30px;
  right: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  margin-top: 0;
  background: url("../images/guide/btn_ht_share.svg") center/18px no-repeat;
}

.promotion_end {
  border: 1px solid red;
  position: relative;
  background-color: #fff;
  z-index: 10;
}

.promotion_end:before {
  content: "종료되었습니다.";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -1px;
  z-index: 5;
  text-align: center;
  padding-top: 48vh;
}

.mdl003_wrap {
  padding: 120px 0;
}

.mdl003_wrap .ht_tit {
  text-align: center;
  line-height: 44px;
  margin: 0;
  margin-bottom: 40px;
}

.mdl003_wrap .video_item {
  position: relative;
  width: 1200px;
  padding-top: 56.25%;
  overflow: hidden;
}

.mdl003_wrap .video_item .evt_video {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.wel_hero_banner .no_btn_all.swiper-pagination.swiper-pagination-fraction {
  padding-right: 20px !important;
}

.mdl_prod_wrap {
  padding: 60px 0;
}

.mdl_prod_wrap .evt_products {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.mdl_prod_banner .evt_products {
  margin: -40px 0 0 0;
}

.mdl_prod_banner .prod_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 40px 0 0 0;
}

.mdl_prod_banner .prod_item:nth-of-type(2n+1) {
  margin-right: 36px;
}

.mdl008_wrap {
  padding: 60px 0;
  text-align: center;
}

.mdl008_wrap .ht_tit {
  padding: 4px 0;
}

.mdl008_wrap .ht_tit:only-child {
  margin-bottom: 0;
}

.mdl008_wrap .sub_tit {
  margin-top: -11px;
  line-height: 24px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -1px;
  color: #767676;
  margin-bottom: 24px;
}

.mdl008_wrap .sub_tit:only-child {
  margin: 0;
}

.mdl008_wrap .sub_tit:last-child {
  margin-bottom: 0;
}

.mdl008_wrap .desc {
  letter-spacing: -1px;
  line-height: 22px;
}

.mdl009_wrap {
  margin: 0 auto;
  text-align: center;
  padding: 60px 0;
  max-width: 1920px;
}

.mdl009_wrap .btn_xlg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 377px;
  height: 68px;
  padding: 0 23px 1px;
  border-radius: 6px;
  font-family: "Noto Sans KR",sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -.01em;
}

.mdl009_wrap .mdl_img_btn {
  display: block;
  max-width: 377px;
  text-align: center;
  margin: 0 auto;
}

.mdl009_wrap img {
  width: 100%;
}

.evt_vote_wrap {
  padding: 0 38px;
}

.evt_vote_wrap .tit {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -1px;
}

.evt_vote_wrap .sub_tit {
  line-height: 19px;
  font-size: 13px;
  letter-spacing: -1px;
  color: #767676;
  margin-top: 5px;
}

.evt_vote_wrap .vote_cmt_box {
  margin-top: 30px;
}

.evt_vote_list {
  margin-top: 20px;
  overflow: hidden;
}

.evt_vote_list .vote_item {
  width: 226px;
  float: left;
  overflow: hidden;
  margin-top: 40px;
}

.evt_vote_list .vote_item:nth-of-type(2n) {
  margin-left: 30px;
}

.evt_vote_list .vote_item:nth-of-type(1), .evt_vote_list .vote_item:nth-of-type(2) {
  margin-top: 0;
}

.evt_vote_list .prod_pic {
  display: block;
  position: relative;
  height: 0;
  padding-top: 226px;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 12px;
}

.evt_vote_list .prod_pic > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.evt_vote_list .evt_vote_lb {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.evt_vote_list .evt_vote_lb:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  background: url("../images/guide/ico_checkbox.svg") no-repeat center/17px;
  background-color: #000;
  opacity: 0.3;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.evt_vote_list .evt_vote_lb:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 0;
  top: 0;
  z-index: 5;
  -webkit-transition: border-color .2s linear;
  transition: border-color .2s linear;
}

.evt_vote_list .evt_vote_radio {
  display: none;
}

.evt_vote_list .evt_vote_radio:checked + .evt_vote_lb:before {
  width: 40px;
  height: 40px;
  opacity: 1;
}

.evt_vote_list .evt_vote_radio:checked + .evt_vote_lb:after {
  border-color: black;
}

.evt_vote_list .prod_title {
  letter-spacing: -1px;
  line-height: 22px;
  min-height: 44px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: keep-all;
}

.cm_form_list {
  padding-bottom: 1px;
}

.cm_form_list .form_item {
  margin-bottom: 30px;
}

.cm_form_list .form_item:last-of-type {
  margin-bottom: 0;
}

.cm_form_list .cm_lb {
  margin-bottom: 10px;
  letter-spacing: -1px;
  line-height: 23px;
  font-size: 15px;
  display: block;
}

.mdl014_wrap {
  padding: 70px 0;
}

.mdl014_wrap .btn_md {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 40px;
  position: relative;
}

.mdl014_wrap .btn_md:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 44px;
  top: -3px;
  left: 20px;
  background: url("../images/guide/ico_pencil_yellow.svg") no-repeat center/21px;
}

.mdl014_wrap .btn_md.disabled:before {
  background: url("../images/guide/ico_pencil_white.svg") no-repeat center/21px;
}

.mdl014_wrap .cmt_info_area {
  margin-top: 40px;
  overflow: hidden;
}

.mdl014_wrap .cmt_info_area .cmt_total {
  float: left;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -1px;
}

.mdl014_wrap .cmt_info_area .count {
  color: #DA2128;
}

.mdl014_wrap .cmt_info_area .form_chk {
  float: right;
}

.mdl014_wrap .pagination {
  border-top: none;
}

.mdl014_wrap .cmt_emoji_list {
  margin-top: 10px;
  height: 24px;
  clear: both;
}

.mdl014_wrap .cmt_emoji_list .emoji {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}

.mdl014_wrap .cmt_emoji_list .emoji > img {
  width: 100%;
}

.mdl014_wrap .cmt_emoji_list .emoji.off {
  opacity: 0.2;
}

.mdl014_wrap .cmt_emoji_list .emoji.on:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mdl014_wrap .no_cmt_box {
  position: relative;
  margin-top: 20px;
  padding: 100px 0 60px;
  line-height: 19px;
  text-align: center;
  font-size: 13px;
  color: #767676;
  border-top: 1px solid;
  border-bottom: 1px solid #EAEAEA;
}

.mdl014_wrap .no_cmt_box:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -15px;
  background: url(../images/guide/no_search_data_icon.svg) no-repeat center/30px;
}

.cmt_box {
  padding: 12px 14px 0 14px;
  border: 1px solid #D5D5D5;
  border-radius: 6px;
  -webkit-transition: border-color .2s;
  transition: border-color .2s;
}

.cmt_box.on {
  border-color: #000;
}

.cmt_box .cmt_textarea {
  width: 100%;
  height: 70px;
  border: none;
  resize: none;
  color: #767676;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -1px;
  overflow-y: auto;
  outline: 0;
}

.cmt_box .btn_wrap {
  text-align: right;
}

.cmt_box .btn_wrap .count_line {
  margin-right: 6px;
}

.cmt_box .count_line {
  font-size: 12px;
  height: 36px;
  line-height: 36px;
  color: #767676;
  text-align: right;
}

.cmt_box .count {
  position: relative;
  padding-right: 8px;
  margin-right: 3px;
  color: #000;
  font-style: normal;
}

.cmt_box .count:before {
  content: "/";
  position: absolute;
  width: 5px;
  height: 38px;
  top: -12px;
  right: 0px;
}

.cmt_evt_list {
  border-top: 1px solid;
  margin-top: 20px;
}

.cmt_evt_list .cmt_upper {
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid #EAEAEA;
}

.cmt_evt_list .cmt_writer_info {
  margin-bottom: 15px;
}

.cmt_evt_list .upper_item {
  display: inline-block;
  line-height: 16px;
  position: relative;
  font-size: 12px;
  color: #767676;
  margin-right: 12px;
  cursor: pointer;
}

.cmt_evt_list .upper_item:before {
  content: "|";
  position: absolute;
  width: 16px;
  height: 16px;
  text-align: center;
  right: -16px;
  top: 0;
}

.cmt_evt_list .upper_item:last-of-type {
  margin-right: 0;
}

.cmt_evt_list .upper_item:last-of-type:before {
  display: none;
}

.cmt_evt_list .cmt_icon {
  width: 64px;
  height: 64px;
  border-radius: 6px;
  background-color: #F7F7F7;
  float: right;
  text-align: center;
  vertical-align: middle;
  line-height: 64px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -32px;
}

.cmt_evt_list .cmt_icon img {
  width: 32px;
}

.cmt_evt_list .cmt_icon + .cmt_title {
  padding-right: 124px;
}

.cmt_evt_list .cmt_title {
  line-height: 22px;
  letter-spacing: -1px;
}

.cmt_evt_list .cmt_box {
  margin-top: 20px;
}

.mdl015_wrap {
  position: relative;
}

.mdl015_wrap .mdl_sticky_mn {
  position: -webkit-sticky;
  position: sticky;
  top: 81px;
  background-color: #fff;
  z-index: 50;
}

.mdl015_wrap .anchor_target {
  padding: 60px 0;
}

.mdl015_wrap .ht_tit {
  text-align: center;
  line-height: 45px;
  margin-bottom: 40px;
}

.mdl017_wrap {
  overflow: hidden;
  padding: 60px 0;
}

.mdl017_wrap .mdl_017_list {
  overflow: hidden;
}

.mdl_017_card {
  background-color: #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  width: 400px;
  padding: 40px 90px 70px 40px;
}

.mdl_017_card:nth-of-type(2n+1) {
  background-color: #FAFAFA;
}

.mdl_017_card .discount {
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 30px;
  color: #DA2128;
  font-weight: 700;
}

.mdl_017_card .discount + .tit {
  margin-top: 0;
}

.mdl_017_card .tit {
  font-size: 20px;
  height: 60px;
  line-height: 30px;
  letter-spacing: -1px;
  font-weight: 700;
  margin-bottom: 12px;
  margin-top: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: keep-all;
}

.mdl_017_card .sub_tit {
  height: 42px;
  line-height: 21px;
  letter-spacing: -1px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: keep-all;
}
