@charset "UTF-8";
/*
    Join
*/
/*$imgUrl :"../images/";*/
/*$fontUrl :"http://image.kyobobook.co.kr/newimages/giftshop_new/resources/font/";*/
/***** 비회원 주문조회 *****/
body,
.wrapper {
  min-width: initial;
}

.ht_contents_wrap {
  text-align: center;
  height: 100vh;
  margin-top: 0;
}

.ht_contents_wrap .ht_join_wrap {
  max-width: 380px;
  margin: 0 auto;
  padding: 10.1% 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ht_contents_wrap .ht_join_wrap .ht_join_logo img {
  width: 94px;
}

.ht_contents_wrap .ht_join_wrap .join_text {
  margin-top: 64px;
}

.ht_contents_wrap .ht_join_wrap .join_text strong {
  font-size: 24px;
}

.ht_contents_wrap .ht_join_wrap .join_text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: #595959;
  margin-top: 11px;
}

.ht_contents_wrap .ht_join_wrap .ht_join_form {
  margin-top: 40px;
}

.ht_contents_wrap .ht_join_wrap .ht_join_form span:first-child {
  margin-top: 0;
}

.ht_contents_wrap .ht_join_wrap .ht_join_form > span {
  font-size: 15px;
  font-weight: 500;
  display: block;
  margin-top: 32px;
  text-align: left;
}

.ht_contents_wrap .ht_join_wrap .ht_join_form .form_sel {
  width: 100%;
  margin-top: 9px;
}

.ht_contents_wrap .ht_join_wrap .btn_area {
  margin-top: 15px;
}

.ht_contents_wrap .ht_join_wrap .btn_area button {
  width: 100%;
  font-weight: 700;
}

.ht_contents_wrap .ht_join_wrap .ht_join_info {
  font-size: 13px;
  color: #595959;
  background: #F7F7F7;
  padding: 22px 0 19px 0;
  margin-top: 30px;
  border-radius: 4px;
}

.ht_contents_wrap .ht_join_wrap .ht_join_info p {
  margin-top: 5px;
}

.ht_contents_wrap .copyright {
  position: absolute;
  bottom: 24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 11px;
}

@media (max-width: 375px) {
  .ht_contents_wrap {
    height: calc(100vh + 40px);
  }
  .ht_contents_wrap .ht_join_wrap {
    padding: 20px 20px 0;
  }
  .ht_contents_wrap .ht_join_wrap .ht_join_logo img {
    width: 78px;
  }
  .ht_contents_wrap .ht_join_wrap .join_text {
    margin-top: 43px;
  }
  .ht_contents_wrap .ht_join_wrap .join_text strong {
    font-size: 20px;
  }
  .ht_contents_wrap .ht_join_wrap .join_text p {
    font-size: 13px;
    line-height: 19px;
    margin-top: 8px;
  }
  .ht_contents_wrap .ht_join_wrap .ht_join_form {
    margin-top: 33px;
  }
  .ht_contents_wrap .ht_join_wrap .ht_join_form > span {
    font-size: 14px;
    margin-top: 22px;
  }
  .ht_contents_wrap .ht_join_wrap .ht_join_form .form_sel {
    margin-top: 7px;
  }
  .ht_contents_wrap .ht_join_wrap .ht_join_form .form_sel .form_ip {
    height: 50px;
  }
  .ht_contents_wrap .ht_join_wrap .ht_join_info {
    margin-top: 119px;
  }
  .ht_contents_wrap .ht_join_wrap .ht_join_info p {
    margin-top: 9px;
  }
  .ht_contents_wrap .copyright {
    bottom: 19px;
  }
}
