@charset "UTF-8";
/***** * 웰컴메인 * *****/
/*** 히어로 배너 : .wel_hero ***/
.wel_hero {
  position: relative;
  padding: 0;
}

/* wel_hero_banner */
.wel_hero_banner .option_box {
  display: none;
  position: absolute;
  right: calc(50% - 600px);
  bottom: 20px;
  z-index: 1;
}

.wel_hero_banner .option_box .btn_all {
  display: block;
  position: absolute;
  right: 5px;
  top: 0;
  width: 36px;
  height: 36px;
  background: url(../images/guide/ico_plus_w.svg) no-repeat 50%/11px;
  z-index: 10;
}

.wel_hero_banner .swiper-pagination.swiper-pagination-fraction {
  position: static;
  height: 36px;
  padding: 0 40px 0 20px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.wel_hero_banner .swiper-pagination.swiper-pagination-fraction .swiper-pagination-current,
.wel_hero_banner .swiper-pagination.swiper-pagination-fraction .swiper-pagination-total {
  font-size: 16px;
  line-height: 37px;
}

.wel_hero_banner .play_pause_box {
  margin-right: 4px;
}

.wel_hero_banner .play_pause_box [class^=btn_] {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.wel_hero_banner .play_pause_box .btn_play {
  background: rgba(0, 0, 0, 0.3) url(../images/guide/ico_play.svg) no-repeat 50%/8px;
}

.wel_hero_banner .play_pause_box .btn_pause {
  background: rgba(0, 0, 0, 0.3) url(../images/guide/ico_pause.svg) no-repeat 50%/6px;
}

.wel_hero_banner .play_pause_box.play .btn_play {
  display: none;
}

.wel_hero_banner .play_pause_box.play .btn_pause {
  display: block;
}

.wel_hero_banner .play_pause_box.pause .btn_play {
  display: block;
}

.wel_hero_banner .play_pause_box.pause .btn_pause {
  display: none;
}

.wel_hero_banner .swiper_control {
  position: static;
  margin: 0;
}

.wel_hero_banner .swiper_control .swiper-button-next,
.wel_hero_banner .swiper_control .swiper-button-prev {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  z-index: 10;
}

.wel_hero_banner .swiper_control .swiper-button-next {
  right: calc(50% - 670px);
  left: initial;
}

.wel_hero_banner .swiper_control .swiper-button-prev {
  left: calc(50% - 670px);
}

.wel_hero_banner .swiper-slide-active .hero_banner_box .txt .s1 span {
  -webkit-animation: txtTop both 0.4s 0.4s;
          animation: txtTop both 0.4s 0.4s;
}

.wel_hero_banner .swiper-slide-active .hero_banner_box .txt .s1 span:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.wel_hero_banner .swiper-slide-active .hero_banner_box .txt .s2 span {
  -webkit-animation: fade both 0.4s 0.8s;
          animation: fade both 0.4s 0.8s;
}

.wel_hero_banner .swiper-slide:first-child:nth-last-child(1) .hero_banner_box .txt .s1 span {
  -webkit-animation: txtTop both 0.4s 0.4s;
          animation: txtTop both 0.4s 0.4s;
}

.wel_hero_banner .swiper-slide:first-child:nth-last-child(1) .hero_banner_box .txt .s1 span:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.wel_hero_banner .swiper-slide:first-child:nth-last-child(1) .hero_banner_box .txt .s2 span {
  -webkit-animation: fade both 0.4s 0.8s;
          animation: fade both 0.4s 0.8s;
}

.hero_banner_box {
  position: relative;
  overflow: hidden;
}

.hero_banner_box a {
  display: block;
  position: relative;
}

.hero_banner_box .img {
  position: relative;
  width: 100%;
  height: 600px;
  background: #fff;
  overflow: hidden;
}

.hero_banner_box .img img {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 1920px;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero_banner_box .txt {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1200px;
  height: 100%;
  margin-left: -600px;
}

.hero_banner_box .txt ul {
  position: absolute;
  left: 30px;
  top: 50%;
  width: calc(100% - 60px);
  color: #fff;
  letter-spacing: -1px;
  -webkit-transform: translateY(-53%);
          transform: translateY(-53%);
}

.hero_banner_box .txt span {
  display: block;
  position: relative;
  opacity: 0;
}

.hero_banner_box .txt .s1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 64px;
}

.hero_banner_box .txt .s2 {
  margin-top: 14px;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  opacity: 0.8;
}

/* 히어로 팝업 */
.pop_hero {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

.pop_hero:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 120%;
  background: rgba(0, 0, 0, 0.5);
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.pop_hero.on {
  display: block;
}

.pop_hero.on:before {
  opacity: 1;
}

.pop_hero.on .pop_hero_cont {
  -webkit-animation: pop_hero_op both 0.5s 0.2s;
          animation: pop_hero_op both 0.5s 0.2s;
}

.pop_hero.off {
  display: block;
}

.pop_hero.off:before {
  opacity: 0;
}

.pop_hero.off .pop_hero_cont {
  -webkit-animation: pop_hero_cl both 0.5s 0s;
          animation: pop_hero_cl both 0.5s 0s;
}

.pop_hero_cont {
  position: absolute;
  left: 50%;
  top: 10vh;
  width: 860px;
  height: 100%;
  margin-left: -434px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pop_hero_inner {
  max-height: 80vh !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 15px !important;
}

.pop_hero_inner .hero_banner_box > li {
  margin-bottom: 10px;
  border-radius: 12px;
  overflow: hidden;
}

.pop_hero_inner .hero_banner_box > li:last-child {
  margin-bottom: 0;
}

.pop_hero_inner .hero_banner_box .img {
  height: 360px;
}

.pop_hero_inner .hero_banner_box .img img {
  height: 100%;
  max-width: auto;
}

.pop_hero_inner .hero_banner_box .txt {
  width: 850px;
  margin-left: -425px;
}

.pop_hero_inner .hero_banner_box .txt ul {
  left: 55px;
  width: calc(100% - 110px);
}

.pop_hero_inner .hero_banner_box .txt .s1 {
  font-size: 28px;
  line-height: 38px;
}

.pop_hero_inner .hero_banner_box .txt .s2 {
  margin-top: 20px;
  font-size: 14px;
  line-height: 22px;
}

.pop_hero_inner .txt span {
  display: block;
  position: relative;
  opacity: 1;
}

.btn_pop_hero_cl {
  position: absolute;
  right: -50px;
  top: 0;
  width: 36px;
  height: 36px;
  margin-left: -18px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn_pop_hero_cl span {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 19px;
  height: 19px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn_pop_hero_cl span:before {
  position: absolute;
  left: 9px;
  top: 0;
  width: 1px;
  height: 100%;
  background: #fff;
  content: "";
  z-index: 1;
}

.btn_pop_hero_cl span:after {
  position: absolute;
  left: 0;
  top: 9px;
  width: 100%;
  height: 1px;
  background: #fff;
  content: "";
  z-index: 1;
}

@-webkit-keyframes pop_hero_op {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pop_hero_op {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes pop_hero_cl {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
}

@keyframes pop_hero_cl {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
}

/*** 퀵메뉴 : wel_quick_menu ***/
.wel_quick_menu {
  padding-top: 40px;
}

/* wel_quick_menu_cont */
.wel_quick_menu_cont {
  position: relative;
  font-size: 0;
  text-align: center;
}

.wel_quick_menu_cont li {
  display: inline-block;
  position: relative;
  width: 120px;
  padding: 0 4px;
  vertical-align: top;
}

.wel_quick_menu_cont li:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 40px;
  margin-top: -20px;
  border-left: 1px dashed #eaeaea;
  content: "";
}

.wel_quick_menu_cont li:first-child:before {
  display: none;
}

.wel_quick_menu_cont li a {
  display: block;
  text-align: center;
}

.wel_quick_menu_cont li .ico {
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.wel_quick_menu_cont li .ico img {
  width: 60px;
  height: 60px;
}

.wel_quick_menu_cont li .txt {
  display: inline-block;
  position: relative;
  margin-top: 6px;
  color: #000;
  font-size: 16px;
  line-height: 19px;
}

.wel_quick_menu_cont li .marker {
  position: relative;
}

.wel_quick_menu_cont li .marker:after {
  position: absolute;
  right: -7px;
  top: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #da2128;
  content: "";
}

/***** * 음반메인 * *****/
/*** mus_tit_nav : 상단 탭 ***/
.mus_tit_nav {
  position: relative;
  margin-bottom: 30px;
  font-size: 0;
  text-align: center;
}

/* .mus_tit_nav_inner */
.mus_tit_nav_inner {
  display: inline-block;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 28px;
  vertical-align: top;
}

.mus_tit_nav_inner:before {
  position: absolute;
  left: 0;
  top: -1px;
  width: 155px;
  height: calc(100% + 1px);
  background-color: #000;
  border-radius: 50px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: left .1s ease-in-out;
  transition: left .1s ease-in-out;
  content: "";
}

.mus_tit_nav_inner a {
  display: inline-block;
  position: relative;
  width: 155px;
  height: 54px;
  color: #595959;
  font-size: 20px;
  font-weight: 500;
  line-height: 54px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  letter-spacing: -1px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.mus_tit_nav_inner a span {
  position: relative;
  padding-left: 0;
}

.mus_tit_nav_inner a span:before {
  position: absolute;
  left: 0;
  top: -3px;
  width: 30px;
  height: 30px;
  background: center/30px no-repeat;
  content: "";
  opacity: 0;
}

.mus_tit_nav_inner a.active {
  color: #fff;
}

.mus_tit_nav_inner a.active span {
  position: relative;
  padding-left: 38px;
}

.mus_tit_nav_inner a.active span:before {
  opacity: 1;
}

.mus_tit_nav_inner a:nth-child(1) span:before {
  background-image: url("../images/main/ico_mus_main_t01.svg");
}

.mus_tit_nav_inner a:nth-child(2) span:before {
  background-image: url("../images/main/ico_mus_main_t02.svg");
}

.mus_tit_nav_inner a:nth-child(3) span:before {
  background-image: url("../images/main/ico_mus_main_t03.svg");
}

.mus_tit_nav_inner.active0:before {
  left: 0;
}

.mus_tit_nav_inner.active1:before {
  left: calc(100% / 3);
}

.mus_tit_nav_inner.active2:before {
  left: calc((100% / 3 ) * 2);
}

/*** 예약상품 : .mus_mc_reserved ***/
.mus_mc_reserved .contents_inner {
  width: 100%;
  overflow: hidden;
  max-width: 1800px;
}

.mus_mc_reserved .ht_tit_big02 img {
  position: relative;
  top: -5px;
  height: 44px;
  margin-left: 5px;
}

/* .mus_mc_reserved_cont */
.mus_mc_reserved_cont {
  position: relative;
  margin: -100px auto 0 auto;
  width: 1540px;
}

.mus_mc_reserved_cont .star_fade_in img:nth-child(1) {
  position: absolute;
  right: 50%;
  top: 0;
  margin-right: -300px;
}

.mus_mc_reserved_cont .star_fade_in img:nth-child(2) {
  position: absolute;
  left: 50%;
  bottom: 90px;
  margin-left: -290px;
}

.mus_mc_reserved_cont .swiper-container {
  padding-top: 100px;
  overflow: inherit;
}

.mus_mc_reserved_cont .swiper-wrapper {
  margin-left: -178px;
}

.mus_mc_reserved_cont .swiper-slide {
  width: auto;
}

.mus_mc_reserved_cont .swiper-slide.swiper-slide-active {
  width: 604px !important;
  z-index: 2;
}

.mus_mc_reserved_cont .swiper-slide.swiper-slide-active .product_pic {
  margin-left: 148px;
}

.mus_mc_reserved_cont .swiper-slide.swiper-slide-active .product_pic:before {
  border-width: 3px;
}

.mus_mc_reserved_cont .swiper-slide.swiper-slide-active.zoom_in .product_pic {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.mus_mc_reserved_cont .swiper-slide.swiper-slide-active.zoom_in .product_info {
  width: 368px;
  margin-left: 148px;
  opacity: 1;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.mus_mc_reserved_cont .swiper-slide.swiper-slide-active.zoom_in .circle_txt {
  opacity: 1;
}

.mus_mc_reserved_cont .swiper-slide.swiper-slide-active.zoom_in .circle_txt div {
  -webkit-animation-name: rotate_txt, rotate_txt_loop;
          animation-name: rotate_txt, rotate_txt_loop;
  -webkit-animation-fill-mode: forwards, forwards;
          animation-fill-mode: forwards, forwards;
  -webkit-animation-delay: 0.1s, 1.5s;
          animation-delay: 0.1s, 1.5s;
  -webkit-animation-duration: 1.5s, 10s;
          animation-duration: 1.5s, 10s;
  -webkit-animation-timing-function: ease-in-out, linear;
          animation-timing-function: ease-in-out, linear;
  -webkit-animation-iteration-count: 1, infinite;
          animation-iteration-count: 1, infinite;
  -webkit-animation-direction: none;
          animation-direction: none;
}

.mus_mc_reserved_cont a {
  display: block;
}

.mus_mc_reserved_cont .product_pic {
  position: relative;
  width: 368px;
  height: 368px;
  padding: 0;
  margin: 0 auto;
  background: #f7f7f7;
  border-radius: 12px;
  -webkit-transform: scale(0.74);
          transform: scale(0.74);
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.4s 0s;
  transition: -webkit-transform 0.4s 0s;
  transition: transform 0.4s 0s;
  transition: transform 0.4s 0s, -webkit-transform 0.4s 0s;
}

.mus_mc_reserved_cont .product_pic img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mus_mc_reserved_cont .product_pic:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #000;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  z-index: 1;
}

.mus_mc_reserved_cont .product_info {
  position: relative;
  margin-top: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.6s 0s;
  transition: opacity 0.6s 0s;
}

.mus_mc_reserved_cont .product_info .s1 {
  color: #595959;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mus_mc_reserved_cont .product_info .s2 {
  margin-top: 2px;
  color: #000;
  font-size: 18px;
  margin-top: 6px;
  font-weight: 500;
  line-height: 26px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mus_mc_reserved_cont .product_info .badge_line {
  margin-top: 8px;
}

.mus_mc_reserved_cont .circle_txt {
  position: absolute;
  right: -160px;
  top: -15px;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  -webkit-text-stroke: 0.2mm #000;
  text-stroke: 0.2mm #000;
  letter-spacing: -2px;
  z-index: 3;
  opacity: 0;
}

.mus_mc_reserved_cont .circle_txt div {
  position: relative;
  opacity: 0;
}

.mus_mc_reserved_cont .circle_txt span:last-child {
  opacity: 0;
}

.mus_mc_reserved_cont .swiper_control {
  position: static;
}

.mus_mc_reserved_cont .swiper_control .swiper-pagination {
  height: 14px !important;
  line-height: 14px !important;
}

.mus_mc_reserved_cont .swiper_control .swiper-pagination span {
  line-height: 14px !important;
}

.mus_mc_reserved_cont .swiper_control .swiper-button-prev,
.mus_mc_reserved_cont .swiper_control .swiper-button-next {
  position: absolute;
  top: 262px;
  z-index: 2;
}

.mus_mc_reserved_cont .swiper_control .swiper-button-prev {
  left: 496px;
}

.mus_mc_reserved_cont .swiper_control .swiper-button-next {
  left: 1000px;
}

@-webkit-keyframes rotate_txt_loop {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes rotate_txt_loop {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

@-webkit-keyframes rotate_txt {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes rotate_txt {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

/* btn_mc_more */
.btn_mc_more {
  position: absolute;
  right: 50%;
  top: 0;
  width: 36px;
  height: 36px;
  margin-right: -600px;
}

.btn_mc_more span {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25px;
  height: 25px;
  margin: -12px 0 0 -12px;
}

.btn_mc_more span:before {
  position: absolute;
  left: 0;
  top: 11px;
  width: 100%;
  height: 3px;
  background: #000;
  content: "";
}

.btn_mc_more span:after {
  position: absolute;
  left: 11px;
  top: 0;
  width: 3px;
  height: 100%;
  background: #000;
  content: "";
}

/*** 주문 내역 : .mus_mc_order ***/
.mus_mc_order {
  padding: 45px 0;
  background: #000;
}

.mus_mc_order .btn_more_view_box {
  background: none !important;
}

.mus_mc_order .btn_more_view_box strong {
  color: #fff;
}

.mus_mc_order .btn_more_view_box strong em:after {
  border-color: #fff !important;
}

/* .mus_mc_order_cont */
.mus_mc_order_cont {
  position: relative;
  width: 800px;
  margin: 0 auto;
}

.mus_mc_order_cont .swiper-slide {
  width: 800px;
  margin-right: 20px;
}

.mus_mc_order_cont .swiper-slide:last-child {
  margin-right: 0;
}

.mus_mc_order_cont a {
  display: block;
  position: relative;
}

.mus_mc_order_cont .swiper_control {
  position: static;
  margin-top: 0;
}

.mus_mc_order_cont .swiper_control .swiper-button-prev,
.mus_mc_order_cont .swiper_control .swiper-button-next {
  position: absolute;
  top: 50%;
  margin-top: -22px;
}

.mus_mc_order_cont .swiper_control .swiper-button-prev:after,
.mus_mc_order_cont .swiper_control .swiper-button-next:after {
  background: #000 url("../images/guide/btn_banner_pagn_w.svg") center no-repeat;
  border-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.mus_mc_order_cont .swiper_control .swiper-button-prev:hover:after,
.mus_mc_order_cont .swiper_control .swiper-button-next:hover:after {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.8);
}

.mus_mc_order_cont .swiper_control .swiper-button-prev {
  left: -114px;
}

.mus_mc_order_cont .swiper_control .swiper-button-next {
  left: 870px;
}

/* .mus_mc_order_box */
.mus_mc_order_box {
  position: relative;
  height: 200px;
  padding: 25px 40px;
  background: #c6fe00;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mus_mc_order_box .img {
  position: absolute;
  left: 40px;
  top: 25px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #f7f7f7;
  overflow: hidden;
}

.mus_mc_order_box .img img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mus_mc_order_box .img:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  z-index: 2;
}

.mus_mc_order_box .img .t1 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  color: #fff;
  text-align: center;
  z-index: 3;
}

.mus_mc_order_box .img .t1 strong {
  display: block;
  width: 100%;
  font-family: 'Gmarket Sans';
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -2px;
}

.mus_mc_order_box .img .t1 span {
  display: block;
  margin-top: -2px;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.mus_mc_order_box .txt {
  position: relative;
  margin-left: 190px;
  padding-top: 5px;
}

.mus_mc_order_box .txt li {
  position: relative;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mus_mc_order_box .txt .s1 {
  margin-top: 3px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.mus_mc_order_box .txt .s2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.mus_mc_order_box .txt .s3 {
  margin-top: 10px;
}

.mus_mc_order_box .txt .bar {
  position: relative;
  height: 35px;
  margin-top: 5px;
}

.mus_mc_order_box .txt .bar p {
  position: absolute;
  left: 0;
  top: 14px;
  width: 405px;
  height: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.mus_mc_order_box .txt .bar p span {
  position: absolute;
  left: 0;
  top: 0;
  height: 10px;
  background: #000;
  border-radius: 5px;
}

.mus_mc_order_box .txt .bar p span:after {
  position: absolute;
  right: -6px;
  top: -11px;
  width: 15px;
  height: 31px;
  background: url("../images/main/ico_mus_mc_order.svg") center/100% no-repeat;
  content: "";
}

.mus_mc_order_box .txt .bar strong {
  position: absolute;
  left: 428px;
  top: 10px;
}

.swiper-slide-active .txt .bar span {
  -webkit-animation: mus_mc_order_box both 1.6s 1s;
          animation: mus_mc_order_box both 1.6s 1s;
}

@-webkit-keyframes mus_mc_order_box {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes mus_mc_order_box {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

/*** 실시간 차트 : .mus_mc_chart ***/
.mus_mc_chart .ht_tit_big02 img {
  display: inline-block;
  height: 20px;
  margin: 4px 4px 0 4px;
  vertical-align: top;
  height: 39px;
  margin: 0px 4px 0 4px;
}

/* .mus_mc_chart_cont */
.mus_mc_chart_cont {
  position: relative;
}

.mus_mc_chart_cont .li {
  display: block;
  width: 100%;
  position: relative;
  min-height: 80px;
  padding-bottom: 25px;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.mus_mc_chart_cont .li:last-child {
  padding-bottom: 0;
}

.mus_mc_chart_cont .img {
  position: absolute;
  left: 80px;
  top: 0;
  width: 80px;
  height: 80px;
  background: #f7f7f7;
  border-radius: 6px;
  overflow: hidden;
  -webkit-animation: fade both 0.4s;
          animation: fade both 0.4s;
}

.mus_mc_chart_cont .img img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mus_mc_chart_cont .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 80px;
  padding: 0 300px 0 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mus_mc_chart_cont .txt .s1 {
  position: absolute;
  right: 0;
  top: 50%;
  width: 300px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: right;
}

.mus_mc_chart_cont .txt .s2 {
  width: 100%;
  color: #000;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
}

.mus_mc_chart_cont .txt .s3 {
  display: none;
  width: 100%;
  margin-top: 12px;
  font-size: 0;
  font-weight: 700;
  line-height: 18px;
  -webkit-animation: fade both 0.4s;
          animation: fade both 0.4s;
}

.mus_mc_chart_cont .txt .s3 strong {
  padding-right: 4px;
  color: #da2128;
  font-size: 16px;
}

.mus_mc_chart_cont .txt .s3 span {
  padding-right: 4px;
  font-size: 16px;
}

.mus_mc_chart_cont .txt .s3 em {
  display: inline-block;
  color: #767676;
  font-size: 11px;
  text-decoration: line-through;
}

.mus_mc_chart_cont .txt .ico_marker_area {
  display: none;
  width: 100%;
  -webkit-animation: fade both 0.4s;
          animation: fade both 0.4s;
}

.mus_mc_chart_cont .txt .ico_marker_area .badge_line {
  margin-top: 8px;
}

.mus_mc_chart_cont .txt .ico_marker_area .badge_line .badge {
  border: 1px solid #d5d5d5;
}

.mus_mc_chart_cont .txt .ico_marker_area .badge_line .badge.on {
  border-color: #da2128;
}

.mus_mc_chart_cont .rank_txt {
  position: absolute;
  left: 10px;
  top: 17px;
  width: 50px;
  height: 50px;
  color: #000;
  text-align: center;
}

.mus_mc_chart_cont .rank_txt .num {
  display: block;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  padding-top: 8px;
}

.mus_mc_chart_cont .rank_txt .fluctuation {
  display: inline-block;
  position: relative;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

.mus_mc_chart_cont .rank_txt .fluctuation.new {
  color: #fc3f4b;
}

.mus_mc_chart_cont .rank_txt .fluctuation.up:before {
  display: inline-block;
  margin: 1px 2px 0 0;
  color: #fc3f4b;
  font-size: 10px;
  content: '▲';
  vertical-align: top;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.mus_mc_chart_cont .rank_txt .fluctuation.down:before {
  display: inline-block;
  margin: 0 2px 0 0;
  color: #000;
  font-size: 10px;
  content: '▼';
  vertical-align: top;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.mus_mc_chart_cont .active {
  min-height: 240px;
  background: #eee;
  margin-bottom: 25px;
  padding-bottom: 0;
  background: url("../images/main/mus_main_rank_active.jpg") center/cover no-repeat;
}

.mus_mc_chart_cont .active:last-child {
  margin-bottom: 0;
}

.mus_mc_chart_cont .active .contents_inner {
  padding: 30px 0;
}

.mus_mc_chart_cont .active .img {
  top: 30px;
  width: 180px;
  height: 180px;
}

.mus_mc_chart_cont .active .txt {
  min-height: 180px;
  padding: 0 300px;
}

.mus_mc_chart_cont .active .txt .s3 {
  display: block;
}

.mus_mc_chart_cont .active .txt .ico_marker_area {
  display: block;
}

.mus_mc_chart_cont .active .rank_txt {
  top: 50%;
  background: url("../images/guide/lank_hot.svg") center/50px no-repeat;
  color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mus_mc_chart_cont .active .fluctuation {
  top: -5px;
  color: #fff;
}

.mus_mc_chart_cont .active .fluctuation.new {
  color: #fff;
}

.mus_mc_chart_cont .active .fluctuation.up:before {
  color: #fff;
}

.mus_mc_chart_cont .active .fluctuation.down:before {
  color: #fff;
}

.mus_mc_chart_cont .btn_chart_view {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/*** 회원 추천 : .mus_mc_memb ***/
.mus_mc_memb {
  background: #e1f7e5;
}

.mus_mc_memb .ht_tit_big02 {
  margin-bottom: 95px;
}

.mus_mc_memb .btn_more_view_box {
  border: 0;
}

.mus_mc_memb .product_info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.mus_mc_memb .product_info .product_info_inner {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  padding: 10px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.mus_mc_memb .product_info .company,
.mus_mc_memb .product_info .title,
.mus_mc_memb .product_info .price_line,
.mus_mc_memb .product_info .discount_rate,
.mus_mc_memb .product_info .price_origin {
  color: #fff;
}

.mus_mc_memb .product_info .price_origin {
  font-size: 15px;
}

.mus_mc_memb .prod_item:hover .product_info {
  opacity: 1;
}

.mus_mc_memb .prod_item:hover .product_info .product_info_inner {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* mus_mc_memb_msg */
.mus_mc_memb_msg {
  position: absolute;
  left: 50%;
  top: 57px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.mus_mc_memb_msg p {
  position: relative;
  right: 11px;
  top: 0;
  background: #d4ff1a;
  border: solid #000;
  border-width: 2px 3px 3px 2px;
  border-radius: 30px;
  color: #000;
  font-weight: 500;
  line-height: 18px;
  -webkit-animation: musMembMsg both infinite 5s;
          animation: musMembMsg both infinite 5s;
  font-size: 15px;
  padding: 15px 21px 13px 27px;
}

.mus_mc_memb_msg p:before {
  position: absolute;
  left: 50%;
  top: -8px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #000;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  content: "";
  z-index: 2;
}

.mus_mc_memb_msg p:after {
  position: absolute;
  left: 50%;
  top: -5px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #d4ff1a;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  content: "";
  z-index: 2;
}

.mus_mc_memb_msg p em {
  display: inline-block;
  width: 16px;
  height: 17px;
  margin-left: 4px;
  background: url("../../mok/images/main/ico_mus_mc_memb_msg.svg") center/100% no-repeat;
  vertical-align: top;
}

@-webkit-keyframes musMembMsg {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%) scale(0.6);
            transform: translateY(50%) scale(0.6);
  }
  10% {
    opacity: 0;
    -webkit-transform: translateY(50%) scale(0.6);
            transform: translateY(50%) scale(0.6);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0%) scale(1);
            transform: translateY(0%) scale(1);
  }
  95% {
    opacity: 1;
    -webkit-transform: translateY(0%) scale(1);
            transform: translateY(0%) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(50%) scale(0.6);
            transform: translateY(50%) scale(0.6);
  }
}

@keyframes musMembMsg {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%) scale(0.6);
            transform: translateY(50%) scale(0.6);
  }
  10% {
    opacity: 0;
    -webkit-transform: translateY(50%) scale(0.6);
            transform: translateY(50%) scale(0.6);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0%) scale(1);
            transform: translateY(0%) scale(1);
  }
  95% {
    opacity: 1;
    -webkit-transform: translateY(0%) scale(1);
            transform: translateY(0%) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(50%) scale(0.6);
            transform: translateY(50%) scale(0.6);
  }
}

/*** 새로 나온 음반 : .mus_mc_new_album ***/
.mus_mc_new_album {
  overflow: hidden;
}

.mus_mc_new_album .ht_tit_big02 img {
  height: 58px;
  margin-top: -12px;
}

/* mus_mc_new_album_cont */
.mus_mc_new_album_cont {
  margin: 0;
}

.mus_mc_new_album_cont .swiper-wrapper {
  margin-bottom: 28px;
}

.mus_mc_new_album_cont .swiper-wrapper .swiper-slide {
  width: 33.3%;
}

.mus_mc_new_album_cont .swiper-wrapper .swiper-slide .evt_products {
  margin: -40px -18px 0 -0;
}

.mus_mc_new_album_cont .swiper-wrapper .swiper-slide .evt_products.row_dir .prod_item {
  width: 100%;
}

.mus_mc_new_album_cont .swiper-wrapper .swiper-slide .evt_products.row_dir .prod_item .product_pic {
  width: 151px;
  padding-top: 150px;
  float: left;
}

.mus_mc_new_album_cont .swiper-wrapper .swiper-slide .evt_products.row_dir .prod_item .product_info {
  float: left;
  width: calc(100% - 216px);
  margin-top: 0;
}

.mus_mc_new_album_cont .swiper-wrapper .swiper-slide .evt_products.row_dir .prod_item .product_info .company {
  margin-bottom: 4px;
}

.mus_mc_new_album_cont .swiper-wrapper .swiper-slide .evt_products.row_dir .prod_item .product_info .title {
  line-height: 26px;
}

.mus_mc_new_album_cont .swiper-wrapper .swiper-slide .evt_products.row_dir .prod_item .product_info .price_line {
  margin: 4px 0 -8px;
  font-size: 20px;
}

.mus_mc_new_album_cont .swiper-wrapper .swiper-slide .evt_products.row_dir .prod_item .product_info .price_line span {
  font-size: 14px;
}

.mus_mc_new_album_cont .swiper-wrapper .swiper-slide .evt_products.row_dir .prod_item .product_info .price_line span.price_origin {
  font-size: 14px;
}

.mus_mc_new_album_cont .swiper-wrapper .swiper-slide:nth-child(n+4) {
  margin-top: 0px;
}

.mus_mc_new_album_cont .swiper-wrapper.list_lenght_warp {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mus_mc_new_album_cont .swiper-wrapper.list_lenght_warp .swiper-slide:nth-child(n+4) {
  margin-top: 30px;
}

/*** 팬사인회 소식 :.mus_mc_fan ***/
.mus_mc_fan {
  background: #000;
  overflow: hidden;
}

.mus_mc_fan .ht_tit_big02 {
  color: #fff;
}

.mus_mc_fan .ht_tit_big02 img {
  height: 25px;
  margin-left: 10px;
}

.mus_mc_fan .swiper-container {
  width: calc(68.5% + 36px);
  margin: 0 auto;
  position: initial;
  padding-top: 80px;
}

.mus_mc_fan .swiper-container .swiper-slide {
  width: 850px !important;
  margin: 0 18px 0 18px;
  padding: 11px 19px 11px 11px;
  border: 3px solid rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mus_mc_fan .product_pic {
  width: 45.74%;
  padding-top: 45.74%;
  float: left;
}

.mus_mc_fan .product_pic a:after {
  border: 0;
}

.mus_mc_fan .product_info {
  width: 51%;
  float: left;
  margin-left: 2%;
  position: absolute;
  right: 1%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: initial;
}

.mus_mc_fan .product_info .title {
  font-size: 24px;
  color: #fff;
  line-height: 36px;
  -webkit-line-clamp: 8;
}

.mus_mc_fan .product_info .date {
  color: #EAEAEA;
  font-size: 16px;
  margin-top: 16px;
}

.mus_mc_fan .swiper-container-horizontal .swiper_control {
  position: initial;
}

.mus_mc_fan .swiper-container-horizontal .swiper_control .swiper-button-next {
  right: 69px;
  left: initial;
  top: 45%;
  position: absolute;
  background: #000;
  border: 0;
}

.mus_mc_fan .swiper-container-horizontal .swiper_control .swiper-button-prev {
  left: 69px;
  top: 47%;
  position: absolute;
  background: #000;
  border: 0;
}

.mus_mc_fan .swiper-container-horizontal .swiper_control .swiper-pagination-current {
  color: #fff !important;
  font-weight: 700 !important;
}

.mus_mc_fan .swiper-container-horizontal .swiper_control .swiper-button-next:hover:after, .mus_mc_fan .swiper-container-horizontal .swiper_control .swiper-button-prev:hover:after {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.8);
}

.mus_mc_fan .swiper-container-horizontal .swiper_control .swiper-button-next:after, .mus_mc_fan .swiper-container-horizontal .swiper_control .swiper-button-prev:after {
  background: #000 url(../images/guide/btn_banner_pagn_w.svg) center no-repeat;
  border-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.mus_mc_fan .mus_mc_fan_cont .swiper-pagination.swiper-pagination-fraction .swiper-pagination-total:before {
  color: #767676 !important;
}

.mus_mc_fan .mus_mc_fan_cont .swiper-pagination.swiper-pagination-fraction span {
  font-size: 12px;
}

.mus_mc_fan .mus_mc_fan_cont .swiper-slide:after {
  background: url(../images/main/ico_mus_mc_fan_cont_ink.svg) center/100% no-repeat;
  right: -6px;
  bottom: 345px;
  width: 200px;
  height: 130px;
}

.mus_mc_fan .mus_mc_fan_cont a {
  position: initial;
}

.mus_mc_fan .mus_mc_fan_bg_images > img {
  position: absolute;
  z-index: 1;
}

.mus_mc_fan .mus_mc_fan_bg_images > img:nth-child(1) {
  top: 123px;
  left: 115px;
}

.mus_mc_fan .mus_mc_fan_bg_images > img:nth-child(2) {
  bottom: 112px;
  right: 130px;
}

/* mus_mc_fan_cont */
.mus_mc_fan_cont {
  position: relative;
  margin: -72px -20px -10px -20px;
}

.mus_mc_fan_cont .swiper-slide {
  width: 72%;
  margin: 0 0 30px 20px;
}

.mus_mc_fan_cont .swiper-slide:after {
  position: absolute;
  right: -58px;
  bottom: 98px;
  width: 118px;
  height: 80px;
  background: url("../images/main/ico_mus_mc_fan_cont.svg") center/100% no-repeat;
  content: "";
  opacity: 0;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  -webkit-transition: all 0.4s 0s;
  transition: all 0.4s 0s;
}

.mus_mc_fan_cont .swiper-slide:last-child {
  margin-right: calc(28% - 20px);
}

.mus_mc_fan_cont .swiper-slide.swiper-slide-active {
  z-index: 2;
}

.mus_mc_fan_cont .swiper-slide.swiper-slide-active:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.mus_mc_fan_cont .swiper-pagination.swiper-pagination-fraction {
  left: auto;
  bottom: -5px;
  min-width: 100%;
  background: none;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.mus_mc_fan_cont .swiper-pagination.swiper-pagination-fraction .swiper-pagination-current {
  color: #000;
}

.mus_mc_fan_cont .swiper-pagination.swiper-pagination-fraction .swiper-pagination-total {
  color: rgba(0, 0, 0, 0.6);
}

.mus_mc_fan_cont .swiper-pagination.swiper-pagination-fraction .swiper-pagination-total:before {
  color: rgba(0, 0, 0, 0.6);
}

.mus_mc_fan_cont a {
  display: block;
  position: relative;
}

/* mus_mc_fan_box */
.mus_mc_fan_box {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.mus_mc_fan_box .img {
  position: relative;
  height: 0;
  padding-top: 100%;
  background: #f7f7f7;
  overflow: hidden;
}

.mus_mc_fan_box .img img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mus_mc_fan_box .txt {
  position: relative;
  height: 110px;
  padding: 18px 20px;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.mus_mc_fan_box .txt .s1 {
  display: -webkit-box;
  min-height: 44px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.5px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.mus_mc_fan_box .txt .s2 {
  margin-top: 10px;
  color: #595959;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mus_mc_fan_box:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
}

/*** 영통팬사 준비 : .mus_mc_fansign ***/
/* .mus_mc_fansign */
.mus_mc_fansign {
  padding: 40px 0;
  background: #f2f2f2;
}

.mus_mc_fansign .ht_tit_big02 img {
  height: 28px;
  margin: 0 5px;
}

.mus_mc_fansign .cur_prod_img {
  position: relative;
  margin: 20px 0 0 0;
}

.mus_mc_fansign .cur_prod_img .swiper-slide {
  width: calc((100% - 40px) / 3);
}

.mus_mc_fansign .cur_prod_img .swiper-slide:first-child {
  margin-left: 0;
}

.mus_mc_fansign .cur_prod_img .swiper-slide:last-child {
  margin-right: 0;
}

.mus_mc_fansign .cur_prod_img .img:after {
  display: none;
}

.mus_mc_fansign .btn_more_view_box strong {
  background-color: #fff !important;
}

.mus_mc_fansign .evt_list li {
  width: 100%;
}

.mus_mc_fansign .evt_list .item_info {
  float: left;
  width: 210px;
  margin-top: 50px;
  margin-left: 87px;
}

.mus_mc_fansign .evt_list .item_info .title {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
}

.mus_mc_fansign .evt_list .item_info .title:after {
  display: inline-block;
  position: absolute;
  top: -2px;
  right: 34px;
  width: 38px;
  height: 38px;
  background: url("../images/main/ico_mus_mc_fansign_emo.svg") center/contain no-repeat;
  content: "";
}

.mus_mc_fansign .evt_list .img_wrap {
  float: left;
  width: calc(100% - 297px);
  margin-top: 0;
}

.mus_mc_fansign .evt_list .img_wrap .small_pics_area {
  margin-top: 0;
}

.mus_mc_fansign .evt_list .img_wrap .small_pics_area > li {
  position: relative;
  width: 170px;
  margin: 0 18px;
  border-radius: 12px;
  overflow: hidden;
}

.mus_mc_fansign .evt_list .img_wrap .small_pics_area > li:last-child img {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.mus_mc_fansign .evt_list .img_wrap .small_pics_area > li:last-child > button > span {
  top: 59%;
  width: 100%;
  padding-right: 0;
  color: #fff;
  text-align: center;
}

.mus_mc_fansign .evt_list .img_wrap .small_pics_area > li:last-child > button > span:after {
  display: none;
}

.mus_mc_fansign .evt_list .img_wrap .small_pics_area .small_pics_more {
  background: #000;
  opacity: 0.8;
}

.mus_mc_fansign .evt_list .img_wrap .small_pics_area .btn_mc_more {
  display: inline-block;
  position: absolute;
  left: 49%;
  top: 33%;
  width: 21px;
  height: 21px;
}

.mus_mc_fansign .evt_list .img_wrap .small_pics_area .btn_mc_more span {
  width: 100%;
  height: 100%;
  padding-right: 0;
}

.mus_mc_fansign .evt_list .img_wrap .small_pics_area .btn_mc_more span:before {
  height: 2px;
  background: #fff;
}

.mus_mc_fansign .evt_list .img_wrap .small_pics_area .btn_mc_more span:after {
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  background: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
}

.mus_mc_fansign .evt_list .img_wrap .mus_mc_fansign_bg_icon {
  position: initial;
}

.mus_mc_fansign .evt_list .img_wrap .mus_mc_fansign_bg_icon > img {
  position: absolute;
}

.mus_mc_fansign .evt_list .img_wrap .mus_mc_fansign_bg_icon > img:nth-child(1) {
  left: -22px;
  bottom: -15px;
}

.mus_mc_fansign .evt_list .img_wrap .mus_mc_fansign_bg_icon > img:nth-child(2) {
  right: 78px;
  top: -14px;
}

/*** 요즘 핫 한 해외 POP 음반 : .mus_mc_pop ***/
.mus_mc_pop {
  background: url("../images/main/ico_mus_mc_pop_bg.png") center bottom repeat-x;
}

.mus_mc_pop .contents_inner {
  width: 100%;
  overflow: hidden;
  max-width: 1800px;
}

.mus_mc_pop .ht_tit_big02 img {
  position: relative;
  top: -3px;
  height: 43px;
  margin-left: 5px;
  vertical-align: top;
}

.mus_mc_pop .product_info {
  text-align: left;
}

.mus_mc_pop .star_fade_in02 img:nth-child(1) {
  position: absolute;
  left: 125px;
  top: 420px;
}

.mus_mc_pop .star_fade_in02 img:nth-child(2) {
  position: absolute;
  right: 400px;
  top: 80px;
}

.mus_mc_pop .star_fade_in02 img:nth-child(3) {
  position: absolute;
  left: 440px;
  top: 40px;
}

.mus_mc_pop .star_fade_in02 img:nth-child(4) {
  position: absolute;
  right: -32px;
  bottom: 20px;
}

/*** 한국인이 사랑하는 클래식 : .mus_mc_classic ***/
.mus_mc_classic .ht_tit_big02 img {
  height: 35px;
  margin: 5px 0 0 5px;
  vertical-align: top;
}

/* mus_mc_classic_msg */
.mus_mc_classic_msg {
  position: relative;
  margin: 60px 0 -60px 0;
  padding: 50px 0 35px 0;
  background: url("../images/main/img_mus_mc_classic_msg.png") center top/27px repeat;
  text-align: center;
}

.mus_mc_classic_msg ul {
  display: inline-block;
}

.mus_mc_classic_msg .s1 {
  position: relative;
  font-family: 'Gmarket Sans';
  color: #292929;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
}

.mus_mc_classic_msg .s1 p {
  display: inline-block;
  position: relative;
  position: relative;
  text-align: left;
}

.mus_mc_classic_msg .s1 p:before {
  position: absolute;
  left: -34px;
  top: -21px;
  width: 44px;
  height: 43px;
  background: url("../images/main/img_mus_mc_classic_msg02.svg") center top no-repeat;
  content: "";
  z-index: 1;
}

.mus_mc_classic_msg .s1 p:after {
  position: absolute;
  left: -15px;
  top: 25px;
  width: 206px;
  height: 43px;
  background: url("../images/main/img_mus_mc_classic_msg03.svg") center top no-repeat;
  content: "";
  z-index: 1;
}

.mus_mc_classic_msg .s1 em {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.mus_mc_classic_msg .s1 em:after {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: -5px 0 0 35px;
  background: url("../images/main/tit_mus_mc_classic_msg.svg") center top no-repeat;
  content: "";
  vertical-align: top;
}

.mus_mc_classic_msg .s1 img {
  height: 32px;
  margin: -10px 0 0 5px;
}

.mus_mc_classic_msg .s2 {
  margin-top: 8px;
  color: #292929;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.mus_mc_classic_msg .s3 {
  position: relative;
  margin-top: 18px;
}

.mus_mc_classic_msg .s3:after {
  position: absolute;
  bottom: -35px;
  right: -195px;
  width: 192px;
  height: 184px;
  background: url("../images/main/img_mus_mc_classic_msg01.svg") center no-repeat;
  content: "";
}

.mus_mc_classic_msg .btn_arrow {
  color: #000 !important;
  font-size: 14px;
  font-weight: 500;
}

/*** LP SHOP : .mus_mc_lpshop ***/
.mus_mc_lpshop {
  overflow: hidden;
}

.mus_mc_lpshop .ht_tit_big02 img {
  display: inline-block;
  height: 37px;
  margin: -10px 0 0 5px;
}

/* mus_mc_lpshop_cont */
.mus_mc_lpshop_cont {
  position: relative;
  margin: 0;
}

.mus_mc_lpshop_cont .swiper-container {
  overflow: inherit;
}

.mus_mc_lpshop_cont .swiper-pagination-progressbar-fill {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.mus_mc_lpshop_cont .swiper-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.mus_mc_lpshop_cont .swiper-slide {
  width: 273px !important;
}

.mus_mc_lpshop_cont .swiper-slide .img_wrap {
  margin-top: 0 !important;
}

.mus_mc_lpshop_cont .swiper-slide a {
  display: block;
  position: relative;
  padding: 30px 60px 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mus_mc_lpshop_cont .swiper-slide a:before {
  position: absolute;
  right: 0;
  top: 30px;
  width: 62px;
  height: 210px;
  background: url("../images/main/img_mus_mc_lpshop_bg.png") center no-repeat;
  content: "";
}

.mus_mc_lpshop_cont .swiper-slide a:hover .product_info {
  opacity: 1;
}

.mus_mc_lpshop_cont .swiper-slide a:hover .product_info .product_info_inner {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mus_mc_lpshop_cont .swiper-slide .img {
  position: relative;
  height: 0;
  padding-top: 100%;
  background: #fff;
  overflow: hidden;
  border-radius: 0;
}

.mus_mc_lpshop_cont .swiper-slide .img img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mus_mc_lpshop_cont .swiper_control {
  margin-top: 20px;
}

.mus_mc_lpshop_cont .product_info {
  position: absolute;
  left: 0;
  top: 0;
  width: 273px;
  height: 273px;
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.mus_mc_lpshop_cont .product_info .product_info_inner {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  padding: 10px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.mus_mc_lpshop_cont .product_info .company,
.mus_mc_lpshop_cont .product_info .title,
.mus_mc_lpshop_cont .product_info .price_line,
.mus_mc_lpshop_cont .product_info .discount_rate,
.mus_mc_lpshop_cont .product_info .price_origin {
  color: #fff;
}

.mus_mc_lpshop_cont .product_info .price_origin {
  font-size: 15px;
}

/*** 특별한 할인상품 놓치지 마세요 : .mus_mc_special ***/
.mus_mc_special {
  margin-bottom: 60px;
  background: #464dff;
}

.mus_mc_special .ht_tit_big02 {
  color: #fff;
}

.mus_mc_special .ht_tit_big02 img {
  height: 37px;
  margin-left: 5px;
  vertical-align: top;
}

.mus_mc_special .icon_bg_wrap img {
  position: absolute;
}

.mus_mc_special .icon_bg_wrap img:nth-child(1) {
  left: 23px;
  top: 120px;
}

.mus_mc_special .icon_bg_wrap img:nth-child(2) {
  left: 0;
  top: 245px;
}

.mus_mc_special .icon_bg_wrap img:nth-child(3) {
  right: -7px;
  bottom: 75px;
}

.mus_mc_special .swiper_control_bk .swiper-button-prev {
  left: 66px;
}

.mus_mc_special .swiper_control_bk .swiper-button-next {
  right: 66px;
}

/* mus_tab_box */
.mus_tab_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 0 24px 0;
}

.mus_tab_box .swiper-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mus_tab_box a {
  display: block;
  position: relative;
  height: 48px;
  margin: 0 8px;
  padding: 1px 15px 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 48px;
  white-space: nowrap;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.mus_tab_box a:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.mus_tab_box a:first-child {
  margin-left: 0;
}

.mus_tab_box a.on {
  background: #ebfe00;
  color: #000;
}

.mus_tab_box a.on:before {
  opacity: 1;
}

.mus_tab_box a img {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: -0 5px 0 -14px;
  overflow: hidden;
}

/* mus_mc_special_cont */
.mus_mc_special_cont {
  position: relative;
}

.mus_mc_special_cont .swiper-container {
  width: 890px;
  margin: 0 auto;
}

.mus_mc_special_cont .swiper-slide {
  width: 273px;
  margin-right: 36px;
}

.mus_mc_special_cont .swiper-slide:last-child {
  margin-right: 0;
}

.mus_mc_special_cont .company, .mus_mc_special_cont .title, .mus_mc_special_cont .final_price {
  color: #fff;
}

.mus_mc_special_cont .discount_rate {
  color: #00fe00;
  font-size: 18px;
}

.mus_mc_special_cont .final_price {
  font-size: 18px;
}

.mus_mc_special_cont .price_origin {
  color: #d5d5d5;
  font-size: 14px;
}
