@charset "UTF-8";
/*** 상품과 기획전을 추천 : .cur_recommend ***/
.cur_recommend .ht_tit {
  line-height: 42.5px;
}

.cur_recommend .ht_tit img {
  display: inline-block;
  width: 34px;
  height: auto;
  margin-left: 8px;
}

.cur_recommend .cur_prod_banner {
  margin: 22px 0 20px 0;
}

.cur_recommend .ht_tit + .prod_list {
  margin-top: -10px;
}

.cur_recommend .evt_products.row_dir .product_info {
  margin-top: 0;
}

.cur_recommend .evt_products.row_dir .price_line {
  margin: 10px 0 -10px 0;
}

/*** 찜한 브랜드 : .cur_brand_select ***/
.cur_brand_select .ht_tit {
  line-height: 45px;
}

.cur_brand_select .ht_tit img {
  width: 36px;
  height: auto;
  margin-left: -2px;
  margin-top: -5px;
}

.cur_brand_select .ht_txt {
  font-size: 16px;
  margin-bottom: 0;
  line-height: 24px;
  margin-top: -22px;
}

.cur_brand_select .tab_swiper {
  position: relative;
  z-index: 4;
  top: 20px;
  margin-bottom: 0;
}

.cur_brand_select .tab_swiper .swiper-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cur_brand_select .cur_brand_cont {
  margin: 0;
  padding: 20px 0 0 0;
}

.cur_prod_img {
  overflow: hidden;
}

.cur_prod_img .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.cur_prod_img .swiper-slide {
  width: 273px;
  margin-right: 36px;
}

.cur_prod_img .swiper-slide:last-of-type {
  margin-right: 0;
}

.cur_prod_img .img {
  width: 273px;
  border-radius: 12px;
  overflow: hidden;
}

.cur_prod_img .img img {
  width: 100%;
}

.cur_prod_img .swiper_control {
  margin-top: 30px;
}

/*** 이 브랜드 어떠세요? : .cur_brand_recommend ***/
.cur_brand_recommend .ht_tit img {
  height: 32px;
  margin-left: 0px;
  margin-top: -5px;
}

.cur_brand_recommend .brand_info {
  background-color: #f4f4f4;
  border-radius: 12px;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cur_brand_recommend .brand_info .brad_img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
}

.cur_brand_recommend .brand_info .brad_img img {
  width: 100%;
}

.cur_brand_recommend .brand_info .brand_link {
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  position: relative;
}

.cur_brand_recommend .brand_info .brand_link:before {
  content: '';
  position: absolute;
  right: -12px;
  bottom: 7px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* cur_brand_cont */
.cur_brand_cont {
  position: relative;
  margin: 20px 0 25px 0;
  padding: 30px 0 40px 0;
  background: #fff;
}

.cur_brand_cont .cur_brand_tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 30px 0 0 0;
  padding: 31px 30px 31px 106px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 118px;
  background-color: #F7F7F7;
  border-radius: 12px;
}

.cur_brand_cont .cur_brand_tit .s0 {
  position: absolute;
  width: 56px;
  height: 56px;
  left: 30px;
  top: 31px;
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
}

.cur_brand_cont .cur_brand_tit .s0 img {
  width: 100%;
}

.cur_brand_cont .cur_brand_tit .s1 {
  position: relative;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: -0.014px;
}

.cur_brand_cont .cur_brand_tit .s1 a {
  display: block;
  position: relative;
}

.cur_brand_cont .cur_brand_tit .s1 span {
  display: inline-block;
  position: relative;
  max-width: calc(100% - 20px);
  padding-right: 12px;
  /*white-space:nowrap;text-overflow:ellipsis;overflow:hidden;*/
}

.cur_brand_cont .cur_brand_tit .s1 span:after {
  position: absolute;
  right: 2px;
  top: 50%;
  width: 7px;
  height: 7px;
  margin-top: -5px;
  border: solid #767676;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
  overflow: hidden;
}

.cur_brand_cont .cur_brand_tit .s2 {
  color: #767676;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.016px;
  margin-top: 5px;
}

/*** 최근 본 상품을 추천 : .cur_prod_view ***/
.cur_prod_view {
  overflow: hidden;
}

.cur_prod_view .ht_tit img {
  display: inline-block;
  height: 40px;
  margin-left: 4px;
  margin-top: -5px;
}

.cur_prod_list_wrap {
  position: relative;
}

.cur_prod_list_wrap .swiper_control {
  margin-top: 0;
  position: absolute;
  top: 7px;
  left: 0;
  z-index: 2;
}

.cur_prod_list_wrap .swiper_control .swiper-button-prev,
.cur_prod_list_wrap .swiper_control .swiper-button-next {
  width: 50px;
  height: 50px;
}

.cur_prod_list_wrap .swiper_control .swiper-button-prev:after,
.cur_prod_list_wrap .swiper_control .swiper-button-next:after {
  border-color: #000;
}

.cur_prod_list_wrap .swiper_control .swiper-button-prev:hover:after,
.cur_prod_list_wrap .swiper_control .swiper-button-next:hover:after {
  background: #000 url("../images/guide/btn_banner_pagn_w.svg") center no-repeat;
}

.cur_prod_list_wrap .swiper_control .swiper-button-next {
  left: 1095px;
}

.cur_prod_list_wrap .swiper_control .swiper-button-disabled {
  visibility: hidden;
}

/* cur_prod_view_list */
.cur_prod_view_list {
  position: relative;
  margin: 0 auto;
  padding: 0 0 89px 0;
  z-index: 2;
  overflow: visible;
  width: 730px;
}

.cur_prod_view_list:before {
  content: "";
  position: absolute;
  width: 235px;
  height: 64px;
  background: #fff;
  left: -235px;
  top: 0;
  z-index: 3;
}

.cur_prod_view_list:after {
  content: "";
  position: absolute;
  width: 235px;
  height: 64px;
  background: #fff;
  right: -235px;
  top: 0;
  z-index: 3;
}

.cur_prod_view_list .swiper-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cur_prod_view_list .swiper-wrapper.start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cur_prod_view_list .swiper-slide {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

.cur_prod_view_list .swiper-slide:last-child {
  margin-right: 0;
}

.cur_prod_view_list .swiper-slide .img {
  position: relative;
  height: 0;
  margin-bottom: 17px;
  padding-top: 100%;
  background: #f7f7f7;
  border-radius: 4px;
  overflow: hidden;
}

.cur_prod_view_list .swiper-slide .img img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.5;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.cur_prod_view_list .swiper-slide .img:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #000;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.cur_prod_view_list .swiper-slide .txt {
  display: none;
  position: absolute;
  left: 50%;
  top: 81px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: auto;
  max-width: none;
  white-space: nowrap;
}

.cur_prod_view_list .swiper-slide .txt span {
  display: inline-block;
  padding: 12px 32px;
  background: #000;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  border-radius: 39px;
  letter-spacing: -0.02px;
}

.cur_prod_view_list .swiper-slide .txt span:after {
  position: absolute;
  left: 50%;
  top: -8px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 0;
  border-bottom: 16px solid #000;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  content: "";
}

.cur_prod_view_list .on .img img {
  opacity: 1;
}

.cur_prod_view_list .on .img:after {
  opacity: 1;
}

.cur_prod_view_list .on .txt {
  display: block;
}

/* cur_prod_view_cont */
.cur_prod_view_cont {
  position: relative;
  margin: 0 -20px;
}

/*** 잊고 있는 그 상품 : .cur_prod_remind ***/
.cur_prod_remind {
  position: relative;
}

/* cur_new_msg */
.cur_new_msg {
  position: absolute;
  right: 0px;
  top: 40px;
  z-index: 2;
}

.cur_new_msg:before {
  position: absolute;
  right: 0;
  top: -34px;
  width: 80px;
  height: 80px;
  background: url("../images/main/ico_cur_new.svg") center/100% no-repeat;
  content: "";
}

.cur_new_msg p {
  position: relative;
  right: 78px;
  top: -7px;
  padding: 12px 19px 10px 18px;
  background: #d4ff1a;
  border: solid #000;
  border-width: 2px 2px 3px 2px;
  border-radius: 30px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  -webkit-animation: curNewMsg both infinite 5s;
          animation: curNewMsg both infinite 5s;
}

.cur_new_msg p:before {
  position: absolute;
  right: -11px;
  top: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid #000;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  content: "";
  -webkit-transform: translateY(-51%);
          transform: translateY(-51%);
  z-index: 2;
}

.cur_new_msg p:after {
  position: absolute;
  right: -7px;
  top: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid #d4ff1a;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  content: "";
  -webkit-transform: translateY(-52%);
          transform: translateY(-52%);
  z-index: 2;
}

.cur_new_msg.ty02 {
  top: 22px;
}

.cur_new_msg.ty02:before {
  background-image: url("../images/main/ico_cur_new02.svg");
}

@-webkit-keyframes curNewMsg {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30%) scale(0.5);
            transform: translateX(30%) scale(0.5);
  }
  10% {
    opacity: 0;
    -webkit-transform: translateX(30%) scale(0.5);
            transform: translateX(30%) scale(0.5);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
  95% {
    opacity: 1;
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(30%) scale(0.5);
            transform: translateX(30%) scale(0.5);
  }
}

@keyframes curNewMsg {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30%) scale(0.5);
            transform: translateX(30%) scale(0.5);
  }
  10% {
    opacity: 0;
    -webkit-transform: translateX(30%) scale(0.5);
            transform: translateX(30%) scale(0.5);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
  95% {
    opacity: 1;
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(30%) scale(0.5);
            transform: translateX(30%) scale(0.5);
  }
}
