@charset "UTF-8";
/***** * 코네메뉴 : 라이브 * *****/
/*** 라이브 이벤트 당첨자  발표 : .liv_notice ***/
.liv_notice .ht_tit_big02 img {
  height: 29px;
  margin-left: 7px;
}

/* liv_notice_li */
.liv_notice_li {
  border-bottom: 1px solid #eaeaea;
}

.liv_notice_li .li {
  position: relative;
  padding: 13px 5px;
  border-top: 1px solid #eaeaea;
}

.liv_notice_li .li a {
  display: block;
}

.liv_notice_li .li p {
  color: #000;
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.liv_notice_li .li span {
  display: block;
  margin-top: 2px;
  color: #767676;
  font-size: 13px;
  line-height: 19px;
}

/*** 미리 만나는 라이브 : .liv_list ***/
.liv_list {
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}

.liv_list .li {
  position: relative;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.liv_list .li:first-child {
  margin-top: 0;
}

.liv_list .li .img {
  position: relative;
  width: 42%;
  border-radius: 8px;
  overflow: hidden;
}

.liv_list .li .img .img_a {
  position: relative;
  height: 0;
  padding-top: 150%;
  background: #f7f7f7 center/cover no-repeat;
}

.liv_list .li .img:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  content: "";
}

.liv_list .li .wel_live_time {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 2;
}

.liv_list .li .wel_live_time span {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.liv_list .li .wel_live_time em {
  font-family: 'Gmarket Sans';
}

.liv_list .li .wel_live_time p {
  margin-top: -3px;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
}

.liv_list .li .txt {
  width: calc(58% - 20px);
  margin-left: 20px;
}

.liv_list .li .txt .s1 {
  position: relative;
  min-height: 40px;
}

.liv_list .li .txt .s1 span {
  display: block;
  color: #da2128;
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
}

.liv_list .li .txt .s1 strong {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}

.liv_list .li .txt .s1 .alarm_chk02 {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-top: -5px;
}

.liv_list .li .txt .s1 + .s2 {
  margin-top: 14px;
  padding-top: 18px;
  border-top: 2px dotted #eaeaea;
}

.liv_list .li .txt .s2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.liv_list .li .txt .s2 a {
  display: inline-block;
  margin-top: 5px;
  color: #595959;
  font-size: 13px;
  line-height: 19px;
}

.liv_list .li .txt .s2 a span {
  display: inline-block;
  position: relative;
  padding-right: 8px;
}

.liv_list .li .txt .s2 a span:after {
  position: absolute;
  right: 0;
  top: 50%;
  width: 6px;
  height: 6px;
  margin-top: -2px;
  background: none;
  border: solid #767675;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
  overflow: hidden;
}

/* alarm_chk02 */
.alarm_chk02 {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.alarm_chk02 input[type="checkbox"] {
  position: absolute;
  left: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  overflow: hidden;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}

.alarm_chk02 input[type="checkbox"] + label {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  background: url("../images/main/ico_wel_live_alarm02.svg") center/100% no-repeat;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
  z-index: 1;
}

.alarm_chk02 input[type="checkbox"]:checked + label {
  background-image: url("../images/main/ico_wel_live_alarm_on.svg");
}

/* liv_new_msg */
.liv_new_msg {
  position: absolute;
  right: 0;
  top: 30px;
  z-index: 2;
}

.liv_new_msg p {
  position: relative;
  right: 11px;
  top: 0;
  padding: 11px 10px 9px 10px;
  background: #d4ff1a;
  border: solid #000;
  border-width: 2px 3px 3px 2px;
  border-radius: 30px;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  -webkit-animation: livNewMsg both infinite 5s;
          animation: livNewMsg both infinite 5s;
}

.liv_new_msg p:before {
  position: absolute;
  right: 16px;
  bottom: -11px;
  width: 0;
  height: 0;
  border-top: 10px solid #000;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  content: "";
  z-index: 2;
}

.liv_new_msg p:after {
  position: absolute;
  right: 17px;
  bottom: -7px;
  width: 0;
  height: 0;
  border-top: 10px solid #d4ff1a;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  content: "";
  z-index: 2;
}

.liv_new_msg p em {
  position: absolute;
  right: 7px;
  top: -16px;
  width: 32px;
  height: 32px;
  background: url("../images/main/ico_liv_msg.svg") center/100% no-repeat;
  content: "";
}

@-webkit-keyframes livNewMsg {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%) scale(0.6);
            transform: translateY(50%) scale(0.6);
  }
  10% {
    opacity: 0;
    -webkit-transform: translateY(50%) scale(0.6);
            transform: translateY(50%) scale(0.6);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0%) scale(1);
            transform: translateY(0%) scale(1);
  }
  95% {
    opacity: 1;
    -webkit-transform: translateY(0%) scale(1);
            transform: translateY(0%) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(50%) scale(0.6);
            transform: translateY(50%) scale(0.6);
  }
}

@keyframes livNewMsg {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%) scale(0.6);
            transform: translateY(50%) scale(0.6);
  }
  10% {
    opacity: 0;
    -webkit-transform: translateY(50%) scale(0.6);
            transform: translateY(50%) scale(0.6);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0%) scale(1);
            transform: translateY(0%) scale(1);
  }
  95% {
    opacity: 1;
    -webkit-transform: translateY(0%) scale(1);
            transform: translateY(0%) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(50%) scale(0.6);
            transform: translateY(50%) scale(0.6);
  }
}

/*** 라이브 다시보기 : .liv_replay ***/
.liv_replay .ht_tit_big02 img {
  height: 27px;
  margin-left: 10px;
}

/* liv_replay_wrap */
.liv_replay_wrap {
  position: relative;
  overflow: hidden;
}

/* liv_replay_cont */
.liv_replay_cont {
  margin: 0 -10px;
}

.liv_replay_cont.swiper-initialized {
  margin: 0;
}

.liv_replay_cont.swiper-initialized .swiper-slide {
  width: 100%;
  margin: 0;
}

.liv_replay_cont .swiper-slide {
  position: relative;
  margin: 0 10px;
  width: calc(33.3% - 20px);
}

.liv_replay_cont .swiper-slide img {
  width: 100%;
}

.liv_replay_cont .img {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.liv_replay_cont .img_a {
  position: relative;
  height: 0;
  padding-top: 150%;
  background: #f7f7f7 center/cover no-repeat;
}

.liv_replay_cont .liv_view {
  position: absolute;
  left: 6px;
  top: 6px;
  height: 22px;
  padding: 0 7px 0 20px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-size: 10px;
  line-height: 23px;
  letter-spacing: -0.4px;
  overflow: hidden;
}

.liv_replay_cont .liv_view:before {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 12px;
  height: 12px;
  background: url("../images/main/ico_liv_view.svg") center/100% no-repeat;
  content: "";
}

.liv_replay_cont .liv_time {
  position: absolute;
  left: 6px;
  bottom: 6px;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.liv_replay_cont .txt {
  margin-top: 10px;
}

.liv_replay_cont .txt .s1 {
  font-size: 13px;
  line-height: 19px;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.liv_replay_cont .swiper-pagination.swiper-pagination-bullets {
  position: static;
  margin: 20px 0 3px 0;
}

.liv_replay_cont .swiper-pagination.swiper-pagination-bullets.out_bottom {
  bottom: 0;
}

/*** 라이브 캘린더 : .liv_calendar ***/
.liv_calendar {
  padding: 113px 0 0 0;
  position: relative;
}

.liv_calendar .custom_scroll_wrap_test {
  max-height: calc(85vh - 200px);
  overflow-y: auto;
  padding-bottom: 1px;
}

.calendar_tab_wrap {
  position: absolute;
  left: -30px;
  top: -24px;
  width: calc(100% - 80px);
  background: #000;
  padding: 15px 70px;
  overflow: hidden;
  z-index: 10;
}

.calendar_tab_wrap.swiper-on .swiper_control {
  display: block;
  margin: 0;
  height: 0;
}

.calendar_tab_wrap.swiper-on .swiper-button-prev,
.calendar_tab_wrap.swiper-on .swiper-button-next {
  width: 12px;
  height: 67px;
  background: none;
  top: -67px;
}

.calendar_tab_wrap.swiper-on .swiper-button-prev {
  left: -235px;
}

.calendar_tab_wrap.swiper-on .swiper-button-prev:after {
  background: url(../images/guide/ico_arrow_prev_white.svg) no-repeat center/11px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border: none;
}

.calendar_tab_wrap.swiper-on .swiper-button-next {
  left: 235px;
}

.calendar_tab_wrap.swiper-on .swiper-button-next:after {
  background: url(../images/guide/ico_arrow_prev_white.svg) no-repeat center/11px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border: none;
}

.dialog_wrapper .ui-dialog .dialog_wrap.ui-dialog-content .dialog_contents.liv_pop {
  overflow: visible;
}

/* calendar_tab */
.calendar_tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.calendar_tab .swiper-slide {
  padding: 0 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60px;
}

.calendar_tab .li {
  display: block;
  position: relative;
  width: 48px;
  height: 67px;
  margin: 0 auto;
  border-radius: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.calendar_tab .li em {
  display: block;
  position: relative;
  padding-top: 5px;
  color: #767676;
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
}

.calendar_tab .li em:before {
  position: absolute;
  left: 50%;
  top: 0;
  width: 4px;
  height: 4px;
  margin-left: -2px;
  background: #797979;
  border-radius: 50%;
  content: "";
}

.calendar_tab .li span {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.6px;
}

.calendar_tab .li.hue span {
  color: #767676;
}

.calendar_tab .li:disabled {
  cursor: default;
}

.calendar_tab .li:disabled em:before {
  display: none;
}

.calendar_tab .on .li {
  background: #fff;
  color: #000;
}

.calendar_tab .on .li em {
  color: #000;
}

.calendar_tab .today .li em:before {
  background-color: #da2128;
}

/* .ht_msg_box */
.ht_msg_box {
  position: relative;
  margin: 0 0 60px 0;
  text-align: center;
}

.ht_msg_box .ico img {
  width: 80px;
}

.ht_msg_box .ico + .txt {
  margin-top: 20px;
}

.ht_msg_box .txt {
  line-height: 24px;
  letter-spacing: -1px;
  font-size: 16px;
  font-weight: 500;
}

/* liv_timeline */
.liv_timeline {
  position: relative;
}

.liv_timeline:before {
  position: absolute;
  left: 16px;
  top: 10px;
  width: 1px;
  height: calc(100% - 70px);
  border-left: 1px dashed #000;
  content: "";
}

.liv_timeline .li {
  position: relative;
  margin-bottom: 40px;
}

.liv_timeline .li:before {
  position: absolute;
  left: 12px;
  top: 9px;
  width: 9px;
  height: 9px;
  background: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  z-index: 2;
}

.liv_timeline .li:last-child {
  margin-bottom: 0;
}

/* liv_timeline_marker */
.liv_timeline_marker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 0 17px 25px;
  border-radius: 12px;
  overflow: hidden;
}

.liv_timeline_marker > strong {
  display: inline-block;
  position: relative;
  height: 26px;
  margin-right: 10px;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 27px;
  overflow: hidden;
}

.liv_timeline_marker > strong.on {
  background-color: #ff2700;
}

.liv_timeline_marker > strong.on em {
  position: relative;
  padding-left: 12px;
}

.liv_timeline_marker > strong.on em:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 8px;
  height: 9px;
  margin-top: -5px;
  background: url("../images/main/ico_wel_live_btn02.svg") center/100% no-repeat;
  content: "";
}

.liv_timeline_marker > strong.ing:before {
  position: absolute;
  left: -12px;
  top: -21px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border: 10px solid #fff;
  border-radius: 29px;
  content: "";
  z-index: 2;
}

.liv_timeline_marker > strong.ing i {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(42%, #f00), color-stop(50%, #ffc400), color-stop(58%, #f00)) center no-repeat;
  background: linear-gradient(90deg, #f00 42%, #ffc400 50%, #f00 58%) center no-repeat;
  background-origin: border-box;
  content: "";
  -webkit-animation: btn_wel_live 2.2s linear infinite;
          animation: btn_wel_live 2.2s linear infinite;
}

.liv_timeline_marker > strong.ing:after {
  position: absolute;
  left: 1px;
  top: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: #fff;
  border-radius: 11px;
  content: "";
}

.liv_timeline_marker > strong.ing em {
  position: relative;
  color: #ff2700;
  z-index: 2;
}

.liv_timeline_marker p {
  padding-top: 2px;
  color: #000;
  font-size: 16px;
}

.liv_timeline_marker p strong {
  font-weight: 500;
}

.liv_timeline_marker p.t_point {
  color: #fc0000;
}

/* liv_timeline_box */
.liv_timeline_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  background: #fff;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border-radius: 8px;
  overflow: hidden;
}

.liv_timeline_box:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
}

.liv_timeline_box .img {
  position: relative;
  width: 140px;
}

.liv_timeline_box .img .img_a {
  position: relative;
  height: 0;
  padding-top: 150%;
  background: #f7f7f7 center/cover no-repeat;
}

.liv_timeline_box .liv_time_info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  content: "";
  z-index: 2;
}

.liv_timeline_box .liv_time_info p {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
}

.liv_timeline_box .liv_time_info strong {
  font-family: 'Gmarket Sans';
  font-size: 24px;
}

.liv_timeline_box .txt {
  width: calc(100% - 160px);
  margin-left: 20px;
}

.liv_timeline_box .txt .s1 {
  position: relative;
  min-height: 48px;
  padding-right: 85px;
  font-size: 16px;
  font-weight: 500;
}

.liv_timeline_box .txt .s1 > p {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.liv_timeline_box .txt .s1 .alarm_chk02 {
  position: absolute;
  right: 30px;
  top: -1px;
}

.liv_timeline_box .txt .s1 + .s2 {
  margin-top: 20px;
}

.liv_timeline_box .txt .s2 {
  position: relative;
  padding: 0 30px 0 100px;
}

.liv_timeline_box .txt .s2 .img_s {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 0;
  padding-top: 80px;
  background: #f7f7f7;
  border-radius: 4px;
  overflow: hidden;
}

.liv_timeline_box .txt .s2 .img_s img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.liv_timeline_box .txt .s2 .txt_s {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  font-size: 12px;
  line-height: 18px;
  z-index: 2;
}

.liv_timeline_box .txt .s2 .txt_s .c1 {
  color: #595959;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -1px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.liv_timeline_box .txt .s2 .txt_s .c2 {
  margin-top: 5px;
  color: #000;
  font-size: 0;
  font-weight: 700;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.liv_timeline_box .txt .s2 .txt_s .c2 strong {
  padding-right: 4px;
  color: #da2128;
  font-size: 16px;
}

.liv_timeline_box .txt .s2 .txt_s .c2 span {
  padding-right: 4px;
  font-size: 16px;
}

.liv_timeline_box .txt .s2 .txt_s .c2 em {
  display: inline-block;
  color: #ccc;
  font-size: 10px;
  font-weight: 400;
  text-decoration: line-through;
}

/* liv_btn */
.liv_btn {
  margin-top: 20px;
  text-align: center;
}

.liv_btn a, .liv_btn button {
  display: inline-block;
  height: 37px;
  padding: 0 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  font-size: 14px;
  line-height: 35px;
}

.liv_btn a.on, .liv_btn button.on {
  border: 1px solid #000;
}

.liv_btn a.on span, .liv_btn button.on span {
  padding-left: 12px;
  font-weight: 700;
  position: relative;
}

.liv_btn a.on span:before, .liv_btn button.on span:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 8px;
  height: 9px;
  margin-top: -5px;
  background: url("../images/main/ico_wel_live_btn03.svg") center/100% no-repeat;
  content: "";
}

/* prod_share_area */
.prod_share_area {
  position: absolute;
  right: 0;
  top: 0;
}

.prod_share_area .btn_ht_share {
  background-image: url("../images/guide/btn_ht_share.svg");
}

.prod_share_area .btn_ht_wish {
  float: left;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background: url("../images/guide/btn_ht_wish.svg") center/18px no-repeat;
}

.prod_share_area .btn_ht_wish.active {
  background-image: url("../images/guide/btn_ht_wish_active.svg");
}

.prod_share_area .sns_share_wrap {
  float: left;
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.prod_share_area .sns_share_wrap .btn_share {
  width: 20px;
  height: 20px;
  line-height: 20px;
  border: 0;
}

.prod_share_area .sns_share_wrap .btn_share .ico_share {
  width: 20px;
  height: 20px;
  margin-top: 0;
  background: url("../images/guide/btn_ht_share.svg") center/18px no-repeat;
}

.prod_share_area .sns_share_wrap .sns_share_box {
  right: -8px;
  top: -12px;
  width: auto;
  -webkit-animation: fade both 0.3s;
          animation: fade both 0.3s;
}

.prod_share_area .sns_share_wrap .btn_sns_share_close {
  margin: 0 14px;
}

.prod_share_area .btn_sns_share {
  background: center/28px no-repeat;
}

.prod_share_area .ht_kakao {
  background-image: url("../images/layout/sns_kakao.svg");
}

.prod_share_area .ht_instar {
  background-image: url("../images/layout/sns_instar.svg");
}

.prod_share_area .ht_facebook {
  background-image: url("../images/layout/sns_facebook.svg");
}

.prod_share_area .ht_twitter {
  background-image: url("../images/layout/sns_twitter.svg");
}

.prod_share_area .ht_pinterest {
  background-image: url("../images/layout/sns_pinterest.svg");
}

.prod_share_area .ht_line {
  background-image: url("../images/layout/sns_line.svg");
}

.prod_share_area .ht_message {
  background-image: url("../images/layout/sns_message.svg");
}

.prod_share_area .ht_url_copy {
  background-image: url("../images/layout/sns_url_copy.svg");
}

/*** 라이브 상세 : .liv_detail ***/
/* liv_logo */
.liv_logo {
  padding-bottom: 20px;
}

.liv_logo .contents_inner {
  text-align: center;
}

.liv_logo .ht_tit_big {
  margin-bottom: 0;
}

.liv_logo .logo {
  width: 135px;
}

.liv_logo img:nth-of-type(2) {
  width: 77px;
  margin-left: -4px;
}

.liv_logo .prod_share_area {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* liv_detail */
.liv_detail {
  position: relative;
  height: 600px;
}

.liv_detail .bg_img {
  position: absolute;
  width: 1920px;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.liv_detail .contents_inner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.liv_detail .liv_timeline_marker {
  margin: 0 0 16px 0;
  padding-right: 0;
}

.liv_detail .liv_timeline_marker p {
  color: #FF2700;
  font-weight: 700;
}

.liv_detail .title {
  line-height: 50px;
  letter-spacing: -1px;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 10px;
}

.liv_detail .sub_title {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.8);
}

.liv_detail .liv_btn_area {
  margin-top: 40px;
}

.liv_detail .liv_btn {
  text-align: left;
}

.liv_detail .liv_btn a {
  position: relative;
  height: 50px;
  line-height: 50px;
  border-radius: 40px;
  border: 1px solid;
  background-color: #fff;
  padding: 0 29px 0 49px;
  font-size: 18px;
  font-weight: 500;
}

.liv_detail .liv_btn a:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 24px;
  top: 15px;
  background: url(../images/guide/ico_bell.svg) no-repeat center/18px;
}

/* liv_btn_area */
.liv_btn_area {
  margin-top: 20px;
  text-align: center;
}

.liv_btn_area a, .liv_btn_area button {
  display: block;
  width: 100%;
}

.liv_btn_area .text {
  font-size: 14px;
  font-weight: 500;
}

.liv_btn_area .ico {
  display: inline-block;
  height: 20px;
  margin: -10px 2px 0 0;
  vertical-align: middle;
}

/* view_cont_area */
.view_cont_area {
  color: #595959;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.2px;
}

.view_cont_area strong {
  color: #000;
  font-weight: 700;
}

.view_cont_area .t_point {
  color: #da2128;
}

/** 댓글 입력 **/
.mc_cont .comment_area {
  padding-top: 0;
}

/* comment_area */
.comment_area .comment_txt_box {
  position: relative;
  display: block;
  padding: 12px 15px 8px 15px;
  border: 1px solid #d5d5d5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
}

.comment_area .comment_txt_box.active {
  border-color: #000;
}

.comment_area textarea {
  width: 100%;
  height: 70px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  font-family: Roboto,"Noto Sans KR";
  font-size: 14px;
  line-height: 22px;
  outline: none;
}

.comment_area .count_length_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.comment_area .count_defalut {
  color: #767676;
}

.comment_area .liv_btn_area {
  margin-top: 12px;
}

.comment_list_area {
  margin-top: 40px;
  padding: 0;
  background: #fff;
}

.cmt_section_title {
  padding-bottom: 14px;
  border-bottom: 1px solid #000;
}

.cmt_section_title .title {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.cmt_section_title .highlight {
  color: #da2128;
}

.cmt_section_title .evt_ck_area {
  display: block;
  padding-left: 28px;
}

.common_check {
  display: none;
}

.common_ck_label {
  position: relative;
}

.common_ck_label:before {
  position: absolute;
  left: -28px;
  top: -2px;
  width: 22px;
  height: 22px;
  background: url(../images/guide/ico_checkborder.svg) center/cover no-repeat;
  content: "";
}

.common_check:checked + label:before {
  background: url(../images/guide/ico_checkborder_check.svg) center/cover no-repeat;
}

/* cmt_list_card_ul */
.cmt_list_card_ul > li {
  padding: 16px 5px;
  border-bottom: 1px solid #eaeaea;
  letter-spacing: -0.4px;
}

.cmt_list_card_ul .user_info span {
  position: relative;
  display: inline-block;
  margin-left: 12px;
  color: #767676;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
}

.cmt_list_card_ul .user_info span:before {
  position: absolute;
  left: -9px;
  top: 3px;
  width: 1px;
  height: 9px;
  background-color: #dcdcdc;
  content: "";
}

.cmt_list_card_ul .user_info span:first-child {
  margin-left: 0px;
}

.cmt_list_card_ul .user_info span:first-child:before {
  display: none;
}

.cmt_list_card_ul .user_info a {
  color: #767676;
}

.cmt_list_card_ul .cmt_pd_title {
  margin-top: 16px;
  color: #595959;
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
}

.cmt_list_card_ul .cmt_pd_title + .user_cmt {
  margin-top: 6px;
}

.cmt_list_card_ul .user_cmt {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  align-content: flex-start;
}

.cmt_list_card_ul .cmt_content {
  color: #292929;
  line-height: 22px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  word-wrap: break-word;
  word-break: keep-all;
}

.cmt_list_card_ul .cmt_img {
  position: relative;
  width: 78px;
  height: 0;
  padding-top: 78px;
  margin-left: 19px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
}

.cmt_list_card_ul .cmt_img img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}

/* mycomment_box */
.mycomment_box {
  position: relative;
  display: block;
  margin: 16px 0 4px 0;
  padding: 12px 15px 10px 15px;
  border: 1px solid #d5d5d5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
}

.mycomment_box textarea {
  width: 100%;
  height: 63px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  font-family: Roboto,"Noto Sans KR";
  font-size: 14px;
  line-height: 21px;
  outline: none;
}

.mycomment_box .count_length_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 7px 14px;
  font-size: 12px;
  line-height: 18px;
}

.mycomment_box .count_defalut {
  color: #767676;
}

.mycomment_box .mycomment_box_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
}

.mycomment_box .mycomment_box_bottom .count_length_line {
  margin-right: 8px;
}

.mycomment_box .btn_cmt {
  width: 50px;
  height: 35px;
  border-radius: 4px;
  font-size: 13px;
  text-align: center;
}

.mycomment_box .btn_cmt:last-of-type {
  margin-left: 5px;
}
