@charset "UTF-8";
/*
    Popup
*/
/***** Popup Contents *****/
/* .evt_pop_content */
.evt_pop_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 70px;
  color: #595959;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.evt_pop_content.del_msg {
  min-height: auto;
  line-height: 23px;
  margin-bottom: -4px;
  letter-spacing: -1px;
  font-size: 15px;
  color: #000;
}

/* pop_info_msg */
.pop_info_msg {
  padding: 0 10px;
}

.pop_info_msg p {
  position: relative;
  text-align: center;
}

.pop_info_msg p.s1 {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
}

.pop_info_msg p.s2 {
  color: #595959;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}

.pop_info_msg .ico {
  height: 56px;
  margin-bottom: 10px;
}

.pop_info_msg .s1 + .s2 {
  margin-top: 8px;
}

/* pop_phone_info_msg */
.pop_phone_info_msg {
  margin-bottom: 21px;
}

.pop_phone_info_msg p {
  position: relative;
  padding-top: 58px;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
}

.pop_phone_info_msg p:before {
  position: absolute;
  left: 50%;
  top: 0;
  width: 56px;
  height: 48px;
  margin-left: -28px;
  background: url("../images/guide/ico_pop_phone_info_msg.svg") center/100% no-repeat;
  content: "";
}

/* pop_box_info */
.pop_box_info {
  position: relative;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

.pop_box_info .tit {
  margin-bottom: 5px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

/* pop_info */
.pop_info {
  margin-top: 13px;
  letter-spacing: -0.4px;
  text-align: left;
}

.pop_info li {
  position: relative;
  margin-top: 4px;
  padding-left: 8px;
  color: #767676;
  font-size: 13px;
  line-height: 19px;
}

.pop_info li:before {
  position: absolute;
  left: 0;
  top: 1px;
  font-size: 11px;
  content: "*";
}

.pop_info li:first-child {
  margin-top: 0;
}

/* info_box */
.info_box {
  position: relative;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 4px;
}

.info_box .tit {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.info_box .tit + ul {
  margin-top: 8px;
}

.info_box li {
  position: relative;
  margin-top: 10px;
  padding-left: 8px;
  color: #595959;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}

.info_box li:before {
  position: absolute;
  left: 0;
  top: 8px;
  width: 3px;
  height: 3px;
  background: #999;
  border-radius: 50%;
  content: "";
}

.info_box li:first-child {
  margin-top: 0;
}

.info_box li .point {
  color: #000;
  font-weight: 400;
  text-decoration: underline;
}

/***** 팝업 - 제품 *****/
.pop_head_box {
  position: relative;
  margin-bottom: 40px;
  padding: 73px 0 40px;
  border-bottom: 1px solid #eaeaea;
  text-align: center;
}

.pop_head_box:before {
  position: absolute;
  left: 50%;
  top: 0;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  background: url("../images/guide/ico_pop_head_box.svg") center/100% no-repeat;
  content: "";
}

.pop_head_box .s1 {
  margin-bottom: 7px;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
}

.pop_head_box .s2 {
  margin-bottom: 13px;
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}

.pop_head_box .s3 {
  color: #767676;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

/***** 카테고리 메인 *****/
/* 브랜드 골라보기 */
.brand_search_wrap {
  position: relative;
  margin-top: -1px !important;
  z-index: 2;
}

.brand_search_wrap .form_search_box {
  margin-bottom: 20px;
}

.brand_search_wrap .cks_list .cks_item {
  margin-bottom: 20px;
}

.brand_search_wrap .cks_list .cks_item:last-of-type {
  margin-bottom: 0;
}

.brand_search_wrap .cks_list .form_chk > label {
  color: #595959;
  font-size: 13px;
}

.brand_search_wrap .cks_list .emp {
  position: relative;
  padding: 155px 10px 65px 10px;
  color: #767676;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.brand_search_wrap .cks_list .emp:before {
  position: absolute;
  left: 50%;
  top: 80px;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  background: url(../images/guide/no_search_data_icon.svg) center/100% no-repeat;
  content: "";
}

.brand_search_wrap .btn_area {
  padding-left: 49px;
  font-size: 0;
}

.brand_search_wrap .btn_area button {
  width: 100%;
}

.brand_search_wrap .btn_area .btn_reset {
  position: absolute;
  left: 0;
  top: 0;
  width: 44px;
  min-width: auto;
  height: 44px;
  padding: 0;
  background: url("../images/guide/ico_rest.svg") center/18px no-repeat;
  border: 1px solid #000;
}

/* 만년필이 궁금하세요 */
.pen_pop_wrap {
  margin-top: -1px !important;
  padding-top: 1px;
  background: #fff;
}

.pen_pop_wrap .tab_menu_a {
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 42px;
  border-bottom: 2px solid #000;
  margin-bottom: 30px;
}

.pen_pop_wrap .tab_menu_a a {
  position: relative;
  display: table-cell;
  padding: 3px 0 0 0;
  color: #767676;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.pen_pop_wrap .tab_menu_a a:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 42px;
  border: solid #d5d5d5;
  border-width: 1px 0 0 1px;
  border-radius: 6px 6px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
}

.pen_pop_wrap .tab_menu_a a:last-child:before {
  border-width: 1px 1px 0 1px;
}

.pen_pop_wrap .tab_menu_a a.on {
  color: #000;
  font-weight: 700;
  z-index: 2;
}

.pen_pop_wrap .tab_menu_a a.on:before {
  border-color: #000;
  border-width: 2px 2px 0 2px;
}

.pen_pop_wrap .tab_menu_a a.on:after {
  width: calc(100% - 4px);
  height: 8px;
  position: absolute;
  left: 2px;
  top: calc(100% - 4px);
  background-color: #fff;
  content: "";
}

.pen_pop_wrap .pen_title {
  color: #595959;
}

.pen_pop_wrap .pen_title + .pen_sub_menu_wrap {
  padding-top: 20px;
}

.pen_pop_wrap .sc_pop_btn {
  min-height: calc(85vh - 200px) !important;
}

.pen_pop_wrap .mgt10 {
  margin-top: 10px !important;
}

.tab_ty.pen_sub_menu_wrap {
  margin: 0;
  padding: 20px 0;
}

.tab_ty.pen_sub_menu_wrap li:not(:first-of-type) {
  margin-left: 6px;
}

.tab_ty.pen_sub_menu_wrap li a {
  padding: 0 13px;
}

.pen_story {
  border: 1px solid #000;
  text-align: center;
  padding: 40px 20px 40px 40px;
  border-radius: 12px;
  text-align: left;
}

.pen_story .pen_cont {
  display: none;
}

.pen_story .pen_cont.on {
  display: block;
  -webkit-animation: fade both .5s;
          animation: fade both .5s;
}

.pen_story .cont_in {
  margin-bottom: 40px;
}

.pen_story .cont_in:last-of-type {
  margin-bottom: 0;
}

.pen_story .cont_in .ht_tit05 {
  margin-bottom: 25px;
}

.pen_story .cont_in .ht_tit05 .point_line:before {
  height: 11px;
  top: 16px;
}

.pen_story .cont_in img {
  width: 100%;
}

.pen_story .cont_in .desc {
  line-height: 21px;
  position: relative;
  overflow: hidden;
  letter-spacing: -0.03em;
}

.pen_story .cont_in .desc .txt {
  width: calc(50% - 20px);
  margin-right: 40px;
  float: left;
}

.pen_story .cont_in .desc .img {
  width: calc(50% - 20px);
  float: left;
}

.pen_story .cont_in .desc .img + .img {
  margin-top: 15px;
}

.pen_story .cont_in .desc.ty_left .txt {
  margin-right: 0;
}

.pen_story .cont_in .desc.ty_left .img {
  margin-right: 40px;
}

.pen_story .cont_in .desc.ty_Imgs .img {
  margin: 0;
}

.pen_story .cont_in .desc.ty_Imgs .img:first-of-type {
  margin-right: 40px;
}

.pen_story .desc_list .li {
  padding: 20px 0;
  line-height: 21px;
  letter-spacing: -0.03em;
  border-bottom: 1px solid #EAEAEA;
  overflow: hidden;
}

.pen_story .desc_list .li:last-of-type {
  border-bottom: none;
}

.pen_story .desc_list .li .desc {
  float: left;
  width: calc(50% - 20px);
  margin-right: 40px;
}

.pen_story .desc_list .li .desc .txt {
  margin-right: 0;
}

.pen_story .desc_list .li .img {
  float: left;
}

.pen_story .desc_list .tit {
  font-weight: 700;
  margin-bottom: 20px;
}

.pen_story .desc_list .gen {
  color: #474C98;
  margin-right: 5px;
}

.pen_story .desc_list.ty_tits {
  width: calc(50% - 20px);
  margin-right: 40px;
  float: left;
}

.pen_story .desc_list.ty_tits .li {
  padding: 9px 0;
}

.pen_story .desc_list.ty_tits .li:first-of-type {
  padding-top: 0;
}

.pen_story .desc_list.ty_tits .tit {
  margin-bottom: 0;
  line-height: 21px;
}

/***** 3교제 커스텀 *****/
/* 리뷰작성 */
.review_prod_info + .form_wrap.type_md {
  margin-top: 24px;
}

.form_wrap.type_md .form_box .form_title .form_label {
  font-size: 15px;
  line-height: 23px;
}

.tag_wrap button.tag_item.active {
  background-color: #fff;
  border-color: #da2128;
  color: #da2128;
}

.thumbnail_product_item:after {
  display: none;
}

.thumbnail_product_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
  min-width: 250px;
  min-height: 10px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.ui-dialog-content .dialog_contents .thumbnail_round_box .thumbnail_product_item .info_area {
  margin: 0;
  padding: 0 0 0 20px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.ui-dialog-content .dialog_contents .thumbnail_round_box .thumbnail_product_item .thumbnail_area {
  width: 94px;
  border-radius: 6px;
  overflow: hidden;
}

.dialog_wrapper .ui-dialog .dialog_wrap.ui-dialog-content .dialog_contents .thumbnail_round_box .thumbnail_product_item .thumbnail_area img {
  width: 100%;
}

.thumbnail_product_item .info_area .info_product_name {
  padding-top: 7px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.thumbnail_product_item .info_area .rating-container {
  margin-top: 15px;
}

.rating-container.has_caption .caption .caption-badge .val {
  color: #da2128;
}

.rating-container .rating-stars .empty-stars .star .glyphicon-star-empty:before {
  background-image: url("../images/guide/empty_star.svg");
}

.rating-container .rating-stars .filled-stars .star .glyphicon-star:before {
  background-image: url("../images/guide/filled_star.svg");
}

.info_text.font_size_def {
  margin-bottom: 10px;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
}

.title_wrap.title_size_def {
  padding-bottom: 10px;
}
