@charset "UTF-8";
/*
    공통
*/
/*$imgUrl :"../images/";*/
/*$fontUrl :"http://image.kyobobook.co.kr/newimages/giftshop_new/resources/font/";*/
/***** 쿠폰/ 혜택 *****/
.wel_coupon {
  padding: 100px 0;
  background: #000 url("http://image.kyobobook.co.kr/newimages/giftshop_new/resources/images/pc/guide/cpon_area_bg.svg") center/1200px 571px no-repeat;
  color: #fff;
}

.wel_coupon .ht_tit_big {
  margin-bottom: 10px;
  color: #fff;
  font-size: 60px;
  line-height: 76px;
  letter-spacing: -1px;
}

.wel_coupon .ht_tit_big > img {
  width: 56px;
  margin-top: -7px;
  margin-left: 5px;
}

.wel_coupon .point_line:before {
  top: 44px;
}

.wel_coupon .ht_tit06 {
  margin-bottom: 18px;
  color: #fff;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: center;
}

.wel_coupon .btn_wel_live {
  padding: 0 29px;
  font-weight: 500;
}

/* cpon_subscription_wrap */
.cpon_subscription_wrap {
  width: 479px;
  margin: 0 auto;
}

.cpon_subscription_wrap .cpon {
  position: relative;
  margin-bottom: 10px;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  color: #000;
}

.cpon_subscription_wrap .cpon:last-of-type {
  margin-bottom: 0;
}

.cpon_subscription_wrap .cpon:before {
  position: absolute;
  left: 36px;
  top: -6px;
  width: 12px;
  height: 12px;
  background-color: #000;
  border-radius: 50%;
  content: "";
}

.cpon_subscription_wrap .cpon:after {
  position: absolute;
  left: 36px;
  bottom: -6px;
  width: 12px;
  height: 12px;
  background-color: #000;
  border-radius: 50%;
  content: "";
}

.cpon_subscription_wrap .cpon .cpon_name {
  margin-bottom: 5px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
}

.cpon_subscription_wrap .cpon .cpon_kind {
  margin-bottom: 2px;
  font-family: 'Gmarket Sans';
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
}

.cpon_subscription_wrap .cpon .cpon_desc {
  color: #767676;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.cpon_subscription_wrap .cpon .dash {
  position: absolute;
  left: 42px;
  top: 0;
  width: 1px;
  height: 100%;
  border-left: 1px dashed #000;
}

.cpon_subscription_wrap .cpon .barcode {
  position: absolute;
  right: 0;
  top: 50%;
  width: 16px;
  height: 40px;
  margin-top: -20px;
  background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/resources/images/pc/guide/cpon_barcode.svg") no-repeat center center/cover;
}

/* member_bnf_list */
.member_bnf_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 720px;
  margin: 0 auto;
}

.member_bnf_list .membet_bnf_item {
  width: 160px;
  min-height: 100% !important;
}

.member_bnf_list .membet_bnf_item .icon {
  width: 160px;
  height: 160px;
  margin-bottom: 15px;
  padding: 35px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}

.member_bnf_list .membet_bnf_item .icon > img {
  height: 100%;
}

.member_bnf_list .membet_bnf_item .bnf_name {
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
}

.member_bnf_list .membet_bnf_item .bnf_amount {
  color: #d4ff1a;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
}

/***  다양한 혜택 :.wel_benefits ***/
.wel_benefits.bg_color {
  background-color: #f7f7f7;
}

.wel_benefits .ht_tit_big02 {
  margin-bottom: 16px;
  font-family: 'Gmarket Sans';
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -1px;
}

.wel_benefits .point_line:before {
  top: 20px;
}

.wel_benefits .benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 994px;
  margin: 0 auto;
}

.wel_benefits .benefits .benefit_item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  width: 479px;
  padding: 34px 40px 34px 116px;
  border-bottom: 1px solid #eaeaea;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wel_benefits .benefits .benefit_item:nth-of-type(1), .wel_benefits .benefits .benefit_item:nth-of-type(2) {
  border-top: 1px solid #808080;
}

.wel_benefits .benefits .benefit_item:nth-of-type(2n + 1) {
  margin-right: 36px;
}

.wel_benefits .benefits .benefit_item .icon {
  position: absolute;
  left: 30px;
  top: 24px;
  width: 70px;
  height: 70px;
}

.wel_benefits .benefits .benefit_item .icon img {
  width: 100%;
}

.wel_benefits .benefits .benefit_item .bnf_tit {
  margin-bottom: 7px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.wel_benefits .benefits .benefit_item .bnf_sub {
  color: #767676;
  font-size: 16px;
  line-height: 24px;
}

/*** 또 다른 혜택 ***/
/* bnf_card_area_top */
.bnf_card_area_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.bnf_card_area_top + .bnf_card_area_btm {
  margin-top: 30px;
}

.bnf_card {
  position: relative;
  width: 582px;
  min-height: 312px;
  padding: 40px 30px 30px 40px;
  background-color: #ff224e;
  border: 2px solid #000;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.bnf_card.ty01 {
  margin-right: 36px;
  color: #fff;
}

.bnf_card.ty01 .to_external {
  color: #fff;
}

.bnf_card.ty02 {
  background-color: #ffeb01;
}

.bnf_card.ty02 .to_external:before {
  border-color: #000;
}

.bnf_card.ty02 .bnf_card_foot {
  margin-top: 65px;
}

.bnf_card .card_tit {
  margin-bottom: 17px;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}

.bnf_card .to_external {
  position: relative;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.8;
}

.bnf_card .to_external:before {
  position: absolute;
  right: -12px;
  top: 6px;
  width: 8px;
  height: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
}

.bnf_card .bnf_card_foot {
  position: absolute;
  right: 28px;
  bottom: 28px;
}

.bnf_card .bnf_card_foot .company {
  font-family: 'Gmarket Sans';
  font-size: 14px;
  line-height: 34px;
}

.bnf_card .bnf_card_foot .alliance {
  display: inline-block;
  position: relative;
  top: 7px;
  height: 22px;
  margin-left: -4px;
  margin-right: -4px;
  padding-right: 22px;
  background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/resources/images/pc/guide/ico_bnf_alliance.svg") no-repeat center center/10px;
}

.bnf_card .bnf_card_foot .kind {
  font-family: 'Gmarket Sans';
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.bnf_card .bnf_card_foot .bnf_card_ft_icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-left: 6px;
  font-size: 0;
  vertical-align: top;
}

.bnf_card .bnf_card_foot .bnf_card_ft_icon:first-of-type {
  margin-left: 0;
}

.bnf_card .bnf_card_foot .bnf_card_ft_icon > img {
  width: 100%;
}

/* bnf_card_area_btm */
.bnf_card_area_btm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bnf_card_default {
  position: relative;
  width: 376px;
  min-height: 316px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 12px;
  overflow: hidden;
}

.bnf_card_default .card_body {
  position: relative;
  height: 100%;
  padding: 35px 30px 0px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bnf_card_default .card_body .card_icon {
  position: absolute;
  right: 30px;
  top: 34px;
  width: 70px;
  height: 70px;
}

.bnf_card_default .card_body .card_icon > img {
  width: 100%;
}

.bnf_card_default .card_body .tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 72px;
  padding-right: 80px;
  font-family: 'Gmarket Sans';
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
}

.bnf_card_default .card_body .cpon_desc {
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
}

.bnf_card_default .card_body .external {
  position: absolute;
  left: 30px;
  bottom: 38px;
}

.bnf_card_default .card_body .external .to_external {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.bnf_card_default .card_body .external .to_external:before {
  position: absolute;
  left: 100%;
  top: 4px;
  width: 6px;
  height: 6px;
  margin-left: 3px;
  border-top: 1px solid;
  border-right: 1px solid;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
}

.bnf_card_default .card_body .new_bnf {
  border-top: 1px solid #eaeaea;
  margin-top: 30px;
  padding: 19px 0 30px 0;
}

.bnf_card_default .card_body .new_bnf .only_app_icon {
  display: inline-block;
  position: relative;
  top: -1px;
  margin-right: 6px;
  padding: 6px 12px 4px 12px;
  background-color: #000;
  border-radius: 50px;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  vertical-align: top;
}

.bnf_card_default .card_body .new_bnf .cpon_price {
  display: inline-block;
  color: #da2128;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  vertical-align: top;
}

.bnf_card_default .card_body .new_bnf .desc {
  display: block;
  margin-top: 7px;
}

.bnf_card_default .card_btm {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.bnf_card_default .card_btm .down_cpon {
  position: relative;
  width: 100%;
  padding: 14px 0;
  background-color: #292929;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.bnf_card_default .card_btm .down_cpon span {
  position: relative;
}

.bnf_card_default .card_btm .down_cpon span:before {
  position: absolute;
  left: -19px;
  top: -2px;
  width: 14px;
  height: 24px;
  background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/resources/images/pc/guide/ico_download_white.svg") no-repeat center/12px;
  content: "";
}

.bnf_card_default.disabled .new_bnf .only_app_icon {
  background-color: #d5d5d5;
}

.bnf_card_default.disabled .new_bnf .cpon_price {
  color: #d5d5d5;
}

.bnf_card_default.disabled .new_bnf .desc {
  color: rgba(0, 0, 0, 0.2);
}

.bnf_card_default.disabled .card_btm {
  background-color: #bebebe;
}

/*** 상품평 작성 : .wel_review ***/
.wel_review .ht_tit_big02 {
  margin-bottom: 16px;
  font-family: 'Gmarket Sans';
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -1px;
}

.wel_review .ht_tit_big02 img {
  width: 46px;
  margin-left: 7px;
}

.wel_review .point_line:before {
  top: 20px;
}

.wel_review .rev_notice_tit {
  margin: 30px 35px 10px 35px;
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
}

.wel_review .review_bnf_desc_list {
  margin: 0 35px;
}

.review_bnf_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-top: 24px;
  padding: 20px 0 30px 0;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  overflow: hidden;
}

.review_bnf_list .bnf_item {
  position: relative;
  width: calc(100% / 3);
}

.review_bnf_list .bnf_item:before {
  position: absolute;
  left: 0;
  top: 10px;
  width: 1px;
  height: calc(100% - 10px);
  border-left: 1px dashed #eaeaea;
  content: "";
}

.review_bnf_list .bnf_item:first-child:before {
  display: none;
}

.review_bnf_list .bnf_item .icon {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  margin-bottom: 4px;
}

.review_bnf_list .bnf_item .icon > img {
  width: 100%;
}

.review_bnf_list .bnf_item .point {
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
}

.review_bnf_list .bnf_item .info {
  color: #767676;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.review_bnf_list .bnf_item .info_sub {
  margin-top: 2px;
  color: rgba(0, 0, 0, 0.3);
  line-height: 22px;
  text-align: center;
}

/*** 반응최고 이벤트 : .wel_reaction ***/
.wel_review + .wel_reaction .contents_inner:before {
  position: absolute;
  left: 0;
  top: -60px;
  width: 100%;
  height: 1px;
  background: #eaeaea;
  content: "";
}

.wel_reaction .ht_tit_big02 {
  margin-bottom: 20px;
  font-family: 'Gmarket Sans';
  font-weight: 500;
}

.wel_reaction .ht_tit_big02 > img {
  display: inline-block;
  width: 42px;
  margin: 2px 0 0 8px;
  vertical-align: top;
}

.icon3_banner .swiper-container {
  margin-left: -18px;
  padding-left: 18px;
}

.icon3_banner .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.icon3_banner .evt_list {
  margin: 0;
}

.icon3_banner .evt_list > li {
  margin: 0 36px 0 0;
}

.icon3_banner .evt_list > li:last-of-type {
  margin: 0;
}

/***** 바로드림 ******/
.pickup_wrap {
  padding-bottom: 60px !important;
  background: #f4f4f4 url("http://image.kyobobook.co.kr/newimages/giftshop_new/resources/images/pc/guide/pickup_bg.svg") center 120px/1200px 671px no-repeat;
}

.pickup_wrap .tit {
  font-family: 'Gmarket Sans';
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -1px;
  text-align: center;
}

.pickup_wrap .tit > img {
  display: inline-block;
  margin: -13px 2px 0 3px;
}

/* pickup_top_area */
.pickup_top_area {
  position: relative;
  height: 440px;
  margin-bottom: 37px;
  overflow: hidden;
}

.pickup_top_area .shopping_img {
  position: relative;
  top: -127px;
  width: 235px;
  height: 585px;
  margin: 0 auto;
  z-index: 1;
}

.pickup_top_area .shopping_img img {
  width: 100%;
}

.pickup_top_area .pick_up_bubble {
  position: absolute;
  left: 453px;
  top: 38%;
  width: 133px;
  height: 78px;
  background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/resources/images/pc/guide/wel_pickup_bubble.svg") no-repeat;
  z-index: 2;
}

/* pickup_step_area */
.pickup_step_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 540px;
  margin: 54px auto 0 auto;
}

.pickup_step_area:before {
  position: absolute;
  left: calc(100% / 6 - 20px);
  top: 19px;
  width: calc(100% / 3 * 2 + 40px);
  height: 1px;
  border-top: 1px dashed #000;
  content: "";
}

.pickup_step {
  position: relative;
  text-align: center;
}

.pickup_step .num_icon {
  width: 42px;
  height: 42px;
  margin: 0 auto 15px auto;
  background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/resources/images/pc/guide/wel_pickup_num.svg") no-repeat center/99%;
  font-size: 18px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  z-index: 2;
}

.pickup_step .step_icon {
  height: 80px;
  margin: 0 auto 14px auto;
}

.pickup_step .desc {
  min-width: 130px;
  font-size: 20px;
  line-height: 25px;
  word-break: keep-all;
  letter-spacing: -0.5px;
}

.pickup_step .desc .point_line:before {
  top: 12px;
}

.pickup_step:nth-of-type(1) .step_icon {
  background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/resources/images/pc/guide/wel_pickup_step1.svg") no-repeat center/contain;
}

.pickup_step:nth-of-type(2) .step_icon {
  background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/resources/images/pc/guide/wel_pickup_step2.svg") no-repeat center/contain;
}

.pickup_step:nth-of-type(3) .step_icon {
  background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/resources/images/pc/guide/wel_pickup_step3.svg") no-repeat center/contain;
}

.pickup_step .point_line:before {
  height: 12px;
}

.review_bnf_desc_list {
  margin-top: 25px;
}

.pickup_notice_area {
  width: 708px;
  margin: 0 auto;
  padding: 0 20px;
}

.pickup_notice_bubble {
  position: relative;
  width: 708px;
  margin: 40px auto 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #000;
  text-align: center;
}

.pickup_notice_bubble:before {
  position: absolute;
  left: 50%;
  top: -20px;
  width: 20px;
  height: 26px;
  margin-left: -10px;
  background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/resources/images/pc/guide/wel_pickup_bubble_before.svg") no-repeat center center;
  content: "";
  z-index: 1;
}

.pickup_notice_bubble .tit {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Roboto,"Noto Sans KR";
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
}

.pickup_notice_bubble .tit .icon > img {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.pickup_notice_bubble .notice_desc {
  margin-bottom: 20px;
  line-height: 22px;
}

.pickup_notice_bubble .to_external {
  position: relative;
  line-height: 20px;
}

.pickup_notice_bubble .to_external:before {
  position: absolute;
  left: 100%;
  top: 5px;
  width: 6px;
  height: 6px;
  margin-left: 3px;
  border-top: 1px solid;
  border-right: 1px solid;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
}

/* review_bnf_desc_list */
.review_bnf_desc_list .bnf_desc {
  position: relative;
  margin-bottom: 8px;
  padding-left: 10px;
  color: #595959;
  font-size: 14px;
  line-height: 22px;
  word-break: keep-all;
}

.review_bnf_desc_list .bnf_desc:last-of-type {
  margin-bottom: 0;
}

.review_bnf_desc_list .bnf_desc:before {
  position: absolute;
  left: 2px;
  top: 8px;
  width: 2px;
  height: 2px;
  background-color: #999;
  content: "";
}

/***** 시스템 에러 *****/
/*** 시스템 에러 ***/
.system_err {
  position: relative;
  padding-top: 180px;
  text-align: center;
}

.system_err:before {
  position: absolute;
  left: 50%;
  top: 0;
  width: 140px;
  height: 140px;
  margin-left: -70px;
  background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/resources/images/pc/guide/ico_system_error.svg") center no-repeat;
  content: "";
}

.system_err .ht_tit04 {
  text-align: center;
}

.system_err .btn_area {
  margin-top: 60px;
}

.system_err .btn_area button {
  letter-spacing: -0.4px;
}

/*** 시스템 점검 사전 안내 ***/
/* pop_phone_info_msg */
.pop_phone_info_msg {
  margin-top: 28px;
}

.pop_phone_info_msg .sys_check {
  padding-top: 76px;
}

.pop_phone_info_msg .sys_check:before {
  height: 56px;
  background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/resources/images/pc/guide/ico_pop_system_check.svg") center/100% no-repeat;
  content: "";
}

.pop_phone_info_msg .sys_check_ing {
  padding-top: 76px;
}

.pop_phone_info_msg .sys_check_ing:before {
  height: 56px;
  background: url("http://image.kyobobook.co.kr/newimages/giftshop_new/resources/images/pc/guide/ico_pop_system_check_ing.svg") center/100% no-repeat;
  content: "";
}

/* pop_box_info */
.pop_box_info {
  border-radius: 6px;
}

.pop_box_info .dl {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  line-height: 22px;
  overflow: hidden;
}

.pop_box_info .dl:first-of-type {
  margin-top: 0;
}

.pop_box_info .dt {
  float: left;
  width: 60px;
  font-weight: 500;
}

.pop_box_info .dd {
  float: right;
  width: calc(100% - 60px);
  color: #595959;
}

/* pop_info */
.pop_info {
  color: #767676;
}

.pop_info .none {
  padding-left: 0;
}

.pop_info .none:before {
  content: "";
}

/*** welcome_toast ***/
.welcome_toast {
  left: 40px;
  top: calc(100% - 40px);
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.welcome_toast .toast_message {
  background: rgba(0, 0, 0, 0);
  padding: 0 !important;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.welcome_toast .icon_toast {
  width: 70px;
  height: 70px;
  margin-right: 22px;
}

.welcome_toast .txt_toast {
  min-width: 347px;
  position: relative;
  background: #d4ff1a;
  border: 2px solid #000;
  border-radius: 44px;
  padding: 19px 40px 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.016px;
}

.welcome_toast .txt_toast:before {
  position: absolute;
  left: -11px;
  top: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid #000;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  content: "";
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: -6px;
  z-index: 2;
}

.welcome_toast .txt_toast:after {
  position: absolute;
  left: -7px;
  top: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid #d4ff1a;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  content: "";
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: -6px;
  z-index: 2;
}

.welcome_toast .txt_toast .btn_txt_more {
  display: inline-block;
  line-height: 20px;
  margin-top: 4px;
  margin-bottom: -7px;
}

.welcome_toast .txt_toast .btn_txt_more a {
  font-size: 14px;
  color: #595959;
}

/* 이미지 팝업 */
.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel {
  padding: 0;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel.img_pop_wrap {
  background: none;
  overflow: visible;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.img_pop {
  position: relative;
  padding: 0;
  border-radius: 16px 16px 0 0;
  overflow: visible;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.img_pop .evt_pop_img {
  position: relative;
  height: 0;
  padding-top: 144%;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.img_pop .evt_pop_img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.img_pop .tag_wrap .tag_item {
  padding: 3px 15px 2px 12px;
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  line-height: 15px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.img_pop .evt_pop_content {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 65px;
  padding: 0 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.img_pop .evt_pop_content .main_msg {
  font-size: 28px;
  color: #000;
  width: 100%;
  line-height: 36px;
  font-weight: 700;
  margin-top: 12px;
  letter-spacing: -0.7px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_contents.img_pop .evt_pop_content .sub_txt {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 18px;
  margin-top: 15px;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_footer {
  background-color: #fff;
  border-radius: 0 0 16px 16px;
  overflow: hidden;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_footer.no_margin_top {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_footer.no_margin_top button.btn_line_white {
  position: relative;
  margin: 0;
  background: none;
  border: none;
  border-radius: 0;
  color: #767676;
  font-size: 14px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_footer.no_margin_top button.btn_line_white:first-of-type:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 14px;
  background-color: #d5d5d5;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_footer.no_margin_top button.btn_line_white:active, .dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_footer.no_margin_top button.btn_line_white:focus, .dialog_wrapper .ui-dialog .dialog_wrap.dialog_wrap_wel .dialog_footer.no_margin_top button.btn_line_white:hover {
  background: #f4f4f4;
}

/* 이미지 팝업(하단) : popImgBm01*/
.pop_img_bn {
  width: 100%;
  position: fixed;
  display: none;
  min-width: 1440px;
  left: 0;
  bottom: -50%;
  -webkit-animation: bottomPopAnimation 0.23s;
          animation: bottomPopAnimation 0.23s;
}

@-webkit-keyframes bottomPopAnimation {
  0% {
    bottom: -50%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bottomPopAnimation {
  0% {
    bottom: -50%;
  }
  100% {
    bottom: 0;
  }
}

.pop_img_bn .pop_img_bn_wrap {
  width: 1200px;
  position: relative;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pop_img_bn .btn_dialog_close {
  right: 0;
  top: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.pop_img_bn .btn_dialog_close .ico_dialog_close {
  position: relative;
  z-index: 3;
  display: block;
  width: 35px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-image: url(http://image.kyobobook.co.kr/newimages/giftshop_new/resources/images/pc/kyobo/btn_dialog_close@2x.png);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
  margin-top: -7px;
  margin-left: -12px;
}

.pop_img_bn .pop_img_bn_header {
  padding-bottom: 12px;
  margin-top: 10px;
}

.pop_img_bn .pop_img_bn_header .form_chk input + label {
  font-size: 13px;
  line-height: 19px;
  text-shadow: 1px 1px 0px white;
}

.pop_img_bn .pop_img_bn_content {
  margin-bottom: 30px;
}

.pop_img_bn .evt_pop_content {
  display: block;
  position: absolute;
  left: 60px;
  top: calc(50% + 5px);
  width: calc(100% - 138px);
  padding-left: 78px;
  color: #000;
  text-align: left;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}

.pop_img_bn .evt_pop_content .tag_wrap {
  position: absolute;
  left: 0;
  top: 5px;
}

.pop_img_bn .evt_pop_content .tag_wrap .tag_item {
  padding: 4px 16px;
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.14px;
}

.pop_img_bn .evt_pop_content .main_msg {
  color: #000;
  font-size: 24px;
  line-height: 35px;
  font-weight: 700;
  letter-spacing: -0.7px;
}

.pop_img_bn .evt_pop_content .sub_txt {
  margin-top: 3px;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.pop_img_bn.open {
  display: inline-block;
  bottom: 0;
  z-index: 3;
}
