@charset "UTF-8";
/***** * 웰컴메인 * *****/
/*** 핫트랙스 라이브 : wel_live ***/
.wel_live {
  padding: 95px 0 80px 0;
  background-color: #000;
  overflow: hidden;
}

.wel_live .wel_live_txt li {
  position: absolute;
  height: 114px;
  width: 100%;
  left: 0;
  background: url(../images/main/img_wel_live_txt.svg) center repeat-x;
  opacity: 0.3;
}

.wel_live .wel_live_txt li:nth-child(odd) {
  -webkit-animation: wel_live_txt _01 both infinite linear 50s;
          animation: wel_live_txt _01 both infinite linear 50s;
}

.wel_live .wel_live_txt li:nth-child(2n) {
  -webkit-animation: wel_live_txt _02 both infinite linear 50s;
          animation: wel_live_txt _02 both infinite linear 50s;
}

.wel_live .wel_live_txt01 {
  top: 5px;
}

.wel_live .wel_live_txt02 {
  top: 119px;
}

.wel_live .wel_live_txt03 {
  top: 233px;
}

.wel_live .wel_live_txt04 {
  top: 347px;
}

.wel_live .wel_live_txt05 {
  top: 461px;
}

.wel_live .wel_live_txt06 {
  top: 575px;
}

.wel_live .mc_tit {
  margin-bottom: 35px;
  padding: 0 30px;
  text-align: center;
}

.wel_live .mc_tit img {
  height: 58px;
  vertical-align: top;
}

.wel_live .mc_tit img:nth-child(2) {
  margin-top: -4px;
  margin-left: 2px;
}

/* wel_live _cont */
.wel_live_cont .swiper-wrapper .swiper-slide {
  text-align: center;
  width: 60%;
  margin-left: 230px;
}

.wel_live_cont .swiper-wrapper .swiper-slide .img_wel_live img,
.wel_live_cont .swiper-wrapper .swiper-slide .wel_live_time,
.wel_live_cont .swiper-wrapper .swiper-slide .content_wel_live {
  opacity: 0.2;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.wel_live_cont .swiper-wrapper .swiper-slide:after {
  background: url(../images/main/ico_mus_mc_fan_cont_ink.svg) center/100% no-repeat;
  right: -6px;
  bottom: 345px;
  width: 200px;
  height: 130px;
}

.wel_live_cont .swiper-wrapper .swiper-slide.swiper-slide-active .img_wel_live img,
.wel_live_cont .swiper-wrapper .swiper-slide.swiper-slide-active .wel_live_time,
.wel_live_cont .swiper-wrapper .swiper-slide.swiper-slide-active .content_wel_live {
  opacity: 1;
}

.wel_live_cont .swiper-wrapper .swiper-slide.swiper-slide-active.on .wel_live_good_ani {
  display: block;
}

.wel_live_cont .swiper-container {
  overflow: inherit;
}

.wel_live_cont .swiper-container-horizontal .swiper_control {
  position: initial;
  margin-top: 30px;
}

.wel_live_cont .swiper-container-horizontal .swiper_control .swiper-button-next {
  right: 69px;
  left: initial;
  top: 38%;
  position: absolute;
  border: 0;
}

.wel_live_cont .swiper-container-horizontal .swiper_control .swiper-button-prev {
  left: 69px;
  top: 38%;
  position: absolute;
  border: 0;
}

.wel_live_cont .swiper-container-horizontal .swiper_control .swiper-pagination-current {
  font-weight: 700 !important;
  color: #fff !important;
}

.wel_live_cont .swiper-container-horizontal .swiper_control .swiper-button-next:hover:after, .wel_live_cont .swiper-container-horizontal .swiper_control .swiper-button-prev:hover:after {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.8);
}

.wel_live_cont .swiper-container-horizontal .swiper_control .swiper-button-next:after, .wel_live_cont .swiper-container-horizontal .swiper_control .swiper-button-prev:after {
  background: url(../images/guide/btn_banner_pagn_w.svg) center no-repeat;
  border-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.wel_live_cont .swiper-pagination.swiper-pagination-fraction {
  height: 14px;
  line-height: 14px;
}

.wel_live_cont .swiper-pagination.swiper-pagination-fraction .swiper-pagination-total:before {
  color: #767676 !important;
}

.wel_live_cont .swiper-pagination.swiper-pagination-fraction span {
  font-size: 12px;
  line-height: 14px !important;
}

.wel_live_cont a {
  position: initial;
}

.live_box {
  display: inline-block;
  position: relative;
  width: 654px;
}

.live_box .img_wel_live {
  float: left;
  width: 250px;
  position: relative;
  background: #000;
  border-radius: 12px;
  overflow: hidden;
}

.live_box .img_wel_live .wel_live_time {
  color: #fff;
  font-family: 'Gmarket Sans';
  font-weight: 600;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.live_box .img_wel_live .wel_live_time span {
  font-size: 26px;
  padding-top: 140px;
  display: inline-block;
}

.live_box .img_wel_live .wel_live_time p {
  font-size: 58px;
}

.live_box .content_wel_live {
  width: 404px;
  float: left;
  color: #fff;
  padding-left: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  display: table-cell;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: left;
}

.live_box .content_wel_live .tit_wel_live {
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.live_box .content_wel_live .wel_live_box {
  padding-top: 31px;
  margin-top: 25px;
  border-top: 1px dashed #767676;
}

.live_box .content_wel_live .wel_live_box .img {
  width: 60px;
  height: 60px;
  background: #000;
  border-radius: 4px;
  overflow: hidden;
  float: left;
  margin-right: 15px;
}

.live_box .content_wel_live .wel_live_box .txt {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  font-size: 13px;
  line-height: 19px;
}

.live_box .content_wel_live .wel_live_box .txt .s1 {
  font-size: 13px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.live_box .content_wel_live .wel_live_box .txt .s2 {
  font-size: 16px;
  margin-top: 5px;
}

.live_box .content_wel_live .wel_live_box .txt .s2 strong {
  color: #da2128;
}

.live_box .content_wel_live .wel_live_box .txt .s2 em {
  font-weight: 400;
  text-decoration: line-through;
  color: #767676;
  font-size: 14px;
}

.live_btn {
  position: relative;
  margin-top: 14px;
}

.btn_wel_live {
  display: inline-block;
  position: relative;
  height: 50px;
  padding: 0px 30px;
  border-radius: 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  line-height: 50px;
  overflow: hidden;
  font-size: 18px;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.btn_wel_live:hover {
  background: rgba(255, 255, 255, 0.2);
}

.btn_wel_live:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
}

.btn_wel_live.on i {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(42%, #f00), color-stop(50%, #ffc400), color-stop(58%, #f00)) center no-repeat;
  background: linear-gradient(90deg, #f00 42%, #ffc400 50%, #f00 58%) center no-repeat;
  background-origin: border-box;
  content: "";
  -webkit-animation: btn_wel_live 2.2s linear infinite;
          animation: btn_wel_live 2.2s linear infinite;
}

.btn_wel_live.on:before {
  position: absolute;
  left: -10px;
  top: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border: 10px solid #000;
  border-radius: 29px;
  content: "";
  z-index: 2;
}

.btn_wel_live.on:after {
  left: 1px;
  top: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: #000;
  border: 0;
}

.btn_wel_live.on span {
  display: inline-block;
  position: relative;
  padding-left: 18px;
  z-index: 2;
}

.btn_wel_live.on span:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 11px;
  height: 12px;
  margin-top: -4px;
  background: url("../images/main/ico_wel_live_btn.svg") center/100% no-repeat;
  content: "";
}

.btn_wel_live.on + .alarm_chk {
  display: none;
}

@-webkit-keyframes wel_live_txt_01 {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: -1150px center;
  }
}

@keyframes wel_live_txt_01 {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: -1150px center;
  }
}

@-webkit-keyframes wel_live_txt_02 {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: 1150px center;
  }
}

@keyframes wel_live_txt_02 {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: 1150px center;
  }
}

@-webkit-keyframes btn_wel_live {
  0% {
    -webkit-transform: rotate(0deg) scale(5);
            transform: rotate(0deg) scale(5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(5);
            transform: rotate(360deg) scale(5);
  }
}

@keyframes btn_wel_live {
  0% {
    -webkit-transform: rotate(0deg) scale(5);
            transform: rotate(0deg) scale(5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(5);
            transform: rotate(360deg) scale(5);
  }
}

/* alarm_chk */
.alarm_chk {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-left: 6px;
}

.alarm_chk input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
  overflow: hidden;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.alarm_chk input[type="checkbox"] + label {
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  background: #000 url("../images/main/ico_wel_live_alarm.svg") center/100% no-repeat;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
  z-index: 1;
}

.alarm_chk input[type="checkbox"]:checked + label {
  background-image: url("../images/main/ico_wel_live_alarm_on.svg");
}

/* wel_live_good_ani */
.wel_live_good_ani {
  display: none;
  position: absolute;
  right: 0;
  top: 240px;
}

.wel_live_good_ani i {
  display: block;
  position: absolute;
  right: 12px;
  bottom: 30px;
  width: 18px;
  height: 18px;
  background: url("../images/main/ico_heart.svg") center/100% no-repeat;
  opacity: 0;
}

.wel_live_good_ani i:nth-child(1) {
  -webkit-animation: wel_live_good1 2s 0.2s linear infinite;
          animation: wel_live_good1 2s 0.2s linear infinite;
}

.wel_live_good_ani i:nth-child(2) {
  -webkit-animation: wel_live_good2 2s 0.4s linear infinite;
          animation: wel_live_good2 2s 0.4s linear infinite;
}

.wel_live_good_ani i:nth-child(3) {
  -webkit-animation: wel_live_good3 2s 0.6s linear infinite;
          animation: wel_live_good3 2s 0.6s linear infinite;
}

.wel_live_good_ani i:nth-child(4) {
  -webkit-animation: wel_live_good4 2s 0.8s linear infinite;
          animation: wel_live_good4 2s 0.8s linear infinite;
}

.wel_live_good_ani i:nth-child(5) {
  -webkit-animation: wel_live_good5 2s 1.0s linear infinite;
          animation: wel_live_good5 2s 1.0s linear infinite;
}

.wel_live_good_ani i:nth-child(6) {
  -webkit-animation: wel_live_good6 2s 1.2s linear infinite;
          animation: wel_live_good6 2s 1.2s linear infinite;
}

.wel_live_good_ani i:nth-child(7) {
  -webkit-animation: wel_live_good1 2s 1.4s linear infinite;
          animation: wel_live_good1 2s 1.4s linear infinite;
}

.wel_live_good_ani i:nth-child(8) {
  -webkit-animation: wel_live_good2 2s 1.6s linear infinite;
          animation: wel_live_good2 2s 1.6s linear infinite;
}

.wel_live_good_ani i:nth-child(9) {
  -webkit-animation: wel_live_good3 2s 1.8s linear infinite;
          animation: wel_live_good3 2s 1.8s linear infinite;
}

.tit_wel_live + .txt_wel_live + .live_btn + .wel_live_good_ani {
  top: 240px;
  opacity: 1;
}

@-webkit-keyframes wel_live_good1 {
  0% {
    bottom: 12px;
    opacity: 1;
  }
  50% {
    right: 30px;
    -webkit-transform: rotate(-10deg) scale(0.9);
            transform: rotate(-10deg) scale(0.9);
  }
  100% {
    bottom: 220px;
    opacity: 0;
  }
}

@keyframes wel_live_good1 {
  0% {
    bottom: 12px;
    opacity: 1;
  }
  50% {
    right: 30px;
    -webkit-transform: rotate(-10deg) scale(0.9);
            transform: rotate(-10deg) scale(0.9);
  }
  100% {
    bottom: 220px;
    opacity: 0;
  }
}

@-webkit-keyframes wel_live_good2 {
  0% {
    bottom: 12px;
    opacity: 1;
  }
  50% {
    right: 10px;
    -webkit-transform: rotate(10deg) scale(0.9);
            transform: rotate(10deg) scale(0.9);
  }
  100% {
    bottom: 230px;
    opacity: 0;
  }
}

@keyframes wel_live_good2 {
  0% {
    bottom: 12px;
    opacity: 1;
  }
  50% {
    right: 10px;
    -webkit-transform: rotate(10deg) scale(0.9);
            transform: rotate(10deg) scale(0.9);
  }
  100% {
    bottom: 230px;
    opacity: 0;
  }
}

@-webkit-keyframes wel_live_good3 {
  0% {
    bottom: 12px;
    opacity: 1;
  }
  50% {
    right: -20px;
    -webkit-transform: rotate(-10deg) scale(0.9);
            transform: rotate(-10deg) scale(0.9);
  }
  100% {
    bottom: 220px;
    opacity: 0;
  }
}

@keyframes wel_live_good3 {
  0% {
    bottom: 12px;
    opacity: 1;
  }
  50% {
    right: -20px;
    -webkit-transform: rotate(-10deg) scale(0.9);
            transform: rotate(-10deg) scale(0.9);
  }
  100% {
    bottom: 220px;
    opacity: 0;
  }
}

@-webkit-keyframes wel_live_good4 {
  0% {
    bottom: 12px;
    opacity: 1;
  }
  50% {
    right: 20px;
    -webkit-transform: rotate(10deg) scale(0.9);
            transform: rotate(10deg) scale(0.9);
  }
  100% {
    bottom: 240px;
    opacity: 0;
  }
}

@keyframes wel_live_good4 {
  0% {
    bottom: 12px;
    opacity: 1;
  }
  50% {
    right: 20px;
    -webkit-transform: rotate(10deg) scale(0.9);
            transform: rotate(10deg) scale(0.9);
  }
  100% {
    bottom: 240px;
    opacity: 0;
  }
}

@-webkit-keyframes wel_live_good5 {
  0% {
    bottom: 12px;
    opacity: 1;
  }
  50% {
    right: -5px;
    -webkit-transform: rotate(-10deg) scale(0.9);
            transform: rotate(-10deg) scale(0.9);
  }
  100% {
    bottom: 220px;
    opacity: 0;
  }
}

@keyframes wel_live_good5 {
  0% {
    bottom: 12px;
    opacity: 1;
  }
  50% {
    right: -5px;
    -webkit-transform: rotate(-10deg) scale(0.9);
            transform: rotate(-10deg) scale(0.9);
  }
  100% {
    bottom: 220px;
    opacity: 0;
  }
}

@-webkit-keyframes wel_live_good6 {
  0% {
    bottom: 12px;
    opacity: 1;
  }
  50% {
    right: -10px;
    -webkit-transform: rotate(10deg) scale(0.9);
            transform: rotate(10deg) scale(0.9);
  }
  100% {
    bottom: 230px;
    opacity: 0;
  }
}

@keyframes wel_live_good6 {
  0% {
    bottom: 12px;
    opacity: 1;
  }
  50% {
    right: -10px;
    -webkit-transform: rotate(10deg) scale(0.9);
            transform: rotate(10deg) scale(0.9);
  }
  100% {
    bottom: 230px;
    opacity: 0;
  }
}

/*** 앵콜특가  ***/
/*** MD Pick : .wel_md_pick ***/
.wel_md_pick {
  padding: 40px 0 25px 0;
  background: url("../images/main/bg_wel_md_pick.jpg") center/100% repeat;
}

.wel_md_pick .mc_tit {
  margin-bottom: 10px;
  text-align: center;
}

.wel_md_pick .mc_tit img {
  width: 328px;
}

.wel_md_pick .contents_inner {
  width: 100%;
  overflow: hidden;
  max-width: 1800px;
}

.wel_md_pick .ht_tit_big02 img {
  position: relative;
  top: -3px;
  height: 43px;
  margin-left: 5px;
  vertical-align: top;
}

.wel_md_pick .star_fade_in02 img:nth-child(1) {
  position: absolute;
  left: 120px;
  top: -52px;
}

.wel_md_pick .star_fade_in02 img:nth-child(2) {
  position: absolute;
  right: 488px;
  top: -82px;
}

.wel_md_pick .star_fade_in02 img:nth-child(3) {
  position: absolute;
  right: -40px;
  bottom: -6px;
}

/* wel_md_pick_cont */
.wel_md_pick_cont {
  position: relative;
  margin: 0 auto 0 auto;
  width: 1540px;
}

.wel_md_pick_cont .swiper-slide {
  width: auto;
}

.wel_md_pick_cont .swiper-slide.swiper-slide-active {
  -webkit-transform: scale(1);
          transform: scale(1);
  width: 604px !important;
  z-index: 2;
}

.wel_md_pick_cont .swiper-slide.swiper-slide-active .product_pic {
  margin-left: 148px;
}

.wel_md_pick_cont .swiper-slide.swiper-slide-active .product_pic:before {
  border-width: 3px;
}

.wel_md_pick_cont .swiper-slide.swiper-slide-active.zoom_in .product_pic {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.wel_md_pick_cont .swiper-slide.swiper-slide-active.zoom_in .product_info {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  transition: transform 0.3s 0.4s, -webkit-transform 0.3s 0.4s, opacity 0.3s 0.4s;
}

.wel_md_pick_cont .swiper-container {
  overflow: inherit;
}

.wel_md_pick_cont .swiper-wrapper {
  margin-left: -178px;
}

.wel_md_pick_cont .swiper_control {
  position: static;
}

.wel_md_pick_cont .swiper_control .swiper-pagination {
  height: 14px !important;
  line-height: 14px !important;
}

.wel_md_pick_cont .swiper_control .swiper-pagination span {
  line-height: 14px !important;
}

.wel_md_pick_cont .swiper_control .swiper-button-prev,
.wel_md_pick_cont .swiper_control .swiper-button-next {
  position: absolute;
  top: 165px;
  z-index: 2;
}

.wel_md_pick_cont .swiper_control .swiper-button-prev {
  left: 496px;
}

.wel_md_pick_cont .swiper_control .swiper-button-next {
  left: 1000px;
}

.md_pick_box {
  text-align: center;
}

.md_pick_box .product_pic {
  position: relative;
  width: 368px;
  height: 368px;
  padding: 0;
  margin: 0 auto;
  background: #f7f7f7;
  border-radius: 12px;
  -webkit-transform: scale(0.74);
          transform: scale(0.74);
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.4s 0s;
  transition: -webkit-transform 0.4s 0s;
  transition: transform 0.4s 0s;
  transition: transform 0.4s 0s, -webkit-transform 0.4s 0s;
  width: 368px;
}

.md_pick_box .product_pic img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.md_pick_box .product_pic:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  content: "";
}

.md_pick_box .product_pic:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #000;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  z-index: 1;
}

.md_pick_box .product_info {
  position: relative;
  margin: 14px -10px 0 204px;
  background: #fff;
  border: solid #000;
  border-width: 2px 2px 3px 2px;
  border-radius: 40px;
  color: #000;
  font-weight: 700;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  width: 260px;
  height: 52px;
  font-size: 20px;
  padding-top: 0;
  line-height: 48px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.md_pick_box .product_info:before {
  position: absolute;
  left: 50%;
  top: -12px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 0;
  height: 0;
  border-bottom: 10px solid #000;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
}

.md_pick_box .product_info:after {
  position: absolute;
  left: 50%;
  top: -9px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 0;
  height: 0;
  border-bottom: 9px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
}

/*** 온니 ***/
/*** 실시간 쇼핑 검색어 : .wel_search ***/
.wel_search {
  padding-top: 75px;
  background: #eee;
}

.wel_search:before {
  content: none;
}

.wel_search .mc_tit {
  position: relative;
  font-size: 30px;
  line-height: 32px;
  font-family: 'Gmarket Sans';
  font-weight: 500;
  z-index: 0;
  text-align: center;
  padding-left: 53px;
}

.wel_search .mc_tit:before {
  position: absolute;
  left: 387px;
  top: -33px;
  width: 108px;
  height: 108px;
  background: url(../images/main/ico_wel_search.svg) center/100% no-repeat;
  content: "";
  z-index: -1;
}

/* wel_search_list */
.wel_search_list {
  position: relative;
  padding: 10px 105px 10px 62px;
}

.wel_search_list .swiper-wrapper {
  padding: 8px 0 8px 0;
}

.wel_search_list .swiper-slide {
  width: 100%;
  height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
  margin-bottom: 17px;
}

.wel_search_list .swiper-slide:last-child {
  margin-bottom: 0px;
}

.wel_search_list .swiper-slide a {
  display: block;
  position: relative;
}

.wel_search_list .swiper-slide em {
  position: absolute;
  left: -5px;
  top: 0;
  width: 38px;
  color: #da2128;
  text-align: right;
}

.wel_search_list .swiper-slide em:after {
  display: inline-block;
  content: ".";
}

.wel_search_list .swiper-slide p {
  position: relative;
  padding: 0 30px 0 42px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 24px;
}

.wel_search_list .swiper-slide i {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  height: 36px;
}

.wel_search_list .swiper-slide i:after {
  position: absolute;
  right: 8px;
  top: 50%;
  content: "";
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.wel_search_list .swiper-slide i.rk_up:after {
  width: 0;
  height: 0;
  border-bottom: 14px solid #da2128;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.wel_search_list .swiper-slide i.rk_dn:after {
  width: 0;
  height: 0;
  border-top: 14px solid #2125da;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.wel_search_list .swiper-slide i.rk_se:after {
  right: 10px;
  width: 10px;
  height: 2px;
  background: #292929;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.wel_search_list .swiper-container {
  overflow: initial;
}

.wel_search_list .swiper-wrapper {
  display: block;
}

.wel_search_list .swiper-initialized, .wel_search_list .swiper-container-vertical {
  overflow: hidden;
}

.wel_search_list .swiper-initialized .swiper-wrapper, .wel_search_list .swiper-container-vertical .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 52px;
  padding: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wel_search_list .swiper-initialized .swiper-wrapper .swiper-slide, .wel_search_list .swiper-container-vertical .swiper-wrapper .swiper-slide {
  border: 0;
}

.btn_wel_search {
  display: block;
  position: absolute;
  right: 56px;
  top: 29px;
  width: 22px;
  height: 22px;
}

.btn_wel_search:after {
  position: absolute;
  left: 7px;
  top: -2px;
  width: 10px;
  height: 10px;
  border: solid #000;
  border-width: 0px 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.btn_wel_search_cl {
  display: none !important;
  position: absolute;
  left: 50%;
  bottom: -59px;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  background: url("../images/main/btn_wel_search_cl.svg") center/100% no-repeat;
}

/* wel_search_cont : 활성화 */
.wel_search_cont {
  max-width: 582px;
  margin: 15px auto 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 60px;
  background: #fff;
  position: relative;
  border: 4px solid #000;
}

.wel_search_cont.on {
  margin: 15px auto 56px auto;
}

.wel_search_cont.on .btn_wel_search:after {
  top: 4px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.wel_search_cont.on .btn_wel_search_cl {
  display: block !important;
  -webkit-animation: fade both 0.4s 0.1s;
          animation: fade both 0.4s 0.1s;
}

.wel_search_cont02 {
  position: relative;
  margin: 15px 8px 0 8px;
  background: #fff;
  border: 2px solid #000;
}

.wel_search_cont02 .wel_search_list {
  padding: 0 15px 0 25px;
}

/*** 지금 이 상품을 ***/
/*********** 기획전 *********/
/*** 큐레이션 : .wel_curation ***/
.wel_curation {
  background: #f5ede2 url("../images/main/bg_wel_curation.jpg") center top/45px repeat;
  overflow: hidden;
}

.wel_curation .mc_tit {
  margin-bottom: 25px;
  text-align: center;
}

.wel_curation .mc_tit img {
  width: 485px;
}

/** wel_curation_cont **/
.wel_curation_cont {
  position: relative;
}

.wel_curation_cont .curation_box_list_warp {
  position: relative;
  padding-bottom: 730px;
}

.wel_curation_cont .curation_box_list_warp:after {
  display: block;
  clear: both;
  content: "";
}

.wel_curation_cont .curation_box_list_warp > .curation_box_list {
  width: 300px;
  height: 354px;
  border: 2px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
}

.wel_curation_cont .curation_box_list_warp > .curation_box_list .curation_tab_box {
  font-weight: 600;
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: -5px;
  left: -2px;
  border: 2px solid #000;
  width: calc(100% + 4px);
  font-size: 15px;
  padding: 12px 18px 10px;
  background: #EBFE00;
}

.wel_curation_cont .curation_box_list_warp > .curation_box_list:nth-child(1) {
  width: 560px;
  height: 730px;
  margin: 0 auto;
  border: 2px solid #000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.wel_curation_cont .curation_box_list_warp > .curation_box_list:nth-child(1) .curation_tab_box {
  font-size: 24px;
  font-weight: 600;
  background: #EBFE00;
  border: 0;
  border-top: 2px solid #000;
  padding: 17px 28px;
  bottom: -67px;
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 2px;
}

.wel_curation_cont .curation_box_list_warp > .curation_box_list:nth-child(2) .curation_tab_box {
  background: #3ACAFF;
}

.wel_curation_cont .curation_box_list_warp > .curation_box_list:nth-child(3) .curation_tab_box {
  background: #F472FF;
}

.wel_curation_cont .curation_box_list_warp > .curation_box_list:nth-child(4) {
  top: 372px;
}

.wel_curation_cont .curation_box_list_warp > .curation_box_list:nth-child(4) .curation_tab_box {
  background: #FEB100;
}

.wel_curation_cont .curation_box_list_warp > .curation_box_list:nth-child(5) {
  top: 372px;
}

.wel_curation_cont .curation_box_list_warp > .curation_box_list:nth-child(5) .curation_tab_box {
  background: #30FA81;
}

.wel_curation_cont .curation_box_list_warp > .curation_box_list:nth-child(odd):not(:nth-child(1)) {
  right: 0;
}

.wel_curation_cont .curation_box_list_warp > .curation_box_list:nth-child(2n) {
  left: 0;
}

.wel_curation_cont .ico_bg_warp img:nth-child(1) {
  position: absolute;
  top: -62px;
  right: -65px;
}

.wel_curation_cont .ico_bg_warp img:nth-child(2) {
  position: absolute;
  bottom: -55px;
  left: -208px;
}

/* curation_img */
.curation_img .swiper-slide {
  width: 100%;
  border: 2px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* curation_box */
.curation_box_list_warp .curation_box_list .curation_box {
  position: relative;
  height: 0;
  padding-top: 118%;
  background: #fff;
}

.curation_box_list_warp .curation_box_list .curation_box .img {
  position: relative;
  width: 100%;
  height: 100%;
}

.curation_box_list_warp .curation_box_list .curation_box img {
  width: 100%;
  height: auto;
}

.curation_box_list_warp .curation_box_list:nth-child(1) .curation_box {
  padding-top: 118.5%;
}

/* .btn_cur_view */
.btn_cur_view {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* curation_cont */
.curation_cont {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.curation_cont .li {
  position: absolute;
  z-index: 1;
}

.curation_cont .li.on {
  z-index: 2;
}

.curation_cont .li.on .curation_btn:before {
  -webkit-animation: none;
          animation: none;
}

.curation_cont .li.on .curation_btn:after {
  -webkit-animation: none;
          animation: none;
}

.curation_cont .li.on .curation_tooltip {
  display: block;
  -webkit-animation: fade both 0.4s;
          animation: fade both 0.4s;
}

.curation_cont.c1 .curation_btn:after {
  background: #ebff00;
}

.curation_cont.c2 .curation_btn:after {
  background: #3acaff;
}

.curation_cont.c3 .curation_btn:after {
  background: #f472ff;
}

.curation_cont.c4 .curation_btn:after {
  background: #FEB100;
}

.curation_cont.c5 .curation_btn:after {
  background: #30fa81;
}

.curation_cont.ch_w {
  width: auto;
  height: 100%;
}

.curation_cont.ch_w img {
  width: auto;
  height: 100%;
}

/* curation_btn */
.curation_btn {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  background: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 2;
  cursor: pointer;
}

.curation_btn:before {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 16px;
  height: 16px;
  background: #000;
  border-radius: 50%;
  content: "";
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -webkit-animation: curation_cir2 both infinite 1.5s;
          animation: curation_cir2 both infinite 1.5s;
}

.curation_btn:after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  background: #ebfe00;
  border-radius: 50%;
  content: "";
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -webkit-animation: curation_cir both infinite 1.3s;
          animation: curation_cir both infinite 1.3s;
}

/* .curation_tooltip */
.curation_tooltip {
  display: none;
  position: absolute;
  left: 8px;
  top: 8px;
  min-width: 165px;
  padding: 14px 26px 12px 15px;
  background: #fff;
  border: 1px solid #707070;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.curation_tooltip .s1 {
  display: -webkit-box;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  z-index: 1;
}

.curation_tooltip .s2 {
  margin-top: 2px;
  font-size: 0;
  font-weight: 700;
  line-height: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.curation_tooltip .s2 strong {
  padding-right: 4px;
  color: #da2128;
  font-size: 16px;
}

.curation_tooltip .s2 span {
  padding-right: 4px;
  font-size: 16px;
}

.curation_tooltip .s2 em {
  display: inline-block;
  color: #767676;
  font-size: 10px;
  font-weight: 400;
  text-decoration: line-through;
  font-size: 14px;
}

.curation_tooltip:after {
  position: absolute;
  right: 17px;
  top: 50%;
  width: 11px;
  height: 11px;
  margin-top: -5px;
  border: solid #767676;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
  overflow: hidden;
}

.curation_tooltip.ct_rt {
  top: initial;
  bottom: 8px;
}

.curation_tooltip.ct_lb {
  left: initial;
  right: 8px;
}

.curation_tooltip.ct_lt {
  left: initial;
  top: initial;
  right: 8px;
  bottom: 8px;
}

.curation_tooltip a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes curation_cir {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
  55% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
}

@keyframes curation_cir {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
  55% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
}

@-webkit-keyframes curation_cir2 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
  70% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
}

@keyframes curation_cir2 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
  70% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
}

/*** 선물이 필요한 순간 : .wel_gift ***/
.wel_gift {
  overflow: hidden;
  background: #F9E900;
}

.wel_gift .ht_tit_big {
  text-align: left;
  font-weight: 500;
  padding-top: 10px;
}

.wel_gift .ht_tit_big img {
  margin: -10px -2px 0px 8px;
}

.wel_gift .tab_ty {
  margin-bottom: 20px;
}

.wel_gift .tab_under {
  padding-bottom: 0;
  border-bottom: 0;
  margin-bottom: 35px;
  margin-top: 0;
}

.wel_gift .btn_gift_warp {
  position: absolute;
  right: 0;
  top: 16px;
  width: auto;
  height: 114px;
  z-index: 1;
}

.wel_gift .btn_gift_warp .btn_wrap {
  float: left;
  padding-right: 20px;
}

.wel_gift .btn_gift_warp .btn_wrap .btn_gift {
  background: #FF5BB9;
  padding: 24px 42px;
  border: 3px solid #000;
  color: #fff;
  text-align: left;
  border-radius: 500px;
  position: relative;
}

.wel_gift .btn_gift_warp .btn_wrap .btn_gift p {
  font-size: 18px;
  font-family: 'Gmarket Sans';
  font-weight: 600;
  line-height: 22px;
}

.wel_gift .btn_gift_warp .btn_wrap .btn_gift span {
  font-size: 16px;
  margin-top: 5px;
  display: inline-block;
  color: #fff;
}

.wel_gift .btn_gift_warp .btn_wrap .btn_gift .btn_more_view span:after {
  content: none;
}

.wel_gift .btn_gift_warp .btn_wrap .btn_gift:before {
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 14px solid #000;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  content: "";
}

.wel_gift .btn_gift_warp .btn_wrap .btn_gift:after {
  position: absolute;
  right: -11px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 14px solid #FF5BB9;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  content: "";
}

.wel_gift .btn_gift_warp .icon_wrap {
  float: left;
  margin-top: 10px;
}

.wel_gift .btn_gift_warp .icon_wrap img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* wel_gift_cont */
.wel_gift_cont {
  position: relative;
  margin: 0;
}

.wel_gift_cont .swiper-container {
  overflow: inherit;
}

.wel_gift_cont .swiper-pagination-progressbar-fill {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.wel_gift_cont .swiper-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.wel_gift_cont .swiper-slide {
  width: 273px !important;
}

.wel_gift_cont .swiper-slide .img_wrap {
  margin-top: 0 !important;
}

.wel_gift_cont .swiper-slide a {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wel_gift_cont .swiper-slide a:hover .product_info {
  opacity: 1;
}

.wel_gift_cont .swiper-slide a:hover .product_info .product_info_inner {
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.wel_gift_cont .swiper-slide .img {
  position: relative;
  height: 0;
  padding-top: 100%;
  background: #fff;
  overflow: hidden;
  border-radius: 0;
}

.wel_gift_cont .swiper-slide .img img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.wel_gift_cont .swiper_control {
  margin-top: 20px;
}

.wel_gift_cont .product_info {
  position: absolute;
  left: 0;
  top: 0;
  width: 273px;
  height: 273px;
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.wel_gift_cont .product_info .product_info_inner {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  padding: 10px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  transform: translateY(-40%);
  -webkit-transform: translateY(-40%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.wel_gift_cont .product_info .desc,
.wel_gift_cont .product_info .company,
.wel_gift_cont .product_info .title,
.wel_gift_cont .product_info .price_line,
.wel_gift_cont .product_info .discount_rate,
.wel_gift_cont .product_info .price_origin {
  color: #fff;
}

.wel_gift_cont .product_info .price_origin {
  font-size: 15px;
}

.wel_gift_cont .product_info .title {
  border-top: 1px dashed rgba(255, 255, 255, 0.4);
  margin-top: 20px;
  padding-top: 15px;
  font-weight: 400;
}

.wel_gift_cont .product_info .desc {
  padding-top: 20px;
  margin-bottom: 30px;
  padding-right: 20px;
  position: relative;
}

.wel_gift_cont .product_info .desc p {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.wel_gift_cont .product_info .desc:before {
  content: "“";
  display: inline-block;
  position: absolute;
  top: -5px;
  left: 0;
  font-size: 48px;
  font-family: 'Gmarket Sans';
  height: 26px;
}

.wel_gift_cont .product_info .desc:after {
  content: "”";
  display: inline-block;
  position: absolute;
  bottom: -18px;
  right: 0;
  font-size: 48px;
  font-family: 'Gmarket Sans';
  height: 26px;
}
