@charset "UTF-8";
.ht_cont .mc_tit {
  color: #000;
  font-size: 42px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: -2.5px;
  font-family: 'Gmarket Sans';
}

.ht_cont .mc_tit img {
  vertical-align: top;
}

.ht_cont .mc_tit.center {
  text-align: center;
}

.wel_hotdeal:before {
  content: "";
  position: absolute;
  width: 63px;
  height: 63px;
  bottom: 60px;
  left: 50%;
  z-index: 1;
  margin-left: -700px;
  background: url(../images/main/wel_hotdeal_bg1.svg) no-repeat center/100%;
}

.wel_hotdeal:after {
  content: "";
  position: absolute;
  width: 103px;
  height: 120px;
  background: url(../images/main/wel_hotdeal_bg2.svg) no-repeat center/100%;
  top: 207px;
  left: 50%;
  z-index: 1;
  margin-left: 650px;
}

.wel_today_time {
  margin-bottom: 24px;
}

.wel_today_time .wel_today_time_inner {
  width: 402px;
  height: 186px;
  margin: 0 auto;
  position: relative;
}

.wel_today_time .wel_tod_img {
  position: absolute;
  width: 382px;
  height: 168px;
  left: 0px;
  bottom: -3px;
  overflow: hidden;
}

.wel_today_time .wel_tod_img > img {
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(1.03);
          transform: scaleX(1.03);
}

.wel_today_time .wel_tod_acc {
  position: absolute;
  height: 122px;
  overflow: hidden;
  right: 5px;
  top: 0;
}

.wel_today_time .wel_tod_acc > img {
  width: 100%;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.wel_today_time .time_bar {
  position: absolute;
  font-family: 'Gmarket Sans';
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  left: 29%;
  top: 74%;
  color: #fff;
  width: 118px;
}

.wel_today_time .wel_today_balloon {
  padding: 14px 8px;
  background-color: #FFEE24;
  border: 2px solid;
  border-radius: 40px;
  line-height: 34px;
  padding: 0 14px;
  position: absolute;
  font-size: 15px;
  letter-spacing: -1px;
  font-weight: 500;
  left: 23%;
  bottom: -41px;
  z-index: 3;
  -webkit-animation: musMembMsg both infinite 5s;
          animation: musMembMsg both infinite 5s;
}

.wel_today_time .wel_today_balloon:after {
  content: '';
  border-color: #000 transparent;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  display: block;
  position: absolute;
  left: 50%;
  top: 0px;
  margin-left: -5px;
  margin-top: -11px;
  width: 0;
  z-index: 0;
}

.wel_today_time .wel_today_balloon:before {
  content: "";
  position: absolute;
  border-top: 8px solid transparent;
  border-left: 0 solid transparent;
  border-right: 8px solid #FFEE24;
  border-bottom: 8px solid transparent;
  z-index: 5;
  left: 50%;
  top: 0;
  margin-top: -12px;
  margin-left: 1px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.thumb4_banner.wel_hot_banner {
  overflow: visible;
}

.thumb4_banner.wel_hot_banner .swiper-container {
  overflow: hidden;
}

/*** 앵콜 특가 : .wel_encore ***/
.wel_encore:before {
  content: "";
  position: absolute;
  width: 220px;
  height: 255px;
  background: url(../images/main/wel_encore_left_bg.svg) no-repeat right/100%;
  left: 50%;
  margin-left: -800px;
  top: 100px;
  z-index: 5;
}

.wel_encore:after {
  content: "";
  position: absolute;
  width: 300px;
  height: 528px;
  background: url(../images/main/wel_encore_right_bg.svg) no-repeat right/100%;
  right: 0;
  bottom: 0;
}

.wel_encore .mc_tit {
  width: calc(100% + 40px);
  height: 185px;
  margin: 0 20px 0 -20px;
}

.wel_encore .mc_tit:before {
  position: absolute;
  left: 50%;
  top: 175px;
  margin-left: -165px;
  width: 29px;
  height: 25px;
  background: url("../images/main/tit_wel_encore_bg1.svg") center/100% no-repeat;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  content: "";
}

.wel_encore .mc_tit:after {
  position: absolute;
  left: 50%;
  top: 80px;
  margin-left: 130px;
  width: 29px;
  height: 25px;
  background: url("../images/main/tit_wel_encore_bg2.svg") center/100% no-repeat;
  content: "";
}

.wel_encore .mc_tit img {
  position: relative;
  width: 320px;
  margin-top: 15px;
}

.wel_encore .evt_products {
  margin-top: 0;
}

/* wel_encore_msg */
.wel_encore_msg {
  position: absolute;
  right: 28px;
  top: 48px;
  height: 80px;
  width: 70%;
}

.wel_encore_msg:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 80px;
  background: url("../images/main/img_wel_encore_msg.png") center/100% no-repeat;
  content: "";
}

.wel_encore_msg .msg {
  position: absolute;
  right: 70px;
  top: 0;
  display: inline-block;
  min-height: 34px;
  padding: 9px 15px 5px 15px;
  background: #ffc7b7;
  border-radius: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  font-size: 12px;
  line-height: 18px;
  z-index: 2;
}

.wel_encore_msg .msg:after {
  position: absolute;
  right: -4px;
  bottom: 4px;
  width: 0;
  height: 0;
  border-top: 10px solid #ffc7b7;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: "";
  -webkit-transform: rotate(-55deg);
          transform: rotate(-55deg);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

@-webkit-keyframes wel_encore_msg1 {
  0% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes wel_encore_msg1 {
  0% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes wel_encore_msg2 {
  0% {
    -webkit-transform: translate(8px, 2px);
            transform: translate(8px, 2px);
    opacity: 0;
  }
  12% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes wel_encore_msg2 {
  0% {
    -webkit-transform: translate(8px, 2px);
            transform: translate(8px, 2px);
    opacity: 0;
  }
  12% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*** ONLY Hottracks : .wel_only ***/
.wel_only {
  padding: 20px 0 45px 20px;
  position: relative;
}

.wel_only:before {
  content: "";
  position: absolute;
  width: 130px;
  height: 144px;
  left: 50%;
  margin-left: 675px;
  bottom: 119px;
  background: url("../images/main/wel_only_bg.svg") no-repeat center/100%;
}

.wel_only .mc_tit {
  text-align: center;
}

.wel_only .mc_tit img {
  width: 500px;
  height: auto;
}

.wel_only .evt_products {
  margin-top: -14px;
}

.wel_only .mc_txt {
  margin-top: 10px;
  text-align: center;
}

.wel_only .mc_txt a {
  display: inline-block;
  position: relative;
  padding-right: 10px;
}

.wel_only .mc_txt a:after {
  position: absolute;
  right: 0;
  top: 50%;
  width: 8px;
  height: 8px;
  margin-top: -5px;
  border: solid #767676;
  border-width: 2px 2px 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
  overflow: hidden;
}

.wel_exehibition {
  padding-top: 60px;
}

.wel_exehibition .wel_exehibition_banner {
  position: relative;
  width: calc(100% + 36px);
  margin: 0 -18px;
}

.wel_exehibition .evt_list {
  margin: -40px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wel_exehibition .evt_list > li {
  width: 582px !important;
  margin: 40px 0 0 0 !important;
}

.wel_exehibition .evt_list .img_wrap {
  margin-top: 0;
}

.wel_exehibition .evt_list .item_info {
  overflow: hidden;
}

.wel_exehibition .evt_list .discount {
  float: left;
  margin-right: 4px;
  line-height: 30px;
  letter-spacing: -1px;
  font-weight: 500;
  font-size: 20px;
  color: #DA2128;
}

.wel_category {
  padding-bottom: 60px;
}

.wel_category .mc_tit {
  margin-bottom: 33px;
  margin-left: -25px;
}

.wel_category .mc_tit img {
  position: relative;
  margin-left: 8px;
  width: 42px;
  height: 42px;
}

/*** 지금, 이 상품을 : .wel_now ***/
.wel_now {
  padding: 30px 20px 80px 20px;
  overflow: hidden;
  background: #1977f2 url("../images/main/bg_wel_now.jpg") center top/33px repeat;
  text-align: center;
}

.wel_now .wel_now_tit {
  width: 626px;
  padding: 60px 0;
  display: inline-block;
  position: relative;
}

.wel_now .wel_now_tit .s1 {
  position: absolute;
  left: 70px;
  top: -5px;
  width: 83%;
}

.wel_now .wel_now_tit .s2 {
  position: absolute;
  left: 7px;
  top: 17px;
  width: 70px;
}

.wel_now .wel_now_tit .s3 {
  position: absolute;
  right: -25px;
  top: 0px;
  width: 120px;
}

.wel_now .mc_tit {
  color: #fff;
  font-size: 42px;
  font-family: 'Gmarket Sans';
  line-height: 56px;
  text-align: center;
  font-weight: 500;
}

.wel_now .tab_ty a:before {
  border-color: #000;
}

.wel_now .tab_swiper .swiper_control .swiper-button-prev:before, .wel_now .tab_swiper .swiper_control .swiper-button-next:before {
  background: none;
}

.wel_now_banner {
  overflow: visible;
  height: 544px;
}

.wel_now_banner .swiper-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.wel_now_banner .swiper-slide {
  width: 2448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wel_now_banner .img {
  width: 272px;
  height: 272px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
}

.wel_now_banner .img:nth-of-type(3n+1) {
  width: 544px;
  height: 544px;
}

.wel_now_banner .img:nth-of-type(3n+1) .info_bg_box {
  padding: 0 80px;
}

.wel_now_banner .img:nth-of-type(3) {
  -webkit-transform: translate(-100%, 100%);
          transform: translate(-100%, 100%);
}

.wel_now_banner .img:nth-of-type(4) {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.wel_now_banner .img:nth-of-type(5), .wel_now_banner .img:nth-of-type(7) {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.wel_now_banner .img:nth-of-type(6) {
  -webkit-transform: translate(-200%, 100%);
          transform: translate(-200%, 100%);
}

.wel_now_banner .img:nth-of-type(8) {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.wel_now_banner .img:nth-of-type(9) {
  -webkit-transform: translate(-300%, 100%);
          transform: translate(-300%, 100%);
}

.wel_now_banner .img img {
  width: 100%;
}

.wel_now_banner .img > a {
  position: relative;
  display: block;
}

.wel_now_banner .img:hover .info_bg_box {
  opacity: 1;
}

.wel_now_banner .img:hover .info_bg_box .title {
  margin-top: 0;
}

.wel_now_banner .info_bg_box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wel_now_banner .info_bg_box .title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1px;
  margin-bottom: 10px;
  width: 100%;
  word-break: keep-all;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-top: 10%;
  -webkit-transition: margin-top .3s;
  transition: margin-top .3s;
  text-align: left;
}

.wel_now_banner .info_bg_box .discount {
  margin-right: 4px;
  line-height: 30px;
  letter-spacing: -1px;
  font-size: 20px;
  font-weight: 700;
}

.wel_now_banner .info_bg_box .price_origin {
  line-height: 30px;
  letter-spacing: -1px;
  font-size: 20px;
  font-weight: 700;
}

/* wel_prod_view_cont */
.wel_prod_view_cont {
  padding: 0 2px 2px 2px;
  background: #000;
}

.wel_prod_view_cont ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -2px 0 0 -2px;
}

.wel_prod_view_cont li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(33.3% - 2px);
  margin: 2px 0 0 2px;
}

.wel_prod_view_cont li img {
  width: 100%;
}

.wel_prod_view_cont.on li {
  -webkit-animation: wel_prod both 0.4s;
          animation: wel_prod both 0.4s;
}

.wel_prod_view_cont.on li:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.wel_prod_view_cont.on li:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.wel_prod_view_cont.on li:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.wel_prod_view_cont.on li:nth-child(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.wel_prod_view_cont.on li:nth-child(5) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.wel_prod_view_cont.on li:nth-child(6) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.wel_prod_view_cont.on li:nth-child(7) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.wel_prod_view_cont.on li:nth-child(8) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.wel_prod_view_cont.on li:nth-child(9) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes wel_prod {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes wel_prod {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* wel_category_rank */
.wel_category_rank {
  width: calc(100% + 36px);
  margin: 0px -18px 40px -18px;
  overflow: hidden;
  counter-reset: item;
}

.wel_category_rank .prod_item {
  float: left;
  width: 273px !important;
}

.wel_category_rank .prod_item:last-of-type {
  position: relative;
}

.wel_category_rank .prod_item:last-of-type:before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background: url(../images/guide/ico_plus_big.svg) no-repeat center/100%;
  top: 100px;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.wel_category_rank .prod_item .product_pic {
  display: block;
  position: relative;
}

.wel_category_rank .prod_item .product_pic:after {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 24px;
  height: 24px;
  background: #000;
  border-radius: 4px;
  color: #fff;
  letter-spacing: -1px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  content: counter(item);
  counter-increment: item;
}

.wel_category_rank .btn_box_more {
  position: relative;
  width: 271px;
  height: 0;
  padding-top: 100%;
  background: #fff;
  border: 1px dashed #D5D5D5;
  overflow: hidden;
  font-size: 14px;
}

.wel_category_rank .btn_box_more p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin-top: 18px;
}

.wel_category_rank .btn_box_more p span {
  display: inline-block;
  position: relative;
  padding-right: 10px;
  line-height: 20px;
  letter-spacing: -1px;
}

.wel_category_rank .btn_box_more p span:after {
  position: absolute;
  right: 0;
  top: 50%;
  width: 6px;
  height: 6px;
  margin-top: -4px;
  border: solid #000;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
  overflow: hidden;
}

.wel_category_banner {
  position: relative;
}

.wel_category_banner .swiper-container {
  position: relative;
  width: calc(100% + 20px);
  margin-left: -20px;
}

.wel_category_banner .evt_list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.wel_category_banner .evt_list > li {
  width: 582px !important;
}

.wel_category_banner .evt_list > li:last-of-type {
  margin-right: 0;
}
