/* s: 버튼 정리 */
a[class^=btn_], button[class^=btn_] {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}
a[class^=btn_]:hover, button[class^=btn_]:hover {
    cursor: pointer;
}
a[class^=btn_] {
    &.disabled, &[aria-disabled], &[disabled] {
        pointer-events: none;
        cursor: default;
    }
}
button[class^=btn_] {
    &.disabled, &[aria-disabled], &[disabled] {
        pointer-events: none;
        cursor: default;
    }
}
a[class^=btn_] [class^=ico_], button[class^=btn_] [class^=ico_], a[class^=btn_] .text, button[class^=btn_] .text {
    display: inline-block;
    position: relative;
    vertical-align: top;
}


/* 버튼 - 사이즈 */
a.btn_lg, button.btn_lg {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-width: 165px;
    height: 56px;
    padding: 0 23px 1px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -.01em;
    font-family: "Noto Sans KR",sans-serif;
    font-weight: 700;
}
a.btn_lg.btn_pill, button.btn_lg.btn_pill {
    border-radius: 56px;
}
a.btn_md, button.btn_md {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-width: 165px;
    height: 50px;
    padding: 0 23px 1px;
    border-radius: 6px;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -.01em;
    font-family: "Noto Sans KR",sans-serif;
    font-weight: 500;
}
a.btn_md.btn_pill, button.btn_md.btn_pill {
    border-radius: 50px;
}
a.btn_sm, button.btn_sm {
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 44px;
    padding: 0 23px 1px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -.01em;
    font-family: "Noto Sans KR",sans-serif;
    font-weight: 500;
}
a.btn_sm.btn_pill, button.btn_sm.btn_pill {
    border-radius: 44px;
}
a.btn_sm [class^=ico_], button.btn_sm [class^=ico_] {
    height: 20px;
    margin-right: 5px;
}
a.btn_sm [class^=ico_]:last-child, button.btn_sm [class^=ico_]:last-child {
    margin-right: 0;
    margin-left: 5px;
}
a.btn_xs, button.btn_xs {
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 36px;
    padding: 0 13px 1px;
    border-radius: 6px;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -.01em;
    font-family: "Noto Sans KR",sans-serif;
}
a.btn_xs.btn_pill, button.btn_xs.btn_pill {
    border-radius: 36px;
}
a.btn_xs [class^=ico_], button.btn_xs [class^=ico_] {
    height: 19px;
    margin-right: 4px;
}
a.btn_xs [class^=ico_]:last-child, button.btn_xs [class^=ico_]:last-child {
    margin-right: 0;
    margin-left: 4px;
}
a.btn_xs .ico_plus, button.btn_xs .ico_plus {
    width: 12px;
    background-image: url(../images/ico_plus_h12_mok.png);
    background-size: 12px 12px;
    background-position: center;
    background-repeat: no-repeat;
}

a.btn_xs .ico_write_white, button.btn_xs .ico_write_white {
    background-image: url(../images/ico_write_wh_h17_mok.png);
    background-size: 16px 17px;
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
}

a.btn_xs .ico_locate, button.btn_xs .ico_locate {
    width: 13px;
    background-image: url(../images/ico_locate_mok.png);
    background-size: 13px 19px;
}

a.btn_xs .ico_new_window, button.btn_xs .ico_new_window {
    width: 14px;
    background-image: url(../images/ico_new_window_mok.png);
    background-size: 14px 19px;
}

a.btn_xxs, button.btn_xxs {
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 30px;
    padding: 0 9px 1px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.01em;
    font-family: "Noto Sans KR",sans-serif;
    font-weight: 500;
}
a.btn_xxs.btn_pill, button.btn_xxs.btn_pill {
    border-radius: 30px;
}
a.btn_xxs [class^=ico_], button.btn_xxs [class^=ico_] {
    height: 18px;
    margin-right: 5px;
}
a.btn_xxs [class^=ico_]:last-child, button.btn_xxs [class^=ico_]:last-child {
    margin-right: 0;
    margin-left: 5px;
}
a.btn_xxs .ico_download_white, button.btn_xxs .ico_download_white {
    width: 10px;
    background-image: url(../images/ico_download_wh_h10_mok.png);
    background-size: 10px 10px;
    background-position: center;
    background-repeat: no-repeat;
}

a.btn_xxs .ico_alarm, button.btn_xxs .ico_alarm {
    width: 12px;
    height: 18px;
    background-image: url(../images/ico_alarm_pr_xxs_mok.png);
    background-size: 12px 18px;
}

a.btn_min, button.btn_min {
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 24px;
    padding: 0 5px 1px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.01em;
    font-family: "Noto Sans KR",sans-serif;
    font-weight: 500;
}
a.btn_min.btn_pill, button.btn_min.btn_pill {
    border-radius: 24px;
}
a.btn_min [class^=ico_], button.btn_min [class^=ico_] {
    height: 18px;
    margin-right: 2px;
}
a.btn_min [class^=ico_]:last-child, button.btn_min [class^=ico_]:last-child {
    margin-right: 0;
    margin-left: 2px;
}
a.btn_min .ico_arw, button.btn_min .ico_arw {
    width: 6px;
    height: 6px;
    margin-top: 1px;
    background-image: url(../images/arw_info_more_mok.png);
    background-size: 6px 6px;
    background-position: center;
    background-repeat: no-repeat;
}

a.btn_ip, button.btn_ip {
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    flex-direction: row;
    min-width: 86px;
    height: 50px;
    padding: 0 23px 1px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -.01em;
    font-family: "Noto Sans KR",sans-serif;
    font-weight: 500;
}
a.btn_ip [class^=ico_], button.btn_ip [class^=ico_] {
    height: 20px;
    margin-top: 1px;
    margin-right: 5px;
}
a.btn_ip [class^=ico_]:last-child, button.btn_ip [class^=ico_]:last-child {
    margin-right: 0;
    margin-left: 5px;
}
a.btn_ip .ico_heart, button.btn_ip .ico_heart {
    width: 18px;
    background-image: url(../images/ico_heart_h18_mok.png);
    background-size: 18px 18px;
    background-position: center;
    background-repeat: no-repeat;
}

a.btn_ip .ico_heart_primary, button.btn_ip .ico_heart_primary {
    width: 18px;
    background-image: url(../images/ico_heart_pm_h18_mok.png);
    background-size: 18px 18px;
    background-position: center;
    background-repeat: no-repeat;
}

a.btn_ip .ico_cart_white, button.btn_ip .ico_cart_white {
    width: 18px;
    height: 18px;
    background-image: url(../images/ico_cart_wh_h18_mok.png);
    background-size: 18px 18px;
    background-position: center;
    background-repeat: no-repeat;
}

a.btn_ip .ico_gift, button.btn_ip .ico_gift {
    width: 18px;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url(../images/guide/ico_gift.svg);
    background-size: 18px 20px;
}

a.btn_ip .ico_bell, button.btn_ip .ico_bell {
    width: 18px;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url(../images/guide/ico_bell.svg);
    background-size: 18px 20px;
}

a.btn_ip .ico_purchase_alarm, button.btn_ip .ico_purchase_alarm {
    width: 18px;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url(../images/ico_purchase_alarm_mok.png);
    background-size: 18px 20px;
}


/* 버튼 - 색상 */
a.btn_primary, button.btn_primary {
    color: #fff;
    background: #DA2128;
    border: 1px solid #DA2128;
    transition: background-color .2s ease-out,border-color .2s ease-out;
}
a.btn_primary {
    &:active, &:focus {
        background: #AC3024;
        border-color: #AC3024;
    }
}
button.btn_primary {
    &:active, &:focus {
        background: #AC3024;
        border-color: #AC3024;
    }
}
a.btn_primary {
    &.disabled, &[aria-disabled], &[disabled] {
        background: #DB8880;
        border-color: #DB8880;
    }
}
button.btn_primary {
    &.disabled, &[aria-disabled], &[disabled] {
        background: #DB8880;
        border-color: #DB8880;
    }
}
.btn_outline_primary {
    color: $btn-primary;
    border:solid 1px $btn-primary;
    &:hover {
        background: #FFF4F1;
        color: #DA2128;
    }     
    &.disabled {
        background: #fff;
        color: #fff;
    }
}

a.btn_primary2, button.btn_primary2 {
    color: #fff;
    background: #474c98;
    border: 1px solid #474c98;
    transition: background-color .2s ease-out,border-color .2s ease-out;
}
a.btn_primary2 {
    &:active, &:focus {
        background: #2c307c;
        border-color: #2c307c;
    }
}
button.btn_primary2 {
    &:active, &:focus {
        background: #2c307c;
        border-color: #2c307c;
    }
}
a.btn_primary2 {
    &.disabled, &[aria-disabled], &[disabled] {
        background:#a6a9d7;
        border-color:#a6a9d7;
    }
}
button.btn_primary2 {
    &.disabled, &[aria-disabled], &[disabled] {
        background:#a6a9d7;
        border-color:#a6a9d7;
    }
}
.btn_outline_primary2 {
    color: $btn-primary;
    border:solid 1px $btn-primary;
    &:hover {
        background: #FFF4F1;
        color: #474c98;
    }     
    &.disabled {
        background: #fff;
        color: #fff;
    }
}


a.btn_light_gray, button.btn_light_gray {
    color: #fff;
    background: #767676;
    border: 1px solid #767676;
    transition: background-color .2s ease-out,border-color .2s ease-out;
}
a.btn_light_gray {
    &:active, &:focus {
        background: #595959;
        border-color: #595959;
    }
}
button.btn_light_gray {
    &:active, &:focus {
        background: #595959;
        border-color: #595959;
    }
}
a.btn_light_gray {
    &.disabled, &[aria-disabled], &[disabled] {
        background: #bebebe;
        border-color: #bebebe;
    }
}
button.btn_light_gray {
    &.disabled, &[aria-disabled], &[disabled] {
        background: #bebebe;
        border-color: #bebebe;
    }
}
a.btn_line_primary, button.btn_line_primary {
    color: #DA2128;
    border: 1px solid #DA2128;
    background: #fff;
    transition: background-color .2s ease-out,border-color .2s ease-out;
}
a.btn_line_primary {
    &:active, &:focus {
        background: #FFF4F1;
        border-color: #DA2128;
    }
}
button.btn_line_primary {
    &:active, &:focus {
        background: #FFF4F1;
        border-color: #DA2128;
    }
}
a.btn_line_primary {
    &.disabled, &[aria-disabled], &[disabled] {
        color: rgba(213, 48, 32, 0.5);
        background: #fff;
        border-color: #DB8880;
    }
}
button.btn_line_primary {
    &.disabled, &[aria-disabled], &[disabled] {
        color: rgba(213, 48, 32, 0.5);
        background: #fff;
        border-color: #DB8880;
    }
}
a.btn_line_primary {
    &.disabled [class^=ico_], &[aria-disabled] [class^=ico_], &[disabled] [class^=ico_] {
        opacity: .5;
    }
}
button.btn_line_primary {
    &.disabled [class^=ico_], &[aria-disabled] [class^=ico_], &[disabled] [class^=ico_] {
        opacity: .5;
    }
}
a.btn_line_gray, button.btn_line_gray {
    background: #fff;
    border: 1px solid #ccc;
    transition: background-color .2s ease-out,border-color .2s ease-out;
}
a.btn_line_gray {
    &:active, &:focus {
        background: #f2f2f2;
        border-color: #ccc;
    }
}
button.btn_line_gray {
    &:active, &:focus {
        background: #f2f2f2;
        border-color: #ccc;
    }
}
a.btn_line_gray {
    &.disabled, &[aria-disabled], &[disabled] {
        color: #999;
        border-color: #eaeaea;
    }
}
button.btn_line_gray {
    &.disabled, &[aria-disabled], &[disabled] {
        color: #999;
        border-color: #eaeaea;
    }
}
a.btn_line_gray {
    &.disabled [class^=ico_], &[aria-disabled] [class^=ico_], &[disabled] [class^=ico_] {
        opacity: .4;
    }
}
button.btn_line_gray {
    &.disabled [class^=ico_], &[aria-disabled] [class^=ico_], &[disabled] [class^=ico_] {
        opacity: .4;
    }
}
a.btn_black, button.btn_black {
    color: #fff;
    background: #292929;
    border: 1px solid #292929;
    transition: background-color .2s ease-out;
}
a.btn_black {
    &:active, &:focus {
        background: #000;
    }
}
button.btn_black {
    &:active, &:focus {
        background: #000;
    }
    &:disabled {
        background:#bebebe;border-color:#bebebe;
    }
}
a.btn_black {
    &.disabled [class^=ico_], &[aria-disabled] [class^=ico_], &[disabled] [class^=ico_] {
        opacity: .4;
    }
}
button.btn_black {
    &.disabled [class^=ico_], &[aria-disabled] [class^=ico_], &[disabled] [class^=ico_] {
        opacity: .4;
    }
}


/* 알림 on/off 버튼 */
a.btn_alarm, button.btn_alarm {
    color: #767676;
    font-weight: 500;
    border: 1px solid #ccc;
}
a.btn_alarm .ico_alarm, button.btn_alarm .ico_alarm {
    display: inline-block;
    width: 14px;
    height: 18px;
    font-size: 0;
    background-position: left 3px;
    background-repeat: no-repeat;
    background-image: url(../images/ico_alarm_off_mok.png);
    background-size: 14px 14px;
}


a.btn_alarm .text, button.btn_alarm .text {
    position: relative;
    padding-right: 1px;
}
a.btn_alarm.active, button.btn_alarm.active {
    color: #5055b1;
    border-color: #5055b1;
}
a.btn_alarm.active .ico_alarm, button.btn_alarm.active .ico_alarm {
    background-position: 1px center;
    background-image: url(../images/ico_alarm_on_mok.png);
    background-size: 12px 18px;
}


/* 버튼 - 텍스트 링크 */
a.btn_text_link, button.btn_text_link {
    color: #767676;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -.01em;
    font-weight: 400;
    text-align: left;
}
a.btn_text_link.row_2_ellipsis .text, button.btn_text_link.row_2_ellipsis .text {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    max-height: 38px;
    line-height: 19px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: -o-ellipsis-lastline;
    white-space: normal;
}
a.btn_text_link.size_lg, button.btn_text_link.size_lg {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -.01em;
    font-weight: 500;
}
a.btn_text_link.size_lg.row_2_ellipsis .text, button.btn_text_link.size_lg.row_2_ellipsis .text {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    max-height: 44px;
    line-height: 22px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: -o-ellipsis-lastline;
    white-space: normal;
}
a.btn_text_link [class^=ico_], button.btn_text_link [class^=ico_] {
    margin-left: 4px;
}
a.btn_text_link {
    &:active .text, &:focus .text {
        text-decoration: underline;
    }
}
button.btn_text_link {
    &:active .text, &:focus .text {
        text-decoration: underline;
    }
}


/* 버튼 - 더보기 */
.btn_more_body {
    color: #767676;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.01em;
    text-align: left;
    [class^=ico_] {
        height: 20px;
        margin-left: 4px;
    }
    .ico_arw {
        width: 20px;
        height: 20px;
        background-image: url(../images/btn_more_body_mok.png);
        background-size: 20px 20px;
        background-position: center;
        background-repeat: no-repeat;
        transition: background .2s ease-out;
    }
    &:active .text, &:focus .text {
        text-decoration: underline;
    }
    &.active .ico_arw {
        background-image: url(../images/btn_more_body_active_mok.png);
        background-size: 20px 20px;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.btn_more_cont {
    color: #767676;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -.01em;
    text-align: left;
    [class^=ico_] {
        height: 24px;
        margin-left: 6px;
    }
    .ico_arw {
        width: 24px;
        height: 24px;
        background-image: url(../images/btn_more_cont_mok.png);
        background-size: 24px 24px;
        background-position: center;
        background-repeat: no-repeat;
        transition: background .2s ease-out;
    }
    .text {
        margin-top: 1px;
    }
    &:active .text, &:focus .text {
        text-decoration: underline;
    }
    &.active .ico_arw {
        background-image: url(../images/btn_more_cont_active_mok.png);
        background-size: 24px 24px;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.btn_more_detail {
    color: #474c98;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -.01em;
    font-weight: 500;
    text-align: left;
    [class^=ico_] {
        margin-left: 2px;
    }
    .ico_plus {
        width: 16px;
        height: 16px;
        margin-top: 1px;
        background-image: url(../images/btn_more_detail_mok.png);
        background-size: 16px 16px;
    }
}

.btn_more_view {
    color: #595959;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -.01em;
    font-weight: 500;
    text-align: left;
    [class^=ico_] {
        height: 18px;
        margin-left: 4px;
    }
    .ico_arw {
        width: 5px;
        height: 9px;
        margin-top: 5px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../images/btn_more_view_mok.png);
        background-size: 5px 9px;
    }
    &.size_sm {
        color: #595959;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -.01em;
    }
    &.fc_spot {
        .text {
            color: #474c98;
        }
        .ico_arw {
            background-image: url(../images/arw_review_more_mok.png);
            background-size: 5px 9px;
        }
    }
    &:active .text, &:focus .text {
        text-decoration: underline;
    }
}

/* 버튼 - 기능 버튼 */
.btn_delete {
    color: #767676;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -.01em;
    text-align: left;
    [class^=ico_] {
        height: 18px;
        margin-right: 5px;
    }
    .ico_delete {
        width: 13px;
        height: 15px;
        margin-top: 1px;
        background-image: url(../images/ico_delete_mok.png);
        background-size: 13px 15px;
    }
}

/* 버튼 - 아이콘 */
.btn_wish {
    width: 44px;
    height: 44px;
    color: #fff;
    letter-spacing: -.01em;
    line-height: 42px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    .ico_wish {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-top: 12px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../images/guide/ico_heart.svg);
        background-size: 18px 18px;
        vertical-align: top;
        transition: background .2s ease-out;

    }
    &.active .ico_wish {
        background-image: url(../images/guide/ico_heart_active.svg);
        background-size: 18px 18px;
    }
    &.size_lg {
        width: 50px;
        height: 50px;
        .ico_wish {
            width: 20px;
            height: 20px;
            margin-top: 11px;
            background-size: 20px 20px;
        }
        &.active .ico_wish {
            background-size: 20px 20px;
        }
    }
    &.size_sm {
        width: 30px;
        height: 30px;
        .ico_wish {
            width: 14px;
            height: 14px;
            margin-top: 8px;
            background-size: 14px 14px;
        }
        &.active .ico_wish {
            background-size: 14px 14px;
        }
    }
    .ico_heart {
        display: inline-block;
        background: url(../images/ico/ico_heart.png) no-repeat 0 0;
        background-size: 20px 20px;  
        width: 20px;        
        height: 20px;
    }            
    &.active {
        .ico_heart {
            background: url(../images/ico/ico_heart_active.png) no-repeat 0 0;
            background-size: 20px 20px;  
            width: 20px;        
            height: 20px;
        }
    } 
}

.btn_gift {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding:0 5px;
    letter-spacing: -.01em;
    line-height: 42px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -.01em;
    font-family: "Noto Sans KR",sans-serif;
    font-weight: 500;
    .ico_gift {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-top: 1px;
        margin-right: 5px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../images/guide/ico_gift.svg);
        background-size: 18px 18px;
        vertical-align: top;
        transition: background .2s ease-out;
    }
    &.size_lg {
        width: 50px;
        height: 50px;
        .ico_gift {
            width: 20px;
            height: 20px;
            background-size: 20px 20px;
        }
    }
    &.size_sm {
        width: 30px;
        height: 30px;
        .ico_gift {
            width: 14px;
            height: 14px;
            background-size: 14px 14px;
        }
    }
}

.btn_share_text {
    height: 44px;
    color: #292929;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -.01em;
    font-weight: 500;
    .ico_share {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 8px;
        background-position: left center;
        background-repeat: no-repeat;
        background-image: url(../images/ico_share_mok.png);
        background-size: 18px 18px;
        vertical-align: top;
        transition: background .2s ease-out;
    }
}

.btn_wish_text {
    height: 44px;
    color: #292929;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -.01em;
    font-weight: 500;
    .text .val {
        color: #767676;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -.01em;
    }
    .ico_wish {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 8px;
        background-position: left center;
        background-repeat: no-repeat;
        background-image: url(../images/ico_heart_h18_mok.png);
        background-size: 18px 18px;
        vertical-align: top;
        transition: background .2s ease-out;
    }
    &.active .ico_wish {
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../images/ico_heart_h18_active_mok.png);
        background-size: 18px 18px;
    }
}

.btn_tooltip {
    width: 22px;
    height: 22px;
    [class^=ico_] {
        display: inline-block;
        width: 22px;
        height: 22px;
        vertical-align: top;
        transition: background .2s ease-out;
    }
    // .ico_info {
    //     background-image: url(../images/btn_tooltip_mok.png);
    //     background-size: 22px 22px;
    // }
    .ico_arw {
        background-image: url(../images/arw_tooltip_mok.png);
        background-size: 22px 22px;
    }
    &.active {
        // .ico_info {
        //     background-image: url(../images/btn_tooltip_active_mok.png);
        //     background-size: 22px 22px;
        // }
        .ico_arw {
            background-image: url(../images/arw_tooltip_active_mok.png);
            background-size: 22px 22px;
        }
    }
}

.btn_tooltip_sm {
    width: 16px;
    height: 16px;
    [class^=ico_] {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: top;
        transition: background .2s ease-out;
    }
    .ico_info {
        background-image: url(../images/btn_tooltip_sm_mok.png);
        background-size: 16px 16px;
    }
    .ico_question {
        background-image: url(../images/btn_tooltip_question_sm_mok.png);
        background-size: 16px 16px;
    }
    &.active .ico_info {
        background-image: url(../images/btn_tooltip_sm_active_mok.png);
        background-size: 16px 16px;
    }
}

.btn_tooltip_arw {
    width: 22px;
    height: 22px;
    background-image: url(../images/arw_tooltip_mok.png);
    background-size: 22px 22px;
    transition: background .2s ease-out;
    &.active {
        background-image: url(../images/btn_pop_tooltip_mok.png);
        background-size: 22px 22px;
    }
}

.btn_pop_tooltip {
    width: 16px;
    height: 16px;
    background-image: url(../images/btn_pop_tooltip_mok.png);
    background-size: 22px 22px;
}

/* 버튼 정렬 */
.btn_wrap {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    text-align: center;
    &:not(.auto) [class^=btn_] {
        flex: 1;
        min-width: auto;
        + [class^=btn_] {
            margin-left: 5px;
        }
    }
    &.title_bottom {
        margin-bottom: 20px;
    }
    &.page_bottom {
        margin-top: 50px;
    }
    &.auto {
        display: flex;
        [class^=btn_] {
            flex: 0 1 auto;
            + [class^=btn_] {
                margin-left: 5px;
            }
        }
    }
    &.full {
        flex-wrap: wrap;
        [class^=btn_] {
            flex: 0 auto;
            width: 100%;
            min-width: auto;
            + [class^=btn_] {
                margin: 8px 0 0;
            }
        }
    }
    &.overlap {
        .btn_ip:not(:only-child), .btn_lg:not(:only-child), .btn_xs:not(:only-child) {
            border-radius: 0;
        }
        .btn_ip:not(:only-child):first-child, .btn_lg:not(:only-child):first-child, .btn_xs:not(:only-child):first-child {
            border-radius: 6px 0 0 6px;
        }
        .btn_ip:not(:only-child):last-child, .btn_lg:not(:only-child):last-child, .btn_xs:not(:only-child):last-child {
            border-radius: 0 6px 6px 0;
        }
        .btn_lg + .btn_lg, .btn_xs + .btn_xs, .btn_ip + .btn_ip {
            margin-left: -1px;
        }
        &.single {
            border-radius: 6px;
        }
    }
}
.ico_trash {
    width: 15px;
    height: 18px;
    margin-right: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/ico_trash_mok.png);
    background-size: 15px 18px;
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .ico_trash {
        background-image: url(../images/ico_trash_mok@2x.png);
    }
    a.btn_xs .ico_plus, button.btn_xs .ico_plus {
        background-image: url(../images/ico_plus_h12_mok@2x.png);
    }
    a.btn_xs .ico_write_white, button.btn_xs .ico_write_white {
        background-image: url(../images/ico_write_wh_h17_mok@2x.png);
    }
    a.btn_xs .ico_locate, button.btn_xs .ico_locate {
        background-image: url(../images/ico_locate_mok@2x.png);
    }
    a.btn_xs .ico_new_window, button.btn_xs .ico_new_window {
        background-image: url(../images/ico_new_window_mok@2x.png);
    }
    a.btn_xxs .ico_download_white, button.btn_xxs .ico_download_white {
        background-image: url(../images/ico_download_wh_h10_mok@2x.png);
    }
    a.btn_xxs .ico_alarm, button.btn_xxs .ico_alarm {
        background-image: url(../images/ico_alarm_pr_xxs_mok@2x.png);
    }
    a.btn_min .ico_arw, button.btn_min .ico_arw {
        background-image: url(../images/arw_info_more_mok@2x.png);
    }
    a.btn_ip .ico_heart, button.btn_ip .ico_heart {
        background-image: url(../images/ico_heart_h18_mok@2x.png);
    }
    a.btn_ip .ico_heart_primary, button.btn_ip .ico_heart_primary {
        background-image: url(../images/ico_heart_pm_h18_mok@2x.png);
    }
    a.btn_ip .ico_cart_white, button.btn_ip .ico_cart_white {
        background-image: url(../images/ico_cart_wh_h18_mok@2x.png);
    }
    
    a.btn_ip .ico_purchase_alarm, button.btn_ip .ico_purchase_alarm {
        background-image: url(../images/ico_purchase_alarm_mok@2x.png);
    }
    a.btn_alarm .ico_alarm, button.btn_alarm .ico_alarm {
        background-image: url(../images/ico_alarm_off_mok@2x.png);
    }
    a.btn_alarm.active .ico_alarm, button.btn_alarm.active .ico_alarm {
        background-image: url(../images/ico_alarm_on_mok@2x.png);
    }
    .btn_more_body .ico_arw {
        background-image: url(../images/btn_more_body_mok@2x.png);
    }
    .btn_more_body.active .ico_arw {
        background-image: url(../images/btn_more_body_active_mok@2x.png);
    }
    .btn_more_cont .ico_arw {
        background-image: url(../images/btn_more_cont_mok@2x.png);
    }
    .btn_more_cont.active .ico_arw {
        background-image: url(../images/btn_more_cont_active_mok@2x.png);
    }
    .btn_more_detail .ico_plus {
        background-image: url(../images/btn_more_detail_mok@2x.png);
    }
    .btn_more_view .ico_arw {
        background-image: url(../images/btn_more_view_mok@2x.png);
    }
    .btn_more_view.fc_spot .ico_arw {
        background-image: url(../images/arw_review_more_mok@2x.png);
    }
    .btn_delete .ico_delete {
        background-image: url(../images/ico_delete_mok@2x.png);
    }
    
    
    .btn_share_text .ico_share {
        background-image: url(../images/ico_share_mok@2x.png);
    }
    .btn_wish_text .ico_wish {
        background-image: url(../images/ico_heart_h18_mok@2x.png);

    }
    .btn_wish_text.active .ico_wish {
        background-image: url(../images/ico_heart_h18_active_mok@2x.png);
    }
    // .btn_tooltip .ico_info {
    //     background-image: url(../images/btn_tooltip_mok@2x.png);
    // }
    .btn_tooltip .ico_arw {
        background-image: url(../images/arw_tooltip_mok@2x.png);
    }
    // .btn_tooltip.active .ico_info {
    //     background-image: url(../images/btn_tooltip_active_mok@2x.png);
    // }
    .btn_tooltip.active .ico_arw {
        background-image: url(../images/arw_tooltip_active_mok@2x.png);
    }
    .btn_tooltip_sm .ico_info {
        background-image: url(../images/btn_tooltip_sm_mok@2x.png);
    }
    .btn_tooltip_sm .ico_question {
        background-image: url(../images/btn_tooltip_question_sm_mok@2x.png);
    }
    .btn_tooltip_sm.active .ico_info {
        background-image: url(../images/btn_tooltip_sm_active_mok@2x.png);
    }
    .btn_tooltip_arw {
        background-image: url(../images/arw_tooltip_mok@2x.png);
    }
    .btn_tooltip_arw.active {
        background-image: url(../images/btn_pop_tooltip_mok@2x.png);
    }
    .btn_pop_tooltip {
        background-image: url(../images/btn_pop_tooltip_mok@2x.png);
    }
}
@media (-webkit-min-device-pixel-ratio: 3) {
    .ico_trash {
        background-image: url(../images/ico_trash_mok@3x.png);
    }
    a.btn_xs .ico_plus, button.btn_xs .ico_plus {
        background-image: url(../images/ico_plus_h12_mok@3x.png);
    }
    a.btn_xs .ico_write_white, button.btn_xs .ico_write_white {
        background-image: url(../images/ico_write_wh_h17_mok@3x.png);
    }
    a.btn_xs .ico_locate, button.btn_xs .ico_locate {
        background-image: url(../images/ico_locate_mok@3x.png);
    }
    a.btn_xs .ico_new_window, button.btn_xs .ico_new_window {
        background-image: url(../images/ico_new_window_mok@3x.png);
    }
    a.btn_xxs .ico_download_white, button.btn_xxs .ico_download_white {
        background-image: url(../images/ico_download_wh_h10_mok@3x.png);
    }
    a.btn_xxs .ico_alarm, button.btn_xxs .ico_alarm {
        background-image: url(../images/ico_alarm_pr_xxs_mok@3x.png);
    }
    a.btn_min .ico_arw, button.btn_min .ico_arw {
        background-image: url(../images/arw_info_more_mok@3x.png);
    }
    a.btn_ip .ico_heart, button.btn_ip .ico_heart {
        background-image: url(../images/ico_heart_h18_mok@3x.png);
    }
    a.btn_ip .ico_heart_primary, button.btn_ip .ico_heart_primary {
        background-image: url(../images/ico_heart_pm_h18_mok@3x.png);
    }
    a.btn_ip .ico_cart_white, button.btn_ip .ico_cart_white {
        background-image: url(../images/ico_cart_wh_h18_mok@3x.png);
    }
    
    a.btn_ip .ico_purchase_alarm, button.btn_ip .ico_purchase_alarm {
        background-image: url(../images/ico_purchase_alarm_mok@3x.png);
    }
    a.btn_alarm .ico_alarm, button.btn_alarm .ico_alarm {
        background-image: url(../images/ico_alarm_off_mok@3x.png);
    }
    a.btn_alarm.active .ico_alarm, button.btn_alarm.active .ico_alarm {
        background-image: url(../images/ico_alarm_on_mok@3x.png);
    }
    .btn_more_body .ico_arw {
        background-image: url(../images/btn_more_body_mok@3x.png);
    }
    .btn_more_body.active .ico_arw {
        background-image: url(../images/btn_more_body_active_mok@3x.png);
    }
    .btn_more_cont .ico_arw {
        background-image: url(../images/btn_more_cont_mok@3x.png);
    }
    .btn_more_cont.active .ico_arw {
        background-image: url(../images/btn_more_cont_active_mok@3x.png);
    }
    .btn_more_detail .ico_plus {
        background-image: url(../images/btn_more_detail_mok@3x.png);
    }
    .btn_more_view .ico_arw {
        background-image: url(../images/btn_more_view_mok@3x.png);
    }
    .btn_more_view.fc_spot .ico_arw {
        background-image: url(../images/arw_review_more_mok@3x.png);
    }
    .btn_delete .ico_delete {
        background-image: url(../images/ico_delete_mok@3x.png);
    }
    
    
    .btn_share_text .ico_share {
        background-image: url(../images/ico_share_mok@3x.png);
    }
    .btn_wish_text .ico_wish {
        background-image: url(../images/ico_heart_h18_mok@3x.png);
    }
    .btn_wish_text.active .ico_wish {
        background-image: url(../images/ico_heart_h18_active_mok@3x.png);
    }
    .btn_tooltip .ico_info {
        background-image: url(../images/btn_tooltip_mok@3x.png);
    }
    .btn_tooltip .ico_arw {
        background-image: url(../images/arw_tooltip_mok@3x.png);
    }
    .btn_tooltip.active .ico_info {
        background-image: url(../images/btn_tooltip_active_mok@3x.png);
    }
    .btn_tooltip.active .ico_arw {
        background-image: url(../images/arw_tooltip_active_mok@3x.png);
    }
    .btn_tooltip_sm .ico_info {
        background-image: url(../images/btn_tooltip_sm_mok@3x.png);
    }
    .btn_tooltip_sm .ico_question {
        background-image: url(../images/btn_tooltip_question_sm_mok@3x.png);
    }
    .btn_tooltip_sm.active .ico_info {
        background-image: url(../images/btn_tooltip_sm_active_mok@3x.png);
    }
    .btn_tooltip_arw {
        background-image: url(../images/arw_tooltip_mok@3x.png);
    }
    .btn_tooltip_arw.active {
        background-image: url(../images/btn_pop_tooltip_mok@3x.png);
    }
    .btn_pop_tooltip {
        background-image: url(../images/btn_pop_tooltip_mok@3x.png);
    }
}
@media (max-width: 570px) {
    .btn_gift {
        flex: 0 1 auto !important;
        width: 50px;
        .ico_gift {
            margin-right: 0 !important;
        }
        .text {
            display: none !important;
        }
    }
}
/* e: 버튼 정리 */

/* 뱃지 */
[class^=badge_] {
    display: inline-block; 
    box-sizing: border-box; 
    text-align: center; 
    vertical-align: top;
}
[class^=badge_] [class^=ico_] {
    display: inline-block; 
    position: relative; 
    vertical-align: top;
}
[class^=badge_] .text {
    display: inline-block; 
    vertical-align: top;
}
.badge {
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    line-height: 18px;
    height: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    letter-spacing: -.01em;    
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &.rounded {
        border-radius: 10px !important;
    }
}
.badge_wrap {
    margin-bottom: 8px;
}
.badge_list {
    display: flex;
    flex-flow: wrap;
    .badge {
        margin-right:4px;
    }
}
/* badge color */
.badge_default {
    color: #767676;
    border: solid 1px #d5d5d5;
    background: #fff;
}
.badge_primary {
    color: $btn-primary;
    border:solid 1px $btn-primary;    
    background-color: #fff;
}
.badge_line_gray {
    color: #595959; 
    background-color: #fff4f1; 
    border: 1px solid #d5d5d5;
}
.badge_primary_evt{
    color:$btn-primary;
    background-color: #fff4f1;
    font-weight:700;
    padding: 0 6px;
    line-height:21px;
}
.badge_default_evt{
  color:#292929;
  background-color: #f5f5f5;
  font-weight:500;
  padding: 0 6px;
  line-height:21px;
}
.badge_disabled{
  background-color: #D5D5D5;
  color:#000;
  font-weight:normal;
  padding: 0 6px;
  line-height:21px;
}
/* badge icon */
.badge_ico {
    color: #da2128;
    font-weight: 500;
    font-size: 13px;
    .ico_truck {
        display: inline-block;
        width: 30px;
        height: 20px;
        background: url(../images/ico/ico_truck.svg) no-repeat 0 ;
        background-size: 30px auto;
    }
    .ico_truck_txt {                    
        display: inline-block;
        width: 40px;
        height: 20px;
        background: url(../images/ico/ico_truck_txt.svg) no-repeat 0 2px; 
        background-size: 40px auto;
    }
}
/* badge size */
.badge_sm {display:block; min-height: 20px; min-width: 50px; padding: 0 10px; border-radius: 4px; font-size: 11px; font-weight: 400;}
.badge_xs{ display:block; font-weight:normal; padding: 0 4px;  height:17px; line-height: 17px; font-size: 8px;}

/* 태그 */
.tag_wrap {
    margin: -3px;
    font-size: 0;
    .tag_item {
        margin: 3px;
        display: inline-block;
        font-size: 13px;
        line-height: 19px;
        letter-spacing: -0.01em;
        color: #595959;
        padding: 5px 14px 6px;
        background-color: #f7f7f7;
        border: 1px solid #f7f7f7;
        border-radius: 20px;
        box-sizing: border-box;
        transition: background-color 0.23s, border-color 0.23s, color 0.23s;
        text-align: center;
        vertical-align: top;
        .text {
            position: relative;
            white-space: nowrap;
        }
    }
    button.tag_item {
        &:hover {
            cursor: pointer;
        }
        &.active {
            background-color: #fff;
            border-color: #da2128;
            color: #da2128;
        }
        &.size_lg.active {
            color: #da2128;
        }
    }
    &.size_md .tag_item {
        padding: 8px 14px 7px;
    }
    &.size_lg .tag_item {
        padding: 9px 16px 7px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.01em;
        border-color: #eaeaea;
        color: #000;
    }
    &.col3 .tag_item {
        width: calc((100% - 18px) / 3);
    }
}




/* Btn : Contents */
.mc_cont {
    .btn_area {
        margin:30px -2px 0 -2px;padding:0;font-size:0;;
        button, a {
            width:calc(50% - 4px);margin:0 2px;
            &:only-child {
                width:100%;
            }
        }
        .btn_md {
            
        }
    }
}
.btn_area02 {
    margin-top:12px;
    button, a {
        width:100%;
    }
}
.btn_more_view {
    display:block;width:100%;margin-top:20px;text-align:center;position:relative;z-index:2;
    span {
        display:inline-block;position:relative;padding-right:30px;color:#767676;font-size:15px;line-height:24px;
        &:after {
            position:absolute;right:0;top:0;width:24px;height:24px;background:url('../images/main/ico_more_view.svg') center/100% no-repeat;content:"";
        }
    }
}
.btn_more_view_box {
    display:block;width:100%;margin-top:20px;text-align:center;
    strong {
        display:inline-block;position:relative;height:44px;padding:0 24px;border:1px solid #ccc;border-radius:4px;box-sizing:border-box;color:#000;font-size:14px;font-weight:500;line-height:44px;
    }
    em {
        display:inline-block;position:relative;margin-left:5px;padding-right:15px;
        &:after {
            position:absolute;right:0;top:50%;width:12px;height:12px;margin-top:-7px;background:url("../images/main/ico_btn_refresh.svg") center/100% no-repeat;content:"";
        }
    }
    &.ty02 {
        em {
            padding-right:6px;
            &:after {
                width:7px;height:7px;margin-top:-9px;background:none;border:solid #000;border-width:1px 1px 0 0;transform:rotate(45deg);content:"";overflow:hidden;
            }
        }
    }
    &.ty03 {
        em {
            position:relative;width:11px;height:11px;
            &:before {
                position:absolute;right:5px;top:0;width:2px;height:12px;margin-top:0;background:#000;content:"";
            }     
            &:after {
                position:absolute;right:0;top:5px;width:12px;height:2px;margin-top:0;background:#000;content:"";
            }
        }

    }
}
.btn_line_round {
    height:35px;padding:0 12px;background:#fff;border:1px solid #d5d5d5;border-radius:17px;box-sizing:border-box;
    color:#595959 !important;font-size:13px !important;line-height:33px;
    span {
        display:inline-block;position:relative;padding-right:15px;
        &:after {
            position:absolute;right:2px;top:50%;
            width:6px;height:6px;margin-top:-4px;background:none;border:solid #000;border-width:1px 1px 0 0;transform:rotate(45deg);content:"";overflow:hidden;
        }
    }
}
.btn_line_box_s {
    height:24px;padding:0 5px;background:#fff;border:1px solid #d5d5d5;border-radius:4px;box-sizing:border-box;
    color:#000 !important;font-size:12px;font-weight:500;line-height:24px;
    span {
        display:inline-block;position:relative;padding-right:10px;
        &:after {
            position:absolute;right:2px;top:50%;
            width:4px;height:4px;margin-top:-2px;background:none;border:solid #767676;border-width:1px 1px 0 0;transform:rotate(45deg);content:"";overflow:hidden;
        }
    }
}
.btn_line_refresh {
    span {
        display:block;position:relative;padding-right:20px;color:#595959;font-size:13px;font-weight:500;line-height:18px;
        &:after {
            position:absolute;right:0;top:-1px;width:18px;height:18px;background:url("../images/ico/ico_refresh.svg") center/100% no-repeat;content:"";
        }
    }
}
.round_ty {
    padding:15px 20px !important;font-size:0;
    span {
        display:inline-block;height:32px;margin-left:5px;padding:0 12px;background:#fff;border:1px solid #ccc;border-radius:16px;box-sizing:border-box;color:#595959;font-size:13px;line-height:31px;;
        &:first-child {
            margin-left:0;
        }
    }
}
.btn_hp_add {
    position:absolute;right:0;top:0;color:#595959;font-size:13px;font-weight:400;line-height:19px;cursor:pointer;
    span {
        position:relative;padding-left:10px;
        &:before {
            position:absolute;left:0;top:7px;width:7px;height:1px;background:#595959;content:"";
        }
        &:after {
            position:absolute;left:3px;top:4px;width:1px;height:7px;background:#595959;content:"";
        }
    }
}
.btn_form_delete {
    position:absolute;right:6px;top:10px;width:30px;height:30px;background:url('../images/ico/ico_btn_form_delete.svg') center/15px no-repeat;z-index:1;cursor:pointer;
    
}




