/***** Font : Gmarket Sans *****/
@font-face {
	font-family:'Gmarket Sans';font-style:normal;font-weight:700;
	src:local('Gmarket Sans Bold'), local('GmarketSans-Bold'),
	url('../font/GmarketSansBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../font/GmarketSansBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family:'Gmarket Sans';font-style:normal;font-weight:500;
	src:local('Gmarket Sans Medium'), local('GmarketSans-Medium'),
	url('../font/GmarketSansMedium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../font/GmarketSansMedium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family:'Gmarket Sans';font-style:normal;font-weight:300;
	src:local('Gmarket Sans Light'), local('GmarketSans-Light'),
	url('../font/GmarketSansLight.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../font/GmarketSansLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* 111 */








/***** Template : Common *****/
/* wel_main_wrap */
.wel_main_wrap {
    position:relative;background:#fff;word-wrap:break-word;word-break:keep-all;white-space:normal;margin-bottom:0;
}
.mc_cont {
    position:relative;padding:40px 20px 50px 20px;
    .scroll_tab {
        width:calc(100% + 20px);margin-right:-20px;
    }
}
.mc_cont_s {
    position: relative;margin-top:35px;
}
.mc_dep {
    padding-top:48px;
    &:before {
        position:absolute;left:0;top:0;width:100%;height:8px;background:#f7f7f7;content:"";
    }
}

/* Title */
.mc_tit {
    color:#000;font-family:'Gmarket Sans';font-size:36px;font-weight:500;line-height:42px;letter-spacing:-1.2px;
    img {
        vertical-align:top;
    }
    &.center {
        text-align:center;
    }
    &.an {
        opacity:1 !important;
    }
}
.mc_tit02 {
    margin-bottom:15px;color:#000;font-size:20px;font-weight:700;line-height:32px;letter-spacing:-1px;
    img {
        vertical-align:top;
    }
    &.center {
        text-align:center;
    }
    &.pad {
        padding:0 20px;
    }
}
.mc_tit03 {
    margin-bottom:10px;color:#000;font-size:16px;font-weight:700;line-height:26px;letter-spacing:-0.5px;
    img {
        vertical-align:top;
    }
    &.center {
        text-align:center;
    }
    &.ty02 {
        font-size:18px;line-height:28px;
    }
}
.mc_tit04 {
    margin-bottom:6px;color:#000;font-size:14px;font-weight:700;line-height:22px;letter-spacing:-0.3px;
    img {
        vertical-align:top;
    }
    &.center {
        text-align:center;
    }
}
.mc_txt {
    margin-top:5px;color:#767676;font-size:14px;line-height:22px;
    &.center {
        text-align:center;
    }
    &.ty02 {
        margin:-5px 0 15px 0;opacity:1;animation:none !important;
    }
}
.mc_txt02 {
    margin-top:5px;color:#000;font-size:15px;line-height:23px;
    &.center {
        text-align:center;
    }
}
.txt_swiper {
    margin:-10px -20px 10px -20px;padding:0 20px;
    a {
        display:block;margin-right:15px;
        color:#000;font-size:14px;font-weight:700;line-height:26px;opacity:0.2;transition:opacity 0.4s;
        &.on {
            opacity:1;
        }
    }
}



/*** Menu ****/
/** Sticky : ctg_topMenu **/
.ctg_topMenu {
    width:100%;
    overflow: hidden;
    position:sticky;
    top:60px;
    left:0;
    background-color: #F7F7F7;
    z-index:100;
    .inner_wrap{
        width:100%;
        overflow-x: auto;
        display:flex;
        flex-flow:row nowrap;
        line-height: 21px;
        padding:22px 20px 20px 20px;
    }
    a{
        flex-shrink: 0;
        display: block;
        position:relative;
        letter-spacing: -0.15px;
        font-weight:700;
        color:rgba(0,0,0,0.2);
        white-space: nowrap;
        margin-left:16px;
        font-size: 16px;

        &:first-of-type{
            margin-left:0px;
        }
        &.active{
            color:#000;
        }
    }
    .btn_line_round {
        position:absolute;right:20px;top:50%;transform:translateY(-50%);
    }
    .btn_line_refresh {
        position:absolute;right:20px;top:50%;transform:translateY(-50%);
    }
    &.not_sticky {
        position:relative;top:0;z-index:0;
    }
    &.include_sub {
        /*position:relative;top:0;z-index:0;*/
        & .inner_wrap {
            padding-bottom:12px;
        }
    }

}


/** menu_sort **/
.menu_sort {
    padding:0 20px;
    margin-top:16px;
    overflow-x: auto;
    white-space: nowrap;
    &.list_inner_sort{
       padding-bottom:16px;
    }
    .btn_sort{
        line-height:21px;
        font-size: 13px;
        margin-right:16px;
        position:relative;
        color:#595959;
        &.active{
            color:#000;
            font-weight: 500;
        }
        &:first-of-type:before{
            display: none;;
        }
        &:before{
            content:"";
            position:absolute;
            width:1px;
            height:7px;
            background-color:#eaeaea;
            top:6px;
            left:-10px;
        }

    }
    &.ty02 {
        margin:15px 0 20px 0;padding:0;
        li {
            position: relative;
        }
    }
}



/*** Banner ***/
/** MD 추천 (코너 메뉴 -신상품) **/
.ctg_top_swiper{
    margin-bottom:24px;
    .swiper-slide {
        position:relative;
        width:217px;
        border-radius: 12px;
        overflow: hidden;
        box-sizing: border-box;
        height:auto;
        min-height: 100% !important;
        
        .product_pic {
            padding-top: 217px;
            margin-bottom:0;
        }
        img {
            width:100%;
            height:auto;
        }
        .product_info{
            padding:12px 20px 20px 20px;
            background-color: #fff;
        }
    }
    .swiper-pagination.out_bottom {
        height:auto;
        padding:0;
        background-color: rgba(0,0,0,0);
        bottom:30px;
        line-height:16px;
        .swiper-pagination-current{
            color:#000;
            line-height:16px;
        }
        .swiper-pagination-total {
            line-height:16px;
            color:rgba(0,0,0,0.6);
            &:before {
                color:rgba(0,0,0,0.6);
            }
        }
    }
}

/** 솔로 배너 **/
.solo_banner {
    padding: 30px 0;
    img {
        width:100%;
    }
}
.prod_solo_banner {
    margin:32px 0 8px 0;
    img {
        width:100%;
    }
}
.row_dir .prod_solo_banner {
    margin-bottom:32px;
}

/** 띠배너 **/
.belt_banner {
    margin-top:60px;
    & > img {
        width:100%;
    }
}















/***** Template : Contents *****/
/*** Point Line : 형광팬 ***/
.point_line {
    position:relative;
    &:before {
        position:absolute;left:-2px;top:15px;width:calc(100% + 4px);height:14px;background:#bff06f;content:"";z-index:0;animation:pointLine both ease-in infinite 3s;
    }
    em {
        position:relative;
    }
    &.ty02:before {
        background:#a5e2ff;
    }
    &.ty03:before {
        background:#dbc4ff;
    }
    &.ty04:before {
        background:#f5c9ef;
    }
    &.ty05:before {
        background:#ffff58;
    }
    &.ty06:before {
        background:#e7fe65;
    }
    &.ty07:before {
        background:#ffd3ec;
    }
    &.ty08:before {
        background:#ffde86;
    }
    &.ty09:before {
        background:#9cfac4;
    }
}
@keyframes pointLine {
0% {width:0;}
12% {width:calc(100% + 4px);}
100% {width:calc(100% + 4px);}
}
@keyframes pointLine2 {
0% {width:0;}
7% {width:calc(100% + 4px);}
100% {width:calc(100% + 4px);}
}




/*** 다이나믹 메시지 ***/
.deadline_character_area {
    &:after {
        display:inline-block;position:absolute;right:-10px;top:-7px;width:70px;height:65px;background:center/100% no-repeat;content:"";animation:evtMsg both infinite 5s;
    }
    span {
        &:after {
            display:inline-block;width:14px;height:14px;margin:1px 0 0 4px;background:center/100% no-repeat;vertical-align:top;content:"";
        }
    }
}
.deadline_bubble {
    display:inline-block;position:absolute;right:60px;top:0;
    .txt {
        padding:8px 18px 5px 18px;background-color:#d4ff1a;border:solid #000;border-width:2px 2px 3px 2px;box-sizing:border-box;border-radius:40px;font-size:14px;line-height:18px;font-weight:700;letter-spacing:-0.5px;transform-origin:right center;animation:evtMsg both infinite 5s;
        &:before,
        &:after {
            display:block;position:absolute;top:50%;width:0;border-style:solid;content:"";
        }
        &:before {
            right:-10px;margin-top:-9px;border-color:transparent #000;border-width:8px 0 8px 10px;z-index:1;
        }
        &:after {
            right:-6px;margin-top:-8px;border-color:transparent #d4ff1a;border-width:6px 0 6px 8px;z-index:5;
        }
    }
}

.ht_best_deadline,
.ht_new_deadline,
.ht_del_deadline,
.ht_cate_deadline,
.ht_info_deadline {
    position:sticky;top:50%;width:auto;height:0;z-index:6;
}



/* 베스트 */
.ht_best_deadline {
    .deadline_bubble {
        right:60px;
    }
    &:after {
        right:-12px;top:-20px;width:60px;height:93px;background-image:url('../images/main/ico_side_best_list.svg');
    } 
    span {
        &:after {
            background-image:url('../images/main/ico_side_best_list_br.png');
        }
    }
}

/* 신상픔 */
.ht_new_deadline {
    .deadline_bubble {
        right:0;
    }
    &:after {
        right:56px;top:-20px;width:64px;height:35px;background-image:url('../images/main/ico_side_new_list.svg');animation:evtMsg both infinite 5s;
    }
    .txt {
        padding:11px 18px 8px 18px;
    }
    span {
        &:after {
            background-image:url('../images/main/ico_side_best_list_br.png');
        }
    }
}

/* 무료배송 */
.ht_del_deadline {
    &:after {
        background-image:url('../images/main/ico_side_del_list.svg');
    }
    span {
        &:after {
            background-image:url('../images/main/ico_side_del_list_br.png');
        }
    }
}

/* 카테고리 메인 */
.ht_cate_deadline_fixed {
    position:absolute;right:45px;top:64px;width:100%;z-index:2;
    .txt {
        animation-iteration-count:1;
    }
    &:after {
        right:-40px;top:-5px;width:76px;height:72px;background-image:url('../images/main/ico_side_cate_top.svg');animation-iteration-count:1;
    }
    .deadline_bubble {
        right:40px;
    }
    span {
        &:after {
            display:none;
        }
    }
}
.ht_cate_deadline {
    &:after {
        background-image:url('../images/main/ico_side_cate_list.svg');
    }
    span {
        &:after {
            background-image:url('../images/main/ico_side_cate_list_br.png');
        }
    }
}

/* 제품상세 */
.ht_info_deadline_fixed {
    position:absolute;right:50px;top:32px;width:100%;z-index:2;
    .txt {
        animation-iteration-count:1;
    }
    &:after {
        right:-40px;top:-17px;width:72px;height:68px;background-image:url('../images/main/ico_side_info_top.svg');animation-iteration-count:1;
    }
    .deadline_bubble {
        right:35px;
    }
    span {
        &:after {
            display:none;
        }
    }
}
.ht_info_deadline {
    &:after {
        background-image:url('../images/main/ico_side_info_list.svg');
    }
    .deadline_bubble {
        right:70px;
    }
    span {
        &:after {
            background-image:url('../images/main/ico_side_info_list_br.png');
        }
    }
}

/* 이벤트 : 마감임박 */
.ht_evt_deadline_fixed {
    position:absolute;right:94px;top:-25px;width:100%;z-index:5;
    &:after {
        right:-80px;top:27px;width:80px;height:88px;background-image:url('../images/main/ico_side_evt_top.svg');animation:none;
    }
    .deadline_bubble {
        right:2px;
        .txt {
            font-size:12px;
            &:before {
                display:block;position:absolute;right:-6px;bottom:3px;width:0;border-width:0 10px 10px 8px;border-color:#000 transparent;border-style:solid; transform:rotate(2deg);content:'';
            }
            &:after {
                display:block;position:absolute;right:-1px;bottom:6px;width:0;border-width:0 9px 9px 7px;border-color:#d4ff1a transparent;border-style:solid; transform:rotate(2deg);content:'';
            }
        }
    }
    span {
        &:after {
            display:none;
        }
        em {
            display:inline-block;width:14px;height:14px;margin:0 0 0 4px;background:url('../images/main/ico_side_evt_top_br.png') center/100% no-repeat;vertical-align:top;
        }
    }
}

/* 선물추천 : gft_need_msg */
.gft_need_msg {
    position:absolute;right:-15px;top:-24px;z-index:2;
    &:before {
        position:absolute;right:0;top:0;width:50px;height:53px;background:url("../images/main/ico_gft_need_msg.svg") center/100% no-repeat;content:"";
    }
    p {
        position:relative;right:45px;top:2px;padding:9px 15px 7px 15px;background:#d4ff1a;border:solid #000;border-width:2px 2px 3px 2px;border-radius:30px;color:#000;font-size:14px;font-weight:500;line-height:18px;transform-origin:right center;animation:evtMsg both infinite 5s;
        &:before {
            position:absolute;right:-11px;top:50%;width:0;height:0;border-left:10px solid #000;border-top:7px solid transparent;border-bottom:7px solid transparent;content:"";transform:translateY(-51%);z-index:2;
        }
        &:after {
            position:absolute;right:-7px;top:50%;width:0;height:0;border-left:10px solid #d4ff1a;border-top:7px solid transparent;border-bottom:7px solid transparent;content:"";transform:translateY(-52%);z-index:2;
        }
    }
    &.ty02 {
        top:-6px;
        &:before {
            background-image:url("../images/main/ico_cur_new02.svg");
        } 
    }
}





/* 큐레이션 : cur_new_msg */
.cur_new_msg {
    position:absolute;right:0;top:40px;z-index:2;
    &:before {
        position:absolute;right:0;top:0;width:77px;height:78px;background:url("../images/main/ico_cur_new.svg") center/100% no-repeat;content:"";
    }
    p {
        position:relative;right:70px;top:22px;padding:9px 15px 7px 15px;background:#d4ff1a;border:solid #000;border-width:2px 2px 3px 2px;border-radius:30px;color:#000;font-size:14px;font-weight:500;line-height:18px;transform-origin:right center;animation:evtMsg both infinite 5s;
        &:before {
            position:absolute;right:-11px;top:50%;width:0;height:0;border-left:10px solid #000;border-top:7px solid transparent;border-bottom:7px solid transparent;content:"";transform:translateY(-51%);z-index:2;
        }
        &:after {
            position:absolute;right:-7px;top:50%;width:0;height:0;border-left:10px solid #d4ff1a;border-top:7px solid transparent;border-bottom:7px solid transparent;content:"";transform:translateY(-52%);z-index:2;
        }
    }
    &.ty02 {
        top:-6px;
        &:before {
            background-image:url("../images/main/ico_cur_new02.svg");
        } 
    }
}

@keyframes evtMsg{
0% {opacity:0;transform:translateX(5%) scale(0.5);}
10% {opacity:0;transform:translateX(5%) scale(0.5);}
20% {opacity:1;transform:translateX(0%) scale(1);}
95% {opacity:1;transform:translateX(0%) scale(1);}
100% {opacity:0;transform:translateX(5%) scale(0.5);}
}










/*** 상품 리스트 : prod_list ***/
.prod_list {
    display:flex;justify-content:space-between;flex-wrap:wrap;margin:-20px -10px 0 -10px;
    .li {
        display:flex;flex-direction:column;position:relative;width:calc(50% - 20px);margin:20px 10px 0 10px;
    }
    a {
        display:block;
    }
    .img {
        position:relative;height:0;margin-bottom:15px;padding-top:100%;background:#f7f7f7;border-radius:8px;overflow:hidden;
        img {
            position:absolute;left:50%;top:50%;width:100%;height:auto;transform:translate(-50%,-50%);
        }
    }
    .txt {
        .s0 {
            margin-bottom:4px;color:#767676;font-size:12px;line-height:18px;
        }
        .s1 {
            display:-webkit-box;color:#000;font-size:13px;font-weight:500;line-height:19px;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;
        }
        .s2 {
            margin-top:8px;font-size:0;font-weight:700;line-height:18px;
            strong {
                padding-right:4px;color:#da2128;font-size:16px;
            }
            span {
                padding-right:4px;font-size:16px;
            } 
            em {
                display:inline-block;color:#767676;font-size:11px;font-weight:400;text-decoration:line-through;
            }
        }
    }
    &.ty02 {
        width:100%;margin-top:-24px;
        .li {
            width:calc(100% - 20px);margin-top:24px;display:flex;justify-content:flex-start;align-items:center;flex-flow:row wrap;
        }
        a {
            display:flex;width:100%;justify-content:flex-start;align-items:center;flex-flow:row wrap;
        }
        .img {
            width:calc(50% - 10px);margin:0 20px 0 0;padding-top:calc(50% - 10px);
        }
        .img + a {
            width:calc(50% - 10px);
            .txt {
                width:100%;
            }
        }
        .txt {
            width:calc(50% - 10px);
        }
        .replace_prod_swap {
            .tit {
                .txt {
                    width: auto;
                }
            }
        }
    }

    // 체크
    .chk_ty {
        position:absolute;left:0;top:0;width:100%;height:100%;
        input {
            position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;z-index:2;
            &:checked + label:before {
                opacity:1;
            }
            &:checked + label:after {
                background-color:#000;
            }
        }
        label {
            position:absolute;left:0;top:0;width:100%;height:100%;
            &:before {
                position:absolute;left:0;top:0;width:100%;height:100%;border:3px solid #000;border-radius:8px;box-sizing:border-box;opacity:0;content:"";transition:opacity 0.3s;
            }
            &:after {
                position:absolute;left:0;top:0;width:33px;height:33px;background:rgba(0,0,0,0.3) url('../images/ico/ico_chk_ty.svg') center/14px no-repeat;border-radius:8px 0;content:"";transition:all 0.3s;
            }
        }
    }

    // 대체상품
    .replace_prod_swap {
        z-index:5; max-width:750px;
        &:before {
            z-index:1;
        }
    }
    .li:nth-child(2n) {
        .replace_prod_swap {
            margin-right: 0;
            margin-left:calc(-100% - 40px);
            &:before {
                content: "";
                position: absolute;
                left: calc(100% - 40px);
            }
        }
    }
    &.ty02 {
        width:100%;
        .replace_prod_swap {
            margin:30px -20px 0 -20px;
        }
        .li:nth-child(2n) {
            .replace_prod_swap {
                margin:30px -20px 0 -20px;
                &:before {
                    left:20px;
                }
            }
        }
    }

}
.ico_marker_area {
    margin-top:10px;
    .ico_marker {
        display:inline-block;height:20px;padding:1px 7px 0 7px;background:#f7f7f7;border-radius:10px;box-sizing:border-box;color:#292929;font-size:10px;line-height:20px;text-align:center;
        &.on {
            background:#fff4f1;color:#da2128;font-weight:700;
        }
        &.off2 {
            padding-top:0;background-color:#d5d5d5;border:1px solid #000 !important;color:#000;
        }
    } 
}
.prod_like_count {
    position:absolute;right:10px;bottom:10px;height:24px;padding:0 12px;background:rgba(0,0,0,0.5);border-radius:12px;color:#fff;font-size:10px;line-height:25px;cursor:pointer;z-index:3;
    span {
        display:inline-block;position:relative;height:24px;padding-left:16px;
        &:before {
            position:absolute;left:0;top:5px;width:12px;height:14px;background:url("../images/guide/ico_prod_like_icon.svg") center/100% no-repeat;content:"";
        }
    }
    &.active {
        span:before {
            background-image:url("../images/guide/ico_prod_like_icon_active.svg")
        }
    }
}
.prod_soldout_msg {
    position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.6);color:#fff;text-align:center;
}
.prod_soldout_msg_txt {
    position:absolute;left:0;top:50%;width:100%;transform:translateY(-50%);font-size:13px;font-weight:700;line-height:19px;
    a {
        position:absolute;left:0;top:-300%;width:100%;height:700%;background:rgba(0,0,0,0);z-index:1;
    }
    .btn_prod_replace_chk {
        display:inline-block;position: relative;  height:22px;margin:11px auto 0 auto;padding:0 6px;background-color:#fff;border-radius:4px;color:#000;font-size:12px;line-height:22px;z-index:2;
    }
}
.prod_soldout_msg span {
    display:inline-block;height:22px;margin:11px auto 0 auto;padding:0 6px;background-color:#fff;border-radius:4px;color:#000;font-size:12px;line-height:22px;
}
.mc_end_msg {
    display:flex;justify-content:center;align-items:center;position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.6);color:#fff;font-size:13px;font-weight:700;
}





/***** Popip Contents *****/
/* pop_info_msg */
.pop_info_msg {
    padding:0 10px;
    p {
        position:relative;text-align:center;
        &.s1 {
            color:#000;font-size:15px;font-weight:700;line-height:23px;
        }
        &.s2 {
            color:#595959;font-size:13px;font-weight:400;line-height:19px;
        }
    }
    .ico {
        height:56px;margin-bottom:10px;
    }
    .s1 + .s2 {
        margin-top:8px;
    }
}

/* pop_phone_info_msg */
.pop_phone_info_msg {
    margin-bottom:21px;
    p {
        position:relative;padding-top:58px;color:#000;font-size:14px;font-weight:700;line-height:22px;text-align:center;
        &:before {
            position:absolute;left:50%;top:0;width:56px;height:48px;margin-left:-28px;background:url('../images/ico/ico_pop_phone_info_msg.svg') center/100% no-repeat;content:"";
        }
    }
}

/* pop_box_info */
.pop_box_info {
    position:relative;padding:20px;background:#f7f7f7;border-radius:4px;box-sizing:border-box;
    .tit {
        margin-bottom:5px;color:#000;font-size:14px;font-weight:500;line-height:22px;
    }
}

/* pop_info */
.pop_info {
    margin-top:13px;letter-spacing:-0.4px;
    li {
        position:relative;margin-top:4px;padding-left:8px;color:#767676;font-size:13px;line-height:19px;
        &:before {
            position:absolute;left:0;top:1px;font-size:11px;content:"*";
        }
        &:first-child {
            margin-top:0;
        }
    }
}

/* info_box */
.info_box {
    position:relative;padding:20px;background:#f7f7f7;border-radius:4px;
    .tit {
        color:#000;font-size:14px;font-weight:700;line-height:20px;
    }
    .tit + ul {
        margin-top:8px;
    }

    li {
        position:relative;margin-top:10px;padding-left:8px;color:#595959;font-size:13px;font-weight:400;line-height:19px;
        &:before {
            position:absolute;left:0;top:8px;width:3px;height:3px;background:#999;border-radius:50%;content:"";
        }
        &:first-child {
            margin-top:0;
        }
        .point {
            color:#000;font-weight:400;text-decoration:underline;
        }
    }
}










/***** Animation *****/
@keyframes fade{
0% {opacity:0;}
100% {opacity:1;}
}
@keyframes txtTop{
0% {transform:translateY(50%);opacity:0;}
100% {transform:translateY(0%);opacity:1;}
}
@keyframes mc_cate_tit {
0% {transform:scale(1) rotate(-20deg);}
50% {transform:scale(0.85) rotate(10deg);}
100% {transform:scale(1) rotate(-20deg);}
}









/* title_header */
.title_header {
    position:sticky;left:0;top:0;background-color:#fff;z-index:20;  
    .pop_like_header {
        padding:17px 0;border-bottom:1px solid #eaeaea;text-align:center;
        .title {
            font-size:18px;
            line-height:28px;
            letter-spacing:-0.01em;
            font-weight:500;
            display:block;
            overflow:hidden;
            max-width:100%;
            height:auto;
            max-height:none;
            -webkit-box-orient:inherit;
            -webkit-line-clamp:inherit;
            text-overflow:ellipsis;
            white-space:nowrap;
        }
    }
    .btn_tit_close {
        position:absolute;
        top:17px;
        right:20px;
        width:24px;
        height:24px;
        padding:3px;
        .ico_dialog_close {
            position:relative;
            z-index:3;
            display:block;
            width:24px;
            height:24px;
            background-image:url('../images/guide/btn_dialog_close.svg');
            background-size:24px 24px;
        }
    }
}

/* main_menu 임시 */
.wel_mc {
    border:0 !important;font-size:15px;font-weight:700;
    .menu_list_item {
        padding:0 15px 0 10px !important;
        &:first-child {
            padding-left:20px !important;
        }
        img {
            display:inline-block;width:25px;height:25px;margin:-2px 5px 0 0;vertical-align:middle;
        }
    }
    &.mc_chk {
        border-bottom:1px solid #d5d5d5 !important;
    }
}








/* btn_pop_top */
.btn_pop_top {
    display:block;position:fixed;right:-20px;bottom:20px;width:47px;height:47px;background-color:#fff;border:1px solid #d5d5d5;box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.1);border-radius:50%;z-index:100;opacity:0;transition:right .23s,opacity .23s;
    &:before {
        display:block;width:13px;height:18px;margin:13px auto 0;background-image:url(../images/guide/arw_go_top_mok.png);background-size:13px 18px;content:"";
    }
    &.active {
        right:20px;opacity:1;
    }
}
  



/* Etc */
.dialog_title {
    .img_h {
        display:inline-block;height:22px;margin:2px 0 0 4px; vertical-align:top;
    }
}


