@charset "UTF-8";
/*
    Layout
*/

body {
    word-wrap:break-word;word-break:keep-all;white-space:normal;background:#f7f7f7;touch-action:pan-y;
    &:before {
        position:absolute;left:0;top:0;width:100%;max-width:750px;height:100%;background:#fff;content:"";z-index:-1;
    }
}
@media only screen and (min-width:750px) {
    body:before {
        left:50%;margin-left:-375px;
    }
}

/***** wrapper *****/
.wrapper.ht_ {
    max-width:750px;margin:0 auto;
    #containerWrapper,
    .container_wrapper,
    .content_wrap,
    .contents_wrap,
    .cont_wrap {
        position:relative;padding-top:0;background-color:#fff;
    }
    .wrap {
        background-color:#fff;padding-bottom:80px;
    }
    .cont_wrap {
        padding-bottom:60px;
    }
    .container_wrapper {
        padding-bottom:0;
    }
    .cont_wrap + .wel_main_wrap {
        margin-top:-60px;
    }
}





/*** header ***/
.wrapper.ht_ {
    /* header common */
    .header_wrapper {
        display:flex;position:sticky;left:0;top:0;justify-content:flex-start;align-items:center;flex-direction:row;width:100%;height:60px;padding:0 20px;background-color:#fff;box-sizing:border-box;transform:translateY(0);transition:transform .23s;z-index:100;
        [class^=btn_header] {
            display:inline-block;width:30px;height:30px;padding:2px;box-sizing:border-box;vertical-align:top;
            &:after {
                display:block;width:26px;height:26px;background-repeat:no-repeat;background-size:100%;background-position:0 0;content:"";
            }
            &.btn_header_back:after {
                background-image:url('#{$imgUrl}guide/btn_header_back_mok.svg');background-size:26px 26px;
            }
            &.btn_header_home:after {
                background-image:url('#{$imgUrl}guide/btn_header_home_mok.svg');background-size:26px 26px;
            }

            &.btn_header_search:after {
                background-image:url('#{$imgUrl}guide/btn_header_search_mok.svg');background-size:26px 26px;
            }
            &.btn_header_cart {
                position:relative;
                &:after {
                    background-image:url('#{$imgUrl}guide/btn_header_cart_mok.svg');background-size:26px 26px;
                }
                .count {
                    position:absolute;right:-4px;top:-4px;min-width:18px;height:18px;padding:4px 2px 0;background-color:#da2128;border-radius:9px;box-sizing:border-box;color:#fff;font-size:11px;font-weight:700;line-height:1;letter-spacing:-0.01em;text-align:center;
                }
            }
            + [class^=btn_header] {
                margin-left:8px;
            }
        }
        .header_center {
            padding:4px 10px 10px 0;flex:1;box-sizing:border-box;overflow:hidden;
            .page_title {
                display:inline-block;width:100%;max-width:100%;height:auto;max-height:none;font-size:18px;font-weight:500;line-height:28px;letter-spacing:-0.01em;text-align:center;-webkit-box-orient:inherit;-webkit-line-clamp:inherit;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;
            }
        }
        .header_left {
            flex-shrink:0;
            + .gnb_search_wrap {
                margin-left:2px;
            }
        }
        .header_right {
            flex-shrink:0;margin-left:auto;
        }
        .gnb_search_wrap {
            display:flex;position:relative;flex:1;justify-content:flex-start;align-items:center;flex-direction:row;padding:10px 18px 10px 20px;
            .gnb_search_box {
                display:flex;justify-content:flex-start;align-items:center;flex-direction:row;width:100%;height:40px;padding:0 8px 0 18px;background:#fff;border:1px solid #d5d5d5;border-radius:25px;box-sizing:border-box;flex:1;
                .search_input_wrap {
                    position:relative;flex:1;height:100%;padding-left:14px;margin-right:5px;
                    .ip_gnb_search {
                        width:100%;height:100%;background-color:#fff;background:0 0;font-size:13px;line-height:19px;letter-spacing:-0.01em;text-overflow:ellipsis;outline:0;
                        &::-webkit-input-placeholder,
                        &:-ms-input-placeholder,
                        &::-ms-input-placeholder,
                        &::-moz-placeholder,
                        &::placeholder,
                        &:-ms-input-placeholder {
                            color:#767676;font-size:inherit;
                        }
                        &::-webkit-search-cancel-button,
                        &::-webkit-search-decoration,
                        &::-webkit-search-results-button,
                        &::-webkit-search-results-decoration {
                            display:none;width:0;height:0;
                        }
                    }
                    input[type=search] {
                        &::-ms-clear, &::-ms-reveal {
                            display:none;width:0;height:0;
                        }
                    }
                    .btn_ip_clear {
                        display:none;position:absolute;right:10px;top:50%;width:20px;height:20px;background-image:url('#{$imgUrl}guide/btn_ip_reset.png');background-size:18px 18px;background-position:center;background-repeat:no-repeat;transform:translateY(-50%);
                    }
                    &.value {
                        .ip_gnb_search {
                            padding-right:30px;
                        }
                        .btn_ip_clear {
                            display:block;
                        }
                    }
                }
                .btn_gnb_search {
                    display:block;width:30px;height:30px;background-image:url('#{$imgUrl}guide/btn_header_search.png');background-size:16px 16px;background-position:center;background-repeat:no-repeat;
                }
            }
            .btn_header_cart {
                flex-shrink:0;margin-left:18px;
            }
        }
        &.has_line:after {
            display:block;position:absolute;left:0;bottom:0;right:0;height:1px;background-color:#eaeaea;content:"";
        }
        &.header_main {
            position:relative;display:block;height:auto;padding:0; transform:translateY(0) !important;transition:none !important;
            .header_top_wrap {
                position:relative;height:58px;padding-top:16px;padding-left:112px;background-color:#f4f4f4;box-sizing:border-box;
                &:before {
                    display:block;position:absolute;left:0;bottom:0;width:172px;height:54px;background-image:url('#{$imgUrl}guide/bg_service_mall_shape_mok.png');background-size:172px 54px;content:"";z-index:2;
                }
                &:after {
                    display:block;position:absolute;left:0;bottom:0;width:100%;height:10px;background-color:#fff;content:"";
                }
                .logo_box {
                    position:absolute;left:4px;top:7px;width:113px;height:63px;z-index:2;
                    .logo_link {
                        display:block;height:100%;background:url('#{$imgUrl}main/logo_ht_mo.svg') left center/113px 63px no-repeat;
                        img {
                            width:100%;opacity:0;
                        }
                        .ht_logo {
                            width:auto;height:21px;margin:4px 0 0 2px;
                        }
                    }
                }
                .service_mall_wrap {
                    position:relative;
                    &:after {
                        position:absolute;right:0;top:0;width:71px;height:32px;background:linear-gradient(90deg, rgba(244, 244, 244, 0), #f4f4f4 56%, #f4f4f4 100%);content:"";z-index:2;
                    }
                    &:before {
                        position:absolute;left:-7px;top:-2px;width:5px;height:5px;border-radius:100%;background-color:#da2128;z-index:2;content:"";
                    }
                    .service_mall_inner {
                        padding-right:71px;overflow-x:auto;-webkit-overflow-scrolling:touch;white-space:nowrap;
                        &::-webkit-scrollbar {
                            display:none;
                        }
                    }
                    .btn_brand_more {
                        position:absolute;right:12px;top:0;width:30px;height:30px;padding:1px;box-sizing:border-box;background-image:url('#{$imgUrl}guide/btn_service_mall_more_mok.png');background-size:28px 28px;background-position:center;background-repeat:no-repeat;z-index:3;transition:background-image .23s;
                    }
                    .brand_more_list_box {
                        display:none;position:absolute;right:12px;top:42px;width:292px;padding:20px;background-color:#fff;border:1px solid #d5d5d5;border-radius:16px;box-sizing:border-box;box-shadow:0 5px 10px 0 rgba(155, 160, 168, 0.5);z-index:10;
                        .brand_more_list {
                            font-size:0;
                            .brand_more_item {
                                display:inline-block;width:calc((100% - 10px)/ 2);
                                .brand_more_link {
                                    display:flex;justify-content:flex-start;align-items:center;flex-direction:row;
                                    .img_box {
                                        flex-shrink:0;display:inline-block;width:34px;height:34px;border-radius:100%;overflow:hidden;vertical-align:top;
                                        img {
                                            width:100%;
                                        }
                                    }
                                    .brand_name {
                                        margin-left:9px;font-size:13px;line-height:19px;letter-spacing:-0.01em;
                                    }
                                }
                                &:nth-child(2n) {
                                    margin-left:10px;
                                }
                                &:nth-child(n+3) {
                                    margin-top:14px;
                                }
                            }
                        }
                    }
                    &.active {
                        .btn_brand_more {
                            background-image:url('#{$imgUrl}guide/btn_service_mall_more_active_mok.png');background-size:28px 28px;
                        }
                        .brand_more_list_box {
                            display:block;opacity:0;transition:opacity .23s;
                        }
                        &.animated .brand_more_list_box {
                            opacity:1;
                        }
                    }
                }
            }
            ~ .container_wrapper {
                padding-top:0;
            }
        }
        &.type_white [class^=btn_header] {
            &.btn_header_back:after {
                background-image:url('#{$imgUrl}guide/btn_header_back_white_mok.png');background-size:26px 26px;
            }
            &.btn_header_home:after {
                background-image:url('#{$imgUrl}guide/btn_header_home_white_mok.png');background-size:26px 26px;
            }
            &.btn_header_search:after {
                background-image:url('#{$imgUrl}guide/btn_header_search_white_mok.png');background-size:26px 26px;
            }

            &.btn_header_cart {
                position:relative;
                &:after {
                    background-image:url('#{$imgUrl}guide/btn_header_cart_white_mok.png');background-size:26px 26px;
                }
            }
        }
    }
    .header_nosticky_wrapper {
        display:flex;justify-content:center;align-items:center;flex-direction:row;width:100%;height:60px;padding:0 20px;background-color:#fff;box-sizing:border-box;transform:translateY(0);
        .header_center {
            padding:4px 10px 0;overflow:hidden;flex:1;box-sizing:border-box;
            .page_title {
                display:flex;font-size:18px;font-weight:500;line-height:28px;letter-spacing:-0.01em;justify-content:center;white-space:nowrap;text-align:center;
                .logo{
                    width:63px;transform:translateY(-2px);
                }
                .txt {
                    margin-left:8px;
                }
            }
        }
    }
}

/* Header */
.wrapper.ht_.scroll_chk header {
    transform:translateY(-100%);
}

.evt_quick_menu_slide,
.ctg_topMenu,
.ctg_floating_line,
.sticky_selec,
.tab_wrap .tab_list_wrap {
    transition:top 0.23s;
}
.wrapper.ht_.scroll_chk {
    header + .cont_wrap .ctg_topMenu,
    header + .cont_wrap .ctg_floating_line,
    header + .wel_main_wrap .ctg_topMenu,
    header + .container_wrapper .ctg_topMenu,
    header + .container_wrapper .ctg_floating_line {
        top:-1px;
    }

    header + .evt_list_header + .evt_quick_menu_slide  {
        top:-1px;padding-top:15px;
    }
    header + .cont_wrap .sticky_selec,
    header + .content_wrap .sticky_selec,
    header + .container_wrapper .sticky_selec,
    header + .container_wrapper .tab_wrap .tab_list_wrap {
        top:-1px;
    }
}
.wrapper.ht_.scroll_chk {
    header + #contents + .cont_wrap .ctg_topMenu,
    header + #contents + .cont_wrap .ctg_floating_line,
    header + #contents + .wel_main_wrap .ctg_topMenu,
    header + #contents + .container_wrapper .ctg_topMenu,
    header + #contents + .container_wrapper .ctg_floating_line {
        top:-1px;
    }

    header + #contents + .evt_list_header + .evt_quick_menu_slide  {
        top:-1px;padding-top:15px;
    }
    header + #contents + .cont_wrap .sticky_selec,
    header + #contents + .content_wrap .sticky_selec,
    header + #contents + .container_wrapper .sticky_selec,
    header + #contents + .container_wrapper .tab_wrap .tab_list_wrap {
        top:-1px;
    }
}

.wrapper.ht_.scroll_not header {
    transform:translateY(0%);transition:none;
}
.wrapper.ht_.scroll_not {
    header + .cont_wrap .sticky_selec,
    header + .content_wrap .sticky_selec,
    header + .container_wrapper .sticky_selec,
    header + .container_wrapper .tab_wrap .tab_list_wrap {
        top:60px;transition:none;
    }
}
.wrapper.ht_.scroll_not {
    header + #contents + .cont_wrap .sticky_selec,
    header + #contents + .content_wrap .sticky_selec,
    header + #contents + .container_wrapper .sticky_selec,
    header + #contents + .container_wrapper .tab_wrap .tab_list_wrap {
        top:60px;transition:none;
    }
}




.wrapper.ht_ .docker_wrapper {
	transform: translateY(0%);
}
.wrapper.ht_.scroll_chk {
    .docker_wrapper {
        transform: translateY(100%);
    }
}


/*
.wrapper.ht_ header.scroll_down {
    transform:translateY(-100%);
}

.evt_quick_menu_slide,
.ctg_topMenu,
.ctg_floating_line,
.sticky_selec,
.tab_wrap .tab_list_wrap {
    transition:top 0.23s;
}
.wrapper.ht_ {
    header.scroll_down + .cont_wrap .ctg_topMenu,
    header.scroll_down + .cont_wrap .ctg_floating_line,
    header.scroll_down + .wel_main_wrap .ctg_topMenu,
    header.scroll_down + .container_wrapper .ctg_topMenu,
    header.scroll_down + .container_wrapper .ctg_floating_line {
        top:-1px;
    }

    header.scroll_down + .evt_list_header + .evt_quick_menu_slide  {
        top:-1px;padding-top:15px;
    }
    header.scroll_down + .cont_wrap .sticky_selec,
    header.scroll_down + .content_wrap .sticky_selec,
    header.scroll_down + .container_wrapper .sticky_selec,
    header.scroll_down + .container_wrapper .tab_wrap .tab_list_wrap {
        top:-1px;
    }
}
*/












/*** Contents ***/
.wrapper.ht_ {
    .main_menu_wrap {
        position:sticky;left:0;top:0;background-color:#fff;z-index:10;
        &.on {
            .main_menu_list_wrap {
                position:fixed !important;
            }
        }
        .main_menu_list_wrap {
            position: relative !important;left:0;top:0;width:100%;max-width:750px;background-color:#fff;border-bottom:1px solid #d5d5d5;overflow-x:auto;-webkit-overflow-scrolling:touch;
            .menu_list {
                white-space:nowrap;
                .menu_list_item {
                    display:inline-block;padding:2px 15px 0;box-sizing:border-box;vertical-align:top;
                    .menu_link {
                        line-height:50px;
                    }
                    &:first-child {
                        padding-left:20px;
                    }
                    &:last-child {
                        padding-right:20px;
                    }
                    &.marker {
                        position:relative;
                        &:after {
                            display:block;position:absolute;right:10px;top:13px;width:4px;height:4px;background-color:#da2128;border-radius:50%;content:'';
                        }
                    }
                    &.on a{
                        position:relative;
                        &:before {
                            position:absolute;left:30px;bottom:-2px;width:calc(100% - 30px);height:2px;background-color:#000;content:"";
                        }
                    }
                    &.act {
                        span {
                            display:inline-block;position:relative;
                            &:before {
                                position:absolute;left:0;top:23px;width:100%;height:14px;background:#ffd3ec;content:"";z-index:0;animation:pointLine both ease-in infinite 3s;
                            }
                        }
                        em {
                            position:relative;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (min-width:750px) {
    .ht_.wrapper .main_menu_wrap {
        .sps.sps_scroll_fixed.sps-blw {
            position:fixed;left:50%;margin-left:-375px;
        }
        &.on {
            .main_menu_list_wrap {
                left:50%;margin-left:-375px;
            }
        }
    }
}











/*** Footer ***/
.wrapper.ht_ {
    /* .footer_wrap */
    .footer_wrap {
        background:#fff;
    }
    .footer_wrapper {
        margin-top:0px;
        .notice_wrap {
            display:flex;display:-webkit-flex;justify-content:flex-start;align-items:center;flex-direction:row;height:60px;padding:0 20px;background-color:#f7f7f7;border-top:1px solid #d5d5d5;box-sizing:border-box;
            .notice_text {
                flex-shrink:0;display:inline-block;font-size:14px;font-weight:700;line-height:22px;letter-spacing:-.01em;vertical-align:top;
            }
            .notice_link {
                display:inline-block;width:100%;max-width:100%;height:auto;max-height:none;margin-left:20px;font-size:14px;line-height:22px;letter-spacing:-.01em;text-decoration:underline;-webkit-box-orient:inherit;-webkit-line-clamp:inherit;text-overflow:ellipsis;white-space:nowrap;vertical-align:top;overflow:hidden;
            }
        }
        .footer_body {
            padding:30px 20px 68px;background-color:#fff;
            .logo_box {
                display:block;position:relative;margin-bottom: 22px;
                .logo_link {
                    display:block;height:100%;
                    img {
                        width:120px;
                    }
                }
            }
            .footer_info_box {
                display:block;padding:0;font-size:0;
                .info_text_multi .info_text {
                    display:inline-block;margin-top:0;vertical-align:top;
                }
                .info_text {
                    display:block;margin-top:3px;color:#595959;font-size:13px;line-height:19px;letter-spacing:-.01em;
                    .text_inner {
                        display:block;margin-right:8px;
                    }
                }
                .gap {
                    font-size:0;
                    &:before {
                        display:inline-block;width:1px;height:8px;margin:5px 8px 0;background-color:#d5d5d5;vertical-align:top;content:"";
                    }
                }
            }
            .btn_footer_link {
                display:inline-block;padding:5px 5px;border:1px solid #ccc;border-radius:4px;font-size:12px;font-weight:500;line-height:18px;letter-spacing:-.01em;line-height:1;vertical-align:top;background-color:#fff;
                &:after {
                    display:inline-block;width:6px;height:6px;margin:2px 0 0 2px;background-image:url('#{$imgUrl}guide/arw_footer_link_mok.png');background-size:6px 6px;vertical-align:top;content:"";
                }
            }
            .footer_menu_box {
                margin-top:13px;
                .footer_menu_list {
                    display: inline-block;width: 100%;
                    .footer_menu_item {
                        display: inline-block;width: auto;margin-left: 20px;
                        &:first-child{
                            margin-left: 0;
                        }
                        .footer_menu_link {
                            font-size:14px;font-weight:500;line-height:22px;letter-spacing:-.01em;
                        }
                        &.privacy .footer_menu_link {
                            font-weight:700;
                        }
                    }
                    &.menu_list_bottom{
                        margin-top: 4px;
                        .footer_menu_item{
                            margin-left: 13px;position:relative;
                            &:before{
                                content: "";display: inline-block;width: 1px; height: 7px; background-color: #d5d5d5;position: absolute;top: 6px;left: -8px;
                            }
                            &:first-child{
                                margin-left: 0;
                                &:before{
                                    display: none;
                                }
                            }
                            &.privacy .footer_menu_link{
                                font-weight: 700;
                            }
                            .footer_menu_link{
                                font-size: 12px;color: #595959;font-weight: 400;
                            }
                        }
                    }
                }
            }
            .copyright_box {
                margin-top:20px; display: inline-block;width: 100%;
                .copyright {
                    color:#767676;font-size:13px;line-height:19px;letter-spacing:-.01em;float: right;margin-top: 8px;
                    @media (max-width:375px) {
                        font-size:11px;
                    }
                }
                .sns_share_box {
                    font-size:0;float:left;
                    .btn_sns_share {
                        display:inline-block;width:32px;height:32px;background-size:32px 32px;background-position:center;background-repeat:no-repeat;vertical-align:top;
                        &.youtube {
                            background-image:url('#{$imgUrl}guide/ico_logo_youtube.svg');
                        }
                        &.fb {
                            background-image:url('#{$imgUrl}guide/ico_logo_facebook.svg');
                        }
                        &.insta {
                            background-image:url('#{$imgUrl}guide/ico_logo_instar.svg');
                        }
                        &.twt {
                            background-image:url('#{$imgUrl}guide/ico_logo_twitter.svg');
                        }
                        &.blog {
                            background-image:url('#{$imgUrl}guide/ico_logo_blog.svg');
                        }
                        + .btn_sns_share {
                            margin-left:8px;
                        }
                    }
                }
            }
            .footer_info_box{
                background:#f7f7f7;border-radius:10px;
            }

            /* 패밀리사이트 선택박스 .family_site_box */
            .family_site_box {
                position:relative;margin-top:21px;
                .btn_family_site {
                    position:relative;width:100%;height:44px;padding:0 22px;background-color:#fff;border:1px solid #d5d5d5;border-radius:22px;text-align:left;box-sizing:border-box;-webkit-transition:background-color 0.23s, border-color 0.23s;transition:background-color 0.23s, border-color 0.23s;
                    .text {
                        font-size:13px;line-height:19px;letter-spacing:-0.01em;
                    }
                    &:after {
                        content:"";position:absolute;right:17px;top:50%;display:block;width:9px;height:5px;margin-top:-2px;background-position:center;background-repeat:no-repeat;background-size:9px 5px;background-image:url('#{$imgUrl}guide/arw_familysite_more.png');-webkit-transition:transform 0.23s;transition:transform 0.23s;
                    }
                }
                .family_site_list {
                    display:none;padding:14px 22px 20px;border:1px solid #d5d5d5;border-radius:20px;background-color:#fff;box-sizing:border-box;-webkit-transition:opacity 0.23s, bottom 0.23s;transition:opacity 0.23s, bottom 0.23s;z-index:1;
                    .family_site_item {
                        display:block;
                        & + .family_site_item {
                            margin-top:25px;
                        }
                    }
                    .family_site_link {
                        display:block;font-size:13px;line-height:19px;letter-spacing:-0.01em;color:#595959;text-decoration:none;-webkit-transition:all 0.2s;transition:all 0.2s;
                        &:hover {
                            color:#000;text-decoration:underline;
                        }
                    }
                }
                &.active {
                    .family_site_list {
                        display:block;opacity:0;
                    }
                    &.animated {
                        .btn_family_site {
                            background-color:#fff;border-color:#000;
                            &:after {
                                -webkit-transform:rotate(180deg);transform:rotate(180deg);
                            }
                        }
                        .family_site_list {
                            opacity:1;display:block;bottom:48px;width:100%;border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:22px;border-bottom-left-radius:22px;border-top:0;border-color:#000;
                        }
                    }
                    .btn_family_site{
                        border-top-left-radius:22px;border-top-right-radius:22px;border-bottom-right-radius:0;border-bottom-left-radius:0;border-bottom:0;
                    }
                } 
            }
        }

        /* 웰컴메인형 footer Tab */
        .ctg_topMenu{
            background-color:#fff;position:initial;
            .inner_wrap{
                padding:0;
                a{
                    font-size:15px;margin-left:12px;
                    &:first-of-type {
                        margin-left:0px;
                    }
                }
            }
        .tab {
                font-size:15px;
            }
        }

        /* 웰컴메인형 footer content */
        .notice_type_detail {
            padding:30px 20px 0px;background-color:#fff;border-top:1px solid #d5d5d5;
            +.footer_body {
                border-top:0;padding:24px 20px 30px;
            }
            .notice_more {
                position:absolute;top:-29px;right:0;z-index:111;
                &:after {
                    content:"";width:10px;height:10px;display:inline-block;background:url('#{$imgUrl}layout/ico_plus_h12_bold.png');background-size:contain;vertical-align:top;
                }
            }
            .notice_content {
                border:1px solid #eaeaea;border-radius:16px;padding:26px 24px 22px;margin-top:11px;position:relative;display:none;
                .notice_content_tit {
                    position:relative;font-size:14px;font-weight:500;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;display:-webkit-box;
                }
                .notice_content_text {
                    font-size:13px;color:#595959;line-height:19px;margin-top:11px;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;display:-webkit-box;
                }
                .notice_date {
                    font-size:13px;color:#767676;margin-top:18px;display:inline-block;
                }
                &.notice.on,
                &.winner.on
                {
                    display:block;
                }
            }
            .ico_new {
                position:relative;display:inline-block;width:12px;height:12px;background-image:url('#{$imgUrl}layout/ico_gnb_new02.png');background-size:12px 12px;vertical-align:top;margin:0 0 0 5px;
            }
        }

        /* 사업자정보 */
        .fold_info_btn {
            position:absolute;top:15px;right:0;
        }
        .ht_fold_box_wrap {
            position: relative;margin-top:-18px;
            .fold_box{
                &.expanded > .fold_box_contents{
                    border-radius:10px;width:100%;padding:18px;
                }
                .fold_box_header{
                    text-align:right;color:#767676;font-size:14px;font-weight:400;float:right;margin-top:-30px;padding:10px 25px 13px 0;
                    &:after {
                        width:20px;height:20px;background-size:20px 20px;top:43%;transition:transform 0.4s, -webkit-transform 0.4s;
                    }
                }
            }
        }
    }
}









/*** docker_wrapper ***/
.wrapper.ht_ {
    .docker_wrapper {
        position:fixed;left:0;bottom:0;width:100%;max-width:750px;height:74px;box-sizing:border-box;z-index:50;transform:translateY(0);transition:transform .23s;
        .docker_list {
            position:relative;display:flex;display:-webkit-flex;justify-content:flex-start;align-items:flex-start;flex-direction:row;padding:0 12px 12px;padding-bottom:calc(constant(safe-area-inset-bottom) + 12px);padding-bottom:calc(env(safe-area-inset-bottom) + 12px);
            .docker_item {
                position:relative;display:inline-block;flex:1;height:100%;z-index:2;
                [class^=btn_docker]:not(.btn_docker_my) {
                    display:inline-block;width:100%;padding:16px 0 18px;box-sizing:border-box;vertical-align:top;
                    &:after {
                        display:block;width:28px;height:28px;margin:0 auto;background-repeat:no-repeat;background-size:100%;background-position:0 0;content:"";
                    }
                    &.btn_docker_home:after {
                        background-image:url('#{$imgUrl}guide/btn_docker_home_mok.png');background-size:28px 28px;
                    }
                    &.btn_docker_search:after {
                        background-image:url('#{$imgUrl}guide/btn_docker_search_mok.png');background-size:28px 28px;
                    }
                    &.btn_docker_my:after {
                        background-image:url('#{$imgUrl}guide/btn_docker_my_mok.png');background-size:61px 61px;
                    }
                    &.btn_docker_history:after {
                        background-image:url('#{$imgUrl}guide/btn_docker_history_mok.png');background-size:28px 28px;
                    }
                    &.btn_docker_menu:after {
                        background-image:url('#{$imgUrl}guide/btn_docker_menu_mok.png');background-size:28px 28px;
                    }
                }
                &.my {
                    padding:0 21px;text-align:center;z-index:1;
                    .btn_docker_my {
                        position:relative;display:inline-block;width:61px;height:61px;box-shadow:0 5px 10px 0 rgba(242, 125, 113, 0.5);border-radius:100%;vertical-align:top;overflow:hidden;z-index:1;
                        .img_box {
                            display:none;
                        }
                        &:after {
                            display:block;width:100%;height:100%;border-radius:100%;background-image:url('#{$imgUrl}guide/bar_btn_my.svg');background-size:61px 61px;content:"";
                        }
                    }
                    &:after {
                        display:block;position:absolute;left:50%;top:0;width:136px;height:74px;background-image:url('#{$imgUrl}guide/bg_docker_shape_mok.png');background-size:136px 74px;transform:translateX(-50%);content:"";
                    }
                    &.login .btn_docker_my {
                        box-shadow:0 5px 10px 0 rgba(155, 160, 168, 0.5);
                        &:after {
                            content:none;
                        }
                        .img_box {
                            display:block;border-radius:100%;
                            img {
                                width:100%;
                            }
                        }
                    }
                }
            }
            &:after,
            &:before {
                position:absolute;left:0;top:0;width:50%;height:100%;margin-left:-60px;background-color:#fff;border-top:1px solid #ccc;content:"";
            }
            &:after {
                left:auto;right:0;margin-left:0;margin-right:-60px;
            }
        }
        &:not(.docker_fixed):after {
            position:absolute;left:0;bottom:0;width:100%;padding-bottom:calc(constant(safe-area-inset-bottom));padding-bottom:calc(env(safe-area-inset-bottom));background-color:#fff;content:"";
        }
        /*
        &.scroll_down {
            transform:translateY(100%);
        }*/
        &.docker_fixed {
            padding-bottom:calc(constant(safe-area-inset-bottom));padding-bottom:calc(env(safe-area-inset-bottom));background-color:#fff;
        }
    }
}

.btn_go_top {
    display:block;position:fixed;right:-18px;bottom:92px;width:47px;height:47px;background-color:#fff;border:1px solid #d5d5d5;border-radius:100%;box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.1);transform:translateY(calc(constant(safe-area-inset-bottom) * -1));transform:translateY(calc(env(safe-area-inset-bottom) * -1));opacity:0;z-index:100;transition:right .23s,opacity .23s;
    &:before {
        display:block;width:13px;height:18px;margin:13px auto 0;background-image:url('#{$imgUrl}guide/arw_go_top_mok.png');background-size:13px 18px;content:"";
    }
    &.active {
        opacity:1;right:18px;
    }
}



/* 제품상세 */
.wrapper.ht_ {
    .fixed_foot {
        position:fixed;left:0;bottom:0;width:100%;max-width:750px;z-index:200;
        &.btm_pop_upper_foot {
            z-index:200;
        }
    }
    .prod_purchase_info_wrap {
        padding:6px 9px 20px 9px;
    }
    .btn_go_back {
        display:none;
    }
}

@media only screen and (min-width:750px) {
    .ht_.wrapper .docker_wrapper,
    .ht_.wrapper .fixed_foot {
        left:50%;margin-left:-375px;
        .btn_go_top {
            right:calc(50% - 393px);
            &.active {
                right:calc(50% - 375px);
            }
        }
    }
}










/* 팝업 */
.dialog_wrapper.open {
    .ui-dialog.dialog_menu { 
        animation:bottomPopAnimation 0.23s cubic-bezier(0.24, 0.6, 0.65, 1.01) forwards;
    }
}




/*** category_menu ***/
.category_menu {
    position:fixed;left:0;top:0;width:100%;height:fill-available;background-color:#fff;margin:0;overflow-y:auto;z-index:100;
    .category_menu_top {
        padding:0 24px 0px;
        .personaliz_box {
            display:flex;height:60px;align-items:center;
            .logo {
                img {
                    height:21px;
                }
            }
            .btn_box {
                margin-left:auto;
                img {
                    width:26px;margin-left:20px;
                }
                a,
                button {
                    cursor:pointer;
                }
                a.new {
                    position:relative;
                    &::after {
                        display:block;position:absolute;right:-2px;top:-1px;width:4px;height:4px;background-color:rgb(218,33,40);border-radius:50%;content:'';
                    }
                }
            }
        }
        .user_login_box {
            margin-bottom:24px;padding:20px;background-color:rgba(80, 85, 177, 0.06);border-radius:10px;
            .user_box {
                display:flex;justify-content:space-between;align-items:center;align-content:center;
                a {
                    display:flex;align-items:center;color:#595959;line-height:24px;
                    & > img {
                        width:21px !important;
                    }
                    &.before_login {
                        position:relative;padding-left:22px;line-height:20px;
                        &:before {
                            position:absolute;left:0px;top:0;width:22px;height:20px;background:url('#{$imgUrl}ico/ico_before_login.svg') no-repeat left center /16px;content:"";
                        }
                    }
                }
                .ico_grade {
                    width:24px;margin-right:8px;
                }
                .user_name:after{
                    margin-left:3px;font-weight:400;content:'님';
                }
                .user_branch {
                    position:relative;font-size:13px;font-weight:500;letter-spacing:-0.01em;line-height:19px;
                    &:before {
                        position:absolute;left:-16px;top:0;width:16px;height:19px;background:url('#{$imgUrl}guide/user_branch_mok.svg') no-repeat left top / 12px;content:"";
                    }
                }
            }
        }
        .mypage_list {
            display:flex;align-items:flex-end;justify-content:space-between;margin-bottom:20px;padding:0 8px;
            li {
                text-align:center;
                img {
                    width:28px;
                }
                p {
                    margin-top:6px;color:#595959;font-size:12px;font-weight:500;word-break:break-all;
                }
                &.notify_push {
                    position:relative;
                    span {
                        display:block;position:absolute;right:0;top:-3px;width:18px;height:18px;background-color:rgb(218, 33, 40);border-radius:50%;color:rgb(255,255,255);font-weight:700;font-size:11px;line-height:18px;
                    }
                }
            }
        }
        .location_box {
            display:flex;align-items:center;height:42px;padding:0 12px;background-color:rgb(247,247,247);border-radius:4px;
            b {
                margin-right:8px;padding-left:20px;background:url('#{$imgUrl}guide/ico_pin@3x.png') no-repeat 0 49% / 18px;
            }
            span {
                color:rgb(118,118,118);
            }
        }
    }
    .notify_box {
        display:flex;height:42px;justify-content:center;align-items:center;margin:0 20px;background-color:rgb(72,122,93);border-radius:4px;
        p {
            color:rgb(255,255,255);font-size:12px;line-height:18px;letter-spacing:-0.012em;
        }
    }
    .main_top_mn_list {
        display:flex;flex-flow:row nowrap;
        a {
            display:block;width:calc(100% / 3);padding:12px;border-top:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;border-left:1px solid #d5d5d5;line-height:20px;text-align:center;letter-spacing:-0.01em;
            &:first-of-type {
                border-left:none;
            }
            &.active {
                background-color:#5055B1;border-color:#5055B1;border-right:none;color:#fff;font-weight:500;
                transition:all .2s linear;
                & + a {
                    border-left:none;
                }
            }
        }
    }
    .main_list {
        display:flex;position:relative;justify-content:space-between;padding:16px 20px 24px 20px;
        a {
            display:block;text-align:center;
        }
        img {
            width:50px;
        }
        p {
            margin-top:2px;color:#595959;font-size:12px;font-weight:500;line-height:18px;word-break:break-all;
        }
    }
    .menu_list {
        display:flex;position:relative;margin-bottom:-1px;padding:0;border-top:1px solid #f2f2f2;
        ul {
            width:50%;border-left:1px solid #f2f2f2;box-sizing:border-box;
            &:first-child {
                border-left:0;
            }
            li {
                padding:8px 20px;border-bottom:1px solid #f2f2f2;
                &:first-child {
                    border-top:0;
                }
                a {
                    display:flex;align-items:center;
                }
                img {
                    width:60px;margin-left:-10px;
                }
                p {
                    margin-left:4px;color:#595959;font-size:12px;line-height:18px;word-break:break-all;
                }
            }
        }
    }
    .cagetory_list {
        position:relative;margin-top:-24px;padding:24px 20px;overflow:hidden;
        ul {
            display:flex;flex-wrap:wrap;margin:0 calc(-13% + 34px);
            li {
                width:25%;margin-top:24px;padding:0;text-align:center;
                .img_wrap {
                    width:68px;height:68px;margin:0 auto;background-color:rgba(80, 85, 177, 0.06);border-radius:50%;line-height:68px;vertical-align:middle;overflow:hidden;
                }
                img {
                    width:100%;
                }
                p {
                    margin-top:4px;color:#595959;font-size:12px;line-height:18px;text-align:center;
                }
            }
        }
    }
    .evt_slider_wrap.evt {
        padding-top:22px;padding-bottom:40px;
    }
    .special_exhibition_list {
        box-sizing:border-box;
        .special_swiper {
            padding:24px 20px 20px;
        }
        .swiper-scrollbar {
            width:calc(100% - 20px);
        }
        .product_wrap_li {
            width:78%;
            .product_info {
                margin-top:12px;font-size:16px;line-height:22px;
                .discount_t {
                    font-size:16px;
                }
            }
            .product_txt {
                margin-top:4px;line-height:22px;
            }
        }
    }
    .hot_deal_area {
        padding-bottom:40px;
        &:last-child {
            padding-bottom:40px;
        }
    }

    .brand_product_list {
        padding:24px 0;
        h2 {
            margin-left:20px;margin-bottom:20px;color:#000;font-size:20px;line-height:32px;
        }
        .brand_tab {
            display:flex;width:100%;margin-bottom:20px;padding:0 20px;box-sizing:border-box;overflow-x:auto;
            a {
                position:relative;padding:0 15px;color:rgb(89,89,89);font-size:15px;letter-spacing:-0.015em;white-space:nowrap;
                &:first-child {
                    padding-left:0;
                }
                &::after {
                    display:block;position:absolute;right:-1px;top:50%;width:3px;height:3px;background-color:rgb(213, 213, 213);border-radius:50%;transform:translateY(calc(-50% + (-3px)));content:'';
                }
                &:last-child::after {
                    display:none;
                }
                &.active {
                    color:#da2128;font-weight:bold;
                }
                &.active span:after {
                    display:block;width:100%;height:2px;background-color:#da2128;content:'';
                }
            }
        }
        .brand_swiper {
            padding:0 20px;
            .swiper-scrollbar {
                bottom:-10px;width:calc(100% - 20px);
            }
        }
    }

    .menu_footer_box {
        padding:40px 20px;
        
    }
    .link_box {
        a {
            display:block;padding:17px 20px 14px 20px;background:url('#{$imgUrl}guide/ico_arrow_next.png') no-repeat right 20px top 50% / 12px 16px;border-bottom:1px solid rgb(234,234,234);font-size:16px;line-height:26px;
            &:last-child {
                border-bottom:0 solid #000;
            }
        }
    }
    .help_box {
        font-weight:700;
        h2 {
            color:#000;font-size:20px;line-height:32px;
        }
        a {
            color:#da2128;font-size:22px;line-height:34px;
        }
    }
    .btn_wrap {
        margin-bottom:20px;margin-top:8px;
    }
    .sns_list {
        display:flex;
        a {
            margin-right:12px;
        }
        img {
            width:32px;
        }
    }
    .devider {
        display:block;position:relative;height:8px;margin:0;background-color:#f7f7f7;border:0;
       
    }
}
@media only screen and (min-width:750px) {
    .category_menu {
        left:50%;max-width:750px;margin-left:-375px;
    }
}



/*** all_menu_banner ***/
.all_menu_banner {
    display:flex;width:calc(100% - 40px);justify-content:center;align-items:center;position:relative;min-height:64px;margin:32px 20px 4px 20px;padding:8px 65px;background:linear-gradient(-45deg, #936dfc, #fa9BF5 40%, #fa9BF5 50%, #936dfc);border-radius:8px;box-sizing:border-box;color:#fff;font-size:14px;font-weight:700;line-height:22px;text-align:center;word-wrap:break-word;word-break:keep-all;white-space:normal;animation:visual_txt both infinite 6s;
    &:before {
        position:absolute;left:13px;top:-18px;width:63px;height:72px;background:url('#{$imgUrl}guide/ico_all_menu_banner03.svg') center/100% no-repeat;content:"";
    }
    &:after {
        position:absolute;right:-20px;top:-33px;width:96px;height:127px;background:url('#{$imgUrl}guide/ico_all_menu_banner04.svg') center/100% no-repeat;content:"";
    }
    p {
        position:relative;padding-top:4px;
    }
}

@keyframes visual_txt {
0% {background-size:200% 100%;background-position:0 center}
50% {background-size:200% 100%;background-position:100% center}
100% {background-size:200% 100%;background-position:0 center}
}

  


.wrapper.ht_ {
    .product_wrap_li {
        width:100px;
        img {
            width:100%;border-radius:4px;
        }
        .product_txt {
            margin-top:12px;color:rgb(0,0,0);font-size:13px;line-height:18px;letter-spacing:-0.013em;
        }
        .product_info {
            color:rgb(0,0,0);letter-spacing:-0.01em;
            .discount_t {
                color:#da2128;font-size:13px;font-weight:700;line-height:19px;
            }
            .price_t {
                font-weight:700;
                &:after {
                    font-weight:400;content:'원';
                }
            }
            .text {
                font-weight:700;
            }
        }
    }
    .tab_wrap .tab_list_wrap {
        position:sticky;left:0;top:60px;width:100%;height:52px;margin:0;padding:0 20px;border-bottom:1px solid #d5d5d5;overflow-x:auto;z-index:10;
    }
    .tab_wrap.justify > .tab_list_wrap .tabs {
        width:100%;height:52px;padding:0;overflow-y:visible;
    }
    .tab_wrap.justify > .tab_list_wrap .tabs .tab_item {
        margin-right:22px;white-space:nowrap;
        &:last-child {
            margin-right:0;
        }
        .tab_link {
            padding:0;flex:initial;align-items:center;
        }
    }
    
}

/* swiper custom */
.wrapper.ht_ {
    .swiper-scrollbar {
        width:100%;left:0;right:0;bottom:0;height:2px;border-radius:0;background-color:rgb(213,213,213);
    }
    .swiper-scrollbar-drag {
        background-color:rgb(0,0,0);border-radius:0;
    }
    .ellipsis {
        white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
    }
    
    .ellipsis_line2 {
        display:-webkit-box;height:38px;line-height:19px;overflow:hidden;text-overflow:ellipsis;white-space:normal;word-wrap:break-word;-webkit-line-clamp:2;-webkit-box-orient:vertical;
    }
    .scroll_type .swiper-pagination {
        display:flex;justify-content:center;bottom:0;width:calc(100% - 20px);line-height:1px;
        &.swiper-pagination-progressbar {
            position:absolute;left:50%;bottom:0;top:auto;width:calc(100% - 40px);height:2px;background-color:#d5d5d5;border-radius:2px;transform:translateX(-50%);
            .swiper-pagination-progressbar-fill {
                background-color:#000;
            }
        }
        .swiper-pagination-bullet {
            display:inline-block;width:auto;height:2px;background:rgb(213,213,213);border-radius:0;opacity:1;
        }
        .swiper-pagination-bullet-active {
            background:rgb(0,0,0);
        }
        .scroll_type.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, 
        .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
            margin:0;
        }
        
    }

}










