/* 상품 카드 공통 영역 */
.list_evt_area {
	padding-top:40px;
		.evt_item {
		position:relative;margin-top:24px;padding:0 20px;
		&:first-child {
			margin:0;
			.promotion_upper_wrap,
			.thumnail_evt {
				margin-top:0px !important;
			}
		}
	}
	.thumnail_evt {
		 position:relative;height:0;margin-bottom:12px;padding-top:57.2%;border-radius:12px;overflow:hidden;cursor:pointer;
		 img {
			position:absolute;width:100%;height:100%;top:0;left:0;object-fit:cover;
		}
	}
	.promotion_status_txt {
		display:none;
	}
	.promotion_end {
		position:relative;height:auto;overflow:hidden;
		.txt {
			position:absolute;top:50%;width:100%;height:19px;margin-top:-10px;
		}
		.promotion_status_txt {
			display:block;position:absolute;top:50%;width:100%;color:#fff;font-size:13px;line-height:19px;text-align:center;transform:translateY(-50%);z-index:11;
		}
	}
	img {
		position:absolute;left:0;top:0;right:0;width:100%;
	}
	.txt_account {
		.txt_heading,
		.txt_sub {
			overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
		}
		.txt_heading {
			margin-bottom:4px;font-size:16px;font-weight:500;line-height:26px;letter-spacing:-0.16px;
			.discount {
				margin-right:5px;color:#da2128;
			}
		}
		.txt_sub {
			margin-bottom:6px;font-size:13px;line-height:19px;letter-spacing:-0.13px;
		}
		.txt_period {
			color:#595959;font-size:13px;line-height:19px;letter-spacing:-0.13px;
		}
	}
	&.evt_ty02 {
		.thumnail_evt {
			border:1px solid #d5d5d5;
			img {
				padding:20px;object-fit:contain;
			}
		}
	}
	.discount_icon + .promotion_upper_wrap,
	.discount_icon + .thumnail_evt,
	.discount_icon + a .thumnail_evt  {
		margin-top:40px;
	}
}


/*** evt_slider ***/
.evt_slider {
	padding-top:20px;padding-right:20px;overflow:visible !important;
	.evt_item {
		position:relative;width:95.6%;min-width:320px;
		span {
			display:-webkit-box;
		}
		.discount_icon {
			position:absolute;left:-8px;top:-18px;width:48px;height:48px;background:url('#{$imgUrl}guide/lank_hot.svg') center/48px no-repeat;color:#fff;font-size:13px;font-weight:700;line-height:48px;text-align:center;z-index:3;
		}
		.img_wrap {
			position:relative;height:0;margin-bottom:14px;padding-top:57.3%;overflow:hidden;
			img {
				position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover;
			}
		}
	}
	.evt_item.more_items {
		width:100px !important;min-width:auto;height:0;min-height:184px;padding-top:54.8%;
		a {
			display:flex;align-items:center;justify-content:center;position:absolute;left:0;top:0;width:100%;height:100%;padding-top:30px;background:url('#{$imgUrl}guide/btn_add_banner.svg') center 40%/22px no-repeat;background-color:#f7f7f7;border-radius:12px;box-sizing:border-box;color:#767676;font-size:12px;text-align:center;
		}
	}
	.discount {
		display:block !important;position:absolute;left:-8px;top:-18px;width:48px;height:48px;background:url('#{$imgUrl}guide/lank_hot.svg') center/48px no-repeat;color:#fff;font-size:13px;font-weight:700;line-height:48px;text-align:center;z-index:10;
	}
	.title {
		display:-webkit-box;font-size:16px;font-weight:500;line-height:26px;letter-spacing:-1px;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;
	}
	.sub {
		display:-webkit-box;margin-top:4px;font-size:13px;line-height:19px;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;
	}
	.date {
		color:#595959;margin-top:6px;font-size:13px;line-height:19px;
	}

	//스왑 기능 없을때
	&.nonswipe {
	 display:block;padding-right:0px !important;
		.evt_item {
			width:100%;margin:25px 0 0 0;
		.img_wrap {
				position:relative;height:0;padding-top:57.2%;
				img {
					position:absolute;left:0;top:0;width:100%;
				}
			}
			.item_info .title {
				font-size:16px;
			}
		}
	}
}

//할인율 아이콘
.list_evt_area .evt_item {
	position:relative;
		.discount_icon {
		position:absolute;left:12px;top:-18px;width:52px;height:52px;background:url('#{$imgUrl}guide/lank_hot.svg') center bottom/52px no-repeat;color:#fff;font-size:12px;font-weight:700;text-align:center;line-height:48px;z-index:3;
	}
}

//상품 카드 공통 영역 추출
.prod-wrapper,
.evt_products {
	padding-top:20px;
		.prod_item {
		&:first-of-type {
			margin:0;
		}
		span {
			display:block;
		}
	}
	.product_pic {
		position:relative;height:0;margin-bottom:10px;background-color:#f7f7f7;border-radius:8px;overflow:hidden;
		img {
			position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover;mix-blend-mode:multiply;
			&.ob_contain {
				object-fit:contain;
			}
		}
		.evt_good_count {
			display:block;position:absolute;right:8px;bottom:8px;height:24px;padding:5px 3px;background-color:rgba(0,0,0,0.5);border-radius:35px;color:#fff;font-size:10px;z-index:5;cursor:pointer;
			.icon {
				position:relative;left:3px;float:left;width:12px;height:14px;margin-top:0;background:url('#{$imgUrl}guide/ico_prod_like_icon.svg') center /12px no-repeat;
			}
			.txt {
				float:left;width:auto;margin:0 4px 0 6px;line-height:15px;
				&:empty {
					margin:0 0 0 5px;
				}
			}
		}
	}
	.evt_good_count.active {
		.icon {
			float:left;width:12px;height:14px;background:url('#{$imgUrl}guide/ico_prod_like_icon_active.svg') center /12px no-repeat;
		}
	}
	.company {
		margin-bottom:4px;color:#767676;font-size:12px;font-weight:400;line-height:18px;
	} 			
	.title {
		display:-webkit-box;min-height:38px;margin-bottom:8px;color:#000;font-size:13px;font-weight:500;line-height:19px;word-break:keep-all;text-overflow:ellipsis;overflow:hidden;-webkit-line-clamp:2;-webkit-box-orient:vertical;
	}
	.price_line {
    	display:flex;flex-flow:row wrap;justify-content:flex-start;
	}
	.final_price {
		margin-right:3px;color:#000;font-size:16px;font-weight:700;line-height:22px;letter-spacing:-0.03em;
	}
	.discount_rate {
		margin-right:3px;color:#da2128;font-size:16px;font-weight:700;line-height:22px;letter-spacing:-0.03em;
	}
	.price_origin {
		margin-top:1px;color:#767676;font-size:11px;font-weight:400;line-height:22px;text-decoration:line-through;
	}  
	.price_origin.no_discount {
		margin-top:0;color:#000;font-size:16px;font-weight:700;text-decoration:none;
	}
	.badge_line {
		display:flex;flex-flow:row wrap;justify-content:flex-start;margin-top:12px;
		.badge {
			height:21px;margin:0 4px 0 0;line-height:22px;
		}
	}
	.product_info {
		& > a {
			display:block;
		}
	}
}
.solo_banner +  .evt_products {
	padding-top:32px !important;
}
.prod_resp {
	width:100% !important;
}



/* 이미지 리사이징 */
.ob_contain {
	left:10% !important;top:10% !important;;width:80% !important;height:80% !important;object-fit:contain !important;
	&.ob_19 {
		left:0 !important;top:0 !important;width:100% !important;height:100% !important;object-fit:cover !important;mix-blend-mode:normal !important;
	}
}
.ob_19 {
	object-fit:cover !important;mix-blend-mode:normal !important;border:1px solid #000;border-radius:8px;
}


/* 스왑 기능 없을때 */
.nonswipe {
	padding-right:0px !important;
	.evt_item {
		width:100%;margin-top:22px;
		&:first-of-type {
			margin:0;
		}
		.img_wrap {
		   position:relative;height:0;padding-top:57.2%;
		}
		img {
		   position:absolute;left:0;top:0;width:100%;
		}
	}
	.discount_rate, 
	.final_price {
		font-size:16px;line-height:22px;
	}
	.price_origin {
		font-size:12px;line-height:22px;
	}
	.price_line .price_origin.no_discount {
		color:#000;font-size:16px;text-decoration:none;
	}
}

/* 1:1 비율 335*335*/   
.type_lg {
	.prod_item {
		width:335px;
	}
	.product_pic {
		padding-top:335px;
	}
	.company {
		font-size:14px;
	}
	.title {
		margin-bottom:4px;line-height:26px;font-size:16px;height:auto;
	}  
	.discount_rate,
	.final_price,
	.price_origin {
		line-height:24px;
	}	
	.discount_rate,
	.final_price {
		font-size:18px;
	}
	.price_origin.no_discount {
		font-size:18px;
	}
}

/* 1:1 비율 158*158*/   
.type_md {
	.prod_item {
		width:158px;
	}
	.product_pic {
		padding-top:158px;
	}
	.title {
		margin-bottom:8px;font-size:13px;
	}
	.discount_rate,
	.final_price {
		font-size:16px;line-height:22px;
	}	
	.price_origin {
		font-size:12px;line-height:22px;
	}
	.price_origin.no_discount {
		font-size:16px;
	}
}

/* 1:1 비율 140*140*/
.type_sm {
	.prod_item {
		width:140px;
	}
	.product_pic {
		padding-top:140px;margin-bottom:12px !important;
	}
	.product_pic + a {
		display:block;
	}			
	.title {
		margin-bottom:8px !important;font-size:13px !important;line-height:19px !important;
	}
	.discount_rate,
	.final_price,
	.price_origin {
		margin:0 3px 0 0;font-size:14px !important;line-height:18px !important;
	}
	.price_origin {
		margin:0;font-size:10px !important;
	} 
	.price_origin.no_discount {
		font-size:14px !important;
	}
}


/* 1:1 비율 100*100*/
.type_xs {
	padding-top:16px;
	.prod_item {
		width:99px;margin-right:0;
	}
	.product_pic {
		padding-top:99px;margin-bottom:8px;
		.evt_good_count {
			right:4px;bottom:4px;
		}
	}
	.company {
		margin-bottom:0px;
	} 			
	.title {
		margin-bottom:4px;font-size:12px;line-height:17px;font-weight:normal;min-height:34px;
	}
	.discount_rate,
	.final_price,
	.price_origin {
		line-height:15px;
	}
	.discount_rate,
	.final_price {
		font-size:12px;
	}
	.price_origin {
		font-size:10px;
	}  
	.badge_line {
		margin-top:6px;
		.badge {
			margin-top:2px;margin-right:1px;height:17px;line-height:17px;font-weight:normal;font-size:8px;padding:0 2px;
		}
	}
	.price_origin.no_discount {
		font-size:12px;font-weight:700;
	} 
}

/* 상품 개수 2개 이하로 스왑 기능 없을때 */
.nonswipe {
	display:flex;justify-content:space-between;flex-flow:row nowrap;padding-right:0 !important;
		.prod_item {
		width:calc((100% - 20px)/2);margin:0;
		&:last-of-type {
			margin-right:0px;
		}
	}
	.product_pic {
		position:relative;margin-bottom:12px;padding-top:100%;
		img {
			position:absolute;top:0;left:0;width:100%;
		}
	}
	.company {
		margin-bottom:2px;color:#767676;font-size:12px;
	} 			
	.title {
		display:-webkit-box;margin-bottom:8px;font-size:13px;line-height:19px;letter-spacing:-0.13px;letter-spacing:-0.13px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:keep-all;
	}
	.price_line {
      display:flex;flex-flow:row wrap;
		.discount_rate {
			margin-right:5px;color:#da2128;font-size:16px;font-weight:500;
		}
		.final_price {
			font-size:16px;font-weight:500;
		}
		.price_origin {
			color:#767676;font-size:12px;text-decoration:line-through;
			&.no_discount {
				color:#000;font-size:16px;text-decoration:none;
			}
		}  
	}
}

/* 19세 이상 상품 */
.adult_prod {
	.product_pic {
		position:relative;background-color:#fff;
	}
	.adult_block {
		position:absolute;width:100%;height:calc( 100% - 1px);top:50%;transform:translateY(-50%);text-align:center;padding-top:53%;font-weight:700;font-size:13px;background:url(#{$imgUrl}guide/adult_block.svg) no-repeat center top 34%/ 28%;border-radius:8px;border:2px solid #000;z-index:2;
	}
}

/* evt_products */
.evt_products {
	display:flex;flex-flow:row wrap;justify-content:space-between;align-items:flex-start;align-content:flex-start;
	.prod_item {
		width:calc((100% - 20px)/2);margin-top:24px;
		&:nth-of-type(2) {
			margin-top:0;
		}
	}
	.product_pic {
		position:relative;width:100%;padding-top:100%;border-radius:8px;overflow:hidden;
	}
	.product_info {
		width:100%;
		& > a {
			display:block;
		}
	}
	.sold_out .product_pic:before {
		position:absolute;width:100%;height:100%;background-color:rgba(0,0,0,0.6);border-radius:8px;top:0;left:0;z-index:1;overflow:hidden;content:"";
	}
	.show_replace {
		display:none;position:absolute;left:0;top:50%;width:100%;color:#fff;font-size:13px;font-weight:700;text-align:center;transform:translateY(-50%);z-index:3;
		div {
			line-height:19px;
		}
		a {
			position:absolute;left:0;top:-400%;width:100%;height:900%;background:#000;opacity:0;z-index:1;
		}
	}
	.replace_prod_btn {
		display:none;position:relative;height:24px;margin:0 auto;margin-top:11px;padding:0 6px;background-color:#fff;border-radius:4px;color:#000;font-size:12px;line-height:24px;z-index:2;cursor:pointer;
	}
	.sold_out .show_replace {
		display:block;
	}

	//두줄 정렬일때 품절 대체 상품 슬라이더
	.prod_item:nth-of-type(2n) .replace_prod_swap {
		margin-right:0;margin-left:calc(-100% - 40px);
		&:before {
			position:absolute;left:calc(100% - 40px);content:"";
		}
	}
	.prod_item:nth-of-type(2n+1) .replace_prod_swap {
		margin-right:0;
	}
}

.evt_products.row_dir {
	display:block;padding-top:20px;
	.product_pic {
		margin-bottom:0;
	}
	.prod_item {
		display:flex;flex-flow:row wrap;justify-content:flex-start;align-content:center;align-items:center;width:100%;margin-top:24px;
		span {
			display:block;
		}
		&:first-of-type {
			margin-top:0;
		}
		.company {
			display:block;
		}
		.title {
			min-height:auto;
		}
	}
	.prod_item:nth-of-type(2n) .replace_prod_swap {
		margin-left:-20px;
	}
	.prod_item:nth-of-type(2n+1) .replace_prod_swap {
		margin-right:-20px;
	}
	.product_pic {
		position:relative;width:calc((100% - 20px )/2);height:0;padding-top:calc((100% - 20px )/2);overflow:hidden;flex-shrink:0;
		img {
			width:100%;position:absolute;top:0;left:0;
		}
	} 			
	.product_info {
		width:calc((100% - 20px )/2);margin-left:20px;flex-shrink:0;
	}
	.replace_prod_swap {
		&:before {
			position:absolute;left:40px !important;content:"";
		}
		.mySwiper .swiper-wrapper {
			align-items:flex-start;
		}
		.prod_item {
			width:140px;margin-top:0;
		}
		.product_pic {
			width:100%;height:0;padding-top:140px;
		}
	}
}

/* 품절 대체 팝업 */
.replace_sub_tit {
	margin-bottom:-8px;color:#767676;font-size:12px;font-weight:400l;line-height:18px;word-break:keep-all;
}

/* 품절 대체 슬라이더 */
.replace_prod_swap {
	display:none;position:relative;width:100vw;max-width:750px;margin:30px -20px 0 -20px;padding:34px 0 36px 20px;background-color:#f2e3cb;
	&:before {
		position:absolute;left:20px;top:-23px;border-top:12px solid #f2e3cb;border-left:12px solid transparent;border-right:12px solid transparent;border-bottom:12px solid transparent;transform:rotate(-180deg);z-index:1;content:"";
	}
	.swiper {
		padding-right:20px;
	}
	.close_swap {
		display:block;position:absolute;top:35px;right:20px;width:24px;height:24px;background-image:url('#{$imgUrl}guide/btn_dialog_close.svg');background-size:24px 24px;
	}
	.tit {
		position:relative;width:calc(100% - 45px);
		.txt {
			float:left;font-size:20px;font-weight:700;line-height:32px;overflow:hidden;
		}
		.replace_icon {
			float:left;width:32px;height:32px;margin:-2px 0 0 4px;background:url('#{$imgUrl}guide/replace_swipe_icon.svg') no-repeat center center/29px;
		}
	}
	.sub_title {
		clear:both;margin-bottom:-5px;color:#000;font-size:14px;line-height:22px;
	}
	.prod-wrapper .prod_item {
		width:140px;height:unset;margin-top:0;
	}
	.product_pic:before {
		display:none;
	}
	.product_info {
		width:100% !important;margin-left:0 !important;
	}
	.prod_item {
		margin-left:0 !important;
	}
}

.show_bubble {
	display:block;
}



/*** 랭킹 뱃지 상품 리스트 ***/
.list_section {
	position:relative;
		.evt_products.row_dir {
        padding:20px 20px 0 20px;
		.prod_item {
            position:relative;
		}
    }  
    .rangking {
        display:flex;flex-flow:row nowrap;justify-content:center;align-items:center;align-content:center;position:absolute;left:-10px;top:-4px;width:52px;height:50px;background:url('#{$imgUrl}guide/lank_noraml.svg') center / 50px no-repeat;color:#000;font-weight:700;line-height:50px;text-align:center;z-index:30;
		&.none_icon {
            .rank_icon {
                display:none;
			}
        }
        .rank_icon {
            display:none;
		}
        .rank {
            display:block;letter-spacing:-0.03em;
		}
        &.down .rank_icon {
            background:url('#{$imgUrl}guide/rank_noraml_down.svg') center / 9px no-repeat;
		}
        &.up .rank_icon {
            background:url('#{$imgUrl}guide/rank_noraml_up.svg') center / 9px no-repeat;
        }
        &.same .rank_icon {
            position:relative;
		}
        &.same .rank_icon:before {
        	position:absolute;right:14px;left:0;top:50%;width:7px;height:2px;margin-top:-2px;background-color:#000;content:"";
        }
		&.down,
		&.up,
		&.same {
			.rank_icon {
				display:block;width:10px;height:15px;margin-left:2px;margin-top:-1px;
			}
		}
    }
    @for $lank from 1 through 5 {
        .prod-wrapper:first-of-type .prod_item:nth-of-type(#{$lank}) .rangking {
            color:#fff;background:url('#{$imgUrl}guide/lank_hot.svg') center / 50px no-repeat;border:none;
			&.none_icon {
                .rank_icon {
                    display:none;
				}
            }    
            .rank {
                display:block;
			}
			/*
            .rank_icon {
                display:block;width:10px;
			}*/
            &.down .rank_icon {
                background:url('#{$imgUrl}guide/rank_hot_down.svg') center / 9px no-repeat;

            }
            &.up .rank_icon {
                background:url('#{$imgUrl}guide/rank_hot_up.svg') center / 9px no-repeat;

            }
            &.same .rank_icon:before {
                position:absolute;width:7px;height:2px;right:14px;left:0;top:50%;margin-top:-2px;background-color:#fff;content:"";z-index:20;
			}
        }  
    }
	.rangking + .product_pic {
		margin-top:16px;
	}
}




/*** 2줄 정렬 상품 리스트 wrapper ***/
.prod_list_wrap {
	position:relative;padding:0 20px;
	.tit {
		margin-bottom:12px;padding:0;font-size:20px;font-weight:700;line-height:32px;
	}
	.sub_tit {
		margin:24px 0;font-size:15px;font-weight:500;line-height:21px;
	}
   .prod-wrapper.evt_products {
	   padding-top:0;
   }
}

/* 품절 대체 상품 스왑이 있는 항목 */
.replace_prod {
	.replace_prod_btn {
		display:block;
	}
}









