@charset "UTF-8";




/* tab */
.tab_wrap {
    position: relative;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    &:not(.tab_wrap.type_fill, .tab_wrap.justify) .tab_list_wrap .tabs {
        padding: 0 20px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            display: none;
            /* Chrome, Safari, Opera*/
        }
        .tab_item {
            white-space: nowrap;
        }
    }
    .tab_list_wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 48px;
        margin-bottom: 30px;
        background-color: #fff;
        border-bottom: 1px solid #d5d5d5;
        box-sizing: border-box;
        .tabs {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: row;
            height: calc(100% + 1px);
            flex: 1;
            padding: 0;
            box-sizing: border-box;
            .tab_item {
                position: relative;
                flex: 0 auto;
                height: 100%;
                margin: 0;
                padding: 0 14px;
                background: 0 0;
                box-sizing: border-box;
                white-space: normal;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
                .tab_link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    align-items: stretch;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    text-align: center;
                    box-sizing: border-box;
                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        z-index: 2;
                        width: 100%;
                        height: 2px;
                        background-color: transparent;
                        transition: background-color 0.2s ease-out;
                    }
                    .tab_text {
                        position: relative;
                        display: block;
                        width: 100%;
                        color: #767676;
                        font-size: 15px;
                        line-height: 23px;
                        letter-spacing: -0.01em;
                        font-weight: 400;
                        font-family: "Noto Sans KR", sans-serif;
                        box-sizing: border-box;
                        transition: color 0.2s ease-out, font-weight 0.2s ease-out;
                        .num {
                            margin-left: 1px;
                            font-size: 11px;
                        }
                    }
                }
                &.ui-state-disabled .tab_link {
                    cursor: default;
                    .tab_text {
                        color: #ccc;
                    }
                }
                &.active,
                &.ui-state-active {
                    z-index: 2;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
                &.active .tab_link,
                &.ui-state-active .tab_link {
                    cursor: pointer;
                }
                &.active .tab_link:after,
                &.ui-state-active .tab_link:after {
                    background-color: #000;
                }
                &.active .tab_link .tab_text,
                &.ui-state-active .tab_link .tab_text {
                    color: #000;
                    font-weight: 700;
                }
            }
        }
        .right_area {
            display: inline-block;
            flex: 0 auto;
            margin-left: 30px;
        }
    }
    .tab_content {
        padding: 0;
        background: #fff;
        box-sizing: border-box;
    }
    &.type_sm .tab_list_wrap {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        height: 37px;
        padding: 0;
        .tabs .tab_item {
            padding: 0 12px;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
            .tab_link {
                &:after {
                    height: 3px;
                }
                .tab_text {
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing: -0.01em;
                }
            }
        }
    }
    &.type_fill .tab_list_wrap {
        height: 48px;
        border-bottom: 0;
        .tabs {
            height: 100%;
            .tab_item {
                flex: 1;
                border: 1px solid #d5d5d5;
                padding: 0;
                transition: background 0.2s ease-out, border-color 0.2s ease-out;
                .tab_link {
                    padding: 0 14px;
                    &:after {
                        display: none;
                    }
                    .tab_text {
                        padding-bottom: 1px;
                    }
                }
                &.ui-tabs-active {
                    background-color: #5055b1;
                    border-color: #5055b1;
                    .tab_text {
                        color: #fff;
                    }
                }
                ~ .tab_item {
                    margin-left: -1px;
                }
            }
        }
    }
    &.type_line_primary .tab_list_wrap {
        position: relative;
        height: 44px;
        border-bottom: none;
        margin-bottom: 24px;
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: #5055b1;
        }
        .tabs {
            height: 100%;
            box-sizing: border-box;
            .tab_item {
                padding: 0;
                background: #fff;
                border: 1px solid #d5d5d5;
                border-bottom: 0;
                border-radius: 6px 6px 0 0;
                transition: border-color 0.23s;
                .tab_link {
                    padding: 0 14px;
                    .tab_text {
                        padding-bottom: 2px;
                        font-size: 14px;
                        line-height: 22px;
                        letter-spacing: -0.01em;
                    }
                    &:after {
                        bottom: 0;
                        transition: none;
                    }
                }
                &.ui-state-active {
                    border: 2px solid #5055b1;
                    border-bottom: 0;
                    .tab_link {
                        .tab_text {
                            color: #474c98;
                        }
                        &:after {
                            background: #fff;
                        }
                    }
                }
                ~ .tab_item {
                    margin-left: -1px;
                }
            }
        }
    }
    &.type_tag .tab_list_wrap {
        display: block;
        height: auto;
        border-bottom: none;
        padding: 0;
        .tabs {
            overflow: visible;
            display: block;
            height: auto;
            margin: -3px;
            .tab_item {
                padding: 3px;
                .tab_link {
                    background-color: #f7f7f7;
                    border: 1px solid #f7f7f7;
                    border-radius: 20px;
                    box-sizing: border-box;
                    transition: background-color 0.23s, border-color 0.23s;
                    .tab_text {
                        font-size: 14px;
                        line-height: 22px;
                        letter-spacing: -0.01em;
                        padding: 5px 14px 6px;
                        transition: color 0.23s;
                    }
                    &:after {
                        content: none;
                    }
                }
                &.ui-state-active .tab_link {
                    background-color: #595959;
                    border-color: #595959;
                    .tab_text {
                        font-weight: 400;
                        color: #fff;
                    }
                }
            }
        }
    }
    &.type_fill_round > .tab_list_wrap {
        height: 44px;
        border-bottom: none;
        margin-bottom: 30px;
        > .tabs .tab_item {
            border: 1px solid #d5d5d5;
            border-bottom-color: #5055b1;
            border-radius: 10px 10px 0 0;
            background-color: #f7f7f7;
            padding: 0;
            transition: background 0.3s ease-out, border-color 0.3s ease-out;
            .tab_link {
                padding: 0 14px;
                .tab_text {
                    padding-bottom: 1px;
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing: -0.01em;
                }
                &:after {
                    display: none;
                }
            }
            &.ui-state-active {
                background-color: #5055b1;
                border-color: #5055b1;
                .tab_text {
                    color: #fff;
                    font-weight: 700;
                }
            }
            ~ .tab_item {
                margin-left: -1px;
            }
        }
    }
    &.justify > .tab_list_wrap .tabs {
        width: 100%;
        .tab_item {
            flex: 1;
            padding: 0;
            .tab_link {
                padding: 0 14px;
            }
        }
    }
}
/* tab - sm 타입 */
/* tab - fill 타입 */
/* tab - line 타입 */
/* tab - 태그 타입 */
/* tab - fill round 타입 - 회원(로그인) 사용중 */
/* tab - 균등형 */
.contents_wrap .contents_inner .tab_wrap:not(.contents_wrap.contents_inner.tab_wrap.type_sm, .contents_wrap.contents_inner.tab_wrap.type_fill, .contents_wrap.contents_inner.tab_wrap.type_fill) .tab_list_wrap .tabs {
    padding: 0;
}
/* tootip */
.tooltip_wrap {
    position: relative;
    display: inline-block;
    height: 22px;
    vertical-align: top;
    box-sizing: border-box;
    &.active {
        .btn_tooltip {
            // .ico_info {
            //     background-image: url('../images/guide/btn_tooltip_active@2x.png');
            //     background-size: 22px 22px;
            // }
            .ico_arw {
                background-image: url('../images/arw_tooltip_active_mok.png');
                background-size: 22px 22px;
            }
        }
        .tooltip_inner {
            opacity: 1;
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
        }
    }
    .tooltip_inner {
        display: block;
        position: absolute;
        left: 0;
        top: 22px;
        z-index: 10;
        overflow: hidden;
        width: calc(100vw - 40px);
        max-width: 335px;
        padding: 19px;
        margin-top: 6px;
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 10px;
        text-align: left;
        box-sizing: border-box;
        opacity: 0;
        transform: scaleY(0);
        transition: opacity 0.3s ease-out;
        .tooltip_header {
            padding-bottom: 16px;
            box-sizing: border-box;
            text-align: center;
            .tooltip_head_title {
                font-size: 15px;
                line-height: 23px;
                letter-spacing: -0.01em;
                font-weight: 500;
            }
        }
        .tooltip_contents {
            box-sizing: border-box;
            .tooltip_sub_title {
                color: #000;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: -0.01em;
                font-weight: 700;
                ~ .tooltip_desc {
                    margin-top: 6px;
                }
            }
            .tooltip_desc {
                color: #000;
                font-size: 13px;
                line-height: 19px;
                letter-spacing: -0.01em;
                font-weight: 400;
                ~ {
                    .tooltip_sub_title {
                        margin-top: 16px;
                    }
                    .tooltip_desc {
                        margin-top: 6px;
                    }
                }
                .btn_text_link {
                    display: inline;
                    color: inherit;
                    font-size: inherit;
                    line-height: inherit;
                    .text {
                        display: inline;
                        text-decoration: underline;
                    }
                }
            }
            .tooltip_info_list {
                display: block;
                .tooltip_info_item {
                    display: block;
                    color: #000;
                    box-sizing: border-box;
                    ~ .tooltip_info_item {
                        margin-top: 11px;
                        padding-top: 13px;
                        border-top: 1px solid #eaeaea;
                    }
                }
            }
        }
    }
    .btn_tooltip_close {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        width: 20px;
        height: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('../images/btn_tooltip_close_mok.png');
        background-size: 20px 20px;
        box-sizing: border-box;
        background: #000;
    }
    &.type_sm {
        height: 16px;
        .btn_tooltip {
            width: 16px;
            height: 16px;
            [class^=ico_] {
                width: 16px;
                height: 16px;
                background-position: center;
                background-repeat: no-repeat;
            }
            .ico_info {
                background-image: url('../images/btn_tooltip_sm_mok.png');
                background-size: 16px 16px;
            }
            .ico_question {
                background-image: url('../images/btn_tooltop_question_sm_mok.png');
                background-size: 16px 16px;
            }
        }
        &.active .btn_tooltip .ico_info {
            background-image: url('../images/btn_tooltip_sm_active_mok.png');
            background-size: 16px 16px;
        }
        .tooltip_inner {
            top: 16px;
        }
    }
    &.type_info .tooltip_inner {
        margin-top: 15px;
        border-radius: 6px;
    }
    &.right .tooltip_inner {
        left: auto;
        right: 0;
    }
    &.hide .tooltip_inner {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        transition: opacity 0.3s ease-out, transform 0s 0.3s;
    }
}
// @media(-webkit-min-device-pixel-ratio: 2) {
//     .tooltip_wrap.active .btn_tooltip .ico_info {
//         background-image: url('../images/btn_tooltip_active_mok@2x.png');
//     }
// }
// @media(-webkit-min-device-pixel-ratio: 3) {
//     .tooltip_wrap.active .btn_tooltip .ico_info {
//         background-image: url('../images/btn_tooltip_active_mok@3x.png');
//     }
// }
@media(-webkit-min-device-pixel-ratio: 2) {
    .tooltip_wrap.active .btn_tooltip .ico_arw {
        background-image: url('../images/arw_tooltip_active_mok@2x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 3) {
    .tooltip_wrap.active .btn_tooltip .ico_arw {
        background-image: url('../images/arw_tooltip_active_mok@3x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 2) {
    .tooltip_wrap .btn_tooltip_close {
        background-image: url('../images/btn_tooltip_close_mok@2x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 3) {
    .tooltip_wrap .btn_tooltip_close {
        background-image: url('../images/btn_tooltip_close_mok@3x.png');
    }
}
// @media(-webkit-min-device-pixel-ratio: 2) {
//     .tooltip_wrap.type_sm .btn_tooltip .ico_info {
//         background-image: url('../images/btn_tooltip_sm_mok@2x.png');
//     }
// }
// @media(-webkit-min-device-pixel-ratio: 3) {
//     .tooltip_wrap.type_sm .btn_tooltip .ico_info {
//         background-image: url('../images/btn_tooltip_sm_mok@3x.png');
//     }
// }
@media(-webkit-min-device-pixel-ratio: 2) {
    .tooltip_wrap.type_sm .btn_tooltip .ico_question {
        background-image: url('../images/btn_tooltop_question_sm_mok@2x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 3) {
    .tooltip_wrap.type_sm .btn_tooltip .ico_question {
        background-image: url('../images/btn_tooltop_question_sm_mok@3x.png');
    }
}
// @media(-webkit-min-device-pixel-ratio: 2) {
//     .tooltip_wrap.type_sm.active .btn_tooltip .ico_info {
//         background-image: url('../images/btn_tooltip_sm_active_mok@2x.png');
//     }
// }
// @media(-webkit-min-device-pixel-ratio: 3) {
//     .tooltip_wrap.type_sm.active .btn_tooltip .ico_info {
//         background-image: url('../images/btn_tooltip_sm_active_mok@3x.png');
//     }
// }

/* sps */
// .wrapper .header_wrapper {
//     &.scroll_down ~ .container_wrapper .sps.sps-blw:not(.sps_add) {
//         top: 112px;
//     }
//     &.scroll_up ~ .container_wrapper .sps.sps-blw {
//         top: 60px;
//     }
// }
// .sps.sps_scroll_fixed {
//     position: absolute;
//     width: 100%;
//     background-color: #fff;
//     z-index: 10;
//     transition: top 0.23s;
//     ~ .sps-bg {
//         position: absolute;
//         top: 0;
//         left: 0;
//     }
//     &.sps-blw {
//         position: fixed;
//         left: 0;
//         right: 0;
//         width: 100%;
//     }
// }

/* spinner */
.form_spinner_box {
    display: inline-block;
    vertical-align: top;
    .ui-spinner {
        position: relative;
        display: block;
        width: 102px;
        padding: 0 33px;
        background-color: #fff;
        box-sizing: border-box;
        font-size: 0;
        .form_spinner {
            width: 100%;
            height: 36px;
            margin: 0;
            padding: 1px 0 0;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            color: #000;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.01em;
            font-family: Roboto, sans-serif;
            outline: 0;
            text-align: center;
            box-sizing: border-box;
            vertical-align: top;
        }
        .ui-spinner-button {
            display: block;
            top: 0;
            width: 34px;
            height: 36px;
            background-color: #fff;
            border: 1px solid #ccc;
            box-sizing: border-box;
            .ui-icon {
                width: 12px;
                height: 12px;
                background-image: url('../images/ico_spinner_down_mok.png');
                background-size: 12px 12px;
                text-align: center;
                vertical-align: top;
            }
            &.ui-spinner-button.ui-spinner-up {
                .ui-icon {
                    background-image: url('../images/ico_spinner_up_mok.png');
                    background-size: 12px 12px;
                }
                border-left: none;
                border-radius: 0 6px 6px 0;
            }
            &.ui-spinner-down {
                left: 0;
                border-right: none;
                border-radius: 6px 0 0 6px;
            }
        }
        &.form_spinner_box.disabled .ui-spinner .ui-spinner-button {
            .ui-icon {
                background-image: url('../images/ico_spinner_down_off_mok.png');
                background-size: 12px 12px;
            }
            &.ui-spinner-button.ui-spinner-up .ui-icon {
                background-image: url('../images/ico_spinner_up_off_mok.png');
                background-size: 12px 12px;
            }
        }
    }
}
@media(-webkit-min-device-pixel-ratio: 2) {
    .form_spinner_box .ui-spinner .ui-spinner-button .ui-icon {
        background-image: url('../images/ico_spinner_down_mok@2x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 3) {
    .form_spinner_box .ui-spinner .ui-spinner-button .ui-icon {
        background-image: url('../images/ico_spinner_down_mok@3x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 2) {
    .form_spinner_box .ui-spinner .ui-spinner-button.ui-spinner-button.ui-spinner-up .ui-icon {
        background-image: url('../images/ico_spinner_up_mok@2x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 3) {
    .form_spinner_box .ui-spinner .ui-spinner-button.ui-spinner-button.ui-spinner-up .ui-icon {
        background-image: url('../images/ico_spinner_up_mok@3x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 2) {
    .form_spinner_box .ui-spinner.form_spinner_box.disabled .ui-spinner .ui-spinner-button .ui-icon {
        background-image: url('../images/ico_spinner_down_off_mok@2x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 3) {
    .form_spinner_box .ui-spinner.form_spinner_box.disabled .ui-spinner .ui-spinner-button .ui-icon {
        background-image: url('../images/ico_spinner_down_off_mok@3x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 2) {
    .form_spinner_box .ui-spinner.form_spinner_box.disabled .ui-spinner .ui-spinner-button.ui-spinner-button.ui-spinner-up .ui-icon {
        background-image: url('../images/ico_spinner_up_off_mok@2x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 3) {
    .form_spinner_box .ui-spinner.form_spinner_box.disabled .ui-spinner .ui-spinner-button.ui-spinner-button.ui-spinner-up .ui-icon {
        background-image: url('../images/ico_spinner_up_off_mok@3x.png');
    }
}
/* datepicker */
.datepicker_box {
    position: relative;
    width: 100%;
    .form_datepicker {
        display: inline-block;
        width: 100%;
        height: 50px;
        padding: 0 14px;
        color: #000;
        font-size: 14px;
        line-height: 48px;
        letter-spacing: -0.01em;
        font-family: "Noto Sans KR", sans-serif;
        background-color: #fff;
        border: 1px solid #d5d5d5;
        border-radius: 6px;
        box-sizing: border-box;
        transition: border-color 0.2s ease-out;
        outline: 0;
        &:active,
        &:focus {
            border-color: #000;
        }
        &[aria-disabled],
        &[disabled],
        &[readonly] {
            color: #767676;
            background-color: #f7f7f7;
            pointer-events: none;
            cursor: default;
        }
        &::-webkit-input-placeholder,
        &:-ms-input-placeholder,
        &::-ms-input-placeholder,
        &::-moz-placeholder,
        &::placeholder,
        &:-ms-input-placeholder {
            font-size: inherit;
            color: #767676;
        }
        &::-ms-input-placeholder {
            /* Microsoft Edge */
            font-size: inherit;
            color: #767676;
        }
    }
    .ui-datepicker-trigger {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 36px;
        height: 36px;
        background: #ff1493;
    }
}

.slider_item {
    height: 4px;
    background: #eaeaea;
    margin: 7px 0;
    border-radius: 2px;
    .ui-slider-range {
        background: #767675;
        border-radius: 2px;
    }
    .ui-slider-handle {
        width: 16px;
        height: 16px;
        margin-left: -9px;
        background: #fff;
        border: 1px solid #999;
        border-radius: 9px;
        top: -6px;
    }
    &.text_size_slider {
        position: relative;
        height: 32px;
        margin: 0 17px;
        background: #f7f7f7;
        border: 1px solid #eaeaea;
        &:after {
            content: "";
            position: absolute;
            display: inline-block;
            width: 16px;
            height: 32px;
            border-radius: 17px;
            border: 1px solid transparent;
            top: -1px;
        }
        &:before {
            content: "";
            position: absolute;
            display: inline-block;
            width: 16px;
            height: 32px;
            border-radius: 17px;
            border: 1px solid transparent;
            top: -1px;
            left: -18px;
            background: #5055b1;
            border-color: #5055b1;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:after {
            right: -16px;
            background: #f7f7f7;
            border-color: #eaeaea;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: none;
        }
        .ui-slider-range {
            background: #5055b1;
            border-radius: 17px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            height: 34px;
            top: -1px;
        }
        .ui-slider-handle {
            width: 32px;
            height: 32px;
            margin-left: -18px;
            top: -1px;
            border-color: #ccc;
            border-radius: 17px;
            z-index: 3;
        }
    }
}
.slider_wrap {
    position: relative;
    &.has_pagination {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        .preview_pagination {
            color: #767676;
            font-size: 0;
            .pagination_current,
            .pagination_total {
                display: inline-block;
                font-size: 13px;
                line-height: 18px;
            }
            .pagination_current {
                color: #000;
                font-weight: 500;
            }
            .pagination_total:before {
                content: "-";
                display: inline-block;
                margin: 0 4px 0 3px;
            }
        }
        .slider_item {
            flex: 1;
            margin-left: 20px;
        }
    }
    .slider_text {
        position: absolute;
        display: inline-block;
        font-size: 12px;
        top: 50%;
        z-index: 2;
        transform: translateY(-50%);
        .prefix {
            font-size: 14px;
        }
        &.minus {
            color: #fff;
            left: 16px;
        }
        &.plus {
            right: 16px;
        }
    }
}
.portrait_img_box {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
        position: absolute;
        display: block;
        margin: 0 auto;
        -o-object-fit: contain;
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}



.bubble_speech_box {
    position: relative;
    .bubble_speech_desc {
        position: absolute;
        right: 0;
        bottom: -38px;
        width: 225px;
        min-height: 30px;
        padding: 5px 7px;
        border-radius: 15px;
        background-color: #f7f7fb;
        border: 1px solid #b8badf;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.01em;
        color: #474c98;
        box-sizing: border-box;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        &:before {
            content: "";
            position: absolute;
            top: -7px;
            left: calc(100% - 43px);
            display: block;
            width: 10px;
            height: 7px;
            background-image: url('../images/bg_bubble_speech_mok.png');
            background-size: 10px 7px;
        }
    }
}
@media(-webkit-min-device-pixel-ratio: 2) {
    .bubble_speech_box .bubble_speech_desc:before {
        background-image: url('../images/bg_bubble_speech_mok@2x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 3) {
    .bubble_speech_box .bubble_speech_desc:before {
        background-image: url('../images/bg_bubble_speech_mok@3x.png');
    }
}
/* 상품 */
.prod_area {
    .prod_thumb_box {
        .prod_link {
            display: block;
            height: 100%;
        }
        img {
            width: 100%;
        }
        &.type_cover {
            padding-top: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            img {
                display: none;
            }
        }
    }
    .prod_info_box {
        margin-top: 10px;
        .prod_link {
            display: block;
            height: 100%;
        }
        .prod_name {
            font-weight: 500;
        }
        .prod_author {
            display: block;
            color: #595959;
        }
        .prod_price {
            display: block;
            font-size: 0;
            .percent {
                display: inline-block;
                margin-right: 5px;
                font-size: 13px;
                line-height: 19px;
                letter-spacing: -0.01em;
                font-weight: 700;
                color: #4dac27;
                vertical-align: top;
            }
            .price {
                display: inline-block;
                font-size: 0;
                vertical-align: top;
                .unit {
                    font-size: 13px;
                    line-height: 19px;
                    letter-spacing: -0.01em;
                }
                .val {
                    font-size: 13px;
                    line-height: 19px;
                    letter-spacing: -0.01em;
                    font-weight: 700;
                }
            }
        }
        .prod_period {
            display: block;
            margin-top: 5px;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: -0.01em;
            color: #595959;
        }
    }
    &:not(.horizontal) .prod_info_box {
        margin-top: 10px;
    }
    &.horizontal {
        overflow: hidden;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        .prod_thumb_box {
            overflow: hidden;
            flex-shrink: 0;
            width: 84px;
            border-radius: 6px;
        }
        .prod_info_box {
            overflow: hidden;
            margin-left: 12px;
            .prod_link {
                .prod_name {
                    font-size: 13px;
                    line-height: 19px;
                    letter-spacing: -0.01em;
                    display: block;
                    overflow: hidden;
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                    max-height: none;
                    -webkit-box-orient: inherit;
                    -webkit-line-clamp: inherit;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .prod_author {
                    margin-top: 5px;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: -0.01em;
                }
                .prod_price {
                    margin-top: 20px;
                }
                .prod_period {
                    margin-top: 5px;
                }
            }
        }
    }
}


@media(-webkit-min-device-pixel-ratio: 2) {
    .all_review_wrap .all_review_list .all_review_item.spoilers .review_middle .spoilers_text_box .text_spoilers:before {
        background-image: url('../images/ico_locker_mok@2x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 3) {
    .all_review_wrap .all_review_list .all_review_item.spoilers .review_middle .spoilers_text_box .text_spoilers:before {
        background-image: url('../images/ico_locker_mok@3x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 2) {
    .all_review_wrap .all_review_list .all_review_item.spoilers .review_middle .spoilers_text_box .btn_xxs {
        background-image: url('../images/ico_spo_more_mok@2x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 3) {
    .all_review_wrap .all_review_list .all_review_item.spoilers .review_middle .spoilers_text_box .btn_xxs {
        background-image: url('../images/ico_spo_more_mok@3x.png');
    }
}

@media(-webkit-min-device-pixel-ratio: 2) {
    .all_review_wrap .all_review_list .all_review_item.report_wrap .review_middle .report_text_box .info_text:before {
        background-image: url('../images/ico_exclamation_gray_sm_mok@2x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 3) {
    .all_review_wrap .all_review_list .all_review_item.report_wrap .review_middle .report_text_box .info_text:before {
        background-image: url('../images/ico_exclamation_gray_sm_mok@3x.png');
    }
}
/* 리뷰 - 리뷰 없는 경우 */
.no_review_wrap .no_review_inner {
    text-align: center;
    position: relative;
    height: 180px;
    padding-top: 100px;
    border-bottom: 1px solid #eaeaea;
    box-sizing: border-box;
    .info_text {
        color: #767676;
        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 60px;
            left: 50%;
            width: 30px;
            height: 30px;
            margin-left: -15px;
            background-image: url('../images/ico_exclamation_gray_mok.png');
            background-size: 30px 30px;
        }
    }
}
@media(-webkit-min-device-pixel-ratio: 2) {
    .no_review_wrap .no_review_inner .info_text:before {
        background-image: url('../images/ico_exclamation_gray_mok@2x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 3) {
    .no_review_wrap .no_review_inner .info_text:before {
        background-image: url('../images/ico_exclamation_gray_mok@3x.png');
    }
}




/* 뷸렛 리스트 아래 타이틀이 있을 때 간격 */


/* STEP 리스트 */
.ord_progress_list {
    position: relative;
    font-size: 0;
    .ord_progress_item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        position: relative;
        z-index: 1;
        [class^=ico_] {
            flex: 0 auto;
            width: 58px;
        }
        .ord_progress_step {
            display: inline-block;
            flex: 1;
            margin-left: 12px;
            vertical-align: top;
            .ord_step_num {
                display: block;
                font-size: 13px;
                line-height: 19px;
                letter-spacing: -0.01em;
                font-weight: 700;
                color: #474c98;
                vertical-align: top;
            }
            .ord_step_text {
                display: block;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: -0.01em;
                vertical-align: top;
                margin-top: 3px;
            }
        }
        + .ord_progress_item {
            padding-top: 16px;
        }
        .btn_text_link {
            display: inline;
            color: inherit;
            font-size: inherit;
            line-height: inherit;
            .text {
                display: inline;
                text-decoration: underline;
            }
        }
    }
    &:before {
        content: "";
        position: absolute;
        top: 29px;
        left: 29px;
        width: 1px;
        height: calc(100% - 58px);
        background-image: url('../images/line_dot_vertical_mok.png');
        background-size: 1px 3px;
        background-repeat: repeat-y;
    }
}
@media(-webkit-min-device-pixel-ratio: 2) {
    .ord_progress_list:before {
        background-image: url('../images/line_dot_vertical_mok@2x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 3) {
    .ord_progress_list:before {
        background-image: url('../images/line_dot_vertical_mok@3x.png');
    }
}
.ico_speech {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/ico_title_message_mok.png');
    background-size: 16px 16px;
    vertical-align: top;
}
@media(-webkit-min-device-pixel-ratio: 2) {
    .ico_speech {
        background-image: url('../images/ico_title_message_mok@2x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 3) {
    .ico_speech {
        background-image: url('../images/ico_title_message_mok@3x.png');
    }
}
.ico_step_delivery,
.ico_step_store_guide,
.ico_step_store_visit {
    display: inline-block;
    width: 58px;
    height: 58px;
    background-repeat: no-repeat;
    vertical-align: top;
}
.ico_step_store_guide {
    background-image: url('../images/ico_step_store_guide_mok.png');
    background-size: 58px 58px;
}
@media(-webkit-min-device-pixel-ratio: 2) {
    .ico_step_store_guide {
        background-image: url('../images/ico_step_store_guide_mok@2x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 3) {
    .ico_step_store_guide {
        background-image: url('../images/ico_step_store_guide_mok@3x.png');
    }
}
.ico_step_store_visit {
    background-image: url('../images/ico_step_store_visit_mok.png');
    background-size: 58px 58px;
}
@media(-webkit-min-device-pixel-ratio: 2) {
    .ico_step_store_visit {
        background-image: url('../images/ico_step_store_visit_mok@2x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 3) {
    .ico_step_store_visit {
        background-image: url('../images/ico_step_store_visit_mok@3x.png');
    }
}
.ico_step_delivery {
    background-image: url('../images/ico_step_delivery_mok.png');
    background-size: 58px 58px;
}
@media(-webkit-min-device-pixel-ratio: 2) {
    .ico_step_delivery {
        background-image: url('../images/ico_step_delivery_mok@2x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 3) {
    .ico_step_delivery {
        background-image: url('../images/ico_step_delivery_mok@3x.png');
    }
}
.ico_member_restore {
    display: inline-block;
    width: 56px;
    height: 46px;
    background-repeat: no-repeat;
    vertical-align: top;
    background-image: url('../images/ico_member_restore_mok.png');
    background-size: 56px 46px;
}
@media(-webkit-min-device-pixel-ratio: 2) {
    .ico_member_restore {
        background-image: url('../images/ico_member_restore_mok@2x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 3) {
    .ico_member_restore {
        background-image: url('../images/ico_member_restore_mok@3x.png');
    }
}
.ico_cert_adult {
    display: inline-block;
    width: 52px;
    height: 52px;
    background-repeat: no-repeat;
    vertical-align: top;
    background-image: url('../images/ico_cert_adult_mok.png');
    background-size: 52px 52px;
}
@media(-webkit-min-device-pixel-ratio: 2) {
    .ico_cert_adult {
        background-image: url('../images/ico_cert_adult_mok@2x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 3) {
    .ico_cert_adult {
        background-image: url('../images/ico_cert_adult_mok@3x.png');
    }
}
.ico_dormant_lock {
    display: inline-block;
    width: 52px;
    height: 52px;
    background-repeat: no-repeat;
    vertical-align: top;
    background-image: url('../images/ico_dormant_lock_mok.png');
    background-size: 52px 52px;
}
@media(-webkit-min-device-pixel-ratio: 2) {
    .ico_dormant_lock {
        background-image: url('../images/ico_dormant_lock_mok@2x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 3) {
    .ico_dormant_lock {
        background-image: url('../images/ico_dormant_lock_mok@3x.png');
    }
}

/* 컬러 */
.fc_spot {
    color: #474c98 !important;
}
.fc_black {
    color: #000 !important;
}
.fc_green {
    color: #3c9a17 !important;
}
/* 폰트 굵기 */
.fw_bold {
    font-weight: 700 !important;
}
.fw_medium {
    font-weight: 500 !important;
}
.fw_regular {
    font-weight: 400 !important;
}

/* 섬네일 리스트 */
[class*=thumbnail_list] {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    box-sizing: border-box;
    /* Vertical Type List */
    /* Horizontal Type List */
    &.row_stack {
        flex-wrap: wrap;
    }
    &.thumbnail_list_vertical {
        margin: -8px;
        .thumbnail_item {
            padding: 8px;
            box-sizing: border-box;
        }
    }
    &.thumbnail_list_horizontal {
        margin: -8px;
        .thumbnail_item {
            padding: 8px;
            box-sizing: border-box;
            &:first-child .thumbnail_product_item.horizontal_type .info_area .info_product_number {
                font-weight: 500;
                color: #3c9a17;
            }
        }
        &.row_stack {
            min-width: auto;
            .thumbnail_item .thumbnail_product_item {
                min-width: auto;
            }
        }
        &.full_width {
            flex-wrap: wrap;
            .thumbnail_item {
                width: 100%;
                min-width: 100%;
            }
        }
        &.align_top .thumbnail_item .thumbnail_product_item.horizontal_type {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: row;
            .info_area {
                padding-top: 10px;
            }
        }
    }
}
.swiper-container.scrollbar_text .swiper-wrapper {
    &.thumbnail_list_vertical {
        padding-bottom: 20px;
        .thumbnail_item.swiper-slide {
            width: auto;
        }
    }
    .swiper-slide .thumbnail_list_vertical .thumbnail_item {
        width: auto;
    }
}
.fold_box_wrap {
    .fold_box_list .fold_box + .fold_box {
        margin-top: 10px;
    }
    .fold_box {
        background: #f7f7f7;
        border: 1px solid #eaeaea;
        border-radius: 10px;
        box-sizing: border-box;
        .fold_box_contents {
            padding: 0 20px;
        }
        .fold_box_header {
            padding: 26px 30px 22px 19px;
            position: relative;
            cursor: pointer;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.01em;
            font-weight: 700;
            &:after {
                content: "";
                position: absolute;
                display: block;
                width: 10px;
                height: 5px;
                right: 20px;
                top: 50%;
                background-image: url('../images/arw_fold_toggle_mok.png');
                background-size: 10px 5px;
                transform: translateY(-50%);
            }
            .btn_fold {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        .fold_box_contents {
            height: 0;
            overflow: hidden;
        }
        &.expanded {
            background: #fff;
            border-color: #000;
            .fold_box_header:after {
                transform: translateY(-50%) rotate(180deg);
            }
            > .fold_box_contents {
                height: auto;
                padding-top: 4px;
                padding-bottom: 23px;
                .form_wrap + .btn_wrap {
                    margin-top: 20px;
                }
            }
        }
        &.no_fold .fold_box_header {
            cursor: default;
            &:after {
                content: none;
            }
        }
    }
}
@media(-webkit-min-device-pixel-ratio: 2) {
    .fold_box_wrap .fold_box .fold_box_header:after {
        background-image: url('../images/arw_fold_toggle_mok@2x.png');
    }
}
@media(-webkit-min-device-pixel-ratio: 3) {
    .fold_box_wrap .fold_box .fold_box_header:after {
        background-image: url('../images/arw_fold_toggle_mok@3x.png');
    }
}


/* 팝업 초기화 */
.dialog_wrap {
    display:none;
}
.dialog_wrapper.open {
    .dialog_wrap {
        display:flex !important;
    }    
}




.byte_check_wrap .form_textarea.byte02 {
    height:80px !important;
}