/* tab */
.ht_tab_wrap {
    padding: 0;
    &.type_normal {
        .ht_tab_list_wrap {
            display: flex;
            border-bottom: solid 1px #ccc;
            justify-content: space-between;

            .tabs {
                display: flex;
                justify-content: start;
                padding: 0;
                .tab_item {
                    padding: 0 10px;
                    .tab_link {
                        display: inline-block;
                        padding: 10px 0;
                        position: relative;
                        .tab_txt {
                            font-size: 15px;
                        }
                    }      
                    &:first-child {
                        padding-left: 0;
                    }
                } 
                .tab_item {
                    &.active {
                        .tab_link {
                            .tab_txt {
                                font-weight: 700;
                            }
                            
                            &:after {
                                position: absolute;
                                bottom: -1px;
                                left: 0;
                                content: "";
                                width: 100%;
                                height: 3px;
                                background: #000;
                            }
                        }                      
                   } 
                }                
            }
            .right_area {
                display: inline-block;
                margin-top: 8px;
                .form_sel {
                    select {
                        appearance: none;
                        outline: 0;
                        border: 0;
                        padding: 0 17px 0 0;
                        height: 22px;
                        font-size: 14px;
                        line-height: 22px;
                        font-weight: 500;
                        background: url(../images/ico/arw_select.png) no-repeat right center;
                        background-size: 9px 5px;
                    }
                }
            }
        }
        .tab_content {
            padding: 0;
        }
    }

    

} 

/* tootip */
.tooltip_wrap {
    position: relative; 
    display: inline-block; 
    height: 22px;
    vertical-align: top;
    box-sizing: border-box;
}
// .tooltip_wrap.active .btn_tooltip .ico_info {
//     background: #000 url(../images/ico/btn_tooltip_active_mok.png) no-repeat 0 0; 
//     background-size: 22px 22px;}
.tooltip_wrap.active .tooltip_inner {opacity: 1; -webkit-transform: scaleY(1); transform: scaleY(1);}
.tooltip_wrap .tooltip_inner {display: block; position: absolute; left: 0; top: 22px; z-index: 10; overflow: hidden; width: calc(100vw - 40px); max-width: 335px; padding: 19px 19px; margin-top: 6px; background-color: #fff; border: 1px solid #000; border-radius: 10px; text-align: left; box-sizing: border-box; opacity: 0; -webkit-transform: scaleY(0); transform: scaleY(0); transition: opacity .3s ease-out;}
.tooltip_wrap .tooltip_inner .tooltip_header {padding-bottom: 16px; box-sizing: border-box; text-align: center;}
.tooltip_wrap .tooltip_inner .tooltip_header .tooltip_head_title {font-size: 15px; line-height: 23px; letter-spacing: -.01em; font-weight: 500;}
.tooltip_wrap .tooltip_inner .tooltip_contents {box-sizing: border-box;}
.tooltip_wrap .tooltip_inner .tooltip_contents .tooltip_sub_title {color: #000; font-size: 14px; line-height: 22px; letter-spacing: -.01em; font-weight: 700;}
.tooltip_wrap .tooltip_inner .tooltip_contents .tooltip_sub_title~.tooltip_desc {margin-top: 6px;}
.tooltip_wrap .tooltip_inner .tooltip_contents .tooltip_desc {color: #000; font-size: 13px; line-height: 19px; letter-spacing: -.01em; font-weight: 400;}
.tooltip_wrap .tooltip_inner .tooltip_contents .tooltip_desc~.tooltip_sub_title {margin-top: 16px;}
.tooltip_wrap .tooltip_inner .tooltip_contents .tooltip_desc~.tooltip_desc {margin-top: 6px;}
.tooltip_wrap .tooltip_inner .tooltip_contents .tooltip_desc .btn_text_link {display: inline; color: inherit; font-size: inherit; line-height: inherit;}
.tooltip_wrap .tooltip_inner .tooltip_contents .tooltip_desc .btn_text_link .text {display: inline; text-decoration: underline;}
.tooltip_wrap .tooltip_inner .tooltip_contents .tooltip_info_list {display: block;}
.tooltip_wrap .tooltip_inner .tooltip_contents .tooltip_info_list .tooltip_info_item {display: block; color: #000; box-sizing: border-box;}
.tooltip_wrap .tooltip_inner .tooltip_contents .tooltip_info_list .tooltip_info_item~.tooltip_info_item {margin-top: 11px; padding-top: 13px; border-top: 1px solid #eaeaea;}
.tooltip_wrap .btn_tooltip_close {
    display: block;
    position: absolute; right: 20px; top: 20px; width: 20px; height: 20px; background-position: center; background-repeat: no-repeat;
    background-image: url(../images/btn_close.svg);
    background-size: 20px 20px;
    box-sizing: border-box;
}
.tooltip_wrap.type_sm {height: 16px;}
.tooltip_wrap.type_sm .btn_tooltip {width: 16px; height: 16px;}
.tooltip_wrap.type_sm .btn_tooltip [class^=ico_] {width: 16px; height: 16px; background-position: center; background-repeat: no-repeat;}
.tooltip_wrap.type_sm .btn_tooltip .ico_info {background-image: url(../images/btn_tooltip_sm_mok.png); background-size: 16px 16px;}
.tooltip_wrap.type_sm .tooltip_inner {top: 16px;}
.tooltip_wrap.type_info .tooltip_inner {margin-top: 15px; border-radius: 6px;}
.tooltip_wrap.right .tooltip_inner {left: auto; right: 0;}
.tooltip_wrap.hide .tooltip_inner {-webkit-transform: scaleY(0); transform: scaleY(0); transition: opacity .3s ease-out,-webkit-transform 0s .3s; transition: opacity .3s ease-out,transform 0s .3s; transition: opacity .3s ease-out,transform 0s .3s,-webkit-transform 0s .3s;}


/* 툴팁 버튼 */
.btn_tooltip {width: 22px; height: 22px;}
.btn_tooltip [class^=ico_] {display: inline-block; width: 22px; height: 22px; vertical-align: top; transition: background .2s ease-out;}
.btn_tooltip .ico_info {background-image: url(../images/ico/ico_info_large.png); background-size: 22px 22px;}



/* 펼침 닫기 메뉴 */
.auto_overflow_wrap{
    .auto_overflow_contents {
        overflow: hidden;
    }
    &.active {
        > .auto_overflow_contents {
            max-height: none!important;
        }
    }
} 


/* 그라데이션 펼침 닫기 메뉴 */
.auto_overflow_wrap.type_text.overflow {
    .auto_overflow_contents {
        position: relative;
        &:after {
            content: "";
            width: 100%;
            height: 15px;
            background: linear-gradient(180deg,rgba(255,255,255,0),#fff 15px);
            position: absolute;
            bottom: 0;
        }        
    }
    &.active {
        .auto_overflow_contents {
            &:after {
                display: none;
            }
            
        }
    }
}



/* accordion */
// .fold_box_wrap .fold_box_list .fold_box+.fold_box {margin-top: 10px;}
.panel_outer {
    .bul_list {
        padding-bottom: 20px;
        &:last-child {
            padding-bottom: 0;
        }
    }
    .tit_area {
        margin-bottom: 9px;
        .tit {
            font-size: 14px;
            font-weight: 500;
        }
    }
}
.ht_fold_box_wrap .fold_box {
    box-sizing: border-box;
}
.ht_fold_box_wrap .fold_box .fold_box_contents,
.ht_fold_box_wrap .fold_box .fold_box_header {
    padding: 0 20px;
}
.ht_fold_box_wrap .fold_box .fold_box_header {
    position: relative;
    padding: 10px 30px 10px 0;
    cursor: pointer;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -.01em;
    font-weight: 700;
}
.ht_fold_box_wrap .fold_box .fold_box_header:after {
    content: ""; position:
    absolute; display: block;
    width: 22px;
    height: 22px;
    right: 0;
    top: 50%; 
    background-image: url(../images/ico/ico_arrow.png);
    background-size: 22px 22px;
    transform: translateY(-50%) rotate(180deg);
}
.ht_fold_box_wrap .fold_box .fold_box_header .btn_fold {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.ht_fold_box_wrap .fold_box .fold_box_contents {
    height: 0;
    overflow: hidden;
    border-radius: 4px;
}
.ht_fold_box_wrap .fold_box.expanded {
    background: #fff;
    border-color: #000;
    margin-bottom: 10px;
}
.ht_fold_box_wrap .fold_box.expanded .fold_box_header:after {
    transform: translateY(-50%) rotate(0);
}
.ht_fold_box_wrap .fold_box.expanded>.fold_box_contents {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f7f7f7;
}
.ht_fold_box_wrap .fold_box.expanded>.fold_box_contents .form_wrap+.btn_wrap {
    margin-top: 20px;
}
.ht_fold_box_wrap .fold_box.no_fold .fold_box_header {
    cursor: default;
}
.ht_fold_box_wrap .fold_box.no_fold .fold_box_header:after {
    content: none;
}
.ht_fold_box_wrap .fold_box.no_fold .fold_box_header:after {
    content: none;
}



/* Table Row Wrap */
.ht_tbl_row_wrap {
    border-top: 1px solid #000;
    border-bottom: 1px solid #eaeaea;
    table.ht_tbl_row {
        width: 100%;
        font-size: 13px;
        tr {
            th {
                padding: 12px 0;
                border-right: solid 1px #eaeaea;
                &.th_bg_grey {
                    background: #F7F7F7;
                }
            }
            td {
                padding: 12px 0 12px 28px;
                border-bottom:solid 1px #eaeaea ;
            }
            &:last-child {
                td {
                    border-bottom: 0;
                }
            }
    
        }
    }
}







