/***** 고객센터 *****/
.title_header + .wel_main_wrap {
    padding-top:20px;
}




/**** 고객센터 Common ****/
/* tab_nav_area */
.tab_nav_area {
    display:table;table-layout:fixed;width:100%;margin-bottom:24px;border-bottom:1px solid #eaeaea;
    a {
        display:table-cell;position:relative;height:52px;color:rgba(0,0,0,0.2);font-size:16px;font-weight:700;line-height:22px;text-align:center;vertical-align:middle;
        &.active {
            color:#000;
            &:before {
                position:absolute;left:0;bottom:-1px;width:100%;height:2px;background:#000;content:"";
            }
        }
    }
    &.mt {
        margin-top:-36px;
    }
}

/* cus_cont */
.cus_cont {
    padding-top:0;
    .form_search_box {
        margin-bottom:34px;
    }
    .info_select_a {
        margin:24px 0 -34px 0;
    }
    &.gft_prod {
        .form_search_box {
            margin-bottom:0;
        }
    }
}

/* form_box */
.form_box {
    .form_search_box {
        margin-bottom:0 !important;
    }
    .fold_question {
        margin:8px 0 0 0;
    }
}

/* cus_hero_area */
.cus_hero_area {
    position:relative;margin:0 0 32px 0;padding:78px 20px 22px 20px;border-bottom:1px solid #eaeaea;text-align:center;
    &:before {
        position:absolute;left:50%;top:0;width:60px;height:60px;margin-left:-30px;background:url('../images/ico/ico_cus_hero01.svg') center/100% no-repeat;content:"";
    }
    .cus_hero_tit {
        font-size:16px;font-weight:700;
        .point_line:before {
            top:5px;background:#fff688;
        }
    }
    h2 + p {
        margin-top:8px;
    }
    &.ty02 {
        &:before {
            background-image:url('../images/ico/ico_cus_hero02.svg');
        }
    }
}

/* Search Tab : cus_chk_list */
.cus_chk_list {
    position:relative;margin:-30px 0 32px 0;
    .chk_list_ty {
        margin:-8px 0 0 -4px;
        &.ty02 {
            li {
                display:inline-block;position:relative;margin:8px 0 0 4px;
            }
            label {
                height:36px;padding:0 10px;line-height:35px;
            }

        }
    }
    &.mb {
        margin:0 0 16px 0;
    }
}

/* cus_agree_area */
.cus_agree_area {
    position:relative;margin-bottom:24px;padding-bottom:24px;border-bottom:1px solid #eaeaea;
    .form_chk {
        margin-top:8px;
    }
}




/**** 고객센터 Template ****/
/** FAQ/QNA : fold_ty **/
.fold_ty {
    position:relative;border-top:1px solid #000;
    .li {
        position:relative;padding:16px 5px;border-bottom:1px solid #eaeaea;
        &.on {
            .fold_tit {
                .txt_len,
                .txt_len1 {
                    display:block;max-height:inherit;
                }   
            }       
            .fold_btn {
                span {
                    &:after {
                        transform:rotate(-180deg);
                    }
                }
            }
            .fold_view {
                display:block;
            }
        }
    }
    .emp {
        position:relative;padding:40px 5px;border-bottom:1px solid #eaeaea;color:#767676;font-size:13px;line-height:19px;text-align:center;
        &> p {
            position:relative;padding-top:73px;
            &:before {
                position:absolute;left:50%;top:0;width:60px;height:60px;margin-left:-30px;background:url('../images/ico/ico_not_list.svg') center/100% no-repeat;content:"";
            }
        }
        &.ed {
            border-bottom:0;
        }
        .faq_search_tag {
            margin-top:36px;padding-top:32px;border-top:1px dotted #d5d5d5;
        }
    }
}
.fold_tit {
    position:relative;display:flex;width:100%;justify-content:flex-start;align-items:top;flex-flow:row wrap;
    .txt {
        position:relative;width:100%;
    }
    .txt_len {
        display:-webkit-box;max-height:44px;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;
    }
    .txt_len1 {
        display:-webkit-box;max-height:22px;text-overflow:ellipsis;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden;
    }
    .ico_marker {
        position:relative;margin-bottom:8px;font-size:0;
        li {
            display:inline-block;height:20px;margin-left:10px;padding:0 9px;background:#ecedf5;border-radius:10px;box-sizing:border-box;color:#474C98;font-size:10px;line-height:21px;
            &:first-child {
                margin-left:0;
            }
        }
    }
    .tit {
        color:#000;font-size:14px;font-weight:500;line-height:22px;
    }
    .tit_s {
        color:#767676;font-size:13px;font-weight:500;line-height:22px;
        span {
            display:inline-block;padding-top:2px;
        }
    }
    .fold_info {
        position:relative;margin-bottom:8px;overflow:hidden;
        > ul {
            padding-top:4px;overflow:hidden;float:left;
            li {
                position:relative;float:left;padding-left:17px;color:#767676;font-size:12px;line-height:14px;
                &:before{ 
                    position:absolute;left:8px;top:1px;width:1px;height:11px;background-color:#dcdcdc;content:"";
                }
                &:first-child {
                    padding-left:0px;
                    &:before {
                        display:none;
                    }
                }
                strong {
                    font-size:12px;font-weight:700;
                    &.c1 {
                        color:#474c98;
                    }
                    &.c2 {
                        color:#da2128;
                    }
                }
            }
        }
        .info {
            /*position:absolute;right:0;top:0;*/height:20px;padding:0 9px;background:#f7f7f7;border-radius:10px;box-sizing:border-box;color:#292929;font-size:10px;line-height:21px;
            float:left;margin-right:10px;
        }
    }
    .img {
        position:relative;width:78px;height:78px;margin-right:12px;background:#f7f7f7;border-radius:8px;overflow:hidden;
        img {
            position:absolute;left:50%;top:50%;width:100%;height:auto;transform:translate(-50%,-50%);
        }
    }
    .img + .txt {
        width:calc(100% - 90px);margin-top:5px;
        .fold_info {
            display:table-footer-group;width:100%;
            > ul {
                padding-top:8px;
            }
        }
        .tit {
            display:table-header-group;width:100%;
        }
        .tit_s {
            display:table-header-group;width:100%;margin:0;
        }
    }
}
.fold_btn {
    display:block;width:100%;margin-top:10px;
    button {
        display:block;width:100%;text-align:left;cursor:pointer;
    }
    span {
        display:inline-block;position:relative;padding-right:24px;color:#767676;font-size:14px;line-height:21px;
        &:after {
            position:absolute;right:0;top:0;width:20px;height:20px;background:url('../images/main/ico_more_view.svg') center/100% no-repeat;content:"";transition:transform 0.4s;
        }
    }
}
.fold_view {
    display:none;position:relative;margin-top:15px;padding:20px;background:#f7f7f7;border-radius:4px;box-sizing:border-box;font-size:14px;font-weight:400;line-height:22px;animation:fade both 0.5s;
}
.fold_question {
    position:relative;padding-top:31px;
    &:before {
        position:absolute;left:1px;top:0;width:22px;height:22px;background-color:#000;border-radius:50%;content:"Q";color:#fff;font-size:12px;font-weight:700;line-height:22px;text-align:center;
    }
    &:after {
        position:absolute;left:8px;top:21px;border-top:4px solid #000;border-left:4px solid transparent;border-right:4px solid transparent;content:"";z-index:2;
    }
    .fold_q_tit{
        margin-top:-28px;padding-left:30px;margin-bottom:6px;font-size:14px;font-weight:700;
    }
}
.fold_a {
    margin-top:15px;
    &:before {
        background-color:#da2128;content:"A";
    }
    &:after {
        border-top-color:#da2128;
    }
}
.fold_d {
    position:relative;min-height:90px;margin-bottom:15px;padding:13px 20px 18px 20px;background:#fff;border:1px solid #eaeaea;border-radius:4px;box-sizing:border-box;
    &:before {
        display:none;
    }
    &:after {
        display:none;
    }
    .img {
        position:absolute;right:20px;top:40px;width:60px;height:60px;background:#f7f7f7;border-radius:4px;overflow:hidden;
        img {
            position:absolute;left:50%;top:50%;width:100%;height:auto;transform:translate(-50%,-50%);
        }
    }
    .txt {
        position:relative;
        .s1 {
            margin-bottom:10px;font-size:11px;line-height:16px;color:#000;display:flex;flex-flow:row nowrap;justify-content:flex-start;align-items:center;
            span {
                line-height:16px;position:relative;white-space:nowrap;
                &:nth-of-type(2){
                    margin-left:16px;
                    &:before {
                        position:absolute;left:-8px;top:3px;width:1px;height:10px;background-color:#d5d5d5;content:"";
                    }
                }
            }
            .info {
              margin-top:-3px;margin-left:auto;height:20px;padding:0 9px;background:#f7f7f7;border-radius:10px;box-sizing:border-box;color:#292929;font-size:10px;line-height:21px;
            }
        }
        .s2 {
            color:#000;font-size:13px;font-weight:500;line-height:19px;margin-bottom:8px;padding-right:80px;display:-webkit-box;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;word-break:keep-all;
        }
        .s3 {
            line-height:16px;padding-right:80px;font-size:11px;color:#767676;display:flex;flex-flow:row nowrap;justify-content:flex-start;align-items:center;
            & + .s3 {
                margin-top:4px;
            }
            span {
                position:relative;margin-right:18px;white-space:nowrap;
                &:last-of-type{
                    margin-right:0;
                }
                &:first-of-type:before{
                    display:none;
                }
                &:before {
                    position:absolute;left:-9px;top:2px;width:1px;height:10px;background-color:#d5d5d5;content:"";
                }
            }
        }
    }
    &.ty02 {
        display:table;width:100%;table-layout:fixed;padding:12px 12px 12px 122px;
        .img {
            left:12px;top:12px;width:93px;height:93px;
        }
        .txt {
            display:table-cell;width:100%;height:93px;vertical-align:middle;box-sizing:border-box;
            .s1 {
                display:-webkit-box;font-size:14px;font-weight:400;line-height:22px;white-space:normal;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;
            }
            .s2 {
                margin-top:2px;font-weight:700;font-size:14px;line-height:22px;
            }
        }
    }
}
.fold_question_btn {
    position:relative;margin-top:12px;overflow:hidden;
    li {
        position:relative;float:left;padding-left:17px;color:#767676;font-size:12px;line-height:14px;
        &:before{ 
            position:absolute;left:8px;top:2px;width:1px;height:11px;background-color:#dcdcdc;content:"";
        }
        &:first-child {
            padding-left:0px;
            &:before {
                display:none;
            }
        }
    }
}
.btn_txt_more {
    position:relative;overflow:hidden;
    a, button {
        display:block;float:right;color:#595959;font-size:13px;
        span {
            display:inline-block;position:relative;padding-right:10px;
            &:after {
                position:absolute;right:2px;top:50%;width:6px;height:6px;margin-top:-4px;border:solid #595959;border-width:1px 1px 0 0;transform:rotate(45deg);content:"";overflow:hidden;
            } 
        }
    }
}
.mc_tit02 + .btn_txt_more {
    margin:-32px 0 15px 0;top:-6px;
}
.mc_tit03 + .btn_txt_more {
    margin:-30px 0 10px 0;
}
.mc_tit04 + .btn_txt_more {
    margin:-26px 0 10px 0;
}

/** 답변 수신 방법 **/
/* 회원정보 변경하기 버튼 */
.form_label + .btn_txt_more {
    margin:-20px 0 10px 0;
}
/* 테이블 상단 라인 & 답변 메일 받기 체크박스 */
.form_wrap {
    .form_box {
        &.line_form_box{
            margin-top:27px;padding-top:27px;border-top:1px solid #eaeaea;
            .form_cont{
                + .form_chk {
                    margin-top:8px;
                }
            }
        }
    }
}
.valid_check {
    ~ .valid_check {
        margin-top:8px;
    }
}
/* pop_info */
.pop_info {
    margin-top:18px;padding-top:13px;border-top:1px solid #eaeaea;
}

/** faq_search_tag **/
.faq_search_tag {
    position:relative;text-align:center;
    .tit {
        color:#000;font-size:13px;font-weight:700;line-height:19px;
    }
}
.faq_search_tag_btn {
    margin:8px 20px 0 20px;font-size:0;
    button {
        display:inline-block;position:relative;height:36px;margin:8px 4px 0 4px;padding:0 13px;background:#f7f7f7;border:1px solid #eaeaea;border-radius:18px;color:#000;font-size:13px;font-weight:400;line-height:36px;transition:all 0.4s;cursor:pointer;
    }
}

/* fold_ty02 */
.fold_ty02_area {
    position:relative;max-height:calc(100vh - 265px);box-sizing:border-box;overflow-y:auto;
}
.fold_ty02 {
    position:relative;
    .li {
        position:relative;margin-top:16px;border:1px solid #eaeaea;border-radius:4px;box-sizing:border-box;overflow:hidden;transition:border 0.4s;
        &.on {
            border-color:#000;
            .fold_tit02 {
                .s1 {
                    background-color:#000;
                    strong, span {
                        color:#fff;
                    }
                    span a{
                        color:#fff;
                    }
                }
            }
            .fold_view02 {
                display:block;
                & > ul {
                    & >li {
                        border-bottom:1px dotted #d5d5d5;
                        &:last-of-type {
                            border-bottom:none;
                        }
                    }
                } 
            }
            .fold_btn {
                span {
                    &:after {
                        transform:rotate(-180deg);
                    }
                }
            }
        }
        &:first-child {
            margin-top:0;
        }
    }
}
.fold_tit02 {
    position:relative;
    .s1 {
        height:32px;padding:0 19px;background:#f7f7f7;border-bottom:1px solid #eaeaea;box-sizing:border-box;overflow:hidden;font-size:12px;line-height:32px;transition:background 0.4s;
        strong {
            float:left;color:#767676;font-weight:500;
        }
        span {
            float:right;width:calc(100% - 70px);color:#000;font-weight:400;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;text-align:right;
        }
    }
    .s2 {
        position:relative;padding:20px;color:#595959;
        .c1 {
            width:calc(100% - 40px);font-weight:500;
            span {
                display:inline-block;max-width:calc(100% - 36px);padding-right:5px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;vertical-align:top;
            }
        }
        .c2 {
            color:#000;font-weight:700;
        }
    }
    .fold_btn {
        position:absolute;left:0;top:0;width:100%;height:100%;margin:0;
        button, span {
            position:absolute;left:0;top:0;width:100%;height:100%;padding:0;
        }
        span {
            text-indent:-9999px;overflow:hidden;
        }
        span:after {
            right:20px;top:50%;margin-top:-10px;
        }
    }
}
.fold_view02 {
    display:none;margin:0 20px 20px 20px;border-top:1px solid #eaeaea;animation:fade both 0.5s;
    &> ul > li {
        position:relative;padding-left:34px;
        .form_rdo {
            position:absolute;left:0;top:0;width:100%;height:100%;z-index:2;
            label {
                position:absolute;left:0;top:0;width:100%;height:100%;z-index:2;cursor:pointer;
            }
            input + label:after {
                top:26px;
            }
            input + label:before {
                top:20px;
            }
        }
    }
    .fold_d {
        border:none;padding-bottom:0;padding-top:16px;
        .txt .s2 {
            display:block;overflow:visible;-webkit-line-clamp:none;
        }
    }
    .form_rdo + .fold_question.fold_d {
        padding-left:0;margin-right:-20px;
    }
}   


/** 공지시항 : notice_ty **/
.notice_ty {
    position:relative;border-top:1px solid #000;
    .li {
        position:relative;padding:16px 5px;border-bottom:1px solid #eaeaea;
        a {
            display:block;
        }
        .tit {
            color:#000;font-size:14px;line-height:22px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;
        }
        .date {
            display:block;margin-top:2px;color:#767676;font-size:13px;line-height:19px;
        }
    }
    .emp {
        position:relative;padding:40px 5px;border-bottom:1px solid #eaeaea;color:#767676;font-size:13px;line-height:19px;text-align:center;
        p {
            position:relative;padding-top:73px;
            &:before {
                position:absolute;left:50%;top:0;width:60px;height:60px;margin-left:-30px;background:url('../images/ico/ico_not_list.svg') center/100% no-repeat;content:"";
            }
        }
    }
}

/* 공지사항 상세 */
.notice_view_ty {
    position:relative;
}
.notice_view_tit {
    position:relative;padding-bottom:20px;border-bottom:1px solid #eaeaea;
    .tit {
        color:#000;font-size:14px;line-height:22px;font-weight:700;
    }
    .date {
        display:block;margin-top:2px;color:#767676;font-size:13px;line-height:19px;
    }
}
.notice_view_cont {
    position:relative;padding:30px 5px;border-bottom:1px solid #eaeaea;color:#000;font-size:14px;font-weight:400;line-height:22px;word-wrap:break-word;word-break:keep-all;
    img {
        max-width:100%;
    }
}




/**** 고객센터 컨텐츠 ****/
/* cus_box_area */
.cus_box_area {
    position:relative;padding:18px 20px 16px 20px;background:#f7f7f7;border-radius:4px;box-sizing:border-box;
    .s0 {
        padding:13px 0;color:#000;font-weight:700;text-align:center;vertical-align:middle;
        span {
            display:inline-block;position:relative;padding-left:48px;
            &:before {
                position:absolute;left:0;top:50%;width:40px;height:40px;margin-top:-20px;background:url('../images/ico/ico_cus_box_area.svg') center/100% no-repeat;content:"";
            }
        }
    }
    .s1 {
        color:#000;font-size:12px;font-weight:500;line-height:18px;
    }
    .s2 {
        margin-top:4px;color:#000;font-size:12px;font-weight:700;line-height:24px;
        strong {
            display:inline-block;color:#da2128;padding-right:4px;font-size:20px;line-height:22px;vertical-align:top;letter-spacing:-1px;
        }
    }
    .ico {
        position:absolute;right:20px;top:17px;height:20px;padding:0 7px;background:#474c98;border-radius:10px;color:#fff;font-size:10px;line-height:21px;
    }
    .bul_list {
        margin-top:12px;
    }
}

.info_text_box.mb {
    margin-bottom:12px;
}
.info_text_box + .cus_box_area {
    margin-top:12px;
}

/* cus_list_area */
.cus_list_area {
    margin:-10px 0 20px 0;padding-bottom:14px;border-bottom:1px solid #eaeaea;
    dl {
        position:relative;overflow:hidden;
    }
    dt {
        position:relative;float:left;width:20%;color:#000;font-size:14px;font-weight:500;line-height:18px;
    }
    dd {
        position:relative;float:right;width:75%;color:#000;font-size:14px;font-weight:700;line-height:24px;text-align:right;
        strong {
            display:inline-block;color:#da2128;padding-right:4px;font-size:20px;line-height:22px;vertical-align:top;letter-spacing:-1px;
        }
    }
}
.cus_txt_info {
    padding-left:8px;color:#767676;font-weight:400;
}




/**** 핫트랙스 서비스 안내 ****/
.cus_cont_view {
    padding:0;
    &#cus_sv01 {
        .img_tit_area {
            .mc_tit03 {
                color:#fff;
                &:before, &:after {
                    display:none;
                }
            }
        }
    }
    &#cus_sv02 {
        .mc_tit03 {
            &:before {
                background:url(../images/guide/cus_ribbon.svg) no-repeat center / 18px;
            }
            &:after {
                background:#ffe65c;
            }
        }

        
    }
    &#cus_sv03 {
        .mc_tit03 {
            &:before {
                background:url(../images/guide/cus_card.svg) no-repeat center / 18px;
            }
            &:after {
                background:#9af8c2;
            }
        }

    }
}
.img_tit_area {
    position:relative;background-color:#f4f4f4;
    .img {
        position:relative;
        img {
            width:100%;
        }
    }

    .mc_tit03 {
        position:absolute;left:20px;top:calc(100% - 122px);padding-right:20px;z-index:2;
        &:before {
            position:absolute;right:-2px;top:5px;width:18px;height:18px;background:url(../images/guide/cus_pencil.svg) no-repeat center / 18px;content:"";z-index:2;
        }
        &:after {
            position:absolute;left:-2px;top:15px;width:calc(100% + 4px);height:14px;background:#FFC09F;content:"";z-index:-1;animation:pointLine both ease-in infinite 3s;
        }
    }
    .info_text_box {
        position:relative;width:calc(100% - 20px);margin-top:-50px;background:#fff;border-radius:0;color:#000;
        .bul_item_dot:before {
            background-color:#222;
        }
        [class^=bul_item_].font_size_xs {
            letter-spacing:-0.03em;
        }
    }
    .t_point {
        color:#da2128;font-weight:500;
    }
    .t_txt {
        color:#767676;font-weight:400;
    }
}
.cus_view_list {
    position:relative;padding:30px 20px 50px 20px;background:#f4f4f4;
    .li {
        position:relative;margin-top:26px;
        &:first-child {
            margin-top:0;
        }
    }
}
.cus_view_box {
    position:relative;padding:19px;background:#fff;border:1px solid #eaeaea;border-radius:4px;
    .tbl_row {
        th {
            color:#767676 !important;font-weight:500 !important;
            strong {
                color:#000 !important;font-weight:500 !important;
            }
        }
        td {
            padding:16px 12px !important;color:#000 !important;font-size:13px;line-height:19px;
        }
    }
    em {
        font-size:12px;
    }
    &.ty02 {
        padding:29px 19px;
    }
}
.cus_initials {
    li {
        position:relative;min-height:26px;padding:7px 1px 4px 1px;border-top:1px dashed #eaeaea;overflow:hidden;
        strong {
            float:left;color:#000;font-size:14px;font-weight:400;line-height:26px;
        }
        span {
            float:right;text-align:right;
        }
        img {
            height:24px;
        }
        &:first-child {
            padding-top:0;border-top:0;
        }
        &:last-child {
            padding-bottom:0;
        }
    }
}
.cus_packing {
    position:relative;display:flex;flex-wrap:wrap;
    &:after {
        position:absolute;left:0;top:-1px;width:100%;height:2px;background:#fff;content:"";z-index:1;
    }
    li {
        position:relative;width:50%;padding:14px;box-sizing:border-box;border:1px dashed #eaeaea;border-width:1px 1px 0 0;
        img {
            width:100%;
        }
        &:after {
            position:absolute;right:-10px;bottom:-10px;width:20px;height:20px;background:#fff;content:"";z-index:1;
        }
        &:nth-child(even) {
            border-right:0;
        }
    }
}
.cus_bul_list {
    margin-top:14px;
    li {
        position:relative;margin-top:4px;color:#767676;font-size:13px;line-height:19px;
        &:first-child {
            margin-top:0;
        }
        &.bt {
            padding-left:10px;
            &:before {
                position:absolute;left:1px;top:9px;width:4px;height:1px;background:#767676;content:"";
            }
        }
    }
}
.cus_card_area {
    margin-bottom:24px;text-align:center;
    dt {
        width:61%;margin:0 auto 24px auto;border:1px solid #eaeaea;border-radius:8px;overflow:hidden;box-shadow:8px 8px 20px rgba(0,0,0,0.16);
        img {
            width:100%;
        }
    }
    dd {
        color:#000;font-size:15px;font-weight:700;
    }
}




/**** 고객센터 메인 ****/
/* 메인 : .cus_mc_top */
.cus_mc_top {
    padding:0 20px;
    a {
        display:block;position:relative;padding:22px 15px 22px 68px;background:#f7f7f7;border-radius:8px;
        &:before {
            position:absolute;left:20px;top:50%;width:40px;height:40px;margin-top:-20px;background:url('../images/guide/ico_cus_mc_top.svg') center/100% no-repeat;content:"";
        }
    }
    .s1 {
        color:#000;font-size:14px;font-weight:500;line-height:26px;
        span {
            display:inline-block;position:relative;padding-right:9px;
            &:after {
                position:absolute;right:0;top:50%;width:7px;height:7px;margin-top:-5px;border:solid #555;border-width:1px 1px 0 0;transform:rotate(45deg);content:"";overflow:hidden;
            } 
        }
    }
    .s2 {
        color:#797979;font-size:12px;font-weight:400;line-height:18px;letter-spacing:-0.3px;
    }
}

/* FAQ : .cus_mc_faq */
.cus_mc_faq {
    .form_ip {
        border:2px solid #000;
    }
    .faq_search_tag {
        margin-top:14px;text-align:left;
        .tit {
            color:#595959;font-weight:400;
        }
        .faq_search_tag_btn {
            margin:0;
        }
    }
}

/* FAQ BEST : cus_mc_best */
.cus_mc_best {
    background:#6286ff;overflow:hidden;
    .mc_tit03 {
        color:#fff
    }
}
.cus_mc_best_cont {
    position:relative;margin:0 -20px -30px -20px;
    &:before {
        position:absolute;left:100px;top:-40px;width:35px;height:63px;background:url('../images/guide/ico_cus_mc_best.svg') center top/100% no-repeat;content:"";transform:rotate(25deg);
    }
    .swiper-container {
        overflow:initial;
    }
    .swiper-slide {
        width:60%;margin:0 0 35px 20px;background:#fff;border-radius:8px;box-shadow:10px 10px 20px rgba(0,0,0,0.16);
        &:last-child {
            margin-right:20px;
        }
    }
}
.cus_mc_best_box {
    position:relative;padding:17px;box-sizing:border-box;border-radius:8px;overflow:hidden;
    &:before {
        position:absolute;left:0;top:0;width:100%;height:100%;border:2px solid #000;border-radius:8px;box-sizing:border-box;content:"";transition:border-color 0.4s 0.2s;
    }
    a {
        display:block;position:relative;
    }
    .info {
        position:absolute;left:0;top:0;height:20px;padding:0 9px;background:#f7f7f7;border-radius:10px;box-sizing:border-box;color:#292929;font-size:10px;line-height:21px;
    }
    .s1 {
        position:relative;padding:27px 0 0 18px;color:#000;font-size:13px;font-weight:400;line-height:19px;display:-webkit-box;min-height:65px;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;
        &:before {
            position:absolute;left:0;top:27px;color:#000;font-size:12px;font-weight:700;content:"Q.";
        }
    }
}

/* 문의하기 : .cus_mc_contac */
.cus_mc_contact {
    background:#f4f4f4;
    .btn_line_gray {
        border-color:#000;
    }
}
.cus_mc_contact_cont {
    position:relative;margin-top:12px;padding:20px;background:#fff;border-radius:8px;
    .s1 {
        p {
            position:relative;margin:2px 0 6px 0;padding-left:22px;color:#000;font-size:14px;font-weight:700;line-height:20px;
            &:before {
                position:absolute;left:0;top:-1px;width:18px;height:18px;background:url('../images/guide/ico_cus_mc_contact.svg') center/100% no-repeat;content:"";
            }
        }
    }
    .s1 + .s2 {
        margin-top:12px;padding-top:12px;border-top:1px dashed #d5d5d5;
    }
    .bul_item_dot {
        a {
            color:#000;font-weight:500;text-decoration:none;
        }
    }
}

/* 배너 : .cus_mc_banner */
.cus_mc_banner {
    padding:0;background:#ffe688;
    &:before {
        position:absolute;right:20px;top:50%;width:44px;height:44px;margin-top:-22px;background:url('../images/guide/ico_cus_mc_banner.svg') center/100% no-repeat;content:"";
    }
    a {
        display:block;position:relative;min-height:44px;padding:25px;box-sizing:border-box;
    }
    .s1 {
        color:#000;font-size:14px;font-weight:500;line-height:26px;
        span {
            display:inline-block;position:relative;padding-right:9px;
            &:after {
                position:absolute;right:0;top:50%;width:7px;height:7px;margin-top:-5px;border:solid #000;border-width:1px 1px 0 0;transform:rotate(45deg);content:"";overflow:hidden;
            } 
        }
    }
    .s2 {
        color:#000;font-size:12px;font-weight:400;line-height:18px;
    }
}

/* 핫트랙스 서비스 안내 : .cus_mc_sv */
.cus_mc_sv {
    display:flex;justify-content:space-between;flex-wrap:wrap;
    li {
        display:flex;flex-direction:column;justify-content:top;align-items:center;width:33.3%;
        border-left:1px dashed #dcdcdc;
        &:first-child {
            border-left:0;
        }
        a {
            display:block;text-align:center;
        }
        .ico {
            display:block;position:relative;width:56px;height:56px;margin:0 auto;background:#f7f7f7;border-radius:50%;
            img {
                position:absolute;left:50%;top:50%;width:32px;height:32px;transform:translate(-50%,-50%);
            }
        }
        .txt {
            display:inline-block;position:relative;margin-top:6px;color:#000;font-size:13px;letter-spacing:-0.1px;
        }
    }
}



/*** 이전 주문 정보 ***/
.order_his_list_wrap{
    margin-top:32px;
    .info_select_a {
        display:flex;justify-content:center;margin:0 0 0 0;
        .btn_select_ty + .btn_select_ty {
            margin-left:5px;
        }
    }
}
.order_his_list {
    margin-top:16px;
    > li {
        margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #eaeaea;
        &:last-child {
            margin-bottom:0;
        }
    }
}
.order_his_tit {
    height:44px;padding:1px 20px 0 20px;background:#f7f7f7;border-radius:4px;box-sizing:border-box;overflow:hidden;font-size:0;line-height:44px;
    &.order_st1 {
        background-color:#f5f5fa;
        .order_st {
            color:#474c98;
        }
    }
    &.order_st2 {
        background-color:#fff4f1 ;
        .order_st {
            color:#da2128;
        }
    }
    span,
    strong {
        position:relative;padding-left:8px;color:#000;font-size:12px;
        &:first-child {
            padding-left:0;
        }
    }
    .order_st {
        padding-right:9px;color:#767676;font-weight:500;
        &:after {
            position:absolute;right:0;top:2px;width:1px;height:10px;background-color:#d5d5d5;content:"";
        }
    }

}
.order_his_item {
    li {
        margin:16px 4px 0 4px;padding-bottom:15px;border-bottom:1px dashed #d5d5d5;overflow:hidden;
        &:last-child{
            padding-bottom:0;border:0;
        }
        .order_his_item_img {
            float:left;width:78px;border-radius:4px;overflow:hidden;
        }
        .order_his_item_info{
            float:right;width:calc(100% - 90px);color:#000;font-size:13px;line-height:19px;
            .info_s1 {
                display:block;font-weight:500;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;
            }
            .info_s2 {
                margin-top:8px;color:#767676;font-size:0;
                span {
                    display:inline-block;position:relative;padding-left:16px;font-size:12px;line-height:18px;vertical-align:top;
                    &:before{
                        position:absolute;left:7px;top:4px;width:1px;height:10px;background-color:#d5d5d5;content:"";
                    }
                    &:first-child {
                        padding-left:0;
                        &:before {
                            display:none;
                        }
                    }
                }
            }
            .info_s3 {
                display:block;margin-top:12px;
                strong {
                    font-weight:700;
                }
            }
        }
        .order_his_item_btn{
            clear:both;
            .btn_area {
                margin-top:0;padding-top:16px;
            }
        }
    }
}



/*** 주문/배송내역 ***/
.cus_order_detail_wrap {
    margin-top:32px;
    .btn_txt_more{
        position:relative;margin:-28px 0 8px 0;
    }
}
.cus_order_tit {
    margin:32px 0 8px;color:#767676;font-size:14px;font-weight:400;line-height:22px;
}
.cus_order_detail_box {
    position:relative;padding:20px 20px 18px 20px;border:1px solid #eaeaea;border-radius:4px;box-sizing:border-box;
    dl {
        position:relative;margin-top:12px;overflow:hidden;
        &:first-child {
            margin-top:0;
        }
        &.cus_order_bold {
            dt {
                font-weight:700;
            }
            dd {
                font-weight:500;
                strong {
                    position:relative;top:-2px;font-size:20px;vertical-align:top;
                }
            }
        }
    }
    dt {
        float:left;width:100px;
    }
    dd {
        float:right;width:calc(100% - 100px);
        span {
            color:#767676;font-size:12px;line-height:18px;
        }
        strong {
            display:inline-block;padding:0 4px;font-weight:700;line-height:22px;
        }
    }
    &.right {
        dd {
            text-align:right;
        }
    }
    .t_point {
        color:#da2128;
    }
}
.cus_order_num {
    dt {
        position:relative;top:4px;font-weight:500;line-height:22px;
    }
    dd {
        font-size:20px;font-weight:700;
    }
}
.cus_price_total {
    position:relative;margin-top:20px;padding-top:20px;border-top:1px solid #eaeaea;
}

/* 주문내용 */
.earn_points {
    strong {
        display:block;font-size:13px;font-weight:700;line-height:19px;
    }
    p {
        margin-top:4px;color:#767676;font-size:12px;line-height:18px;
    }
}










