@charset "UTF-8";
/*
    Event
*/
@import "_mixins.scss";



.module_section_bg {
	background-color:#f7f7f7;
}
  



/*** 모듈 001 영역(기획전 타이틀) ***/
.evt_mdl_title {
	position:relative;padding:24px 20px;background-color:#fff;z-index:10;;
    .tit_area {
        padding-right:30px;
    }
    .txt_heading {
        display:-webkit-box;font-size:20px;line-height:29px;font-weight:900;letter-spacing:-0.2px;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;white-space:normal;word-break:keep-all;
    }
    .btn_share {
        position:absolute;right:20px;top:30px;width:25px;height:25px;background:url('#{$imgUrl}ico/ico_share.png') center/cover no-repeat;border:0;border-radius:0;cursor:pointer;
    }
    .card_body {
        margin-top:8px;padding-right:60px;
    }
    .txt_account {
        .txt_sub {
            display:-webkit-box;width:calc(100%);font-size:16px;line-height:26px;letter-spacing:-0.16px;color:#767676;flex-grow:1;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;white-space:normal;word-break:keep-all;
        }
        .txt_period {
            margin-top:16px;color:#595959;line-height:19px;letter-spacing:-0.14px;
        }
    }
    .box_circle {
		position:absolute;right:22px;bottom:25px;width:52px;height:52px;padding:0 3px;background-color:#da2128;border-radius:50%;line-height:52px;
    }
    .txt_per {
        color:#fff;font-size:15px;font-weight:500;letter-spacing:-0.15px;text-align:center;
    }
}



/*** 모듈 002 영역(앵커 메뉴) ***/
.evt_mdl2_wrap {
	transition:transform 1000ms ease-out;
	&.anchor {
		position:sticky;top:60px;left:0;padding:0;z-index:100;
	}
}
.evt_mdl2_menu {
	display:flex;flex-flow:row nowrap;justify-content:center;left:0;right:0;top:0;margin-top:8px;background-color:#fff;
	&:nth-of-type(1) {
		margin-top:0;
	}
	& > li {
		position:relative;flex:1 1 0px;border-bottom:1px solid #d5d5d5;
		a {
			display:-webkit-box;display:flex;justify-content:center;align-items:center;align-content:center;width:100%;height:100%;padding:18px 3px;color:#595959;font-size:15px;line-height:22px;letter-spacing:-0.03em;text-align:center;word-break:keep-all;
		}
		&.active {
			&:before {
                position:absolute;left:0;right:0;bottom:-1px;width:100%;height:2px;background-color:#000;transition:background-color 0.2s ease-out, color 0.2s ease-out, font-weight 0.2s ease-out;content:"";z-index:5;
			}
			a {
             color:#000;font-weight:500;
			}
		}
	}
}



/*** 모듈 003 영역 (동영상) ***/
.module_wrap {
	padding:40px 20px;background-color:#fff;
    &.type1 {
        padding:0;overflow:visible;
    }
	&.list {
		padding-bottom:0;
	}
    & > h3,
    & > .tit {
        margin-bottom:20px;font-size:18px;font-weight:700;line-height:28px;text-align:center;
    }
    &>.left_tit {
        margin-bottom:0;font-size:18px;font-weight:700;line-height:28px;text-align:left;
    }
	&.type3 {
		padding:40px 0 40px 0 !important;
	}
    &.type_pic {
        padding-bottom:32px;
    }
	&.pdt0 {
		padding-top:0;
	}
}
.module_wrap + .module_wrap,
.module_wrap + .evt_anchor_target + .module_wrap {
	padding-top:0;
}
.timer_bubble_area + .wel_belt02 {
	margin-top:20px;
}

.video_item {
	position:relative;margin-top:20px;padding-top:56.25%;overflow:hidden;
	.evt_video {
		position:absolute;left:0;top:0;width:100%;height:100%;
	}
}



/*** 모듈 004 영역(스왑 배너) ***/
.evt_banner_wrap {
     &.list {
		 padding:0;
	 }
	.swiper-container {
		position:relative;
	}
	.swiper-slide {
		.banner_img {
			position:relative;width:100%;overflow:hidden;
		}
		img {
			width:100%;
		}
	}
	.txt_box {
		position:absolute;left:0;top:0;width:100%;height:100%;color:#fff;background:linear-gradient( to bottom, rgba(84, 84, 84, 0) 50%, rgba(0,0,0,0.6) 100%);z-index:3;
		.text_box_in {
			display:block;position:absolute;left:20px;bottom:40px;width:calc(100% - 40px);
		}
		span {
			display:block;
		}
		.txt_upper {
			font-size:20px;font-weight:500;line-height:30px;letter-spacing:-0.2px;
		}
		.txt_sub {
			color:rgba(255,255,255,0.8);font-size:13px;letter-spacing:-0.13px;line-height:19px;
		}
	}
	.swiper-button-next.evt:after,
	.swiper-button-prev.evt:after {
		display:none;
	}
	.swiper-button-next.evt {
		left:inherit;right:10px;width:24px;height:24px;border-radius:50%;
	}
	.swiper-button-prev.evt {
		left:10px;width:24px;height:24px;border-radius:50%;
	}
	.swiper-button-next.evt {
		background:url('#{$imgUrl}guide/evt_mdl004_prev.svg') center/ 30px no-repeat;transform:rotate(180deg);
	}
	.swiper-button-prev.evt {
		background:url('#{$imgUrl}guide/evt_mdl004_prev.svg') center/ 30px no-repeat;transform:rotate(0deg);
	}
	.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
		opacity:1;
	}
	.swiper-pagination.bottom_up {
		bottom:20px;
		.swiper-pagination-bullet {
			background-color:rgb(234, 234, 234);
		}
		.swiper-pagination-bullet-active {
			background-color:#fff;
		}
	}
}



/*** 모듈 006 ***/
.module6_item {
	width:100%;margin-top:24px;
	&:first-child {
		margin-top:0;
	}
	.product_pic {
		position:relative;height:0;margin-bottom:10px;padding-top:100%;background-color:#f7f7f7;border-radius:8px;overflow:hidden;
		img {
			position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover;mix-blend-mode:multiply;
		}
	}
	.evt_good_count {
		display:block;position:absolute;right:12px;bottom:12px;height:28px;padding:5px 3px;background-color:rgba(0,0,0,0.5);border-radius:35px;color:#fff;font-size:12px;z-index:5;
		.icon {
			position:relative;left:4px;float:left;width:15px;height:19px;margin-top:-1px;background:url('#{$imgUrl}guide/ico_prod_like_icon.svg') center /15px no-repeat;
		}
		.txt {
			float:left;width:auto;margin:0 6px 0 9px;line-height:20px;
			&:empty {
				margin:0 0 0 8px;
			}
		}
	}
	.evt_good_count.active {
		.icon {
			float:left;width:16px;height:19px;background:url('#{$imgUrl}guide/ico_prod_like_icon_active.svg') center /16px no-repeat;
		}
	}
	.company {
		margin-top:8px;color:#767676;font-size:14px;font-weight:400;line-height:22px;
	}
	.title {
		display:-webkit-box;width:100%;margin:2px 0 0 0;color:#000;font-size:16px;font-weight:500;line-height:26px;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;white-space:normal;word-break:keep-all;
	}
	.price_area {
		display:flex;flex-flow:row wrap;justify-content:flex-start;align-items:center;align-content:center;margin-top:0px;
	}
	.discount_rate,
	.fianl_price {
		margin-left:4px;color:#000;font-size:18px;font-weight:700;line-height:28px;
	}
	.discount_rate {
		margin:0;color:#da2128;
	}
	.price_origin {
		margin:4px 0 0 4px;color:#767676;font-size:14px;line-height:28px;text-decoration:line-through;
		&.no_discount {
			margin-top:0;color:#000;font-size:18px;font-weight:700;text-decoration:none;
		}
	}  
    .badge_line {
        margin-top:12px;
        .badge {
			height:23px;margin-top:0;font-size:12px;line-height:24px;
        }
    }
	&.sold_out {
		.product_pic:before {
			position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.6);border-radius:8px;z-index:1;overflow:hidden;content:"";
		}
		.show_replace {
			position:absolute;left:0;top:50%;width:100%;color:#fff;font-size:13px;font-weight:700;text-align:center;transform:translateY(-50%);z-index:3;
			div {
				line-height:19px;letter-spacing:-0.013em;
			}
			a {
				position:absolute;left:0;top:-1000%;width:100%;height:2000%;background:#000;opacity:0;z-index:1;
			}
		}
		.replace_prod_btn {
			display:block;position:relative;height:24px;margin:0 auto;margin-top:11px;padding:0 6px;background-color:#fff;border-radius:4px;color:#000;font-size:12px;line-height:24px;z-index:2;cursor:pointer;
		}
	}
}



/*** 모듈 007 영역 ***/
.module_wrap.type2 {
	padding:40px 0 40px 20px;
	.swiper {
		padding-right:20px;
	}
	& > h3 {
		padding-right:20px;font-size:18px;line-height:32px;letter-spacing:-0.18px;
	}
}



/*** 모듈 008 영역 ***/
.evt_module8_card {
    padding:40px 20px;background-color:#fff;
    .title {
		font-size:16px;font-weight:700;line-height:25px;letter-spacing:-0.16px;
    }
    .sub_title {
		margin-top:4px;color:#767676;font-size:13px;line-height:19px;letter-spacing:-0.13px;
    }
    .content {
		margin-top:14px;line-height:22px;letter-spacing:-0.14px;
    }
}



/*** 모듈 010 -1 , 009-1 (응모하기, 참여하기 버튼 ) ***/
.btn_mdl_wrap {
	padding:24px 20px 40px 20px;
	&.type_pink {
		background-color:#fad9cc;
	}
	.btn_mdl {
      display:block;width:100%
	}
}
.evt_vote_list {
	display:flex;flex-flow:row wrap;justify-content:space-between;align-items:flex-start;align-content:flex-start;margin-top:20px;
	li {
		width:calc(50% - 10px);margin-top:24px;flex-shrink:0;
		&:first-of-type,
		&:nth-of-type(2) {
			margin-top:0;
		}
	}
	.vote_img {
		position:relative;padding-top:100%;height:0;border-radius:8px;overflow:hidden;
	}
	.vote_ckbox_area {
		position:absolute;left:0;top:0;width:100%;height:100%;z-index:12;
		.common_ck_label {
			position:absolute;right:0;top:0;width:100%;height:100%;
			&:before {
				left:calc(100% - 38px);top:8px;width:30px;height:30px;background:url('#{$imgUrl}guide/ico_checkopacity.svg') 0 0/cover no-repeat;content:"";
			}
		}
		.common_check:checked + label:before {
			background:url('#{$imgUrl}guide/ico_checkopacity_check.svg') 0 0/cover no-repeat;
		 }
	}
	img {
		position:absolute;left:0;top:0;width:100%;z-index:10;
	}
	.vot_txt {
		display:-webkit-box;margin-top:12px;font-size:13px;line-height:19px;letter-spacing:-0.13px;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;white-space:normal;word-break:keep-all;
	}
}



/*** 모듈 009-1 영역(전체 레이어 팝업/투표하기) ***/
.evt_mdl9_pop_wrap {
	h2 {
		font-size:16px;font-weight:700;line-height:26px;letter-spacing:-0.16px;
	}
	h3 {
		margin-top:4px;color:#767675;font-weight:400;line-height:20px;letter-spacing:-0.14px;
	}
}



/*** 모듈 009-2 영역 (내가 쓴 댓글 보기) ***/
.top_gray_section {
	padding-top:8px;background-color:#f7f7f7;
}
.evt_mdl9_2 > .comment_list_area {
	padding:0 20px 40px 20px !important;background-color:#fff;
	&:last-child {
		padding-bottom:40px !important;
	}
}
.cmt_section_title {
	padding-bottom:14px;border-bottom:1px solid;
	.title {
		font-size:16px;font-weight:700;line-height:26px;letter-spacing:-0.16px;
	}
	.highlight {
		color:#da2128;
	}
	.evt_ck_area {
		display:block;padding-left:28px;letter-spacing:-0.14px;
	}
}
.comment_list_area:last-child {
	padding-bottom:0 !important;
}



/*** 모듈 010-2 영역(전체 레이어 팝업/응모하기) ***/
.evt_apply_wrap {
	label {
		display:block;margin-top:20px;font-weight:500;line-height:20px;letter-spacing:-0.14px;
		&:first-of-type {
			margin:0;
		}
	}
	.evt_apply_input {
		display:block;width:100%;margin-top:8px;padding:14px;border:1px solid #d5d5d5;line-height:20px;outline:none;transition:border-color 0.2s ease-out;
		&:disabled {
			background-color:#f7f7f7;color:#767676;pointer-events:none;cursor:default;
		}
		&:focus {
			border-color:#000;
		}
		&.bd_img {
			height:inherit;
		}
	}
}



/*** 모듈 011 영역 (rullet) ***/
 .rullet_wrap {
    position:relative;background:center/cover no-repeat;min-height:94.6vw;
    &>img {
        width:100%;
    }
    .bg_img {
        position:relative;text-align:center;
        img {
			width:100%;opacity:0;
        }
    }
	.rullet {
		position:absolute;left:50%;top:50%;width:84%;border-radius:50%;box-shadow:8px 10px 12px rgba(0,0,0,0.16);transform:translate(-50%, -50%);
	}
    .rullet_circle {
       position:relative;cursor:pointer;
        &>img {
            width:100%;
        }
    }
    .rullet_pin {
        position:absolute;left:50%;top:-4.5%;width:10.2%;transform:translateX(-50%);z-index:20;
        &>img {
            width:100%;
        }
    }
    .fotune_evt_btn {
        position:absolute;left:50%;bottom:7%;width:45%;height:50px;transform:translateX(-50%);
    }
}
@media only screen and (min-width:750px) {
	.rullet_wrap {
        min-height:710px;
    }
}


/*** 모듈 012 영역 (calender) ***/
.calender_wrap {
   position:relative;padding:60px 20px 40px 20px;background:center/cover no-repeat;text-align:center;
   &>img {
	position:absolute;left:0;top:0;width:100%;height:100%;z-index:-1;
   }
   .table_wrap {
		position:relative;width:100%;max-width:450px;margin:0 auto;padding:45px 0 0 0;background-color:#000;border-radius:4px;box-sizing:border-box;z-index:3;
		&:before {
			position:absolute;left:6px;top:6px;width:100%;height:100%;background-color:#fff;border:2px solid;z-index:1;content:"";
		}
		&:after {
			position:absolute;left:3px;top:3px;width:100%;height:100%;background-color:#fff;border:2px solid;z-index:2;content:"";
		}
		.calender_tb {
            position:relative;width:100%;height:100%;margin:0 auto;background-color:#fff;border:2px solid;border-top:none;z-index:7;
			tr {
				width:100%;
				&:first-of-type th {
					padding-top:15px;
				}
				&:last-of-type td {
					padding-bottom:20px;
				}
			}
			th {
				padding-bottom:6px;font-family:'Gmarket Sans';font-size:9px;font-weight:700;line-height:11px;
			}
			td {
				width:calc( 100% / 7 );height:45px;padding:7px 3px 0 3px;font-family:'Gmarket Sans';font-weight:700;
				&:first-of-type {
					padding-left:13px;
				}
				&:last-of-type {
					padding-right:13px;
				}
				.date {
					position:relative;width:100%;height:38px;margin:0 auto;background:url('#{$imgUrl}guide/calender_attend.svg') center / contain no-repeat;font-family:'Gmarket Sans';font-size:10px;text-align:center;line-height:38px;letter-spacing:-0.01px;white-space:nowrap;
				}
				.on {
					width:100%;height:100%;background:url('#{$imgUrl}guide/calender_attend_active.svg') center / contain no-repeat;
				}
				.attendance_img {
					position:absolute;left:0;top:0;width:100%;height:100%;background:center/contain no-repeat;
				}
			}
		}
   }
   .attendance_count {
		position:absolute;left:50%;top:60px;width:calc(100% - 40px);max-width:450px;padding:16px 0;background-color:#000;color:#fff;font-size:12px;line-height:13px;text-align:center;transform:translateX(-50%);letter-spacing:-0.012px;z-index:4;
		.attendance {
			display:inline-block;position:relative;margin-left:5px;font-weight:700;
			&:before {
				position:absolute;left:10px;top:0;width:10px;height:25px;content:"일";
			}
		}
	}
	.attendance_btn {
		margin-top:10px;padding:15px 25px;border-radius:4px;color:#fff;font-size:15px;font-weight:700;line-height:21px;
	}
}
.attendance_img_btn {
	margin-top:10px;text-align:center;
	img {
		width:auto;max-width:100%;height:auto;max-height:50px;
	}
}



/*** 모듈 013 영역 ***/
.evt_step_wrap {
    display:flex;flex-flow:row wrap;justify-content:flex-start;
    .step_item img {
       width:100%;
    }
}



/*** 모듈 014 영역 ***/
.cmt_wrap {
   padding:40px 20px;
   &>.tit {
    margin-bottom:16px;font-size:16px;line-height:25px;
   }
   .cmt_btn_area {
        margin-top:24px;
        button {
			display:flex;flex-flow:row nowrap;justify-content:center;align-content:center;align-items:center;width:100%;padding:15px 0;background-color:#292929;border-radius:4px;color:#fff;cursor:pointer;
			&[disabled]{
				background:#bebebe;border-color:#bebebe;
			}
        }
    }
    .cmt_btn_icon {
        display:block;width:16px;height:20px;margin-right:5px;background:url('#{$imgUrl}guide/cmt_btn_ico.svg') center/95% no-repeat;
    } 
    .cmt_btn_txt {
        line-height:20px;letter-spacing:-0.14px;
    }
}

/* 댓글 입력 */
.comment_area {
	padding-top:40px;
	.cmt_tit, 
	h2 {
		margin-bottom:16px;font-size:16px;line-height:25px;
	}
}
.cmt_wrap ~ .comment_list_area {
	padding:0 20px 40px 20px;background-color:#fff;
}

/* 등록 댓글 없음 */
.no_cmt_box {
	display:flex;flex-flow:column wrap;align-items:center;align-content:center;justify-content:center;height:140px;border-bottom:1px solid #ccc;
	span {
		display:block;
	}
	.no_cmt_icon {
		width:30px;height:30px;margin:0 auto;background:url('#{$imgUrl}guide/no_search_data_icon.svg') center/cover no-repeat;
	}
	.no_cmt_txt {
		margin-top:8px;color:#767676;line-height:19px;letter-spacing:-0.013em;text-align:center;
	}
}



/*** 모듈 016 ***/
.mdl_selec_list_wrap {
    padding:20px;background-color:#fff;
    &.type2 {
        padding-top:0;
    }
    .tit {
		margin-bottom:12px;font-size:18px;line-height:28px;letter-spacing:-0.18px;text-align:left;
		&:empty {
			margin:0;
		}
    }
	.btn_more_div {
		margin-bottom:10px;
	}
} 
.sticky_selec {
	position:sticky;top:60px;left:0;padding:20px;background-color:#fff;z-index:7;
	&.anchor {
		top:60px;
	}
	&:empty {
		padding:0;
	}
}
.common_select {
	position:relative;width:100%;height:50px;padding:14px 25px 14px 15px;background:url('#{$imgUrl}guide/ico_selec_arrow.svg') right 14px top 50% /9px no-repeat;border:1px solid #d5d5d5;border-radius:6px;color:#767676;line-height:22px;letter-spacing:-0.14px;outline:0;appearance:none;
    option {
        height:50px;
    }
}



/*** 모듈 017 영역 ***/
.card_module {
	padding:40px 0 !important;
	.evt_cards {
		display:flex;flex-flow:row wrap;justify-content:flex-start;
		.evt_card_item {
			width:50%;min-height:100% !important;padding:40px 20px;background-color:#f2f2f2;
			div {
				word-break:keep-all;
			}
			&:nth-child(1),
			&:nth-child(4),
			&:nth-child(5) {
				background-color:#fafafa;
			}
		}
		.discount {
			margin-bottom:8px;color:#da2128;font-size:16px;font-weight:700;line-height:22px;
		}
		.title {
            display:-webkit-box;font-size:16px;line-height:22px;letter-spacing:-0.16px;margin-bottom:4px;font-weight:500;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;white-space:normal;word-break:keep-all;overflow:hidden;
		}
		.desc {
			display:-webkit-box;font-size:13px;line-height:19px;letter-spacing:-0.13px;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;white-space:normal;word-break:keep-all;overflow:hidden;
		}
	}
	.btn_area {
		margin-top:32px;padding:0;text-align:center;
		button {
			display:flex;flex-flow:row nowrap;justify-content:center;position:relative;padding:12px 24px;width:165px;margin:0 auto;border:1px solid #ccc;border-radius:4px;cursor:pointer;text-align:center;
		}
		.txt {
			font-weight:500;line-height:20px;
		}
		.icon {
			display:block;width:12px;height:20px;margin-left:3px;background:url('#{$imgUrl}guide/ico_arrow_right_btn.svg') center top 40%/ 12px no-repeat;
		}
	}
}
.module_wrap.type1 + .card_module {
	padding-top:20px !important;
}



/*** MDL-018영역 ***/
/* 오늘만 특가 제목 + 카운트 다운 */
.hot_deal_area {
	position:relative;padding:40px 0 40px 20px;background-color:#fff;
	&:last-child {
		padding-bottom:0px;
	}
	.swiper {
		padding-right:20px;
	}
	.title_area {
		display:flex;flex-flow:row nowrap;justify-content:space-between;padding-right:20px;
		&.tit_emoji {
			margin-top:-8px;
		}
	}
	h2 {
		font-size:20px;font-weight:700;line-height:32px;
	}
	.countdown {
        display:inline-block;position:absolute;right:21px;top:40px;padding:7px 13px 2px 35px;background-color:#d4ff1a;border-radius:35px;font-family:'Gmarket Sans';color:#000;font-size:14px;font-weight:700;
		
		z-index:1;
        &:before {
            position:absolute;left:4px;top:-18px;width:44px;height:48px;background:url('#{$imgUrl}guide/timer_bomb.svg') center/45px no-repeat;content:"";z-index:2;
        }
        .timer {

            font-family:'Gmarket Sans';font-size:14px;font-weight:700;line-height:23px;
        }
	}
	.emoji {
		display:inline-block;position:relative;top:5px;width:30px;height:28px;margin-left:8px;background:url('#{$imgUrl}guide/smile_heart.svg') left center / 28px no-repeat;

	}
	.ctg_floating_menues {
		margin-top:6px;
		& + .hotdeal .prod-wrapper.type_xs {
			padding-top:14px;
		}
	}
	.hotdeal_shine {
		display:inline-block;width:28px;height:28px;margin-bottom:-5px;margin-left:5px;background:url('#{$imgUrl}guide/hotdeal_shine.svg') center/28px no-repeat;
	}
}
/*
.hot_deal_wrap + .wel_belt02 {
	margin:0;
}
*/
.hot_deal_wrap + .evt_mdl14 {
	margin-top:-40px;
}



/*** 모듈 019 ***/
.cmt_imgs_wrap {
	overflow:hidden;
	&.cmt_inner_top {
		margin-top:20px;
	}
}
.cmt_imgs_list {
	display:flex;justify-content:flex-start;flex-flow:row nowrap;margin-bottom:16px;overflow-x:auto;white-space:nowrap;
	.cmt_img_item {
		position:relative;width:36px;height:36px;margin-right:12px;flex-shrink:0;border-radius:50%;overflow:hidden;transition:all 0.4s;
		&:last-of-type {
			margin-right:0px;
		}
		img {
			width:100%;height:100%;object-fit:scale-down;
		}
        &.active {
            overflow:hidden;
            &:before {
                position:absolute;left:0;top:0;width:36px;height:36px;border-radius:50%;border:2px solid #000;box-sizing:border-box;content:"";
            }
        }
		&.active_non {
			opacity:0.4;
		}
	}
}



/* 이벤트 리스트 */
.evt_list_header {
	position:relative;padding-top:12px;
	h2 {
		padding:0 20px;font-size:20px;font-weight:700;line-height:32px;
	}
}
.evt_quick_menu_slide {
	position:sticky;top:60px;width:100%;padding-top:12px;padding-bottom:15px;background-color:#fff;border-bottom:1px solid #d5d5d5;overflow-x:auto;z-index:20;
	.swiper-container {
		margin-left:20px;padding-right:20px;
	}
	.swiper-slide {
		width:auto;
		&.active {
			a {
				background-color:#000;border-color:#000;
			}
			.txt {
				color:#fff;font-weight:700;
			}
		}
		@for $qmn from 1 through 6 {
			&:nth-of-type(#{$qmn}) .ico {
				background:url('#{$imgUrl}guide/evt_quick_mn#{$qmn}.svg') center/ 18px no-repeat;
			}
		}
		&:last-of-type a {
			margin-right:0;
		}
	}
	a {
		display:flex;flex-flow:row nowrap;margin-right:5px;padding:11px 17px;border:1px solid #d5d5d5;border-radius:40px;
		.ico {
			display:block;width:20px;height:20px;margin-right:5px;
		}
		.txt {
			display:block;color:#767676;font-size:13px;line-height:20px;white-space:nowrap;
		}
	}
}
.evt_lst_selec_title {
	display:flex;flex-flow:row nowrap;position:relative;margin-top:24px;padding:0 20px;
	span {
		display:block;
	}
	.sort_title:first-of-type {
	  position:relative;margin-right:12px;padding-right:23px;color:#595959;
	}
	.selec_icon {
		position:absolute;right:0;top:4px; width:20px;height:20px;background:url('#{$imgUrl}guide/ico_arrow_down.svg') center / 99% no-repeat;transform:rotate(0deg);
	}
	.selec_icon.open {
		background:url('#{$imgUrl}guide/ico_arrow_down.svg') center / cover no-repeat;transform:rotate(180deg);
	}
	.sort_title {
		flex-grow:0;font-size:20px;font-weight:700;
	}
	.option_ul {
		display:none;position:absolute;left:19px;top:calc( 100% + 10px);width:calc(100% - 38px);max-height:calc(100vh - 400px);background-color:#fff;border:1px solid #000;border-radius:6px;overflow-y:auto;z-index:6;
		li {
            line-height:20px;padding:15px;cursor:pointer;
		    &:first-of-type {
				border-top-left-radius:6px;
		  	}
			&.act {
				background-color:#f7f7f7;
			}
		}
	    li:hover,
		li:active {
			background-color:#f5f5f5;
		}
	}
}
.evt_list_area_mn {
	.evt_menu {
		display:flex;justify-content:space-between;padding:20px 20px 0;
		.left_txt_sum {
			flex-shrink:0;color:#292929;line-height:20px;letter-spacing:-0.14px;
		}
		a:last-of-type:after {
			display:none;
		}
	}
	.evt_products.row_dir {
		padding:0 20px;padding-top:24px;
		.cpon {
			display:inline-block;position:absolute;top:8px;left:8px;padding:4px 6px 3px 6px;background-color:#d4ff1a;border-width:2px 2px 3px 2px;border-color:#292929;border-style:solid;border-radius:50px;font-size:12px;font-weight:700;line-height:16px;letter-spacing:-0.01em;z-index:1;
		}
	}
}

/* 스페셜 이벤트 리스트 */
.list_evt_area.spe_evt_area {
	.small_pics_area {
		display:flex;flex-flow:row nowrap;justify-content:flex-start;align-items:flex-start;margin-bottom:16px;
	 }
	.small_pics_item {
		width:23%;margin-right:12px;
		&:last-of-type {
			margin-right:0;
		}
		.pic_wrap {
			position:relative;height:0;padding-top:100%;background-color:#f7f7f7;border-radius:8px;overflow:hidden;
			img {
				position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover;mix-blend-mode:multiply;
				&.ob_contain {
					object-fit:contain;
				}
			}	
		}
	} 
	.to_event_list_btn {
		position:relative;background-color:#f7f7f7;border-radius:8px;
		.pic_wrap {
			&:before {
				position:absolute;left:calc(48% + 25px);top:calc(50% + 5px);width:6px;height:6px;border:solid #595959;border-width:1px 1px 0 0;transform:translate(-50%, -50%);transform:rotate(45deg);content:"";overflow:hidden;
			}
			&:after {
				position:absolute;left:48%;top:50%;width:45px;color:#595959;font-size:12px;font-weight:500;line-height:16px;text-align:right;transform:translate(-50%, -50%);content:"기획전 바로가기";
			}
		}
	}
	.txt_title {
		display:flex;flex-flow:row nowrap;justify-content:flex-start;
	}
	.rate {
		display:block;margin-right:3px;color:#da2128;font-size:16px;font-weight:bolder;letter-spacing:-0.16px;line-height:26px;
	}
	.promotion_end_txt {
		display:none;
	}
	.promotion_upper_wrap {              
		display:block;position:relative;
		.promotion_end_txt {
			display:block;position:absolute;width:100%;top:50%;color:#fff;text-align:center;transform:translateY(-50%);z-index:5;
		}
	}
}
.evt_item {
	.mc_end_msg {
		border-radius:8px;
	}
}

/* 슬라이더(반응최고) */
.evt_slider_wrap {
	padding:40px 0 40px 20px;overflow:hidden;
	h2 {
		font-size:20px;font-weight:700;line-height:29px;letter-spacing:-0.2px;
	}
	.swiper {
        margin-left:-20px;padding-right:20px;padding-left:20px;
	}
	&.best_reaction_section {
		position:relative;margin-top:40px;background-color:#e1f7e5;overflow:visible;
	}
	.heart_emoji {
		display:inline-block;width:28px;height:28px;margin-bottom:-5px;margin-left:5px;background:url('#{$imgUrl}guide/heart_emoji.svg') center/28px no-repeat;
	}
	& + .wel_belt02 {
		margin:20px 0 -60px 0;
	}
}
.best_reaction_section + .wel_belt02,
.deadline_section + .wel_belt02 {
	margin-top:0px !important;
}

/* 슬라이더(마감임박) */
.evt_slider_wrap.deadline_section {
	position:relative;margin-top:40px;background-color:#fff4f1;overflow:visible;
}

/* 이벤트 목록 없음 */
.empty_evt_list {
	padding-top:calc(20% + 95px);padding-bottom:20%;background:url('#{$imgUrl}guide/ico_empty_evt_list.svg') center/ 60px no-repeat;color:#767676;font-size:13px;text-align:center;line-height:19px;
}



/*** EVT-LST-004 ***/
.contents_evt_wrap {
    padding:32px 20px 60px 20px;
	&.pdt0 {
		padding-top:0;
	}
}
.contents_evt_wrap + .wel_belt02 {
	margin-top:0;;
}

/* 이벤트 당첨자 발표 타이틀 */
.evt_section_title {
  display:flex;flex-flow:row nowrap;justify-content:space-between;margin:12px 0 0 0;
    h2 {
        font-size:20px;font-weight:700;line-height:32px;letter-spacing:-0.2px;
    }
    &.title_line {
        padding-bottom:20px;border-bottom:1px solid #000;
    }
}
.evt_ck_area {
   line-height:26px;padding:6px 0 0 0;
}

/* 이벤트 목록 영역 */
.evt_list_card_ul {
    border-top:1px solid #000;
    .evt_list_item {                  
        padding:12px 4px;border-bottom:1px solid #eaeaea;cursor:pointer;
        &.status_new .category_area span {
            position:relative;
            &:before {
                position:absolute;left:calc(100% + 3px);top:-3px;width:20px;height:20px;background:url('#{$imgUrl}guide/new_post.svg') center /18px no-repeat;content:'';
            }
        }
    }
    .category_area {
        height:17px;color:#767676;font-size:12px;line-height:17px;
    }
    .list_title_area {
        margin-top:8px;line-height:22px;letter-spacing:-0.14px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
    }
    .list_date_area {
        margin-top:4px;color:#767676;font-size:13px;
    }
}



/*** HTR-M-EVT-VIEW-000 ***/
/* 당첨 결과 보기 타이틀 */
.evt_description_title {
	padding:20px 4px;border-bottom:1px solid #eaeaea;
	.category_area {
		height:17px;color:#767676;font-size:13px;line-height:17px;
	}
	.list_title_area {
		margin-top:8px;font-weight:700;line-height:22px;letter-spacing:-0.14px;
	}
	.list_date_area {
		margin-top:4px;color:#767676;font-size:13px;
	}
}
.evt_description_content {
	padding:20px 4px 0 4px;
    .category_area {
		line-height:18px;
    }
    .list_title_area {
		font-weight:700;;white-space:normal;
    }
    .list_date_area {
		line-height:19px;
    }
	hr {
		display:block;width:100%;height:1px;border:none;border-top:1px dashed #000;
	}
}
.evt_content {
	.evt_list_item {
		padding:20px 4px;
	} 
	.category_area {
		line-height:18px;
	}
	.list_title_area {
		font-weight:700;white-space:normal;
	}
	.list_date_area {
		line-height:19px;
	}
}
.btn_area, 
.tolist_btn_area {
	padding:24px 0 40px 0;border-top:1px solid #eaeaea;text-align:center;
	button {
		width:100%;border-radius:6px;appearance:none;cursor:pointer;
	}
}
.tolist_btn_area {
	margin:40px -2px 0 -2px;padding-bottom:0;font-size:0;;
	button, a {
		width:calc(50% - 4px);margin:0 2px;
		&:only-child {
			width:calc(100% - 4px);
		}
	}
	.evt_confirm_btn {
		height:50px;color:#fff;font-size:15px;font-weight:700;line-height:50px;
	}
	.evt_list_btn {
		border:1px solid #ccc;color:#000;font-size:15px;font-weight:700;line-height:50px;
	}
}
.btn_area {
	border:none;
}
.evt_view_full_tit {
	padding:40px 20px 0 20px;background-color:#fad9cc;font-size:18px;font-weight:700;line-height:29px;text-align:center;
}
.evt_view_full {
	width:100%;
}
.evt_anchor_target {
	width:100%;height:60px;margin-top:-60px;visibility:hidden;
	&.sticky_target {
		height:140px;margin-top:-140px;
	}
}

/* 이벤트 종료 블랙스크린 */
.evt_end_dim,
.evt_pause_dim {
	position:fixed;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,0.6);z-index:8;
}
.evt_end_dim:before {
	position:absolute;left:0;top:40%;width:100%;color:#fff;font-size:20px;font-weight:500;text-align:center;content:"종료되었습니다.";z-index:30;
}
.evt_pause_dim:before {
	position:absolute;left:0;top:40%;width:100%;color:#fff;font-size:20px;font-weight:500;text-align:center;content:"잠시 중지되었습니다.";z-index:30;
}

/* 기획전 종료 */ 
.evt_end {
	.promotion_upper_wrap {
		&:before {
			display:flex;justify-content:center;align-items:center;position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.5);border-radius:12px;color:#fff;font-size:20px;font-weight:700;line-height:30px;overflow:hidden;content:"";
		}
		.thumnail_evt {
			background-color:#000;
			img {
				opacity:0.5;
			}
		}
	}
	.small_pics_area {
		position:relative;z-index:2;
		li {
			background-color:#000;border-radius:8px;
		}
		img,
		.to_event_list_btn {
			opacity:0.5;
		}
		li:nth-child(4) {
			background-color:#7b7b7b;opacity:1;
			img {
				opacity:0;
			}
		}
		.pic_wrap {
			background:none !important;
		}
		img {
			mix-blend-mode:normal !important;
		}
	}
	.mc_end_msg {
		background:none;
	}
}

/* 이벤트 응모하기 풀이미지 */
.evt_full_img_wrap {
	img {
		width:100%;
	}
}

/* 이벤트 응모하기 버튼 */
.evt_join_btn_wrap {
	padding:24px 20px 60px 20px;background-color:#fff;text-align:center;
	button {
		width:100%;
	}
}


.evt_li_wrap + .wel_belt02 {
	margin-bottom:0;;
}










