@charset "UTF-8";
/*
    Join
*/
@import "_mixins.scss";


/***** 비회원 주문조회 *****/
.wrapper.ht_ .cont_wrap {
    min-height:calc(100vh - 60px);padding-bottom:0;
}
.cont_wrap {
    margin-top:0;
}
.ht_join_wrap {
    padding:20px 20px 200px 20px;box-sizing:border-box;text-align:center;
    .ht_join_logo {
        img {
            width:78px;
        }
    }
    .join_text{
        margin-top:43px;
        strong{
            font-size:20px;
        }
        p {
            margin-top:8px;color:#595959;font-size:13px;font-weight:400;line-height:19px;
        }
    }
    .ht_join_form{
        margin-top:32px;
        span:first-child {
            margin-top:0;
        }
        >span {
            display:block;margin-top:22px;font-size:14px;font-weight:500;text-align:left;
        }
        .form_sel {
            width:100%;margin-top:7px;
            .form_ip {
                height:50px;
            }
        }
        &.btn_cont_type {
            margin-top:31px;
            .btn_area {
                margin-top:19px;
                + span {
                    margin-top:10px;color:#595959;font-size:13px;font-weight:400;
                }
            }
            + .ht_join_info {
                padding:13px 0 19px 0;
            }
        }
    }
    .btn_area {
        margin-top:16px;padding:0;
        button {
            width:100%;font-weight:700;
        }
    }
    .ht_join_info {
        position:absolute;left:50%;bottom:52px;width:calc(100% - 40px);background:#f7f7f7;padding:22px 0 19px 0;border-radius:4px;box-sizing:border-box;color:#595959;font-size:13px;line-height:19px;transform:translateX(-50%);
        p {
            margin-top:9px;
        }
    }
}
.ht_join_copyright {
    position:absolute;left:50%;bottom:18px;font-size:11px;transform:translateX(-50%);
}










