@charset "UTF-8";
/*
    Admin
*/

* {
    font-family: Roboto,"Noto Sans KR"; 
}
body {
    color:#000;
}


span.button a, span.button button, span.button input {
    background:red  !important;
}
span.button a, span.button button, span.button input {
    height:30px !important;padding:0 10px !important;background:#fff !important;border:1px solid #000 !important;border-radius:2px;;box-sizing:border-box !important;font-family: Roboto,"Noto Sans KR" !important;line-height:26px !important;
}


span.button, span.button a, span.button button, span.button input {
    left:0 !important;background:none !important;
}

.global-menu {

}

table {

    span.button a, span.button button, span.button input {
        height:30px !important;padding:0 10px !important;background:#fff !important;border:2px solid #000 !important;border-radius:5px;;box-sizing:border-box !important;font-family: Roboto,"Noto Sans KR" !important;line-height:26px !important;
    }

    
}

h4 {
    span.button a, span.button button, span.button input {
        height:20px !important;padding:0 10px !important;background:#fff !important;border:1px solid blue !important;border-radius:2px;;box-sizing:border-box !important;font-family: Roboto,"Noto Sans KR" !important;line-height:18px !important;
    }
}