@charset "UTF-8";
/*
    Admin
*/

* {
    font-family: Roboto,"Noto Sans KR"; 
}
body {
    color:#000;
}


span.button a, span.button button, span.button input {
    background:red  !important;
}
span.button a, span.button button, span.button input {
    height:30px !important;padding:0 10px !important;background:#fff !important;border:1px solid #000 !important;border-radius:2px;;box-sizing:border-box !important;font-family: Roboto,"Noto Sans KR" !important;line-height:26px !important;
}


span.button, span.button a, span.button button, span.button input {
    left:0 !important;background:none !important;
}

.global-menu {

}

table {

    span.button a, span.button button, span.button input {
        height:30px !important;padding:0 10px !important;background:#fff !important;border:2px solid #000 !important;border-radius:5px;;box-sizing:border-box !important;font-family: Roboto,"Noto Sans KR" !important;line-height:26px !important;
    }

    
}

h4 {
    span.button a, span.button button, span.button input {
        height:20px !important;padding:0 10px !important;background:#fff !important;border:1px solid blue !important;border-radius:2px;;box-sizing:border-box !important;font-family: Roboto,"Noto Sans KR" !important;line-height:18px !important;
    }
}










/********** 22.06.08 Admin 수정 **********/

/*** GNB ***/
#head {
    h1{
        background: #000;padding: 37px 41px 34px;position: relative;
        a{
            color: #fff;font-size: 20px;
            img{
                opacity: 0;margin-right: 11px;margin-top: -8px;width: 82px;height:24px;display: inline-block;
            }
            &:after{
                content: "";display: inline-block;width: 85px; height: 24px;background: url(../images/layout/logo.svg) no-repeat;position: absolute;top: 42px;left: 41px;background-size: cover;
            }
        }
    }
    div.global-menu{
        z-index: 1;text-align: left;top: 32px;left: 334px;
        .manual {
            margin-left: -8px;margin-top: 4px;
            a{
                font-weight: 500;color: #FFFFFF;opacity: 0.7;font-size: 13px !important;padding: 0 7px !important;
            }

            span.button{
                position: relative;
                &:after{
                    content: "";display: inline-block;width: 1px;height: 10px;background: #D5D5D5;position: absolute;top: 9px;right: -4px;opacity: 0.3;
                }
            }
            > span:last-child{
                &:after{
                    display: none;
                }
            }
        }
        strong{
            color: #D4FF1A;position: relative;font-size: 13px;
            &:after {
                content: "";display: inline-block;width: 18px;height: 18px;background: url(../images/layout/ico_grinning_face.png) no-repeat;position: absolute;top: -1px;right: -18px;
            }
        }
        span + span{
            border-left: 0;
        }
        .txt_user ~ span{
            position: absolute;
            a{
                color:#fff; font-size: 13px;position: relative;
                &:after{
                    content: "";display: inline-block;width: 1px;height: 10px;background: #D5D5D5;opacity: 0.3;position: absolute;top: 2px;right: -10px;
                }
            }
            &:nth-child(2){
                right: 291px;
                top:0px;
            }
            &:nth-child(3){
                right: 210px;
                top:0px;
            }
            &:nth-child(4){
                right: 142px;
                top:0px;
            }
            &:nth-child(5){
                right: 74px;
                top:0px;
            }
            &:nth-child(6){
                right:19px;
                top:0;
                a{
                    &:after{
                        display: none;
                    }
                }
            }
            
        }
    }
}



/*** Page Nav ***/
.page_nav {
    bottom: 26px;
    .nav_site{
        padding: 9px 5px;
        select{
            margin: 2.5px 24px 2.5px 1px !important;
        }
    }
    .nav_info p{
        color: #000;position:relative;padding-top: 1px;
        &:after{
            content: "";display: inline-block;width:18px;height:18px;background: url(../images/layout/ico_grinning_face.png) no-repeat;position: absolute;top: 21px;right: -20px;
        }
        a{
            color: #474C98; font-weight: 700; 
        }
    }
    .nav_inner{
        background-color: #fff;border: 2px solid #000;border-radius: 6px;box-shadow: 2px 2px #000;box-sizing: border-box;max-width: 1204px;height: 64px;
    }
    .nav_left {
        > a:hover{
            background-color: #aaa;
        }
        > a:first-child {
            position: relative;
            &:before{
                content: ""; display: inline-block; width: 60px; height: 60px;background: url(../images/layout/home.png) no-repeat;position: absolute;top: 0;
            }
            img{
                opacity: 0; width: 60px; height: 60px;
            }
             
        }
        > a:nth-child(2) {
            position: relative;
            &:before{
                content: ""; display: inline-block; width: 60px; height: 60px;background: url(../images/layout/prev.png) no-repeat;position: absolute;top: 0;
            }
            img{
                opacity: 0; width: 60px; height: 60px;
            }
        }
        > a:nth-child(3) {
            position: relative;
            &:before{
                content: ""; display: inline-block; width: 60px; height: 60px;background: url(../images/layout/next.png) no-repeat;position: absolute;top: 0;
            }
            img{
                opacity: 0; width: 60px; height: 60px;
            }
        }
    }
    .nav_right {
        > a:hover{
            background-color: #aaa;
        }
        > a:first-child {
            position: relative;
            &:before{
                content: ""; display: inline-block; width: 60px; height: 60px;background: url(../images/layout/down.png) no-repeat;position: absolute;top: 0;
            }
            img{
                opacity: 0; width: 60px; height: 60px;
            }
        }
        > a:nth-child(2) {
            position: relative;
            &:before{
                content: ""; display: inline-block; width: 60px; height: 60px;background: url(../images/layout/top.png) no-repeat;position: absolute;top: 0;
            }
            img{
                opacity: 0; width: 60px; height: 60px;
            }
        }
    }
}


/*** Admin Login ***/
.admin_login{
    margin:0;
}
.admin_login_section{
    height: 100vh;background: #f5ede2 url(../images/layout/bg_admin_login.jpg) center top/42px repeat;
    .admin_login_wrap{
        background-position: 31px 267px;background-repeat: no-repeat;background-size: 95.5%;background-image: url(../images/layout/ico_admin_login.svg);max-width: 770px;margin: 0 auto;padding-bottom: 69px;padding-top: 219px;
        h1{
            margin: 0 auto;text-align: center;
            img{
                width: 152px;
            }
        }
        .admin_login_contents{
            max-width: 480px;margin: 42px auto 0;border: 3px solid #000;border-radius: 6px;box-shadow: 3px 3px #000;box-sizing: border-box;padding: 0 42px 67px;background-color:#fff;
            
            h2{
                text-align: center;font-size: 38px;margin: 61px 0 0;
            }
            p{
                text-align: center;font-size: 14px;color: #767676;margin: 11px 0 0;line-height: 22px;
            }
            .form_wrap{
                margin-top: 47px;
                .form_sel + .form_sel{
                    margin-top: 5px;
                }
            }
        }
        .btn_area{
            margin-top: 25px;
            button{
                cursor: pointer;display: -ms-inline-flexbox;display: -webkit-inline-box;display: inline-flex;display: -webkit-inline-flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row;min-width: 200px;height: 50px;padding: 0 23px 1px;border-radius: 6px;font-family: "Noto Sans KR", sans-serif;font-size: 16px;line-height: 24px;letter-spacing: -0.01em;font-weight: 700;color: #fff;background: #292929;border: 1px solid #292929;-webkit-transition: background-color .2s ease-out,border-color .2s ease-out;transition: background-color .2s ease-out,border-color .2s ease-out;font-weight: 500;width: 100%;
            }
        }
        .form_ip {
            display: inline-block;width: 100%;height: 44px;padding: 0 14px 2px;color: #000;font-size: 14px;line-height: 42px;letter-spacing: -0.01em;font-family: "Noto Sans KR", sans-serif;background-color: #fff;border: 1px solid #d5d5d5;border-radius: 6px;-webkit-box-sizing: border-box;box-sizing: border-box;-webkit-transition: border-color 0.2s ease-out;transition: border-color 0.2s ease-out;outline: none;
          }
        .form_chk{
            display: inline-block;position: relative;min-height: 22px;vertical-align: top;margin-top: 10px;
            input {
                position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0;
                & + label {
                    display: inline-block;position: relative;padding: 2px 0 0 27px;font-size: 14px;letter-spacing: -0.01em;line-height: 20px;color: #000;cursor: pointer;vertical-align: top;-webkit-transition: color 0.2s ease-out;transition: color 0.2s ease-out;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;
                    &:before{
                        content: "";display: inline-block;position: absolute;left: 0;top: 0;width: 22px;height: 22px;text-align: center;border-radius: 50%;-webkit-box-sizing: border-box;box-sizing: border-box;border: 1px solid #ccc;-webkit-transition: border-color 0.2s ease-out, background-color 0.2s ease-out;transition: border-color 0.2s ease-out, background-color 0.2s ease-out;
                    }
                    &:after{
                        content: "";display: inline-block;position: absolute;left: 0;top: 0;width: 22px;height: 22px;text-align: center;border-radius: 50%;-webkit-box-sizing: border-box;box-sizing: border-box;background-position: center 8px;background-repeat: no-repeat;background-size: 10px 7px;background-image: url("../images/layout/ico_checkbox@2x.png");
                    }
                  }
                  &:checked + label:before{
                    background-color: #da2128;border-color: #da2128;
                  }
                  &:checked + label:after{
                    background-size: 10px 7px;background-image: url("../images/layout/ico_checkbox_active@2x.png");
                  }
            }
        }
    }
}

/*** Admin Main ***/
#body h4{
    font-size: 1.67em;color:#000;border-bottom: 0; background:none; padding: 10px 0 10px 0;
    span {
        h1{
            font-size: 1em;
        }
        > span{
            font-size: 0.6em;
        }
    }
    .button {
        a{
            color: #fff;background-color: #000 !important;border-radius: 6px;padding: 0 15px !important;line-height: 36px !important;height: 36px !important;border: 1px solid #000 !important;margin-left: 5px !important;margin-top: -7px !important;  
        }
        + .button a{
            margin-left: 0 !important;
        }
    }
}
#body div.list-type table.table {
    border-top: 1px solid #202020;
    thead tr {
        th{
            color: #767676;font-weight: 500;padding: 18px 0; border-bottom:1px solid #D5D5D5; 
        }
    }
    tbody tr {
        td{
            padding: 18px 3px;color: #000; border-right:1px solid #EAEAEA;border-bottom:1px solid #EAEAEA;
            .button{
                font-weight: 700;
                a{
                    border-radius: 6px;border: 1px solid #ccc !important;color: #000;padding: 0 16px !important;line-height: 30px !important;height: 30px !important;
                }
            }
            input + .button{
                a{
                    padding: 0 15px !important;line-height: 36px !important;height: 36px !important;
                }
            }
            &:last-child{
                border-right: 0;
            }
        }
        td{
            div .button a{
                line-height: 36px !important;height: 36px !important;
            }
        }
        th{
            color: #767676;font-weight: 500;
        }
    }
}
#contents-area {
    .list-type{
        table{
            margin-top: 0;
        }
    }
    > div > table{
        margin-top: 42px;
    }
}





/*** Admin List ***/
h4 + select{
    margin-bottom: 14px !important;
}
select {
    display: inline-block;width: auto;position: relative;height: 36px !important;padding: 0 35px 0 10px;background-color: #fff;border: 1px solid #d5d5d5;border-radius: 6px;-webkit-box-sizing: border-box;box-sizing: border-box;-webkit-transition: border-color 0.2s ease-out, border-radius 0.2s ease-out;transition: border-color 0.2s ease-out, border-radius 0.2s ease-out;outline: none;margin: 2.5px 12px 2.5px 1px!important;appearance:none;-moz-appearance:none;
    background: #fff url(../images/layout/arw_select@2x.png) no-repeat;background-size: 9px 8px;background-position: right 11px center;
}
select::-ms-expand {display:none;}
span.button input{
    color: #fff;background-color: #000 !important;border-radius: 6px;padding: 0 15px !important;line-height: 36px !important;height: 36px !important;border: 1px solid #000 !important;margin-left: 5px !important;margin-top: -7px !important;    font-weight: 700;
}
.form-button span.button, .list-option span.button{
    margin-right: 0px!important;
    a{
        color: #fff;background-color: #000 !important;border-radius: 6px;padding: 0 15px !important;line-height: 36px !important;height: 36px !important;border: 1px solid #000 !important;margin-left: 5px !important;margin-top: -7px !important;    font-weight: 700;
    }
}
.form-button .button + .button a{
    margin-left: 2px !important;
}
td {
    span.button input{
        color: #000 !important;border:1px solid #ccc !important;font-weight: 700;padding:0 16px !important;height: 36px !important;margin-top:0 !important;
    }
    span.button{
        height: 36px !important; margin: 2.5px 0 !important;
        button, a{
            height: 36px !important;border: 1px solid #ccc !important;color: #000;font-weight: 700;line-height: 36px !important;margin-top: 0 !important;margin: 0 1px !important;
        }
    }
}
input[name=stDisp]{
    width: 30px !important;
}
ul li input[type=text]{
    width: 30px !important;
    margin:3px 0!important;
    + input[type=text]{
        margin-left: 7px !important;width: 150px !important;
    }
}
input[type=text], 
input[type=number],
input[name=searchVal]{
    padding: 5px 10px !important;display: inline-block;height: 36px !important;padding: 0 14px 2px;color: #000;font-size: 14px;line-height: 42px;letter-spacing: -0.01em;font-family: "Noto Sans KR", sans-serif;background-color: #fff;border: 1px solid #d5d5d5;border-radius: 6px;-webkit-box-sizing: border-box;box-sizing: border-box;-webkit-transition: border-color 0.2s ease-out;transition: border-color 0.2s ease-out;outline: none;min-width: 30px !important;
}
input[name=searchVal] ~ span.button button[type=submit]{
    color: #fff;background-color: #000 !important;border-radius: 6px;padding: 0 15px !important;line-height: 36px !important;height: 36px !important;border: 1px solid #000 !important;margin-left: 5px !important;margin-top: -7px !important;    font-weight: 700;
}
input[type=number]{
    margin-right: 5px;
}
.form-type .inner-table02{
    border-top: 0;border-bottom: 0;
}
#body h4 + div.form-type{
    padding-top: 12px;
}
#body div.form-type{
    border-top: 1px solid #000;
    table.table{
        tbody tr {
            th{
                padding-left: 20px !important;
            }
            td{
                padding: 9px 0 9px 20px;
            }
        }
    }
    & ~ span.button a{
        color: #fff;background-color: #000 !important;border-radius: 6px;padding: 0 15px !important;line-height: 36px !important;height: 36px !important;border: 1px solid #000 !important;margin-left: 5px !important;margin-top: -7px !important;font-weight: 700;
    }
}
#body div table.table {
    tbody tr {
        th{
            color: #767676;font-weight: 500;padding: 18px 0 !important;border-bottom: 1px solid #D5D5D5;
            p + p{
                margin-top: 5px;
            }
        }
        td td{
            border-bottom: 0;
        }
        p{
            img{
                margin-bottom: 2px;
            }
        }
    }
}
textarea{
    border-radius: 6px !important;
}
td span.button button{
    padding: 0 15px !important;
}
label {
    margin: 5px 0; display: inline-block;
    & + label{
        margin-left: 8px;
    }
}
input[type=radio]{
    background-color: #fff;-webkit-appearance: none;-moz-appearance: none;border: none;width: 13px;height: 13px;border-radius: 100%;padding: 2px;border: 1px solid #ccc !important;position: relative;margin:0 4px;margin-top: -2px;
    &:before{
        content: "";display: inline-block;width: 5px;height: 5px;background-color: #ccc;position: absolute;top:3px;left: 3px;border-radius: 100%;
    }
    + input{
        margin-left: 8px;
    }
}
input[type=radio]:checked{
    background-color: #fff;border: 4px solid #DA2128 !important;-webkit-appearance: none;-moz-appearance: none;border: none;width: 13px;height: 13px;border-radius: 100%;
    &:before{
        display: none;
    }
}
input[type=checkbox]{
    background-color: #fff;-webkit-appearance: none;-moz-appearance: none;border: none;width: 13px;height: 13px;border-radius: 100%;padding: 2px;border: 1px solid #ccc !important;position: relative;margin-right: 3px;margin-top: -2px;background-repeat: no-repeat;background-size: 7px 5px;background-image: url(../images/layout/ico_checkbox@2x.png);background-position: 2px 3px;
    + input{
        margin-left: 8px;
    }
}
input[type=checkbox]:checked{
    background-color: #DA2128;border: 0 !important;-webkit-appearance: none;-moz-appearance: none;border: none;width: 13px;height: 13px;border-radius: 100%;background-size: 7px 5px;background-image: url("../images/layout/ico_checkbox_active@2x.png");background-position: 3px 4px;
    &:before{
        display: none;
    }
}
span.button.small{
    margin-right: -3px !important;
    a{
        border: 0 !important; 
    }
}
#body div.pager {
    a{
        margin-right: 10px !important;border:0;
    }
    strong{
        background: #000;border-radius: 100%;border: 0;font-size: 12px;width: 26px;height: 21px;padding: 5px 0 0;margin-right: 6px; 
    }
}